[2016-10-28 09:17] #568 closed, assigned to nobody

[2016-10-28 13:00] DzikuVx opened #728 "Do not clear FEATURE PWM_SERVO_DRIVER"
Do not clear FEATURE PWM_SERVO_DRIVER when PCA9685 is not detected. Add secondary level check, do not relay on FEATURE only

[2016-10-28 13:02] DzikuVx opened #729 "Increase number of supported servos from 8 to 16"
When PCA9685 is connected and configured, increase number of supported servos to 16

[2016-10-28 14:04] driver33 commented on #729
I made changes in the code which works for me - however I am using only servos (smix) and not using motors (mmix)

Below are changes :
src/main/drivers/pwm_mapping.h :

#if defined(USE_QUAD_MIXER_ONLY)
#define MAX_PWM_MOTORS  4
#define MAX_PWM_SERVOS  1
#define MAX_MOTORS  4
#define MAX_SERVOS  1

#elif defined(TARGET_MOTOR_COUNT)
#define MAX_PWM_MOTORS TARGET_MOTOR_COUNT
#define MAX_PWM_SERVOS 16

[2016-10-29 21:09] AABatteries commented on #359
Is it possible to recompile newest release for Naze32 with SmartPort telemetry enabled? Will there be enough flash memory on the chip? I wish I knew how to do it myself, and this is the only feature I'm missing from iNav now. Is there any help available on how to compile firmware yourself/enabling features? Thank you all in advance

[2016-10-29 21:12] DzikuVx commented on #359
You would have to disable something like sonar for example. Naze will not
fit everything.
Go through docs folder, there is a Section for developers how to setup
compiler

sob., 29.10.2016, 23:09 użytkownik AABatteries notifications@github.com
napisał:

[2016-10-31 10:46] digitalentity opened #732 "Failsafe RTH disarming UAV when no GPS fix"
Steps to reproduce:
 1. Set failsafe procedure to RTH
 2. ARM
 3. Trigger failsafe in GPS-denied area

Effect:
UAV disarms and falls out of the sky.

Scheduling for 1.3 as this is a critical safety issue.

[2016-10-31 10:53] digitalentity commented on #732
Invalid issue, bad test case.

[2016-10-31 10:53] #732 closed, assigned to digitalentity

[2016-10-31 10:54] digitalentity opened #733 "RTH in GPS-denied environment result in instant emergency landing"
In a GPS-denied environment activating RTH (either manually or by failsafe) result in instant emergency landing.

It would be better to create two scenarios:

 1. **Manual RTH** - disallow pilot to activate RTH
 2. **Failsafe RTH** - allow the UAV to drift with the wind and maintain only altitude for a certain timeout to allow GPS to recover, then switch to emergency landing.

[2016-10-31 11:06] DzikuVx commented on #733
was this not covered some time ago with gps-glitch? Emergency landing was supposed to be triggered only after some time passed. Or this is different case?

[2016-10-31 11:11] digitalentity commented on #733
That's a different case. If GPS is lost when RTH is already in progress it will wait for _nav_position_timeout_ seconds. However if GPS is not available when RTH is only being activated - instant emergency landing is triggered.

[2016-10-31 13:56] HaukeRa opened #734 "Quaternion based level PIDs"
As from a discussion from cleanflight:

There are benefits when using solely quaternion math for attitude calculations and level PIDs, since they avoid the singularity (gimbal lock) of the Euler angle representation.

Even though these problems are not obvious in everyday usage, it's better to avoid them from the beginning on.

I'm willing to invest time in this, but help is much appreciated!

Thi

[2016-10-31 14:15] DzikuVx commented on #734
#272

[2016-10-31 14:18] digitalentity commented on #734
@HaukeRa thanks for joining!
I think we can live with roll/yaw swap, I have a feeling that quaternion representation of orientation will hangle heading correctly (using roll in this case).

[2016-10-31 18:48] krzysztofmatula commented on #727
Occurred again on 1.3-RC2!

This time I had new warning light (https://github.com/iNavFlight/inav/pull/731) that got activated. It means that the compass initialization has failed for some reason.

I think it is not connection problem - disconnecting and connecting battery helped. Maybe the extra 500ms delay is still too small for this hardware...? I need to check it deeper.

I'm using this module

[2016-11-01 09:43] nickgb opened #735 "NMEA support got GPS now and going forward."
I have been having problems getting iNav to recognise a GPS emitting NMEA messages.  The messages look good coming out of the GPS but I don't know how to tell if the iNav code (running on a NAZE32) is making any sense of them.  Is there a recommended way of debugging this kind of problem?  Is there anything critical needed by iNav such as a specific sequence for the messages?

Background:  I want

[2016-11-01 09:53] DzikuVx commented on #735
NMEA support has been removed from Naze32 target due lack of flash space. Naze boards supports only UBLOX protocol. See https://github.com/iNavFlight/inav/wiki/Hardware-and-feature-support-map

[2016-11-01 09:53] #735 closed, assigned to nobody

[2016-11-01 09:53] stronnag commented on #735
NMEA is already removed for F1 targets due to space limitations.

[2016-11-01 12:33] DzikuVx commented on #702
Moved to #736

[2016-11-01 12:33] #702 closed, assigned to DzikuVx

[2016-11-01 18:30] DzikuVx commented on #715
PR fixing issue in place, closing this one

[2016-11-01 18:30] #715 closed, assigned to nobody

[2016-11-02 18:17] krzysztofmatula commented on #715
Quick (and cold) flight test shows that all MAG transitions are now working great :)

[2016-11-02 18:31] flounderscore opened #743 "Fixed-wing documentation"
I've been following the iNav development for I while now and just set it up on a flying wing successfully. I noticed that there is only little fixed-wing specific documentation and I would like to help (although I only have very little experience so far). iNav would probably a lot more popular in the FW community if it was better known that fixed-wing aircraft is supported, too.

The fixed-wing gu

[2016-11-02 19:28] krzysztofmatula commented on #727
So, now I have something: the temperature it the key!

At room temperature my HMC5883L MAG initializes correctly 100% of times.
But... at 6°C the initialization success rate is ~10% (9 out or 10 tests have failed).
Then, after performing a software reset - the initialization always succeeds.

Increasing EXTRA_BOOT_DELAY from 500ms to 1000ms doesn't help.

When the initialization is failing the boo

[2016-11-02 19:32] oleost commented on #743
All improvements are welcome.
Unsure what you want to write up on.

If its a guide on how to get iNav running on fixed-wing I believe the pre existing Wiki page is the right place to start, https://github.com/iNavFlight/inav/wiki/3.-Fixed-wing-guide

Along with addiotinal infomation regarding fixed wing in other pages where its seems fit.

Also unsure what parts of the Wiki is outdated with regard

[2016-11-02 21:32] krzysztofmatula commented on #727
After having applied this patch:

[code]

the initialization succeeds, but saturation is detected:

[code]

since then the compass seems to work.

What do you think - is the MAG chip just bad?
Should we try to repeat the initialization attempt if initially failed or it shall just always work correctly?

[2016-11-02 22:13] gendebeat commented on #724
Hello, im try the last release 1.3 and i have exactly the same problem. i2c error increase after 1 minute (or less). and the boad freeze because cycle time increase too. I think is not a hardware problem because with INAV 1.2.1 i have not this problem. I try CLEANFLIGTH and with the last release 1.14 i have this problem too. (earlier cleanfligth releases no problem),. i need to wait more time to t

[2016-11-03 01:36] flounderscore commented on #743
Things I've been missing: mention TPA for airplane, explanation what certain flight modes do for fixed wing, how to trim, and the new launch feature.

[2016-11-03 02:33] digitalentity commented on #724
@gendebeat this looks like hardware issue which current implementation is unable to cope with - looks like you're the only one having this problem.

I'm looking into making I2C driver more robust but that will take time.

[2016-11-03 02:35] digitalentity commented on #743
@flounderscore any improvement is very welcome. You can have a look at https://github.com/iNavFlight/inav/wiki/PID-Attenuation-and-scaling, it's actually related to not yet merged https://github.com/iNavFlight/inav/pull/685, but you get the idea. Feel free to improve things!

[2016-11-03 02:39] digitalentity commented on #727
I wonder what attempt succeeds.

I think we can retry a few times when detecting all sensors and indicate in bootlog if sensor was not detected at first attempt.

If temperature is key it might be bad soldering of i2c pullup resistors. At temperatures below certain value one of them gets disconnected and that's what confuses the detection.

[2016-11-03 05:40] oleost commented on #743
As he mentioned those are not in release version, not even in development branch.

The Wiki should reflect release version.

[2016-11-03 05:42] oleost commented on #743
But feel free to improve it

[2016-11-03 07:31] #650 closed, assigned to nobody

[2016-11-03 07:43] krzysztofmatula commented on #727
I checked also cleanflight-1.13 and it behaves the same, so it is not INAV specific.

I'll check the pullups, as this is modified SPF3 with internal compass disconnected.
I wonder if this would be such case it after SW reboot all works well? In such case I don't even observe any i2c errors.

[code]

Here: third attempt succeeded. Sometimes it is 2nd, sometimes 4th...

[2016-11-03 08:13] krzysztofmatula commented on #650
Continued in: https://github.com/iNavFlight/inav/pull/744

[2016-11-03 10:22] HaukeRa commented on #734
I will start setting everything up tomorrow.

And I think it might be possible to implement the quaternion PIDs in Fixed point math. Not sure about the IMU itself. But the quaternion representation guarantees that each element is in the range of -1 to 1 (ideally) so that scaling it to fixed point in high resolution is viable.

[2016-11-03 10:25] digitalentity commented on #734
@HaukeRa cool! Don't think about optimizing this yet, lets make it working using float point math. We can think about fixed point math if we hit performance issues.

[2016-11-03 11:09] digitalentity commented on #733
Implementation in #745, closing.

[2016-11-03 11:09] #733 closed, assigned to nobody

[2016-11-03 11:18] DzikuVx opened #746 "Extend MSP protocol for INAV settings"
Apart from #709 there are several settings that can not be set via MSP. I've run through them and here they are:

| length    | setting                   | Payload Length    |
| ----      | ----                      | ----              |
| 1         | fixed_wing_auto_arm       | 1                 |
| 1         | nav_disarm_on_landing     | 2                 |
| 1         | nav_user_control_mode

[2016-11-03 11:28] digitalentity commented on #746
We'll probably split it to at least 6-7 frames:

1) Position estimator settings (inav__)
2) General navigation settings (nav__)
3) Multicopter-specific navigation settings (nav_mc__)
4) Airplane-specific navigation settings (nav_fw__)
5) Airplane general settings (flaperon__, fw_iterm__,
6) Gyro/PID settings (async_mode etc)
7) all the rest

What do you think?

[2016-11-03 11:29] digitalentity commented on #746
I think we need to keep #473 in mind and parameter groups require that you have one MSP message per one group of settings for most optimal implementation.

[2016-11-03 11:29] digitalentity commented on #473
@martinbudden what's the progress of this?

[2016-11-03 11:30] stronnag commented on #746
Useful. The ground stations could then offer infield adjustments of nav parameters.

[2016-11-03 11:32] DzikuVx commented on #746
It might be problematic to find that long bank of free message ids.

czw., 3.11.2016, 12:28 użytkownik Konstantin Sharlaimov <
notifications@github.com> napisał:

We'll probably split it to at least 6-7 frames:

1) Position estimator settings (inav_
_) 2) General navigation settings (nav__)
3) Multicopter-specific navigation settings (nav_mc_
_) 4) Airplane-specific navigation settings (nav_fw__)

[2016-11-03 11:38] digitalentity commented on #746
@DzikuVx MSP IDs
128-179 and 222-238 appear to be free

[2016-11-03 11:38] martinbudden commented on #746
I certainly agree we should split this into several frames. We should also try and stay compatible with betaflight/Cleanflight for the non-navigation settings, if at all possible.

Note that the MSP protocol is independent of parameter groups. That is, the MSP protocol will not be changed by converting to parameter groups.

However once we have converted to parameter groups, we can implement a new

[2016-11-03 11:41] digitalentity commented on #746
@DzikuVx also IDs 6-9 and 12-33 are free to use.

@martinbudden original idea of PGs were to have same data structure in EEPROP, in RAM and on the wire via MSP. So while aligning MSP and PGs is not required, it's preferred.

[2016-11-03 11:45] martinbudden commented on #473
I haven't done any work on this for a while. All the preparatory work has now been done, so getting it finished should not be too much work. Probably several evenings of solid work.

[2016-11-03 11:47] digitalentity commented on #473
Take your time, we'll probably release 1.4 without PGs, I don't see this as a big issue.

[2016-11-03 11:51] martinbudden commented on #473
One of the motivations was making it easier to port code over from Cleanflight. But now iNav and betaflight are ahead of Cleanflight in most areas that is less important.

I'll probably do PGs in betaflight first, since there are some guys actively working on the configurator there, and also there is more flight testing. Once that is done, porting to iNav should be very straightforward (although t

[2016-11-03 12:30] DzikuVx commented on #746
OK, I will restructure and give proposal here in some time

[2016-11-03 12:31] digitalentity commented on #746
@DzikuVx I'm already restructuring NAV-specific settings. Will submit a PR in a few, you can take it from there.

[2016-11-03 12:32] DzikuVx commented on #746
@digitalentity OK

[2016-11-03 12:50] digitalentity commented on #746
@DzikuVx see #747

[2016-11-03 13:39] DzikuVx commented on #746
This is my proposal for first of new frames. It hold INAV specific async mode and PID controller settings not covered in other frames, including #709.

Payload is 15 bytes long including reserved 6 bytes for future usages.

**MSP_INAV_PID**

Frames:
- MSP_INAV_PID, Frame ID _6_
- MSP_SET_INAV_PID, Frame ID _7_

| length | setting | Payload Length |
| --- | --- | --- |
| 1 | async_mode | 1 |
| 2 |

[2016-11-03 14:39] digitalentity commented on #746
@DzikuVx thumbs up!

[2016-11-03 16:38] moggiex opened #750 "iNav 1.2.1 Weird Elevon movements when throttle applied"
Hi,

I can pop this in the RC groups thread if desired but seemed best to post here.

See this video https://www.youtube.com/watch?v=fEl_NIaN8_o

Watch the elevons, thats NOT right?!!! No wonder she stuffed in today when I applied angle mode.

Happens in both Angle and Horizon modes.

Settings dump here http://pastebin.com/Libw7GDv also I do have black box data, but not willing to post in a public

[2016-11-03 16:54] oleost commented on #750
For me it's looks normal, when you throttle up the integral part of the controller gets active and working.

Looking at the dump it looks you have not aligned your FC for leveled fight.

set align_board_roll = 0
set align_board_pitch = 0
set align_board_yaw = 0

[2016-11-03 16:55] oleost commented on #750
So when your plane is flat, the flight controller think the plane is pointing upwards and tries to correct it

[2016-11-03 17:28] martinbudden commented on #297
See PR https://github.com/iNavFlight/inav/pull/742 for initial work.

[2016-11-03 17:37] moggiex commented on #750
Howdy Oleost, firstly thank you for getting back to me so quickly, looking into this right now. I appreciate the help. Matt

[2016-11-03 17:42] moggiex commented on #750
Hi Oleost, checking the wiki here for "Level calibration" https://github.com/iNavFlight/inav/wiki/4.-Sensor-calibration it wasn't needed as I put that board in as closely to the center axis as I could. So they should be all 0? Matt

[2016-11-03 18:04] oleost commented on #750
So when your plane is straight in the air iNav configurator shows zero on all axis?

Also when you move the airplane the airplane object moves the correct way?

[2016-11-03 18:09] moggiex commented on #750
Oleost, just read your reply again, watch closely, it appears the PID loop is feeding/bleeding throttle back into the elevon movements to the point they reach maximum deflection. That's definitely not right :) Matt

[2016-11-03 18:11] moggiex commented on #750
It does, but it's irrelevant, watch when I apply throttle, the elevons move to the point of maximum deflection. Take the throttle off, they go back.

Matt

[2016-11-03 18:18] oleost commented on #750
No it's not irrelevant. Point your airplane to the ground and I expect your elevons to go the opposite way.

When you apply throttle the flight controller assumes you flying. If the airplane is pointing down just small angle it will try and correct for it when your in angle mode, when nothing happens it will just try and correct more and more.

Also you should update to 1.3 as this limits the maxi

[2016-11-03 18:20] oleost commented on #750
When you have no throttle only P function is active. I functions activates when you apply throttle

[2016-11-03 18:28] DzikuVx commented on #746
MSP_INAV_PID docs updated, payload kept at 15 bytes: I've forgot about gyro_lpf :)

MSP_INAV_PID will be done as #709 there is just too much to divide it into steps

[2016-11-03 18:34] moggiex commented on #750
Hi oleost, I appreciate that throttle should be accounted for in the i loop, but that is a swamping of the movements. IE when more throttle applied, smaller movements are required (should in theory be a greater air speed so less movement required), again check the video, even bringing it back straight the elevons don't correct themselves, they're swamped.

I appreciate all the hard work on iNav ol

[2016-11-03 19:15] oleost commented on #750
Both me, others and the main developer if iNav have success with iNav on wing.

"even bringing it back straight the elevons don't correct themselves, they're swamped."

As I said, this has been fixed in iNav 1.3. I gain is now being limited. That said it should not be an issue in flight, more at takeoff and bench testing in stabilise modes.

"but to flash the board to 1.3 (which was only released

[2016-11-03 20:25] DzikuVx commented on #746
MSP_INAV_PID and MSP_SET_INAV_PID implemented in #709

[2016-11-03 23:55] digitalentity commented on #750
Actually elevons shouldn't get back when you level the plane by hand. From FC point of view there is no "hand" and no "bench", it's flying and any airplane motion is natural.

When you level the plane on the bench, the only thing FC knows is that plane is now "flying" with seriously deflected elevons and it's level. Again - as far as FC is concerned the plane **is "flying" level**, so it doesn't s

[2016-11-03 23:56] digitalentity commented on #750
The flying wing behavior is tested for upcoming 1.4 by myself. @oleost and probably some other people with success. I believe this issue is irrelevant anynore.

[2016-11-03 23:56] #750 closed, assigned to nobody

[2016-11-04 00:03] Jivefunk commented on #216
Just created an account to follow this thread. I also need this implementation for my quad.

[2016-11-04 00:04] digitalentity commented on #216
This is a very slo-mo task, sorry. Eventually we'll see opflow support, but probably not very soon.

[2016-11-04 00:05] kitchung commented on #216
I'd love to see this implemented too!

[2016-11-04 00:06] digitalentity commented on #216
Work is being slowly done here https://github.com/iNavFlight/inav/pull/434

[2016-11-04 00:08] kitchung commented on #216
@digitalentity Thanks for the info, subscribing there now.

[2016-11-04 00:16] kitchung opened #753 "Support Sonar on SP Racing F3 EVO"
CleanFlight 1.14.0, released yesterday enabled Sonar support for the SP Racing F3 EVO. Please consider adding support in iNav. Please see https://github.com/cleanflight/cleanflight/commit/6b03f97c522442b27b3c480ab79a2d85ded85366

[2016-11-04 09:04] DzikuVx commented on #753
@kitchung do you own EVO and are you willing to test it?

[2016-11-04 09:22] DzikuVx commented on #672
Implementation in #757

[2016-11-04 09:22] #672 closed, assigned to nobody

[2016-11-04 09:24] DzikuVx commented on #620
@carlonb could you retestit with INAV 1.3 ? There were maghold mode changes that probably fixed it

[2016-11-04 10:10] DzikuVx commented on #613
Implementation in #758

[2016-11-04 10:10] #613 closed, assigned to nobody

[2016-11-04 12:07] oleost commented on #622
"to hold the last valid value received (VERY unsafe in this case as could cause a drop or a flyaway). We need either to make the auto policy smarter or to extend the "set" policy to throttle as well, so that one can issue a "rxfail 3 s 1500" to failsafe throttle to center."

I can't see how this is safer than hold.

With these proposed settings the aircraft will spin up motors if failsafe engages

[2016-11-04 12:08] oleost commented on #622
Also, stage 1 is very short and should in neither cases cause a fly away.

[2016-11-04 12:28] rb1205 commented on #622
Not necesarly true. If you're flying "aggressively" or even freestyling your throttle could be any position from 0% to 100%. In those cases you could gain (or lose) up to 10 meters just in the first second, expecially if you set the failsafe to engage leveled flight (high throttle+level flight=up it goes).

Just barely: there's a little spike of motor power when ALTHOLD mode kicks in, but the FC s

[2016-11-04 21:32] carlonb commented on #620
OK, I will test ASAP. Thanks

[2016-11-05 06:51] kitchung commented on #753
Yes, I am building a new quad with an EVO board now with all necessary parts (board, HC-SR04 sonar module, 1k resistors). Initial testing will be bench testing.

[2016-11-05 09:03] martinbudden commented on #753
Closing. Addressed by PR https://github.com/iNavFlight/inav/pull/759

[2016-11-05 09:03] #753 closed, assigned to nobody

[2016-11-06 09:41] digitalentity commented on #632
No feedback, assuming the issue is resolved. Closing.

[2016-11-06 09:41] #632 closed, assigned to nobody

[2016-11-06 09:59] urlu75 opened #765 "telemetry_inversion stuck to ON"
Hi

telemetry_inversion cannot be set to OFF on some board.
   set telemetry_inversion=OFF and save

I tried with 1.1, 1,2 and 1.3 on SPracinfg F3 board. Value is always ON. (ok with cleanflight on this board).
It's ok with release nav 1.3 on revo board and naze board.

Any idea ?

[2016-11-06 10:43] digitalentity opened #766 "SPRacingF3 EVO compass not detected (occasionally)"
Affected version: 1.3, development

[2016-11-06 10:50] digitalentity commented on #766
Once in a while compass IS in fact detected correctly.

[2016-11-06 10:56] digitalentity opened #767 "VCP not stable on F4 boards"
Encountered on Pixracer target (#466) rebased on development (a3b81e36e2dcc78ddc74877852d093c4c795e34a).

VCP connection to Configurator freezes after a while. Board CPU is very busy in `VCP_Ctrl` and `usbVcpFlush`. F1 (CC3D) and F3 (EVO) targets don't seem to be affected.

Can anybody confirm the issue on their F4 boards?

[2016-11-06 11:36] digitalentity commented on #767
Interestingly, issue is resolved with disabling LTO. Another instance of (in)famous memory corruption bug?

[2016-11-06 12:38] digitalentity opened #768 "Deprecate gyro_sync and looptime"
90% of the boards out there have gyro data ready interrupt and are capable of `gyro_sync = ON`.
How about we deprecate gyro_sync (make it always on)? This will also make looptime obsolete.
With #421 merged we can define all rates as denominators:

`gyro_denominator` - denominator for gyro read, relative to hardware sampling rate
`acc_denominator` - acc update denom, relative to gyro
`atti_denomina

[2016-11-06 12:39] digitalentity commented on #768
@DzikuVx, @martinbudden what do you think?

[2016-11-06 13:42] carlonb commented on #620
Tested 1.3.0 just now, this issue seems solved! :)).
Test done:
Power on with MAG always active:
1) Arm, Take-Off, the copter no more turn to North (Solved).
2) After land, disarm, rearm, take off, the nose direction behave as normal.
3) After land, disarm, MANUALLY I change the nose direction (some degree left or right), re-arm, take off, the copter no more turn to the last landing/disarm directi

[2016-11-06 13:43] digitalentity commented on #620
Thanks for testing, closing.

[2016-11-06 13:43] #620 closed, assigned to nobody

[2016-11-06 14:50] DzikuVx commented on #768
I'm fine with gyro_to_pid_denominator. It makes sense. But it really makes sense only with gyro_lpf=256HZ. 1kHz step does not gives much flexibility.

But I do not see any benefit of coupling accelerometer and attitude with gyro again.

[2016-11-06 14:51] DzikuVx commented on #767
tested with Flip32 F4, no problems

[2016-11-06 15:26] martinbudden commented on #768
Yes, I'm in favour of deprecating `gyro_sync`. Betaflight did it ages ago.

[2016-11-06 18:07] kitchung commented on #753
FYI bench test of sonar on SP F3 EVO with Clean flight 1.14 was successful. I'll test iNav as soon as binaries are available.

[2016-11-06 18:38] martinbudden commented on #753
Great, thanks for testing.

[2016-11-06 18:59] DzikuVx commented on #768
In terms of assuming we always sync to gyro, I'm also in favour of it

[2016-11-06 23:50] kitchung commented on #753
Well, that was for CleanFlight 1.14; will test iNav as soon as binaries are available.

[2016-11-07 06:55] rb1205 commented on #766
I had this issue every now and then in 1.2 when I rebooted the FC without cycling power, then it was apparently gone in 1.2.1. in 1.3 is back and more frequently than in 1.2, happens even at the initial power on.

[2016-11-07 07:57] oleost commented on #753
@kitchung You could setup your own build eviroment, tbh its really quick and it was you that requested this.

Anyway, here is latest developement hex for evo. use with caution. https://drive.google.com/open?id=0B-yHzNtOXxbEM0hYcnhUUzBPOFU

[2016-11-07 09:33] jflyper commented on #767
In betaflight, I've experienced the opposite case; disabling LTO wedges F3 and F4 targets upon entering CLI: betaflight/betaflight#1454.

[2016-11-07 13:06] DzikuVx opened #769 "Report last arming failures over MSP"
Extend MSP_STATUS_EX frame with 16bit flag storing all reasons for which arming failed.
Also, make `accel. calibration done` and arming blocker and report this reason too

[2016-11-07 16:33] anbello commented on #538
I have to report the the problems with sparky 2 posted in this issue by me are to be considered related only to my (defective) sparky 2. I reflashed it with dronin and I obtained the same random drift in the attitude and in the accelerometer value with the FC steady on desktop. In precedent test with dronin I did not see the problem only because the values change slowly and after a certain time fo

[2016-11-07 19:54] DzikuVx commented on #719
Since flip32 f4 TARGET is merged, closing

[2016-11-07 19:54] #719 closed, assigned to nobody

[2016-11-07 19:55] DzikuVx commented on #708
Implementation in #709 New MSP frames, closing

[2016-11-07 19:55] #708 closed, assigned to DzikuVx

[2016-11-07 20:50] urlu75 commented on #765
Added a video link to illustrate :
https://youtu.be/frNhVIchuJY

I am using telemetry_inversion to OFF to get telemetry on my taranis screen with OpenLRS and a wolfbox module.

[2016-11-07 22:46] oleost opened #770 "Feature Request: Continue with WP mission on failsafe / lost contact with TX."
Request to have a new failsafe setting during Waypoint mission.

Failsafe_during_waypoint = Use_failsafe_procedure (Default)
Failsafe_during_waypoint = Continue with current WP mission

This would enable simular functionality found in example [Ardupilot](http://ardupilot.org/copter/docs/radio-failsafe.html)

So people can fly out of range missions.

[2016-11-07 23:01] helicocrasher opened #771 "Feature Request: please add Soft_Serial for the SP Racing F3 Evo target"
Cleanflight has added Soft_Serials for the SP Racing F3 Evo in release v1.14.0 Nov/2 2016.
Intended usage:
Ser1: OSD
Ser2: SBUS
Ser3: GPS
Soft_Ser1: Bluetooth for Eazy_GUI

[2016-11-08 05:56] oleost commented on #771
Already done.
https://github.com/iNavFlight/inav/pull/760

Please use search function next time first..
And close this.

[2016-11-08 07:02] digitalentity commented on #538
@anbello so it's a hardware problem after all. good that you were able to figure it out!

[2016-11-08 11:12] anbello commented on #538
Maybe this is not the right place but I would like to ask which F4 board could be a good (and affordable) solution for iNav?
OpenPilot Revolution or Flip32 F4 with a MS5611 on I2C and (for both) a GPS (serial) with HMC5883l (I2C)?

[2016-11-08 11:14] DzikuVx commented on #538
@anbello  please join https://gitter.im/iNavFlight/inav . I'm closing thi one since it is hardware issue

[2016-11-08 11:14] #538 closed, assigned to nobody

[2016-11-08 11:34] anbello commented on #538
@DzikuVx thanks

[2016-11-08 12:56] DzikuVx commented on #381
@jflyper I've read on rcgroups you want to port OSD to INAV. have you started yet? I just got a board and I'm willing to proceed too

[2016-11-08 18:08] helicocrasher commented on #771
Thanks - cool!
Sorry, was using default search filters ... (is open) so I did not see.

[2016-11-08 18:08] #771 closed, assigned to nobody

[2016-11-08 22:50] Xe54 opened #774 "Detecting MS5611 baro falis on SPRacingF3 (Acro) board"
Powering the board causes an I2C error with the current version 1.3 and the baro is not activated in the hardware bar. After rebooting the board (switching to cli and back) the baro is detected and works properly. Known workaround is to explicitly set baro_hardware = 3. Here is the status before workaround:

# status
System Uptime: 94 seconds, Voltage: 156 * 0.1V (4S battery - OK), System load: 0.

[2016-11-08 22:53] Xe54 commented on #774
My dump:

# dump

# version

# INAV/SPRACINGF3 1.3.0 Nov  2 2016 / 11:15:52 (479d607)

# pflags

# Persistent config flags: 0x00000001

# dump master

# mixer

mixer QUADX
mmix reset
smix reset

# feature

feature -RX_PPM
feature -VBAT
feature -UNUSED_1
feature -RX_SERIAL
feature -MOTOR_STOP
feature -SERVO_TILT
feature -SOFTSERIAL
feature -GPS
feature -FAILSAFE
feature -SONAR
feature -TELEMETRY
fe

[2016-11-09 08:01] jflyper commented on #381
@DzikuVx Yes. Let's do this.
I think we can start with porting the MAX7456 driver (drivers/max7456.c); may have some trouble if bf and inav are not coherent with io management. We do the programmed transfer first, then DMA.

Upper layer (io/osd.c) has changed substantially to support Configuration Menu System (CMS), which was merged to master about an hour ago (see betaflight/betaflight#1422), and

[2016-11-09 08:12] DzikuVx commented on #381
Luckily both INAV and BF were moved to new IO so there should be no
problems.

śr., 9.11.2016 o 09:01 użytkownik jflyper notifications@github.com
napisał:

[2016-11-09 08:32] jflyper commented on #381
Cool !!!

Things I've forgot to mention:
- PG migration status?
- Configurator

[2016-11-09 08:36] DzikuVx commented on #381
PG Migration is well... not there yet. If I remember correctly @martinbudden said few days ago that he will do it in BF and then in INAV.

I can handle Configurator

[2016-11-09 12:54] oleost opened #775 "Failsafe not working on development."
Hi. First I want to say I have not gotten to test this on iNav 1.3 yet because of time limitation.

Im having some issues getting Failsafe RTH working reliable on my fixed wing.

Made and video while I did several attempt.

Only LOG25 and around 5 minutes in the video it works. I have not found the reason for it working that time and not the other.

Dump, and logs and video of all attempts are in

[2016-11-09 12:58] martinbudden commented on #381
PGs have been deferred to betaflight 3.2, and then to iNav. We'll eventually get them...

This port can be done with PGs though. And as @jflyper says, the new Configuration Management System (CMS) has just been merged into betaflight, and so that's a good place to start.

I think the port should be fairly straightforward.

One minor thing in betaflight "display" has been renamed to "dashboard" - t

[2016-11-09 13:00] oleost commented on #775
![logfailed](https://cloud.githubusercontent.com/assets/5670710/20139130/d6e3c83c-a684-11e6-94ca-95e851c3d8eb.PNG)

![log-25](https://cloud.githubusercontent.com/assets/5670710/20139131/d6e3f618-a684-11e6-8c9c-95fc3ced4755.PNG)

[2016-11-09 13:04] oleost commented on #775
Noticed on the LOG25 it says BARO, while on this board I have baro disabled.

Also noticing on my telemetry gAlt tells the actually altitude. Like 30m above sea level, and not from the point of arming.

Is there a bug regarding using Gps altitude only compared to baro?

[2016-11-09 13:05] digitalentity commented on #775
Blackbox explorer doesn't show correct values at the moment.
`failsafePhase = 2` is actually `RETURN_TO_HOME`, not "LANDING"
`BARO` is actually `NAV ALTHOLD`

[2016-11-09 13:06] digitalentity commented on #775
@oleost how are you testing failsafe? Turning off your TX?

[2016-11-09 13:07] oleost commented on #775
@digitalentity Yes, turning off TX

There was only 1 time where I screwed up and disarmed instead 👎  But then I said so in video

[2016-11-09 13:28] digitalentity commented on #775
In most of the logs navState is stuck at 8 (RTH_INITIALIZE)

This is a synergistic effect of two factors:
1) You are not flying the airplane (speed is low) and you don't have a compass = true heading is unknown so no RTH can be executed as INAV doesn't know where airplane is going
2) Actual bug that doesn't allow the RTH_INITIALIZE state to be re-checked. The bug was introduced by #745.

Fix pendi

[2016-11-09 13:31] jflyper commented on #381
I think it's (almost) done ;)

https://github.com/jflyper/cleanflight/tree/inavdev-osd
- OSD on MAX7456 is working
- CMS on OSD is working
- CMS menu contents that rely on incompatible data structures are commented out
- OMNIBUS is the only target (for now)

@DzikuVx Which board do you have?

[2016-11-09 13:37] digitalentity commented on #381
@jflyper I have an OMNIBUS. Do you want me to test something?

[2016-11-09 13:38] DzikuVx commented on #381
Omnibus F4 ... he he eh that was fast
I will add Omnibus F4 target to INAV soon and then I will test it there
too. And do Configurator

śr., 9.11.2016 o 14:31 użytkownik jflyper notifications@github.com
napisał:

[2016-11-09 13:38] digitalentity commented on #381
@jflyper btw, send me an email (see my profile on Github), I'll send you an invitation to INAV Slack if you want.

[2016-11-09 13:39] martinbudden commented on #381
@jflyper , note that the iNav display (now called dashboard in betaflight) displays different information to the betaflight dashboard, and so should not simply be overwritten.

[2016-11-09 13:45] jflyper commented on #381
@digitalentity
If you try it out, you will be the first one to see OSD and CMS run on iNav :) Will send you a mail.

@DzikuVx
I'll be waiting for the OMNIBUSF4 target!

@martinbudden
Yeap. I've noticed that. That's why it's not working right now. I will probably transplant the DISPLAYPORT on to the existing display.c (and may rename it to dashboard.c).
MSP_DISPLAYPORT has some problem, too; it loo

[2016-11-09 13:48] martinbudden commented on #381
@jflyper , I've just done a PR to rename display to dashboard.

I'll do another one to catch up MSP with betaflight - that should not be too difficult.

[2016-11-09 13:48] jflyper commented on #381
@martinbudden That would be great!

[2016-11-09 13:48] digitalentity commented on #381
@martinbudden thanks for PR, merge at will!

@jflyper, will try to test tomorrow. almost midnight here, he-he :)

[2016-11-09 13:50] DzikuVx commented on #381
@martinbudden @digitalentity before refactor MSP abstraction please merge #709
I've done all I wanted in this branch code should be safe to merge to development since those are only new frames

[2016-11-09 13:51] digitalentity commented on #381
@DzikuVx merged

[2016-11-09 13:57] digitalentity opened #778 "Disable disarming when failsafe is activated as a flight mode"
When RC receiver only supports setting channel values on failsafe the only way to engage failsafe procedure is to configure `FAILSAFE` box mode.

The problem is that if one uses switch arming, the machine will disarm on failsafe if proper channel is not set to `ARM`. This is, however, unsafe, because it will make the machine actually arm when you turn off the TX.

Proposed fix - retain arming stat

[2016-11-09 14:36] digitalentity commented on #778
Interestingly, code already has protection against disarming by a switch when failsafe is active. I need to verify that it's working correctly.

[2016-11-09 14:43] oleost commented on #778
Remember it also need to work with throttle channel set to failsafe 1000us / 0% on Rx

[2016-11-09 15:19] jflyper commented on #381
Okay, CMS over dashboard (formerly called display) is now functional.
The fancy gadget became really useful now.

@martinbudden Build option was bit different; DASHBOARD v.s. USE_DASHBOARD. Intentional?

[2016-11-09 16:07] martinbudden commented on #381
@jflyper , `DASHBOARD` was accidental. In my view all the build flags should be prefixed `USE_` - that way they are immediately identifiable as build flags. Leave it as `DASHBOARD` for the moment and I will fix it up later.

[2016-11-09 16:08] martinbudden commented on #381
There's a new PR https://github.com/iNavFlight/inav/pull/779 which moves over the betaflight MSP changes. I need to test that before merging it in.

[2016-11-09 16:57] jflyper commented on #381
@martinbudden
I went ahead and cherry-picked dbbb66e out of #779.

It flawlessly went in, and ...

The CMS is functional over MSP_DISPLAYPORT with SPRACINGF3 target now! :)

[2016-11-09 17:10] martinbudden commented on #381
OK, I'll move #779 in once the build passes, and then you can make your PR.

[2016-11-09 18:44] martinbudden commented on #381
@jflyper , I've got all my PRs in, you can now make a PR for CMS.

[2016-11-09 22:22] jflyper commented on #381
@martinbudden Thanks. Now the PR #782 is up.

[2016-11-10 09:18] digitalentity commented on #767
I'll keep it open, but low priority

[2016-11-10 12:34] night-ghost opened #784 "bug in Soft I2C driver"
There is a bug in
[code]

should be
[code]

[2016-11-10 12:40] DzikuVx commented on #784
@digitalentity ??

[2016-11-10 12:49] digitalentity commented on #784
Yes, this is a bug. Will fix, however we don't use soft-i2c anywhere

[2016-11-10 13:09] digitalentity commented on #784
PR in place. Closing

[2016-11-10 13:09] #784 closed, assigned to nobody

[2016-11-10 13:58] night-ghost commented on #784
Soft_i2c is much more reliable than SoftSerial so on some boards it is better to move external i2c to Input port via it, and to use the FlexiPort as a 2nd hardware serial.

[2016-11-10 14:02] oleost opened #786 "If failsafe is initated without throttle it will disarm. Unsafe for FW."
Tested on both official 1.3 release and later 1.4 development.

The case:

If Stage 1 throttle is set to auto the failsafe wont work.
If Stage 1 throttle is set to hold, the failsafe will work IF you have throttle applied from the TX when loosing signal / going into failsafe.

https://drive.google.com/open?id=0B-yHzNtOXxbERkUwVHJuS3czVDA

3 logs and cli dump.

On all three logs TX sticks want to c

[2016-11-10 14:22] digitalentity opened #787 "Move stack to CCM on targets that support it"
As pointed out here: https://github.com/iNavFlight/inav/pull/703#issuecomment-259699429

[2016-11-10 14:25] digitalentity commented on #784
Hm... didn't think about it from that perspective. Also soft-i2c consumes much less memory compared to softserial.

[2016-11-10 14:27] digitalentity opened #788 "Use SOFT_I2C on some targets"
On targets where UART is shared with I2C it's more wise to disable `softserial`, enable `soft_i2c` on those pins and leave Flexi port as a normal UART.

Let's discuss this.

[2016-11-10 14:27] digitalentity commented on #784
See #788 to track the idea.

[2016-11-10 14:37] digitalentity commented on #778
Tested with all throttle positions and both no-pulses failsafe and `FAILSAFE` mode with set-channels failsafe. All working as expected.

PR to fix the issue is in place. Closing.

[2016-11-10 14:37] #778 closed, assigned to nobody

[2016-11-10 14:37] night-ghost commented on #788
sorry not "on those pins" - but on some else pins. Good candidates are unused pins on Input port.

I check this driver in my fork of Ardupilot for RevoMini, and the results are very pleased me - the number of bus resets with this (slightly reworked) driver is noticeably smaller than with the hardware one.

[2016-11-10 14:39] digitalentity commented on #788
@night-ghost INAV will benefit from your reworked driver. Can you share the code or maybe make a PR directly?

[2016-11-10 14:43] night-ghost commented on #787
Pls don't forget that you should enable CCM before any stack usage - in initialize or in "leaf" functions ASAP

[code]

[2016-11-10 14:49] night-ghost commented on #788
It is reworked not by logic but to work in absolutely different driver model. So Inav don't requires this :)

Some days later I'll push recent changes and 'll add comment

[2016-11-10 14:50] oleost commented on #786
Does #789 also fix this?

[2016-11-10 14:55] digitalentity commented on #786
Yes, but with a limitation - if your throttle is LOW for longer then `failsafe_throttle_low_delay` it will disarm.

[2016-11-10 14:57] digitalentity commented on #786
We need a possibility to disable this feature - "disarm instead of failsafe when throttle is LOW for too long".

[2016-11-10 15:00] digitalentity commented on #786
Will fix this as a part of #789 as well

[2016-11-10 15:04] digitalentity commented on #786
Fixed. ~~Wiki and docs need updating.~~ Now `failsafe_throttle_low_delay = 0` means "don't disarm when failsafe at low throttle".

Docs updated.

[2016-11-10 15:12] digitalentity commented on #788
@DzikuVx @oleost @DzikuVx I'd like to hear your thoughts about this feature.
Should we create special "flavours" of CC3D and some others moving I2C away from Flex port, leaving Flex port Serial-only and removing SoftSerial?

[2016-11-10 15:28] DzikuVx commented on #788
Well.... I checked the numbers. CC3D users are more less 6% of our users and number is going down. We agreed not to drop support for F1 boards yet, but support does not means we should invest quite a lot time only to develop features that very limited number of users will ever use. And the number will go down every month since well, you know...
If I remember correctly CC3D already has 2 flavours.

[2016-11-10 15:31] oleost commented on #786
Great. Will do some testing in a couple of hours.

[2016-11-10 15:35] martinbudden commented on #788
A year ago I would have said yes. I still really like the CC3D, but I think the main limitations now is the ROM size rather than the number of output ports. I think we should allow users to build additional flavours if they want, but not actually release them ourselves.

[2016-11-10 15:36] oleost commented on #786
Btw with all my test I had throttle cut shorter period than failsafe_throttle_low_delay = 100

[2016-11-10 15:37] martinbudden commented on #787
This is a good idea. I can't see any downside.

[2016-11-10 15:42] night-ghost commented on #788
Your assumption is wrong -  I'm talking about the Revolution board with processor STM32F405

UPD. I think that F1 targets are died almost, too.

[2016-11-10 15:52] DzikuVx commented on #788
@night-ghost Ah... that changes everything. Possibility to have both USART3 and I2C would be very nice.

[2016-11-10 15:56] oleost commented on #788
Isn't there possible to do this without special flavour's?

Like a setting

Output_mode = softi2c or softserial?
And then having flexible UART always as UART?

[2016-11-10 15:57] DzikuVx commented on #788
@oleost on F4 there should be no problem with such approach.

[2016-11-10 16:02] oleost commented on #788
F4 I'm talking about. I also agreeing with not spending time doing a lot of work in aging F1 targets which will only benefit very few people.

F3 is very cheap now, so most new builds will have those.
Current builds have cc3d etc and they only needs new fixes and features, of iNav itself. At least my opinion.

[2016-11-11 18:19] kitchung commented on #753
@oleost  Thanks for the binaries. Bench testing was successful!

[2016-11-12 01:56] mmormota opened #791 "Parachute in configurator doesn't show SBUS failsafe"
SBUS has a bit to indicate failsafe condition (no need to special failsafe channel values etc).
iNav seems to detect this flag,  for example:
- it sets throttle to minimum in the receiver menu, and other stick channels to middle
- follows the "channel fallback settings" in the failsafe menu
But the small parachute on the top not indicates the detected failsafe condition.

[2016-11-12 02:37] oleost commented on #791
Not at home now so I can't verify.

But I'm 99% sure my parachute lights up when I turn off my transmitter.

I got and Frsky XSR with sbus set up with "No Pulses"

[2016-11-12 04:08] mmormota commented on #791
SBUS is a serial protocol, I suppose "no pulses" is about ppm or cppm. The serial data stream is flowing during failsafe (I checked by a scope). There are bits in the sbus packet for "signal ok", "signal lost" and "failsafe" condition. I didn't looked into the code, but suppose that iNav checks these bits in case of sbus input.

[2016-11-12 04:12] mmormota commented on #791
According to my efforts, the parachute lights up, if failsafe is assigned to a channel, and the channel value enters into the defined range.

[2016-11-12 10:29] alexrjohnston commented on #218
Hi guys, sorry to grave dig. Just a quick note that the code below transformed my 330 with 8" dji props from a wobbly wreck to a locked in beast of a machine on inav 1.3:

set gyro_sync_denom = 12
set gyro_lpf = 256hz
set gyro_sync = ON
set gyro_soft_lpf_hz = 75
looptime 1k on sp racing f3

We also have a 650 hex im going to try the same settings with once we have rebuilt the air frame. Before mak

[2016-11-12 10:31] digitalentity commented on #218
@alexrjohnston you are welcome! Indeed high values of `gyro_lpf` make a big difference. I wonder why PixHawk devs think otherwise...

[2016-11-13 08:44] DzikuVx commented on #218
@alexrjohnston I'm very glad to hear I liked how your quad behaved. Only bear in mind, that if you have bigger propellers, gyro noise frequency will go down and you might want to lower `gyro_soft_lpf_hz`. My 600mm quad on 12" props required `gyro_soft_lpf_hz` of < 60

[2016-11-13 11:27] digitalentity commented on #546
#543 will fix this.

[2016-11-13 13:23] alexrjohnston commented on #218
great info, thanks for the advice! I also tried gyro_sync_denom = 8  yesterday on the f3 with pos and alt hold and it flew even nicer. is there any danger doing this? the cpu seemed fine until gyro_sync_denom = 4 which it couldn't handle. - Al.

[2016-11-13 15:19] DzikuVx commented on #218
Generally, the lower the better. As long as CPU can hold the looptime with GPS and stuff, it is fine

[2016-11-13 16:22] alexrjohnston commented on #218
ideal, thanks again! seriously impressed with inav since making these adjustments.

[2016-11-13 21:14] hali9 opened #794 "CC3D - new in-out order"
Is it possible to change the order of inputs and outputs, to connect more servos?
For example:
S6_OUT is not use and have adc - It could be used by releasing the single in-pin.
Next timer2 could be used to softserial for pins(S5_IN, S6_IN).
If the PPM will be on IN_1 we have all 4 channels timer3 free and it can be use for 4 servos or other feature like RSSIADC, Current, LEDStrip (if passible) and

[2016-11-15 12:57] #230 closed, assigned to nobody

[2016-11-15 13:22] oleost commented on #230
@digitalentity why did you close this?

[2016-11-15 13:34] digitalentity commented on #230
Because it's irrelevant. First position of calibration has to be FC upright and calibration works if this is done properly.

We need a more user-friendly calibration, but that's a different issue.

[2016-11-15 13:42] miradarya opened #798 "Speed in CRUISE mode limited by the smaller of nav_max_speed, nav_manual_speed"
Reproduced easily in 1.3, e.g. with default settings nav_max_speed=300 and nav_manual_speed=500. Vehicle will go 300cm/s instead of 500cm/s in CRUISE mode and full stick deflection. My coding skills have been resting for quite a while, but I think I found the reason in the code. While target position gets moved by nav_manual_speed in adjustMulticopterPositionFromRCInput, speed is generally limited

[2016-11-15 14:01] oleost commented on #230
Fair enough, just wondered if you did it by mistake since you labeled it bug a while ago.

[2016-11-15 14:07] digitalentity commented on #230
I thought that I would rework the procedure only in formware, however now I think it should be done better from both firmware and UI sides. Not user-friendly calibration is not forgotten :smile:

[2016-11-15 14:12] DzikuVx commented on #230
I also have this topic somewhere in my mind in context of Configurator
support

wt., 15.11.2016 o 15:07 użytkownik Konstantin Sharlaimov <
notifications@github.com> napisał:

[2016-11-15 14:20] digitalentity commented on #718
Initialisation of `I2C_DEVICE_EXT` came along with 0d4a3988929c7a0e6ba17a4bae28043e01a7b4a2

However sensor can be compiled only to use one or the other. I.e. on REVO we can have support either for onboard HMC5883L or the external one. Can't support both and switch by a CLI option.

[2016-11-15 14:22] digitalentity commented on #601
postponing this, again...

[2016-11-15 14:22] digitalentity commented on #486
I have some things in the works, but not for 1.4

[2016-11-15 14:23] digitalentity commented on #474
Guys, what do you think? Is this worth pushing into 1.4?

[2016-11-15 14:26] DzikuVx commented on #474
I see no reason to do it

wt., 15.11.2016 o 15:23 użytkownik Konstantin Sharlaimov <
notifications@github.com> napisał:

[2016-11-15 14:28] digitalentity commented on #552
Can somebody re-test this with latest `development`?

[2016-11-15 14:29] DzikuVx commented on #552
I can test HMC5883 on Airbot F4 target today.

[2016-11-15 14:31] DzikuVx commented on #718
OK, I'm closing this one since it solves the problem I've raised. Sensor assignment is completely different thing

[2016-11-15 14:31] #718 closed, assigned to digitalentity

[2016-11-15 15:56] martinbudden commented on #474
Yes, postpone this to 1.5. Let's get 1.4 out the door.

[2016-11-15 17:38] DzikuVx commented on #552
@digitalentity I've tested external HMC5883 and AirbotF4. Works fine, mag detected in all tries.
I'd say we close it.

[2016-11-15 22:55] krzysztofmatula commented on #727
Some more observations:
This is no pull-up resistor issue. Having added additional resistors, no change.

On low temperature only the first detection (HW boot) makes issues (several I2C errors appear). Later, when executing software reboot from cli the MAG is detected without additional I2C errors. Always!

So, still no idea what could be the root cause of the problem...

[2016-11-16 06:51] digitalentity commented on #552
Also tested on REVO (thanks @sambas). No issues.

[2016-11-16 06:51] #552 closed, assigned to nobody

[2016-11-16 07:00] digitalentity commented on #727
@krzysztofmatula thanks. Recently I've seen the issue when first few reads on I2C fail, so best thing is to attempt to do several retires. I'll make a patch for you to test.

[2016-11-16 07:31] krzysztofmatula commented on #727
@digitalentity I have a patch as posted on 2 Nov here. It basically makes the MAG initialized always fine, however it is followed by HMC5883L_SATURATION event. I guess it shouldn't be harmful, but it makes me thinking if the initialization loop is OK. I haven't flown it yet. Also in next weeks my testing capabilities will be very limited.

One more observation: I have 2 setups: SPF3 and SPF3EVO. B

[2016-11-16 08:56] DzikuVx commented on #727
@krzysztofmatula if you are powering MAG from I2C connector that might be a power issue. I2C connector on SPRF3 uses onboard 3.3V LDO

[2016-11-16 09:08] krzysztofmatula commented on #727
Yes, I power MAG (together with GPS AFAIR) from this connector. I think I didn't check it actually, but according to manual it provides +5V (http://seriouslypro.com/files/SPRacingF3-Manual-latest.pdf)
I'll check the voltage anyway.

[2016-11-16 09:36] DzikuVx commented on #727
Check please, last time I checked, both my SPRF3 were providing 3.3V over there

[2016-11-16 11:47] digitalentity commented on #727
@krzysztofmatula can you also try #801 - this is a detection retry for all compass/baro drivers.

[2016-11-16 14:28] jiekchenid opened #802 "baro mode has gone???"
baro mode 被 替代成了nave althold了嘛？？？现在定高模式需要GPS来执行了，BARO不在起作用了嘛。。。有没有纯靠 BARO起作用的模式

[2016-11-16 14:30] DzikuVx commented on #802
There is only ALTHOLD mode and this is per design.

[2016-11-16 14:30] #802 closed, assigned to nobody

[2016-11-16 14:32] oleost commented on #802
English?

And baro is replaced with althold mode, which also holds altitude but uses data from the inertial estimator instead of only relying on barometer. Its should work without GPS.

[2016-11-16 14:42] jiekchenid commented on #802
@oleost   but  the INAV 1.3    haven't    baro mode   only have nav althold   need gps

[2016-11-16 14:47] digitalentity commented on #802
@jiekchenid NAV ALTHOLD doesn't need GPS, only barometer sensor.

[2016-11-16 14:48] jiekchenid commented on #802
![qq 20161116230128](https://cloud.githubusercontent.com/assets/460270/20352144/3d3b2180-ac51-11e6-904e-f7d2e62e054c.png)
and  i can't  turn on  nav althold mode   i don't know why

i do calibrate the accelerometer.  but cannot turn on nav althold mode  now ican't armed even naze32 rev5.......

[2016-11-16 14:53] oleost commented on #802
Probably because you have failed to calibrate the accelerometer. Please take you time and read trough the wiki.

iNav is not cleanflight and there are some difference. You need to read the wiki.

[2016-11-16 15:17] #775 closed, assigned to nobody

[2016-11-16 15:30] oleost commented on #786
Fixed as a part of#789

[2016-11-16 15:30] #786 closed, assigned to nobody

[2016-11-16 15:40] jiekchenid commented on #802
@oleost   thanks  iread wiki now its working  but another problems  why  navposhold  mode   can not armed???????

为什么设置了nav poshold   电机就无法解锁了，，该模式下也无法激活？

[2016-11-16 18:39] krzysztofmatula commented on #727
@DzikuVx you are right! There is ~3.5V on the I2C power connector!
@hydra please correct the SPRacingF3 manual, which clearly states there is 5V :)

[2016-11-16 22:52] digitalentity commented on #727
@krzysztofmatula is this a genuine board or a Chinese clone?

[2016-11-16 22:56] krzysztofmatula commented on #727
Genuine one.

[2016-11-16 23:07] digitalentity commented on #727
Then it's indeed a bug in documentation.

[2016-11-17 00:23] jiekchenid opened #804 "turn on NAV RTH mode ,the copter can landing????"
turn on NAV RTH mode  ,the copter can landing???? or return take-off postion?

[2016-11-17 08:16] DzikuVx commented on #804
yes

[2016-11-17 08:16] #804 closed, assigned to nobody

[2016-11-17 08:19] #765 closed, assigned to nobody

[2016-11-17 08:34] krzysztofmatula commented on #727
Update: having changed the wiring (so external MAG+GPS are powered from 5V source, as they should) and... it didn't solve the problem fully. I mean, it seems to be better, but the MAG is still not always detected at first attempt. Usually It gets detected at 2nd attempt (after HW boot, in low temperature condition).

[2016-11-17 08:35] digitalentity commented on #727
@krzysztofmatula does https://github.com/iNavFlight/inav/pull/801 help?

[2016-11-17 08:38] oleost commented on #804
@jiekchenid Please use rcgroups thread for user support.

https://www.rcgroups.com/forums/showthread.php?t=2495732&page=603

[2016-11-17 08:39] krzysztofmatula commented on #727
I didn't yet check the #801.
I tested with initialization loop as mentioned here a few comments above.

[2016-11-17 10:11] digitalentity commented on #604
PR in place, closing.

[2016-11-17 10:11] #604 closed, assigned to nobody

[2016-11-17 10:12] digitalentity commented on #378
Fix pending by #799, closing.

[2016-11-17 10:12] #378 closed, assigned to nobody

[2016-11-17 10:12] digitalentity commented on #91
Fix pending by #799, closing.

[2016-11-17 10:12] #91 closed, assigned to nobody

[2016-11-17 10:14] digitalentity commented on #479
@martinbudden @DzikuVx @oleost what do you think? Is this still relevant?

[2016-11-17 10:22] oleost commented on #479
How many IDs are available?
If I understand correctly this is relevant when copying from cli as backup?

And for OSD etc to read what mode the FC are in?

I'm agreeing in an ideal world the features that are the survives a transfer between different flavors of Cleanflight.

But would it be possible to just move all iNav / Nav specific to a free area, example above 50? ( Expect althold and poshold

[2016-11-17 10:26] DzikuVx commented on #479
Personally I would ignore this issue completely.
Alignment would make sense if also CF and BF would change their IDs to keep compatibility with INAV on that level. We can try to align with CF/BF every time they add a new BOX, but does that makes sense?

[2016-11-17 10:29] oleost commented on #479
It's of course necessary for everyone to try and keep in sync and not only for iNav to do it.

@hydra @borisbstyle

[2016-11-17 11:49] martinbudden commented on #479
I think generally when doing development we should try and keep alignment with  Betaflight and Cleanflight.

As long as we continue to make that effort, I think we can close this particular PR.

[2016-11-17 12:20] jiekchenid opened #806 "naze32 10dof rev5 刷的最新版 太抖了，不如BFCF固件干稳定"
naze32 10dof rev5  INAV1.3       太抖了，不如BF或CF固件稳定

Too shaking, as BF or CF firmware stability

[2016-11-17 12:37] digitalentity commented on #806
Tune PIDs and filters.

Consider changing default settings to

[code]

Also, please use RCGroups thread for support - what you describe is NOT a firmware issue.

[2016-11-17 12:37] #806 closed, assigned to nobody

[2016-11-17 12:41] digitalentity commented on #479
I don't think that aligning specific flight mode IDs is a must have thing. I agree we should align the APIs where possible (mostly MSP to make it easy for 3-rd party tools). I'm closing this for now.

[2016-11-17 12:41] #479 closed, assigned to nobody

[2016-11-17 12:54] digitalentity commented on #629
Hope to test over the weekend

[2016-11-17 12:56] digitalentity commented on #450
https://github.com/betaflight/betaflight/pull/883
https://github.com/betaflight/betaflight/pull/1032
https://github.com/betaflight/betaflight/pull/1037

[2016-11-20 07:22] brumbad commented on #724
I confirm this with dof6/rev6a naze32 INAV-1.3, 1.2 and 1.2.1. Baro connected - gy-68 (BMP180). MC time to time startup correct, and in most case after short time become very slow  with many i2c errors. This can lead to cpu consumption (600-700%) with cycle time about 16000-17000.

Baro connected to MC pin's with short (2-3cm) wire on board.

[2016-11-20 23:45] digitalentity commented on #629
This should be fixed by #543

[2016-11-20 23:45] digitalentity commented on #546
This should be fixed now as #543 is merged

[2016-11-21 10:21] digitalentity commented on #798
This is the intended behavior.
`nav_max_speed` defines the global speed limitation that can't be breached by any flight mode.
`nav_manual_speed` imposes an additional limitation for manual control.

[2016-11-21 10:21] #798 closed, assigned to nobody

[2016-11-21 10:21] digitalentity commented on #774
@Xe54 can you verify with INAV 1.4-RC1?

[2016-11-21 10:23] DzikuVx commented on #774
I can test all my baros today with SPRF3

pon., 21.11.2016 o 11:21 użytkownik Konstantin Sharlaimov <
notifications@github.com> napisał:

[2016-11-21 10:24] digitalentity commented on #766
Looks like the issue is solved by latest development code.

[2016-11-21 10:24] #766 closed, assigned to nobody

[2016-11-21 12:43] hali9 opened #812 "Profile change bug"
How many Profile is in INAV. In cleanflight are 3 profile.
But when I change in inav-configurator to profile 3 then I get profile 1.
In CLI set profile to 2 then I get profile 0.

[2016-11-21 12:44] digitalentity commented on #812
Unable to reproduce on INAV 1.4-RC1

[2016-11-21 13:06] digitalentity commented on #794
Don't think quad only, INAV also supports Tri, Hexa, Airplane (which uses all 6 output). With your approach we'll break some of the critical functionality.

[2016-11-21 13:07] digitalentity commented on #716
Closing due to no feedback.

[2016-11-21 13:07] #716 closed, assigned to nobody

[2016-11-21 13:08] digitalentity commented on #714
I'd like to have a look at this for 1.5

[2016-11-21 13:08] digitalentity commented on #695
Most likely a hardware issue.

[2016-11-21 13:08] #695 closed, assigned to nobody

[2016-11-21 13:11] #637 closed, assigned to nobody

[2016-11-21 13:12] #606 closed, assigned to nobody

[2016-11-21 13:13] digitalentity commented on #550
Probably not going to happen as nobody seem to be using the board

[2016-11-21 13:13] #550 closed, assigned to nobody

[2016-11-21 13:13] #508 closed, assigned to nobody

[2016-11-21 13:14] digitalentity commented on #501
@DzikuVx do you think we can hack something re. calibration for 1.5?

[2016-11-21 13:15] digitalentity commented on #461
Closing as cause is known and separate issue is existing to fight the cause.

[2016-11-21 13:15] #461 closed, assigned to nobody

[2016-11-21 13:18] #350 closed, assigned to nobody

[2016-11-21 13:19] digitalentity commented on #329
Done.

[2016-11-21 13:19] #329 closed, assigned to nobody

[2016-11-21 13:20] digitalentity commented on #287
I'll better concentrate on making robust firmware for the boards already out there

[2016-11-21 13:20] #287 closed, assigned to nobody

[2016-11-21 13:20] #280 closed, assigned to nobody

[2016-11-21 13:21] digitalentity commented on #177
Hardware limitation.

[2016-11-21 13:21] #177 closed, assigned to nobody

[2016-11-21 13:21] #157 closed, assigned to nobody

[2016-11-21 13:22] digitalentity commented on #164
Closing. Looks like a blackbox decoder bug.

[2016-11-21 13:22] #164 closed, assigned to nobody

[2016-11-21 13:22] #35 closed, assigned to nobody

[2016-11-21 14:17] hali9 commented on #794
Ok. but it is cc3d which does not support hex'a, max motor is 4 (TARGET_MOTOR_COUNT 4 in CC3D\target.h). And airplane have its own config airPPM diffrent from multiPPM (CC3D\target.c).

But if you see my proposal, you can have up to 8 output (4 motors and 4 servos).
And servos use its own 4 channel timer3 and can be replace all on 4 motors.
It means you could have a hex or octocopter on CC3D.

Unl

[2016-11-21 20:36] mmormota opened #813 "baro problem in 1.4.0"
# INAV/SPRACINGF3 1.4.0 Nov 18 2016 / 15:34:15 (f0de3a8)
board: FuryF3 with MS5611

The problem: the sensor chart shows something like the derivative of the altitude.
I mean if I move the quad 1m higher, there is an S like curve, first up then down wave, and the line returns to the zero value. If I move it back, again the S like curve but first down then up
Probably a bug in the low pass algo.

Us

[2016-11-21 20:53] stronnag commented on #813
It would help if you

* posted a link to your CLI dump; and
* told us which build you're really using, because it's unlikely to be _my_ development build of Nov 18 2016 / 15:34:15 (f0de3a8).

You probably mean `INAV/FURYF3_SPIFLASH 1.4.0 Nov 21 2016 / 00:15:30 (3275fc8)`

[2016-11-21 23:58] mmormota commented on #813
It's one iNav configurator offers as online download version.

Entering CLI Mode, type 'exit' to return, or 'help'

# dump

# version
# INAV/FURYF3_SPIFLASH 1.4.0 Nov 21 2016 / 00:15:30 (3275fc8)
# pflags
# Persistent config flags: 0x00000000
# dump master

# mixer
mixer QUADX
mmix reset
smix reset

# feature
feature -RX_PPM
feature -VBAT
feature -UNUSED_1
feature -RX_SERIAL
feature -MOTOR_STOP
fe

[2016-11-22 04:11] digitalentity commented on #813
This is in fact intended behavior. Altitude is forced to be zero until the board is armed for the first time. This is intentional to ensure that home altitude is zero. Try re-testing after arming/disarming the board.

[2016-11-22 08:34] hali9 commented on #812
On INAV 1.4-RC1 still there is a problem.
I use inav_1.4.0_CC3D.hex, maybe target is significant?

[2016-11-22 09:04] digitalentity commented on #812
This is a target-specific bug indeed.
We have a flash-size-specific `MAX_PROFILE_COUNT` definition:
[code]

Not sure why we need this though.

[2016-11-22 09:05] digitalentity commented on #812
Looks like it has been recently introduced in https://github.com/iNavFlight/inav/commit/46fee424be7c79fff8427fdd1f42efae71f09624. @martinbudden do you remember why? This doesn't seem to affect binary size (at least not much).

[2016-11-22 12:05] digitalentity commented on #787
PR in place, closing.

[2016-11-22 12:05] #787 closed, assigned to nobody

[2016-11-22 12:07] #546 closed, assigned to nobody

[2016-11-22 12:08] digitalentity commented on #629
Still unable to test. If somebody can flight-test this (GPS + BARO enabled) and provide a log it would be awesome.

[2016-11-22 14:44] oleost commented on #629
I was supposed to test it the day I was out, but forgot to enable barometer :/

Will test as soon as weather permits.

[2016-11-22 14:46] digitalentity commented on #629
@oleost no worries! Also no need to engage any navigation modes, just recording a simple log will do just fine.

[2016-11-22 20:54] oleost commented on #279
Guess this issue can be closed?

[2016-11-22 21:06] oleost commented on #512
@digitalentity Can this issue be closed due to #543 and the changes there in regard to the changed done there?

[2016-11-22 23:10] digitalentity commented on #512
Not really, there is still improvements to be made to GPS glitch **detection**. #543 only added better handling of the GPS outage itself.

[2016-11-22 23:11] #279 closed, assigned to stronnag

[2016-11-23 00:18] digitalentity commented on #813
Not a bug.

[2016-11-23 00:18] #813 closed, assigned to nobody

[2016-11-23 10:25] oleost commented on #512
Okey.

I think this is an important step regarding support on small frames.

Small frames and small GPS have issue with GPS reception. Using pedestrian mode on GPS would probably be highly beneficial. But I remember having some scary fly aways with pedestrian mode, probably due this.

[2016-11-23 10:28] digitalentity commented on #512
#543 may partly solve this already. GPS glitch is a condition where GPS is reporting incorrect or inconsistent data. GPS loss should be handled correctly now.

[2016-11-23 12:41] Xe54 commented on #774
I will give it a try this weekend.

[2016-11-24 13:47] jiekchenid opened #819 "naze32 rev5 10dof posthold modes can't activate"
![inav3 gps](https://cloud.githubusercontent.com/assets/460270/20600597/63a24904-b28f-11e6-8534-cf9185783a02.JPG)

naze32 rev5 10dof  posthold modes can't activate  when i turn on  nav postholds ..gps is ok and armed althold can activate   ,,,,,,,,,,,,only nav postholds can not activate    why??????

[2016-11-24 13:50] stronnag commented on #819
Mag not calibrated, probably. See multiple discussions on RCG .

[2016-11-24 19:03] DzikuVx commented on #774
Just testes SPRF3 Acro on INAV 1.4RC1 with all my baros: MS5611, BMP085/180, BMP280

In all cases baros were detected without any problems. Closing. @Xe54  if problem will reappear, reopen this ticket

[2016-11-24 19:03] #774 closed, assigned to nobody

[2016-11-24 19:05] DzikuVx commented on #381
OK, since we have implementation ticket in #817 I'm closing this one

[2016-11-24 19:05] #381 closed, assigned to nobody

[2016-11-25 11:02] jiekchenid opened #820 "naze32 rev5 10dof horizon modes can't activate why?????"
naze32 rev5 10dof  horizon modes can't activate  why?????

[2016-11-25 11:11] digitalentity commented on #820
Horizon mode works fine. Please use RCGroups thread for support.

[2016-11-25 11:11] #820 closed, assigned to nobody

[2016-11-25 11:12] oleost commented on #820
Hi.

There is no reason Horizon mode should not active.

Are you sure it's horizon mode you mean, or is it NAV modes?

Additionally information like CLI dump and if it's working in iNav 1.3 or iNav 1.4rc-1 is also key information to give.

Please use regroups for user support, closing this one.  (But read the wiki first ) https://www.rcgroups.com/forums/showthread.php?t=2495732&page=1

Edit: Your

[2016-11-25 11:35] jiekchenid commented on #820
its work i turn on angle mode so  can't activate horizon modes

[2016-11-25 14:01] oleost commented on #103
@eziosoft Please have a look at this: https://github.com/iNavFlight/inav/wiki/8.-Navigation-modes#gcs_nav---ground-control-station

This is correct right? Only NAV POSHOLD is requirred, and if you want to change heading you need MAG aswell.

Althold is not requirred?

Also would appricate if there is addiotional info that could be written to Wiki if there are anything important.

Never used this m

[2016-11-25 14:04] DzikuVx opened #821 "Fixed Wing Servo auto trim"
Idea for a method for automatic servo trim for fixed wings.

1. New flight mode "AUTOTRIM"
1. Take off
1. Fly level in Acro or Angle
1. When pilot activates AUTOTRIM , FC will record average output on every servo and store as new servo midpoint
1. Next activation of autotrim can happen only after AUTOTRIM off cycle

Averaging should not take longer that 1s, perhaps LPF with very low cutoff would d

[2016-11-25 15:03] oleost commented on #821
Sounds like a good plan.

#555 Can be closed if this feature comes.

[2016-11-25 15:23] eziosoft commented on #103
GCS_NAV should be treated more like permission. When it is ON the app can change position hold coordinates and the altitude. If it is OFF requests to change position hold location and altitude are ignored by the flight controller. It was introduced as an extra safety feature.
To allow full control by the app (for follow me, etc) position hold, altitude hold, mag and GCS_NAV should be enabled.
If y

[2016-11-25 16:30] oleost commented on #103
It may be useful to have it this way, since it allows people to customize the behavior. Example follow something while manually yawing, and controlling height for smoother operation.

But I think it maybe should force angle mode as many minimum.

https://github.com/iNavFlight/inav/wiki/8.-Navigation-modes#gcs_nav---ground-control-station

Rewritten, hope its better now.

[2016-11-26 06:02] juzhen698 commented on #713
Entering CLI Mode, type 'exit' to return, or 'help'

# STATUS
System Uptime: 45893 seconds, Voltage: 0 * 0.1V (1S battery - NOT PRESENT), System load: 0.02
CPU Clock=72MHz, GYRO=MPU6500, ACC=MPU6500, BARO=BMP280, MAG=HMC5883
Cycle Time: 2008, I2C Errors: 10, config size: 1348

# VERSION
# INAV/NAZE 1.4.0 Nov 21 2016 / 12:34:05 (3823e46)

[2016-11-26 11:44] digitalentity commented on #821
I like this approach better than #555.

[2016-11-26 11:45] digitalentity commented on #821
I'll set it to 1.5, let's see what we can do.

[2016-11-26 17:16] Xe54 commented on #774
Sorry guys I don't know if i'm doing something wrong, but it got worse. Now i'm getting four I2C errors more. My guess is, the problem is still there, but due to this bugfix: "Fixes for sensor detection, now INAV will retry sensor detection up to 5 times before reporting it missing." it is displayed five time now. Setting baro_hardware to 3 still help. Other than before is the behavior of the baro

[2016-11-26 17:22] stronnag commented on #774
The difference of 5 is due to 5 failed probes for BMP085/BMP180 with baro_hardware=0 and is entirely to be expected. Explicitly setting baro and mag hardware is encouraged for 1.4.

So it has not got worst, it is working as designed.

From both examples it appears that the baro is detected.

I'm at  a loss to see what is the problem; it appears the baro is detected, and you state it also works.

[2016-11-26 17:41] Xe54 commented on #774
@stronnag I doubt it is the desired behavior of the hardware auto detecting loop. It is not very user friendly if each piece of hardware produces tons of errors at initialization and provides the user to seek the source of those errors. But if it so, then I would suggest to completely disable auto detecting and prompt the user to enable hardware manually.

[2016-11-26 17:48] stronnag commented on #774
Actually it is the intention, however sub-optimal this may be. The affect of user confusion was predicted at the time of commit. Thank you for confirming that prediction.

See the final comments in https://github.com/iNavFlight/inav/pull/801#issuecomment-261764676 and https://github.com/iNavFlight/inav/pull/809#issuecomment-261895253

[2016-11-27 06:57] #812 closed, assigned to nobody

[2016-11-27 06:57] #819 closed, assigned to nobody

[2016-11-27 06:59] digitalentity commented on #629
@oleost any chance you would be able to test this in the nearest future?

[2016-11-27 09:45] oleost commented on #629
I hope so.

Just waiting for weather. My wing and battery is charged and ready

[2016-11-27 10:08] digitalentity opened #827 "Target request: QUANTON"

[2016-11-27 12:42] sambas commented on #827
Same as tbs colibri, doesn't have bootpins exposed. SWD is only way to flash if bootloader/fw is stuck.

[2016-11-27 12:43] digitalentity commented on #827
Thanks, I'll try flashing COLIBRI there. SWD is not a big problem :)

[2016-11-27 15:16] #827 closed, assigned to nobody

[2016-11-27 20:42] oleost commented on #629
@digitalentity Looking at the weather forecast I either get a chance tomorrow if not there will be heavy wind for one week.

[2016-11-28 10:27] digitalentity opened #830 "Make initial phase of RTH configurable"
Currently RTH sequence is designed to go to (or avobe) desiged RTH altitude prior to turning home.

As suggested on RCG:

Suggested option `nav_rth_initial_climb` with option to set `ON`/`OFF`. When set to `ON` - current behavior is executed, if set to `OFF` - UAV will turn and fly home instantly climbing/descending to target altitude on the go.

[2016-11-28 10:30] digitalentity commented on #629
@oleost, @DzikuVx  I'm closing this for now - looks fine on the bench. Don't have the time to flight-test it here, but I doubt it will misbehave in flight.

If you encounter this bug again - feel free to reopen.

[2016-11-28 10:30] #629 closed, assigned to nobody

[2016-11-28 12:28] bk79 opened #833 "Failsafe Activated on low battery voltage"
voltage reading is quite stable it would be a good feature to have an emergency landing if battery goes lower that a threshold

[2016-11-28 12:29] oleost commented on #833
Cloosing this one, there is already a issue tracking this.

#74

[2016-11-28 12:29] #833 closed, assigned to nobody

[2016-11-28 12:31] bk79 commented on #74
@digitalentity any hopes to have this in the next release?

[2016-11-28 12:34] digitalentity commented on #74
@bk79 not sure. We need to make this flexible enough to be useful for vbat or consumed mAh.

[2016-11-28 12:34] digitalentity commented on #74
@DzikuVx what's your oppinion. IIRC you were hacking something together?

[2016-11-28 12:41] DzikuVx commented on #74
There is experimental https://github.com/iNavFlight/inav/tree/battery-voltage-as-virtual-aux that exposes Vbat as AUX channel
But this is not a good approach the way I see it now. Proper solution would have to be designed.

[2016-11-28 12:48] bk79 commented on #74
I think that a simple trigger o vbat level would suit, current is not the correct approach since capacity changes from battery to battery and also during the time, but the voltage level is more or less giving the correct indication of charge % despite the age of the battery. I would be more than happy to try if you make cli parameter to activate a safe landing on a vbat low threshold

[2016-11-28 13:01] DzikuVx commented on #74
Simply exposing Vbat as AUX is absolutely not user friendly. While I'm fine with trigger based on Vbat, special GUI and dedicated configuration is required

[2016-11-28 13:06] bk79 commented on #74
@DzikuVx yes and it would be safe only to activate emergency  landing RTH needs probably a little more thinking since it would involve an evaluation of the straight distance from the actual location to where the home is

[2016-11-28 13:11] oleost commented on #74
Could also be a simple two stage failsafe at voltage.

1. At configured voltage start RTH.
2. At another configured voltage start  landing

[2016-11-28 13:40] bk79 commented on #74
@oleost something like warning level RTH if during RTH voltage drops too much emergency level will trigger landing

[2016-11-28 15:52] oleost commented on #629
@digitalentity https://drive.google.com/open?id=0B-yHzNtOXxbEa181WGstVTRhTGs

Log, CLI dump and video.

I think I noticed some strange altitude loss while circle above home with RTH and first try.

Have not have timed to look at the log myself yet. ( And skip to 8:30 for møre acrobatic flight with rolls and loops )

[2016-11-28 16:05] gbine commented on #830
What about integrating this with the variable 'nav_rth_alt_mode' ?  You could add  '_AFTER_TURN' to all the options except CURRENT to indicate desired behavior...
EXTRA_AFTER_TURN, FIXED_AFTER_TURN, MAX_AFTER_TURN, AT_LEAST_AFTER_TURN indicating to turn first then climb.
For easy readability, the existing options could be changed by adding '_BEFORE_TURN'.
Taking it even further, if it makes sense

[2016-11-28 17:47] oleost commented on #629
@digitalentity

There if deffinitly something wierd here. First time doing RTH on this wing. Please have a look.

It also climbs during the seconds Im in GPS hold. Unsure if I had pitch applied on TX to increase altitude but I dont think so.

![image](https://cloud.githubusercontent.com/assets/5670710/20682130/ff2e9ba6-b5a6-11e6-82ae-99b226735324.png)

Height at start:
![image](https://cloud.githu

[2016-11-29 01:56] digitalentity commented on #629
Ok, looks like it's not a BARO issue, but a GPS issue. During that weird altituce change GPS altitude drops from 40m to -22m (negative altitude):

![image](https://cloud.githubusercontent.com/assets/11059099/20693528/ac5e5cb6-b62a-11e6-86fd-d8a64aa0c656.png)

Baro on the contrary indicate correct behavior (rise in altitude) when airplane climbs in attempt to compensate. Ok, the initial issue is in

[2016-11-29 06:15] oleost commented on #629
Hmm. How is it on multirotors? (But I would assume that if you have BARO enabled it should be correct and be the preffered way of measuring height, on both multirotors and fixedwing)

But it is wierd, granted I dont have flown this fly very much, but I have done POS/ALT hold without any issues previously. In gps only mode. Wonder why this happend now or if its only concidence.. (Or if I took off w

[2016-11-29 06:59] martinbudden commented on #629
From what I've read GPS altitude is less reliable than baro altitude, so favouring barometer makes sense.

[2016-11-29 09:53] DzikuVx commented on #629
I'm for favoring baro over GPS altitude

[2016-11-29 14:10] digitalentity opened #841 "Failsafe recovery timeout"
Failsafe procedure is aborted as soon as RC link is restored.
While is this good for common "LAND" failsafe, this is not good for RTH failsafe - might cause RTH to jump back and forth.

Suggesting to add a timeout for clearing the failsafe condition when RC link is restored.

[2016-11-29 14:13] digitalentity commented on #841
Currently we have a PERIOD_RXDATA_RECOVERY timer which is not enough. When failsafe procedure is RTH we probably want a few seconds of RTH executed correctly.

[2016-11-29 14:14] oleost commented on #841
Got mixed feelings here.

If it's only example 2s delay then sure maybe it does not hurt.

But I would not like to be locked out longer than necessary.

I actually experienced this one time, simple turning if the tx completely will save you.

[2016-11-29 14:17] digitalentity commented on #841
Two separate people approached me with this bug today. Maybe we can have a minimal 0.5s timeout by default with an option to increase up to several seconds (if anybody needs it).

[2016-11-29 14:28] oleost commented on #841
Sounds good.

But is it possible to increase PERIOD_RXDATA_RECOVERY  ?

Then people who know they setup they failsafe properly can increase this timer instead of adding a new 2. timer?

[2016-11-29 14:32] digitalentity opened #842 "Prefer BARO altitude over GPS altitude for airplanes"
Airplanes allow GPS altitude to be used. Current code fuses BARO+GPS with preference of GPS. In case of GPS glitching we may have a large change in altitude which is unwanted.

![image](https://cloud.githubusercontent.com/assets/11059099/20693528/ac5e5cb6-b62a-11e6-86fd-d8a64aa0c656.png)

We should prefer BARO over GPS if both sensors are available.

[2016-11-29 14:32] digitalentity commented on #629
See #842

[2016-11-29 15:00] oleost commented on #842
Yes agree

[2016-11-29 17:39] juzhen698 commented on #802
nav poshold 包括其他用到GPS的模式都要在能收到卫星，而且能定位后才能解锁。

[2016-11-29 23:46] dbechth opened #844 "Unintended In-Flight Disarm too easy with valid stick movements"
I have been flying using ALTHOLD and POSHOLD for a couple months now and in that time I have now unintentionally disarmed my quad twice while trying to descend quickly and yaw left. Right, I get it, "don't do that", but the issue is that in both cases when flying I'm not thinking oooh I better stay out of that zone that would disarm the quad several hundred feet in the air.  Perhaps there is a fea

[2016-11-29 23:49] digitalentity commented on #844
Agreed. We probably should change stick combos for arming/disarming.

[2016-11-29 23:51] dbechth commented on #844
Additionally, I am fairly skilled in software development so if this is something of interest to others id be happy to help with this. I am currently working on setting up eclipse but haven't tried to build on my system yet.

[2016-11-29 23:54] digitalentity commented on #844
@dbechth welcome to the dev team then ;)

Unintended disarm is something that we must prevent, however we must do it carefully to avoid complications - i.e. using right stick will result in roll/pitch angle change.

Safest way is to arm/disarm by a switch though.

[2016-11-30 02:38] dbechth commented on #844
That's a good point, I didnt really think about the potential roll pitch change when using the right stick. Ill have to give this some more thought.

[2016-11-30 05:52] martinbudden commented on #844
Sort of true. It's possible to accidentally disarm by knocking the switch though, or moving the wrong switch by accident.

Part of the problem is transmitter design. I'd like to see a transmitter with "shoulder buttons" (like on toy quad transmitters). Then you could configure it so that you had to press both shoulder buttons simultaneously to arm/disarm. Or have it so that you had to double-click

[2016-11-30 06:26] oleost commented on #844
@Martinbudden You can almost do what with iNav already.

Either you need to use two channels for arming and then use the "and" function for modes. Or if you have an opentx transmitter you can always program it on the TX itself.

[2016-11-30 09:49] martinbudden commented on #844
You can do it with a transmitter with switches. But what I would actually like is "shoulder buttons" on the transmitter, like on toy quads, see picture.
![img_7714](https://cloud.githubusercontent.com/assets/194586/20747468/26301be4-b6e2-11e6-8ebc-7b1591ec6615.JPG)

[2016-11-30 09:54] digitalentity commented on #844
We need an INAV TX based on nRF24 code with telemetry and such
:laughing:

[2016-11-30 09:57] martinbudden commented on #844
That's a good idea!

I actually like the ergonomics of the toy transmitters. It's just a pity the pots are so bad.

[2016-11-30 13:25] digitalentity opened #847 "Airplane launch assistant improvements"
Fix non-detected launches when throwing a flying wing by the wingtip.

[2016-11-30 15:20] dbechth commented on #844
How about the option for a two stage disarm?
Maybe something like:
Left Stick: Low Throttle & Yaw left. (This would put the flight controller into pre-disarm which would render the right stick unavailable for Roll and Pitch control)
Then
Right Stick: Pitch Back & Roll Right

The advantage to this would be that this is a pretty uncommon stick combination and it would require that the stick combo ha

[2016-11-30 15:31] dbechth commented on #844
I've considered using that, however having only a 6Ch TX I'm already wishing I had more aux channels and would hate to dedicate 1 of my 2 just for arm and disarm.

[2016-11-30 16:18] DzikuVx opened #848 "Gas engines support"
To satisfy gas engine fixed wings we would need some changes in terms of output channels:

1. Throttle channel with PMW servo signal
1. Killswitch channel. 1000us means engine is disabled, 2000us engine is enabled. Probably it makes sense to pass ARM state here
1. heater channel. 1000us - no heating, 1500 - heating, 2000 - full heat for engine start. It also would be nice to enable heating when th

[2016-11-30 16:42] driver33 commented on #848
Description sounds ok, IMHO in such configuration its wise to remove all "Motors" configuration to get rid off occupying  pwm outputs (0,1) as its now set 2 motors on all configurations.

[2016-11-30 16:49] stronnag commented on #844
As someone who flys iNav, Cf and βF, I appreciate having the same stick disarm sequence in all of them. Muscle memory works, especially for emergency disarm.   Whatever you do, please leave the possibility of remaining legacy compatible (even if it's a compile time option).

[2016-11-30 18:11] dbechth commented on #844
Agreed. I'm not here to upset current users by removing functionality. I aim only to help prevent others from the disappointment I have experienced twice by accident. :)

[2016-11-30 18:59] oleost commented on #844
One possible solution is to allow the auto arm with no disarm on multirotors aswell.

This would of course require you to use motor stop feature. And step out of althold to actually stop motors.

[2016-12-01 01:17] digitalentity commented on #844
You don't have to dedicate a whole channel to arming - you can multiplex it with flight modes:
![image](https://cloud.githubusercontent.com/assets/11059099/20778158/bb8cb546-b7b7-11e6-986c-f6dc923a1ee2.png)

Along with this you should configure a mix on your TX to have Ch5 at min when 2-pos switch is off and when it's on - ch5 is set according to 3-pos flight mode switch to chose between Angle, Ho

[2016-12-01 02:32] digitalentity opened #851 "Flip32 F4 Tricopter configuration doesn't work"
Reported by a user who replaced Flip32 with Flip32-F4 on his Tri.

[2016-12-01 05:07] oleost commented on #851
Where are servo output on Flip32 F4?

If it the same as F3 it's on pin 7 and that's different from the pin 1 he is used from on naze32

[2016-12-01 08:11] DzikuVx commented on #851
Ha, this is a very good question, since I have no idea :(
Let's find it, but probably we will have to move it from where it is right now

[2016-12-01 08:18] DzikuVx commented on #851
Yes, we have a bug, servo outouts in non-airplane configurations are not initialized at all

[2016-12-01 08:24] #714 closed, assigned to nobody

[2016-12-01 08:26] digitalentity commented on #851
Let's put this on hold for now until @martinbudden does his big thing with config access macros.

[2016-12-01 08:39] martinbudden commented on #851
Hope to get the config access macro change in next week.

[2016-12-01 14:04] dbechth commented on #844
@digitalentity
In my case it isn't practical to use an arm switch or multiplex. I'm limited in what I can do because both CH5 and CH6 are only two position switches on my TX (on/off). If I set my modes this way I would only be able to chose a total of two flight modes one with CH5 and one with CH6. I'd love to just get a new radio, but that wont be in my hobby budget for awhile.

As always I reall

[2016-12-01 15:38] digitalentity commented on #724
@gendebeat, @brumbad
Can you please test this hex https://www.dropbox.com/s/tc48euihxlugib0/inav_1.5.0_NAZE_a0207d0.hex?dl=0 ?

It has massive changes to i2c bus driver, maybe it will solve the issue for you.

[2016-12-01 16:11] digitalentity opened #854 "Altitude control for RTL on an airplane"
From @marbalon

[2016-12-01 16:17] marbalon commented on #854
Maybe the easiest way is add flag rtl_control_altitude =ON/OFF... easy to understand for users.

[2016-12-01 16:27] sppnk commented on #854
IMHO,  RTH should be a easy-clean-clear mode, a bomb proof thing. I guess it shouldnt be too complex.

[2016-12-01 21:44] gendebeat commented on #724
@digitalentity
hello, this hex work correct!! i not flying, i wil try this weekend.
But now i can say that there some i2c error, but dont freeze. CPU load is allways at 2-3%. cycle time 2000
thanks!

[2016-12-02 03:14] wolflonezx11 opened #855 "INAV V1.4 naze32 frsky/smartport bug"
hi

INAV V1.4  naze32  frsky/smartport   bug

Unrecognized bug
Please take quick action.

[2016-12-02 04:46] digitalentity commented on #855
Some more details will help. How receiver is connected, config dump etc.

[2016-12-02 07:04] oleost commented on #855
Smartport has been removed on naze32 due to size limitations.
See wiki https://github.com/iNavFlight/inav/wiki/1.-Getting-started-with-iNav

[2016-12-02 07:07] digitalentity commented on #855
@oleost thanks! Funny, I removed that myself and forgot :laughing:

[2016-12-02 07:07] #855 closed, assigned to nobody

[2016-12-02 11:12] wolflonezx11 opened #860 "inav 1.4 telemetry BUG _help me"
hi

inav v1.4
naze32 ver6
frsky d8r

Inav 1.3 works normally.
Ver 1.4 up the transmitter contents
1. SWR
2. RSSI
3. A1
4. A2
The following contents are not displayed.

# dump

# version
# INAV/NAZE 1.4.0 Nov 28 2016 / 10:55:47 (6bf7a91)
# pflags
# Persistent config flags: 0x00000000
# dump master

# mixer
mixer QUADX
mmix reset
smix reset

# feature
feature -RX_PPM
feature -VBAT
feature -UNUSED_1

[2016-12-02 12:13] oleost commented on #860
Looks like e3355d591982c8105198a25a9efe9d27844f2a1f removed Frsky telemetry from F1 targets aswell.

Was this intentionall? If so we need to update Wiki and hardware map.

[2016-12-02 12:17] digitalentity commented on #860
Hmm... True. I'll check if it was intentional.

[2016-12-02 12:33] martinbudden commented on #860
It was taken out to save ROM space. I've just tried putting it back in and the NAZE ROM overflows by 816 bytes. I don't think there is an easy way of saving that much ROM to allow it to be put back in, so we need to update the wiki.

[2016-12-02 12:50] oleost commented on #860
Updated Wiki, Hardware map and 1.4 Release notes.

@wolflonezx11 Seems like we had to remove Frsky due to size issues on iNav 1.4

Your solution now would try and compile your own version with FrSky telemetry instead of LTM telemetry.

[2016-12-02 12:52] oleost commented on #860
@wolflonezx11 Here is one I compiled for your. I have not tested it myself.

[inav_1.4.0_NAZE_UNOFFICIAL_FRKSY_REMOVED_LTM.hex.zip](https://github.com/iNavFlight/inav/files/627160/inav_1.4.0_NAZE_UNOFFICIAL_FRKSY_REMOVED_LTM.hex.zip)

[2016-12-02 12:55] martinbudden commented on #860
@oleost , thanks for doing the documentation updates.

[2016-12-02 18:15] stronnag commented on #860
Or just compile with gcc 6.2 :), ltm & frsky:
[code]
In case anyone cares, http://seyrsnys.myzen.co.uk/ltm+frsky/inav_1.4.0_NAZE.hex

[2016-12-03 12:26] wolflonezx11 commented on #860
Thank you
Check the firmware and insert it
I'll leave a message after.

[2016-12-04 17:05] ArkadiuszNiemiec opened #861 "Heading is drifting to set position (F3 EVO with MAG)"
After first failed GPS POS HOLD test I tried my F3 EVO board on the desk and realized that the heading is drifting to some set position all the time, degree per second or so.

Problem existed even when powering from USB (no noise from BEC or ESC). Raw data in sensor tab looks OK, no drift there. Any idea what's wrong?

[2016-12-04 17:12] stronnag commented on #861
You mag calibration values are bizarre. I don't use the on board (as I value my machines), but my on board mag appears to calibrate reasonably sanely:
[code]
Compare to your dump:
[code]
To me it looks as if your calibration is bad, or the hardware is faulty.

[2016-12-04 17:24] ArkadiuszNiemiec commented on #861
Yeah, that's the result of one of many fast calibration.
I did proper one:

EDIT: I think that my screen was offsetting my heading... :D
I will have to test it on longer USB, but everything looks OK now, thanks!

[2016-12-04 18:36] ghost opened #862 "Ublox and NMEA in GPS mixed up"
INAV/NAZE 1.4.0 Nov 28 2016 / 10:55:47

Have a CRIUS  cn 06 v2.0 GPS. configured 56700/5Hz with only NMEA protocol enabled.

Checked in U-Center. Have to activate Ublox protocol, to get gps working. NMEA and UBLOX seem to be mixed up.

[2016-12-04 18:38] stronnag commented on #862
Which FC ? See also https://github.com/iNavFlight/inav/wiki/Hardware-and-feature-support-map

[2016-12-04 18:46] ghost commented on #862
Sorry. Flip32+ with bt slave on uart1 and crius gps on uart2

[2016-12-04 18:47] stronnag commented on #862
No problem, it helps to read the documentation before opening issues. Closing.

[2016-12-04 18:47] #862 closed, assigned to nobody

[2016-12-05 12:42] digitalentity commented on #724
@gendebeat if i2c error count increases over time it's an indication of unstable hardware. I wouldn't trust that setup. But still, good to know that a single bus glitch won't cause a crash with 100% probability.

[2016-12-05 12:43] digitalentity commented on #721
Will happen naturally as a part of https://github.com/iNavFlight/inav/pull/853

[2016-12-05 12:43] #721 closed, assigned to nobody

[2016-12-05 12:43] digitalentity commented on #724
I'm closing this issue now

[2016-12-05 12:43] #724 closed, assigned to nobody

[2016-12-05 14:31] digitalentity commented on #847
@oleost this will probably have to wait for after the New Year. Too much testing is required.

[2016-12-05 14:48] oleost commented on #847
No problem. Just postpone to 1.6
Remember you can always ask me to do some test.

But of course, now its christmas / new year and the days are short so its limited whats time left to do some testing.

[2016-12-05 14:53] digitalentity commented on #847
I'd rather keep it in 1.5 for now - maybe I'll have the time to implement new logic

[2016-12-06 12:31] Linjieqiang opened #866 "Skipping UART2 pins is not done in a board-independent way"
Recently,I use STM32F1 chip to make my mini brushed copter.But I found if I opened the GPS with UART2,the motor M2 & M4 can not move.I try to use other timer but it didn't work.So I think maybe some bugs in the timer and uart2.

This is my mini brushed copter design chart.I want to use GPS with uart2 and use telemetry with uart1.Looking forward to your reply.

[image](https://cloud.githubuserconte

[2016-12-06 12:38] digitalentity commented on #841
PR in place, closing.

[2016-12-06 12:38] #841 closed, assigned to nobody

[2016-12-06 12:39] digitalentity commented on #866
@Linjieqiang what target?

[2016-12-06 12:46] Linjieqiang commented on #866
My new define target.
![image](https://cloud.githubusercontent.com/assets/10217966/20925965/ee1c2afa-bbf4-11e6-9ea6-7b5871e68623.png)
![image](https://cloud.githubusercontent.com/assets/10217966/20925967/f1f66816-bbf4-11e6-8ea1-f19c62210049.png)
![image](https://cloud.githubusercontent.com/assets/10217966/20925971/fb782cbc-bbf4-11e6-9983-411eb3d0f198.png)

[2016-12-06 12:47] digitalentity commented on #866
F1 or F3?

[2016-12-06 12:48] Linjieqiang commented on #866
F1.But I think CC3D & NAZE have the same problem.

[2016-12-06 12:49] digitalentity commented on #866
CC3D and NAZE doesn't have this problem

[2016-12-06 12:50] Linjieqiang commented on #866
But what's wrong with my target?I haven't found the problem.

[2016-12-06 12:53] digitalentity commented on #866
Ok, this is not affecting other targets by coincidence.

NAZE target have PWM3 and PWM4 channels dedicated for PWM receiver, and those are shared between UART2 and PWM inputs. I'll fix the underlying issue. Stay tuned.

[2016-12-06 12:58] digitalentity commented on #842
PR in place. Closing.

[2016-12-06 12:58] #842 closed, assigned to nobody

[2016-12-06 12:58] Linjieqiang commented on #866
But what should I do to let my new mini copter fly?

[2016-12-06 13:12] digitalentity commented on #866
@Linjieqiang have a look at 34ae508b1cc720f38164c38d2818bbfbfde8c057

[2016-12-06 13:12] Linjieqiang commented on #866
OK.Let me have a check.

[2016-12-06 13:19] Linjieqiang commented on #866
I just had a try and it worked!Amazing!Thanks @digitalentity

[2016-12-06 13:19] #866 closed, assigned to nobody

[2016-12-06 13:21] digitalentity commented on #866
@Linjieqiang no problem. It's a long lurking issue. We have only a few F1 targets, so we never noticed before.

[2016-12-06 13:24] Linjieqiang commented on #866
OK.I closed the issue.

[2016-12-06 13:41] digitalentity commented on #830
I believe it will be more confusing for end users. I'd rather keep one setting per behaviour modifier. Currently `nav_rth_alt_mode` defines the way RTH altitude is chosen. I don't want it to control something else. It will also make the code less readable.

[2016-12-07 03:16] fightersky opened #874 "Problem with Naze32 rev 6 - external mag not detected in inav 1.4"
Hi
I'm trying to setup external mag in inav, but after  I  set align_mag = CW270FLIP in CLI, magnetometer is greyed out and not detected from then on.  I also have 10 I2C errors. I've installed external mag in cleanflight and it works perfectly no errors or detection issues.
This is my first quad build and I'am no expert.
I also couldn't  calibrate accelerometer using 6 point method, had 4096 erro

[2016-12-07 03:41] MarcoPTG commented on #874
Working great with ublox m6 neo ext mag. For me no issue. Re check the wiring.

[2016-12-07 03:43] digitalentity commented on #874
Please provide output of `dump` and `bootlog` commands.

[2016-12-07 05:15] fightersky commented on #874
plug wrong wire in now naze32 wont boot up, now looking at youtube to unbrick

[2016-12-07 05:23] fightersky commented on #874
how do we output dump and bootlog commands?

[2016-12-07 05:23] fightersky commented on #874
It doesn't work%100

[2016-12-07 06:16] fightersky commented on #874
![bootlog](https://cloud.githubusercontent.com/assets/24424285/20956448/175b6b34-bc9e-11e6-80b6-c18fa34e29ef.jpg)
![dump](https://cloud.githubusercontent.com/assets/24424285/20956497/65ea3190-bc9e-11e6-8760-aaa775f24cda.jpg)
![dump2](https://cloud.githubusercontent.com/assets/24424285/20956562/c96b2bca-bc9e-11e6-9580-e664d37c385b.jpg)
![dump3](https://cloud.githubusercontent.com/assets/24424285/20

[2016-12-07 07:28] 11digits opened #876 "Mag spikes filtering (feature request)"
In some cases I see huge spikes on my quad from the MAG (maybe due to interference) - Would it be possible to implement a sort of filter like the baro ?

[2016-12-07 08:03] fightersky commented on #874
no answer the question??

[2016-12-07 08:06] fightersky commented on #874
that's because the naze 32 rev 6 with external mag doesn't work correctly. Other I see have raised this issue before. Should warn others so they don't spend 3 hrs stuffing around with it

[2016-12-07 08:06] fightersky commented on #874
going to cleanflight

[2016-12-07 08:06] fightersky commented on #874
great help

[2016-12-07 08:24] digitalentity commented on #874
This is not a paid support service, you shouldn't expect instant responses and instant problem solving.

The problem with Naze32 Rev6 is known and related to hardware. Even with other firmwares your magnetometer will eventually fail on you but that will more likely happen in the air.

[2016-12-07 08:24] #874 closed, assigned to nobody

[2016-12-07 08:38] 11digits commented on #876
Would a median filter work for this? I already implemented it using the pre-existing median filter used for baro. Did not test it but compiled ok.

[compass.c.txt](https://github.com/iNavFlight/inav/files/636079/compass.c.txt)

[2016-12-07 15:09] digitalentity commented on #847
Yee-ha! Experimental #878 done!

[2016-12-07 15:13] flounderscore commented on #847
How are you supposed to trigger the launch?

[2016-12-07 15:15] digitalentity commented on #847
It's not for triggering the launch, it's detecting the launch. You just throw the airplane and INAV takes over helping you to reach stable climb.

[2016-12-07 15:30] oleost commented on #847
@flounderscore  https://github.com/iNavFlight/inav/wiki/8.-Navigation-modes#launch---airplane-launch-assistant

[2016-12-08 01:11] TradeCrafter opened #880 "PWM RC not working on CC3D"
https://www.youtube.com/watch?v=zT57Z4heyGw

you can see the oscillating issue on the video, the CC3D flashed with CleanFlight works fine, same with LibrePilot and OpenPilot...

so the only thing i can think of is a bug...

RADIO: FlySky FS-i6
RECEIVER: FS-iA6  6ch

[2016-12-08 08:23] digitalentity commented on #880
Dump? Bootlog?

[2016-12-08 09:14] oleost commented on #880
@TradeCrafter <strike>Just want to inform you that issues is confirmed and they are looking into it.</strike>

EDIT: Not confirmed, was an issue with equipment hookup on first test.

[2016-12-08 09:24] digitalentity commented on #880
@TradeCrafter can't reproduce the issue on my FrSky system using INAV-1.4 and all 6 PWM inputs. Please provide a config dump.

[2016-12-08 10:42] TradeCrafter commented on #880
it was not an hookup on first test, i mounted the F-450, flew and crashed, mounted again... the same issue, reviewed all the setup, wirings, solderings, i've also looked for possible interference, separate wires from power sources, magnetic fields, etc...

i don´t have any logs, right now i got this CC3D flashed with cleanflight, i needed to fly safe, hope to get back on iNAV when arrives my new i

[2016-12-08 10:51] digitalentity commented on #880
@TradeCrafter FYI, I have a FlySky system in transit. Will re-test and try to confirm the bug.

Also can you answer a few questions?

1. What version of INAV were you using?
1. What variant of CC3D firmware were you using (currently there are CC3D, CC3D_PPM1)
1. Did you configure OneShot, softserial or any other features?
1. If you have a CLI `dump` output - it would also be quite good to analyse.

[2016-12-08 10:56] TradeCrafter commented on #880
1,2= tryied: "inav_1.2.0_CC3D_OPBL.bin" and "inav_1.4.0_CC3D.hex"
3- no softserial, using telemetry on uart1, and GPS ublox on uart3, but i also set without this itens, only FC and r/c, still...
4- i dont have a CLI dump...  sorry

[2016-12-08 11:03] digitalentity commented on #880
Ok, I didn't try to test version **that** old (1.2 was relesed over 3 months ago and a lot of bugs was fixed since than). If  you have the time, can you try 1.4 and see if the bug persists?

[2016-12-08 11:06] TradeCrafter commented on #880
sorry my mistake, i updated my last comment, i try the last one for sure, this is the first one i tried...

[2016-12-08 11:08] TradeCrafter commented on #880
i think its not a matter of version... happens on both versions i tried.

[2016-12-08 12:03] digitalentity commented on #880
Ok, FlySky-specific then. This will have to wait until I get the hardware to test.

[2016-12-08 12:09] #769 closed, assigned to nobody

[2016-12-11 10:15] digitalentity opened #887 "Support SoftSerial ports on F4 targets"

[2016-12-11 10:34] digitalentity opened #888 "Unsafe MSP commands are accepted even when ARMed"
- MSP_REBOOT
- MSP_SET_4WAY_IF

This may result in FC reboot in flight or other unsafe behavior either by telemetry or MSP-capable OSD malfunction.

[2016-12-11 13:33] carlonb commented on #546
Hi all,
Just tested the version 1.4 with SP racing F3 and I saw that after arming the altitude (shown on OSD) is not reset.
After a short flight time the baro have a small drift (due to temperature i bet) of about 1 or 2 mt, but after landing, disarm and re-arm, the altitude still +2mt. I'm expect the altitude will reset in order to take off with 0 mt.
Bye
Thanks

[2016-12-11 13:35] digitalentity commented on #546
Altitude is kept at zero (reset) at first arming. Disarming/re-arming doesn't reset the altitude again.

[2016-12-11 14:12] carlonb commented on #546
Yes I saw it, but will this feature implemented in future ?
Thanks
Carlo

[2016-12-11 15:34] digitalentity opened #896 "Built-in OSD reports values that come from sensors, not for position estimator"
I.e. BaroAlt

[2016-12-12 01:28] #888 closed, assigned to digitalentity

[2016-12-12 04:43] #830 closed, assigned to nobody

[2016-12-12 04:43] #847 closed, assigned to nobody

[2016-12-12 08:05] #896 closed, assigned to nobody

[2016-12-12 08:13] digitalentity commented on #851
Fxied by https://github.com/iNavFlight/inav/pull/872

[2016-12-12 08:13] #851 closed, assigned to nobody

[2016-12-12 12:05] #555 closed, assigned to nobody

[2016-12-12 12:05] digitalentity commented on #821
PR ready to merge, closing.

[2016-12-12 12:05] #821 closed, assigned to nobody

[2016-12-13 03:10] digitalentity opened #912 "Version 1.5 breaks IMU"
Accelerometer doesn't seem to be used for self-level correction in latest development. Noticed by @stronnag (https://github.com/iNavFlight/inav/pull/909#issuecomment-266496390). Confirmed on EVO.

[2016-12-13 05:57] digitalentity commented on #912
Bug was initially introduced by 14ec4373118e296e7def28906e75d01dc48690a5 which changed value of `acc_1G` and didn't change the actual sensor resolution. This resulted in incorrect measured gravity vector.

[2016-12-13 05:58] digitalentity commented on #912
Fixed by #913

[2016-12-13 05:58] #912 closed, assigned to digitalentity

[2016-12-13 09:53] digitalentity opened #916 "REVO: I2C error count is skyrocketing if BARO is enabled"

[2016-12-13 10:00] Linjieqiang commented on #287
![image](https://cloud.githubusercontent.com/assets/10217966/21135774/ec6e7a50-c15d-11e6-9927-2b48ac11984b.png)
My board was out.I will push my target support code to this repertory.

[2016-12-13 10:13] night-ghost commented on #916
mentioned earlier software I2C driver [published](https://github.com/night-ghost/ardupilot/blob/master/libraries/AP_HAL_REVOMINI/i2c_soft.cpp). Works fine even with damned MS5611 baro :)

[2016-12-13 10:20] digitalentity commented on #287
Looks good. Does it have external I2C or possibility to disable onboard compass?

[2016-12-13 10:29] Linjieqiang commented on #287
Yeah.It have external I2C and you can remove onboard compass chip.

[2016-12-13 10:30] digitalentity commented on #287
It would be better to have a possibility to disable onboard compass by a solder-jumper or something like that. Removing the whole chips is not a very user-friendly solution.

[2016-12-13 10:32] Linjieqiang commented on #287
But you can identified the chip id by iic.

[2016-12-13 10:34] digitalentity commented on #287
Which compass chips are you using?

[2016-12-13 10:35] Linjieqiang commented on #287
@digitalentity IST-8310.So first step is that I will add ist-8310 device code.

[2016-12-13 10:36] digitalentity commented on #287
Ok, great. So it will be compatible to most GPS modules on the market. Cool.

[2016-12-13 10:37] Linjieqiang commented on #287
Yeah.

[2016-12-13 10:39] Linjieqiang commented on #287
I am preparing the code and pushing to this later.

[2016-12-13 10:40] skaman82 commented on #287
@Linjieqiang great, really would like to put your board in my new 450 build with inav.

[2016-12-13 10:44] Linjieqiang commented on #287
@skaman82 Thanks.

[2016-12-13 11:52] digitalentity commented on #916
Tracked down to ebe5668073eedc0d1282323f7c1331596800e905. Looks like timeout of 40960 dummy cycles is longer than new timeout of 1ms.

[2016-12-13 12:01] digitalentity commented on #916
I2C error count seems to be growing fast only when the board is connected to USB and transfering data.

[2016-12-13 12:09] Linjieqiang commented on #287
@skaman82 I am making a PR on this about my board. https://github.com/iNavFlight/inav/pull/919

[2016-12-13 12:17] digitalentity commented on #916
If I change timeout from using micros() to use a simple counter issue is resolved:
[code]

I wonder if some ISR is taking too long to execute. My first suspect is USB VCP code.

[2016-12-13 12:23] digitalentity commented on #916
I'll make a hacky fix using cycle counter, but we'll have to resolve the underlying issue some day.

[2016-12-13 12:30] night-ghost opened #921 "Improve scheduler with a possibility to yield a long-running task"
and not task switch to scheduler? I don't know how it here but profiling of Arducopter shows 67% of CPU time just in delay()

[2016-12-13 12:34] digitalentity commented on #921
Because scheduler is cooperative, not preemptive. There is no such thing as task switch.

[2016-12-13 12:39] night-ghost commented on #921
What a speed of closing! :) JFYI, even cooperative scheduler CAN switch tasks  -  https://github.com/night-ghost/ardupilot/blob/master/libraries/AP_HAL_REVOMINI/Scheduler.cpp#L562

[2016-12-13 12:41] digitalentity commented on #921
This is not an APM, our scheduler assumes task is never interrupted.
However having a `yield()` for long running tasks might be a good thing. Re-opening :)

[2016-12-13 12:48] night-ghost commented on #921
that code ALSO is not a APM because it is just mine hack, APM has the same problem. See: task calls delay() so scheduler knows than this time is free for another tasks. All that it need is a maximal time in the task before next yield() in tasks to not miss time

[2016-12-13 12:50] night-ghost commented on #921
so all low-priority tasks such as telemetry, LEDS and so on can be scheduled in free time

[2016-12-13 12:51] digitalentity commented on #921
That's already happening with current code - low priority tasks are scheduled only if enough free time is available.

[2016-12-13 12:52] night-ghost commented on #921
how much % of time spent in delay() ?

[2016-12-13 12:53] digitalentity commented on #921
delay is almost never used in run-time code, only in initialisation code.

[2016-12-13 12:56] night-ghost commented on #921
Well then here is much better than in the APM

[2016-12-13 13:01] digitalentity commented on #916
Ok, tried two things:

1. Keeping current `micros()`-driven timeout and increasing I2C_TIMEOUT up to 1 second - didn't help.
1. Switching to a cycle-count-style timeout https://github.com/iNavFlight/inav/pull/922/commits/cdb40a633a215f0416fc2c579f0cd9c20a484320 - fixes the issue.

I'm stuggling to understand why increasing the timeout doesn't help. @martinbudden, @ledvinap do you have any idea why

[2016-12-13 13:05] digitalentity commented on #921
Usually tasks here are designed in such a way that they don't have to wait or keep their own time-driven scheduling for slow events.

[2016-12-13 14:11] night-ghost commented on #916
Just try a 3rd way - not use micros() but compare time in ticks with SysTick value, It's enough to not too much delay. Not forget to multiply time by usTicks

[2016-12-13 14:12] digitalentity commented on #916
@night-ghost do you think that `micros()` might return incorrect values?

[2016-12-13 14:16] night-ghost commented on #916
yes this was in my case, now I use all delays based on DWT_CNT

[2016-12-13 14:24] ledvinap commented on #916
@digitalentity : That's strange, I would expect `micros()` to work now ... Cay you try with lower optimization - `-O2`/disable `-flto`?

[2016-12-13 14:25] night-ghost commented on #916
or try this version
[code]

UPD. Almost the same besides an additional variable

[2016-12-13 14:28] ledvinap commented on #916
@night-ghost : `micros()` shall use this logic when not in interrupt context ...

[2016-12-13 14:30] night-ghost commented on #916
micros() in INAV
[code]
difference is small but it is

[2016-12-13 14:31] digitalentity commented on #916
There's definitely something wrong with `micros()` implementation. Using DWT (and multiplying the delay by CPU MHz) solved the problem. A hacky but working solution.

[code]

[2016-12-13 14:35] night-ghost commented on #916
You can not trust anyone, even the system libraries. Miсros() in that form is copied from the Arduino, which has a fundamentally different interrupt handling

[2016-12-13 14:37] ledvinap commented on #916
@night-ghost: this version of micros shall work: https://github.com/iNavFlight/inav/blob/master/src/main/drivers/system.c#L106-L126

The one you posted won't work in interrupt context (probably both of them)

[2016-12-13 14:39] digitalentity commented on #916
Interesting thing is that timeout event in I2C state machine is triggered precisely after I2C_DELAY elapsed according to `micros()`. If `micros()` would jump, I would be seing larger delays, but I'm not.

[2016-12-13 14:40] night-ghost commented on #916
disabling interrupts before accessing multi-word data is much more reliable :)

UPD it to a previous comment

[2016-12-13 14:48] digitalentity commented on #916
@ledvinap `-O2` or disabling `-lto` breaks I2C - baro is no longer detected.

[2016-12-13 15:05] digitalentity commented on #916
More tests:
Same code (with `micros()`).
I2C_TIMEOUT = 1000 (1ms) - BARO detected, I2C error rising fast
I2C_TIMEOUT = 10000 (10ms) - BARO not detected at all

[2016-12-13 15:16] digitalentity commented on #916
Changed `micros()` to `millis()` and adjusted the delay accordingly - works perfectly. Looks like `micros()` is seriously broken :scream:

[2016-12-13 15:29] night-ghost commented on #916
just add 2 helper functions - uint32_t ticks() which return DWT, and uint32_t time_since(uint32_t tick) which return by DWT time in microseconds from given tick - and forget all micros() and millis() for waiting needs

[2016-12-13 15:40] digitalentity commented on #916
That's probably the best thing to do at the moment, but that's hiding the actual problem, not solving it. The problem is that `micros()` returns incorrect values for some reason.

[2016-12-13 15:46] night-ghost commented on #916
If your code not uses broken micros() at all - this is not a problem :). That function itself is too heavy for just waiting needs

PS. Try to remove in micros() all the madness about prio levels and simply disable interrupts before access to timer's variables

[2016-12-13 18:32] ledvinap commented on #916
@night-ghost : As @digitalentity said - it's not a good idea to mask actual problem ...

There is some errata for F1 processors, I2C must be handled immediately in some context. Using top priority group is one possibility. I implemented workaround in my local branch (higher priority for timer did break I2C), here is the commit: https://github.com/ledvinap/cleanflight/commit/5f9354fbefd199a3ef757f1

[2016-12-13 18:40] ledvinap commented on #916
BTW: The idea of short-timespan timer function for delays good one.
One possibility is to let systick run to maximum period (24bit of ticks, ~0.2s) and adapt `millis()` use systick value in similar way as `micros()`.
I did it this way: https://github.com/ledvinap/cleanflight/blob/local/src/main/drivers/timer.c#L809, it assumes millis is called at least once per `micros()` overflow (my code uses ge

[2016-12-13 19:21] night-ghost commented on #916
Remove affected by cancer organs is not masking - it is the treatment.

[2016-12-13 19:25] night-ghost commented on #916
the worst idea I've ever heard. If we have not working micros() then let's break millis() too, sure?

[2016-12-13 19:53] ledvinap commented on #916
@night-ghost : I'm quite confident that `micros()` does work ... at least the one in master. And if it doesn't, it can be fixed
The idea was to get very fast (single-read) 24bit tick counter for operations where 200ms is enough.

[2016-12-14 04:39] digitalentity commented on #916
Whoohoo! Fixed.
Looks like `micros()` wasn't the root cause. The root cause was not waiting for `STOP` condition to clear which caused the next transaction on the bus to start too early. Anyway, I'll be using new `ticks()` function (based on DWT) to check for timeout - it has much smaller overhead than `micros()` and all our CPUs have DWT capability.

[2016-12-14 06:55] digitalentity commented on #916
As a side-effect I've done an upgrade to CMSIS v5.0 - works fine.

[2016-12-14 07:37] digitalentity commented on #916
Fix merged. Closing.

[2016-12-14 07:37] #916 closed, assigned to nobody

[2016-12-14 14:14] digitalentity opened #926 "OSD - navigation-specific indications"
For best user experience we need to add a few more things to OSD:

- UAV heading indicator
- GPS coordinates
- HOME distance
- HOME direction
- Next waypoint direction (for WP mode)
- Total trip distance

[2016-12-14 14:16] #861 closed, assigned to nobody

[2016-12-14 14:29] digitalentity commented on #860
Any news?

[2016-12-14 14:34] digitalentity commented on #794
PPM input is on S6_IN for compatibility with LibrePilot. We are not going to change it back to S1_IN. I also don't see much sense in hacking CC3D anymore. F1 boards are EOL, we are supporting them as long as they are used, but they are not recommended for newer setups.

[2016-12-14 14:34] #767 closed, assigned to nobody

[2016-12-14 14:35] digitalentity commented on #727
@krzysztofmatula can you please check latest development? Keep in mind that you need to explicitly set the `mag_hardware` now.

[2016-12-14 14:36] digitalentity commented on #734
@HaukeRa how is it going with Quaternion self-leveling code?

[2016-12-14 14:47] #569 closed, assigned to nobody

[2016-12-14 14:47] #578 closed, assigned to nobody

[2016-12-14 14:49] #600 closed, assigned to nobody

[2016-12-14 14:49] krzysztofmatula commented on #727
I will check it within a couple of days and let you know.
Just statically however, as the quad if not currently flyable (ESC failure while flying - I was wondering if it is related to latest change to motor_pwm_rate=2000, but maybe it is just coincidence. I was using 18A KISS ESC).

[2016-12-14 14:50] digitalentity commented on #727
Static test will do just fine. We've made a lot of changes to i2c driver code and sensor detection retry code - should be more robust now.

[2016-12-14 14:52] krzysztofmatula commented on #727
Yes, I think so. Also the weather is more for cold-temp tests rather than for flying :)

[2016-12-14 20:50] krzysztofmatula commented on #727
OK, just checked latest development (eeaa20af).
My issue is NOT solved:
- MAG is detected well in room temperature
- MAG is not detected outside the window (~2degC):
[code]
- MAG is again detected after soft reboot (save from configurator):
[code]

[2016-12-14 20:54] bk79 opened #931 "no baro and mag detected on SPREVO on eeaa20a"
this is the status and bootlog
# status
System Uptime: 32 seconds, Voltage: 0 * 0.1V (1S battery - NOT PRESENT), System load: 0.01
CPU Clock=72MHz, GYRO=MPU6500, ACC=MPU6500
Sensor status: GYRO=OK, ACC=OK, MAG=NONE, BARO=NONE, SONAR=NONE, GPS=NONE
Stack size: 2048, Stack address: 0x10002000
Cycle Time: 2010, I2C Errors: 0, config size: 2032

# bootlog
Time Evt            Description  Parameters

[2016-12-14 20:56] stronnag commented on #931
Expected behaviour. For 1.5 you need to explicitly set the hardware. Thusly:
[code]

[2016-12-14 21:11] bk79 commented on #931
Not exactly user friendly...i don't think less expert people to mess with
cli to find the correct hw

Il 14/dic/2016 21:56, "stronnag" <notifications@github.com> ha scritto:

[2016-12-14 21:14] stronnag commented on #931
They can find it from the wiki and enter the values in the updated configurator. Maybe even that can get automated from the FC identification. Given the myriad of problems with auto-detection, this will at least be reliable. Care to close this non-issue?

[2016-12-14 21:16] bk79 commented on #931
Close it

Il 14/dic/2016 22:14, "stronnag" <notifications@github.com> ha scritto:

[2016-12-14 21:17] #931 closed, assigned to nobody

[2016-12-14 23:14] krzysztofmatula commented on #727
Such change still works for me:
[code]
My MAG gets detected after a number of tries, sometimes 3, sometimes 8 or 9:
[code]

[2016-12-14 23:39] krzysztofmatula commented on #727
Also checked with DETECTION_MAX_RETRY_COUNT set to 1000 and no delay - no success...

Also checked with 1000 retries and 1ms delay:
[code]
And here - success, but close to 1000 iterations:
[code]

Conclusion: it needs time. No matter if I sleep by 100ms or by 1ms, it finally gets detected after ~1s. What's interesting however, simple increase of EXTRA_BOOT_DELAY doesn't help...

And I observe it n

[2016-12-15 04:50] wolflonezx11 opened #932 "inav 1.4 Y6 Mixer"
HI

inav 1.4  Y6 Mixer .. NO
I do not have a choice
Let me know
Y6 I want to make a copter.
Please.

[2016-12-15 05:24] digitalentity commented on #932
What board? Exotic mixers are not available on F1 boards like CC3D & NAZE.
You can always make a custom mix https://github.com/iNavFlight/inav/wiki/Custom-mixes-for-exotic-setups#hexa-y6

[2016-12-15 05:38] digitalentity commented on #931
Autodetection caused all kinds of issues, it even may misdetect MS5611 for BMP085 (or vice versa I can't remember). It may also cause problems if more than one chip is available on the bus - i.e. it may result in onboard compass being used instead of external one.

While new solution is a bit less user-friendly it's considerably more robust.

[2016-12-15 05:45] digitalentity commented on #727
I'd say it's a hardware problem, but adding a retry delay is a wise thing.

[2016-12-15 05:54] wolflonezx11 commented on #932
NAZE32 F1  Board
Please.

[2016-12-15 05:55] digitalentity commented on #932
Use custom mix from the link provided above

[2016-12-15 05:55] #932 closed, assigned to nobody

[2016-12-15 06:23] bk79 commented on #931
It would be nice to have the possibility to configure it from the
configurator l

Il 15/dic/2016 06:38, "Konstantin Sharlaimov" <notifications@github.com> ha
scritto:

[2016-12-15 06:40] digitalentity commented on #931
That's the idea!

[2016-12-15 06:52] digitalentity opened #933 "FW - differential thrust doesn't work in PASSTHRU mode"
With dual-motor configuration + differential thrust mixer on airplane motors are always mixed from stabilisation PID output. This causes stabilisation to counteract Yaw stick in Passthrough mode.

Solution: in PASSTHRU mode motor mixer should use raw sticks as well, PID should be completely ignored.

[2016-12-15 07:31] miradarya commented on #474
As this currently doesn't seem to be linked to any milestone, I was wondering if there are still plans to implement the notch filter. I personally think that large quads using inav would benefit greatly from notch filtering due to requiring more D but being noisier at the same time.

[2016-12-15 07:57] wolflonezx11 commented on #860
Thank you

2016-12-14 23:29 GMT+09:00 Konstantin Sharlaimov <notifications@github.com>:

[2016-12-15 07:57] wolflonezx11 commented on #932
Thank you

2016-12-15 14:55 GMT+09:00 Konstantin Sharlaimov <notifications@github.com>:

[2016-12-15 08:45] DzikuVx commented on #860
@wolflonezx11 so does it works now? Can this ticket be closed

[2016-12-15 08:47] DzikuVx commented on #931
@bk79 Configurator will follow shortly

[2016-12-15 08:51] digitalentity opened #934 "ANYFC - UART5 not working"
**First use case: MAVLink telemetry on UART5 @ 57600**
No telemetry data

**Second use case: LTM telemetry on UART5 @ AUTO baud**
Board hangs up a second after boot

@sambas can you look into this bug?

[2016-12-15 08:57] digitalentity commented on #934
Board is hanging in `serialWriteBuf` while waiting for free space in the buffer. Looks like UART5 is not functioning at all.

[2016-12-15 09:23] digitalentity commented on #934
@sambas never mind, I've fixed it. Will submit a PR shortly

[2016-12-15 10:18] #934 closed, assigned to nobody

[2016-12-15 10:30] bk79 commented on #74
@digitalentity any news on this one?

[2016-12-15 16:00] MichaelCWarren commented on #154
Is there any current plan to implement this in the near future?

[2016-12-16 07:35] wolflonezx11 commented on #860
Resolved.
Thank you.

2016-12-15 17:45 GMT+09:00 Paweł Spychalski <notifications@github.com>:

[2016-12-16 08:04] #860 closed, assigned to nobody

[2016-12-16 18:34] DzikuVx opened #938 "Profile change activates Failsafe"
In some cases, changing profile 1 to profile 2 causes Failsafe state to activate when receiver is not connected

[2016-12-17 00:24] digitalentity commented on #938
Hm... I'll have a look

[2016-12-17 00:27] digitalentity commented on #154
That's a low priority at the moment. What types are you interested in?

[2016-12-17 01:54] MichaelCWarren commented on #154
I'm considering writing a mission planning iOS app and was curious what the future of this feature is. The current waypoint types are fine, but it would be neat if we could implement the others...

Michael

On Dec 16, 2016, at 7:27 PM, Konstantin Sharlaimov <notifications@github.com<mailto:notifications@github.com>> wrote:

That's a low priority at the moment. What types are you interested in?

-

[2016-12-17 06:54] digitalentity opened #939 "MSP_SET_MOTOR should have timeout"
See https://github.com/cleanflight/cleanflight/issues/2528 by @eziosoft

I think this is a very good safety feature. It will save us on a very rare occasion, but still, safety should go first in most cases and this feature will make things a little bit more fool-proof.

[2016-12-17 07:48] digitalentity opened #940 "Add possibility to have blackbox rates slower than 1:32"
As suggested by @oleost:

Make blackbox correctly work with rates up to 1:256 to be able to have long flight logging (i.e. GPS track recording) even on targets with small dataflash.

[2016-12-17 11:13] digitalentity commented on #727
I encountered the same problem today with HMC5983. It failed to detect at -25deg on first boot. Power-cycling the board made it work. I wonder why this happens and how to make it robust enough.

[2016-12-17 13:23] digitalentity commented on #538
@anbello, I've found an issue with mpu9250 driver being buggy (possibly was migrated to iNav from Betaflight from Raceflight). Can you please have a look at https://github.com/iNavFlight/inav/pull/941?

[2016-12-17 13:34] digitalentity commented on #154
We will eventually implement more.

[2016-12-18 12:01] digitalentity opened #947 "OMNIMBUS lacks support for PWM7/8 outputs"
This makes Tricopter setups not possible if UART3 is used.

[2016-12-18 14:22] digitalentity commented on #947
Fixed by #948

[2016-12-18 14:22] #947 closed, assigned to nobody

[2016-12-18 19:17] stronnag opened #949 "RFC: GIT_SHORT_REVISION_LENGTH is 7, git now gives 8 digit lengths"
This does not appear to cause any problems for iNav (only to buggy black box replay tools:).
As of recently, `git log -1 --format="%h"` returns 8 characters, as seen in bbox logs.

Please close this if it's of no consequence.

[code]

[code]
[code]
[code]

[2016-12-18 19:22] stronnag commented on #949
This means we get different results in BBlogs (8 digits) and via MSP BUILD_INFO (7 digits).

[2016-12-18 20:00] HaukeRa commented on #734
Sorry I didn't have as much free time due to work as I thought I would have.

I will work on this over the christmas break!

[2016-12-19 07:27] digitalentity commented on #734
No worries!

[2016-12-19 13:50] digitalentity commented on #949
This probably requires fixing.

[2016-12-19 14:33] #887 closed, assigned to nobody

[2016-12-19 14:34] digitalentity commented on #938
@DzikuVx I'm unable to reproduce the issue. What board did you use? Dump will also help.

[2016-12-19 14:37] sambas opened #950 "Organize profile config"
Profile config has some unnessesary items in it that can cause confusion and/or other issues when not set properly.
While working on diff command so far I have found these:
modeActivationCondition_t (cli aux)
adjustmentRange_t (cli adjrange)
servoParam_t (cli servo)
gimbalConfig_t

These could be dropped under master config to be global for all profiles and free some memory (2xsizeof(those)).
Anyo

[2016-12-19 14:37] digitalentity commented on #349
With hardware failure detection in place we can actually address this bug

[2016-12-19 14:38] #343 closed, assigned to nobody

[2016-12-19 14:41] #112 closed, assigned to nobody

[2016-12-19 17:07] stronnag commented on #949
Here's where it happened:
[code]

[2016-12-19 21:14] stronnag opened #951 "1.5RC1 broken on EVO / Tricopter"
The EVO tri servo does not react at all (on arm or to yaw) on builds after 716a4893. There are two obvious culprits (EVO forwarding or other tri work).

Discovered testing #946, the output of which works for (development) 716a4893 but not on cli-diff, which was synced to the more recent commits. Further bisection in progress.

[2016-12-19 21:25] stronnag commented on #951
005062fb works, so (damn it) it's the final EVO channel forwarding commit (6b28d5f9) that breaks it.

And having the diff (thanks  #946 / @sambas ) makes re-configuring / testings so much easier :)

[2016-12-19 22:10] digitalentity commented on #951
Thanks! Will fix asap.

[2016-12-20 08:26] DzikuVx commented on #938
I will try to write more datails and reproduce again.
Setup is: Omibnus F4, X4RSB, SBUS

[2016-12-20 09:09] oleost commented on #938
Tried replicating, no sucess.

Setup AirbotF4. Frsky XSR connected with SBUS.
Changed rateprofile trough Aux1 changing between 3 different profiles. (Setiup using adjustment tab )

Also disconnected the receiver and change profile with rateprofile command in CLI, did not see the failsafe symbol lit up there either.

[2016-12-20 09:29] DzikuVx commented on #938
It was strange because if I remember correctly, it was engaging failsafe only from profile 1 to 2. Not from 2 to 1

[2016-12-20 23:57] digitalentity commented on #951
Fixed

[2016-12-20 23:57] #951 closed, assigned to digitalentity

[2016-12-21 11:51] digitalentity commented on #880
Issue confirmed. @TradeCrafter will you be able to test the possible fix?

[2016-12-21 12:07] digitalentity commented on #880
See https://github.com/iNavFlight/inav/pull/956 for a fix

[2016-12-21 16:10] tonyintn opened #959 "EB185 Drone by Eachine LED Show as 0 remaining"
I am not sure if this has been address, but I have the EB185 Drone by eachine it will not allow me to program the read addressable leds, it always show as 0 leds remaining even though there are 6 in the rear of the quad.
I flash CleanFlight and BetaFlight and it show as 32 available and allows me to program them; Only when I flash with Inav with is prefer will it now allow the leds to program.
I a

[2016-12-21 16:12] DzikuVx commented on #959
Due to flash size limitation INAV does not supports LED on Naze32 target
https://github.com/iNavFlight/inav/wiki/Hardware-and-feature-support-map

[2016-12-21 16:12] #959 closed, assigned to nobody

[2016-12-21 18:14] TradeCrafter commented on #880
i am using openpilot on the FC, but i can re-flash with inav again to try !!
just point me in the right directions ?
is the fix on a new FW release ?
i read "See #956 for a fix"  but just don't understand what to do, seems like any change needs to be done on some C file for handle with pwm capture...

i am happy to help man !

[2016-12-22 08:09] digitalentity commented on #880
@TradeCrafter I made you a hex (OPBL version doesn't fit into memory now). Please try this hex on your setup.

[inav_1.5.0_CC3D.hex.gz](https://github.com/iNavFlight/inav/files/668285/inav_1.5.0_CC3D.hex.gz)

[2016-12-22 13:16] TradeCrafter commented on #880
it worked like a charm, @digitalentity !! bug fixed!!  glad to help !!!

[2016-12-22 13:48] digitalentity commented on #880
@TradeCrafter thanks for testing!

[2016-12-22 14:25] TradeCrafter commented on #880
i'm having some trouble with my 915mhz 3dr telemetry, with older version of iNAV it worked... there's any change needs to be done in order to get it working ?

[2016-12-22 14:27] digitalentity commented on #880
What telemetry are you using? CC3D only supports LTM due to memory limitations

[2016-12-22 15:04] TradeCrafter commented on #880
china cheap ones, running SiK firmware, wich has on config utility the MAVLink or RAW DATA protocols, i read on iNAV wiki, about this forked firmware: https://github.com/stronnag/SiK-MSP

do you know by any means if theres is a chance to use it on my 3dr ?

[2016-12-22 15:08] stronnag commented on #880
You can run any protocol over it (MSP, LTM, Mavlink). The supplied firmware is optimised for mavlink framing, this does not preclude using MSP/LTM. Lots more detail in the wiki https://github.com/iNavFlight/inav/wiki/iNavFlight-Missions

[2016-12-22 15:19] TradeCrafter commented on #880
ok my radios are exactly these: [https://pt.aliexpress.com/item/3DRobotics-400mW-Telemetry-Kit-915Mhz-915-Module-For-APM-APM2-5-2-6-Pixhawk-For-Quad/32251253239.html?spm=2114.13010608.0.0.KtgjVq&detailNewVersion=&categoryId=200001407](url)

i dont have the silabs debug adapter, i got an USB/TTL adapter, can i use it instead ?
this firmware of yours will work on my hardware ?
it needs to get bootlo

[2016-12-22 15:21] stronnag commented on #880
The modified firmware will work. I have the 433Mhz version. You can use an USB/TTL to update the firmware. You do not need to update the bootloader.

[2016-12-22 15:33] TradeCrafter commented on #880
last question: can i use the config utility from 3D Robotics, for windows, to perform the flash ?

[2016-12-22 15:41] stronnag commented on #880
Sorry, no experience of Windows. The GUI from http://vps.oborne.me/3drradioconfig.zip should work on Windows and Linux, for flashing and configuration.

[2016-12-22 15:44] TradeCrafter commented on #880
this is the GUI for windows i use, just cant get to compile the firmware for the radios, using VM on Mint, the ec2tools just wont install...
it will be the same bin/hex file for the 2 radios ? air and ground ?

[2016-12-22 15:55] TradeCrafter commented on #880
can i use the: radio~hm_trp.ihx  ?

[2016-12-22 15:56] stronnag commented on #880
Same firmware for both (it is entirely symmetrical)
http://www.seyrsnys.myzen.co.uk/3dr/radio~hm_trp.ihx or the file from github.

[2016-12-22 17:27] TradeCrafter commented on #880
managed to upload the firmware, and get both radios sync, green lights remains still and get response on local and remote radios, on the FC, i've put LTM on "ports" tab, UART1, marked "telemetry" on "configuration" tab, got red blinks, but no conection with inav trough 3dr... i using 56.700 baudrate on my radios

[2016-12-22 17:31] stronnag commented on #880
So can you post the iNav serial setup (serial in the CLI), and the 3dr setup?

[2016-12-22 18:36] TradeCrafter commented on #880
looks like a joke... i got all 4 ESCs beeping th first 3 fast beeps, but the longer beep after it only came from 3 ESCs, one of them dont beep the second beep, it's okay before flahsing...  i need to go out now, later i will look furhter on telemetry... i just worried about this ESC... (simonk 30A, china red ones)
:(

[2016-12-22 19:14] tonyintn commented on #959
I noticed that in that link provided it says you can compile your own version to maybe for example remove something and add item.
Is it feasible to maybe have a compiled without blackbox and add the LED feature.  If I am asking a stupid question I apologize.  I am just trying to think of a way to get the led feature in my version.  If you can recommend someone that does this I do not mind donating

[2016-12-22 19:32] martinbudden commented on #959
@tonyintn , it would probably be possible to do a build without blackbox and with LED.

Can I ask why you want to use iNav rather than betaflight? The EB185 is a "racing drone" and has no GPS, so why not use betaflight?

[2016-12-22 19:33] stronnag commented on #959
It is entirely feasible, and removing blackbox would probably work for you.
The problem is the huge number of combinations, and the impossibility to satisfy everyone.

http://www.seyrsnys.myzen.co.uk/naze_leds_nobb/inav_1.5.0_NAZE.hex.gz

[2016-12-22 19:43] tonyintn commented on #959
I have added gps to if; a noob I know but I wanted to to have it :) it's has a ublox 8 mini works great all is good just the Leds were not working I do understand why now but I was just trying to get them going.

[2016-12-22 19:46] tonyintn commented on #959
Fat fingers sorry :) I am watching a how to vid now so I can learn how to do it.
Already lost one drone from a flyaway tryng limit my chance of that again by adding gps.

[2016-12-22 23:23] TradeCrafter commented on #880
MAAAAAAN !!!!! you made goo all across town here in Rio de Janeiro to buy another ESC, and when i get it into just doesn't work like the other one... so i flashed CopterControl firmware again and thats it !! ALL 4 ESCs and MOTORS ready to fly again... there´s something on the HEX you sent me...
and i got an different brand ESC for replace now.. i can't believe bro... the issue was on the firmware.

[2016-12-22 23:26] digitalentity commented on #880
Didn't you forget to enable ESC outputs in Configurator?

![image](https://cloud.githubusercontent.com/assets/11059099/21443512/cbcdb5cc-c8f1-11e6-8357-289fca046be9.png)

[2016-12-22 23:32] digitalentity commented on #880
PWM input is now fully functional, #956 is merged, closing this issue.

[2016-12-22 23:32] #880 closed, assigned to digitalentity

[2016-12-23 00:18] TradeCrafter commented on #880
without enabling esc output, no one motors spin... enabling it works only 3 motors...

[2016-12-23 00:32] digitalentity commented on #880
This is strange. From my bench-tests all motor outputs work fine on CC3D+PWM RX, I'll need to test this more, thanks.

[2016-12-23 01:59] digitalentity commented on #949
Fixed.

[2016-12-23 01:59] #949 closed, assigned to nobody

[2016-12-24 07:15] tonyintn commented on #959
Thank you for the file, I am attempting to create it myself using Windows 7 following this video https://www.youtube.com/watch?v=n3Z1fOQJAg8&feature=youtu.be
It compiles but gives tons or warnings similar to the below I am getting the latest inav and syncing with the latest inav 1.5RC2 aganist arm tool chain 4.8-2014-q2.

using
https://github.com/iNavFlight/inav/blob/master/docs/development/Buildi

[2016-12-24 08:55] stronnag commented on #959
You will not get help using an ancient version like 1.2. iNav 1.4 / 1.5 compile cleanly with a modern compiler.
Building the capability you want is very simple, in `./src/main/target/NAZE/target.h`

* remove the comment for `#define LED_STRIP`
* add `#undef BLACKBOX`

[2016-12-24 13:23] digitalentity opened #962 "RTH - return by own tracks"
Keep record of flight track and follow the same path when doing RTH

[2016-12-24 16:23] tonyintn commented on #959
sorry i mean i pulled  1.5-RC2 and arm tool chain 4.8-2014-q2. its builds but gives tons of warning I am not sure if it should do that or are the warnings not important just errors are. I have not change anything in the code yet just trying to build just to make sure it builds first before adding possible additional problems.

[2016-12-24 18:43] stronnag commented on #962
This seems like an ambitious undertaking, and one that seems to require some magical heuristics to be usable. My typical use case is to fly randomly around my field for 15 minutes and then hit RTH to land the machine for me. I'd prefer (and so would my lipos) that the FC did not try to reverse this process.

I can see the use case for 'fly off into the blue yonder and come back avoiding the same o

[2016-12-24 19:40] oleost commented on #962
It's a great feature that of course needs to be user configurable where one chooses which kind of RTH procedure one want.

Different procedure fits different purposes of flying.

[2016-12-25 00:38] digitalentity commented on #962
This obviously will be a configurable option. This feature was requested by long range FPV flyers (mostly airplane flyers) who fly in the woods or mountains - getting into failsafe behind a mountain would cause some bad things to happen when doing a usual RTH, however "fly the route backaward" is much safer in this case.

[2016-12-25 02:41] Linjieqiang commented on #962
Great.Happy to see this feature.

[2016-12-26 06:46] digitalentity opened #964 "Option to bypass emergency landing during initial stage of RTH"
When flying in environment with high chance of loosing GPS fix (i.e. in the mountains) there is a chance that initiating Failsafe-RTH will emergency-land a machine in an unreachable plase, while climbing first may cause GPS module to recover the fix.

Suggest option will allow to ignore GPS loss in initial climb phase of RTH for better safety in such scenarios (default to keep current behavior).

[2016-12-26 11:19] digitalentity opened #969 "Refactor PID configuration/PID control"
Currently we have P, I and D gains in our PID array. This is enough for current PID controller, but definitely not enough for VTOLs which will require two sets of PIDs - one for takeoff/landing (similar to multirotor PIDs), the other for fixed-wing flight.

I suggest that we have for each axis 6 gains in total:

`MC_P, MC_I, MC_D` - for milticopter
`FW_P, FW_I, FW_FF` - for fixed wing

This will a

[2016-12-26 11:21] martinbudden commented on #969
Are you suggesting 2 separate PID controllers, or two instances of a PID controller each with a different set of PID parameters?

[2016-12-26 11:25] digitalentity commented on #969
Two separate PID controllers with different set of PID parameters. These PIDs may share some logic.
MC_PID will be active when multirotor mixer is used, similarly FW_PID will be active for a fixed-wing mixer. For VTOL both will be used depending on flight mode.

[2016-12-26 11:28] digitalentity commented on #969
Simplest thing would be to extend current `PID_ITEM_COUNT` by 3 more items.

[2016-12-26 11:33] DzikuVx opened #970 "Improve Fixed Wing PID controller - Pterm attenuation / Feed-forward control"
Current implementation on PID on FixedWing tends to very active control surfaces behavior even during level flight. This is very visible on small flying wings.

Airplane has enough "build in" stabilization not to require such active Pterm.

Idea is to attenuate Pterm when requested rotation rate is `0` and then scale it lineary to 100% at given rotation threshold.

For example: Pterm is attenuated

[2016-12-26 11:33] martinbudden commented on #969
Yes, that makes sense. The related configurator compatibility changes would be straightforward to handle.

[2016-12-26 11:35] DzikuVx commented on #969
what about output fusion if any control surface can act in both flight scenarios?

[2016-12-26 11:35] digitalentity commented on #970
Makes sense. Another extension - implement feed-forward control which will connect requested angular rate directly to control surfaces bypassing gyroscope and rate error.

[2016-12-26 11:37] digitalentity commented on #969
That's probably up to the mixer. For transition we'll probably have to have both PID controllers active for some time. Anyway VTOLs are distant future.

Instant benefit from two separate PID parameter sets is better defaults for airplanes. Similar thing we have for `NavR` which is used for FW and `Pos/PosR` which is used for MC.

[2016-12-26 11:58] digitalentity commented on #969
Another solution is to extend each PID (pitch/roll/yaw/level etc) to have 6 values instead of 3.

This way we can not only have pitch/fw and pitch/mc parts in one row, but also collapse some PIDs into one (i.e. merge ALT/VEL and POS/POSR).

This will also give us some flexibility for LEVEL PID - I have some extensitions for self-leveling in mind (one being something similar to what @ethomas999 did

[2016-12-26 12:03] digitalentity commented on #969
At the moment I'm unsure what approach to take.

[2016-12-26 12:07] martinbudden commented on #969
I'd be inclined to push this to 1.7. There's already a lot in 1.6 and I'd like to keep up a rapid release cycle. That will also give us more time to think about it.

[2016-12-26 12:10] digitalentity commented on #969
After 1.5 we'll decide what will go into 1.6 - currently I've been moving quite a lot to 1.6 instead of 2.0.
However you are probably right, it's better to have such a drastic change in 1.7. For 1.6 it might be beneficital to refactor PID controller for airplanes per https://github.com/iNavFlight/inav/issues/970

[2016-12-26 12:11] digitalentity commented on #970
Until https://github.com/iNavFlight/inav/issues/969 gets implemented we can hijack D for feed-forward gain (there's no use for D on airplane anyway)

[2016-12-26 12:19] DzikuVx commented on #970
I'd rather not use D. Lets keep it simple and obvious. D is D and let it
stay D

pon., 26.12.2016, 13:11 użytkownik Konstantin Sharlaimov <
notifications@github.com> napisał:

--
Pozdrawiam,
Paweł Spychalski

[2016-12-26 13:15] digitalentity commented on #601
#960

[2016-12-26 13:15] #601 closed, assigned to nobody

[2016-12-26 13:16] #854 closed, assigned to nobody

[2016-12-26 13:17] digitalentity commented on #876
I think it's better to fight the cause, not the consequence - try removing mag away from power wires, twist connecting wires toghether etc.

[2016-12-26 13:17] #876 closed, assigned to nobody

[2016-12-26 14:08] digitalentity commented on #970
@DzikuVx I'm going to do some experiments on this in the following days. Will try different scaling for P-gain (different approaches to TPA), also P-gain scheduling according to rate setpoint and feed-forward control.

[2016-12-26 16:31] DzikuVx commented on #970
OK, looking forward for the results

[2016-12-26 21:34] carlonb commented on #546
Just tested vers. 1.5, but still no altitude reset after every re-arm. The altitude deviation is caused by a baro drift and may be from 1 to 3 mts drifting during a flight. If I fly at very low altitude (let say 5mt) this is a big erratic indication read on OSD.
Sorry if I'm boring you, but this was a nice and simple improvement in MWii and for me very usefull.
Bye
Carlo

[2016-12-26 22:19] oleost commented on #546
Can verify this also on Frsky and / or smartport telemetry ( cannot remember which aircraft I saw this on )

[2016-12-26 23:04] digitalentity commented on #546
Current behavior only ensures that altitude is zero on first ARM. Resetting
altitude on each arming may cause dangerous effects for WP missions.

Maybe we should add an option to reset altitude to zero on each arming?

[2016-12-26 23:25] oleost commented on #546
I know, I'm pretty sure it was on first arm. But I don't remember 100%. Will recheck after nightshift and some sleep. ( 13 hours )

[2016-12-27 10:32] carlonb commented on #546
Yes, I can confirm the altitude is reset on very first Arm.
So, if we will  have an altitude drift after first few fly minutes we must switch the copter off and then switch it on again to reset it.
With this future "option" will be enough disarm and re-arm.
Yes. the option may be selectable by CLI.
Bye

[2016-12-27 10:46] digitalentity opened #974 "Add an option to reset altitude to zero on each ARM"
As discussed here - https://github.com/iNavFlight/inav/issues/546#issuecomment-269243222

[2016-12-27 11:29] digitalentity opened #976 "Allow fully autonomous operation"
Allow a waypoint mission to be executed in a fully autonomous way - arming by telemetry command, launch by LAUNCH assistant, automatic landing via parachute or normal landing glissade.

[2016-12-27 11:32] digitalentity opened #977 "Separate failsafe scenarios for AUTO/NAV and MANUAL modes"
For better user-friendliness we need a smarter failsafe procedure that will act depending on current flight mode and flight conditions.

If UAV is flown manually - RTH (or land if no GPS is available)
If UAV is executing autonomous mission - continue mission

Voltage failsafe/geo-fencing can be part of this "smart" failsafe.

What do you think?

[2016-12-27 11:48] digitalentity opened #978 "Allow more options for Failsafe Stage 1"
Allow all channels to chose from AUTO/HOLD/SET behavior to give more flexibility for configuring failsafe behavior.

[2016-12-27 11:49] digitalentity opened #979 "Fixed wing failsafe landing"
Current "LAND" stage 2 is unusable for fixed wing. For FW we should set pre-defined roll/pitch/yaw/throttle, not only throttle.

[2016-12-27 11:51] digitalentity commented on #978
Some code from https://github.com/iNavFlight/inav/pull/623 might be incorporated here as well

[2016-12-27 17:57] anemostec opened #980 "bidirectional mavlink telemetry"
in order to be able to use other gcs such as tower or mission planner I propose to add the mavlink bidirectional link support to inav.
In order to do that, we will fetch the relatvie code from ardupilot and bring it to inav. Will that be of any interest?
what pitfalls do you see in this dev approach?

[2016-12-27 18:09] stronnag commented on #977
I like this proposal. geo-fencing welcome. Note that there is extant MSP_(SET_)_NAVCONFIG  message permitting the setting / getting of (inter alia) geo-fence radius, however there may be too much legacy junk there and we'd be better to do our own control message.

[2016-12-27 18:43] oleost commented on #977
"If UAV is executing autonomous mission - continue mission" is basically #770

Please make it user configurable. Like for me personally I would never let the aircraft do WP mission by itself.

There are high risk running WP mission without TX control and this should be a conscious choice.

[2016-12-27 18:52] oleost commented on #980
How would this cooperate with MSP?

And is there wiser to have an layer translating mavlink to MSP somehow ?

[2016-12-27 18:55] anemostec commented on #980
the input mavlink telemetry will be used mainly for navigation purpose, thus those input messages will call the exact same navigation function as the MSP messages. MSP is just a layer in between, I don't see the benefit to call them rather than the final destination functions

[2016-12-27 18:56] stronnag commented on #980
I think there is a danger it would make the message parsing layer much more fragile than it is now. As Tower is open source, why not fix it it allow unsolicited telemetry rather than adding complexity to iNav?

Or just use ezgui?

[2016-12-27 18:58] anemostec commented on #980
tower and mission planner are working actually with inav
the waypoints support, flight mode changing is not since the inav mavlink telemetry is just an output one, no input supported yet

[2016-12-27 23:58] liutairan opened #981 "Questions about level flight and hover throttle"
I am using a Naze32 rev 6 with self modified iNav 1.2.1. I need to use XBee to control the quadcopter instead of other joysticks so I changed by using MSP. I did the hardware setup exactly as the page https://github.com/iNavFlight/inav/wiki/2.-Multirotor-guide .

Currently I am facing two problems:
1. I changed the board alignment back and forth to make the quadcopter able to level flight. But wit

[2016-12-28 00:56] oleost opened #982 "Make "Heading Hold" work with rudderless airplanes / fixedwing"
Make "Heading Hold" work with rudderless airplanes / fixedwing

[2016-12-28 07:34] digitalentity commented on #982
Putting this into 1.7 milestone. Not sure we can create something working in 1.6

[2016-12-28 07:35] digitalentity commented on #980
Flight mode changing won't be possible as it's only driven by RC RX driver. Uploading a mission via MAVLink would be nice - you are welcome to submit a PR for bi-directional telemetry.

[2016-12-28 07:36] digitalentity commented on #977
@oleost yes, it's #770. I just want this to be a more flexible failsafe mechanism. I might as well make a failsafe mode matrix (user-configurable) where you'll be able to chose different procedure for different flight mode.

[2016-12-28 07:40] anemostec commented on #980
ok for the bi-directional telemetry, but I still don't understand why we
could not call the function used by the RC RX driver to change the
flight mode

On 28/12/2016 08:35, Konstantin Sharlaimov wrote:

[2016-12-28 07:44] digitalentity commented on #980
Because next update from RC RX will change flight mode back according to transmitter switches.

[2016-12-28 07:47] anemostec commented on #980
oh ok, got you

but we could put a global variable to tell RC RX to not change flight
mode back if flight mode was already changed by telemetry unless the
user willingly change the RC RX switch position

On 28/12/2016 08:44, Konstantin Sharlaimov wrote:

[2016-12-28 12:24] night-ghost opened #984 "SBUS on PPM pin?"
Does INAV supports SBUS on PPM pin? If no I just finished debugging of universal PPM/SBUS/DSM input driver by timer compare channel.

[2016-12-28 15:00] digitalentity opened #985 "It's possible to overwrite HOME position in flight"
We don't protect WP#0 (HOME) from being overwritten using MSP_SET_WP. We don't even have it protected by `NAV_GCS` mode. In presence of noise on MSP connection we can have a malformed MSP_SET_WP command changing our HOME which will cause RTH to fly in random direction.

Possible solutions:

1. Have WP#0 protectected by `NAV GCS` mode
2. Remove the possibility to modify HOME position by telemetry (

[2016-12-28 15:04] tonyintn commented on #959
think I figured it out, I was pulling the  4.8-2014-q2 version but when I pull the most current 6.2 2016q4 it build without any warnings.

[2016-12-28 15:22] oleost commented on #985
I believe DJI has the ability to have home position updated to position of controller ( phone GPS )

This is example if on a moving boat, walking / driving while filming an road etc

[2016-12-28 15:33] martinbudden commented on #985
As I understand it, that's how "follow me" works - by continually updating the home position. Maybe that's not the best way to do it, but I believe there are people who use it in that manner and so it shouldn't be removed until there is a better alternative.

[2016-12-28 15:39] digitalentity commented on #985
@martinbudden "follow me" works by modifying WP#255 (current PosHold position), home is not touched in this mode.

[2016-12-28 16:04] wilco1967 commented on #985
Great to hear I might have accidently contributed finding this issue... ;-)
I think, home should never be modified by anything once armed.

Another suggestion is don't allow arming if the first waypoint is more than say a 100 meters from 'home', or when the total WP mission (and back home if it doesn't end near 'home') is more than say 5 km (preferably adjustable by some configuration setting).

C

[2016-12-28 20:44] oleost commented on #985
Is there isn't a way to simply bulletproof waypoint changing?

Like example followed by new home coordinates an valid hash sum of the coordinates must also be sent by the groundstation?

Also it could be additional configurable to be allowed to change homepoint.

[2016-12-28 21:07] martinbudden commented on #985
There are a number of good suggestions here, to enumerate:
1. Have specific configuration setting to allow home waypoint to be changed after arming.
2. Have specific configuration setting to allow other waypoints to be changed after arming.
3. Do not allow home waypoint to change by more than say 100 meters.
4. Add checksum or CRC to waypoint change command to guard against inadvertent changing.

[2016-12-28 21:07] stronnag commented on #985
I don't see how we have any evidence to show that the home position was changed by the CGS. From the narrative so far, I do wonder whether there were some other memory integrity issues with the hardware "After I changed the battery, ... I noticed the old route was still partly in memory, but with a few random stray waypoints added". It is also the case that the MSP checksum is weak (compared to ei

[2016-12-28 21:41] wilco1967 commented on #985
@stronnag
Correct, we don't have any hard evidence, just a guess.
But still, I think home waypoint should not be easily changed.... even if it may or may not have caused this fly-away, the potential shouldn't be there in the first place.
I had problems with configuration corruption using the same 433 UART radio link, on Multiwii before.... From what I understood, it seems the uart radio software i

[2016-12-28 22:11] wilco1967 commented on #985
some additional information:

my datalink is as follows
2x 100 mw Orange open LRS RX modules. one operating as Tx, the other as Rx.
mounted in the module bay of my Taranis radio.
Taranis PPM out signal is connected to the 433 module, and is sent out. but iNav is configured to PPM signal from the Frsky XSR transmitter so I assume it ignores the control signals it receives via MSP-RX protocol. This

[2016-12-29 02:04] digitalentity commented on #985
For the time being I'll only allow to modify WP#0 (home) and WP#255 (hold) if `NAV GCS` mode is activated from radio. This will somehow increase safety until we implement more checks.

[2016-12-29 02:17] digitalentity opened #988 "Waypoint mission sanity protection"
Prevent "crazy" missions when waypoints are set too far away from each other.

Might help with https://github.com/iNavFlight/inav/issues/985

[2016-12-29 03:28] dbechth opened #989 "RX_Parallel_PWM AETR1234 Channel Map Broken in 1.5RC3 for Naze"
The channel mapping appears to be broken in 1.5RC3 for the Naze hardware. Flashing 1.5RC3 with full chip erase and then setting receiver mode to RX_Parallel_PWM causes ThrottleStick to come in as Aux1, YawStick comes in as Aux2, Aux1Switch to come in as Aux3, and Aux2Switch to come in as Aux4. RollStick and PitchStick do not seem to come in anywhere. I have switched back to 1.4 stable as a sanity

[2016-12-29 04:04] digitalentity commented on #989
Please upload the full dump of your configuration. Also please provide information about what board are you using exactly - there are several variants of NAZE boards.

[2016-12-29 04:12] digitalentity commented on #989
Also, please test if the issue is solved in this hex.
[inav_1.5.0_NAZE.hex.gz](https://github.com/iNavFlight/inav/files/676581/inav_1.5.0_NAZE.hex.gz)

[2016-12-29 04:27] dbechth commented on #989
The board is a NAZE32 Rev6. See full 1.4 dump below. I have tried loading this to 1.5RC3 with the result described above. I will try the .hex you suggested and report back.
[inavv1.4 12-28-2016.txt](https://github.com/iNavFlight/inav/files/676592/inavv1.4.12-28-2016.txt)

[2016-12-29 04:38] dbechth commented on #989
I loaded the .hex and my cli dump and everything looks as expected. Its too dark to fly right now but ill try to fly tomorrow after work. Thanks for the ultra fast response! Please let me know if there is anything else I can test.

[2016-12-29 04:40] digitalentity commented on #989
Great, thanks for testing!

[2016-12-29 04:40] digitalentity commented on #989
Fixed

[2016-12-29 04:40] #989 closed, assigned to nobody

[2016-12-29 04:44] digitalentity commented on #988
Some suggestions from another thread:

[2016-12-29 04:45] digitalentity commented on #985
I'll keep this open and move to 1.6 so we can discuss further and make better protection

[2016-12-29 05:01] digitalentity opened #991 "Run-time compass check"
I figure failing compass is one most common cause of fly-aways. We need to implement run-time checking that compass is alive and kicking and treat compass loss the same way we do with GPS loss.

Also, compass failure in PosHold while GPS is still working good may result in FlyAway as PosHold controller doesn't protect itself against incorrect heading.

[2016-12-29 08:21] martinbudden commented on #991
That sounds a good plan.

[2016-12-29 10:46] Schalonsus opened #992 "FW - Auto Launch - linear throttle ramp up"
Linear throttle ramp up for fixedwing auto launch mode to prevent ESC from getting out of sync if using with feature "Motor Stop"
~This feature is already implemented in other nav modes.~
As discussed in forum, 100ms ramp up should be enough.

[2016-12-29 10:48] digitalentity commented on #992
Just to clarify - this feature is NOT implemented anywhere in the code. Other NAV modes apply LPF to throttle to smooth the possible rapid changes.

[2016-12-29 10:49] digitalentity commented on #992
I'm scheduling this to 1.6 - it's a good thing to have.

[2016-12-29 10:57] Schalonsus opened #993 "ArduSoar support - flying all day with sail plane"
Some guy is porting ArduSoar to Patricks Basflight fork.
Would be nice to have this feature in iNav too.
https://github.com/brm007/baseflight
https://github.com/samuelctabor/ardupilot/wiki/Ardusoar:-Soaring-fork-of-ArduPlane

Of course this is a long term process i think, but having a look at it should be worth.

[2016-12-29 10:58] digitalentity commented on #993
I would really like to understand math behind the code. Any idea if there is any paper on this?

[2016-12-29 11:07] Schalonsus commented on #993
This is all i have found about this topic...
ArduSoar:
https://github.com/pbraswell/ArduSoar
http://diydrones.com/forum/topics/autonomous-soaring?xg_source=activity
http://diydrones.com/profiles/blogs/ardusoar-cross-country-x-plane-simulation

ThermoPilot:
https://github.com/jlnaudin/x-drone/wiki/x-drone:-FX-61-Phantom-flying-wing-THERMAL-SCAN-mode-test-flight-with-the-ThermoPilot-v7.2
http://diyd

[2016-12-29 11:57] oleost opened #994 "Fixedwing - enable landing in last stage of RTH"
After returning home when RTH has been initiated by failsafe it should start descent and then cut throttle.

Suggestion:

1. After returned home continue loiter and start descending using althold controller, at an set rate.
2. When altitude is reached height of example 30 meters cut throttle. ( Go to minimum command ) ( Dont disarm so if pilot can regain control he doesnt need to re-arm )
3. Conti

[2016-12-29 12:02] oleost commented on #994
And I know PatrikE firmware have something like this in his firmware. That have been proved succesfull

[2016-12-29 12:03] digitalentity commented on #994
Good, we need to look into it.

[2016-12-29 12:05] oleost commented on #994
This is what PatrikE replied to me awhile ago:
(Transated from Swedish to English )

Hello,
In Failsafe RTH with GPS.
When the plane arrived home close engine and circle down.
Stages
1 / Enable posHold / Lotier and change the target Altitude to 5m and disarm.
2 / Change target to Altitude 0m.

without GPS
1 / Run engine at Failsafe throttle ~ 20 sec and apply ~ 5 degrees left roll to do a blind ci

[2016-12-29 12:08] oleost commented on #994
https://drive.google.com/open?id=0B-yHzNtOXxbEYnNkQjJ3V2t1eDg

This is his firmware, the source.

[2016-12-29 14:00] digitalentity commented on #970
@DzikuVx weather is not friendly here - sub-zero temperatures down to 30 deg + wind. If you have the time - please have a look at https://github.com/iNavFlight/inav/pull/995. It's built around feed-forward idea (as an experimental code).

[2016-12-29 14:25] DzikuVx commented on #970
Ok, i might have a chance to fly it tomorrow. Will take laptop to the field

[2016-12-29 18:46] stronnag opened #996 "Update atomc.h iaw cleanflight for newer compilers"
https://github.com/cleanflight/cleanflight/pull/2555

[2016-12-29 19:16] stronnag commented on #996
see https://github.com/iNavFlight/inav/pull/997

[2016-12-29 19:16] #996 closed, assigned to nobody

[2016-12-29 22:12] liutairan opened #998 "Does anyone able to use RX_MSP on NAZE32 rev6 with nav 1.4?"
I block out the SKIP_RX_MSP in common.h, but it still doesn’t work with inav 1.4
It used to work with 1.2.1 after I block out SKIP_RX_MSP.

Anyone have idea how to solve this problem?
Thanks!

[2016-12-29 22:35] oleost commented on #998
Try iNav 1.5RC3. if I remember correctly there was a bug which already been reported and corrected.

[2016-12-29 22:56] liutairan commented on #998
@oleost Thanks! I just tried 1.5RC3 and it works. Thanks you!

[2016-12-29 22:58] #998 closed, assigned to nobody

[2016-12-30 15:52] liutairan opened #999 "Level flight problem"
I am using the Naze32 rev6 10DOF with nav 1.5RC3. I am currently facing a level problem that when I am trying to trim the acc sensor, if I change board and sensor alignment roll to -0.9, then my quad will go slowly to the left after taking off, and it I set it to -1.0, it will go slowly to the right after taking off. I found that I cannot set the value to -0.95 or something has one more digit. So

[2016-12-30 15:57] liutairan opened #1000 "Altitude hold with MSP"
I am using Naze32 rev6 10DOF with nav 1.5RC3.

What I am trying to do is click on one button on my computer, then my quad can take off, get to the altitude I set, then keep that altitude for several seconds, then landing.

I am using XBee to do all of this. Now I am able to use my GUI to control it take off, but how to let to go to the altitude I set then keep that altitude autonomously?

Which MS

[2016-12-30 15:58] liutairan commented on #1000
I guess this is part of waypoint navigation or some more low level function, right? But I just don't know what that MSP command is.

[2016-12-30 16:02] liutairan commented on #1000
By the way, I want it hold a very low altitude with sonar. The distance to the ground can be 50cm or 80cm or some value like this.

[2016-12-30 16:11] oleost commented on #1000
https://github.com/iNavFlight/inav/wiki/MSP-Navigation-Messages

https://github.com/iNavFlight/inav/wiki/8.-Navigation-modes#gcs_nav---ground-control-station

[2016-12-30 16:31] liutairan commented on #1000
@oleost
Thanks a lot. These pages really changed a lot since last time I read it. Do you or your team have a plan to develop a cross-platform GCS? I really wish there is one which keep pace with inav updates because if it is related to navigation, GCS is so important.

I ever tried the mwp two months but met some problems with installation.

I will check the updated pages you just mentioned. Thank

[2016-12-30 19:39] stronnag commented on #1000
You can (almost) do what you want with either mwp or ezgui.

* Enable autoland on RTH
* Create / upload a mission with a single POSHOLD WP at the desired altitude

Then:

* Arm the vehicle
* Engage WP mode

The vehicle will take off, fly to the PH WP, and hold there at the set altitude. When you're done

* Engage RTH

Unfortunately, iNav does not (yet, hint) support the MW/MSP Timed POSHOLD WP; if

[2016-12-30 19:45] liutairan commented on #1000
@stronnag Yeah, thanks again! I replied you under your repository, I got it work. Thank you so much.

I checked the GCS page and found your mwptools and some other tools. As I don't have an Android device so I just moved to mwp.

[2016-12-30 19:55] #1000 closed, assigned to nobody

[2016-12-30 22:25] Eric032990 opened #1003 "Roll & Pitch Reversed"
Board: SPRACINGF3 Deluxe
iNav firmware: 1.5.1
Configuration: Ublox M8N GPS hooked up to UART2, Using FC compass. FS-IA6B connected to UART3

Issue explained:  when I connect my FC to iNav the direction of the boar is correct. I changed YAW degree to 270 since I have the USB coming out the side and not the front or back. The problem Im having is that with the quadcopter is sitting flat and facing f

[2016-12-31 02:42] digitalentity commented on #999
0.05 deg won't do you any good. Slightest airflow will cause more drift than such small misalignment. If you want your quad to be able to hold position indoors, you'll have to wail until Optical Flow support is introduced.

[2016-12-31 02:42] #999 closed, assigned to nobody

[2016-12-31 03:04] liutairan commented on #999
@digitalentity So the slightly drift can be solved/corrected after I move my quadcopter to outdoor with GPS, right?

[2016-12-31 03:05] digitalentity commented on #999
Yes, GPS will allow the quad to compensate outdoors if you enable PosHold mode.

[2016-12-31 03:06] liutairan commented on #999
Great, I will try it tomorrow. Thanks~

[2016-12-31 03:08] liutairan commented on #981
I will try the new firmware and move to outdoor with GPS. Thanks anyway.

[2016-12-31 03:08] #981 closed, assigned to nobody

[2016-12-31 08:35] DzikuVx commented on #1003
instead of `set align_board_yaw = -900` try 2700 and check again if it is correct value

[2016-12-31 10:21] oleost opened #1006 "RX - Add support for non-inverted SBUS input"
Original Issue over at cleanflight : https://github.com/cleanflight/cleanflight/issues/1398

Original pullrequest over at cleanflight: https://github.com/cleanflight/cleanflight/pull/1604

Short description: For F3 target that can configure whether port is inverted or not, add abbility to configure it.

This is because apperntly some OpenLRS receivers uses non-inverted sbus signal.

[2017-01-01 12:37] digitalentity opened #1008 "MSP data corruption"
As reported in https://github.com/betaflight/betaflight/issues/1386#issuecomment-259934193.
INAV F1 and F4 targets seem to be affected as well starting from INAV-1.2 and up to latest code.
INAV-1.1. seem to be working fine. Primary suspect - UART/DMA & new IO.

[2017-01-01 12:37] digitalentity commented on #1008
@jflyper, @martinbudden FYI

[2017-01-01 12:47] digitalentity commented on #1008
Bisecting narrowed it down to this specific (in)famous commit f440eadc03ac60d5437369ac1806d15a9c9456f6

[2017-01-01 13:00] martinbudden commented on #1008
I've just had a quick look. The circular buffer handling looks suspect to me. It seems `s->port.txBufferHead != s->port.txBufferTail` is used to indicate not empty. So it looks like there could be a wrapping error.

It may be OK but it just "smells" wrong.

[2017-01-01 13:04] digitalentity commented on #1008
As @jflyper figured out we have large bursts of data when corruption happens so my guess is that we initialize the DMA transfer with incorrect chunk size. No idea why or where it happens.

[2017-01-01 13:10] digitalentity commented on #1008
Interesting thing is that F3 doesn't seem to be affected, however the DMA TX code is the same for all targets.

[2017-01-01 13:33] martinbudden commented on #1008
Code is not quite the same. For F3 we have:
[code]
for F4 we have:
[code]
Although they should do the same, the F3 code is more robust (and easier to read).

[2017-01-01 13:35] digitalentity commented on #1008
This code is not for DMA but for interrupt-driven functionality while the bug lurks somewhere in DMA-driven code.

[2017-01-01 13:36] martinbudden commented on #1008
OK, I'm barking up the wrong tree.

[2017-01-01 13:38] martinbudden commented on #1008
Can you point me to the DMA-driven code you are talking about?

[2017-01-01 13:43] digitalentity commented on #1008
Ok, I think I'm onto something.

Our DMA TX is initiated by `void uartStartTxDMA(uartPort_t *s)` in `serial_uart.c`. Normally it should get called when the buffer is not empty, however, it ocasionally gets called with `s->port.txBufferHead == s->port.txBufferTail` (empty buffer). In this case it will transfer the `256 - txBufferTail` bytes of garbage.

We can simply add protection there, but this

[2017-01-01 13:45] digitalentity commented on #1008
It's actually even deeper than that - garbage is being transfered in other cases as well - not sure what cases exactly yet.

[2017-01-01 15:05] digitalentity commented on #1008
Ok, I'm starting to suspect that it's a reentrance issue. `uartStartTxDMA` is not reenterant, but it may get called from DMA TC ISR and from `uartWrite`. Will continue to dig deeper tomorrow.

[2017-01-01 15:18] jflyper commented on #1008
@digitalentity I'll test if protecting `uartStartTxDMA` with `ATOMIC_BLOCK` works.

EDIT
I think we've got it. Interaction with MWOSD looks clean. Continuing on with configurator now.
... 30min. Errors should be displayed as Packet error at the bottom, right?

EDIT2
Submitted a PR for betaflight, requesting some comments from reviewers.
Fix UART TXDMA corruption betaflight/betaflight#1968

EDIT3
S

[2017-01-01 23:06] Xe54 opened #1014 "SERVO_TILT / Servo gimbal doesn't work on SPRacingF3 (release 1.5)."
I can't get my gimbal working on SPRF3 acro board. Controls for pitch and roll axis are connected to the motor outputs 7 and 8 respectively. The way it is working with the current version of CleanFlight (1.14.2) is to enable SERVO_TILT in configurations and to set Servo 0 and Servo 1 to desired receiver channels (A2 and A3 in my case). Done. But it doesn't work that way in iNav. I would like to kn

[2017-01-02 03:34] oleost commented on #1014
Hi. Could you provide more info:

Your current setup works if you flash cleanflight?
Can you test older iNav versions and check if it worked on any previous versions? If so find out where it stopped working.

Provide both **bootlog** and **dump** output from CLI here.

[2017-01-02 11:29] digitalentity opened #1018 "QUANTON target doesn't work on INAV 1.5"
Firmware hard faults soon after going into the scheduler. Surprisingly latest development is not affected.
HardFault-ing address belong to `taskGyro` function.

So far I have no idea what can possibly cause a hardfault there.

[2017-01-02 12:38] digitalentity commented on #1018
Ok, this is apparently another issue of memory corruption bug. I see `gyro.dev` filled with arbitrary values which don't point to gyro API real functions

[2017-01-02 12:53] digitalentity commented on #1018
Ok, narrowed it down to `pwmDriverInitialize()` call

[2017-01-02 12:56] DzikuVx commented on #1018
I2c issue?

pon., 2.01.2017, 13:53 użytkownik Konstantin Sharlaimov <
notifications@github.com> napisał:

--
Pozdrawiam,
Paweł Spychalski

[2017-01-02 13:02] digitalentity commented on #1018
@DzikuVx not sure yet, but I'm closing in.

[2017-01-02 13:11] digitalentity commented on #1018
Ok, narrowed it down to new I2C code. It's indeed an array out of bounds issue. Fix pending.

[2017-01-02 14:19] digitalentity commented on #1018
Fixed

[2017-01-02 14:19] #1018 closed, assigned to nobody

[2017-01-02 18:54] Xe54 commented on #1014
Hi, I know this issue since iNav version 1.2.0, but it could be older. I could perform some more tests with older versions this weekend if necessary. My setup worked fine with each version of Cleanflight i've tried before (since 1.13.0). Here is my current dump:

# dump

# version
# INAV/SPRACINGF3 1.5.0 Dec 27 2016 / 10:12:30 (bfa1661)
# pflags
# Persistent config flags: 0x00000000
# dump master

[2017-01-02 19:46] dejz opened #1025 "SPRacingF3 accelerometer calibration failed"
I can't get accelerometer calibrated on SPF3 acro board in newest release (1.5 stable) - Accelerometer calibration failed in Pre-arming checks. Acc hardware is recognized properly (MPU6050) and everything works okay in older releases (e.g. 1.4 stable).

Here is my current dump:

# dump

# version
# INAV/SPRACINGF3 1.5.0 Dec 31 2016 / 02:15:51 (37afad6)
# pflags
# Persistent config flags: 0x0000000

[2017-01-02 22:05] DzikuVx commented on #1025
Have you done calibration exactly like here: https://github.com/iNavFlight/inav/wiki/Sensor-calibration#accelerometer-calibration-steps  ?

[2017-01-02 23:01] dejz commented on #1025
Yeah, I did not do it right. It helped. I run through the documentation and haven't noticed this procedure. I'm sure it will help if it will be better exposed.

[2017-01-03 06:50] DzikuVx commented on #1025
In this case I'm closing this. Feel free to open if you find a bug

[2017-01-03 06:50] #1025 closed, assigned to nobody

[2017-01-03 21:30] Viald opened #1029 "Free mag alignment"
Is it possible to set any value to the mag alignment setting ?
The assembly of my quadcopter set the magnetometer to 135° CW but currently the only available values are 0, 90, 180 and 270°

![compass](https://cloud.githubusercontent.com/assets/3048030/21623633/9f3ace62-d203-11e6-9955-98352a3e5b37.gif)

[2017-01-03 21:37] oleost commented on #1029
Atm there is no "proper way of doing this. But there is somehow possible

![image](https://cloud.githubusercontent.com/assets/5670710/21623849/b96723de-d204-11e6-8e63-dad4e11fee56.png)

![image](https://cloud.githubusercontent.com/assets/5670710/21623855/c1bc70de-d204-11e6-9fc0-07a6b9dfed2a.png)

![image](https://cloud.githubusercontent.com/assets/5670710/21623861/cb7a9380-d204-11e6-87a7-a73c581ea

[2017-01-03 21:57] Viald commented on #1029
Thanks for your feedback I'll give a try soon and report here.

[2017-01-04 08:35] isilcala opened #1032 "failsafe_recovery_delay resets to 117 when 'save and reboot' on failsafe tab"
Hi,

Found something weird on my build, not sure if it's just me or someone see the same happens.

Whenever I click 'save and reboot' on failsafe tab, the value of failsafe_recovery_delay resets to 117. I have to go to cli to change it each time. Or it will cause it almost impossible to abort the failsafe procedure because it needs RC link to stay good for 11.7+0.2=11.9 seconds. The craft could be

[2017-01-04 09:08] DzikuVx commented on #62
Also, in case of "fly away" add a condition: if geofence triggered RTH but UAV is still going away, trigger emergency landing

[2017-01-04 09:25] gurkenfolie commented on #1014
inav 1.21 servo output works like it should, the newer tested versions didnt work for me with the same settings (tested 1.3 and 1.5).

dump:
# dump

# version
# INAV/SPRACINGF3 1.2.1 Sep 19 2016 / 08:24:09 (36954a8)
# pflags
# Persistent config flags: 0x00000001
# dump master

# mixer
mixer QUADX
mmix reset
smix reset

# feature
feature -RX_PPM
feature -VBAT
feature -INFLIGHT_ACC_CAL
feature -RX_S

[2017-01-04 09:31] oleost commented on #1014
Please provide dump of iNav 1.5 . Also remember you need to enable pwm output on latest iNav.

And also share "bootlog" dump from iNav 1.5

[2017-01-04 12:08] #1032 closed, assigned to digitalentity

[2017-01-04 12:09] digitalentity commented on #1032
Fix pending merge

[2017-01-04 12:09] digitalentity commented on #1008
@jflyper as a workaround can you submit a PR into `master` to disable TXDMA on all targets?

[2017-01-04 12:31] WaspFPV commented on #1029
@oleost that will not work when the craft is tilted. Magnetic inclination can be as high as 60 degrees depending on where you live. There it will go wrong pretty quickly. The FC needs to know that the sensor is rotated 45 degrees. Proper solution would be free adjustment as OP asked, or maybe just add more options for 45 degrees. Mag calibration works on sensor axes, not craft axes, and is applied

[2017-01-04 12:32] jflyper commented on #1008
@digitalentity Ack.

[2017-01-04 12:32] digitalentity commented on #1003
@Eric032990 I suppose you should use `set align_board_yaw = 900` - you basically rotated the board in wrong direction in Configurator.

[2017-01-04 12:33] digitalentity commented on #1008
@jflyper thank you. Take you time - this is the last bugfix I intend to have in 1.5.1

[2017-01-04 12:36] digitalentity commented on #1029
Mag is read at a fairly low rate so more options transformation shouldn't tax us too high. We can also add an option to mount the mag at a 90deg vertical angle (i.e. if FC is mounted vertically and mag/GPS is horizontal)

[2017-01-04 13:26] jflyper commented on #1008
PR is up. Need regression test.

[2017-01-04 13:47] #1008 closed, assigned to nobody

[2017-01-04 15:15] digitalentity opened #1039 "REVO: M6 output doesn't work."
Hex X configuration, SerialRX S.Bus on UART1. Otherwise default 1.5. M6 is completely dead.

[2017-01-04 15:19] DzikuVx commented on #1039
If you have actual Revo, check pin mapping for Airbot.

śr., 4.01.2017, 16:15 użytkownik Konstantin Sharlaimov <
notifications@github.com> napisał:

--
Pozdrawiam,
Paweł Spychalski

[2017-01-04 15:20] digitalentity commented on #1039
@DzikuVx thanks. Already figured it out - REVO has different pin mapping for M6

[2017-01-04 15:30] digitalentity commented on #1039
Fixed.

[2017-01-04 15:30] #1039 closed, assigned to nobody

[2017-01-04 15:37] #450 closed, assigned to digitalentity

[2017-01-04 15:37] #474 closed, assigned to nobody

[2017-01-05 06:47] digitalentity opened #1044 "CC3D - M3 output doesn't work on 1.5.1"
M3 output doesn't work on 1.5 and 1.5.1 configurations - any mixer.

[2017-01-05 07:21] digitalentity commented on #1044
Looks like PB7 gets remapped from timer output somewhere inside sensor detection code.

[2017-01-05 10:18] #1044 closed, assigned to nobody

[2017-01-05 15:14] digitalentity opened #1047 "FAILSAFE - an option keep failsafe active on signal recovery"
Add an option to keep failsafe active until pilot moves the sticks or switches (configurable).

This way when i.e. RTH was initiated on failsafe the machine will keep doing RTH even if signal is recovered and exit RTH mode only when pilot is ready.

[2017-01-05 16:41] isilcala commented on #979
actually what I'm doing is on failsafe, override an aux channel to set the plane to horizon mode, then with a pre-set throttle it might be possible to land the plane. going to test it out if the weather allows in the coming days.

[2017-01-05 16:43] tonyintn opened #1048 "BLHeli interface Naze32"
This is not a bug just a question I am using the latest 1.51 and have made a custom flash file for my Naze32 by removing the blackbox and adding the LEDs. (Thanks again for the help on how to do this!).

I do understand reading thru the Issues that the BLHeli interface was removed from the Naze32 target due to memory of the F1.
My question is since I have removed the blackbox is it possible for me

[2017-01-05 16:50] stronnag commented on #1047
Good idea. Actually I'd erroneously assumed this was what would happen, as the pilot may not know the link had returned. Explains a lot; but nothing that a bit of epoxy couldn't fix:)

[2017-01-05 19:27] #1048 closed, assigned to nobody

[2017-01-05 20:23] stronnag opened #1049 "1.6.0 (92d8ff86) omits CLI variables"
1.6.0 (92d8ff86) omits a number of important CLI variables from CLI get, dump and diff commands, for example
[code]
Does not return important variables (for backup and restore) such as acczero*, accgain* and magzero*, also many of the align* variables.

CLI is usuable, firmware is not testable.

Note: This fault occurs on at least CC3D, NAZE and SP EVO.

[2017-01-05 21:04] Viald commented on #1029
After calibration, the behavior of the mag is very very strange, sometime it's stable, something not, without trying to fly, just laid on the table...

[2017-01-05 21:21] stronnag commented on #1049
git bisect tells me:
[code]
However, this may not actually be the real failing commit  as I flagged a number of prior commits in the bisect process as bad because:

* They didn't even compile (for NAZE); or
* They failed to boot

This makes development useless for testing other new features (cli-diff, notch, msp_nav_poshold et al).

[2017-01-05 21:23] oleost commented on #1029
The most versitale solution would probably be to add:

This would also fix #86

Could make so configurator only shows current values, but more advanced are allowed with CLI.

[2017-01-05 21:38] Viald commented on #1029
Would be nice :)

[2017-01-05 22:05] martinbudden commented on #1049
@stronnag , this is a side effect of the conversion to parameter groups. As a configuration setting (eg gyroConfig) is converted to a parameter group, it will no longer be available in the CLI. It is still, however available in the configurator.

It will be like this for a week or two, until I have converted a critical mass of configs over to parameter groups, and then I will "flip a switch" and t

[2017-01-05 22:38] DzikuVx commented on #746
MSP_NAV_POSHOLD in #1002

[2017-01-05 22:46] #794 closed, assigned to nobody

[2017-01-05 22:46] DzikuVx commented on #728
Closing, implementation in #920

[2017-01-05 22:46] #728 closed, assigned to DzikuVx

[2017-01-06 04:45] csurf opened #1052 "motor mixer for FLYING_WING and AIRPLANE only supports single motor setup"
I just tried configuring a flying wing using the second motor output on pin #2, but found that it isn't working. After taking a look at the code, I found that these two templates currently only support a single motor on output pin #1. The motor layout diagrams within configurator for these two fixed-wing templates show that both outputs #1 and #2 should be usable for either a single or dual motor

[2017-01-06 05:10] digitalentity commented on #1052
I'd say we should fix this for 1.6 - simply making default mixer use the same mix both motor outputs is enough. It can be extended for differential thrust quite easily.

[2017-01-06 10:28] digitalentity opened #1053 "LAUNCH - add an option to specify launch idle throttle"
From RCG:

[2017-01-06 10:31] skaman82 commented on #1053
@digitalentity wrote you about a possible idea regarding extended autolaunch on gitter

[2017-01-06 13:42] jflyper commented on #1014
@Xe54
- iNav 1.5.1 SPRACINGF3 Gimbal servo works as expected.
<img width="805" alt="2017-01-06 22 32 24" src="https://cloud.githubusercontent.com/assets/14850998/21719369/bd091804-d460-11e6-8846-274e2b56658b.png">

- You have different AUX channels assigned in your dumps (5 & 6 v.s. 4 & 5)

- Don't turn on channel forwarding. That does something totally different.

- bootlog dump is preferred.

[2017-01-06 15:36] gregorg commented on #992
Also, this feature could help to limit twists due to too many prop torque at launch.

[2017-01-06 15:59] martinbudden commented on #1049
@stronnag , a bit more info.

The CLI variables converted to parameter groups are here: https://github.com/iNavFlight/inav/blob/development/src/main/fc/serial_cli.c#L491-L560

The CLI variables not yet converted are here https://github.com/iNavFlight/inav/blob/development/src/main/fc/serial_cli.c#L571-L845

Over the next week or so the first list will get larger and the second list will get smalle

[2017-01-06 16:22] stronnag commented on #1049
Thanks for the update. I'll wait patiently :)

[2017-01-07 02:10] digitalentity opened #1060 "1.5.1 - Board stops responding to MSP when GPS is used"
F4 based boar, connected to PC via MSP.

When GPS is not connected everything works perfectly. As soon a GPS is connected and starts sending out data board stops responding to MSP after a while. LEDs keep blinking so seemingly board is alive, although I'm not sure it is flyable.

[2017-01-07 02:13] digitalentity commented on #1060
Correction - this is unrelated to MSP - board just freezes faster.

[2017-01-07 02:16] digitalentity commented on #1060
Board even stops responding to SerialRX - can't ARM it. Looks like the serial system is messed up somehow.

[2017-01-07 03:19] digitalentity commented on #1060
Hm... the bug is very sporadic - sometimes the board works fine, sometimes hangs up after a few seconds. I wonder what causes the bug.

[2017-01-07 10:26] jflyper commented on #1060
Is this specific to F4?

[2017-01-07 10:43] digitalentity commented on #1060
I have a strong feeling that this is a hardware issue. I've been flying this board today for half an hour without any issues. Also had it sitting connected to PC for quite a while without issue.

[2017-01-07 10:43] Viald commented on #1029
Could it be fixed ?

[2017-01-07 17:05] anbello commented on #538
@digitalentity, sorry for so late reply, I tried 1.5.1 on my Sparky 2 and I have the same noisy reading from accelerometer (most likely a hardware problem), furthermore I don't see the magnetometer anymore.

[2017-01-07 21:43] stronnag commented on #1049
Closing, understand what's happening. I think this is all or nothing. We can really only switch when list 2 is zero entries.

[2017-01-07 21:43] #1049 closed, assigned to nobody

[2017-01-07 23:52] UAV112 opened #1067 "INav and Hardware Failure Omnibus F3"
I have had several Hardware failure notifications on the Omnibus F3. I am using GPS, SD Card as of right now.If i go back to Betaflight i do not have the flashing red light that indicates hardware failure.

[2017-01-08 00:10] digitalentity commented on #1067
At first boot after flashing board is doing autodetection and non-detected sensors *may* be reported as failed. Try rebooting the board.

What sensor icons go red in the Configurator?

CLI `dump` and CLI `bootlog` will also help troubleshooting.

[2017-01-08 08:24] jflyper opened #1068 "Soft serial (F4) : mhz for timerConfigure must take care the timer max clock differences"
If softserial on F4 develop a problem, this one is the first thing to look at.

Timers on F4 have different max clock. serial_softserial.c:serialTimerTxConfig does not take care of it.

Ref: betaflight/betaflight#1849 ([problem statement and fix](https://github.com/betaflight/betaflight/pull/1849#issuecomment-271065630)).

[2017-01-08 09:54] DzikuVx opened #1069 "Add pidProfile.dterm_setpoint_weight to MSP_SET_PID_ADVANCED frame"

[2017-01-08 17:18] HaukeRa commented on #734
FYI: I hacked together a first working version of a PD controller in matlab/simulink just as a proof of concept. Seems to work!

[2017-01-08 22:02] PacciK opened #1071 "PPMSUM compatibility with UltimateLRS"
Would be nice if @digitalentity could widen up the PPM_SUM input parameters to accept the 16 Channel PPMSUM stream, as generated by [UltimateLRS](http://www.itluxembourg.lu/site/ultimate-lrs-2-0-beta/).

The space between each frame seems to be strictly **4.00m**s irrespective of how many channels are used, and at which position they are at ( even 2000uS or more ).

Having a quick look at the code

[2017-01-08 23:43] UAV112 commented on #1067
So, had to make sure all port where set i.e. SBUS, GPS, and do some calibrations i.e., accelerometer, GPS. the only way to get rid of the Multiple hardware errors was to unplug USB push the REBOOT button then replug. then unplug and then replug the USB so i could get connected. That seems to the ended all the hardware errors. Before they were happening every time i plugged in.

Thanks for your qui

[2017-01-09 00:15] PacciK commented on #1071
Felt the need to add that, on failsafe, an UltimateLRS receiver will output just 1 pulse ( the 16 channels disappear, and just the start frame remains ). If needed, I am very willing to help with further oscilloscope screenshots, even a video clip to explain.

PS. I plan to test iNAV on a Bix3, with UltimateLRS for control and serial up/down link, SPRacingF3 board (dampened), Neo-6M GPS, microOSD,

[2017-01-09 04:14] digitalentity commented on #734
@HaukeRa cool! Any change you can show the matlab code to get the idea?

EDIT: I'm trying to get to know quaternion math better, but so far its all somewhat magical for me :smile:

[2017-01-09 08:56] rb1205 commented on #1060
Are you using softserial ports? I had freezes like the one you describe when I had two softserial working on MSP simultaneously (one to a MW_OSD and the other one to a Bluetooth serial interface connected to a PC running the GUI). After few seconds of polling statuses the board (SPRacingF3 evo) froze. Happened costantly every time.

[2017-01-09 10:36] HaukeRa commented on #734
Sure!
Integral controller is also working now.

I'll just so some final testing this evening.

Currently it's written to be easy to understand and easy to work with. There is lots of headroom for optimization. Also there is need for some sanitizing of state variables, as quaternions need to have unit norm, and if they don't calculations are likely to fail.

And don't worry, Quaternion rotation mat

[2017-01-09 11:34] digitalentity commented on #734
@HaukeRa being able to maintail an arbitrary angle even if it's a gimbal lock for Euler angles would be a major breaktrhough - it will open a whole new world of possibilities including tail-sitter VTOL support. Thanks for what you are doing!

[2017-01-09 14:45] tonyintn commented on #1060
I also had this issue a couple of version back on a NAZE32 Rev6 Full version; it would happen if I sit idle once the GPS got a fix; sometime before if is just sits there it would just freeze and not respond I was afraid to fly it feeling that it would freeze while in the air but it seemed that once it was armed the freezing would not take place.   I two also think it has something to do with the c

[2017-01-09 15:43] liutairan opened #1072 "How about add a new feature to enable auto level trim?"
I am considering is it possible to have a new feature to enable auto level trim. When the accelerometer is not properly trimmed, the quadcopter may have drift to one direction. Then the accelerometer will have constant value reading in some direction. Then it can use the readings from accelerometer to make corrections so that the quadcopter not drifting any more.

I am actually suffering from the

[2017-01-09 15:46] DzikuVx commented on #1072
https://github.com/iNavFlight/inav-configurator/issues/61 ?

pon., 9 sty 2017 o 16:43 użytkownik Tairan Liu <notifications@github.com>
napisał:

--
Pozdrawiam,
Paweł Spychalski

[2017-01-09 15:51] Schalonsus commented on #1003
Have the same problem with a F1 target. Also using set align_board_yaw = 2700
I will try if setting it to 900 is the solution asap.

[2017-01-09 15:53] liutairan commented on #1072
@DzikuVx I think it is pretty similar. I think that one actually means when FC is still on the ground? If we can adjust that in the process of flight, that will be great. Because once the quadcopter taking-off, it may hit the ground or any object if manually control it, then the flight will be awful after that.

[2017-01-09 16:18] DzikuVx commented on #1072
In the process of flight you can use https://github.com/iNavFlight/inav/blob/master/docs/Inflight%20Adjustments.md

There is no way to do fully automatic inflight acc level calibration since FC does not have "secondary" sensor that says when UAV is level. GPS can not be used, since it also takes wind drift into account

[2017-01-09 16:30] liutairan commented on #1072
@DzikuVx Thanks for that page.
I think when UAV is not level and drifting there will be readings from acc sensor, so this reading from acc sensor is not enough to indicate it is not level when there is no wind? Yes you are right about the wind drift. This is really a problem.

[2017-01-09 16:47] Schalonsus commented on #1003
Tested "900" and the axes are going inverted.
With "-900" the axes move right but problem persists.
I'm using this board http://www.banggood.com/DALRC-NAZE32-REV6-MPU6050-32-bit-6-DOF10-DOF-Flight-Controller-for-Multicopter-p-1020774.html?rmmds=myorder
Maybe they put a chip the wrong way on the board?

[2017-01-09 18:30] Xe54 commented on #1014
OK, I spent a half of the weekent to figure out what the problem is. And I must confess, I still have no idea. Generally it seems to work, but not with my setup.
My situation is:
1. My setup works properly with any version of Cleanflight
2. My setup doesn't work with iNav regardless of the version
3. A simplier iNav setup works with my 3D feiyu tech gimbal
4. Non of this iNav setups works with my

[2017-01-10 04:18] digitalentity commented on #1003
@Schalonsus so what's the problem exactly?

270 deg is **not** 90 deg - those are direct opposites and both roll/pitch will be inverted between the two.

[2017-01-10 09:04] Schalonsus commented on #1003
The problem is: if i change roll value in configurator it changes pitch axis and vice versa
But in setup tab it moves all right. Just the values are interchanged.
I make a video if you want.

[2017-01-10 09:07] digitalentity commented on #1003
INAV does read sensors in board frame of reference.

Board alignment are relative to board, not to the frame. So once you rotate the board 90deg roll/pitch alignment are switched **relative to frame**.

This about this as of rotating the frame around the board.

[2017-01-10 09:48] Schalonsus commented on #1003
Ok, so this is no problem or bug.
Thank you.

[2017-01-10 20:23] Viald commented on #1029
Any chance to have a fix or a workaround ?

[2017-01-10 23:45] ABLomas commented on #1060
Maybe it's related - SPRACINGF3 board in airplane. MSP and OSD (MW-OSD) ar on the same port, UART1. Works fine on USB-only (so GPS and other stuff is not powered on). Works fine on battery-only (so UART1 is used for OSD data) (both cases - ~25min on desk, not flying - but working fine))
Freezes in few seconds with USB+battery connected (MSP over USB + GPS connected). So far, 8 in 8 tries ;-)
Can't

[2017-01-11 00:09] HaukeRa commented on #734
Still working on it, but the I-controller still faces some issues.
It tends to wind up on certain control inputs, I hope I can solve this without an hard limit. It performs well in an static environment at least! :D

Current state: https://drive.google.com/file/d/0BxJvibam28UTcEhWTG9aS2ViWkk/view?usp=sharing

Issues:
- When error goes to 180° its impossible to determine which way it will choose to

[2017-01-11 00:15] handsomejackuk commented on #1048
Hi Tony, wold you mind sharing this build with me as ihave original naze32 and wold love to get blheli interface working too... and i dont use blackbox either thanks...

[2017-01-11 00:39] digitalentity commented on #734
My initial idea was to keep PID as it is now - separate by RPY axis and use Quaternion P-controller only to do self-leveling. Maybe that's the solution?

Overall - I like the progress! Ability to maintain 90 deg attitude is sooo nice, no more weird rotations when leveling from inverted position - quaternion math will always use shortest path

[2017-01-11 00:47] HaukeRa commented on #734
Ah sorry if that wasn't clear, that's exactly what I'm doing. But I implemented P I and D for the leveling. You need I if you want to combat gyro offset/drift.

[2017-01-11 00:53] digitalentity commented on #734
I suggest we go this incrementally - currently it's a plain old P-controller for leveling. Let's just convert it to quaternion logic as a first step and improve it later. What do you think?

[2017-01-11 00:59] HaukeRa commented on #734
Sure, p-controller is the easiest and most robust one. Is there a quaternion IMU in the codebase somewhere already?

[2017-01-11 01:00] digitalentity commented on #734
Yes, imu.c. It's just that orientation quaternion is internal and is not exposed. I'll start a branch and refactor that a little bit - you can base your implementation on that branch.

[2017-01-11 01:06] HaukeRa commented on #734
Great, I hope I can implement the P-controller within one day then.

[2017-01-11 01:14] digitalentity commented on #734
@HaukeRa I've created #1077 and exposed computed orientation quaternion as `orientation` global.

Self-leveling PID is implemented in `pid.c` in `pidLevel` function, but it is working per-axis, so I believe you'll have to considerably change it.

Also, heading hold is handled in a completely different way. Is there a possibility to ignore yaw axis in your controller?

[2017-01-11 04:59] bk79 commented on #734
When calculating yaw do not use 0-360 but use radians now since for small
angles sin(x)=~x when calculating orientation use sin(sin(x)) and
cos(sin(x)) since sin() is a continous function with no discontinuity

Il 11/gen/2017 02:14, "Konstantin Sharlaimov" <notifications@github.com> ha
scritto:

[2017-01-11 08:21] DzikuVx commented on #1003
OK, since problem solved, I'm closing this one

[2017-01-11 08:21] #1003 closed, assigned to nobody

[2017-01-11 08:32] rb1205 commented on #1060
MSP is not a bus, you can connect at most one running device at a time, and it's expected that stuff goes bad when you have more tha one device sending data to the same port at once, I don't really thing is related to the bug discussed.

[2017-01-11 09:25] rb1205 commented on #1072
You're missing the point. The FC already uses the accelerometer reading as an error feedback to level the mc, so the (average) ouput of the accelerometer on the x and y axes are zero while it's drifting.

In other words, in order to perform an auto-calibration the FC needs different position/speed feedback to know when it's "still", the accelerometer can't do that (unless using advanced algorythms

[2017-01-11 09:28] digitalentity commented on #1072
@liutairan Actually @rb1205 is correct. As far as copter is concerned it is flying perfectly level, however if thrust vector is not aligned with FC Z-axis aircraft will be drifting. FC is unaware of such misalignment. Theoretically GPS can use used to compensate, but it's complicated, not reliable and will probably introduce more bugs than fix.