[2015-05-21 10:19] digitalentity opened #1 "Navigation-rewrite news and changelog"
This is to track and discuss progress of nav-rewrite branch

[2015-05-21 21:42] digitalentity opened #2 "Flight - Unexpected behaviour of NAV_ALTHOLD during takeoff"
If NAV_ALTHOLD is enabled when craft is disarmed and on the ground, altholdInitialThrottle gets initialised to 1000. When we are trying to take off with this, actual throttle is raised slowly and that leads to a possible crash. This needs to be fixed.

[2015-05-22 10:31] digitalentity opened #3 "Flight - NAV_POSHOLD erratic behaviour"
During flight testing today I switched to NAV_POSHOLD mode and copter began to change pitch/roll randomly. Possible causes:
- wrong alignment or flawed calibration of magnetometer
- code error
- unhealthy default PIDs

[2015-05-22 10:32] digitalentity opened #4 "Flight - New default PIDs for navigation"
Need to get some sane defaults for NAV_ALTHOLD PIDs - PIDALT & PIDVEL

[2015-05-22 12:13] digitalentity commented on #3
Found a possible cause - both PITCH and ROLL axis were using the same PID regulator (I and D accumulators were shared). Fixed in effe239d17969e7dc3e3ddf40ee00b8c37145e20, might fix incorrect behaviour of POSHOLD, needs testing.

[2015-05-22 12:31] digitalentity opened #5 "Config - Add a flag to indicate that MAG calibration was done"

[2015-05-22 12:33] digitalentity commented on #5
Will help with #3 (block PH/RTH functions if MAG is uncalibrated)

[2015-05-22 12:46] #5 closed, assigned to nobody

[2015-05-22 12:47] digitalentity commented on #5
Done in 0cb68760daadb5c86e31c471d6a11b6e14455c4f

[2015-05-28 11:25] digitalentity commented on #3
Another bug -  X and Y velocities from IMU are rotated compared to LAT and LON velocities from GPS. When aircraft is heading north this does not affect calculations, but when heading != 0 everything goes wrong. Should be fixed in 8a1efede33883b037388d70f9f3751fd16a03050, needs flight testing.

[2015-06-01 02:47] digitalentity commented on #3
It just occured to me that IMU calculates accelerations in NED coordinates, X axis pointing north and Y - east. I was doing all my calculations for nav-rewrite in wrong coordinates - ENU (X pointing EAST, Y - north)! That's why I was unable to get PH working and crashed into a tree yesterday! I feel a total dumbhead!

[2015-06-01 13:29] marksev1 commented on #3
So when is next test flight planned? :-)

[2015-06-01 13:32] digitalentity commented on #3
Next testflight would be when I get a new GPS module instead of destroyed one. Hopefully it won't take too long... :-)

[2015-06-02 14:35] marksev1 commented on #3
Maybe some sort of environment for testing/simulation (hardware in the loop) "in silicio" could help you in your testing, maybe that qgroundcontrol, treymarc ported msp to it https://github.com/treymarc/multiwii-mavlink-gc
See video here where he tested PatrikE's baseflight for plane stuff: https://vimeo.com/92207766

[2015-06-02 23:41] digitalentity commented on #3
Cool! I'll look into it while I'm waiting for GPS module

[2015-06-05 11:42] marksev1 commented on #3
Be sure to make a video of the simulation, if it looks good :D

[2015-06-05 11:47] digitalentity commented on #3
That would be a "must do". So far I was not able to set HIL simulation, probably need to patch cleanflight firmware to make this work. I was also busy improving ALTHOLD - now it does throttle tilt compensation with completely automatic tuning. Basically, after a minute of slow flight and hovering with ALTHOLD enabled, you can do some rapid flying without touching throttle stick and without loosing

[2015-06-06 12:07] digitalentity opened #6 "Flight - NAV_POSHOLD messes up with yaw control"
When poshold is engaged yaw contorl does not work

[2015-06-06 12:08] digitalentity opened #7 "Flight - NAV_POSHOLD causes copter to jitter"
Poshold introduces alot of jitter to the quad, automatically applied rate control is not smooth. Some sort of LPF is probably needed.

[2015-06-06 12:09] digitalentity opened #8 "Flight - Manual control during NAV_POSHOLD works strange"
Velocity control does not work as expected. It is possible, that problem will go away with proper NAV PIDs tuning.

[2015-06-06 12:12] digitalentity opened #9 "Flight - NAV_POSHOLD messes up NAV_ALTHOLD"
Sometimes engaging poshold when altitude hold is already enabled, causes quad to gain or loose altitude

[2015-06-06 12:13] digitalentity commented on #3
Got a spare GPS module from a local rc model workshop, flight tested some latest bugfixes. 7160efe01cf33d061faf18614ea613c376d8baa5 finally got basic poshold working (https://youtu.be/QSGkQENC3ek). There are some bugs though: #6, #7, #8, #9. As basic POSHOLD functionality is now working, this issue is resolved.

[2015-06-06 12:13] #3 closed, assigned to nobody

[2015-06-07 05:33] digitalentity commented on #6
This line is never executed in PH mode. Moving `adjustHeadingFromRCInput` outside that `if` should fix the problem.
https://github.com/digitalentity/cleanflight/blob/navigation-rewrite/src/main/flight/navigation_rewrite.c#L868

[2015-06-07 05:35] digitalentity commented on #9
This https://github.com/digitalentity/cleanflight/blob/navigation-rewrite/src/main/flight/navigation_rewrite.c#L1053
do not respect target altitude if ALTHOLD is already engaged. Should check for previous `navMode` and set the altitude accordinly.

[2015-06-07 05:54] digitalentity commented on #7
Porting this over might help:
https://github.com/Crashpilot1000/HarakiriWebstore1/blob/master/src/mw.c#L763
Should get and examine some blackbox logs to investigate the cause. Possibly IMU code is overresponsive to vibration. Adding an IIR LPF here https://github.com/digitalentity/cleanflight/blob/navigation-rewrite/src/main/flight/imu.c#L203 might help.

[2015-06-07 09:32] digitalentity commented on #6
ff63e0bc8efbfa38d777e43585fc94752afd9461 should fix this

[2015-06-07 09:45] digitalentity commented on #9
46e70b8e2e9516a34fd74136b26f45b470a7eac4 should fix this. Sinilar issue (with position drift) should have arised when switching between POSHOLD_2D/3D modes. Should be fixed now as well.

[2015-06-07 10:01] digitalentity commented on #7
fa0e6ccda374762663ad057c131e7ec700496a5a should improve the situation. I'll remember of YAGNI and consider adding a LPF to IMU velocities after I get some blackbox logs showing that the jitter is actually there.

[2015-06-09 10:07] digitalentity commented on #9
Tested and proved to be fixed.

[2015-06-09 10:07] #9 closed, assigned to nobody

[2015-06-09 10:08] digitalentity commented on #6
Flight tested. Fixed.

[2015-06-09 10:08] #6 closed, assigned to nobody

[2015-06-09 19:11] marksev1 commented on #1
Congrats on your latest test flight, looks promising :)

[2015-06-10 11:50] digitalentity commented on #4
These values seem to work very well on a 450 sized 1kg quadcopter.
PIDALT: P=0.4
PIDVEL: P=3.8, I=0.006, D=4

[2015-06-10 11:59] digitalentity commented on #2
Added a `lock_nav_until_takeoff` flag to prevent ALTHOLD from messing up with throttle until copter is launched. If coupled with `use_midrc_for_althold` copter can now take off in ALTHOLD mode without much trouble. Should be resolved now.

[2015-06-10 11:59] #2 closed, assigned to digitalentity

[2015-06-10 12:00] digitalentity commented on #7
Applying expo curve to attitude adjustment improved the situation, but jitter is still there. Probably some PosR PID tuning is required.

[2015-06-11 11:06] digitalentity opened #10 "Flight - RTH does not work"
Tried to enable RTH today - resulted in immediate crash. Motors simply stopped. Need to investigate.

[2015-06-11 11:08] digitalentity opened #11 "Flight - Using sticks in POSHOLD + GPS_CRUISE mode result in failure to hold position"
When using sticks to adjust position (mostly yaw stick) copter responds, but after that it fails to maintain position and begins to fly in some direction. Disabling and re-enabling PH stops the drift.

[2015-06-11 12:06] digitalentity commented on #10
219c21ee52ab5b334378c1ff0aa775cee6b114e3 is a possible for for instant disarm instead of graceful landing.

[2015-06-11 12:07] digitalentity commented on #11
219c21ee52ab5b334378c1ff0aa775cee6b114e3 is a possible fix for this. Should confirm that issue persists and if so, record some blackbox logs to investigate further.

[2015-06-11 14:43] marksev1 commented on #1
I'm liking the progress, hopefully the crash during rth didn't do too much damage.

[2015-06-12 00:34] digitalentity commented on #1
Not much - broke an arm and a prop, teared off a wire from one motor. Lots of crashes during development of completely new code was not unforseen and I've got alot of spare parts, fortunately they are very cheap on eBay. I think I've found an issue with RTH, wil try and test again in a few days. Currently the thing that bothers me most is not working manual control during PH (#11) as I have no ide

[2015-06-12 01:48] digitalentity commented on #11
I've decided to create two variants of processing user-control in PH mode: NAV_GPS_ATTI and NAV_GPS_CRUISE (named per NAZA's GPS-Atti and GPS-Cruise modes) - 714b3162ba0f768c6735670ff76a3ab1ae897f9d.
In ATTI mode pilot will control attitude directly, while in CRUISE mode pilot will control general velocity and let the copter figure attitude for itself. I think the current problem might be related

[2015-06-13 08:58] marksev1 commented on #1
Are nav pids transferrable from harakiri?

[2015-06-13 11:50] digitalentity commented on #1
Not really, PIDs behave differently than Harakiri's.

[2015-06-13 11:51] digitalentity commented on #11
This is now limited to GPS_CRUISE mode. So far I'll leave GPS_CRUISE mode alone and stick with GPS_ATTI. After I get everything else workins, I'll get back to this.

[2015-06-13 11:53] digitalentity commented on #8
Closed, see #11.

[2015-06-13 11:53] #8 closed, assigned to nobody

[2015-06-13 11:54] digitalentity commented on #10
Autolanging seem to work now, however `isLandingDetected` does not work properly. RTH itself is still untested.

[2015-06-14 09:44] digitalentity commented on #7
Video of jitter during POSHOLD filmed by onboard camera - http://youtu.be/9tJJ4sl6iJw
The wind was rather strong - about 12-15mph.

[2015-06-14 12:05] digitalentity opened #12 "Flight - Offload wind compensation from navigation PIDs"
Given:
1) Main goal of PH PIDs is to counteract position drift.
2) Main source of drift is wind.
3) Wind is mostly constant in speed and direction with occasionally gusts

Copter can use its velocity estimator to estimate tilt angles required to compensate wind the same way automatic throttle tilt compensation works. When wind compensation is uninitialised or not yet locked on required tilt angles

[2015-06-19 10:49] digitalentity commented on #12
As of 6ec7e15ee6676b312576a4048716d1cab98d0b98 wind compensation works and does it's job rather well. Now copter is able to quickly break from position adjustment to actual position hold. Althoug wind compensation should probably be reset when not used for a while. Need to figure the condition to do the reset.

[2015-06-19 10:50] digitalentity commented on #7
From blackbox logs it seems that actual jitter is caused by heading hold. Will try disabling it and test again tomorrow when my batteries will be all charged.
EDIT: Preliminary fix for this is ready to be implemented in the code, but I need to confirm that heading hold is the cause of jutter.
EDIT2: The problem was actually my re-implementation of heading PID right from the start. Should be fixed

[2015-06-19 12:25] digitalentity commented on #12
Windcomp behaves better than common PIDs when changing attitude. Common NAV PIDs are being reset if pilot is touching the sticks, so when poshold takes over it has to figure the wind from the start - leads to drift. Windcomp is not reset on stick input - wind is calculated in global frame, it does not change rapidly, so PIDs have to compensate only for change in wind strength, not for the wind its

[2015-06-19 12:38] digitalentity commented on #10
Some fixes to autolanding - ignored throttle input from pilot during autoland phase. It should LAND regardless of throttle stick position. If pilot desires otherwise - disable RTH and take over.

[2015-06-19 17:45] dkisselev commented on #10
Just to put this out there - you're not just commenting into the void, I (and I'm sure a few others) are following and paying attention to your progress. I'm really looking forward to trying things out when they approach stability.

Feel free to ping me if you need a second tester for anything. (I might take a few days to get back to you because I need to resolder my GPS, but I'll help out whereve

[2015-06-19 18:24] bubi-007 opened #13 "unneccessary calculations"
https://github.com/digitalentity/cleanflight/commit/6adef51948f198c662cb42c9c49406622529455f

the timeslice is valid for all axis.
there is no need to calculate all individual time slices.

[2015-06-19 22:07] digitalentity commented on #13
What timeslice are you referring to? `accTimeSum` is calculated individually for all axis because reference velocity sampling rate is differect at least for X/Y and Z axis.

[2015-06-19 22:38] digitalentity commented on #13
`imuSampleAverageAccelerationAndVelocity` is called independantly for each axis when sampling is needed and when reference velocity is ready to be updated using `imuApplyFilterToActualVelocity`. This in general occurs at different intervals for X/Y axis (using GPS as a reference) and Z (using sonar/baro as a reference).

[2015-06-20 00:08] digitalentity commented on #10
Good to hear! I've noticed a few watchers to this repo, some also comment on my new code.

You can grab the latest code from navigation-rewrite branch and give it a try. ALTHOLD and POSHOLD are mostly flyable, but please avoid RTH for now - code is there, but it is buggy and mostly untested. I am very interested in testing new code on 250 size copters as I don't have one. Suggestions on default PI

[2015-06-20 09:54] digitalentity opened #14 "NAV - Use raw GPS velocity in calculations"
Current code calculates GPS velocity from coordinate difference. @bubi-007 suggested that raw velocity from GPS unit should be used instead. I think it's worth trying out.

[2015-06-20 09:55] digitalentity opened #15 "NAV - Use GPS altitude for ALTHOLD mode"
Use this together with baro or instead of a baro if none available.

[2015-06-20 10:45] digitalentity opened #16 "NAV - Althold problems"
Setup: use_midrc_for_althold=1, throttle input=1500, altitude drifts. Possible cause - insufficent I-term to compensate for thermals, algorithm flaw, barometer problems.

[2015-06-20 13:21] digitalentity commented on #7
It was yaw indeed. Fixes in 4d5bc1b07745eed38c27d2214a41c571182e36f5 and a4e9f90da3c1b6c7e944d8324cfd1d4e802b83c3

[2015-06-20 13:21] #7 closed, assigned to nobody

[2015-06-20 13:24] digitalentity commented on #12
Sometimes this causes copter to behave strange, especially when wind is gone while adjusting position. As a temporary fix I'm going to lower limit of wind compensation and add a slow decay to zero,

[2015-06-20 13:55] #13 closed, assigned to nobody

[2015-06-20 13:57] digitalentity commented on #14
This can be done by using `GPS_speed` and `GPS_ground_course`, but code MUST check that GPS unit provide these values - it is not a GGA message, it's a RMC message and it can be disabled in GPS module for some reason.

[2015-06-20 14:08] digitalentity commented on #14
GPS data validity addressed in 6375c485a53eea080cd23bf85c0b0b3a75548305

[2015-06-20 14:26] bubi-007 commented on #14
you 'can' disable everything.
but you can subscribe for the velocities in the ned frame:
0xB5,0x62,            // Header             Turn On UBLOX NAV-VELNED Msg
0x06,0x01,            // ID
0x03,0x00,            // Length
0x01,                     // Msg Class    NAV
0x12,                     // Msg ID       VELNED
 0x01,                    // Rate         1
0x1E,0x67,            // CK_A, CK_B

de

[2015-06-21 02:47] digitalentity commented on #14
The navigation code should not depend on a specific hardware feature (in your example an UBLOX GPS module). If GPS for whatever reason does not provide velocity information, navigation code must still function properly.

[2015-06-21 13:01] bubi-007 commented on #14
i just take what works - ublox does and the rest is not so reliable.

[2015-06-21 19:24] marksev1 commented on #1
DE do you have plans for also improving bmp085 althold. I recall harakiri has done some improvements for that baro, but when I was glancing that code I couldn't understand a lot.. :)

[2015-06-21 22:57] digitalentity commented on #1
Probably yes, but currently I'm focused on getting navigation working. When it will be mostly flyable we can think of improving things.

[2015-06-21 23:00] digitalentity commented on #14
Sticking with ublox-specific features would effectively remove support for nmea-only gps receivers. We can detect provided information and use what's best - that would be velocity info if available and coordinate difference as a fallback. This will improve things for ublox users and will not break anything for others.

[2015-06-23 04:19] digitalentity commented on #1
@marksev1, I've looked at Harakiri code for baro, it looks like we've recently implemented the similar filtering in 6e041c57dd00f6e8ec195dc87e3402d9bd8a34c9.

[2015-06-23 10:21] digitalentity commented on #16
Increasing I term to 0.25 solved the problem for some degree. Need to shield the baro from sunlight and test more. Looks like default PIDs for ALTHOLD (#4) need to be revised.

[2015-06-25 13:14] digitalentity opened #17 "NAV - Improve altitude calculations"
1) Use GPS + Baro + Sonar together as altitude sources.
2) Keep track of relative altitude (relative to home) for NAV purposes. If craft is on the ground, unARMed, altitude for NAV purposes will always be zero and gps/baro offset it constantly adjusted.
3) Fuse Baro and GPS together to get the actual climb rate. Combine that with IMU.

[2015-06-27 08:25] digitalentity commented on #12
Well, latest tests indicates that wind compensation does not work as expected. It actuallt tends to amplify compass mis-configuration. With poorly calibrated compass and wind-comensation disabled copter is able to maintain position, but with wind-compensation enabled it is going in circles with increasing speed.
Conclusion: Wind compensation should go.

[2015-06-27 08:32] digitalentity commented on #12
Removed in 7d08c4311c920051c95cba544a03398410ec8950

[2015-06-27 08:53] digitalentity commented on #14
Done in 05c115ba6edb79f5f64f8c756c2787d14e1336d0. Untested.
Edit: It just occured to me that this patch also prevents a possible bug with polled GPS (i.e.I2C-NAV). When no new data is available a polled gps module would return previous data, Coordinate difference would then yield zero velocity which will probably be incorrect. Using last known velocity is a better option IMO.

[2015-06-27 10:29] digitalentity commented on #16
Shielding baro from sunlight helped. Increasing I-term helps as well. However, I've encountered  Engaging ALTHOLD when climbing results in drop in throttle and altitude. Scary. Should record ALTHOLD PID internals to blackbox and investigate.

[2015-06-27 13:45] digitalentity opened #18 "IMU/NAV - Refactor velocity calculation code"
Currently IMU is sampled and updated in many places accross the NAV code. It is logical to keep all velocity-related updates in one place, that would be `imu.c`
NAV would only be responsible to calculating reference velocities and giving them to IMU to keep estimated velocities sane.

[2015-06-27 14:06] digitalentity commented on #18
More thoughts - velocity should be calculated by IMU in `updateEstimatedVelocitiesFromIMU()` function at a fixed rate (i.e 100 Hz)

On new GPS frame in `onNewGPSData()` or scheduled baro update in `updateEstimatedAltitude()` actual position gets updated and reference velocity calculated and fed to IMU via `imuApplyFilterToActualVelocity()`.

This should keep velocity complementary filter separated

[2015-06-28 04:51] digitalentity commented on #18
Done in bdb6ef10898f94480ff2561051a892a5addb2735. Test required.

[2015-06-28 12:58] digitalentity opened #19 "NAV - Remove NavR PID"
Both PosR and NavR PIDs are built to achieve the same goal - convert velocity error to attitude. There is no need to have 2 PIDs as they both take the same input and provide (in theory) the same output.

[2015-06-28 12:59] digitalentity commented on #15
Closed in favor of #17

[2015-06-28 12:59] #15 closed, assigned to nobody

[2015-06-28 13:00] digitalentity commented on #17
Blocked until #4 and #16 are closed

[2015-06-28 13:01] digitalentity commented on #19
Blocked until #10 and #14 are closed

[2015-06-28 15:23] skaman82 commented on #10
I am following your work for a while now. You making great progress! I would like to test your code on my 250 quad. Just need a hex file for the naze32. Where can I get the latest build?

[2015-06-29 01:31] digitalentity commented on #10
@skaman82 thanks! I started placing my dev builds here: https://www.dropbox.com/sh/4r5374mos7471q2/AACppn0Mphw45p-4TJ7lZLlOa?dl=0
**cleanflight_NAZE.nav-rewrite.Jun10.hex** is flight tested, bugs are known and probably fixed in **cleanflight_NAZE.nav-rewrite.Jun28.hex**.
The latter is NOT flight tested and has some new code. It should be flyable.
Please be advised, that default PIDs might not work

[2015-06-29 05:15] digitalentity commented on #17
2b12bbf40929a244ef128fd470136bdde950852d implements logging of climb rates provided by GPS and Baro to blackbox. Need to check their sanity and fuse them together.
Also #20 must be done prior to this issue is addressed.

[2015-06-29 05:22] digitalentity opened #20 "GPS - Modify GPS so it provides MSL altitude in cm"
Current GPS code provides altitude in meters, insufficient for good altitude hold, NMEA is capable of 10cm resolution, should use all available precission.

[2015-06-29 07:17] digitalentity opened #21 "NAV - Landing detection"
Ideas, anyone?

[2015-06-29 11:29] digitalentity commented on #17
Fusion of data from Baro, GPS, Sonar and IMU can use CLT or Kalman filter.

[2015-06-29 16:29] dkisselev commented on #10
@digitalentity what kind of crash was it? Is it something that you could recover from if you see it going sour and flip back to horz while in testing?

[2015-06-29 22:16] digitalentity commented on #10
@dkisselev that was a false landing detection during descent that disarmed my copter 5m above ground. For now I've disabled automatic disarm until a reliable landing detection gets developed #21. Other possible bugs in RTH code _should_ be manually recoverable.

[2015-06-30 10:17] bk79 commented on #21
sonar should help a lot, but if we want to make it without sonar, we can set a fixed descent speed setting, and when we get with speed below a certain threshold we consider it landed and we lower motor again, another check on the vertical speed if no vertical speed is detected in 10 second lowering the motor we can disarm

[2015-06-30 10:39] bk79 commented on #21
another option could be to "train" the landing speed. In altitude hold we have and average value of command, if we can record during hoovering just before landing using PI with tight clamp on low and high level would let it descend slowly. it's not a perfect way but it can be a start in order to have it working

[2015-07-01 00:40] digitalentity commented on #21
@bk79
I like the idea with vertical speed. Current code calculated average vertical velocity every 250ms. If this average velocity is low enough for 5-10seconds and throttle is low enough, we can assume landing.

[2015-07-01 07:10] bk79 commented on #21
how are you going to measure the descend speed? using still GPS? I think that integrating Z axis acceleration would be reliable

[2015-07-01 07:58] digitalentity commented on #21
Current code uses complementary filter to blend accelerometer integration result and altitude derivative from barometer.

[2015-07-01 08:11] bk79 commented on #21
@digitalentity  nice, also sonar would help specially when below 2 m that is actually the last part of descend...a good part would be if (sonar is present and measure is valid and estimated height from baro is < 3 m then use baro derivate for both descent speed and positioning, considering that you added support for i2c_nav board that also has the possibility to read from sonar it would be perfect

[2015-07-01 09:54] digitalentity commented on #16
With default `baro_tab_size = 21` and `baro_noise_lpf = 0.6` barometric altitude gets delayed too much - we can not trust it for velocity calculations. Data would be reliable only on prolonged (several seconds at least) ascent or descent.

[2015-07-01 10:09] digitalentity opened #22 "I2C_NAV - Add support for sonar altitude"
Generic i2c_nav board has pins for connecting a sonar. There should be a possibility to read from it.

[2015-07-01 10:09] digitalentity commented on #21
@bk79
Code that would use sonar for low altitude positioning is already there, but untested yet.
My support for i2c_nav does not include sonar data, only raw gps data is being read and used. Adding support for sonar is a good idea. I'll get to it after nav-rewrite will get to stable state. I've opened an issue for it (#22) so it won't be forgotten.

[2015-07-01 10:12] bk79 commented on #22
I've ordered an I2c_nav board yesterday, as soon as I receive it I'll fork and work by myself to give help, I'm also planning to add maplemini support that is still waiting to get merge from main stream into this.

[2015-07-01 10:20] bk79 commented on #16
using a kalman filters should probably help instead of using a lpf and we get velocty calculation for free

[2015-07-01 10:21] digitalentity commented on #22
Excelent! Eventually I hope to get navigation-rewrite and nav-i2c-gps merged into official cleanflight for everybody's benefit. When forking this repo be aware that _master_ branch is frequently synced to official cleanflight's master. Don't post PR's for merging to _master_ - they will not get merged.

[2015-07-01 10:23] digitalentity commented on #16
I am not a math guy, it you can help with kalman - please don't hesitate to do so :+1:

[2015-07-01 10:31] bk79 commented on #16
there is already an implentation for GPS on Kalma filter https://github.com/lacker/ikalman that's the starting point since it uses the same variables. I have only one concern do we have enough cpu and ram to run it? Kalman filter is very heavy in terms of calculation even if I can assure you that the result is AMAZING, I used it to perform tracking of a coax during my thesis long ago but it was a

[2015-07-01 10:36] digitalentity commented on #16
Thanks for the link, I'll have a look at it. You are probably right, kalman may be too taxing on CPU. However if it will be sufficient to update it with i.e. 1/10 looptime calculations can be split up and executed one-by-one. This needs to be looked into some time. I'll open an issue on this one as well.

[2015-07-01 10:38] digitalentity opened #23 "NAV - Use model-based estimator for navigation (position/altitude/velocity)"
One probability is porting Kalman over from https://github.com/lacker/ikalman.
However I'm blocking this until all parts of navigation-rewrite are working as they are. Improving things with Kalman may only occur once there is something to improve.

[2015-07-01 10:44] bk79 commented on #16
mmm...that's not the solution let me explain a little how it works:
kalman filter has the status and the inputs of the system, according to the actual status and the actual input it will evaulate next status of the system, and the measure incoming will correct pulling the system to converge to the filtered status:
in small terms Kalman evaluate where we are, according to the previous condition of

[2015-07-01 10:54] digitalentity commented on #16
I understand, but taking a snapshot of sensor readings and doing calculations for several cycles can be a solutions for not having enough CPU power to do filter update every cycle. The only drwaback of this is that filter will be updated as less rate, but that's ok since we are limited to about 40Hz for baro and 5-10Hz for GPS. There is simply no point in updating Kalman filter at 400Hz (at 2500us

[2015-07-01 11:03] bk79 commented on #16
mmm...looking that side then we can think of an update  at 40 or also 50 Hz that is the servo signal update not considering oneshot in that case it should not be time critical, what I'm worried about is more about the ram and it comes to my mind the fact that we should focus for now only on one model, bacause a multicopter is not an airplane in terms of variable dependencies (I'm thinking about al

[2015-07-01 11:12] digitalentity commented on #16
Yep, fixed wing support is another problem. However if we use Kalman only for sensor fusion to get accurate position/altitude/velocity information, we should be fine. Control logic will be different for multirotor and fixed wing, but for both models input data is position+altitude+velocity. If Kalman can provide that information at i.e. 40Hz rate we should be fine. RAM is not a big problem - curre

[2015-07-01 12:02] digitalentity commented on #16
@bk79
What do you think of using Central Limit Theorem for fusing sensor data together (pos/alt/vel) https://en.wikipedia.org/wiki/Sensor_fusion#Example_sensor_fusion_calculations
It's fairly simple to calculate even for small cpus and it can fuse together varying number of sensors. The only thing we should know is variances for different sensors, but that's faily easy to figure out. GPS is report

[2015-07-01 12:07] bk79 commented on #16
do you have some logs of the readings of both sensors? if you have them we can calculate the sigmas that would actually mitigate noises quite a lot

[2015-07-01 12:11] digitalentity commented on #16
Not yet, I've just stumbled upon CLT. Do you think it's worth trying instead of Kalman? It looks fairly easy to implement.

[2015-07-01 12:15] bk79 commented on #16
it's not a substitute for kalman but it will work better than an lpf on both, as long as we can calculate the sigma variance (that is actually measurement dependent=sensor dependent). It's nothing else than a normalization of the measure to average values, 90% of the IMU are standard so it could work

[2015-07-01 12:19] digitalentity commented on #16
I'll get this implemented in a few days. Will try it out once I flight test 542a1bf3261a2f19666dd7e8d5e54d28b85e7c9e and 9cf2826ac88f5e839efd5301ae58e41be7148bb1 and close #14. Don't want to make lots of fixes to code and then struggle to figure out which one is failing :smiley:

[2015-07-01 12:57] bk79 commented on #16
if you can implement and log it without using it for flight, we can have a comparison between data

[2015-07-01 13:03] digitalentity commented on #16
Will look into it tomorrow, thanks for the idea!

[2015-07-01 13:04] bk79 commented on #16
if you finish it in time I'll test it as well on my cc3d on the 260 class on the weekend

[2015-07-01 13:09] digitalentity commented on #16
I still need to figure out variances for accelerometer and baro velocities. Will definitely take some time.

[2015-07-01 23:08] digitalentity commented on #12
I'll keep it opened but blocked for the moment. I have a hunch that windcomp might have failed due to some other reason than algorythmic flaw.

[2015-07-02 05:17] digitalentity commented on #16
Some variances for velocity in cm/s:
MPU60x0 accelerometer integration result without deadbanding: 10-30
MPU60x0 accelerometer integration result with acc_deadband=10: 0-10
MS5611 baro (baro_tab_size = 21, baro_noise_lpf =  0.600): 550
MS5611 baro (baro_tab_size = 7, baro_noise_lpf =  0.200): 8000

For baro_tab_size=21 and baro_noise_lpf=0.6 variance is rather low, but has a huge delay (feels like

[2015-07-04 15:58] bk79 opened #24 "GPS going on and off on ublox 6m"
I've got a ublox 6m connected on main port at 57600 bps and gps keeps going on and off even with 8 satellites anybody issuing the same problem?, my setting on ublox are 100ms the standard one set on GPS.md

[2015-07-04 16:28] bk79 commented on #24
got the answer by myself...setting ublox with  NAV-SVINFO rate of 5 will cause the issue

[2015-07-04 16:28] #24 closed, assigned to nobody

[2015-07-05 06:03] bk79 commented on #16
@digitalentity I had a session yesterday I don't know why you have so much noise on baro but my bmp180 looks nice not that much variance I've got the log of one decent flight (then I crashed a couple of times) am I looking at the wrong variables?.
![image](https://cloud.githubusercontent.com/assets/11835018/8510531/568d1e3a-22ec-11e5-995e-e0d3bbe056dd.png)

[2015-07-05 06:22] bk79 commented on #16
@digitalentity I have thought a little about it, if baro is not trustworthy in terms of speed change, simply let's use it heavily filtered only for positioning reference, as for the speed I think that the imu would be much more reliable so let's focus on that for calculating the speed and let's give the baro only the task of telling where we are. The only thing of caring about using the accelerome

[2015-07-05 10:32] digitalentity commented on #16
@bk79
Had a chance to make a very short test-flight today. Forgot to re-tune PIDs after custom filtering was merged to master, so I got lots of vibration on motors. The log for you to see is [here](https://www.dropbox.com/s/wdopb6th3g32kvn/blackbox_log_2015-07-05_195649.TXT?dl=0)
Baro-related parameters:

[code]

We can not rely only on IMU, accelerometer is very sensitive to vibration and if it g

[2015-07-05 10:34] digitalentity commented on #14
Did a test today. Didn't work as good as I thought it will be. However the test was done on poorly tuned copter, so it could be vibration messing up with velocity calculation from accelerometer. Need to re-tune and re-test. If it will work less reliable than coordinate derivative - this will be removed.

[2015-07-06 06:04] bk79 commented on #16
mmm... I had a look  baro reading look similar to mine, but I've noticed that you're a little over weighted, your motors are almost always above the average, that would actually force not easy PID gains have you thought about increasing size of the propellers and have a try with that?

[2015-07-06 06:10] digitalentity commented on #16
My 650-sized fpv quad has a total of about 5.5kg thrust and AUW of only 1.6k (hovers at about 30-40% throttle). The recorded log is from my test copter that is destined to crash alot, so I use the cheapest available parts. It hovers at about 50-60% throttle, that's good enough for trying things out without having to spend alot of money if something goes wrong (that's happen all the time) :-)

[2015-07-06 06:26] bk79 commented on #16
same to me... saturday session I had 3 props and one leg gone because gps issue...one the thing that should be corrected on gps.md is the NAV-SVINFO setting with 100Hz if you set it with a value higher than 2 it will get gps comm on and off with ubox 6m

[2015-07-06 06:47] bk79 commented on #16
@digitalentity I've seen your navDebug[3] doesn't change that much, if you look at my 40 second test looks like having a completely different behaviour

[2015-07-06 06:50] digitalentity commented on #16
Yeah, I noticed. I guess that's due to this function https://github.com/digitalentity/cleanflight/blob/navigation-rewrite/src/main/flight/navigation_rewrite.c#L1617 being called on every gps update. My variance for GPS velocity there is a some random number and that actually ruins CLT calculations.

[2015-07-06 06:58] bk79 commented on #16
yse but that should also affect my recording and that's not happening...how come?

[2015-07-06 07:09] digitalentity commented on #16
No ides yet. I'll temporary remove GPS-related code from CLT and try again.

[2015-07-06 07:11] bk79 commented on #16
what is the model and rate you're using on your gps?

[2015-07-07 14:00] bk79 commented on #22
@digitalentity Why do we have the need of using 32bit to get sonar evaluation if 300 cm is more than too much for valid reading?

int32_t sonarRead(void);
int32_t sonarCalculateAltitude(int32_t sonarAlt, int16_t tiltAngle);
int32_t sonarGetLatestAltitude(void);

[2015-07-07 23:07] digitalentity commented on #22
@bk79 Yes, int16_t should be more than enough, but I would rather keep navigation-rewrite branch free from hardware/sensor/driver-related changes (besides changes that are needed for navigation to work). Improvements and optimizations can wait. You can also open an issue for this on official cleanflight repo.

[2015-07-08 03:51] bk79 commented on #22
That would simplify i2c sonar if you look at i2c-nav code from eosband
sonar register sends one uint16 and since right now I'm trying to figure
out where is the best place where I can put the code: modifying gpsmsg
struct adding one more field to read during i2c GPS reading and then
casting at sonar.c the already taken result; or calculating everything
inside sonar.c  what do you think?

Il giorno

[2015-07-08 05:46] digitalentity commented on #22
Hmm... I would prefer not to mix things up - add i2c-sonar driver that would mostly duplicate i2c-gps driver and periodically read sonar altitude from i2c-nav board. This way we can add support for sonars with native i2c (i.e. Devantech SRF02 http://www.robotshop.com/en/srf02-ultrasonic-range-finder.html)

EDIT: This would slightly increase used I2C bandwidth, but we should be fine.

[2015-07-08 13:57] bk79 commented on #22
@digitalentity I thought different way to put it in, but the only easy way since this is something specific of the i2c-nav board is to set it inside of the i2c-nav gps, adding one more flag to the gpsmsg and one more line for the sonar code. one more request won't change the speed and the same time if the sonar is installled on the board the rest of the code will receive a -1 that means no sonar v

[2015-07-08 14:00] bk79 commented on #22
and this is the code from gps struct

typedef struct gpsDataGeneric_s {
    struct {
        unsigned gpsOk : 1;     // gps read successful
        unsigned newData : 1;   // new gps data available (lat/lon/alt)
        unsigned fix3D : 1;     // gps fix status
        unsigned sonarOK :1;
    } flags;
    int32_t latitude;
    int32_t longitude;
    uint8_t numSat;
    uint16_t altitude;
    uint

[2015-07-09 00:26] digitalentity commented on #22
Imagine having a separate GPS unit on I2C bus (i.e. UBLOX NEO-M8N) and a separate I2C sonar unit. If we have different ways of reading sonar data from i2c-nav and other i2c-based sonars code will be a mess. Very dificult to modify and maintain. I suggest implementing a separate framework for I2C sonars.

[2015-07-09 03:59] bk79 commented on #22
probably you misunderstood the scope of the code I want to implement: i2cnavboard has the capability to connect and  read internally with the actual board version and hc-sr04 cheap board, multiwii has an option to read hc-sr04 from this Navboard. what I want to do is simply to extend your driver to have the already there capability on the cleanflight code. Nav-board doesn't care about the GPS type

[2015-07-09 04:20] digitalentity commented on #22
What you are suggesting is to make I2C-NAV sonar reading part of GPS subsystem. I understand that it is the easieast way to implement sonar support, but this will mix up GPS and sonar drivers. We will have two _different_ ways of getting sonar altitude - one for i2c-nav board (occuring from gps.c and gps_i2cnav.c), another for classic hc-sr04 (occuring from sonar.c and sonar_hcsr04.c). If we will

[2015-07-09 04:31] bk79 commented on #22
Not of the GPS sub system but of GPS i2c nav. Gpsmsg  is only used by the implementation you did on the navboard  I still don't get why the typedef struct is in gps.h and not in i2cgpsnav.h

[2015-07-09 04:43] digitalentity commented on #22
In future we can have another i2c gps module supported. It will also use gpsDataGeneric_t datatype, but it will not be able to provide sonar altitude. Current code is focused on reading GPS data from some GPS module and it does not need to know about the fact that actual hardware is capable of providing sonar altitude as well.
Likewise, sonar driver will read from some sonar module (i2c or not) wi

[2015-07-09 04:44] bk79 commented on #22
OK I'll arrange the code somewhere else

Il giorno 06:43 gio 09/lug/2015 Konstantin Sharlaimov <
notifications@github.com> ha scritto:

[2015-07-14 12:16] digitalentity opened #26 "NAV - Fixed wing support"

[2015-07-16 11:11] bk79 commented on #16
@digitalentity any update the status of the altitude velocity calculation?

[2015-07-17 06:03] bk79 commented on #22
@digitalentity I've finished the driver, but I still don't have the nav board to test it, if you get both hc-sr04 and nav board please have try and let me have a feedback, it should be just a couple of commit behind yours
.https://github.com/bk79/cleanflight/tree/i2c-sonar

[2015-07-17 06:04] digitalentity commented on #16
@bk79
Lots of changed to current code. Found a cause for altitude drop when enabling ALTHOLD. Broken something in POSHOLD in process. Going to flight test and investigate soon.

[2015-07-17 06:05] bk79 commented on #22
@digitalentity I forgot to tell that I've set it as a feature so it should be enabled on the board and for now I've compiled only on CC3D, just add a line #ifdef SONAR_I2CNAV inside any target.h and it will be compiled

[2015-07-17 06:07] digitalentity commented on #22
@bk79
Thanks. I should have a spare I2C-NAV board somewhere in my desk. If I find it I will definitely give it a try.

[2015-07-17 10:29] digitalentity commented on #16
90c49c2b11179fa43a941e444a5966e965b6e645 solves the problem with altitude drop when enabling ALTHOLD mode. Drift is also mostly gone - new IMU works pretty good. The issue of PID tuning still remains, but that could be resolved as a part of #4. No bugs regarding ALTHOLD so far. Closing.

[2015-07-17 10:29] #16 closed, assigned to nobody

[2015-07-17 10:30] digitalentity commented on #14
Did another test today. Was working MUCH worse than plain old coordinate derivative. Closing.

[2015-07-17 10:30] #14 closed, assigned to nobody

[2015-07-17 10:32] digitalentity commented on #18
A bunch of tests resulted in 47aa7a8e25975dab1707ea1960e1fc4fa61439f6. Working very well so far. Closing.

[2015-07-17 10:32] #18 closed, assigned to nobody

[2015-07-18 13:33] bubi-007 commented on #14
the current approach sucks.
bf and cf need a complete rewrite on this subject.

[2015-07-18 13:38] digitalentity commented on #14
@bubi-007
Please assist in getting this working,

[2015-07-18 13:43] bubi-007 commented on #14
first i am integrating altitude hold using gps and accelerometer.
then i go into navigation.

[2015-07-18 14:39] marksev1 commented on #1
Digitalentity, what the latest status on ph, rth and ah?

[2015-07-18 14:47] digitalentity commented on #14
@bubi-007
Can you please share your code?

[2015-07-18 14:50] digitalentity commented on #1
@marksev1
AH and PH work to certain level - require tuning, but algorythms are stable enough. RTH is not so good. Flight test of RTH today was a complere disaster. Nothing related to RTH seem to work. But that's fine - I can recall times when even AH wasn't working.

[2015-07-20 04:17] bk79 commented on #21
@digitalentity  I was wondering if we cannot trust speed calc for now why don't we just perform steps lowering: ie copter is at 400 cm in althold, landing is requested , althold request will ask 375 cm, once there and stable for more than 3-4 s, request  will go down to 350 when hoovering  at 350 setpoint down again 25 cm and so on until the so if far below the request

[2015-07-20 04:21] digitalentity commented on #21
Hm... Actually this might work. Don't trust speed, trust altitude. If whan landing we request descent rate of 25 cm/s and don't see altitude 2.5m altitude drop in 10 seconds, assume that we've hit the ground.

[2015-07-20 04:25] bk79 commented on #21
Actually the same solution can be used for rth and wp nav, consider that distance from home is far than 3m create an intermediate wp as new setpoint

[2015-07-24 21:00] bk79 opened #27 "I2C Nav board not working"
@digitalentity I've received the i2c GPS nav-board, I've flashed with 2.2 version from EOSBAND, i2c nav board reads the data from the GPS but I can't see anything it on cleanflight configurator, is there any particular setting do I have to activate to make it work or am I using the wrong firmware?

[2015-07-25 05:19] bk79 commented on #27
@digitalentity fixed by myself officially is still not supported so it's not present in the configurator and should be set manually on the by cli  closing

[2015-07-25 05:19] #27 closed, assigned to nobody

[2015-07-30 00:30] digitalentity commented on #4
This issue should address all navigation related PIDs: PIDALT, PIDVEL, PIDPOS, PIDPOSR, PIDNAVR.

[2015-07-30 00:31] digitalentity opened #29 "NAV - Verify that IMU uses GPS heading on fixed wing without compass"

[2015-07-30 04:05] bk79 commented on #4
@digitalentity  tried yesterday a session with baro althold with default 0.4 but at least on my 500g racers looks like insufficient today I'll test again with 0.7 or maybe 1 on P and 0.002 on I. One of the thing noticed is that as long as I activate the althold I have a small  bump in height, this is probably done due to the fact that we have no transaction between rc actual value and the pid outp

[2015-07-30 07:50] digitalentity commented on #4
@bk79
If possible please try the following PIDs:
ALT: P=1
VEL: P=1 I=0,015 D=4

Or in CLI:
p_alt = 10
i_alt = 0
d_alt = 0

p_vel = 10
i_vel = 15
d_vel = 4

These values come from computer simulation I did yesterday, but I haven't had a chance to flight test them - weather is unflyable, strong wind and rain.

[2015-07-30 08:32] bk79 commented on #4
What do you use  to simulate it? I want to put in place a simulation
station to try an incremental version of the pid

Il giorno 09:50 gio 30/lug/2015 Konstantin Sharlaimov <
notifications@github.com> ha scritto:

[2015-07-30 08:37] digitalentity commented on #4
I've wrote a quick and dirty model of a copter (only linear velocity/movement is calculated, banking angles are treated in an inprecise way, heading is assumed to be 0 deg). After that I integrated my PID code into this model, tried different PID values, and looked at P/I/D, velocity and altitude changes. No HIL simulation yet, sorry.

[2015-07-30 18:53] bk79 commented on #4
@digitalentity nope it goes down worse than before, still using the previoius commit, shall switch to the new one and test?

[2015-07-30 21:12] digitalentity commented on #4
Thanks for testing this out. My simulation must be wrong somewhere. You can still test this with previous commit, there was no serious change since then. Would you happen to have a blackbox log of your test flight? It will help to track down the problem.

[2015-07-30 22:56] digitalentity commented on #4
@bk79
It just occured to me that my NAV code is doing all wrong from the start. Current PID chain looks like this:
**altitudeError -> PIDALT -> desiredVelocity -> PIDVEL -> throttle**
This has one fundamental flaw - delocity is NOT proportonal to throttle. However acceleration is. There should be one more PID controller:
**altitudeError -> PIDALT -> desiredVelocity -> PIDVEL -> desiredAcceleration

[2015-07-31 04:32] bk79 commented on #4
@digitalentity now it's clear the problem. On my thesys I didn't work on velocity ir acceleration to have altitute hold, you can't use a pid that way, or you have to integrate (once or even twice) with obvsious integration errors to obtain the same variable again. Let's keep it simple and use a very simple reading from baro and compare it with the setpoint. If you want to make it smoother also wit

[2015-07-31 04:45] bk79 commented on #4
One more thing, don't look for relationship between vel or acc to the throttle, the pid  doesn't care about that, once PV and SP are of the same nature and you limit the output within the within the boundary limits (0-100 ie) pid will regulate itself with correct values

[2015-07-31 04:50] digitalentity commented on #4
I figured that APM is doing a cascade in a similar way. It takes altitude error and feed it into position P-controller to get velocity target. After that it calculates velocity error and feed it into velocity P-controller to get acceleration target to reach this velocity. Then it calculates acceleration error and use it to calculate throttle value with PID-controller.
That makes sense to me. If we

[2015-07-31 04:53] digitalentity commented on #4
I think I'll give it a try. I've made a 3-PID cascade in 18f90963e10bf57caf90a79199d5b2652acc6c54. If it won't work I'll simply revert that commit.

[2015-07-31 05:13] digitalentity commented on #4
Also, considering basic physics we can theoretically calculate acceleration-to-throttle PID parameters. Acceleration is directly proportional to thrust, which in turn can be assumed to be directly proportional to throttle. If we need to reach a given acceleration we should have a certain amount of extra thrust. Relation is linear and is essentially a P-term of a PID-controller translating accelera

[2015-07-31 06:15] bk79 commented on #4
the problem is that once you reach acc=0 and you're in constant velocity you're moving anyway without  setting anything, it's ok to use limit to acceleration and have a pid to target 0 point but if you're reaching a condition of constant velocity from acceleration would prevent it to reach altitude setpoint. and now that I'm thinking about that the copter was going down at constant velocity...slow

[2015-07-31 06:22] bk79 commented on #4
I would do this...let's divide two pid control for alt hold one to keep setpoint (altitude set -altitude read) velocity comes already from the D term of this pid, the second one for keeping acceleration within a small value -deadband - (9.81 - tilt corrected acceleration reading), the minimum of the two reading will be the output to the throttle

[2015-07-31 06:39] bk79 commented on #4
if you want to smooth the reading of baro have a try with this code
if (prevbaroread != 0)
 {
 float highlim = prevbaroread\* 1.05;
 float lowlim = prevbaroread  \* 0.95;
 float smoothread=fmax(lowlim,actualbaroread);
 smoothread=fmin(smoothread,highlim);
  }

[2015-08-01 08:00] bk79 commented on #4
@digitalentity did you try anything?

[2015-08-01 10:05] digitalentity commented on #4
@bk79
Did try 3-pid cascade (P-controllers for altitude and velocity, PID-controller for acceleration). Default PIDs were very low, especially kI for acceleration PID (caused initial drop of altitude when enabling althold), but after some time the copter was very good at keeping altitude. As a matter of fact I never seen it hold altitude that good. Forgot to enable blackbox logging so not much to

[2015-08-01 10:30] marksev1 commented on #4
Nice, I knew that the arducopter guys knew what they are doing :)

[2015-08-01 13:42] digitalentity commented on #4
Yeah, it seems that I've just re-invented the wheel here. He-he!

[2015-08-03 09:33] digitalentity commented on #19
This issue will probably be closed as a side-effect of migrating to new 3-stage controllers (position-velocity-acceleration) - https://github.com/digitalentity/cleanflight/issues/4#issuecomment-126514366

[2015-08-03 09:39] digitalentity opened #30 "IMU - Migrate to a better attitude calculation algorythm"
NAV code is now very sensitive to direction of gravity and magnetic field vector in aircraft frame - for controlling accelerations and heading. Estimating attitude as fast and precise as possible is a must. Current complementary filter is doing well, but there are better algorythms available, i.e. Robert Mayhony's DCM filter or Sebastian Madgwick's IMU fusion.

[2015-08-03 09:54] digitalentity opened #31 "NAV - Move zero XYZ coordinates to launch point"
GPS produces LAT/LON data in degrees, NAV operates in centimeters. This complicates code and reduces code clarity. I.e. `calculatePositionError` takes `currentPos` and `destinationPos` in GPS points, but `error` is output in centimeters. Or this code:

[code]

LAT and X are all mixed up and one have to think what the heck this line does.

A good way would be to remap the beginning of coordinate sy

[2015-08-03 15:05] digitalentity commented on #30
current:
   text    data     bss     dec     hex filename
 118204     224   14156  132584   205e8 ./obj/main/cleanflight_NAZE.elf

with Madgwick AHRS
arm-none-eabi-size ./obj/main/cleanflight_NAZE.elf
   text    data     bss     dec     hex filename
 122212     220   14160  136592   21590 ./obj/main/cleanflight_NAZE.elf

Madgwick's AHRS took almost 4kb flash! I'll try see if it works better than c

[2015-08-03 15:21] digitalentity commented on #30
Bench tests show that with Madgwick's AHRS heading is much more locked in (when using a compass). I've noticed that after a series of fast pitch-roll rotations complementary filter showed arbitrary heading and took half a second to correct using a compass. Using very same settings and same test Madgwicks AHRS was totally locked in.
But nothing comes without a price - for this I'm paying with extra

[2015-08-03 22:18] digitalentity commented on #30
Just tried to fly it - much worse than plain old complementary filter. HORIZON mode is very slow to react, copter feels mushy. That's probably due to incorrect beta used. Postponing this for now.

[2015-08-04 06:38] bk79 commented on #30
Have you tried slowing loop time? Probably it could help

Il giorno 00:18 mar 04/ago/2015 Konstantin Sharlaimov <
notifications@github.com> ha scritto:

[2015-08-06 03:32] bk79 commented on #4
@digitalentity which values are you using for PIDs? I'm giving a try to the navigation-rewrite branch and  I have little with to give a full erase if not needed

[2015-08-11 11:19] digitalentity commented on #19
Currently PIDNAVR is not used, so this issue can be considered resolved. Actual PIDNAVR values are still present, but never used by NAV.

[2015-08-11 11:19] #19 closed, assigned to nobody

[2015-08-11 11:22] digitalentity commented on #10
Automatic landing code tested today Looks like it's working, but copter is rotating while descending - probably something is wrong with heading hold during RTH.

[2015-08-12 01:22] digitalentity commented on #4
@bk79
Sorry for being silent for some time. I'm on a field trip and finding a good internet connection here is tricky. I'm using the following parameters and PIDs:
set gps_pos_p = 20
set gps_pos_i = 0
set gps_pos_d = 0
set gps_posr_p = 15
set gps_posr_i = 3
set gps_posr_d = 10
set gps_nav_p = 0
set gps_nav_i = 0
set gps_nav_d = 0
set baro_tab_size = 7
set baro_noise_lpf =  0.350
set baro_cf_vel =

[2015-08-12 01:25] digitalentity commented on #21
@bk79
Latest tests showed that I can't trust baro when close to the ground due to ground effect. Probably the most reliable way to detect a touchdown is detecting a rapid growth in accelerometer readings. Take a derivative of an accelerometer and look for a large positive spike. Having a sonar will help as well.

[2015-08-12 01:27] digitalentity commented on #4
Forgot to mention another significant setting:
set acc_deadband = 0

[2015-08-12 03:55] bk79 commented on #21
Good idea baro is reliable over 1.5 m with very little wind and can only be
used for alt hold, shielding is necessary even. Sonar is perfect for
landing even if it suffer from the surface type on grass it becomes little
noisy. But with the smoothing function I've done my jumps in readings
become very little and it can be considered thrustwhorty specially for
landing

Il giorno 03:25 mer 12/ago/201

[2015-08-12 04:02] bk79 commented on #4
Thanks but a bit too late for test now I had a try two days ago while i was
on vacation and issued a freeze of the cc3d board with a crash, I'm still
figuring out what the problem is, since I've connected both i2c Nav board,
mag and baro on the i2c bus, and using also soft serial I'm wondering which
one gave me trouble or probably cc3d itself. Did you have any freezing of
the board during your fli

[2015-08-12 04:20] digitalentity commented on #4
I'm using a Naze Acro, I2C-NAV board, mag and baro on the same I2C bus + OSD on softserial. No freezing so far. What commit were you using for your build? Lots of changes were made in last few days, probably I've broken (or fixed) something. Or it could be bad soldering, failed electrical contact, emf interference, whatever. Unless you'd be able to reproduce the freeze, I guess we'll never know fo

[2015-08-12 12:10] strips commented on #1
Awesome work! I really hope you can make this work so it will be reliable!

[2015-08-12 12:48] bk79 commented on #4
Any build will give freeze but I had a try with only i2c Navy board
connected and power coming from ftdi so no interferences due to emf I need
to check grounding and soldering on the i2c bus /navboard though it will be
something I can do tomorrow when i'm back home with all the equipment right
now  I'm still at seaside with just phone laptop and the quadcopter

Il giorno 06:20 mer 12/ago/2015 Kons

[2015-08-12 12:59] digitalentity commented on #4
That's strange. Probably i2c-nav driver is buggy. I'll dig deeper into this
when I get home next week.

[2015-08-12 13:09] bk79 commented on #4
No I think it's something with my config I have no wish to have you loosing
time on this if I'm unsure it's something I did wrong, I honestly admit
that to have everything ready for an fpv session near the sea I did quick
dirty soldering to a sort of bus done with pin headers  to  have 5v and
ground also available for the 808 camera and for osd. Probably I have to
power directly from one of the es

[2015-08-12 13:21] digitalentity commented on #4
Please keep me up to date with your findings and don't hesitate to report a
bug if you'll find this to be a software issue.

[2015-08-12 13:24] bk79 commented on #4
No problem, just one question of you know it, is there a way to evaluate
free ram? I want to exclude that it's low ram stability issue

Il giorno 15:21 mer 12/ago/2015 Konstantin Sharlaimov <
notifications@github.com> ha scritto:

[2015-08-12 13:29] digitalentity commented on #4
Cleanflight does not use dynamic ram allocation. If it compiles you have
enough ram. You, however, can run out of free stack space. This is rather
tricky to evaluate and track without a debugger. If you use lots of local
variables or nested function calls - you might run out of stack and end up
with memory corruption.

[2015-08-13 02:49] digitalentity commented on #1
@strips
Thanks! Code is getting more stable every day, improvements are made all the time. I hope I'll get this code past "flyable" milestone in about a month.

[2015-08-13 05:38] digitalentity commented on #4
A new hex file is available - `cleanflight_NAZE.navigation-rewrite.Aug13.hex`
Now new PID and config defaults. Did several flights with this hex and new PIDs - all seem to work fine on my setup.
@bk79 you can grab a fresh copy of `navigation-rewrite` branch.

[2015-08-13 05:42] digitalentity commented on #10
RTH is now working as expected - climb to 10m baro altitude, head home, land. Landing detestion and autodisarm not working yet.

[2015-08-13 05:42] #10 closed, assigned to nobody

[2015-08-13 05:48] dkisselev commented on #10
Amazing. Thanks Konstantin!

[2015-08-13 05:56] digitalentity commented on #10
As an improvement I am planning to add 4 modes of RTH:
1) Keep current altitude, head straight home
2) Climb to a predefined configurable altitude above launch point, head home
3) Track the highest altitude during whole flight, climb there, head home
4) Climb to current altitude + some configurable extra, head home
What do you think?

[2015-08-13 05:59] dkisselev commented on #10
I like it. But I don't think they should be 4 unique modes. Instead "altitude" should just be a setting inside of the GPS section of the configurator.

Perhaps with a knob/switch adjustment that lets you adjust what the configured altitude/offset should be while the craft is in the air.

[2015-08-13 06:02] digitalentity commented on #10
No, there would still be only one flight mode - RTH. It's behaviour thats what would be configurable.

[2015-08-13 06:03] dkisselev commented on #10
:+1:

[2015-08-13 06:07] bk79 commented on #4
I'm at the airport by this evening I'll get a try and compile it for cc3d

Il giorno 07:38 gio 13/ago/2015 Konstantin Sharlaimov <
notifications@github.com> ha scritto:

[2015-08-13 07:45] digitalentity commented on #10
Please see the video of today's RTH test - https://youtu.be/f2NUYgHNiQI

[2015-08-16 21:42] bk79 commented on #4
@digitalentity I've had a try to the latest build with cc3d looks like working even if I cannot fly for now, I'm waiting for a 4 new escs since the old cheap one were faulty. As far as the i2c driver looks like the problem was a faulty dupont cable of the with sda line of the nav-board + the use of internal pull up resistor was really giving a lot of noise to the lines. Since I'm already using gy-

[2015-08-17 06:15] bk79 opened #32 "failsafe not activating correctly on cc3d with ppm encoder"
@digitalentity  did you have the chance to try failsafe, while I'm still at ground I was trying to force a failsafe detection but it didn't trigger, throttle was sent to 850 us but the FC sent the motor values to minimum  that's all.

[2015-08-18 00:38] digitalentity commented on #32
@bk79 Didn't happen to try the new failsafe (cleanflight#1190) yet, You bug is probably realted to that PR, you sould open an issue on official cleanflight, not this fork.

[2015-08-18 00:42] digitalentity commented on #4
I'm glad to hear that you've found the source of the problem! I'm even more happy that's not software related :smile:

[2015-08-18 06:01] bk79 commented on #32
I was imagining that, but since I was using this fork I wanted to be sure that it wasn't related to something changed in the nav code. I'll close it

[2015-08-18 06:01] #32 closed, assigned to nobody

[2015-08-18 06:17] bk79 commented on #4
yep..anyway as suggestion if you use the same board and some other mag or baro that already has sda-scl resistors  mod the twi code to comment out the pull up resistors of the atmega. it will reduce noise  of 70% at least.

those are the two lines to be commented out
 // digitalWrite(SDA, 1);
  //digitalWrite(SCL, 1);

[2015-08-18 07:52] digitalentity commented on #4
@bk79 noted, thanks!

[2015-08-19 06:28] csurf opened #33 "nav_rth_altitude variable type too small"
nav_rth_altitude variable is defined as UINT8, which is too small to accommodate practical altitude values in centimeters. Eg., a height value of 20m would be '2000cm', which obviously won't fit into an unsigned char. Changing the definition to UINT16 solves the problem.

[2015-08-19 06:42] digitalentity commented on #33
Oops! I was thinking this viable would be in meters when I decided to use
uint8. After that I changed the units but never changed the data type.
Thanks, will fix this asap.

[2015-08-19 08:06] digitalentity commented on #33
@csurf
Fixed, please see 4ebc4a589b5aa697bb01f1ec4ac3b8f97d949403.

[2015-08-19 08:06] #33 closed, assigned to nobody

[2015-08-19 21:15] csurf commented on #20
@digitalentity, I'm confused, is the CF code currently using cm, 10*cm, or meters in its calculations?

[2015-08-19 21:27] csurf commented on #11
what's the status on these flight mode changes?
Is GPS ATTI working?
Is it a preferable alternative flight mode to the traditional 'GPS HOLD+BARO' mode?
Will GPS ATTI automatically hold altitude when moving the sticks and flying around (assuming i have a baro sensor)?
Does BARO need to be enabled, or is it enabled by default?

[2015-08-19 22:41] digitalentity commented on #20
@csurf, I was confised as well. Most of the code uses cm, however gps.c sets GPS_altitude to meters. Similar thing for angles: imu calculated RPY angles in 0.1 degrees, however legacy navigation code (and my code as well) uses 0.01 degrees. I might think about fixing that in future.

[2015-08-19 22:43] csurf commented on #20
so, will there be any problems with the recent issue/code change with defining NAV_RTH_ALTITUDE to use cm? I'm still not sure what type of units the nav code is using, need to know this before I try to flight test. please advise...

[2015-08-19 22:48] digitalentity commented on #20
I designed nav-rewrite code is using cm for distances everywhere, except for `distanceToHome` variable (calculated in meters for compatibility with the rest of the code)

[2015-08-20 03:14] digitalentity commented on #11
@csurf
User control mode defined a way how pilot's input is treated when in POSHOLD mode. It is controlled by `nav_user_control_mode` variable.
1) GPS_ATTI is a default mode (nav_user_control_mode=0), in this mode user controls angle, much like in ANGLE mode. When pitch/roll stick is moved, XY-position controller is bypassed and stick input is passed directly to ANGLE-mode controller. After stick

[2015-08-20 03:19] digitalentity opened #34 "Docs - Write documentation for new features and parameters"
Seems like NAV PID controller code is stable enough and won't be changing much. NAV uses ALT, VEL, POS and POSR PIDs. We need to update docs with description what these PIDs do and how changed PID values will alter copter behaviour.

[2015-08-20 03:21] digitalentity opened #35 "NAV - Implement unit tests for navigation code"
Write unit tests to elementary navigation code.

[2015-08-20 05:06] digitalentity opened #36 "NAV - Test sonar support for altitude hold"
Sonar support was removed when moving to 3-PID cascade for altitude hold. Need to add it back.

[2015-08-21 23:36] digitalentity commented on #31
Done in 4750e42f48943212e6fb21d46e2c5fb82229d1ff. Needs flight-testing.

[2015-08-21 23:53] digitalentity opened #37 "NAV - Code review & flight tests"
Ok, seems that I'm done with major code changes. From now on most code changes will be bugfixes. A code review is now necessary to find bugs I've missed while developing this. Also latest commits intended to solve #31 introduced some major changes and I've might have broken something in process.
@dkisselev, @csurf I would appreciate your help with this :smirk:

[2015-08-22 07:18] digitalentity commented on #30
I'm closing this as new NAV PID controllers seem to be doing their job pretty good with current IMU. Will re-open if still necessary.

[2015-08-22 07:18] #30 closed, assigned to nobody

[2015-08-22 07:57] bk79 commented on #37
Did you have any flight already?

[2015-08-22 08:35] digitalentity commented on #37
@bk79 not with the latest commits - it's too windy.

[2015-08-23 05:32] csurf commented on #37
can u please point me to a specific commit to build & test? in case you're working on stuff simultaneously, I wouldn't want to pull something that might be broken while you're still actively making changes.

[2015-08-23 06:05] digitalentity commented on #37
@csurf, I've flight tested latest changes today. You can grab and test 0b38b9e461f1663c4fd035f4358f9355f8154ffe - that's the most recent code that was flight tested, POS & POSR PIDS may require tuning.

[2015-08-23 09:28] digitalentity commented on #31
Flight tested and proved to be working.

[2015-08-23 09:28] #31 closed, assigned to nobody

[2015-08-23 09:56] digitalentity commented on #4
A new set of default settings:
set gps_pos_p = 33
set gps_pos_i = 0
set gps_pos_d = 0
set gps_posr_p = 70
set gps_posr_i = 15
set gps_posr_d = 50
set nav_gps_cf =  0.200
set baro_tab_size = 7
set baro_noise_lpf =  0.350
set baro_cf_vel =  0.965
set p_alt = 30
set i_alt = 150
set d_alt = 0
set p_vel = 100
set i_vel = 50
set d_vel = 50

[2015-08-26 03:49] digitalentity commented on #36
Added in 0f29d35. Needs flight testing.

[2015-08-26 08:38] sppnk commented on #26
Hi, I have seen your last video in youtube with the copter. It is amazing and it seems everything works fine. Good job.

I would like to test RTH with one of my planes (CC3D). I think (not sure) that your code with RTH will work well, except for altitude hold. I will test this with 1.9.0 main this evening and I would like to try ASAP with your branch.

Could you add the altitude from the GPS as a

[2015-08-26 08:49] digitalentity commented on #26
The problem is that fixed wing support in my navigation code is completely absent! If you wish to try it on planes, you'll have to add fixed wing support or wait until somebody else does it. I have fixed wing support planned, but I don't have any timeframe for adding it yet.

[2015-08-28 02:27] digitalentity commented on #1
Some new changes are ready to be flight-tested. New binary **cleanflight_NAZE.navigation-rewrite.Aug28.hex** is built from 25a0e4f0e2cb47ad1729e835c476ce6633775e34 and is available in my [Dropbox](https://www.dropbox.com/sh/4r5374mos7471q2/AACppn0Mphw45p-4TJ7lZLlOa?dl=0).
Most significant changes:
- code refactoring (slight possibility I might have broken some functionality)
- re-added sonar suppo

[2015-08-28 02:32] digitalentity commented on #20
I figure there is already an issue for GPS altitude opened in cleanflight: https://github.com/cleanflight/cleanflight/issues/367

[2015-08-28 12:15] digitalentity commented on #26
@sppnk I am soon going to begin coding fixed-wing support and currently have a 1.2m flying wing lying around. Can you assist with setting up Cleanflight for a flying wing (delta mixer)? May be some suggestions of PIDs?

[2015-08-28 20:54] sppnk commented on #26
Sure!! I want assist, but I dont have right now any flying wing. Just three airplanes (ailerons, rudder, elevator & throttle). They are an EasyStar (1400 wingspan) and two miniskywalkers (850 wingspan).

For now, two of them are flying with CF, and the settings are the standard with 1.9.0 version. I haven't touch still this, and they fly well with those settings.

For your info (altought I think y

[2015-08-28 23:26] digitalentity commented on #26
Ok, just to let you know - the work has started on fixed-wing support. First thing to go is ALTHOLD mode. The logic will use BARO if present, otherwise it'll fallback on GPS. Soon I'm going to test GPS as an altitude sensor to see if it gives valid readings.

[2015-08-29 08:10] digitalentity commented on #1
Bugfix build (commit da8751c9f52c4e5e92574a08924ad0d8bb061c58). New hex file: **cleanflight_NAZE.navigation-rewrite.Aug29.hex**
Changes:
- Baro offset correction from GPS removed - GPS altitude turned out to be even less reliable than baro. Using GPS altitude will only be available for fixed-wing if no other source of altitude is available.

[2015-08-29 08:50] sppnk commented on #26
Awesome !!! Thx !!

[2015-08-31 04:31] digitalentity commented on #26
@sppnk you can now try the ALTHOLD mode with fixed wing. Grab a latest hex from my [dropbox](https://www.dropbox.com/sh/4r5374mos7471q2/AACppn0Mphw45p-4TJ7lZLlOa?dl=0) and give it a try.
PID to play with in configurator - "VEL". Defaults are probably too high for fixed wing, try zeroing I and D and reducing P by half at first. Please note - this is very experimental. Be ready to switch to manual a

[2015-08-31 04:35] digitalentity commented on #26
Also, there is NO manual altitude control yet. The plane should hold altitude, but you won't be able to adjust it yet. Essentially, you will be locked out of pitch control.

[2015-08-31 09:12] marksev1 commented on #26
Digitalentity it might be beneficial for you to look at the algos here https://github.com/EmilsPa?tab=activity (not sure if all the relevant source is there since he distributes in zips also) this thread is relevant also: http://fpvlab.com/forums/showthread.php?27854-NAZE32-for-fixed-wing/page185

[2015-08-31 09:13] marksev1 commented on #26
Since the "patrikE" baseflight for planes branch code is well tested, working and popular.

[2015-08-31 10:19] digitalentity commented on #26
@marksev1 I am already looking at patrickE's code. His algos are pretty straight-forward, but difficult to directly port to nav-rewrite since my implementation is very modular but patrickE's code is a monolyth. Moreover his code is based only on GPS, while my code is designed to use all available sensors. Want more precise heading control? No problem - add a magnetometer. Want better altitude cont

[2015-08-31 11:03] sppnk commented on #26
@digitalentity , I will try ASAP and report, thx !!

[2015-08-31 12:24] sppnk commented on #26
@digitalentity Should be nice if you announce your FW code and a link to it in the forums, so we could get much more beta-testers than just here in github.

rcgroups and fpvlabs seems to have many users interested in PatrikE code, so they should be also interested in cleanflight FW-NAV. Multiwii forum has also a dedicated cleanflight thread.

[2015-08-31 15:26] marksev1 commented on #26
The accuracy statement is legit, but still nothing can beat the convenience of just using a gps for a plane. So no need to calibrate magnetometer and cover the baro with foam .. Is airspeed sensor support also planned?

[2015-08-31 15:44] marksev1 commented on #26
In any case it is nice that your code covers all the possibilities :)

[2015-08-31 23:27] digitalentity commented on #26
@marksev1
Airspeed sensor is planned, but only as a very distant possibility. Airspeed estimation desribed in http://diydrones.com/forum/topics/wind-estimation-without-an will be done much faster than physical airpseed sensor support.

@sppnk
I don't think my code is ready for public beta-testing yet, but this moment is approaching. I'm going to announce public testing on rcgroups when Flyable mil

[2015-09-01 06:52] sppnk commented on #26
@digitalentity Thx, Anyway, I hope I could test the new ALTHOLD in my 1400m wingspan plane this week. I will report ASAP.

The expected behaviour should mantain the altitude independently if I use ailerons, throttle and rudder, like a 2D movement, isn't it?

[2015-09-01 06:55] digitalentity commented on #26
Yes, you you won't be able to use elevator yet, I'm working on that part of the code.
Also thanks for trying out the FW-code for me! Currently I don't have a plane to test my fixed-wing code  - I've crashed my flying wing yesterday due to failed servo.
EDIT: GPS is not very precise source of altitude, so expect plane to drift up and down several meters.

[2015-09-01 09:11] sppnk commented on #26
@digitalentity Could you compile a .bin file?. I am having big problems to flash my CC3D through Chrome & USB. May be I have to use FTDI, but not sure if I have also to short some pads inside. That should be annoying if I have to do every time I flash it. No problem if it would be only with FTDI.

To flash Cleanflight I have usually used OpenPilot GCS, which can flash CC3D with .bin files and just

[2015-09-01 10:25] sppnk commented on #26
Hi, I have been reading about this and it seems that the only way to flash CC3D through USB without shorting the SBL pins inside is if the .bin file is "openpilot bootloader compatible".

The .bin files from CF download pages are like that, so I could flash my CC3D with OpenPilot, but may be I cannot do that with your .hex.

[2015-09-02 00:36] digitalentity commented on #26
A today's build is available [here](https://www.dropbox.com/sh/4r5374mos7471q2/AACppn0Mphw45p-4TJ7lZLlOa?dl=0). CC3D BIN is also available. Also, I've implemented manual altitude control - please test and confirm it's working (or not) :smile:

[2015-09-02 05:29] sppnk commented on #26
@digitalentity many thx. I have flashed your .bin with OpenPilot GCS. It shows 1.10.0 Running firmware released on: Sep 2 2015 01:30:33 Board: CC3D, version: 0. Good !

But... I dont see the  new "ALTHOLD" mode in the Crhome GUI, so I cannot assign a switch in my transmitter to test this feature !! Can  I setup that through the CLI?

[2015-09-02 06:16] digitalentity commented on #26
Oops, sorry, must have missed adding fixed-wing support in flight modes. Will fix asap.

[2015-09-02 07:34] sppnk commented on #26
Please add it also in AIRPLANE config, not only in FLYING WING, because I have only planes to test. Thx.

[2015-09-02 23:57] digitalentity commented on #26
@sppnk grab a Sep03 build. Now flight modes can be configured correctly. You should also now have ability to adjust altitude using pitch stick - in ALTHOLD mode it will control climb rate. Everything related to airplanes is still completely untested.

[2015-09-03 05:42] sppnk commented on #26
@digitalentity Hi, I flashed and now I can see ALTHOLD, POSHOLD and other new modes.

What I have problems now is to configure servo rates. In the Chrome GUI/servos page  I have weird numbers, if I change them and save nothing happens. If I choose mixer custom the servos get very hot and noisy (may be the board send high Hz as they woyuld be Escs, not analog servos, I dont know). So I come back to

[2015-09-03 05:51] digitalentity commented on #26
It is a known problem - https://github.com/cleanflight/cleanflight/issues/991#issuecomment-120187794 , https://github.com/cleanflight/cleanflight-configurator/issues/238 so I guess you'll have to use CLI to configure servos. I don't yet fly airplanes with Cleanflight so I can't help you with this, sorry. Asking on IRC channel or RCGorups will probably help.

[2015-09-03 08:57] sppnk commented on #26
This is what I get:

![cleanflight servo](https://cloud.githubusercontent.com/assets/12456418/9653973/8d19cf4c-5227-11e5-97d8-bc8ace19eb23.gif)

The tab servo in the GUI doesnt work, and I am not able to configure with the CLI. It seems the "servo" command doesnt work and I have to use the new "smix" command, but "smix" only works with CUSTOM mixer. I am really confused now.

Are you branch based

[2015-09-03 09:03] sppnk commented on #26
I am also confused since "servo" command and "smix" command seems to have the same use. I don't know if they are compatible. In your code both of them appear in the CLI...

[2015-09-03 16:17] Andycb1 commented on #10
As I fly in several different areas I like the idea of being able change the RTH altitude mid-flight rather than always having it set in the configurator. So it could be set up so that if you don't have a spare AUX channel you set an altitude in the configurator but I'd like to be able to set a pot on my controller to set the altitude.

So if the min and max values of my pot are 1000 and 2000, I c

[2015-09-03 23:25] digitalentity commented on #10
@Andycb1 that would be an extra feature to consider after we get the main code working.

Mode 4 of RTH is AT_LEAST_ALT, in your situation you'd be returning at 5m (5m > 2m)
In mode 1 of RTH (EXTRA_ALT), you'd be returning at 7m (5m + 2m)

[2015-09-05 04:36] digitalentity commented on #11
Flight tested today. Working as expected.

[2015-09-05 04:36] #11 closed, assigned to nobody

[2015-09-05 07:18] sppnk commented on #26
Hello @digitalentity , I have opened a issue in main code with number #1288, because all the mapping of the channels don't work well in 1.10 (I think 1.9 neither) and it is impossible to setup an airplane for now. Nor through the configurator, but neither through the CLI.

I have burned two servos making tests....this is annoying. I will look at the code if I can find something to solve the issue,

[2015-09-05 09:40] digitalentity commented on #26
@sppnk thanks for opening the issue with this. Somebody will look into it soon enough. Might even be me :smile:

[2015-09-05 10:15] digitalentity commented on #26
Blocked until https://github.com/cleanflight/cleanflight/issues/1288 and https://github.com/cleanflight/cleanflight-configurator/issues/238 are resolved

[2015-09-05 22:49] digitalentity commented on #4
Looks like gps_posr_d is too big. Reduced to 1 and PH was working well at last.

[2015-09-05 23:10] digitalentity commented on #4
A flight-tested set of defaults:
set gps_pos_p = 15
set gps_pos_i = 0
set gps_pos_d = 0
set gps_posr_p = 90
set gps_posr_i = 15
set gps_posr_d = 1
set nav_gps_cf =  0.200
set baro_tab_size = 7
set baro_noise_lpf = 0.350
set baro_cf_vel = 0.965
set p_alt = 30
set i_alt = 150
set d_alt = 0
set p_vel = 80
set i_vel = 50
set d_vel = 50

[2015-09-05 23:16] digitalentity commented on #37
Flight tested the latest code yesterday. Looks like ALTHOLD and PH are working as they should. RTH flight test is pending - rain forced me to stop flying. New POS and POSR PIDS are working fine, some more tuning might get them to work better, but now they should be just fine for most pilots. Feel free to test c27002375a2e65b2b5df31ebd6d56e44f6b5c9fe. Also the rebase to latest official master branc

[2015-09-05 23:24] digitalentity commented on #1
New builds: **cleanflight_CC3D.navigation-rewrite.Sep06**
Changes:
- Improvements for XY-controller code
- New set of default settings. Looks like #4 is going to be closed soon.

[2015-09-06 00:31] digitalentity commented on #1
Posted a thread on RCGroups for discussion: http://www.rcgroups.com/forums/showthread.php?t=2495732

[2015-09-06 08:28] digitalentity opened #39 "NAV - Waypoint mode"
Hi everybody! I'm thinking about waypoint support and I wonder how the firmware should work when there is no waypoints on the list or all waypoints were successfully visited. I have two options:
1. Hold last position
2. Execure RTH

[2015-09-06 11:17] bk79 commented on #39
Hold last position would be the good deal, rth could get trouble specially if in the straight line calculated from last wp to home there are some obstacles

[2015-09-06 11:41] digitalentity commented on #39
I'm thinking hold last position is a better option myself. If pilot wants RTH - just set last waypoint to home coordinates.

[2015-09-06 18:04] sppnk commented on #26
Hi, added #1290 PR (dirty), and https://github.com/cleanflight/cleanflight-configurator/issues/242#issuecomment-138059790, trying to solve all this thing. Now I can configure some things thanks to your last build, but now I can't connect through Chrome....:-(

[2015-09-06 18:07] dkisselev commented on #39
Yeah, I'm pretty sure hold position is what most other platforms do.

In Pixhawk there's a waypoint type that triggers a landing when it arrives, so that could be a future extension.

[2015-09-06 23:01] digitalentity commented on #26
Good to know that you are working on this. I'll keep an eye on your progress. Thanks!

[2015-09-07 06:39] digitalentity commented on #39
"Hold last position" it will be. I've started to implement waypoints. Added proper MSP_SET_WP message handing - EzGUI follow me feature should work now.

[2015-09-07 17:08] sppnk commented on #26
Didn't want to open a new issue, so I will explain here my last tests in CC3D.

I have been able to make a complete airplane setup, using digitalentity's last build (06 sept). The steps have been:
- flash .bin with OpenPilot GCS (as I cant do is through .hex files in CC3D).
- setup ports, GPS, PPM input and so on in Chrome
- setup AUX switches for ARM, ANGLE, PASSTHROUGH & NAVALTHOLD
- go to CLI a

[2015-09-08 02:18] digitalentity commented on #1
New build: **Sep08**
Changes:
- Updated to latest master (including new failsafe functionality)
- Improved ALTHOLD and POSHOLD (GPS_CRUISE) mode, should now stop faster when pilot releases the stick
- Added a filter to GPS coordinates, should reduce GPS noise

[2015-09-08 05:47] digitalentity commented on #39
Full waypoint navigation implemented in 16a3cb514ff86d26ced9d9482319d22adb8fb4bb - a total of 15 waypoints numbered 1 to 15 supported for compatibility with existing MSP clients where waypoint 0 is home and waypoint 16 - current hold position.

[2015-09-08 07:23] digitalentity commented on #39
It seems that MultiWii and Baseflight/Cleanflight is treating MSP_SET_WP differently. MultiWii seem to have more a advanced waypoint protocol while MSP message number is the same.

[2015-09-08 16:01] stronnag commented on #39
See https://docs.google.com/document/d/16ZfS_qwc-rJeA7N5Tx0DA6wtgxl6HdGgaz-jE3lHBWs/edit?usp=sharing for details of the mw-nav messages and data structures (as in mwp and ezgui).

[2015-09-09 01:42] digitalentity commented on #39
Ok, I've implemented a quick and dirty hack for waypoints (94b9fc271d778a9aebf56a03f17627452bf03cf6). action and flags are ignored, but lat/lon are now handled correctly.

[2015-09-09 18:41] skaman82 opened #40 "ALThold mode not working on my 180 quad"
Tested your latest naze hex form your dropbox today. Tried the ALThold mode on my 180 quad. Board: naze32 Full. When I put the quad in ALTHOLD it stays for a while but then starts slowly sinking to the ground. Could be the PIDs. The strange thing though is that the quad don't respond to throttle input while in althold mode. I could't raise the quad by increasing the throttle.

[2015-09-09 20:57] digitalentity commented on #40
Please provide some details about your setup. Blackbox log and full config
dump would be perfect.

[2015-09-09 21:25] skaman82 commented on #40
I don't have a blackbox log of this. I'll try to make one next time. Never used blackbox before. So I have to figure out how this works first. My setup: Diatone ET180 Frame, Naze32 full, DYS 1306 3100kv motors, 4054 props, multistar 6A v2 ESCs with Blheli 14, OSD and FPV Gear, 950mah battery = AUW 200g. The symmetry of the frame is not an clear X - thats why I run a custom mixer.

# dump

# versio

[2015-09-09 21:37] digitalentity commented on #40
You  don't have your althold PIDs at new defaults. Specifically you have
i_alt set to 0 - that's preventing ALTHOLD from working. Please see the RCG
thread from here
http://www.rcgroups.com/forums/showpost.php?p=32643255&postcount=80 for
explanation. And execute the following from CLI:
set baro_tab_size = 7
set baro_noise_lpf = 0.350
set baro_cf_vel = 0.965
set p_alt = 30
set i_alt = 150
set d_alt

[2015-09-09 21:38] skaman82 commented on #40
Thanks! Will try this and report back!

[2015-09-10 13:04] skaman82 commented on #40
Tested the new PID defaults today. It works now as expected when Quad hovers normally at 50% throttle. But when I use a little heavier lipo (quad hovers then at 60%) it cant hold altitude an sinks slowly to the ground an stays 10-20 cm above the ground. What do I have to change to make this work with a  heavier lipo? By the way: like your solution! Now it works even when the quad is moving (it doe

[2015-09-10 22:56] digitalentity commented on #40
@skaman82
I'll try with heavier lipo and see if the code works for me. For now you can try increasing your i_vel, try set i_vel = 75 or 100, or even 150 and see if it gets any better. See this post http://www.rcgroups.com/forums/showpost.php?p=32643255&postcount=80 for explanation of altitude hold pids.

[2015-09-11 01:24] digitalentity commented on #1
Build **0910** uploaded.
Updated to include changes from latest master (including full support for external baro/mag).
Some CLI parameter names changed, new navigation-related CLI parameters added. This build includes stronnag's implementation of LTM. support for dodo baro sensor.

[2015-09-12 10:25] digitalentity opened #41 "NAV - Verify that GPS loss is handled correctly during GPS-aware modes"
Poshold is possible without GPS (using dead reconing), however RTH is not. Navigation and position estimator should be made aware of possible GPS loss and handle it correctly.

[2015-09-13 01:28] digitalentity commented on #40
@skaman82
Tested today with a heavier lipo, no problems so far. My guess whould be insufficient i_vel.

[2015-09-14 02:47] digitalentity commented on #1
Just uploaded a **0914** build.
Changes:
- (tested) GPS update rates of >2Hz are now supported
- (tested) Limited pilot's ability to control altitude during RTH only to HEAD_HOME phase. This fixed a bug that prevents autolanding if throttle stick > 50% when landing
- (untested) GPS loss during PH/RTH should be now handled properly - force ANGLE mode and wait for GPS to restore. Allow pilot to cont

[2015-09-17 09:12] sppnk commented on #26
Updated infos on CC3D servomixer issues here: #1076

Something is wrong there, so I am stil not able to test airplane mode.

If anybody **has tested 1.10 with CC3D in airplane** (digitalentity or master branch) and is flying, please report. Thx !!

[2015-09-19 06:48] sppnk opened #42 "Flight - Issues with AIRPLANE mixer on CC3D boards"
I have opened issues #1323 & #1324 in main CF code, so I found that sensors stops readings when reseting the CC3D.

I opened here because if anybody could test a CC3D board and reproduce the problems/solve them, I think here could be more people interested in fixed wings than in main CF code forums (everybody seems to play only with quadcopters :-))..

[2015-09-19 10:10] digitalentity commented on #42
@sppnk
Thanks for opening this one. I'm currently distracted from airplanes by issues #4, #37, #41. Will return to airplane support when this will be flyable on multicopters.

[2015-09-23 16:28] hydra commented on #42
@sppnk please don't attempt to take developers away from the work they're focussed on by opening issues like this.  @digitalentity is hard at work on GPS and related code.

[2015-09-23 16:28] hydra commented on #42
@digitalentity please close this, there are issues in the main trackers that will deal with this.

[2015-09-23 20:17] sppnk commented on #42
@hydra, I don't attempt to take anybody away from nothing, but it seems the only people interested in airplanes are in digitalentity branch, so I put my issue here, just looking for more testers and feedback.

[2015-09-23 22:19] digitalentity commented on #26
This issue is still blocked by these: https://github.com/cleanflight/cleanflight/issues/1323, https://github.com/cleanflight/cleanflight/issues/1324, https://github.com/cleanflight/cleanflight-configurator/issues/238

[2015-09-23 22:21] digitalentity commented on #42
@hydra I guess you are correct. These is already an issue #26 for fixed-wing support with all relevant blocking factors.
@sppnk those who interested in airplane support will likely find issue #26 and get the info there.

[2015-09-23 22:21] #42 closed, assigned to nobody

[2015-09-27 11:46] digitalentity commented on #23
There is a work-in-progress on inertial predictor/corrector model-based estimator. Soon it might replace the currently used estimator.

[2015-09-27 11:47] digitalentity commented on #17
Will be done as a part of #23

[2015-09-27 11:47] #17 closed, assigned to nobody

[2015-09-28 06:43] alvins82 opened #43 "GPS - Use HDOP and VDOP for navigation, expose in blackbox and MSP"
Currently cleanflight users the number of satellites as an indicator of 'GPS health'. HDOP is a better measure of this and has been adopted by other FC platforms.

Cleanflight already has HDOP in the GPS struct (https://github.com/cleanflight/cleanflight/blob/27db9ad0fe9a4d8abc05c59db201b8944324eea4/src/main/io/gps.h#L104) but it doesn't seemed to be used or exposed.

Ticket is two things -
- expo

[2015-09-28 07:26] digitalentity commented on #43
Current NMEA GPS driver does not seem to update HDOP. Tasks to do in this ticket:
- update GPS driver to receive HDOP and VDOP
- expose HDOP to MSP and configurator
- log HDOP to blackbox
- use HDOP/VDOP for position estimation (trust GPS less if position is inaccurate)

[2015-10-03 19:20] bk79 commented on #40
@digitalentity I finally completed my hexa 320, I had a test with brand new sparky board with latest buidl  and alt hold keeps farly well, probably there is a little too much I term since it overshoot too much, I've tested 1500mah battery and 2200mah no problem so far whatever weight I put

[2015-10-04 03:41] digitalentity commented on #40
I figure this issue can be closed as althold is verified to be working.

[2015-10-04 03:41] #40 closed, assigned to nobody

[2015-10-04 03:42] digitalentity commented on #23
Tests of new estimator in althold mode are good. Poshold test failed due to some stupid error in 1 line of code. New tests pending.

[2015-10-04 05:21] bk79 commented on #23
@digitalentity I was wondering if it is possible to use position hold without GPS indoor, actually using a position estimator should also predict according to the status of the system where the multirotor is. Normally to keep position it should be necessary and optical flow sensor, but I think that the estimator should be enough to stabilize little drift in hoovering when inside home, do you think

[2015-10-04 05:26] bk79 commented on #23
the idea would be to compensate acceleration higher than a certain threshold and not touch the rest in order to avoid too much saturation on the PIDs

[2015-10-04 05:32] digitalentity commented on #23
I believe it's possible. Thanks for the idea, I'll test the new estimator
for dead reckoning. Ability to stabilize the copter indoors is very
appealing.

[2015-10-04 05:33] bk79 commented on #23
let me know when you do it and in which branch I'll give it a try as well

[2015-10-04 05:40] bk79 commented on #23
@digitalentity just some small details: the position hold should be more a stabilization system similar to the angle/horizion way of navigation, so if sticks are in middle position it try to stabilize, if the sticks are outside middle position sticks win over it

[2015-10-04 07:16] digitalentity commented on #23
@bk79 Just coded a quick and dirty horizontal position dead-reckoning. UNTESTED, not enough space in the house to launch a 450-sized machine. You can grab a 8b0af7404e04bd3f8463aaf451178e932d5aa23b and give it a try.

If you have a blackbox you can use it to verify dead reckoning is working. Launch, hover for a while, download the log and look at navPos[0..1] and navRealVel[0..1] variables. They a

[2015-10-04 08:48] digitalentity commented on #23
@bk79 disregard previous commit, use this one: 1d1b65825e7b646ef2132421d645d6c208006168

[2015-10-04 08:52] bk79 commented on #23
@digitalentity unluckily cc3d is in the quad without motors (I'm still waiting for banggood to deliver them) so no flight log, but on the hexa with sparky I can test if it works in a few minute and let you know, did you create  a separate mode for that or is the same for PH?

[2015-10-04 08:57] digitalentity commented on #23
That's the same PH mode but allowed to work without GPS, using only
accelerometers. Not sure it will though :)

On Sunday, October 4, 2015, bk79 notifications@github.com wrote:

##

Sent from Gmail Mobile

[2015-10-04 09:29] digitalentity commented on #23
@bk79
Just did a simple hovering test in a room. Didn't risk to enable poshold as room has only 1x2m free space. Estimated position looks very close to what it actually was. I think new estimator is doing it's job rather well. Blackbox log is attached. Please note how well navPos[0] and navPos[1] follow the roll/pitch stick.
![blackbox_log_2015-10-04_191216 txt](https://cloud.githubusercontent.com

[2015-10-04 09:33] bk79 commented on #23
@digitalentity I've had a quick flight I tested with default setting and also changing pids to see if it was improving something, this is the feeling: if I enable it the control feels stiffer that means that it is doing something, but it keeps on drifting, I tried adding some derivative but looks like it tries to add more drift to it, my feeling is like the control is trying to keep the actual vel

[2015-10-04 09:41] digitalentity commented on #23
It should drift as accelerometer is very noisy. How much drift did you have? In my tests velocity estimation error was about 1-10 cm/s depending on tilt angle and vibration. Without a relatively good source of velocity/position (GPS, OpFlow) this is probably as good as it can get. I'll play around with it and see if I can make it any better.
You can try reducing INAV_W_XY_DR_P and INAV_W_XY_DR_V i

[2015-10-04 09:48] digitalentity commented on #23
@bk79
It just came to me - you are actually the **very first one** flying the new position estimator in poshold mode. I was unable to fly it due to bad weather. You didn't crash, that's good news! :laughing:

[2015-10-04 09:49] bk79 commented on #23
the kind of drift I have is always in a direction once the PID has decided which is the direction it wants to go no matter what kind of correction I do as soon as I release the stick it goes back in the decided direction. consider that my loop is 1000us let me try first increasing P and removing I just to see that. One more thing wheneve PH is active I can decide to go down  or up with motors  lik

[2015-10-04 09:50] bk79 commented on #23
because I'm home without my daughter and my wife which would have made impossible any test, I stil have 10 days before the get back home from vacation

[2015-10-04 10:10] bk79 commented on #23
@digitalentity ok AMAZING!!!!! it was just a matter of tuning PID for something like 15 20s seconds it didn't move AT ALL from its position, from what I see the PID is a little numb on constant velocity, but that's something expected since we're reading acceleration and if speed=constant acc=0, so probably it would be better to increase the sensitivity of the controller, secondly I think it's bett

[2015-10-04 10:13] bk79 commented on #23
btw I'm hoovering over the bed so 200x200 without getting out of it and with a lot of noise due to the airflows of the 5030 3 leaf blades (6 motors)

[2015-10-04 10:32] digitalentity commented on #23
@bk79 Thanks for testing this, indeed result is amazing!!! This means GPS-aware mode will work as well and probably without much change in PIDs as GPS-aware position estimation is essentially the same dead-reckoning and GPS is used only for slowly correcting accelerometer drift. Making this a separate mode is a good idea, thanks!

[2015-10-04 10:48] bk79 commented on #23
no problem just one thing, it would be better to correct ph behaviour when changing throttle position so to match alt hold mode, it's not nice when you desperately try to lower the copter and it stay sticky there

[2015-10-04 12:02] bk79 commented on #23
@digitalentity I had more tests, the DR works good only if accelerometer is perfectly trimmed looks like try to keep an angle more  than speed/acceleration change

[2015-10-04 12:09] digitalentity commented on #23
Yes, dead-reckoning is heavily dependent on accelerometer trim and attitude estimation. If PosR I-term is zero poshold is unable to compensate for imperfect accel trim or external disturbances like wind.

[2015-10-04 16:08] bk79 commented on #23
@digitalentity I'll have another try with I but it was barely controllable with I enabled

[2015-10-05 04:19] digitalentity commented on #23
Next to impossible to debug this without blackbox :(
Hopefully weather will be ok in a few days and I finally will have a chance to record a few logs and actually get to debugging things.

[2015-10-05 21:55] varoudis commented on #34
A basic documentation would be great in order to help you with testing out the build.
As I was not following your developments from the start and my time (probably knowledge) is limited in order to read all your commits some basic text and test patterns would be great!

In general Im interested in indoor navigation and I could probably help on that part.
Thanks for the good work.

[2015-10-05 21:57] varoudis commented on #37
is there a rebase from the master in the works?
thanks

[2015-10-06 02:23] digitalentity commented on #37
@varoudis
There was a rebase to 52881b3dfd9bcdb2632b45fdc707b8a92aea5e40 right after @borisbstyle's LuxFloat improvments were merged.

[2015-10-06 02:25] digitalentity commented on #34
@varoudis I'm slowly working on documenting the settings. Currently I'm working on a new position estimator with the ability to do dead-reckoning - see https://github.com/digitalentity/cleanflight/issues/23#issuecomment-145319411

This is pretty much untested and need lots of improving. I'd be grateful if you can give a hand with that. Thanks!

[2015-10-06 05:47] bk79 commented on #23
@digitalentity I had a try using acro mode, whenever I set the PH (DR) it looses heigh going down to the ground, something that doesn't happen when in level mode

[2015-10-07 05:58] digitalentity commented on #36
Sonar is reported to be working. Closing.

[2015-10-07 05:58] #36 closed, assigned to nobody

[2015-10-07 06:07] digitalentity commented on #1
Uploaded a **1007** build
Changes:
- Rebased to latest "master", support for BMP280 and Naze rev.6 out of the box
- (partially tested) Model-based inertial position estimator (#23) for PH/RTH
- (partially tested) Dead reckoning possibility (poshold without GPS)
- (untested) Improvements for autonomous navigation code (PH/RTH)

[2015-10-07 06:28] bk79 commented on #1
@digitalentity A couple of question:  Did you separate DR from PH? Did you fix the throttle manual control when in PH/DR? DId you try PH/DR when in acro mode?

[2015-10-07 06:38] digitalentity commented on #1
@bk79
Not yet, GPS-based code is a higher priority at the moment.
Currently dead-reckoning is enabled via CLI and its parameters have been changed to slow down drift.
Poshold does not control throttle at all. You have to manually maintail throttle or use althold.
When PH is activated firware automatically enables ANGLE mode, there is nothing like PH in acro :)

[2015-10-07 12:03] digitalentity commented on #34
I've started a documentation project for navigation-rewrite system on GitHub. A dedicated repository is located here: https://github.com/digitalentity/nav-rewrite-docs/wiki
Don't hesitate to contribute!

[2015-10-07 19:36] varoudis commented on #34
Thanks @digitalentity that is very helpful.i also saw your rebase. Ill try to familiarise myself with the code base and start testing little hacks.

[2015-10-08 07:17] bk79 commented on #1
@digitalentity no what I mean is that if I'm in acro and I activate PH, regardless my throttle stick position it goes down

[2015-10-08 07:22] digitalentity commented on #1
@bk79
Ok, I see. will test and fix this.

[2015-10-08 07:23] digitalentity opened #44 "Enabling POSHOLD winthout ALTHOLD causes altitude (throttle) drop."
Opened per this comment: https://github.com/digitalentity/cleanflight/issues/1#issuecomment-146441853
@bk79, can you please clarify if you activate ALTHOLD+POSHOLD or only POSHOLD mode?

[2015-10-08 08:59] bk79 commented on #44
@digitalentity PH only, if I enable AH it will work or if I enable at+PH it works, btw if I disable AH during PH but with ANGLE enabled Altitude is kept

[2015-10-10 18:38] skaman82 opened #45 "mwosd compatibility"
I tested your 0710 build today. It would be extremely helpful to show current flightmode in mwosd like it already works in cleanflight master.

• when I activate ALTHOLD the OSD does not sho baro sensor active
• in POSHOLD we should see the "Position hold" message like in master
• in RTH we should see the "return to home" message like in master

Maybe you could integrate this functionality or simu

[2015-10-10 19:02] skaman82 opened #46 "Feedback 0710 build"
I tested your 0710 build today with my 350 class quad. naze32 full (mag removed), neo-8m GPS and external compass. Average satellite count: 12. AUW 1.2 kg. Hovering point: 63% throttle.

• ALTOHOLD works like a charm. I love it!

• POSHOLD works for me ok…ish. The quad starts to fly in circles after a short while. The radius increases over time. Calibrated my compass three times but the behavior d

[2015-10-10 22:44] digitalentity commented on #46
Hi! Thanks for the feedback. Going in circles can be caused either by bad
compass readings  or overshooting due to high pids.

Can you try zeroing posr_d and reducing posr_p to 50 and see if it's
working better for you? Also, where are you located? You mag declination
might be off and cause heading to be off as well.

##

Sent from Gmail Mobile

[2015-10-10 23:05] skaman82 commented on #46
Thanks for the advice. I will test this tomorrow and report back. I live in Hamburg, Germany so the mag declination should be fine.

Von meinem iPhone gesendet

[2015-10-10 23:36] digitalentity commented on #45
Confirmed, will make things compatible to master soon.

[2015-10-10 23:42] digitalentity commented on #46
Yes, mag declination seems right. Lowering PosR PIDS should help. If it doesn't, you'll probably have too much magnetic interference or bad compass calibration.

There is an issue on improving mag calibration https://github.com/cleanflight/cleanflight/issues/1372 , should make things easier.

[2015-10-11 04:00] digitalentity commented on #45
b67a513 possibly fixed the issue. Upcoming 1011 build will include this fix.

[2015-10-11 14:33] skaman82 commented on #46
Tested your 1010 build today. Configured everything from scratch. ALTHOLD works fine as expected.

POSHOLD had some troubles. Quad holdes position quite well now - I'm guessing I messed up some variables last time. It was very windy today so position hold wasn't spot on but much better than the last time (no flying in circle anymore).

But I had also some problems. After activating just POSHOLD th

[2015-10-12 00:36] digitalentity opened #47 "NAV - When in POSHOLD stick input is moving the quead slower than in normal ANGLE"
Reported by @skaman82, confirmed.

[2015-10-12 00:40] digitalentity commented on #46
I've had reports of altitude drop when enabling only POSHOLD and opened the separate issue (#44), will look into it soon.

I've also noticed that stick input in POSHOLD/GPS_ATTI is treated differently than in normal ANGLE. That also need fixing - opened an issue #47 to keep track of this issue.

Thanks for testing RTH, that's the very first RTH test with new iNav estimator. Good to know it worked

[2015-10-12 00:48] digitalentity commented on #44
Closed via 21f142cba7205921dda960ae7ac99af5cff11f99

[2015-10-12 00:48] #44 closed, assigned to nobody

[2015-10-12 08:24] skaman82 commented on #47
I also noticed this in RTH mode

[2015-10-12 09:15] digitalentity commented on #47
Yes, it's the same issue. Position in POSHOLD and RTH is controlled by the same code (XY-position controller) and pilot input is treated the same way in both modes.

[2015-10-12 09:54] digitalentity commented on #47
@skaman82
Should be fixed in ad4b1dc865485a74451075323260b0f81f9a1c2a. Will be included in today's **1012** buid. Feel free to reopen the issue if issue will persist.

[2015-10-12 09:54] #47 closed, assigned to nobody

[2015-10-12 10:08] digitalentity commented on #1
New build **1012**. Built from c0d3edd40ed7e3cbc1816c91627b697e7c5d005d
Changes:
- Flight mode IDs changed for compatibility with mw-osd. Old dumps will not restore modes (aux) correctly.
- Dead reckoning improvements
- Automatic magnetic declination (experimental)
- Less agressive configuration defaults
- Bugfix - home position was not updated
- Bugfix - throttle control in POSHOLD without ALTHOL

[2015-10-15 01:53] digitalentity commented on #29
New IMU developed in **navigation-rewrite-quaternion-imu** will be capable of this.

[2015-10-15 01:55] digitalentity commented on #23
New, faster and more precise IMU is being developed in **navigation-rewrite-quaternion-imu**, it will improve performance of INAV. Automatic accelerometer bias offsetting is also in the works.

[2015-10-15 19:30] bk79 commented on #23
@digitalentity you mean that the accelerometer will automatically trim itself during flight?

[2015-10-15 21:35] digitalentity commented on #23
For the purpose of velocity estimation - yes, but only if some reference is
present (baro/gps). Might not work in presence of sonar (need testing).
For the purpose of self leveling (angle mode) - no, not possible as we
don't have a reference for that inflight.

##

Sent from Gmail Mobile

[2015-10-16 05:52] bk79 commented on #23
@digitalentity once you get acceleration=0 your accelerometer is actually reading constant speed (really almost impossible case) or zero speed which means self leveling is ok or drifting constantly

[2015-10-16 06:02] digitalentity commented on #23
The problem is that accelerometer sometimes does not read zero acceleration when at constant speed. This might be caused by slight misalignment or hardware bias. 5-15 cm/s/s is not a big deal for IMU self leveling (its only about 1.5% of gravity), but its a problem for velocity estimation - velocity error will be growing in time.

Estimator is constantly compensating for this error from GPS and ba

[2015-10-16 07:11] MauroMombelli commented on #23
We should also take into account fake acceleration given by angular
rotation and misalignment of accelerometer from center of rotation

On Fri, 16 Oct 2015 08:02 Konstantin Sharlaimov notifications@github.com
wrote:

[2015-10-16 07:26] digitalentity commented on #23
@MauroMombelli True, but virtually impossible to compensate for :(

[2015-10-16 09:06] MauroMombelli commented on #23
not if you let the user input the distance; by default we can use 0,0,0 but user may set up it. Then given the angular rotation estimated by the difference between the old and new quaternion (using quaternion instead of gyro should give us filtered and qualitative better result)

i've done some calculation, and those acceleration can be quite impressive if out of center by 2cm.

Also calculating t

[2015-10-16 12:48] digitalentity commented on #26
@sppnk
I think you'd want to know that I'm about to buy a Volantex Ranger 757-4 (http://www.banggood.com/Volantex-Ranger-757-4-FPV-1380mm-Wingspan-EPO-RC-Airplane-KIT-p-985099.html) for purpose of getting airplanes supported by Cleanflight.

[2015-10-16 12:58] digitalentity commented on #23
@MauroMombelli
At a quite typical rotation rate of 100 deg/s (1.74 rad/s) a 5cm displacement gives us 15 cm/s/s error in measured acceleration. So yes, this error is worth compensating for. We might also want to consider compensating not only for angular rate but also for angular acceleration.

However, calculating the center of rotation is tricky. I'll think about a possible way to automatically

[2015-10-16 13:13] MauroMombelli commented on #23
at least for now i would go on the fast way, calculate the baricenter in
real life and measure the distance; this is quite easy to do.

Then if you want to add some autotune is fine, but it goes out of spec (and
btw using magnetometer for pitch/roll would help smooth this kind of error)

2015-10-16 14:58 GMT+02:00 Konstantin Sharlaimov notifications@github.com:

[2015-10-16 13:20] digitalentity commented on #23
Correct me if I'm wrong:
gyro X-axis rotation is roll rate - affects Y and Z acceleration
gyro Y-axis rotation is pitch rate - affects X and Z acceleration
gyro Z-axis rotation is yaw rate - affectr X and Y accel.

So basically I do the following:
accX += gyroY \* distX + gyroZ \* distX;
accY += gyroX \* distY + gyroZ \* distY;
accZ += gyroX \* distZ + gyroY \* distZ;

Here:
accX, accY, accZ is me

[2015-10-16 13:35] digitalentity commented on #23
@MauroMombelli
Have a look at 2d7629d . It's basically a stub, next step will be to make this working and configurable.

[2015-10-16 14:21] sppnk commented on #26
WOW  MAN !! Nice bird, congratulations.

Because of the issues with the mapping of CC3D I bought some naze32 and at least I am flying my three birds with baseflight right now (RTH working fine), but in the last days the issue #1323 is active, and hopefully it will be solved soon, so I will be ready to test your code.

And...It seem they want remove openpilot bootloader feature, so it is possible I

[2015-10-16 16:43] MDM63 commented on #26
Here is one tester signing up!
I have Bix 3 with flaps, two HK450 helis, CC3D, two STM32F103C8T6 dev boards that support naze32 fw, ST32F4 Discovery dev board and I just got my self made shield PCB's from the manufacturer for it. They where originally meant for TauLabs fw, but since I have developed a interest to make cleanfligh run on it.
I also have bunch of sensors (Airspeed with pitot-tube, lo

[2015-10-17 04:25] digitalentity commented on #26
@sppnk
I flash my cc3ds through the main port and ftdi adapter.
Ranger won't arrive fast, it'll probably be no less than a month before I would have anything to test. I also have to learn to fly airplanes beforehand :)

[2015-10-17 04:31] digitalentity commented on #26
@MDM63, welcome to the club :-)
At the moment fixed wing support in my navigation project is almost completely absent. You can have look at navigation-rewrite branch in my repo and give me a hand with developing fixed wing stuff if you like.
I'd be happy to receive ideas, insights, bug reports, working code, semi-worki code and even not working code if the idea behind it is good enough :)

[2015-10-17 09:44] bk79 opened #48 "GPS - Increase automatically configured update rate for UBLOX modules"
@digitalentity I've noticed that ublox from main streamline uses 5Hz update rate, even if you set manually the gps settings to 10Hz whenever you start back the FC it will automatically reset it to 5Hz,
I've noticed that the incriminated lines are inside ..\io\gps.c, changing the line 150 with
this "0xB5, 0x62, 0x06, 0x08, 0x06, 0x00, 0x64, 0x00, 0x01, 0x00, 0x01, 0x00, 0x7A, 0x12," will make the t

[2015-10-17 09:53] digitalentity commented on #45
@skaman82 can you verify that newer builds are compatible?

[2015-10-17 09:53] #46 closed, assigned to nobody

[2015-10-17 09:54] digitalentity opened #49 "NAV - Add option to go tail-first when executing RTH sequence"

[2015-10-17 10:04] skaman82 commented on #45
Try to test this today and will get back to you.

Von meinem iPhone gesendet

[2015-10-17 10:56] digitalentity opened #50 "NAV - Switch from NEU to more conventional NED coordinate system"
@ledvinap managed to convince me that this would be a good idea :smiley:
This, however, will stay blocked until "Flyable" milestone is reached.

[2015-10-17 11:47] ledvinap commented on #50
I just like my rotation counterclockwise ;-)

[2015-10-17 11:55] digitalentity commented on #50
Just use (-heading) everywhere :smirk:

[2015-10-17 13:40] skaman82 commented on #45
Tested this with the 1012 build just yet. OSD now shows BAR active when in ALT mode and the RTH and POSHOLD messages are displayed as well. Wonderful. But there are some tiny pieces missing to make it perfect.

• ALTHOLD: BAR icon shows only if armed - this works in master without arming
• POSHOLD: MAG icon is not active
• RTH: MAG and BAR icons are not active

Tested all the things I mentioned in

[2015-10-17 13:53] digitalentity commented on #45
Good! Thanks for testing this for me. Did POSHOLD work well for you?

New code treats modes differently. For one, modes are enabled only when armed and possible to activate (i.e. PH won't activate if no GPS fix). This is intended behaviour.

MAG will never be active when in PH/RTH modes, my code has its own heading lock controller. This, however, might change in future.

RTH is a stand alone mode,

[2015-10-17 13:56] skaman82 commented on #45
OK I guess we can close this. POSHOLD worked very well! Quad was not moving around a bit and landing in RTH was always spot on within 1m from take off spot. Almost no wind today.

[2015-10-17 13:58] #45 closed, assigned to nobody

[2015-10-17 14:03] digitalentity commented on #45
Thanks! New pos estimator seems to be doing a great job.
Big change to the code is coming soon. It weather permits I'll flight-test it tomorrow before uploading a new build.

[2015-10-17 14:18] skaman82 commented on #45
This is the test vehicle BTW :)
![img_0723](https://cloud.githubusercontent.com/assets/11768024/10559183/aefca82e-74ea-11e5-9c70-98687d05f85d.jpg)

[2015-10-17 14:21] digitalentity commented on #45
A great looking quad! Let's make it fly better than DJI Phantom!

[2015-10-17 14:25] skaman82 commented on #45
sounds good to me

[2015-10-17 16:20] bk79 opened #51 "Sensors Tab in the Cleanflight Ground station not working"
@digitalentity can you read sensor tab with latest nav-rewrite build, on my config the scopes do not show

[2015-10-17 23:24] digitalentity opened #52 "NAV - Use incremental PIDs"
I've been told that incremental PIDs are better. Description here - http://www.flightgear.org/Docs/XMLAutopilot/node3.html
This needs to be looked into.

[2015-10-17 23:42] digitalentity opened #53 "NAV - Make sure dead reckoning and GPS work together"
Given two conditions:
1) Flying with dead reckoning
2) Not having a valid GPS fix

We can end up getting a GPS fix **after** position estimator is inialised by ded-reckoning. This can (and probably will) result is a jump in estimated position and cause the machine to drift fast.

[2015-10-17 23:44] digitalentity commented on #51
This is a configurator issue. I have had the same problem and solved it by deleting and re-installing the configurator.

[2015-10-17 23:44] #51 closed, assigned to nobody

[2015-10-18 10:22] digitalentity commented on #52
Looks like there is an implementation of such PID controller in librepilot: https://github.com/librepilot/LibrePilot/blob/next/flight/libraries/math/pid.c#L148

[2015-10-18 12:13] bk79 commented on #52
to me doesn't look the same, or probably I read it wrongly, in small terms it works like OUTPUT=OUTPUTpreviouscan + ((PIDoutnow-PIDoutpreviousscan)

[2015-10-18 12:16] digitalentity commented on #52
I didn't go deep into incremental PIDs yet. Might be different approaches to the same problem. This will take some time to look into.

[2015-10-19 12:52] digitalentity opened #54 "NAV - Throttle tilt compensation is overshooting"
Investigate if throttle tilt compensation overshoots.

[2015-10-21 05:38] digitalentity commented on #54
Closed via 47a0cc5bb673e9ae79a90377de98866207007fb2

[2015-10-21 05:38] #54 closed, assigned to nobody

[2015-10-21 05:39] digitalentity commented on #29
Done in e5424784fef50f7156b83a0f9eab9ebc3dd07bb9, needs careful testing and possibly some improvement.

[2015-10-21 05:42] digitalentity commented on #23
This seems to be working. Some regressions are still there, but now inertial position estimator is used for navigation and this issue can be closed.

[2015-10-21 05:42] #23 closed, assigned to nobody

[2015-10-21 05:45] digitalentity opened #55 "INAV - Compensate for centrifugal acceleration"
This was suggested in https://github.com/digitalentity/cleanflight/issues/23#issuecomment-148661514
Further reading: http://diydrones.com/page/uav-devboard and http://gentlenav.googlecode.com/files/DCMDraft2.pdf

[2015-10-22 07:18] digitalentity commented on #26
@sppnk, @MDM63
Waiting for an airplane to arrive soon actually gives a very strong motivation to fix the code as soon as possible :laughing:
Wrong servo mapping on CC3D and NAZE is fixed by https://github.com/cleanflight/cleanflight/pull/1425 . Hope @hydra will merge it soon enough.

[2015-10-23 10:35] sppnk commented on #26
Many thanks again @digitalentity . For me, the main need in an airplane is a working RTH. This should be the first thing to work in. A good RTH should have options to take the plane  higher  and then back to home with a fixed altitude.

 After that working well, a position hold (circles) should be nice, because you can use that function to land the plane,in a failsafe for example, just cutting thr

[2015-10-23 10:45] digitalentity commented on #26
@sppnk
In my firmware RTH is dependent on working poshold (its pretty much the same code). RTH will have options to control return altitude.

OBPL is no longer available - it's taking up too much valuable flash memory. I am already dropping features to fit the code in 127kb. Next thing to go is pid controllers. Only pidc 1 and 2 will remain in nearest future.

[2015-10-23 12:12] sppnk commented on #26
Ok, I will try again to flash your .hex. I have ordered two more cc3d just to test.

One question, is poshold already working for fixedwings? (in my lasts attemtps you were working a fixed altitude mode).

[2015-10-23 12:41] digitalentity commented on #26
@sppnk
Are you available on RCG or Cleanflight's IRC channel? I might be able to help you out with flashing the hex onto CC3D.
Poshold code is committed today, I have no idea if it will work or not :smiley:

[2015-10-23 13:07] sppnk commented on #26
Yes, Im in RCG, but not in IRC. Will post my problems there. Thanks

[2015-10-30 10:59] digitalentity opened #56 "NAV - Improve sonar support (terrain following)"
There is a problem with sonar mode. It works relatively well as long as surface is flat and altitude measured my baro and sonar is similar. As soon as surface distance and baro altitude gets significatly (several meters) different there are problems with transitioning between baro and sonar.

Position estimator and AH mode need to be reworked to do proper terrain-following with sonar and seamlessl

[2015-11-05 20:19] skaman82 commented on #43
@digitalentity Could you expose also some other things to MSP so we can do that?

<img width="153" alt="bildschirmfoto 2015-11-05 um 21 09 55" src="https://cloud.githubusercontent.com/assets/11768024/10980556/e2f458c6-8402-11e5-85de-fe8da366d1af.png">

[2015-11-06 05:40] digitalentity commented on #43
@skaman82 How deviations are calculated?

[2015-11-07 11:50] skaman82 commented on #43
@digitalentity no clue, I thought you knew... ;-)

[2015-11-07 11:54] digitalentity commented on #43
Will have to look at TC's code then :-D

[2015-11-16 10:22] brat002 opened #58 "Failsafe - Configurable PosHold and/or RTH on signal loss"
Could you add position hold as configurable action on failsafe event?

[2015-11-16 10:34] digitalentity commented on #58
Current upcoming task is RTH on failsafe event. Why would you want poshold on lost radio?

[2015-11-16 11:03] brat002 commented on #58
In LOS or near by LOS conditions you can restore control just by antenna alignment. No need RTH for all. Automatic RTH may be dangerous on long ranges with many building and trees.
As proposal - fire PH for failsafe on "configurable timeout seconds" and then RTH. It will be safe for most.

Maybe auto landing in RTH mode will be good solution also.

[2015-11-16 11:39] digitalentity commented on #58
Interesting idea. I'll consider entering poshold for some time (configurable) and then execute normal RTH sequence.

[2015-11-16 12:01] MauroMombelli commented on #58
Instead of timing, if battery status can be estimated I would use that.
Also a "soft landing in place" option may be useful.

On Mon, 16 Nov 2015 12:39 Konstantin Sharlaimov notifications@github.com
wrote:

[2015-11-16 12:03] digitalentity commented on #58
Thanks for the idea. First of all we need to get RTH working reliably, then go for advanced failsafe mechanisms.

[2015-11-24 10:48] marksev1 commented on #43
https://github.com/multiwii/baseflight/blob/305a2fbff4cac019c382a8f86e020a58a50f8a3e/src/gps.c

Mention of DOP is in Line 44, Line 1276, comments in L 1357, L 1361, L 1487.

Maybe the deviation is calculated in the BF configurator?

[2015-11-24 10:53] marksev1 commented on #26
I haven't read through the code, but currently probably flying wing and traditional airplane mixers are supported right? May I suggest adding also a V-tail mixer so that all the widely used configurations of airplanes are supported.

[2015-11-24 11:10] digitalentity commented on #26
All airplane mixers are now supported, but there was a report of a failure on a flying wing. We need to look into it.

[2015-11-24 11:10] digitalentity commented on #26
As for V-tail mixer, can you add a separate issue for that?

[2015-11-24 11:13] marksev1 opened #59 "NAV - Add V-tail Airplane mixer support"
Add support for V-tail airplane. Thus covering the entire range of airplane configurations that are used the most.

[2015-11-27 12:10] digitalentity commented on #53
Dead reckoning does not work well without a valid position reference. Closing.

[2015-11-27 12:10] #53 closed, assigned to nobody

[2015-11-27 12:11] digitalentity commented on #41
Done.

[2015-11-27 12:11] #41 closed, assigned to nobody

[2015-11-27 12:12] digitalentity commented on #21
If sonar is present it will be used to detect landing - 6afd3741b23989d6698f1d627693b710a7acac4c

[2015-11-27 12:12] digitalentity commented on #12
New PID controller with anti-windup works really great by itself.

[2015-11-27 12:12] #12 closed, assigned to nobody

[2015-11-27 12:13] digitalentity commented on #4
A new set of defaults seem to be suitable for most if not all.
nav_alt_p = 50
nav_alt_i = 0
nav_alt_d = 0
nav_vel_p = 100
nav_vel_i = 5
nav_vel_d = 100
nav_pos_p = 15
nav_pos_i = 0
nav_pos_d = 0
nav_posr_p = 90
nav_posr_i = 15
nav_posr_d = 1

[2015-11-27 12:14] digitalentity commented on #37
Flight testing continues in RCG thread here: http://www.rcgroups.com/forums/showthread.php?t=2495732

[2015-11-27 12:14] #37 closed, assigned to nobody

[2015-11-27 13:26] marksev1 commented on #4
...Nevermind... (wrong post)

[2015-12-04 14:17] digitalentity commented on #49
Done

[2015-12-04 14:17] #49 closed, assigned to nobody

[2015-12-05 01:53] digitalentity commented on #21
Appears that landing detection works, but it is dependent on having a sane value of nav_vel_i parameter. This issue is now PID related.

[2015-12-20 12:11] digitalentity commented on #4
Current default PIDs work for most. I'm closing this.

[2015-12-20 12:11] #4 closed, assigned to nobody

[2015-12-20 12:12] digitalentity commented on #21
Lack of landing detection does not make the code unflyable.

[2015-12-20 12:13] digitalentity commented on #55
Experimental for airplanes is in there. Needs testing.

[2015-12-20 12:14] digitalentity commented on #58
RTH on RX signall loss is working now (tested)

[2015-12-20 12:14] #58 closed, assigned to nobody

[2015-12-20 12:15] digitalentity commented on #39
Basic waypoint support is working. Improvements should be opened as separate issues.

[2015-12-20 12:15] #39 closed, assigned to nobody

[2015-12-20 12:16] digitalentity commented on #1
Further news in RCG thread http://www.rcgroups.com/forums/showthread.php?t=2495732

[2015-12-20 12:16] #1 closed, assigned to nobody

[2015-12-20 12:16] #22 closed, assigned to nobody

[2015-12-20 12:16] digitalentity opened #61 "WP - RTH land option"

[2015-12-20 12:17] digitalentity opened #62 "Geofence option"
- RTH if distance from home > threshold
- RTH if stepping out of a user-defined polygon

[2015-12-20 12:17] digitalentity opened #63 "WP - Selectable waypoint speed"

[2015-12-22 00:40] digitalentity commented on #63
Done.

[2015-12-22 00:40] #63 closed, assigned to nobody

[2015-12-26 13:47] marksev1 opened #65 "Rally point option"
Would be useful for longer-range flights. See here for description:  http://copter.ardupilot.com/wiki/common-rally-points/

[2016-01-05 17:18] HO4X opened #70 "UBLOX GPS won't be detected"
Hey Guys,

this day i am updated my NAZE 32 FULL to INAV 1.0 RC3 and had to notice that my gps-module ( drotek M8N @ URAT2 - 57600BAUD - UBLOX Protocol ) wont show up, also i could not arm my quad. I have done a 6-Point calibration and off course, a mag calibration. Iam using the newest cleanflight-configurator (1.1.0). When i flashed the "stock" cleanflight-firmware, there were no problems or som

[2016-01-05 18:00] stronnag commented on #70
The issue I'm seeing is not that the GPS is not detected, it's that it takes an inordinate amount of time from cold boot (a soft boot will usually report detection very quickly). Otherwise patience is needed, as the following log shows (given the time between power on and initial connection, the delay until detection is probably nearly 60 seconds).

[code]

raw "gpspassthrough" log http://www.zen3

[2016-01-05 18:29] stronnag commented on #70
And if I replace the new `ubloxInit6[]` with the old pedestrian `ubloxInit[]` (227 v. 179 bytes), it makes NO difference, so it's not as it we're overwhelming the device the init data (i.e. there is still a significant delay in detection, at least 20 seconds in the common case).

[2016-01-05 18:38] digitalentity commented on #70
I think I know the cause - init data is sent to GPS module 1 byte per call
to gpsThread.

Wasn't a problem until new scheduler slowed gpsThread down to 10Hz making
GPS init data being sent at only 10 bytes per second!

We need to send init data in larger chunks to make init happen faster.

GPS autobaud doesn't work for the same reason - timeout triggers before GPS
init data is fully sent.

[2016-01-05 18:41] stronnag commented on #70
10 secs a sec for 227 bytes would tie in exactly with the minimum detection delays I'm seeing. I will hack something up to test this.

[2016-01-05 18:42] sambas commented on #70
Yeah, I can confirm this. Loaded RC3 to my cc3d and scoped gps configuration output. Seeing one byte at time 100ms interval. Didn't notice this because I don't have new scheduler running yet.

[2016-01-05 18:51] stronnag commented on #70
Confirmed, an ugly 0..9 loop around the init and sbas init parts fixes it.  Naive fix (hope the data's not modulo 10 or we probably waste an interation ...

[code]

[2016-01-05 18:55] digitalentity commented on #70
Good, now we know what's causing the regression. We probably need a cleaner
fix than a dumb 0-9 loop. Can't do any coding on my cellphone, sorry :)

[2016-01-06 20:28] stronnag commented on #70
for the record, here's the dumb patch, until be have a unified scheduler / new GPS infrastructure build.
[gps_patch.diff.txt](https://github.com/iNavFlight/inav/files/80328/gps_patch.diff.txt)

[2016-01-15 22:36] eziosoft opened #71 "HIL"
in /src/main/flight/imu.c
at line: 581
should be imuHILUpdate(dT);

dT - is missing

[2016-01-16 16:55] bk79 opened #72 "Display.c not compiling for on Sparky target"
Hi I've tried compiling for sparky flight and it gives an error
./src/main/io/display.c: In function 'updateFailsafeStatus':
./src/main/io/display.c:228:14: error: 'FAILSAFE_RETURN_TO_HOME' undeclared (first use in this function)
         case FAILSAFE_RETURN_TO_HOME:
              ^
./src/main/io/display.c:228:14: note: each undeclared identifier is reported only once for each function it appears

[2016-01-18 00:37] #72 closed, assigned to nobody

[2016-01-18 00:37] digitalentity commented on #72
@bk79
Good spot, thanks!

[2016-01-18 00:40] #71 closed, assigned to nobody

[2016-01-18 00:40] digitalentity commented on #71
Thanks!

[2016-01-18 07:37] digitalentity commented on #43
HDOP/VDOP in the form of absolute accuracy values (EPH/EPV) are exposed to blackbox now (5a47299).
For UBLOX and NAZA GPS these are true accuracy values in cm;
For NMEA and I2C-NAV GPS modules these are HDOP*10 values (base accuracy assumed 1m)

[2016-01-18 07:42] bk79 commented on #43
Hdop and vdop are almost useless in terms of accuracy since they can be
very high in value but if you don't have enough satellites the accuracy is
less than having low hdop/vdop with lots of satellites
Il 18/gen/2016 08:37 AM, "Konstantin Sharlaimov" notifications@github.com
ha scritto:

[2016-01-18 07:48] digitalentity commented on #43
@bk79
DOP is not accuracy, it's **dilution of precision**, meaning low DOP = high accuracy.
Moreover I'm not using and don't intend to use HDOP/VDOP for navigation. I'm using absolute accuracy (if reported by the module). At the moment only UBLOX and NAZA are reporting true accuracy values.

[2016-01-18 13:18] digitalentity opened #73 "IMU - Accel and Gyro temperature compensation"
I've been testing CC3D outside today and noticed that estimated attitude drifted a lot after I move the board from the room (+20 deg) to the outside (-25 deg). And by a lot I mean almost 70 degrees.

**imu_dcm_ki** was doing great job canceling gyro temperature bias, but the problem was accelerometer itself. It was also offset by low temperature and that was confusing the IMU.

We need a way to co

[2016-01-18 16:07] MauroMombelli commented on #73
this is a know issue of the sensors, many say to be already taking care of
it. (temp. compensated)
Fixing that is quite hard has you have to create the specific drift curve
based on temperature, and from here fix the reading; this require some sort
of temperature controlled chamber witch provide at least 3 different
temperature point to recreate the curve; also you'll need some sort of
feedback fr

[2016-01-19 09:59] digitalentity commented on #73
Today's test:
From +20 to -25 deg.
Gyro offset drift: (-2; 4; -2) degrees per second
Acc offset drift: (0.05; 0.03; 0.1) G

Enough to cause attitude drift for 1-2 degrees, makes acro flying impossible as gyro bias is causing uncontrolled rotation.

[2016-01-21 18:14] brat002 commented on #73
You can get Taulabs temperature compensation code for these needs.

[2016-01-22 05:13] digitalentity commented on #70
@HO4X
Can you please verify if your GPS is working fine with 1.0-RC5?

[2016-01-22 05:18] digitalentity opened #74 "Failsafe - Voltage-activated failsafe"
Opened to track https://github.com/cleanflight/cleanflight/issues/1711

[2016-01-22 10:07] HO4X commented on #70
Yes ! I will do it later that day.

[2016-01-23 01:20] digitalentity commented on #20
Done.

[2016-01-23 01:20] #20 closed, assigned to nobody

[2016-01-23 01:33] digitalentity commented on #48
I'm closing this, a very popular Neo-6M does not support 10Hz update rate. With version detection working Neo7 and above will be set to 10Hz rate already.

[2016-01-23 01:33] #48 closed, assigned to nobody

[2016-01-23 02:35] digitalentity commented on #29
Tested and working.

[2016-01-23 02:35] #29 closed, assigned to nobody

[2016-01-23 06:18] bk79 commented on #48
Actually I've tried it several times and 10hz with neo6m works perfectly
giving more accuracy

[2016-01-23 09:16] digitalentity commented on #48
It works with my 6M too, but I have reports of even M7Ns having issues with 10Hz updates. I'd rather stick to the datasheet on this one :smile:

[2016-01-24 12:23] #70 closed, assigned to nobody

[2016-01-24 12:25] digitalentity commented on #70
@HO4X thanks!

[2016-01-26 01:44] digitalentity opened #75 "Port BiQuad filter code from BetaFlight"
Betaflight made significant improvement to acc/gyro filtering code. iNav need to make use of this code.

[2016-01-28 16:09] Linjieqiang opened #76 "[Feature]add MavLink Code Telemetry to use Tower App"
First,Thanks your hard wroking.The Code was very nice.But I suggest quickly add the Mavlink Support so I can use Tower (https://github.com/DroidPlanner/Tower) to control the copter like APM!

[2016-01-29 00:56] digitalentity commented on #76
Hi, thanks for your interest in iNav.
Unfortunately telemetry in iNav doesn't provide means to control the copter. It's one-way communication from FC to OSD/Ground.

[2016-01-29 05:26] Linjieqiang commented on #76
But why not remove CLI and replace by Mavlink control?

[2016-01-30 11:40] digitalentity commented on #76
Removing CLI is a good idea, but replacing it by MavLink is definitely NOT a good idea - we already have MSP, why reinvent the wheel for pushing settings to the FC?

[2016-01-30 11:40] digitalentity commented on #76
A Mavlink-MSP proxy might be a solution in your case.

[2016-01-30 18:08] Linjieqiang commented on #76
Oh ,I know.Thanks

[2016-01-30 18:08] #76 closed, assigned to nobody

[2016-02-05 07:35] digitalentity commented on #75
PR opened - #77

[2016-02-05 07:35] #75 closed, assigned to nobody

[2016-02-06 07:05] bk79 opened #78 "i2c gps not recognized anymore"
I've tried using master branch and after the flash on CC3D i2c nav board is not recognized and from CLI I cannot set gps_provider =I2C

[2016-02-06 07:11] digitalentity commented on #78
New setting is `gps_provider = I2C-NAV` (https://github.com/iNavFlight/inav/wiki/iNav-CLI-variables)

[2016-02-06 07:13] bk79 commented on #78
ok closing

[2016-02-06 07:13] #78 closed, assigned to nobody

[2016-02-06 07:16] digitalentity commented on #78
Please reopen if the issue persists

[2016-02-08 08:47] digitalentity opened #79 "WP - Store waypoints in non-volatile memory"
Use onboard dataflash for waypoint storage (if available)

[2016-02-08 08:49] digitalentity opened #80 "Discussion - features to consider porting over from Cleanflight/Betaflight or removing entirely from iNav"

[2016-02-13 09:28] bk79 opened #81 "BMP180 drift"
I've noticed that baro drift negatively over time so from 0 it goes even to -6 m over one hour log, does this happens only on sensor or also on others?

[2016-02-13 09:38] digitalentity commented on #81
It's likely atmospheric pressure drift. 6m for an hour is acceptable, any other barometer should pich the change.

[2016-02-13 09:38] #81 closed, assigned to nobody

[2016-02-13 12:33] bk79 opened #82 "biqua-filter version not arming"
I'm unable to arm via yaw after uploading

[2016-02-13 12:37] digitalentity commented on #82
Was unable to confirm the issue. What board and what RX are you using?

[2016-02-13 12:39] bk79 commented on #82
cc3d rx_ppm

[2016-02-13 12:39] stronnag commented on #82
I have no problem stick arming (dodo).

[2016-02-13 12:41] digitalentity commented on #82
cc3d + ppm receiver, no problems with arming on biquad latest code. possibly a nav_extra_arming_safety feature doing its job and preventing arming without a GPS lock?

[2016-02-13 12:43] bk79 commented on #82
yes I don't have any gps lock but i tried even disabling gps which shouldn't trigger it

[2016-02-13 12:58] bk79 commented on #82
confirmed setting nav_extra_arming_safety= OFF i can arm again

[2016-02-13 14:05] digitalentity opened #83 "RTH mode does not show without a BARO sensor"

[2016-02-14 11:24] digitalentity commented on #83
Unable to confirm

[2016-02-14 11:24] #83 closed, assigned to nobody

[2016-02-17 12:44] #82 closed, assigned to nobody

[2016-02-17 20:49] skaman82 opened #85 "Please re-add LED feature to naze32 target"
Me and most likely many others love the LED support and use it for orientation, warnings and many other things. You've done a incredible job on inav so far, but removing the led support on naze targets was not the best idea I think. I know, this decision was made because of code size, but there are maybe some other functions that can be left out that are not so important as led support. For exampl

[2016-02-17 23:41] digitalentity commented on #85
Assigning to 1.1 milestone - possibly will fit with slimmed GPS code.

[2016-02-20 21:06] piposa opened #86 "Add support for all external Mag orientations"
Align_sensors() has just support for mag orientations if mag is mounted on board. Missing is support if the flight controller board is mounted perpendicular to Mag/GPS board and external mag is used.
Extend align_mag with additional orientations.

[2016-02-23 13:43] Mathotg opened #87 "NAV - Reset altitude and position setpoint when ALTHOLD/POSHOLD is activated before arming"
The throttle management is a bit strange when
1) taking off with GPS-HOLD + ALT-HOLD mode enabled. Full throttle is needed for a while and the machine goes up very slowly. With the time, the throttle management improve and the altitude hold is around 50% of the stick. A video is available on https://www.youtube.com/watch?v=Ucc2pPwoOeA
2) When in flight switching to GPS-HOLD + ALT-HOLD ; the machin

[2016-02-23 15:15] digitalentity commented on #87
Yes, taking off in altitude hold mode needs improving.

Try upping your vel I and let us know of your findings. Thanks!

[2016-02-24 12:17] Mathotg commented on #87
Prior the test, I did change to 0.015 the Vel I gain following advise from Konstantin Sharlaimov . The take off is better and the drone "JUMP" to 50 cm eight quickly and then slowly goes up. after around 20 seconds the throttle management become normal. The other thing, I noticed is that at arming, the motors spin quickly for a short period. that's probably the differential gain which is taking ef

[2016-02-25 17:33] digitalentity opened #88 "Prevent GPS-assisted modes from activating if no MAG"
Verify and check that GPS-assisted modes are disabled when no MAG is present. Extend nav_extra_arming_safety to check for MAG as well as GPS.

[2016-03-01 13:20] csurf commented on #26
Hi,
I'm trying to get up to speed on the FW development.
I've been looking at the code & have a few ideas/suggestions. not sure if this is the correct forum to suggest, but here goes...
- the code in nav_rewrite seems to be setup as a catch-all for both multi-rotor and FW, with a few, scattered if/else statements to distinguish between both cases (FW & MR). I propose that we completely eliminate t

[2016-03-01 14:22] oleost commented on #26
@csurf I know there is ongoing discussion on separating fixedwing and multirotor firmware.  cleanflight#1621

Testing I can help you with, currently setting up an airplane with iNav.

[2016-03-01 14:33] csurf commented on #26
@oleost, cool, good to know, thanks...
for now, please take a look at my comments above & provide feedback/brainstorm. I'd greatly appreciate all of the input possible before I start any coding. If u can, please test the climb-out, pos hold, and RTH stuff.

FYI, I'm on the CF IRC channel, which might be easier & more productive in terms of dev communication...

[2016-03-05 02:11] oleost opened #89 "Limited servo throw for fixed wing in Horizon/Acro mode without throttle."
**Issue:** When in stabilization modes like acro and horizon there is less servo throw when not throttle is engage. Even with airmode enabled.

**Why its an issue**: Many airplanes are suitables as semi gliders, so we throttle up and throttle all the way down and fly without throttle, when doing this we need all the servo movements we got.

Also when landing an airplane its normal to cut throttle

[2016-03-05 02:14] oleost commented on #26
#89 Added new issues regarding fixed wing, limited servo throws in stabilization mode without throttle.

[2016-03-05 15:03] csurf commented on #89
@oleost,
Although I haven't been able to do a flight-test yet, I just tested my servo throws on the workbench in passthru & stabilized modes (gyro/acro & horizon). The throws seemed equal in both.

I've noticed that, during flight, the stabilized modes always tend to feel a bit dampened, 'dead', and less responsive than when in passthru. However, this is normal, as the stabilizing action of the FC

[2016-03-05 15:37] csurf opened #90 "NAV - add cross track error support for FW"
more info:
http://www.rcgroups.com/forums/showpost.php?p=10263920&postcount=12
http://diydrones.com/forum/topics/anyone-knows-how-to-measure-the-lateral-crosstrack-error

[2016-03-05 15:39] digitalentity commented on #89
This might be a result of I-term zeroing at zero throttle. Enabling AIR_MODE when in the air might improve the situation. But please avoid enabling AIR_MODE on the ground - it will result in I-term windup and cause trouble with takeoff.

[2016-03-05 15:40] digitalentity commented on #90
Good idea, thanks

[2016-03-05 15:45] csurf opened #91 "NAV - emergency landing for FW"
request for comments on how an emergency landing routine should be setup for fixed-wing models.

My thoughts are that the plane:
- should descend downward in a light, banking circle, with slight downward pitch
- rate/radius of circular descent could be tracked by monitoring heading values from MAG sensor.
- Throttle should be kept at a minimum, user-configurable value
- when the plane has reached

[2016-03-05 16:04] #88 closed, assigned to nobody

[2016-03-05 16:10] oleost commented on #89
Hi, I already tried using Air_mode to help on this.

Here is a video showing it:
https://goo.gl/photos/8njL5FfDCemqC9K76

And black box log
[Limited servo throws with video.TXT](https://github.com/iNavFlight/inav/files/159907/Limited.servo.throws.with.video.TXT)

[2016-03-05 16:12] csurf opened #92 "NAV - Cruise mode for airplanes and multirotors"
cruise mode is somewhat of an extension of POSHOLD for fixed-wing models. The purpose is to allow for simple, straight-line 'point & go' flying, where FC takes care of maintaining stability, altitude, and heading, allowing user to relax and handle other tasks. Good for long-range flights.

When activated, what it does is:
- auto-enable ANGLE mode  in order to maintain level flight
- auto-enable fi

[2016-03-05 16:14] digitalentity commented on #89
@oleost this is strange. As soon as I get back to my boards, servos and other rc-stuff I'll investigate this further. BTW what PID controller is this?

[2016-03-05 16:25] oleost commented on #89
@digitalentity Everything is default iNav values with "Airplane" Mix, so its MultiWii Rewrite.

[2016-03-06 06:53] brat002 commented on #92
I am dreaming about this feature! It will be useful for multirotors too.

[2016-03-06 07:00] digitalentity commented on #92
Same logic can be applied to multicopters as well. It would be a great feature to have for FPV flights. Scheduling to 1.2 milestone.

[2016-03-06 07:09] digitalentity commented on #80
I was unavailable to be dev for a while and I need to catch up.
What are features that present in latest Cleanflight but not in iNav?

[2016-03-06 09:41] theArchLadder opened #93 "Throttle compensated mag calibration"
I'm still using my internal mag on my 250 racer quad. The FC is right above the PDB, this gave me up to 30 degrees error on compass reading with violent toiletbowling.

I have solved this by looking at a few blackbox logs and checking what the MAG values are when i arm, and then what the values are right at takeoff.  I then modified magzero_x,y,z for that. This makes my compass up to 30 degrees wr

[2016-03-06 10:11] theArchLadder opened #94 "nav_posr_d max value needs to be 10 times stronger."
I have used a custom iNav build that let me set nav_posr_d 10 times higher than default, this has improved the behaviour of my quad, see this RCGroups post in the iNav thread for more info:
http://www.rcgroups.com/forums/showthread.php?t=2495732&page=251#post34180060

Weather has been bad so i have only been able to do a few test flights, values between 75-150 (or 750-1500 with the old scale) seem

[2016-03-06 10:29] csurf opened #95 "RFC - remove hard-coded motor & servo templates"
I was looking at the code in mixer.c, and it looks like a fair amount of space is invested in storing hard-coded motor layout templates. It seems to me that it would be more efficient & effective to treat all motor & servo layouts and 'custom mixes' that must be user-configured over serial & stored in EEPROM, versus having them all taking up flash space. Removing the unused layouts would free up a

[2016-03-06 11:24] digitalentity commented on #93
Good thing to have, thanks for investigating

[2016-03-06 12:08] digitalentity commented on #94
Will make the change in a day or two

[2016-03-06 15:52] #94 closed, assigned to nobody

[2016-03-06 15:53] digitalentity commented on #94
@theArchLadder
It is done. Please test it and try to find a suitable POSR_D default value (currently at zero).

[2016-03-06 16:54] stronnag commented on #80
From betaflight, please consider the new beeper command, just to shut up the damn thing up on USB, as I spend quite a lot of time re-flashing / reconfiguring.

[2016-03-06 16:56] digitalentity commented on #80
Thanks, I will.

[2016-03-07 08:07] digitalentity opened #97 "HW - Support for MAG3110"
Honeywell magnetometers (HMC5883/HMC5983) are end-of-life by chip manufacturer. There is a fairly cheap boards with Freescale MAG3110 compass (http://www.aliexpress.com/item/5PCS-MAG3110-3-Axis-Digital-Magnetometer-I2C-Interface-Development-Board-TOP/32345255545.html). If we have support for them we will have an option to have an external compass without physically disabling/removing onboard compa

[2016-03-07 08:09] digitalentity commented on #95
I think it's best to have a few preconfigured mixes for most common types of frames (X4, X6, Y6, Tricopter, Airplane, Flying wing) and allow the exotic setups only as custom motor mixes.

[2016-03-07 08:10] digitalentity opened #98 "Port new BEEPER command from Betaflight"

[2016-03-07 17:03] stronnag opened #99 "gcc 5.3 generates unsafe code"
I've been using arm-gcc 5.3 ever since it became the Arch Linux default about a month ago. Since then I've seen:
- Inexplicable failure to perform PH (instead shooting off in a random direction). After a soft FC reboot under the same external conditions (GPS, wind), the PH might then execute perfectly. This with well tuned machines that had previously behaved perfectly for nav functions.
- Last Fr

[2016-03-07 18:04] digitalentity commented on #99
Thanks for investigating this. I've also encountered gcc-5.x related issues, mostly with USB VCP on CC3D board. I will avoid using gcc-5.x for building iNav until this is investigated furhter.

[2016-03-07 21:24] dkisselev commented on #80
Is there a plan for iNav in relation to CF?

After all is said and done, is it in a state that can be merged back and become part of CF, or does it have too many specific optimizations/changes that would probably be better suited as a parallel project that will just get synced up every few releases?

[2016-03-07 21:36] digitalentity commented on #80
I am considering keeping iNav a separate project.

Reason for that is that Cleanflight targets racing machines and attempts to squese racing-related features and optimisations that compete with navigation for CPU time and FLASH memory space. It might not be possible to fit all of them into a older board like NAZE and I am almost certain that Hydra's call would be for racing-specific feature, not f

[2016-03-07 22:00] skaman82 commented on #80
Konstantin, I fully agree on that. I am really tired of the direction CF is going. It almost seems that the devs think that racing is the only reason to fly a quad... and that there is only one real flight mode: ACRO. I personally would like to use it also for areal filming and navigation. The is also now a new branch called Raceflight. So all branches CF, Betaflight and Raceflight are all about r

[2016-03-07 22:19] digitalentity commented on #80
@skaman82
1.12 and betaflight sacrificed full accelerometer sampling rate in favor of top gyro performance and now suffer consiquences of aliasing the accel data. iNav has already been down this road a few months ago soon after new scheduler was introduced.

I let racing pros fly two identical quads, tuned to the edge of acro performance, one flashed with Betaflight (1kHz looptime) and the other w

[2016-03-07 22:32] digitalentity opened #102 "GPS - Get date and time from GPS receiver and record them to blackbox"

[2016-03-08 00:46] eziosoft opened #103 "FollowMe mode"
Could you add a separate followMe mode to avoid confusion. At the moment FC has to be in Position Hold to follow which is not very good. Maybe there is a simple way to assign PH to only for position hold (which means just to ignore setting the WP255). And add a FollowMe mode which will be doing exactly the same as PH now.

[2016-03-08 00:57] eziosoft opened #104 "Heading control for FollowMe (WP255)"
Could one of the parameters in WP255 be used as a heading control ?
Also it will be very useful if one particular value outside the heading range can be used to keep last heading.

[2016-03-08 03:13] dkisselev commented on #103
If follow me is basically just PH, does the Quad need to know/manage the fact that it's in an FM state? That seems like a client-side configuration/system (where the ground station knows its location and where it wants the quad to be, and sends that to the quad), until here needs to be some specific behavior on the quad side that's unique to FM.

Heading control/WP255 could just be rolled into sta

[2016-03-08 03:31] eziosoft commented on #103
The followMe mode will give the user the possibility to enable/disable it from TX.
At the moment when followme positions are sent from the ground station, classic position hold is not available. The user may want to have PH ie in panic situation.

[2016-03-08 05:52] digitalentity commented on #80
Please advise what features should we take from CF/BF/RF or what legacy code we should remove from iNav. My suggestions:

Port to iNav:
1. New mixer code (separate from airmode and make default mixer)
2. F4 code from @sambas
3. New resource handling code from @ledvinap (when ready)
4. SD-card logging (I can forecast new targets with SD sockets popping up all around)

Remove:
1. Some pre-defined mo

[2016-03-08 06:19] digitalentity commented on #104
@eziosoft
Please see the latest master. You now have the ability to set heading by passing P1 parameter with WP255.

Poshold now executes heading controller, but does not force MAG mode to be enabled. If you want P1 parameter to actually turn the quad you have to enable MAG mode explicitly.

P1<=0 and P1>=360 are considered "keep last heading".

You won't be able to set heading "due north" but 1 d

[2016-03-08 06:21] eziosoft commented on #104
Thanks ! That was fast.

[2016-03-08 06:21] #104 closed, assigned to nobody

[2016-03-08 06:27] digitalentity commented on #104
@eziosoft I didn't test the code. Please check if its working as expected. If anything is wrong please reopen the issue.

[2016-03-08 17:36] digitalentity commented on #103
@eziosoft
Done, see fbeff0a. Featuring new "GCS NAV" mode. It has to be enabled together with POSHOLD by TX AUX to allow PH position to be adjusted by sending WP#255.

[2016-03-08 18:29] eziosoft commented on #103
Wow you are fast. Thanks a ton.
I will test it asap.

[2016-03-08 18:29] #103 closed, assigned to nobody

[2016-03-09 04:45] digitalentity opened #105 "ALTHOLD - Use throttle curve midpoint"
Currently ALTHOLD uses midrc for throttle stick midpoint, this is not true when throttle expo is used. ALTHOLD should respect throttle expo midpoint.

[2016-03-09 16:17] theArchLadder commented on #99
Thanks for reporting.
I have been using a arm-gcc 5.3 on archlinux for a few days and have done more than 10 flights, i have not seen any issues yet though.
I guess i will use 4.9 in the future just to stay safe.

[2016-03-09 16:24] theArchLadder opened #106 "Force-arm without gps fix"
I dont always fly with a clear sky above my quad, sometime it could be in a forest, or even indoors.
I know there is a CLI option for this, but imho it would be even better if we could have some way of force-arming without gps.
This way we can both have the cake and eat it. We will not arm without gps by accident, but we can still arm without gps if we really need to and dont have access to the CL

[2016-03-09 17:08] MauroMombelli commented on #99
i think problem like that can be solved in a clever "continuous testing" way: we tag a specific version, you run it on a real case scenario recording all the sensor input and output.

Then a sort of "replay" function where the board read that logged data instead of sensors and check the results. If inconsistencies are detected, then are recorded and human will have to analyze.

This will not be po

[2016-03-09 19:23] digitalentity commented on #97
Closed via 8f25007

[2016-03-09 19:23] #97 closed, assigned to nobody

[2016-03-10 11:13] bk79 opened #107 "PH question"
@digitalentity  If during PH I move the sticks will the gps coordinate calculated back? or it still keeps the  coordinates of when I activated PH? Example...I'm already with PH activated I move the stick to move it 20-30m ahead, I have a certain speed so when I release the stick it will still have some inertia and go forward. If instead when I release the stick the new coordinates are takes it wil

[2016-03-10 17:11] digitalentity commented on #107
When you release the stick iNav will calculate new position according to
configured braking (a little bit ahead in the direction of movement to
allow graceful deceleration). Old coordinates are replaced with new ones.

[2016-03-11 04:00] csurf commented on #95
ok, so I take it you'd be more/less opposed to this idea? I figured it might be an easy way to reclaim some flash space since only one template/motor layout is ever used, and it's only setup once during initial configuration. It seems it would make more sense to have the templates loaded via configurator. However, I see how this would require major modifications to configurator.

If you don't see

[2016-03-11 05:03] bk79 commented on #107
What about the altitude? Does it changes it as well or still remains the same?

[2016-03-11 11:44] Grahamtisse opened #108 "Board position alignment"
I have discovered an issue regarding the Board Alignment with the naze32.  No matter what degrees of Yaw Rotation is input, the axis remains unchanged!

[2016-03-11 11:45] digitalentity commented on #108
Please read the documentation. Board alignment is in deg*10 units.

[2016-03-11 11:51] Grahamtisse commented on #108
Thank you for a quick responce.  Im new to github and could you point me in the direction where this is.

[2016-03-11 12:19] oleost commented on #108
http://www.rcgroups.com/forums/showthread.php?t=2495732&page=1

https://github.com/iNavFlight/inav/wiki

And please try to dig around and search before asking...
Also use forums for support instead of github.

[2016-03-11 12:25] digitalentity commented on #107
Altitude is changed when you move throttle stick. When you only use
pitch/roll desired altitude is not changed.

On Fri, Mar 11, 2016 at 3:03 PM, bk79 notifications@github.com wrote:

[2016-03-11 12:26] digitalentity commented on #95
No opposed. This is a great idea, but we have to modify both iNav and
Configurator to do this. At the moment we might just want to remove less
frequently used mixers.

On Fri, Mar 11, 2016 at 2:00 PM, csurf notifications@github.com wrote:

[2016-03-11 12:27] bk79 commented on #107
ok thanks for the explanation I thought that since GPS Coordinate are 3D I thought it was changing with the new position (if during the flight altitud changed as well)

[2016-03-11 12:27] #107 closed, assigned to nobody

[2016-03-11 12:37] Grahamtisse commented on #108
Thank you for the advise.  Did not realise this kind of information is on
forums.

Best Regards

Graham
On 11 Mar 2016 12:19, "oleost" notifications@github.com wrote:

[2016-03-11 18:28] stronnag commented on #99
I flew 4.9 hex (fp-pid) and it was so much more stable than anything I've flown on 5.3 for the past 6 weeks or so. Solid PH/RTH/WP, density softserial telemetry, great GPS data. Damn you 5.3, you own me so many propellers.

[2016-03-11 21:10] stronnag opened #109 "inav does not provide a clean API for GPS fix quality"
GPS fix quality as reported by MSP or LTM is less precise than the data available in the FC.

For MSP_RAW_GPS, the value of STATE(GPS_FIX) is returned. This does not match the MSP spec (0 or 1); the macro returns 2 (which a ground station might mis-construe as 2d-fix).

For LTM there is (mea culpa) an arbitrary calculation based on STATE(GPS_FIX) and the number of satellites.

For at least UBLOX (

[2016-03-12 01:37] digitalentity commented on #99
@stronnag
We'll stick to 4.9 then. BTW which board are you testing with? I wonder if it's the float-point emulation that is broken in 5.3?

[2016-03-12 01:38] digitalentity commented on #99
@MauroMombelli
Can you elaborate? You suggest feeding blackbox data into the FC instead of real sensor input?

[2016-03-12 05:11] csurf commented on #108
@Grahamtisse please close out issue if it has been resolved... :)

[2016-03-12 09:06] #108 closed, assigned to nobody

[2016-03-12 09:07] digitalentity commented on #106
Any thoughs on the proposed change, anyone?

[2016-03-12 09:10] digitalentity commented on #109
Maybe abuse the MSP_RAW_GPS with more types of fix? 0 - no fix, 1 - 2D fix, 2 - 3D fix? Fix type can be exposed in the `gpsSol` global and logged to blackbox as additional field in GPS frame.

[2016-03-12 09:11] digitalentity commented on #109
This change can be made along with #84

[2016-03-12 09:23] oleost commented on #106
Sounds good.

It's handy to have a backup way to get it flying without GPS. And I doubt
anyone tries to arm 5 or more times within 5s on accident.
12. mar. 2016 10.07 skrev "Konstantin Sharlaimov" <notifications@github.com

[2016-03-12 12:15] DzikuVx commented on #109
It would be very nice to be able to get HDOP in a simple way. Maybe a new CLI command, since with new MSP commands there is still a problem with waiting for it to be implemented in Configurator(s)

[2016-03-12 14:15] digitalentity opened #110 "HW - Support for SD-card blackbox logging"

[2016-03-12 22:50] stronnag commented on #109
@digitalentity, yes having the fix type in the global would be excellent, then we report it as you suggested in RAW_GPS (and LTM GFRAME, and blackbox). This would be really good for live telemetry as as well as post mission debug.

[2016-03-12 22:51] stronnag commented on #99
@digitalentity, problem on both F1 and F3.

[2016-03-13 02:18] digitalentity commented on #86
That's rather exotic configuration. I'm not sure if it's worth the effort. I'll keep the issue open for the time being to keep track of the idea.

[2016-03-13 02:18] digitalentity commented on #98
See #100

[2016-03-13 16:09] piposa commented on #86
I you limit your view to copters, I agree it is a quite exotic configuration.
I use a FLIP mini in flying wing and I have mounted it verticaly in the wing to have easy access to the usb port.
For airplanes the fuselage often allows easier mounting below the cockpit canopy so that the usb port is accessable from the top. Avoids extension cords or additional openings in the fuselage.
I solve that fo

[2016-03-14 01:12] MauroMombelli commented on #99
+digitalentity exactly, if we know that in a determinate code revision from determinate input we should get a determinate output, if we see discrepancies we know about some compilation/linking/whatever error.
This may seems excessive, but nowadays we get Clang and GCC making a lot of release per years, and this as caused a lot of troubles (i'm thinking about LTO for example). Also would be interes

[2016-03-14 07:29] martinbudden commented on #80
I would discourage getting rid of the CJMCU target. Although, as you say, it is incapable of navigation, I think the discipline of maintaining a 64K ROM build is a good one. It means clean separation of different parts of code is enforced, and helps stop unwanted dependencies creeping in.

I also think the CJMCU is capable of becoming a decent little indoor practice quad. I've built a variant with

[2016-03-14 08:29] digitalentity commented on #80
@martinbudden
Ref CJMCU - I like your sugestion - this target will stay, I think iNav could be stripped down to fit into 64K.
Ref. NRF24L01 - feel free to post a PR here, I like the feature :smiley:
Ref. automated build/test system - no, not at the moment, but I'd like to have one. Suggestions?

[2016-03-14 08:45] digitalentity opened #112 "HW - Option to calibrate gyro on arm"
As suggested by @MasterZap in https://github.com/borisbstyle/betaflight/issues/277:

[2016-03-14 08:51] digitalentity opened #113 "RTH - Improve RTH with emergency landing"
By changosurf@RCG:

[2016-03-14 11:27] oleost commented on #113
I would say this sounds good. But without the alt hold at configured rth height, just make it hold current height. (Would suck to see it fly up in case of failure, and would also make it drift longer when emergency landing without GPS)

Reason I think the blind angle mode and alt is a good idea is with acrobatic planes and multirotors one often loses/drops low on satelites when banking hard and do

[2016-03-14 20:33] Ralf-W commented on #59
I think it could work using a custom mixer. Starting from the examples given in CF doc "Mixer.md" I just tried the following:

 mixer CUSTOMAIRPLANE
 mmix reset
 mmix 0 1.0 0.0 0.0 0.0 # Engine

 smix reset
 # Rule Servo Source Rate Speed Min Max Box
 smix 0 3 0 100 0 0 100 0 # Roll / Aileron
 smix 1 4 0 100 0 0 100 0 # Roll / Aileron
 smix 2 2 1 100 0 0 100 0 # Pitch / Elevator
 smix 3 5 1 100 0

[2016-03-16 12:18] DzikuVx commented on #106
I'm against this change. Probably nobody would use it in real live. Plus, it would affect GPS assisted modes with extra flags required not to enable RTH modes even after lock has been acquired, but protection was overridden. Safety precautions works only when they are simple

[2016-03-16 12:23] DzikuVx commented on #93
I think it would be a hell to calibrate this feature for anything else than hover and thus not usable for example at 3/4 of throttle.

There can also be a case when only one of power wires interferes with magnetometer. For example power wire to ESC motor 1. So, scaling would be usable only when this one motor is getting enough current to generate mag field strong enough to alter magnetometer reado

[2016-03-16 12:29] digitalentity commented on #106
I tend to agree with @DzikuVx - people usually don't fly GPS-equiped drones in GPS-denied environments. And for the rare case this should be allowed we have **nav_extra_arming_safety** setting.
If one is flying with nav_extra_arming_safety=OFF he/she is probably smart enough to understand the risks of flying without home position set.
Having the way of overriding safety protocol is equal to having

[2016-03-16 12:32] digitalentity commented on #93
@DzikuVx
Throttle-compensated mag calibration is not a magic tool, but in many cases it can make mag working - in many cases interference is big enough to confuse navigation, but not big enough to make compass readings unusable.
Still, not a top-priority task.

[2016-03-16 12:32] #106 closed, assigned to nobody

[2016-03-16 12:53] digitalentity opened #115 "LTM - Allow GPS HDOP to be reported via LTM"
We should probably think about modifying LTM to allow HDOP value to be sent to the groundstation/OSD. @stronnag, @oize what do you think?

[2016-03-16 13:02] digitalentity commented on #109
With #84 HDOP will be reported as first sat signal level:
![2016-03-16 22 56 10](https://cloud.githubusercontent.com/assets/11059099/13813072/2db5e7fa-ebcb-11e5-8c3e-15c7b4735c96.png)

@stronnag, please see #115

[2016-03-16 13:04] DzikuVx commented on #115
I like this idea very much!

[2016-03-16 13:04] skaman82 commented on #109
great!

[2016-03-16 13:07] digitalentity commented on #115
We need to consider compatibility with existing tools. While I'd love to modify G-Frame and add another field to it, it will break compatibility with GhettoStation, EzGUI etc.

We have N-frame (navigation status) for reporting extra navigational data, maybe we should report HDOP there? Or should we add an extra frame for reporting HDOP and may be some other values?

[2016-03-16 13:09] digitalentity commented on #109
@skaman82 are you still working on Configurator chages?

[2016-03-16 13:14] skaman82 commented on #109
Yes, I do. Had not enought time for that lately but I will work on some stuff with nighthawk32 in the next weeks. First we will add some new LED functionality like showing a GPS fix status.

Von meinem iPhone gesendet

[2016-03-16 13:17] skaman82 commented on #109
If you need some help with the GUI I am happy to help out if I can

[2016-03-16 13:18] digitalentity commented on #109
@skaman82 be aware that iNav will report GPS fix type in MSP_RAW_GPS as following 0 - no fix, 1 - 2D fix, 2 - 3D fix. This will keep things compatible with exitsing tools that look for zero/not zero value while providing a more detailed fix info.

[2016-03-16 13:24] skaman82 commented on #109
@digitalentity I haven't been following the changes for a couple weeks. I think if the 3D fix is reported differently than in original CF, it is very unlikely that it will make in the Configurator because it will not work with original CF. If you change the reporting, it should be merged first in original CF branch. Then it will be no problem to implement it into the GUI. EDIT: Otherwise we need t

[2016-03-16 13:29] digitalentity commented on #109
@skaman82 with current implementation of Configurator does not distinguish between 2D fix and 3D fix, both will be reported as 3D fix by Configurator.
No fix will be reported correctly.

[2016-03-16 13:29] skaman82 commented on #109
@digitalentity thanks. Yes that will work then! :)

[2016-03-16 13:30] skaman82 commented on #109
@NightHawk32 FYI

[2016-03-16 13:33] digitalentity commented on #109
I'm trying to keep things as much compatible with original CF as I can, but this is not always possible. I'd be glad to see WP support in the Configurator but that's likely not going to happen until iNav is merged back to CF.

[2016-03-16 13:35] skaman82 commented on #109
I am honestly not seeing iNAV merged to CF any time soon anymore ... But let's hope that I am wrong :)

[2016-03-16 13:37] skaman82 commented on #109
What do you think of that?

No fix = red LED flashing
2D fix = yellow LED flashing
3D fix = green LED always on

Further discussion on LED function in here: https://github.com/skaman82/cleanflight-configurator/issues/67

[2016-03-16 13:38] digitalentity commented on #109
@skaman82 same here. I can see Cleanflight becoming a racing-only firmware and GPS support completely removed in favour of nifty racing features. I only hope @hydra will prove me wrong :smile:

[2016-03-16 13:45] digitalentity commented on #109
Done. MSP_RAW_GPS reportes 0/1/2 depending on a fix type. Fix type also available as gpsSol.fixType global.
STATE(GPS_FIX) means 3D fix (gpsSol.fixType == 2)

Next step - add to LTM and blackbox.

[2016-03-16 17:55] stronnag commented on #109
Thanks. LTM uses 0 = no gps, 1=gps, no fix, 2=2D, 3=3D (take from KipK's original implementation), so consumers have to handle this slightly differently, but I don't see that can be avoided without breaking legacy.

[2016-03-16 18:43] stronnag commented on #115
I can't say I have a strong view, LTM is meant to be lightweight @2400 baud, but if we don't report too frequently, that should not be a problem. As there is no length field, extending any field (including N which is at least binary content compatible with MW/MSP) would NOT be my preference, rather there should be a new frame type.

[2016-03-17 08:53] digitalentity opened #116 "Flight mode configuration and switching issues"
Reported by @stronnag:

[2016-03-17 12:03] digitalentity commented on #116
@stronnag
Not really a bug. I added a new BOX mode - GCS NAV on request from @oize, CLI mode IDs got shifted. 1.0.2 will have a big warning to re-configure AUX settings.

[2016-03-17 12:10] Oize commented on #116
Could you please not mention me here. I don't even know you guys :)
Good luck in this project!

2016-03-17 15:03 GMT+03:00 Konstantin Sharlaimov notifications@github.com:

[2016-03-17 12:14] digitalentity commented on #116
@Oize, mea culpa, I ment @eziosoft (he goes by oize on RCG) :smile:

[2016-03-17 18:25] stronnag commented on #116
I think it is a bug. If I save the settings as:
![cleanflight - configurator_423](https://cloud.githubusercontent.com/assets/158229/13856485/532d0598-ec6d-11e5-9f4c-a50a40ff5ede.png)
Then I disconnect / reconnect (or reboot), then I get this:
![cleanflight - configurator_424](https://cloud.githubusercontent.com/assets/158229/13856511/6e48cd12-ec6d-11e5-91d3-25df7e0b4f3b.png)
(or worst, sometimes w

[2016-03-17 19:02] stronnag commented on #109
Tested the new MSP_RAW_GPS and it is reporting fix type as expected. Also HDOP appears sane in the configurator (Neo 6M).

[2016-03-17 20:19] stronnag commented on #116
And, if I change the order of boxnames in the enum in `./src/main/io/rc_controls.h` to match that in which the names are defined in `./src/main/io/serial_msp.c` (i.e. move `BOXGCSNAV` to the end, then saving NAV WP works again.

And, yes, I distinctly recall hydra telling us that  `permanentId` fixed all this ...

[2016-03-17 21:11] DzikuVx commented on #115
Eventual new frame does not have to be sent very often. Additional data like HDOP or whatever else would be put there is not changing very often.
And extending frame N would break compatibility with frame N existing consumers

[2016-03-17 21:25] Ralf-W commented on #59
Correction! Stupid me! I was misled by the examples given in the CF docs "mixer.md". What I wrote above is OK for all the servos. But "Throttle" should also be defined using "smix": as a servo signal led to the first output pin, where the ESC will be connected.

I think it should work using this a custom mixer:

mixer CUSTOMAIRPLANE
 mmix reset

 smix reset
 # Rule Servo Source Rate Speed Min Max

[2016-03-17 21:44] lainchir commented on #80
Hi DigitalEntity. Just found this fork, and as you've seen, I'm having issues with CF1.12. Look forward to trying iNav very soon. Personally, for me... a stable platform with ALT hold, GPS modes and autolevel + LED strips is fine. :) I have oneshot enabled because my ESC's support it, but to be honest... I'm certainly not techy in the programming front, or have understanding of how these boards wo

[2016-03-17 23:51] digitalentity commented on #115
Comments taken into consideration. There will be an additional frame (X - as in eXtented info), reported instead of one of N-frames, we won't be consuming more bandwidth.

What data should be there in the new X-frame?
1) HDOP
2) ???

[2016-03-18 00:17] digitalentity commented on #116
@stronnag
I think I've spotted the bug. MSP_MODE_RANGES assumed that boxes[] array is ordered and indexed exactly as boxId_e enum, which may not be true. Saving modes worked correctly, retreiving them and sending to configurator that's what failed.

Fixed, thanks for reporting

[2016-03-18 00:17] #116 closed, assigned to nobody

[2016-03-18 00:21] digitalentity commented on #59
@Ralf-W
Please see my comment here https://github.com/iNavFlight/inav/issues/80#issuecomment-193619370
I'm actually thinking about **removing** exotic mixes from pre-defined and only allow them to be defined as "custom". I think non-common mixers setups should go to the wiki.

[2016-03-18 00:32] digitalentity commented on #109
Thanks! I'm closing this now. It's not very "clean" as in "well implemented and easy to use" but we can improve it later.

[2016-03-18 00:32] #109 closed, assigned to nobody

[2016-03-18 00:42] digitalentity commented on #87
@Mathotg
Is this issue still present in latest "master"?

[2016-03-18 00:43] #52 closed, assigned to nobody

[2016-03-18 00:43] #55 closed, assigned to nobody

[2016-03-18 00:43] #43 closed, assigned to nobody

[2016-03-18 11:34] digitalentity opened #119 "FW - Automatic cruise throttle estimation"
From RCG member:

[2016-03-18 11:40] Mathotg commented on #87
@Konstantin,

I did not dare to download the master so far. I was not sure that it could
be downloaded any time without having the risk of having an imcomplete
package. So I'm flying the stable version with the modification for the PID
gains that I did incoporate following the github issue.

Was there any change in the master concerning the arming and throttle
management?
I yes I will download and

[2016-03-18 12:02] digitalentity commented on #87
Just came to me that this is still an issue - if you switch althold before arming, altitude setpoint does not reset and with baro drift the error grows - this in turn leads to jumps at arming.

Stay tuned for a fix.

[2016-03-18 12:10] Mathotg commented on #87
Thanks for the info

Is the work around to arm and then switch to alt hold before take off?

Mathot Gilles

2016-03-18 13:02 GMT+01:00 Konstantin Sharlaimov notifications@github.com:

[2016-03-18 12:14] digitalentity commented on #87
Yes, exactly. Please check it if you have the time.

[2016-03-18 12:36] sppnk commented on #119
great. I think ground speed is the variable we need for this future experiment, because the final goal is to get longer ranges in our flights.

As another idea, I am flying in small FPV planes w/o current sensor (cause reducing weight), but the amperage  data estimated throught throttle stick value in MWOSD  is good if well calibrated. Sure it changes if the day is windy or so, but for long distan

[2016-03-18 12:38] digitalentity commented on #119
@sppnk
We don't want the to do numbers here, there is direct (and mostly linear) relation with throttle and power. We'll just minimize speed/throttle ratio.

[2016-03-18 12:44] sppnk commented on #119
good. This could be fusionated with future CRUISE mode #92, with a parameter to switch on/oFF throught CLI

[2016-03-19 16:22] DzikuVx opened #121 "Default values for FP-PID and strange behavior"
I know that controller is far from being ready, but today I took it for a fly in my 250 on 3S with Flip32:
- looptime 2000
- rates: 0.35 0.35 0.30
- build based on e181e7445dc970395aa485502160af5b1edfb051

Here are my notes on that experience:
1. default PIDs are flyable
2. quad had a tendency to drop the nose on tight turns and when finishing rolls and loops
3. Default PIDs caused visible oscilla

[2016-03-19 16:27] Mathotg commented on #87
Hello Konstantin,

The work around does not seems to work...
Here his what I tested:

1) connect the battery and wait for satellites
2) arm the motor but no take off
3) switch to pos+alt mode : there the motor spin dangerously for a few
seconds. The quad is nearly taking off himself
4) full throttle to take off

Hope this helps

Regards

Gilles
Le 18 mars 2016 13:14, "Konstantin Sharlaimov" notifi

[2016-03-19 18:24] sppnk commented on #26
Hi, I have setup a CC3D plane with iNav 1.0.1, but in ANGLE and HORIZON modes all the servos move to one side (plus the stabilization corrections) when arming and raising throttle stick.

This movement is slow (1 - 2 seconds), just when motor starts and then the servos go full to one side (I still have control throught sticks and I can see the stabilization corrections). When I move the throttle s

[2016-03-19 18:28] sppnk commented on #89
Hi @oleost , in your video I see the aileron moving weirdly  just when you start the motor. I have the same behaviour with iNav 1.0.1 in all the servos of my plane. Only in stabilized modes, not passthrough. No flyable.

I dont touch the ailerons, rudder or elevator sticks when pushing throttle up, but they move full to one side.

I have reported this in rcgroups too.

[2016-03-19 19:20] oleost commented on #89
@sppnk I got no wierd servo movement. Just limited throw. Im holding full aileron when applying throttle, thats why the aileron moves at the same time, going from limited to full servo throw.

Also, if you plane is laying sideway this would be expected as it is trying to correct it self in stabilized mode, try moving the plane opposit direction or keep it perfectly level and se if the same happens

[2016-03-19 20:22] marksev1 commented on #26
Do you think its maybe a power supply issue? Or code issue?

[2016-03-19 20:50] DzikuVx commented on #115
My suggestion:
- gpsSol.hdop capped at 255 as uint8_t  since there is no need for more
- gpsStats.lastMessageDt, the question is if we need max precision here? I would send it as millis / 10, cap at 255 (2.5s) and sent as uint8_t
- (gpsStats.errors / gpsStats.packetCount) \* 1000 as uint16_t
- ???

[2016-03-20 01:44] sppnk commented on #26
I think it is a code issue, 'cause passthought works fine

[2016-03-20 06:12] csurf opened #122 "HW - user-configurable mag calibration timeout"
In many cases, the hard-coded 30sec timeout period for mag calibration is too fast to perform a proper calibration. So, here is a proposal to add a new CLI var for configuring the mag calibration timeout period, mag_calib_timeout, uint8_t, which would be the desired  timeout period (in seconds), range 30-255, defaults to 30. This would require some simple changes to compass.c & a new definition wi

[2016-03-20 08:19] sppnk commented on #89
@oleost, my plane is horizontal an?d calibrated. this is annoying. Do you have the same version of iNav?

[2016-03-20 08:37] digitalentity commented on #89
@oleost, @sppnk
Ok, now we are getting somewhere. When R/P rate is set to 0, angular rotation target is limited to 200 degrees/second at full stick deflection. PID is working to satisfy this rate, if servo throw is not sufficient to satisfy this rate, R/P P-term needs to be higher.
So this "limited" servo throw is meerly a matter of proper R/P PID tuning.

[2016-03-20 08:51] digitalentity commented on #121
@DzikuVx
Thanks for reporting. More D will help with oscillations. You may also want to increase I-term to fight the "nose drop" issue.

Defaults are far from perfect. On my 250-sized quad I had to "up" P and D considerably (up to 9-10 on Pitch) to make it more stable. On my 450-sized quad I had to go as high as 7-7.5 on P (in Configurator).

Also, on asymmetric quads (ZMR-style) P should be much

[2016-03-20 09:08] sppnk commented on #89
@oleost could you try not to touch the aileron sticks and push only the throttle when armed? In my case if I do this, all the servos move to one side, not only ailerons. Please report. Thx.

[2016-03-20 09:52] DzikuVx commented on #121
@digitalentity
If weather will allow (raining now :( ) I will give it another try with TPA and more I-term to see if "nose dropping" and oscillations would go away. With logs this time

[2016-03-20 09:59] digitalentity commented on #121
Great, thanks!
I think this is all up to proper tuning and good initial defaults. Don't be afraid to change P,I,D coefficients considerably - we don't really know yet what their values should be.

[2016-03-20 10:22] oleost commented on #89
@digitalentity But why the difference with throttle or no throttle.

Important to remember with airplanes is that even with no throttle the airplane can be at high speed ( example in a dive )

[2016-03-20 10:22] oleost commented on #89
@sppnk no movements if applying only throttle

@sppnk Could you also check that when you apply throttle no other channels than the throttle channel moves in the receiver tab?

[2016-03-20 12:19] stronnag commented on #115
I think HDOP needs to be uint16_t, I really don't care about the difference between 100 and 200 (*0.01), but I do about the difference between 255 and 9999. The raw data from the device is uint16_t, and it hardly seems worth diluting its precision for 1 byte.

[2016-03-20 12:24] digitalentity commented on #115
I tend to agree with @stronnag, HDOP is in x100 units and limited to 99.99, even if I keep one decimal point it's not possible to fit in 1 byte.

[2016-03-20 13:19] #98 closed, assigned to nobody

[2016-03-20 16:59] DzikuVx commented on #121
OK, I had another session with FP-PID today. I've bought new SD card, but it was crap. around 20% of frames lost with denom 2 (looptime 2000) so I will even do not post those. From the scraps of data I have, here are some conclusions:
1. Default PIDs caused oscillation on both roll and pitch (I see scraps of this on blackbox logs). From yesterdays session I know that lowering P to about 4 makes os

[2016-03-20 17:20] DzikuVx commented on #121
@digitalentity I see you ported new mixer. I can give it a try tomorrow without TPA and latest PIDs I was able to tune today

[2016-03-20 17:41] CopterFail opened #123 "iNav 1.0.1 ignores sero rate on CC3D"
Here is the effect, easy to reproduce:

Version: iNav 1.0.1 release
Hardware: CC3D
Mixer: fixed wing
Mode: Passthru
Servos: 3 + 4

Connect a receiver, select passthu and set all servo rates to 0%.
Change pitch and nothing will happen, as expected.
Change roll and the servos move with 100% rate (Also displayed in the Motor-Tab).

I've tested the same with CF 1.12. release: works ok.

[2016-03-20 19:44] sppnk commented on #89
@oleost Just the throttle channel moves in the receiver tab. Do you use iNav 1.0.1?

[2016-03-20 21:08] oleost commented on #89
Yes and no, I started with iNav1.0.1 and moved on to a self compiled
version of Master branch. But I'm on f3 target and not cc3d
20. mar. 2016 8.44 p.m. skrev "sppnk" notifications@github.com:

[2016-03-20 21:46] sppnk commented on #89
well, it seems my problem has to do with 6 steps acc calibration. I will try to do this and report.

What I see also is that these high "compensations" in the servos dissapear if Throttle goes below MinThrottle parameter, (i.e. cutting engine). I think is the same thing you are talking about, @oleost .

I think that with motor off we should have the same PIDs working as with motor on. For example

[2016-03-20 23:38] digitalentity commented on #89
I was unable to confirm the issue. Servos work as expected in all modes.
1) Passthrough = direct stick input applied to servos
2) Acro + low throttle = PID active, only P-term is applied to servo
3) Acro + high throttle = PID active, I-term adds more servo throw over time
4) Angle mode + low throttle = PID active, R/P P-term and LEVEL P are applied to servos
5) Angle mode + high throttle = PID act

[2016-03-20 23:39] digitalentity commented on #89
AIR mode does it job in allowing I-term only when ARMED, checked and works as expected.

[2016-03-21 00:04] digitalentity commented on #123
Exactly the same setup: 1.0.1, CC3D, flying wing mixer, passthru more, servos 3+4 (4&5 on motor tab).
Rate 100% - servos move with both pitch and roll stick
Rate 0% - servos don't move at all.

[2016-03-21 00:05] digitalentity commented on #123
My guess would be misconfiguration. Serovs are numbered 0,1,2... at Servo tab and 1,2,3... at motor tab.

[2016-03-21 00:05] #123 closed, assigned to nobody

[2016-03-21 00:29] digitalentity commented on #26
@sppnk, It's I-term on Roll/Pitch in action. Plase the board perfectly level and you won't see the issue.
This is what happens:
1) FC notices that airplane is not level (ANGLE mode)
2) FC gives some output to servos
3) FC doesn't see airplane getting more level
4) FC gives more defelection to servos
5) FC still doesn't see airplain leveling out
6) FC gives even more defelection to servos
7) repeat

[2016-03-21 02:40] digitalentity commented on #121
I gave new mixer a short flight test today on my F450. It flies and it definitely feels more stable in flight at low throttle and full throttle.

[2016-03-21 07:10] CopterFail commented on #123
I know the index problem - to avoid this missunderstanding "ALL" servo rates were set to 0.
I've stepped through the source. Servo output and mixer does fine. No problem with naze. I expect a side effect problem with the cc3d.

[2016-03-21 07:51] digitalentity commented on #123
@CopterFail
No, still update to reproduce the issue on CC3D
A full config dump might help trubleshoot the issue.

[2016-03-21 09:11] sppnk commented on #26
@digitalentity, thanks, I have calibrated again several times (trying the six position acc calibration doesnt seems to work for me) the gyros and accelerometers through EZGUI and with TX sticks and now the behaviour is more normal.

So I think the model should be flyiable now in autolevel modes, and today or tomorrow I will test in air and report. Sorry for the mess :-).

[2016-03-21 09:17] sppnk commented on #89
@digitalentity in my tests, if I cut throttle, the servos inmediatly reduce their throw (in angle and horizon modes), exactly like @oleost says in his first post.

[2016-03-21 09:51] digitalentity commented on #89
You have different throw at low throttle and at high throttle due to I-term limiting at zero throttle. And I-term is winding up **increasing** your servo throw only because the airplane is unable to satiafy the command (https://github.com/iNavFlight/inav/issues/26#issuecomment-199069450)

[2016-03-21 10:04] sppnk commented on #89
Thx. I will test this in the air probably this week.

[2016-03-21 10:10] digitalentity commented on #89
Good luck! You may also want to increase ROLL/PITCH P if response to the right stick in flight is not sharp enough

[2016-03-21 15:33] DzikuVx commented on #121
OK, did some more tests. New mixer helped, but did not solved the problem of oscillations on high throttle. After some flying, I was able to come up to:

TPA: 20% at 1600 throttle
Roll: 3.5 / 160 / 80
Pitch 4.5 / 250 / 80

Quad reaction on adding and cutting the throttle was better comparing to yesterday. Also rolls were smoother. So there is a progress but I'm still far from being happy with resu

[2016-03-21 20:00] brat002 commented on #122
Will be great to have visualisation of calibration process like in MissionPlanner.

[2016-03-22 11:33] CopterFail commented on #123
Resetting all the parameters after flashing removes the problem. Sorry - my fault.

[2016-03-24 01:03] digitalentity opened #129 "NAV - RTH procedure when close to home"
Current RTH implementation is buggy:
MR: Climb -> land
FW: Climb out -> RTH -> loiter

Should be:
MR: Land instantly
FW: Don't activate RTH at all

[2016-03-24 03:41] Linjieqiang commented on #80
Port to iNav:
1.New mixer code (separate from airmode and make default mixer)
2.F4 code from @sambas
3.New resource handling code from @ledvinap (when ready)
4.SD-card logging (I can forecast new targets with SD sockets popping up all around)

Thanks for your great work again.I think you can think supporting for F4 Board and save parameter or waypoints or log datas from blackbox in SD-card!

[2016-03-24 03:44] digitalentity opened #130 "HW - Support F4-based targets"
Some support for F4 is done by @sambas already, it has to be ported to iNav

[2016-03-24 03:48] digitalentity commented on #80
1. New mixer code is ported to FP-PID branch, when it's ready it will make it to INAV.
2. F4 - scheduled (#130)
3. Not ready yet
4. SD-card is being ported as I type this :smile:

[2016-03-24 04:40] Linjieqiang commented on #130
Great~! I'm going to design a flight control board for this firmware.The detailed list includes STM32F407,MPU9250,M8N GPS,MS5611~!

[2016-03-24 04:53] digitalentity commented on #130
@Linjieqiang amazing!
My few cents regarding new FC:
1. Please consider using MPU6500 as it doesn't include the magnetometer
2. Place the gyro on SPI bus for faster communication
3. You may want to use MS5607 baro - it's much cheaper and accurate enough
4. If you are going to design a GPS module as well, please consider using NXP MAG3110 chip as HMC mag chips are EOL
5. Don't include a voltage reg

[2016-03-24 11:59] digitalentity opened #131 "FW - Speed-aware navigation"
Option to stabilise speed, not throttle

[2016-03-25 17:44] brat002 commented on #130
Please, add support of Sparky 2.0.

[2016-03-26 14:46] stronnag commented on #115
While we're discussing HDOP, the MSP_GPSSTATISTICS messages is broken (at least in testing), it should be

[code]

not 32.
(src/main/io/serial_msp.c#1144)

[2016-03-27 09:35] #113 closed, assigned to nobody

[2016-03-27 11:15] #105 closed, assigned to nobody

[2016-03-31 21:32] mahowik opened #136 "Detect GPS glitch issue"
I suppose 2nd condition is true almost always and it means gps glitch will be detected for 99% of new gps data:

https://github.com/iNavFlight/inav/blob/master/src/main/flight/navigation_rewrite_pos_estimator.c#L217

[code]

for 10hz gps output: (0.5f \* INAV_GPS_GLITCH_ACCEL \* dT \* dT) = 5
for 5hz gps output: (0.5f \* INAV_GPS_GLITCH_ACCEL \* dT \* dT) = 20

where gpsDistance it's position erro

[2016-03-31 21:38] digitalentity commented on #136
@mahowik good spot, thanks!

[2016-04-01 07:12] #136 closed, assigned to nobody

[2016-04-01 08:46] DzikuVx opened #137 "Reduce number of variables written into Blackbox"
With new data added to Blackbox in iNav, BB performance went down considerably. With the same setup in CF I'm able to record 1:1 at 2500 looptime. In iNav, with looptime 2000 it is possible to record at 1:3 ratio despite increased port speed. Same cards, same OpenLog writer.

Personally I do not think all recorder sensors are important. For example:
- raw accelerometer
- raw magnetometer
- heading

[2016-04-01 09:07] #59 closed, assigned to nobody

[2016-04-01 09:30] oleost commented on #59
@marksev1 @Ralf-W

Can any of you confirm that the custom mix works? If so I, or one of you can add it to the iNav wiki as a new page "Custom Mixes for fixed wing and multirotors"

[2016-04-01 10:28] digitalentity commented on #137
@DzikuVx
Indeed, there are too many blackbox variables. However I think raw sensor data may be useful for debugging issues with sensor noise etc. Heading[] is not logged it's calculated by blackbox viewer.
We should carefullt think about what variables to remove without compromising the usefulness.

[2016-04-01 11:30] digitalentity opened #138 "FW - Possibility to have airplane always ARM'ed"
Some safety measures must be considered:
- MOTOR_STOP must be selected
- Home position should be set when GPS is firstly acquired

[2016-04-01 11:38] oleost commented on #138
How to handle failsafe?

Example for me: when the TX and RX are close I loose the RC link( bending over to pick-up plane ). Because it's disarmed it's doesn't enter failsafe RTH in this case.

How to minimize risk of this happening with always armed? Since you often land some distance from home.

How do other FC do this?

[2016-04-01 11:48] DzikuVx opened #139 "Reduce number of available mixers"
There are many exotic mixers like BiCopter, Dualcopter or SingleCopter that are not popular. Keeping that configuration is wast of resources. And they can be entered manually with custom mixer.
It is impossible to prevent users form selecting then since list is hardcoded in Configurator, proposed solution:
1. allow marking mixer as disabled
2. during initialization in mixerInit check if mixer is e

[2016-04-01 11:49] DzikuVx commented on #137
Yes, Ticket is mostly to remeber

[2016-04-01 16:15] theArchLadder commented on #137
How about an option to do "lightweight blackbox logging" so that the logging can be done 1:1?

When doing pid tuning, checking for vibration and stuff like that, 1:1 logging is desired. Logging gyro, acc, pid-stuff and motors would almost be enough here i think, and should allow 1:1 logging.

When logging for navigation stuff, a slower logging rate is acceptable IMHO, so just log everything, but a

[2016-04-01 16:26] stronnag commented on #137
With a reasonable SDHC card, one can do 1:1 at practical inav rates (2000 loop time) already.

[code]

even on F1, sub €7.5 16GB card (Transcend Ultimate 16GB Micro SD (SDHC) Card - Class 10)

[2016-04-01 18:37] melkati commented on #138
Others FC have into account speed and height (if speed < x kmh or eight bellow x meters doesn't engage RTH).

[2016-04-01 18:40] Ralf-W commented on #59
@oleost I still have not flown a model with it but my naze32 does exactly what I expect it to do on the bench.

However, please have a look at the comment of  @digitalentity: He is not amused about using exotic mixes because they block too much memory. As I understand CUSTOMAIRPLANE will not survive in iNAV. Thus I will try mixer CUSTOM and report soon.

[2016-04-01 22:36] digitalentity commented on #59
@Ralf-W CUSTOM, CUSTOM_TRI and CUSTOM_AIRPLANE mixers will survive. It's non-custom exotic mixers like BICOPTER, ATAIL, VTAIL etc. that will go.

[2016-04-02 07:00] #129 closed, assigned to nobody

[2016-04-02 07:39] oleost commented on #129
Does this take height into account?

So if fix wing are 100meter up above home posisition, what will happend?

If not I think maybe the old way for FW was better. Maybe someone else can comment aswell.

[2016-04-02 20:10] DzikuVx commented on #139
As a test I disabled and removed specific code to BiCopter mixer.
@digitalentity please take a look at b4408a3eebb7bfaf6a3cfbbe372046d6894055df and badabd4d1e063297f3689449a2187263867ba0db
If approach is fine, I will continue. Plus, I've created wiki page with [removed mixers](https://github.com/iNavFlight/inav/wiki/Custom-mixes-for-exotic-setups)

No, there is still a question which mixers should

[2016-04-02 23:36] digitalentity commented on #139
Initial implementation looks good and clean.

I'm not sure if some exotic mixers can be implemented using custom mixer. MIXER_CUSTOM does not support servos, MIXER_CUSTOM_TRI supports only one servo. If we blindly remove mixers we might break compatibility with rotorcrafts with more than one servo.

[2016-04-03 06:22] DzikuVx commented on #139
Looks like you are right with limitations of custom mixers. I will dive deeper 😁

[2016-04-03 06:58] DzikuVx commented on #139
Yes, you are right. Current logic of choosing if to process servos and write servos depends not on actual rules, but mixer name.In this case, Change of plans. I will restore BiCopter, and cleanup only those mixers that are not using servos, or are not actually implemented. For example, both Helis.

Next step would be to refactor how mixer handles servos. But that would be next task

[2016-04-03 07:08] DzikuVx opened #141 "Refactor how mixer handles servos"
This is a continuation of #139

Currently, decision if to process servos depends not on stored servo rules, but type of a mixer. This makes custom servo mixer almost useless, since you can not enter all possible motor-mixer flying configurations

Tasks
- Always load custom servo mix in case on custom mixers
- Process servos when rules are defined, not based on mixer itself
- Build dynamic mapping

[2016-04-03 08:22] digitalentity commented on #141
Looks like a plan! Finally we'll have mixer code working in a clean and extendible way,

[2016-04-03 08:23] digitalentity commented on #139
Don't focus too much on servo handling in this PR, let's make ability to compile out some mixers working first.

BTW, I suggest we don't really remove the mixers, but enclose them in **#ifdef** section - F3 targets have enough memory to support all mixers (even the exotic ones)

[2016-04-03 08:42] DzikuVx commented on #139
No no, no servo changes in this ticket. I still have to remember that I have compiler level directives. 18 years break with C after all...

[2016-04-03 12:06] oleost commented on #89
Closing this one.

[2016-04-03 12:08] oleost commented on #26
Just a reminder instead of forum post.
Make "Elevator compensation" adjustable in as CLI command.
http://www.rcgroups.com/forums/showpost.php?p=34338337&postcount=4392

[2016-04-03 12:15] digitalentity opened #142 "FW - Make "Elevator compensation" adjustable"
Make "Elevator compensation" adjustable in as CLI command.
http://www.rcgroups.com/forums/showpost.php?p=34338337&postcount=4392

[2016-04-03 12:16] digitalentity commented on #26
@oleost thanks, will keep track of it in #142

[2016-04-03 12:23] digitalentity commented on #115
@stronnag fixed in 0eb7139

[2016-04-03 12:43] digitalentity commented on #129
@oleost, it doesn't account for altitude. Why you think old behaviour was better?

[2016-04-03 12:55] oleost commented on #129
MR is fine, you still have failsafe.

FW new method you loose failsafe. Or is it still climb > loiter?

[2016-04-03 13:52] #139 closed, assigned to DzikuVx

[2016-04-03 14:44] stronnag commented on #115
Thanks, another local patch bites the dust:)

[2016-04-03 16:26] DzikuVx commented on #121
OK, I'm closing it

[2016-04-03 16:26] #121 closed, assigned to nobody

[2016-04-03 19:05] sppnk commented on #26
plane  tested (CC3D + GPS) and the stabilized modes working fine. Now testing RTH and NAV WP modes. Preparing for FPV. Thx.

[2016-04-04 00:37] digitalentity commented on #26
@sppnk great!

[2016-04-04 00:50] digitalentity opened #144 "FLIGHT - Separate Roll/Pitch limitation of max inclination"
While feature is not very useful for multirotors, airplanes might benefit from separate limits for roll and pitch. Airplane pilots, what do you think?

[2016-04-04 06:24] sppnk commented on #144
Sure this is another good improvement for airplanes. Thx.

[2016-04-04 07:00] oleost commented on #131
Possible solution

http://fpvlab.com/forums/showthread.php?27854-NAZE32-for-fixed-wing&p=785877&viewfull=1#post785877

""The only thing the FW actually do is checking if ground speed is >5m/s.
If its lower it will increase the throttle to push forward against the wind.
But it's based cruise throttle as speed.
It never go below that in cruise only when descending.""

[2016-04-04 07:56] digitalentity commented on #131
@oleost looks like a good solution for airplanes that don't have pitot tube sensor

[2016-04-04 11:05] digitalentity commented on #131
@oleost
Did a quick and dirty implementation of PatrickE's min speed guard - see "fw-throttle-controller" branch. It will be working only when PH/RTH is active.

I'm not sure I didn't break anything, use caution!

[2016-04-04 19:43] oleost commented on #131
@digitalentity https://vimeo.com/161521808

At 01:09 its below 5m/s. I think I heard the throttle go up, but not sure.

[2016-04-05 10:35] oleost commented on #129
Guess it could be implemented differntly when this is done #91
So it can enable some kind of loiter with low throttle, (or no throttle if low altitude)

[2016-04-05 10:39] oleost commented on #91
Sounds good. Only issue is that not every plane have MAG sensor. So it should probably be able to do blind circle aswell.