[2017-08-26 05:45] digitalentity commented on #2032
I have another suggestion - refactor flight mode concept to disallow arbitrary flight mode combinations.

[2017-08-26 05:47] digitalentity commented on #1963
Fixed by #1966

[2017-08-26 05:47] #1963 closed, assigned to nobody

[2017-08-26 10:52] egorrrr opened #2038 "iNav doesn't work on OMNIBUS F4 PRO CORNER (AIRBOT)"
I can't connect to board after flashing INAV 1.72, betaflight 3.2 is ok

[2017-08-26 11:28] fiam commented on #2032
@digitalentity I really like that. Flight mode combinations confused the hell out of me the first time I looked at INAV. Truth to be told, I was still somewhat confused until your comments on this issue because I though you could combine ALT_HOLD+POS_HOLD with ANGLE or HORIZON or ACRO on MC.

Could you please clarify which combinations are possible regarding AUTOTRIM and AUTOTUNE? From the code it

[2017-08-26 11:54] digitalentity commented on #2032
@fiam this discussion makes me think about re-doing the mode logic alltogether. I suggest we work on 1.7.3 first and do modes and OSD stuff once it's out of the door. I intend to shuffle issues in 1.7.3 milestone to get it through RC-cycle as soon as possible.

[2017-08-26 12:07] egorrrr commented on #2038
Doesn't work with OmnibusF4SD but excellent work with AirbotF4 fimware

[2017-08-26 12:07] #2038 closed, assigned to nobody

[2017-08-26 16:14] stronnag opened #2039 "Nothing since (incuding) 6067f2a86 will arm"
#On my three (MATEK F405, OMNIBUS, SPEVOF3) machines, the machine will not arm on any build since / including 6067f2a8

I'd missed this previously due to having only flown @fiam's branch recently.

example diff attached in case it's relevent.
[deadcat.txt](https://github.com/iNavFlight/inav/files/1253921/deadcat.txt)

[2017-08-26 16:40] stronnag commented on #2039
apologies for the version confusion, 6067f2a does not arm, c30819d8 and earlier do.

[2017-08-26 18:47] stronnag commented on #2039
Ah! If I go back to 095f07fe33 (i.e. revert the most recent 26c9048edbf, which coincidently bears exactly the same commit message as 6067f2a86, it magically works again).

[2017-08-26 19:52] shellixyz commented on #2036
I'm pretty sure it can, it is fast, but it is difficult to measure without video. I was not rolling when it happened. Each times it was when I pitched hard up/down. I flew it hard since without autotune and I had no problem. Yes max roll angle is high but the problem did not happen when rolling but when pitching up/down. I attached the config.

EDIT: It started acting up at 2:31.9. In the log you

[2017-08-26 20:06] shellixyz commented on #2036
At 2:33.5 you can see the roll/pitch input is 0 and although I was in angle mode it was nose down and rolling.

[2017-08-26 20:16] rolfz commented on #984
Same question, other way around, does inav support PPM on the SBUS pin ? or what pin does it work on? I have a nice old Quanton board ! According to the code, PPM is working on PWMIN 1 is that correct ? Currently only SBUS works on RX2 on my board !

[2017-08-26 23:20] digitalentity opened #2040 "New concept of flight modes"
Current concept of flight modes is confusing - you need to activate a combination of modes to get something working.

Suggestion - refactor concept of flight modes with following points in mind:

1. BOXes are assigned to AUX channels as usual
2. BOXes are split into "FLIGHT MODE", "MODIFIER" and "FUNCTION"
3. Only one FLIGHT MODE is active at any given time
4. (implied by the previous point) FLIGH

[2017-08-26 23:27] mikeller commented on #2040
What is the difference between 'MODIFIER' and 'FUNCTION' in terms of the actual implementation? Or rather can and should they be combined into 1, so that you have a 'FLIGHT MODE' selector, and a set of 'FUNCTION's that can be switched on and off irrespective of flight mode?

[2017-08-26 23:32] digitalentity commented on #2040
@mikeller in terms of implementation - none. We'll probably have a mask to allow a FUNCTION to activate only with certain flight modes.

[2017-08-26 23:59] digitalentity commented on #2036
Yes, 90 deg pitch is a singularity point, where roll becomes meaningless. In that case wing can't get out of steep dive because roll transitions from -180 to +180 randomly.

[2017-08-27 00:01] digitalentity commented on #2039
@stronnag can you try this patch:
[code]

I did some stupid typos in new pre-arm checks code, my bad.

[2017-08-27 00:42] shellixyz commented on #2036
I understand that but I don't understand exactly what is the problem then. The max pitch angle is set to 45°. Why would it go to 90° ? The first time I tried to recover by switching to "Acro" but couldn't recover either. In any case it seems to me that autotune is very dangerous. What am I doing wrong ?

[2017-08-27 00:55] mikeller commented on #2040
@digitalentity: Definitely. A lot of the existing modes are already dependent on some sort of condition, including a specific flight mode being active.

[2017-08-27 01:05] sammichael25 commented on #1781
Would this also work on the Matek F405-AIO

[2017-08-27 01:19] digitalentity commented on #2036
You need to understand how autotune works. When you command roll/pitch autotune analyzes your command vs wing response. If wing responds too fast and exceeds the requested rate - autotune reduces PIFF gains. If wing responds too slow - autotune increses gains. In most cases your wing responded faster than expected and autotune

Looked at the part of log you mentioned (~2:30) - it's very interestin

[2017-08-27 01:24] digitalentity commented on #1781
@sammichael25 if CPU pin mapping is the same - it would. I don't have the AIO board, so this isn't tested. If you have the board - please give it a try and report back.

[2017-08-27 01:32] shellixyz commented on #2036
I see. I thought about it and I realized I probably made a mistake in my servo mix. I mixed 100% for pitch and roll as you can see in my configuration when it should be 50%. Do you think it could be the cause ? I don't think it is a servo or linkage issue as they were not damaged during the crash and I flew the wing without changing anything related to the elevons and it flies just fine. It probab

[2017-08-27 01:39] digitalentity commented on #2036
Might be the case, however I doubt that mixer is responsible. PID controller didn't request more than 300 units servo throw - even with 100% that won't saturate the controls. I suggest that you reduce max roll angle to 50-60 deg and pitch angle to 30 deg. This should prevent edge cases. Also your bail-out mode should be passthrough, not ACRO - there you have full manual control over servos.

For i

[2017-08-27 01:51] shellixyz commented on #2036
Yes you are right I should have switched to passthrough but I'm not sure I would have managed to recover anyway. The first time I changed mode but had 2 switch changes to go in passthrough, not very clever I know. The second time I only had 3 seconds before impact and didn't even manage to change mode even though I changed my switches to only have one to change to go in passthrough. Next time I tr

[2017-08-27 05:41] martinbudden commented on #2040
This is definitely a welcome improvement.

[2017-08-27 06:44] stronnag commented on #1781
AIO baord is wokring since https://github.com/iNavFlight/inav/pull/1920

They are the same electrically, the AIO  exposes the I2C pins.

[2017-08-27 07:09] stronnag commented on #1781
And, if you need it,  there is a working (flight tested) hex file at  http://seyrsnys.myzen.co.uk/inav_dev/ (from 2017-08-19). It will be updated once #2041 is tested / merged and #2028 is merged.

[2017-08-27 07:59] stronnag commented on #2039
Closing, fixed in #2041

[2017-08-27 07:59] #2039 closed, assigned to digitalentity

[2017-08-27 12:12] drones101 commented on #2027
Allowing osd and camera input to be transmit via Wifi/Bluetooth moduile to an app for android/apple.

[2017-08-27 13:13] Dejw4g opened #2043 "RTH not returning home, circling instead"
Hi,

look at this video that I made:

https://www.youtube.com/watch?v=WxFjGKOZaoU

I tried to switch on RTH two times in this video and the airplane started circling, losing height and over-using throttle. I tried to change the RTH mode but with no change, still doing the same.

This behavior started with iNav 1.7, when I was using 1.6 everything was OK, it just turned back the plane and flew home

[2017-08-27 13:14] #1986 closed, assigned to nobody

[2017-08-27 14:13] sammichael25 commented on #1781
Ok thanks...Also what pins do I connect the external baro and compass too..do they both go on the same I2C pad? And can sonar be added?

[2017-08-27 15:30] stronnag commented on #1781
Both mag and baro to the marked SDA/SCL pins (by the SD card). Clearly marked on the vendors documentation. My favourite iNav board ATM.

[2017-08-27 19:40] sammichael25 commented on #1781
I did that but cli status says Mag Unavailable....the mag icon on top is also red

[2017-08-27 19:45] fiam commented on #2043
@Dejw4g Thanks for the report. Could you upload your Blackbox logs so we can see what the FC is doing?

[2017-08-27 19:56] Dejw4g commented on #2043
@fiam Unfortunatelly, I don't have any, but I will go to fly it again to get one

[2017-08-27 20:05] stronnag commented on #1781
We really need more that "doesn't work" to help debug the issue. Can you please provide:

* Brief description of the external devices you are using
* A CLI `diff`
* The output of the CLI `bootlog` command

For comparison, there's a working `diff` at http://seyrsnys.myzen.co.uk/inav_dev/nav_f405.txt (BN880 M8N GPS+HMC5883 and BMP280), the bootlog looks like:
[code]

[2017-08-27 20:10] sammichael25 commented on #1781
I am using Matek F405 AIO, UBLOX M8N with compass HMC5883L

Also can you please tell me which pins I have to use to manually turn servo

[code]
[code]

[2017-08-27 20:21] fiam commented on #2043
@Dejw4g Thanks! Hopefully that BB log will help us get to the bottom of this. There have been a few other reports of RTH problems on FW and I myself had a crash rather than RTH during FS at the beginning of this month. Unfortunately, I didn't have an SD card inserted and I haven't been able to reproduce it yet.

[2017-08-27 20:37] stronnag commented on #1781
Thanks (excuse me reformatting a bit). If I apply your config to my machine, it finds the mag:
[code]
Is the mag detected in Betaflight (the latest dev βF hex supports I2C on this board) ? Are there any I2C errors?

[2017-08-27 20:49] sammichael25 commented on #1781
Ok it is detecting now. Im not sure what went wrong. My last issue is controlling the gimbal. Im not sure which pins are mapped to servo 0 & servo 1.

[2017-08-27 21:04] stronnag commented on #1781
Currently, there is a single multi-rotor servo defined in the target (on S1). I have no idea if this works.

[2017-08-28 04:01] sammichael25 commented on #1781
Is there a command to move the servo output to another pin? With servo gimbal feature enabled I cant use S1 for motor 1 and I don't know what other pin I have to move the esc wire too.

[2017-08-28 06:11] digitalentity commented on #1781
There is a hardware limitations to possible pin assignments - that's the reason why resource remapping won't be available in INAV any time soon - it will create more issues than it will solve.

When pin1 is used to servo all motor outputs are shifted - pin2 is motor1, pin3 is motor2 etc.

[2017-08-28 07:39] fiam commented on #2040
This is definitely an improvement over the current system. Any mode which only works with ANGLE and is unlikely to work with HORIZON/ACRO in the future should be "promoted" to "FLIGHT MODE".

Now, I'm thinking about how to show this on the OSD. How many MODIFIER modes which can be applied to at least two of ANGLE/HORIZON/ACRO do we have? I guess AIR could be applied to any of them, but what about

[2017-08-28 11:14] digitalentity commented on #1757
Fixed.

[2017-08-28 11:14] #1757 closed, assigned to nobody

[2017-08-28 11:14] digitalentity commented on #1581
Is this still relevant?

[2017-08-28 11:16] digitalentity commented on #1582
Is the issue still relevant?

[2017-08-28 11:18] digitalentity commented on #1572
Closing. See #1969 #1934 #724

[2017-08-28 11:18] #1572 closed, assigned to nobody

[2017-08-28 11:19] digitalentity commented on #1829
@marbalon @raul-ortega is the issue still relevant in latest development. I don't see any issues with horizon since #1831 was merged.

[2017-08-28 11:26] krzysztofmatula commented on #1581
It's hard to say. It happened to me only once and I was unable to reproduce it again neither on the same nor on any newer firmware.
I propose to close the ticket for now...

[2017-08-28 11:30] Redshifft commented on #2043
@Dejw4g  for a start you have it turning too hard, it is almost a spiral dive.

I would reload put everything to default and understand the settings and values, then work them up 1 at a time, observing their effect on your plane. something is not right for sure.

[2017-08-28 11:37] digitalentity commented on #1581
Thanks for prompt reply. Feel free to reopen if issue occurs again.

[2017-08-28 12:20] giacomo892 commented on #1581
Happened the same to me once.
Now for safety reasons if I fly away I just fly >AT_LEAST altitude and I'm good to go.

[2017-08-28 12:21] digitalentity commented on #1581
@giacomo892 on which version? I bevelie we fixed it in 1.7.2 (or development, I can't remember)

[2017-08-28 12:22] digitalentity commented on #1675
I believe this issue is irrelevant now. Closing

[2017-08-28 12:22] #1675 closed, assigned to nobody

[2017-08-28 12:33] krzysztofmatula commented on #1581
My observation was on pre-1.7 version.
I was trying hard to reproduce the issue again to find some relations, but I failed to do so.
I was engaging RTH below the "AT_LEAST altitude", above, close to the altitude, etc. Without success - it was always working. So, after all it was not that bad.

[2017-08-28 13:24] giacomo892 commented on #1581
@digitalentity I was 1.7.1 development as reported in issue 1675. There is even a log if you want to take a look there.

[2017-08-28 13:49] DzikuVx commented on #1567
SPRF3NEO has been added some time ago, so I'm closing

[2017-08-28 13:49] #1567 closed, assigned to nobody

[2017-08-28 13:51] DzikuVx commented on #331
Solved via  #2044 and iNavFlight/inav-configurator#229

[2017-08-28 13:51] #331 closed, assigned to nobody

[2017-08-28 13:52] DzikuVx commented on #1530
I think we can close it now

[2017-08-28 13:52] #1530 closed, assigned to nobody

[2017-08-28 14:09] #1997 closed, assigned to nobody

[2017-08-28 17:07] Tdogb commented on #2043
This is not a bug. You need to allow landing in the cli. Run "set nav_rth_allow_landing = ON" Should fix your problem

[2017-08-28 17:23] Dejw4g commented on #2043
@Tdogb thank you, will try, but just a question - how does this setting affect the behavior mid-air? I mean why it was circling when it was like 600m away from "home"?

[2017-08-28 18:12] Tdogb commented on #2043
There is a known issue with your version: "RTH descent might not work at all, be too slow or too aggressive and don't respect the landing speed on a fixed wing" I would either update or go back to 1.6

[2017-08-28 18:52] fiam commented on #2043
@Tdogb Are you sure about that? I believe to me the problem with FW landing on 1.7.1 was that it dove for the ground too fast, it shouldn't cause the problem shown in the video. @digitalentity, could you take a look at this one?

[2017-08-28 19:28] aster94 opened #2047 "No I2C available on Matek F405-OSD"
Hello,

Right now it is "trivial" to use the i2c on the F405-OSD since you need to use the i2c3 on S4 and S6.

https://static.rcgroups.net/forums/attachments/6/7/9/0/3/3/a10312641-131-received_1951096798508672.png

My proposal would be to use the i2c2 instead.
As you know far away better than me the stm32 chip are capable of alternate funcions on the GPIO (known as AFIO). We can see from the datas

[2017-08-28 19:39] stronnag commented on #2047
Ideally, we would have one target, but I'm not aware of how we would define which I2C bus to use at run time.  Uses of the AIO who have build a machine using the vendor documented dedicated I2C pins and USART3 as a serial would be less than content with a unified target that moved the pins.

Given the scarcity of exposed outputs on these boards, and the variety of machine configurations that iNav

[2017-08-28 20:34] Tdogb commented on #2043
@fiam It seems like there might be some funny business with rth in 1.7. I am sticking to 1.6, seems like 1.7 is too buggy at the moment (I can't really afford bugs, since I am flying a 2m wingspan skyhunter)

[2017-08-28 21:09] stronnag commented on #2047
~~So you could  clone the experimental fork https://github.com/stronnag/inav-jh.git and then checkout the jh-matek-f405-osd-i2c branch and see if works with I2C on USART3. Experimental hex http://seyrsnys.myzen.co.uk/MATEKF405OSD/inav_1.7.3_MATEKF405OSD.hex.gz~~

No doubt by the time I see any replies, @digitalentity will have told us how to mange this properly :-)

[2017-08-29 05:22] aster94 commented on #2047
Ok really i am ordering the board only now, so for the test i can t help since it will arrive in about 3 weeks...

I just had a look on your forked repo, in src/main/drivers seems that all the work is already been done, all the possibles i2c devices are already setted.
So i went to targets and even there there are already two folders where the AIOhas only i2c1 while the OSD has both 1 and 2

I don

[2017-08-29 06:42] digitalentity commented on #1903
Code verified to work. Merge pending. Closing.

[2017-08-29 06:42] #1903 closed, assigned to nobody

[2017-08-29 07:29] digitalentity commented on #2047
Ideally we should have one target, but I don't think it's possible at current state of development.

[2017-08-29 09:40] fiam opened #2054 "Sending an MSP message with exactly 64 bytes blocks further serial communication on macOS"
Steps to reproduce:

- FC firmware from development
- inav-configurator from master
- OSD tab, click upload font and it will start getting timeouts for MSP messages
- Restarting the configurator and clicking on "Connect" will not connect to the FC

Haven't had time to debug if the problem is on the configurator or the FC side, but the apparent hang up of the FC seems to indicate the problem is on

[2017-08-29 09:41] fiam commented on #2054
Forgot to mention that disabling MSPv2 in the configurator allows uploading a font, so it must be MSPv2 related.

[2017-08-29 09:54] digitalentity commented on #2054
I'm on it

[2017-08-29 10:08] digitalentity commented on #2054
Tested on MATEKF405 target. Can't reproduce

[2017-08-29 10:31] fiam commented on #2054
@digitalentity I can reproduce it on OMNIBUS (F3). Are there any read alignment issues which could affect F3 and not F4?

[2017-08-29 10:59] digitalentity commented on #2054
@fiam KFC32F3_INAV target (F3 CPU) - no issues.

[2017-08-29 10:59] digitalentity commented on #2054
Are you sure you are using latest configurator master?

[2017-08-29 11:23] fiam commented on #2054
@digitalentity Just checked twice that I was using the development branch of INAV and the master branch of the configurator. It definitely hangs. Check out this screenshot:

<img width="1251" alt="screen shot 2017-08-29 at 13 19 51" src="https://user-images.githubusercontent.com/41529/29818499-e561cd5e-8cbc-11e7-8cd3-fbd13b50411e.png">

Unfortunately, I won't able to properly debug this until next

[2017-08-29 11:28] digitalentity commented on #2054
Hm... either this is local to OMNIBUSF3 target, or we have yet another case of heisenbug.

[2017-08-29 11:29] digitalentity commented on #2054
I'll send it your way, but try to debug in the meanwhile. Unfortunately I don't have an F3 Omnibus board here :(

[2017-08-29 11:42] digitalentity commented on #2054
Found an Omnibus board in a broken tricopter (that is waiting to get disassembled and thrown away). Still can't reproduce the bug. It's something on your end.

[2017-08-29 13:17] ymuraki1 commented on #2010
I have very similar issue.
All angle mode and air mode fly perfect, but as soon as I set to position hold or RTH, model takes off vertically.  I aborted RTH/PosHold bring model back, but it's repeatable.
I played with PID for baro, and GPS Vertical, but seems to have no effect.

From looking at blackbox log, as soon as I hit RTH or PosHold, throttle goes to 100%. (Timestamp around 20S.)
I checked

[2017-08-29 13:23] digitalentity commented on #2010
@ymuraki1 you have a well known vibration/resonance issue. Once you go above certain throttle (in your case ~45%) accelerometer is reading garbage. Since navigation is highly dependent on accelerometer - it's messed up. Soft-mount your FC and/or your motors.

[2017-08-29 13:31] fiam commented on #2054
@digitalentity My apologies for the wasted time. I'll try to find some time to debug it properly as soon as possible.

[2017-08-29 13:34] digitalentity commented on #2054
@fiam no worries. There still might be a bug lurking somewhere. There is a reason why it's not working for you and thus it may not work for somebody else.

[2017-08-29 13:40] ymuraki1 commented on #2010
Thanks digitalentity,  I'll softmount FC.
But my question is  why airmode or angle mode works without any issue?
Also, the navigation mode make it throttle to 100% uncommanded that quickly?

[2017-08-29 13:47] digitalentity commented on #2010
Acro and Angle mostly relies on gyro which is fine with that level of vibration.

When accelerometer goes crazy it's reading zero *on average*. What's zero acceleration? It's free fall. So firmware (altitude hold code) thinks that machine is falling and kicks up throttle in attempt to compensate for this free fall (as seen by sensors).

[2017-08-29 13:50] ymuraki1 commented on #2010
That makes sense.

[2017-08-29 14:11] digitalentity commented on #1989
Ok, looks like it's going to be a massive change - we don't have baro sensor reporting read failures at all. Will require quite a bit of changes to baro driver code.

[2017-08-29 14:32] giacomo892 commented on #1989
@digitalentity :) if the change is massive we should even find a method that allow to stop polling the device if reported as faulted.

[2017-08-30 14:48] Bobrcnut commented on #2040
Removing inappropriate post as requested.

[2017-08-30 17:25] DzikuVx opened #2064 "F7 broken in latest development"
gcc-arm-none-eabi-6-2017q2
`make TARGET=OMNIBUSF7`

[code]
 (arm tools 4.8 throws an error in the same case build is terminated)

Result:

boards seems to be working correctly with gcc6

Looks like it was introduced by https://github.com/iNavFlight/inav/commit/a53b6d78b38fd484e276369ef565a28c6c38c08c

[2017-08-30 17:45] #2064 closed, assigned to nobody

[2017-08-30 22:08] mikeller commented on #2040
@Bobrcnut: Your comment is off topic for this issue. Please open a new issue with your suggestion, so that we can keep track of it.

[2017-08-31 04:16] KenImhof opened #2066 "STM32F3DISCOVERY Limited Flash Space For Debug Symbols (GDB)"
When building all modules with hardware debugging symbols (GDB), the program flash space is short by nearly 80,000 bytes.  To debug my code, I have to build all modules without the symbols then recompile the modules I am trying to debug with the GDB option.  Certainly this problem is going to continue to get worse as our code base grows.  It would be great to add a new target for the F3 replacemen

[2017-08-31 09:06] DzikuVx commented on #1992
fixed in #2067 closing

[2017-08-31 09:06] #1992 closed, assigned to nobody

[2017-08-31 15:07] sammichael25 commented on #1781
I tried that but only 3/4 motors work. Motor 4 which was moved pin 5 doesn't spin. I even moved it to pin 6 and same result.

[2017-09-01 02:59] tomppak opened #2069 "Add support for Omnibus F4 Pro v3"
Works with betaflight. Cannot flash inav.

[2017-09-01 03:11] #2069 closed, assigned to nobody

[2017-09-01 09:50] matevz25 commented on #1817
On cleanflight sonar works ok with 1k resistor on sda and sdl. I tried with inav cli enabled, doesnt work its red.

[2017-09-01 12:02] fiam commented on #2054
Just did a few more tests. Changing `MAX_NVM_FONT_CHAR_SIZE` to any value other than 54 works and uploads the font over MSPv2 without any problems. Lowering the value requires changing the FC to not read past the input buffer, but sending more bytes that needed doesn't hurt since MSP handles it just fine (the extra spaces in the character are 85 != '$', so MSP keeps waiting for '$').

Sending 55 b

[2017-09-01 12:38] fiam commented on #2054
Just did 64 byte packet tests. Sending a 64 bytes `MSP_API_VERSION` with a payload full a zeros blocks further communication with the FC, with both MSPv1 and MSPv2. Sending it with either 63 or 65 bytes doesn't cause any problems. Note that I'm sending those packets writing directly to the serial device, so the issue can't be in the configurator.

The issue also happens on 1.7.2. A 64 byte packet

[2017-09-01 13:42] digitalentity commented on #2054
@fiam why it should be Go and not Ruby, Perl or C which I already have on my system??? was a rethorical question, sorry :rofl:

[2017-09-01 13:47] digitalentity commented on #2054
@fiam tested against SPRacingF3, REVO (F4) and SPRacingF4. No issues, `msp.go` reports a valid MSP response, no issues connecting to the board afterwards.

[2017-09-01 13:57] fiam commented on #2054
@digitalentity Thanks for the tests! Used Go for convenience. Ruby and C would be a pain to deal with the low level stuff for this case, while Go has ready to use libraries to access the serial ports.

Since it works fine in other platforms, I guess we should wait for someone else to confirm this issue on their macOS system and once it's clear the problem is not specific to my setup, add a workaro

[2017-09-01 14:03] digitalentity commented on #2054
@fiam adding a garbage byte is not a good practice, but if we have no choice - I'd rather send garbage then block the communication :)

[2017-09-01 14:17] fiam commented on #2054
@digitalentity I agree, it's not ideal. Unfortunately fixing the macOS VCP driver, which seems to be the most likely culprit unless it's something on my system, is probably not an option.

Forgot to mention that I was able to also test on OMNIBUSF4 and I can reproduce the problem with it too.

[2017-09-01 15:17] fiam commented on #2054
@digitalentity This is the issue that keeps on giving. I can reproduce it in an OMNIBUSF3, but not anymore on an OMNIBUSF4. In fact, I'm not quite sure it ever happened on the F4 since my test program wasn't doing as much probing as it does now.

I think we should wait until 1.7.3 is released and keep this around until we get feedback from users. Since 1.7.3 will include font changes, we'll know s

[2017-09-01 16:03] capblack commented on #1975
Hi , also Motor #9 output as buzzer output , is not work

[2017-09-01 18:31] TwoToneEddy commented on #1346
CH5 and CH6 are no longer available at all on the V4 board. If you're using SBUS, external mag and GPS you can't use telemetry which is a pain if you want to do waypoint flying. Can we remap soft serial to pwm5 and 6? I'm just looking into it now but I'm not sure exactly how to do it.

[2017-09-02 16:01] jabonloco commented on #2047
Hi. Any news on this?

[2017-09-02 16:08] stronnag commented on #2047
I'm hoping someone will test it ....

[2017-09-02 16:22] jabonloco commented on #2047
I'll do It. I'm just waiting some parts.

[2017-09-02 19:31] realclicker commented on #2047
I can test it tomorrow.
So I flash the hex from above and connect sda/scl to uart3 tx/rx pads?
Is that correct?

[2017-09-02 19:44] stronnag commented on #2047
That is correct. I don't have the board, and I'm not very confident at this low level, so I have c. zero confidence it will work, but we'll see soon :-).

[2017-09-02 19:56] aster94 commented on #2047
stronnag could you show me where and how in the code did you activated the AFIO? i have a few stm32 boards around and i can write a simple test program to see if pb10 and pb11 are serial3 or i2c2

but maybe it is just better to wait for the real test from realclicker

[2017-09-02 20:12] stronnag commented on #2047
I cannot. The current header file is simply an assignment of I2C function to pins. If more is required, then it requires more expertise than I can offer.

[2017-09-02 20:42] aster94 commented on #2047
i am not sure that it will work
i will try to give you the code for the AFIO (i am an hobbist so if someone read this and knows how to do it he is welcomed to write the correct code)
it could be insert in the "setup" or anywhere you are sure the code will run only once

[2017-09-02 20:55] ymuraki1 commented on #2010
I iosmounted FC.
Problem fixed.
I put the PID parameter for GPS and Baro to default and seems nav flight is working fine.

Thanks for your help!

[2017-09-02 23:11] aster94 commented on #2047
maybe there is no need to no anything:
from https://github.com/iNavFlight/inav/blob/master/src/main/fc/fc_init.c line 409

[code]

it is needed a little bit of dig inside this or better someone who wrote the software cames here
@stronnag could you try to put this on line 408 and test if it compiles:
#define I2C_DEVICE_SHARES_UART3

[2017-09-03 04:56] #2010 closed, assigned to nobody

[2017-09-03 07:57] stronnag commented on #2054
Inspired by this, mwptools contains an evil msp fuzzer.
[code]
For command / payload ranges in the MSP V1 range, the resilience of the FC to abusive behaviour is remarkably good. For example, with an F1 (flip32 / naze) as the victim:
[code]

* 50000 iterations, command and payload in the V1 range, no reboot or dataflash commands.
* Sending dataflash read commands with random parameters (on a devic

[2017-09-03 12:02] Dronek opened #2070 "Feedback / discussion regarding release-cycle."
I would like to address the fact / the "issue" that the frequency of iNav (pre-)releases has been obviously decreasing since the beginning of 2017 (at least) while popularity and support have grown at the same time. To be clear up front, this is **not** meant to criticize or discuss the development pace of iNav whatsoever.

My request is rather to increase the accessibility of experimental feature

[2017-09-03 12:26] realclicker commented on #2047
I've tested it with two BMP280 modules working on the Matek AIO, but unfortunately not on the OSD variant. :(

[2017-09-03 17:17] gfacek opened #2071 "SP Racing F3 Neo Tilt Gimbal not working."
Hi,

I can't use the servo gimbal.

If I understood it right, usually tilt and roll server have to be connected to PWM8 (servo 0) and PWM7 (servo 1). But the SP Racing F3 Neo only have 6 motor outputs.

So, on my quad PWM1-4 are the 4 motors. I connected the tilt servo to PWM5. When I use ONESHOT125 the servo is giving some noise. When I configure the protocol to STANDARD and refresh rate to 50Hz,

[2017-09-03 18:02] 404Error404 commented on #1641
hi, i just bough SPRF4evo on seriously pro,  this board still not working well ? i can't connect anymore to CF conf after trying to upgrade as it noticed when first connect to it.
im still disapointed. can you help to know what's going on with this board ?
thanks.
edit " sorry i just see im not on the good section, it's about Inav only and not about SPRF4evo...
otherwise i just found how to solve

[2017-09-03 22:26] ksakwa opened #2072 "servos moves with throtle"
HI. I have a big problem.
In my CC3d Atom with Inav 1.7.2 (also betaflight), when stabilisation is ON and i  increase the throttle, the servos (ail and elev move to the right or left). When TH is 0, the servo returns to neutral. i havent any mix on radio or FC. can you help me ?
link to youtube:
https://youtu.be/GSfwF1dDH7E

[2017-09-04 08:11] tinou1 opened #2073 "Revolution board -- port problems"
Hello.
I ask you here because i gave a problem with my revolution :
- my op gps works only with the main port, not work with the flexi port, do you know why?
- I need to use the main port for put my L9R receiver on sbus protocol, so i have tried whith the flexio io port but doesn't work. I can use pwm protocol with the flexi io port but i just find 4 channel, channels 5 and 6 doesn't works. I have

[2017-09-04 13:02] LucaBertuolo opened #2074 "Omnibus F3: OSD/Gyro initialization issue"
I ve got the same problem on three Omnibus F3:

- Connected to the PC, the chrome configurator recognize the board once in ten
- If powered up by lipo, and not usb, the board sill looping restart

I've try this three Fc with clean/betaflight and no one have this problem, only with iNavFlight...
Actually the setup are just the FCs connected to ESC + 2xServo + D4RII and configured as wing.
Same prob

[2017-09-04 13:05] digitalentity commented on #2074
Do you flash with full erase? Which firmware version?

[2017-09-04 13:06] digitalentity commented on #2073
Please provide more details. Preferrably the CLI `dump` of non-working setup.

[2017-09-04 13:08] digitalentity commented on #2072
Please provide more details about your setup. CLI `dump` is a must to troubleshoot.

[2017-09-04 13:09] digitalentity commented on #1641
No worries. SPRF4 firmware is in development currently. My board boots and seems to function properly. If you are willing to test it with INAV - I can send you the firmware.

[2017-09-04 13:14] digitalentity commented on #2070
@Dronek good point. It's all comes to balance between having enough time, testing everything and desire to have as many new bells and whistles as possible in new releases.

How about dropping the release-candidate cycle and changing the versioning:
Three-digit versions will be "unstable releases"
Two digit versions will be "stable releases".

This way we'll be able to do more frequent releases for

[2017-09-04 13:38] oleost opened #2075 "Failsafe issue with Fixedwing on Development branch"
When I try and bench test failsafe it just seems to be stuck in an idle state.

I have not gotten a chance to test GPS hold / RTH in air yet after reconfiguration.

DIFF: https://pastebin.com/avnsLw9R
Board SPRACINGF3MINI

[LOG00177.TXT](https://github.com/iNavFlight/inav/files/1274829/LOG00177.TXT)
First log: Wait for GPS-> ARM and apply throttle -> Run approx 15 meters -> Turn of TX.
Airplane st

[2017-09-04 13:40] LucaBertuolo commented on #2074
Firmware version: 1.7.2, Full chip erased was ticked, but when i start the flash it start directly with the flash and seems that does not perform the erase...
Maybe i can try to download the .HEX and flash it with Betaflight configurator...
![schermata da 2017-09-04 15-36-29](https://user-images.githubusercontent.com/10431439/30028933-60cc8fa0-9187-11e7-9373-3b679b1c5581.png)

Edit.
I've downloade

[2017-09-04 13:42] oleost commented on #2075
https://youtu.be/EwQMRKjUPyc

[2017-09-04 14:02] Dronek commented on #1549
Functionality available in current release. Therefore closing.... which doesn't work.
Feel free to close.

[2017-09-04 14:13] digitalentity commented on #2075
@oleost there is a caveat with detecting if home is reached on airplanes. In case of RTH `waypoint_radius` is ignored and `1.1 * loiter_radius` is used instead - to allow detecting that plane reached home while it's loitering around.

So, for LOG177 place successfully passed through ALL stages of RTH, detected that it reached home due to being within 55m radius (with default `loiter_radius`), star

[2017-09-04 14:22] oleost commented on #2075
@digitalentity Regards to LOG177, I know this is emergency and not to be used on a daily basis, but shouldnt motor been cut ? Not much help in idling at that RPM, and it would have destroyed something going like that on ground

[2017-09-04 14:24] digitalentity commented on #2075
@oleost LOG177 is failsafe. MOTOR_STOP is forcibly disabled when in failsafe state to prevent zero throttle set on receiver from causing a disaster.

[2017-09-04 14:37] digitalentity commented on #2054
@fiam @stronnag ok, seems this is not a firmware issue. Going to move to 2.0 milestone so we'll be aware of it.

[2017-09-04 14:39] digitalentity commented on #2054
@stronnag regarding max 192 byte payload - it's a limit for targets without dataflash. For some MSP commands we already have > 256 byte payloads so we should probably bump up minimal buffer size to 512 bytes.

[2017-09-04 14:41] #1582 closed, assigned to nobody

[2017-09-04 14:42] digitalentity commented on #1582
Closed due to no further reports of the issue

[2017-09-04 14:42] digitalentity commented on #1445
Closed due to no further reports of the issue. I also can't reproduce the issue anymore.

[2017-09-04 14:42] #1445 closed, assigned to nobody

[2017-09-04 14:42] digitalentity commented on #1829
Closed due to no further reports of the issue. I also can't reproduce the issue anymore.

[2017-09-04 14:42] #1829 closed, assigned to nobody

[2017-09-04 14:57] fiam commented on #2054
@digitalentity Agree. Let's keep it open to not forget about it, but it shouldn't be a priority right now.

[2017-09-04 15:13] efrenbg1 opened #2077 "SoftSerial GPS not working."
Hi, I'm reconstructing my Quad after a year or so. I noticed that for good reasons they dropped support for the GPS on Cleanflight. So I decided to try INav insted. When configuring my ports, I have IBUS on the only Hardware Serial (Naze32). Some guides on Internet explain how to connect the GPS via SoftwareSerial, but after connecting it to my board, there is no way to make it work. The same conf

[2017-09-04 15:16] digitalentity commented on #2077
Please provide a CLI `dump` of your configuration.

[2017-09-04 15:17] matoy commented on #1641
Hi.
Yes please.
I'm building an Hexa which is still in pieces on my desk but I could start testing some things.

[2017-09-04 15:36] efrenbg1 commented on #2077
# INAV/NAZE 1.7.2 Jul 20 2017 / 11:35:11 (81b85de)
mixer QUADX

mmix reset

servo 0 1000 2000 1500 100 -1
servo 1 1000 2000 1500 100 -1
servo 2 1000 2000 1500 100 -1
servo 3 1000 2000 1500 100 -1
servo 4 1000 2000 1500 100 -1
servo 5 1000 2000 1500 100 -1
servo 6 1000 2000 1500 100 -1
servo 7 1000 2000 1500 100 -1
smix reset

feature -RX_PPM
feature -VBAT
feature -RX_SERIAL
feature -MOTOR_STOP
fea

[2017-09-04 16:07] Target0815 commented on #1641
Please send me the firmware. I got a sp racing F4 evo today.... Thanks.

[2017-09-04 19:14] FPVZaphod commented on #92
This would be great. Maybe also for Flying Wings without Rudder?

[2017-09-04 19:54] fiam opened #2078 "Add combined ONTIME/FLYTIME OSD indicator and make it the default"
When it comes to time indicators, I mostly care about "fly time" since "on time" is not very useful while flying and takes too much space on the screen for what it provides. Since I switched from MWOSD (which has combined time indicator) to ßF/INAV's OSD (which has 2 indicators for time), I've stopped using "on time".

However, until you're on the air, the "fly time" indicator is useless and just

[2017-09-04 20:04] stronnag commented on #2070
I agree witj @Dronek. We should perhaps try to have no more than a month between minor releases. Now we seem to have settled into a culture of 'just one more big feature' and the cycle stretches. We seem to get a lot of '_can someone please build me ..._' requests on RGC. So how about a feature freeze and 1.7.3 in the new 'semi-stable' scheme by the end of the week? Do we have any show-stoppers in

[2017-09-04 20:49] tinou1 commented on #2073
Thanks.

My dump result :

 dump

# version
# INAV/REVO 1.7.2 Jul 20 2017 / 12:02:27 (81b85de)

# resources

# mixer
mixer QUADX

mmix reset

# servo
servo 0 1000 2000 1500 100 -1
servo 1 1000 2000 1500 100 -1
servo 2 1000 2000 1500 100 -1
servo 3 1000 2000 1500 100 -1
servo 4 1000 2000 1500 100 -1
servo 5 1000 2000 1500 100 -1
servo 6 1000 2000 1500 100 -1
servo 7 1000 2000 1500 100 -1

# servo m

[2017-09-04 23:28] digitalentity commented on #2070
We don't have any show-stoppers for 1.7.2 apart from few minor features. We can have a semi-stable 1.7.3 by end of the week for sure.

[2017-09-05 00:23] oleost commented on #2070
How about release every 4 week.

So it would go like this:

A stable release is done.
After 3 weeks release an release candidate. Freeze new feature pullrequest, only bugfix.
After 4 weeks if no outstanding critical bug, release a new stable version. If still outstanding bugs release an release candiate. It will be stuck in this stage until bug are fixed and a new stable version is out.

( So this

[2017-09-05 00:29] oleost commented on #2075
@digitalentity I dont see why it should matter ?

Of course failsafe must work regardless what throttle the receiver sends out.

But when it is in failsafe, the FC must command appropriate regardless of throttle value from receiver. Whether it is cruise throttle in air, or zero throttle when it believe it has landed?

[2017-09-05 05:11] digitalentity commented on #2075
@oleost we have the issue to track MOTOR-STOP and navigation modes #1940

[2017-09-05 05:19] digitalentity commented on #1641
Please use this firmware to test:
[inav_1.7.3_SPRACINGF4EVO.zip](https://github.com/iNavFlight/inav/files/1276163/inav_1.7.3_SPRACINGF4EVO.zip)

[2017-09-05 06:14] digitalentity commented on #2043
@Dejw4g the issue in the video looks like a stall when airplane banked too hard and lost lift. Without a blackbox log it's impossible to diagnose accurately.

@Tdogb RTH logic itself didn't change between 1.6 and 1.7.x. 1.7.2 improved (fixed) RTH landing and fixed some bugs that may cause disarm mid-air when going into failsafe. I'd say 1.7.x is safer to fly than 1.6.

[2017-09-05 06:16] digitalentity commented on #2043
I can't confirm the behavior neither on my flying wings nor on a classic airplane - RTH is working properly, so I doubt it's a algorithm issue - more like a setup or tuning issue.

[2017-09-05 06:51] krzysztofmatula commented on #2070
At the time of building it's hard to state that this will be the stable version. For me, major/minor number increase could indicate new features, while the micro number could be added for bugfix releases.
I also vote for short release cycle, 1 month at most. In case problems are detected bugfix release(s) should follow.

[2017-09-05 07:01] digitalentity commented on #2070
@krzysztofmatula what about release-candidates? Releasing RC's makes release-cycle considerably longer.

[2017-09-05 07:19] krzysztofmatula commented on #2070
For me, additional RC phase could be skipped.
Each "new feature" release (major/minor bump) could be the "RC" (regardless if we name them so or not), followed by bugfix release (could be considered "stable", but if more problems will occur, we may build another "stable" with micro number bumped).
I'm not a fan of releasing a version named x.x-RC, and then not releasing the "stable" shortly (e.g. b

[2017-09-05 07:26] martinbudden commented on #2070
Personally I think 1 month is too short. A big new feature will take more than one month to develop and so will have to be done in a way that spans more than one release. This will discourage development of "big" features.

What really is required is to make the latest builds available to "test pilots", so they can fly them and test them. I think the way to do this is to set up a "nightly" build s

[2017-09-05 07:48] krzysztofmatula commented on #2070
Nightly builds are welcome and this will offload developers from the "please build this for me to test" requests.
However I don't get why developing a feature that takes longer than release cycle could discourage one from work...

[2017-09-05 07:52] martinbudden commented on #2070
Because then you have to spend more time doing code merges/rebases and that is always a pain...

[2017-09-05 07:53] digitalentity commented on #2070
Nightly builds are good - maybe it's possible to use same server as Betaflight to build INAV's development branch?

Regarding big features - in most cases they could be done incrementally, without affecting end users much. But I agree with @martinbudden - there are features that are big in terms of required coding or testing and also atomic (couldn't be split) - we had a few of those and they were

[2017-09-05 08:02] Dejw4g commented on #2043
@digitalentity should I change this value nav_fw_bank_angle to 20 instead of 45 then?

[2017-09-05 08:10] krzysztofmatula commented on #2070
Merges/rebases could be pain, I agree. But... should this block other features from being delivered?
I see this opposite - having developed a feature, publishing PR and waiting months for this thing to be released into public could be discouraging... Just my humble opinion.

[2017-09-05 08:35] digitalentity commented on #2043
@Dejw4g yes, I use 30 deg on my flying wings. They can fly stable up to 60 deg, but for automated modes I prefer to stay safe.

[2017-09-05 08:39] giacomo892 commented on #2070
It could be nice releasing a build when something really needs to be tested on many machines, without a fixed schedule, specifying what changed and what to test.

Also inav-configurator needs to be released to match the current build. (no-go with nightly)

That can really help the development with logs and bug reports.

Letting users to run straight nightly builds without letting them know what's

[2017-09-05 08:45] digitalentity commented on #2070
@giacomo892 good point. Configurator has to match the build number.

The way I see it: For minor releases stick to 1mo release cycle, postpone features that didn't make it to the code yet. Declare feature freeze 1 week before release and only accept bugfixes. These releases could be done straight from development branch. We'll mark these releases as "pre-release" on github.

Minor releases would e

[2017-09-05 09:26] DzikuVx commented on #1575
@taileron I think this has been solved with mixer rework in latest release. Please check, I'm closing this for now. If it still does not work and clips at 1000/2000 please reopen

[2017-09-05 09:26] #1575 closed, assigned to nobody

[2017-09-05 09:27] DzikuVx commented on #1798
I think we can close it. In case of new data, please reopen or create a new issue

[2017-09-05 09:27] #1798 closed, assigned to nobody

[2017-09-05 09:32] DzikuVx commented on #1786
If this will be added, new S.Port message should be added without changing existing Temp1. SmartPort is very flexible protocol of new frames can be added without problem, just like INAV did with frame 420 that report disnce to home

[2017-09-05 11:08] tinou1 commented on #2073
Receiver work perfectly with sbus on main port.

[2017-09-05 11:23] DzikuVx commented on #2074
Try doing this without "full chip erase". My Omnibus F3 is flashing without any problems so I kind of suspect hardware problems

[2017-09-05 11:27] digitalentity commented on #2073
@tinou1 can't reproduce the issue. With 1.7.2 GPS receiver works fine both on main (UART1) and flexi (UART3).

Btw in your dump GPS is configured for UART1 (works perfectly). Please provide dump of a *non-working* setup.

[2017-09-05 11:29] digitalentity commented on #2074
Might be hardware problem. My OBF3 flashed fine.

[2017-09-05 11:32] digitalentity commented on #2077
Try settng `set gps_auto_baud = OFF`. Automatic baud detection tries high baud rates which may cause softserial hickups (it doesn't like speeds more than 19200 on Naze32).

Also, be aware that 9600 baud is too low for reliable GPS operations.

[2017-09-05 16:53] tinou1 commented on #2073
Entering CLI Mode, type 'exit' to return, or 'help'

# dump gps

# version
# INAV/REVO 1.7.2 Jul 20 2017 / 12:02:27 (81b85de)

# resources

# mixer
mixer QUADX

mmix reset

# servo
servo 0 1000 2000 1500 100 -1
servo 1 1000 2000 1500 100 -1
servo 2 1000 2000 1500 100 -1
servo 3 1000 2000 1500 100 -1
servo 4 1000 2000 1500 100 -1
servo 5 1000 2000 1500 100 -1
servo 6 1000 2000 1500 100 -1
servo 7 1

[2017-09-05 16:58] tinou1 commented on #2073
How can i check if is not my flexi port who can be dead?
Thank for all

[2017-09-05 18:22] Dronek commented on #2070
I were about to suggest a similar thing to Jenkins. However, it could actually be more harmful to provide nightlies for systems with navigation / autonomous capabilities compared to BF. If so, nightlies should be rather considered for bench testing only.
As for release numbering, e.g. 1.7.x releases could be considered as "testing release" and 1.x "stable". Testing releases could include experimen

[2017-09-05 20:02] LucaBertuolo commented on #2074
Thanks for the support
I've also try without the "full chip erase" flag, and the strange is that if the button/flag is OFF, then before the flash the Configurator perform an erase...

by the way, i think that this is not an hardware problem because with Cleanflight or Betaflight the problem does not exist...
I can flash the FC, boot up, configure it and move servo and ESC...

[2017-09-05 20:25] krzysztofmatula commented on #2070
I'd point out that simplicity and avoiding doubts should be the principle.
E.g. bigger number should always indicate newer version.
If we can provide stable releases - great. They should be clearly marked then as such. As well as bugfix releases to the stable releases in case the latter require any.

[2017-09-05 22:09] matoy commented on #1641
Hi,
it seems that "led" CLI commands are not accepted (i have enabled the feature, saved and rebooted)
it's not working either in the configurator: impossible to "wire" leds.

ppm receiver seems to be working fine.

[2017-09-05 22:26] awcherry2 commented on #1641
@matoy Thanks for sending feedback on the LEDs.  I am planning to test INav on my build as well, and will give feedback to this thread as soon as I am able.

In the meantime, would you be willing to share with us more information on your build (configuration, equipment, etc.) and specifically what GPS / MAG are you using?  Are GPS features working for you? Position hold, return to home, etc.?

Tha

[2017-09-06 07:03] digitalentity commented on #1641
Support ready in #2026. Closing.

[2017-09-06 07:03] #1641 closed, assigned to nobody

[2017-09-06 13:26] DzikuVx commented on #2070
OK, here are my thoughts on the topic:

1. Users do not want fast release cycle. They want new targets and features, but not new releases ;)
1. We are a bunch of dudes that do other stuff too. INAV is after hours. I do it because I like it but only when I like it. And I suppose other devs are in the same position. So planning how often something will be released is more less useless, since
    1.

[2017-09-06 16:11] fiam commented on #2078
@digitalentity @DzikuVx Could we get your opinions on this one? Thanks!

[2017-09-06 16:43] Dronek commented on #2070
I agree that defining and sticking to a fixed release cycle might be rather unrealistic for projects like this. I experience roadmap changes and postponed deadlines on a regular basis in a professional context. Not to mention how much overhead project management creates.
However, please keep "test pilots" in mind who are also regular dudes and who like to contribute experience from the field in or

[2017-09-06 17:12] cabinw commented on #2072
@ksakwa Your fc might not be leveled and inav is work hard to let your plane be leveled but it didn't work so the servo kept moving. I guess

[2017-09-06 20:41] fiam commented on #2072
If you haven't enabled AIR mode, it seems to be working as intended. The FC will not try to level itself when THR is zero. As soon as you apply THR, the FC starts applying stabilisation because you have it tilted on the table. Have you enabled AIR mode?

[2017-09-06 20:54] fiam commented on #102
@digitalentity I'd like to get this done to log my flights with blackbox, rather than using telemetry as I'm doing right now. I'd like to do it in the following steps:

- Add a proper API for time, which would track both real time (i.e. the current time in UTC) as well as fly time (fly time is currently tracked in osd.c, which seems a bit out of place).
- Add an MSP command to set the current real

[2017-09-07 08:13] egorrrr opened #2079 "matek 405-osd doesn't see external comapas"
I use MATEK 405 OSD , bn-880 and Inav 1.7.3
Matek.sys say use s5 and s6 pin  as sda, scl - but Inav doesn't allow remap resources
Magnetometer doesn't work
but cli says something about scl,sda:
B06: I2C1 SCL
B07: I2C1 SDA
Thanks a lot!

[2017-09-07 08:23] digitalentity commented on #2079
On MatekF405 OSD there is no I2C outputs available. S4/S6 could be made possible, but will require adding a new target with only motor/servo outputs (s1, s2, s3, s5)

[2017-09-07 08:34] stronnag commented on #2079
This topic is already discussed on some detail, and potential solutions offered in
https://github.com/iNavFlight/inav/issues/2047

[2017-09-07 08:36] egorrrr commented on #2079
Thank you!

[2017-09-07 08:36] #2079 closed, assigned to nobody

[2017-09-07 08:42] digitalentity commented on #2047
On Matek405 USART3 is mapped to PC10/PC11 - these pins are not shared with I2C2 (which is on PB10/PB11). I don't see a viable solution for enabling I2C on MatekF405_OSD except going with emulated bit-banged I2C. Driver is in the code, but it needs some work on bit timing.

[2017-09-07 08:51] digitalentity commented on #102
@fiam

There is some timekeeping defined in `drivers/time.h`, we could add RTC timekeeping there. Flight time could be tracked by adding a generic timer with enable/disable API used by arm/disarm procedures.

Nanosecond resolution is an overkill. For RTC I would prefer something with less (but still sufficient) resolution. Millisecond resolution is more than enough IMO. If you want nanosecond reso

[2017-09-07 08:56] digitalentity commented on #2070
My thougs on this:

I agree with @DzikuVx that 1mo releases are unrealistic. However, I think we should make an "unstable" release approx. each month regardless of new features added/removed.

Stable release should be made every 2-3 months. RC phase (assuming feature-freeze) for 4 weeks is probably an overkill - 2 weeks should be enough. Our release schedule will look like this:

1.7.3 (unstable)

[2017-09-07 09:05] martinbudden commented on #2070
If we make an "unstable" release then it should be clearly named as such. Ie we should not use the number to denote stability. Ie it should be 1.7.4-RC1, or 1.7.4-alpha1 or some such name.

[2017-09-07 09:08] digitalentity commented on #2070
On GitHub it's possible to mark release as "Pre release" and in Configurator Flasher it won't be shown unless you tick the "Show unstable releases" switch and unstable releases will be shown as "(release candidate)" in the list:

![image](https://user-images.githubusercontent.com/11059099/30155366-f249c22a-93ff-11e7-887b-a377d27f6460.png)

I think it would be enough - no need to explicitly add any

[2017-09-07 09:36] krzysztofmatula commented on #2070
The first impression to users could be that 1.8.1 is a bugfix release to 1.8 and not something completely new... However I don't have any constructive proposal how to make it more clear...

[2017-09-07 09:40] martinbudden commented on #2070
That assumes people are not using local files to flash with.

What is the reason not to add something to the version number?

[2017-09-07 09:41] krzysztofmatula commented on #2070
Maybe: 1.8.dev1 -> 1.8.dev2 -> 1.8 (stable) -> 1.8.1 (potential bugfix) -> 1.9.dev1

I'm not sure about this "dev"... But anything like "alpha", "beta" or "rc", all have the meaning that the feature set is fully implemented, but not completely stable yet. This is not the case of development unstable snapshots.

Maybe "1.8.pre1" like "preview" or "pre-release"...?
I vote for including the informati

[2017-09-07 09:56] fiam commented on #1933
This should have been automatically fixed when #2048 was merged. Can someone mark it as fixed manually?

[2017-09-07 09:58] martinbudden commented on #2070
That is not correct. Alpha specifically means that the feature set may not be fully implemented. Once feature set is complete the software becomes beta.

[2017-09-07 09:59] fiam commented on #1756
Should have been automatically fixed by #2049. Can someone with write access mark this as fixed?

[2017-09-07 09:59] digitalentity commented on #2070
Local file only has 3-digit version number anyhow.

[2017-09-07 09:59] #1933 closed, assigned to fiam

[2017-09-07 10:25] aster94 commented on #2047
Mmm that s bad, i thought serial3 was mapped to the default pins, i still doesn t have my board so i can t check where the throught hole are really connected on the stm32, i will email matek's support to have a chart of the board

[2017-09-07 12:59] digitalentity commented on #102
@fiam I wonder why you didn't join INAV Slack channel yet :wink:

[2017-09-07 15:50] aster94 commented on #2047
Bad news, they said that s4 and s6 are the only IIC pins availables
I m pretty sure we could close

[2017-09-07 15:54] aster94 commented on #2047
Maybe if digitalentity or whoever knows how it works have time (or explain me how to do it) we could add the soft IIC

[2017-09-07 19:44] microlomaniac opened #2080 "Naze: Servo/Gimbal Output not working"
I'm on target NAZE. (flip32aio) I had this working in version 1.2.x I believe.

I want to output RX channel A4 to servo output 1, but nothing goes.
I enabled "Servo Gimbal" in the Configuration tab, which seem to work ok, as the motors are now mapped to outputs 3, 4, 5 and 6.
In the Servos tab, I enabled A4 for Servos 0 and 1.
In the "Motors" tab, when I turn the A4 knob on my transmitter, Servos

[2017-09-07 20:48] bandita84 commented on #1696
top7chip if reads the topic, you find the solution. "tonyintn" was generous and published his own custom edited inav version 1.6.1 where rgb led works. Download the link, if it does not go, I'll try to send it the dump somehow.

[2017-09-08 04:14] digitalentity commented on #2047
@aster94 I'll add fixes to SoftI2C drivers for better performance and create a test build for MATEK405 with shared I2C/UART3. What do you think?

[2017-09-08 08:04] aster94 commented on #2047
That would be really great, thanks digitalentity :D

[2017-09-08 09:43] digitalentity commented on #2078
Let's deprecate "on time" indicator and replace it with "combined time". I think "fly time" indicator should stay regardless - for those who care only about time in the air.

[2017-09-08 09:46] digitalentity commented on #1756
Fixed by #2049

[2017-09-08 09:46] #1756 closed, assigned to fiam

[2017-09-08 12:00] krzysztofmatula commented on #2078
Shouldn't it show "on time" only until first arm?
I mean, shouldn't "fly time" be also presented after disarming?

[2017-09-08 12:40] realclicker commented on #2047
@digitalentity
Yes, please do it. :) I am here for test it out immediately.

[2017-09-08 12:57] digitalentity commented on #2075
@oleost can we close this?

[2017-09-08 12:57] digitalentity commented on #2073
With an oscilloscope. It should output data on TX pin when configured for GPS.

[2017-09-08 13:00] digitalentity commented on #2071
Please provide details of your setup - CLI dump output is a must to troubleshoot.

[2017-09-08 13:28] digitalentity commented on #2080
Can't reproduce neither on 1.7.2 nor on latest development. Servos connected to M1 and M2 correctly respond to AUX4.

[2017-09-08 13:30] #2075 closed, assigned to nobody

[2017-09-08 13:31] oleost commented on #2075
Has closed it, haven't have time to retest walking 50m away yet.

[2017-09-08 13:33] digitalentity commented on #2075
Thanks. Please re-open if you find other failsafe-related bugs

[2017-09-08 13:38] digitalentity commented on #2036
@shellixyz can we close this issue?

[2017-09-08 13:40] digitalentity commented on #2020
@stronnag I believe @fiam introduced FALLTHROUGH macro for compatibility with GCC 7 (used in `osd.c` so far).

[2017-09-08 13:40] digitalentity commented on #2029
@fiam any news on this one?

[2017-09-08 13:43] digitalentity commented on #1991
This is how failsafe behaves. It blocks MOTOR_STOP and keeps motor spinning regardless.

[2017-09-08 13:43] stronnag commented on #2020
I saw that. I'll work through the places where it's needed after 1.7.3

[2017-09-08 13:45] digitalentity commented on #1990
@teckel12 please remind me what this issue is tracking? Your Sport changes are merged to development and will soon make it to master. Is this still relevant?

[2017-09-08 13:45] digitalentity commented on #1987
Can't be helped. Unpowered device is holding the SCL/SDA low which is interpreted by FC as "bus busy".

[2017-09-08 13:47] digitalentity commented on #1975
@sambas can you verify if this is still relevant?

[2017-09-08 13:49] digitalentity commented on #1974
No supported board uses STM32F446xx or STM32F411xE so this issue is irrelevant. @AkinakaTone please submit PR to clean up the code if you feel it's required. Thanks

[2017-09-08 13:49] #1974 closed, assigned to nobody

[2017-09-08 13:49] digitalentity commented on #1971
Fixed in 1.7.3

[2017-09-08 13:49] #1971 closed, assigned to nobody

[2017-09-08 13:52] #1943 closed, assigned to nobody

[2017-09-08 13:52] #1950 closed, assigned to nobody

[2017-09-08 13:52] #1951 closed, assigned to nobody

[2017-09-08 13:54] digitalentity commented on #1939
@DzikuVx is this still relevant?

[2017-09-08 13:55] #1914 closed, assigned to nobody

[2017-09-08 13:56] #1896 closed, assigned to nobody

[2017-09-08 13:56] digitalentity commented on #1882
Can't reproduce

[2017-09-08 13:56] #1882 closed, assigned to nobody

[2017-09-08 14:00] digitalentity commented on #1834
No activity. Closing.

[2017-09-08 14:00] #1834 closed, assigned to nobody

[2017-09-08 14:00] digitalentity commented on #1839
@DzikuVx any news here?

[2017-09-08 14:01] digitalentity commented on #1833
Can't reproduce. RSSI/LQ is injected into RC channel correctly and picked up by INAV

[2017-09-08 14:01] #1833 closed, assigned to nobody

[2017-09-08 14:03] #1769 closed, assigned to nobody

[2017-09-08 14:06] digitalentity commented on #1761
Very low priority. DSHOT doesn't give any benefit over "analog" protocol but actually masks a potential problem with EMI noise.

[2017-09-08 14:06] #1761 closed, assigned to nobody

[2017-09-08 14:07] #1710 closed, assigned to nobody

[2017-09-08 14:07] digitalentity commented on #1709
OSD font issue

[2017-09-08 14:07] #1709 closed, assigned to nobody

[2017-09-08 14:08] digitalentity commented on #1704
INAV doesn't validate what data is coming in from GCS. If GCS sends "fly to North Pole" - INAV will happily execute.

[2017-09-08 14:08] #1704 closed, assigned to nobody

[2017-09-08 14:19] #1931 closed, assigned to nobody

[2017-09-08 15:47] fiam commented on #1670
Should we consider this fixed on 1.7.3? MSPv2 should make flash downloads way faster.

[2017-09-08 16:13] fiam commented on #2029
@digitalentity I haven't been able to test it with BB yet. Feel free to close, I'll reopen if needed when I get the chance to test it on an appropriate flying location (don't want to go into the woods to recover a plane again).

[2017-09-08 18:19] DzikuVx commented on #1509
This  board uses SPRacingF3 target for flight controller, no need for separate target.
OSD is separate firmware (minim OSD)

[2017-09-08 18:19] #1509 closed, assigned to nobody

[2017-09-08 18:23] DzikuVx commented on #1259
With #2003 merged, we can close this one

[2017-09-08 18:23] #1259 closed, assigned to digitalentity

[2017-09-08 18:24] DzikuVx commented on #1088
@skaman82 it should be now possible to use HC-SR04 with SPracingF3 target

[2017-09-08 18:24] #1088 closed, assigned to nobody

[2017-09-08 19:36] tinou1 commented on #2073
Ok i will ask to a friend for the oscilloscope

[2017-09-08 23:17] capblack opened #2087 "ANYFCF7 and miniosd dont show the main voltage of the FC"
ANYFCF7 and miniosd dont show the main voltage of the FC

[2017-09-09 01:34] AkinakaTone commented on #1974
Dear Sir

Thanks for your concern.

I totally agree with your final conclusion.

AkinakaTone

From: Konstantin Sharlaimov [mailto:notifications@github.com]
Sent: Friday, September 8, 2017 10:50 PM
To: iNavFlight/inav
Cc: AkinakaTone; Mention
Subject: Re: [iNavFlight/inav] About TIM8 in drivers/timer_stm32F4xx.c (#1974)

No supported board uses STM32F446xx or STM32F411xE so this issue is irrelevant

[2017-09-09 03:22] #1670 closed, assigned to nobody

[2017-09-09 03:22] #2029 closed, assigned to nobody

[2017-09-09 04:42] digitalentity commented on #2070
Let's keep the 3-digit versions and use the following conventions:

 1. Stable releases are two digit: `1.8`
 2. Before intended stable release we add at least 2 week feature freze and only accept bugfixes
 3. If closely following a stable release we find a bug - we do a bugfix release `1.8.1`
     * This bugfix is done via a PR to `master` branch and is backported to `development`
 4. Every month

[2017-09-09 04:44] digitalentity commented on #2070
Using this convention our next release will be unstable `1.7.3 (beta)` and after that - stable `1.8`

[2017-09-09 04:48] digitalentity opened #2088 "OSD blinking doesn't work"
It appears that we don't erase an indicator when showing it on OSD. This causes ghost values and makes blinking non-functional.

[2017-09-09 04:53] digitalentity commented on #1853
Closed. Fixed in 1.7.3.

[2017-09-09 04:53] #1853 closed, assigned to nobody

[2017-09-09 06:11] EnglishTurbines opened #2089 "EZUHF.....SPPM Inputs....Are they supported on the F4 Boards?"
Question is as Title, is this receiver sppm input supported on the F4 Boards.?????

 EZUHF is a popular FPV Control link, I think the RX output may be digital?
 Documentation seems limited about what receiver types are supported..?

[2017-09-09 06:12] digitalentity commented on #2089
What's SPPM?

[2017-09-09 06:14] digitalentity opened #2090 "Move some of the variables to CCM/TCM to save RAM"
F3/F4/F7 targets have CCM (or TCM) memory which is currently only used for stack. The rest of the memory is wasted. It would be benificial to move some of the `.bss` section (frequently accessed variables) from RAM to this CCM.

[2017-09-09 06:14] EnglishTurbines commented on #2089
Shared Pulse Proportional Mode..?

[2017-09-09 06:14] EnglishTurbines commented on #2089
Or "Muxed" output from the EZUHF reciever.

[2017-09-09 06:19] digitalentity commented on #2089
Majority of the INAV-capable boards support PPM input (which is quite often referred to as CPPM). In fact I can't think of a board **without** PPM input.

[2017-09-09 06:29] EnglishTurbines commented on #2089
Yes, agreed CPPM...I have my EZUHF receiver configured for Muxed output, its bound and working / talking to my Transmitter..
   Question is, is it supported and what should my set up look like inside iNAV..???
Im already using iNAV and an L9R FrSky receiver, it works great, but is the EZUHF supported is my question?
                  Thanks...:)

[2017-09-09 06:36] stronnag commented on #2020
It's done in https://github.com/iNavFlight/inav/pull/2085. There's a couple of trivial legal issues needing a second opinion. I shall fly it today, weather permitting.

[2017-09-09 06:43] digitalentity commented on #2020
@stronnag amazing! Closing this issue then.

[2017-09-09 06:43] #2020 closed, assigned to nobody

[2017-09-09 06:45] digitalentity commented on #2089
From FC perspective EzUHF is no different than L9R or any other receiver if it's talking PPM, S.Bus or other supported protocool. I don't own a EzUHF, but I know people are using it (not sure in S.Bus or PPM mode though)

[2017-09-09 06:58] EnglishTurbines commented on #2089
Yes, thanks...it would be great if you could ask them how they have their port settings inside iNAV then?

 Can't seem to get receiver outputs going inside iNAV.....Help welcome please....:)

[2017-09-09 07:06] digitalentity commented on #2089
What board are you using, how your receiver is connected and what settings do you have for receiver in INAV?

[2017-09-09 07:24] EnglishTurbines commented on #2089
Hi....Yes, I am using an Omnibus F4 V1 Board.
 I have my EZUHF RX setup for "Muxed" or ppm output on CH1.
Inside iNAV, I have PPM enabled....(which I assume means SBUS is disabled)

  Thanks...:)

[2017-09-09 09:05] DzikuVx commented on #2087
I can not confirm. One of my quads uses AnyFC F7 and Minim OSD running MW OSD 1.7 and it works perfectly

[2017-09-09 09:05] #2087 closed, assigned to nobody

[2017-09-09 09:18] DzikuVx commented on #2089
@EnglishTurbines if you have anything connected to UART1 that explains it. PPM input and UART1 are shared by default.
This explains it or similar board https://quadmeup.com/uart1-and-ppm-on-airbot-f4-flip32-f4-flight-controllers/

[2017-09-09 10:11] EnglishTurbines commented on #2089
Thanks DzikuVx......, The board in the Link photo is not quite the same as mine.

   The F4 (Omnibus) V1 board I have has what looks like two (tiny resistors or jumpers??) across the
![f4 resistors](https://user-images.githubusercontent.com/29343996/30239353-d237350e-9552-11e7-984f-a7810239ab89.jpg)
jumper links.

    One for SBUS and One for PPM.
  Having substituted a FrSky RX, I can get RX Chan

[2017-09-09 10:26] #2070 closed, assigned to nobody

[2017-09-09 10:59] EnglishTurbines commented on #2089
Happy Days......Removing the SBUS Jumper allowed the SPPM stream on the EZUHF receiver to work...:)

 Tip:
 Since I had the Servo Pinout Rail soldered on, I decided to try and lever off the jumper using a Scalpel...it worked......Using a soldering iron would have been really tricky.

 Thanks to those who helped me out with this...:)

[2017-09-09 12:30] cdog4twenty commented on #1306
This is a very valid question, coming from a vector. It has in flight level calibration specifically for this. What if the fc isnt exactly flat or is turned the slightest. How can you compensate for this?

[2017-09-09 13:51] DzikuVx commented on #2089
Like I said, UART1 was the problem. Solved, closing

[2017-09-09 13:51] #2089 closed, assigned to nobody

[2017-09-09 13:58] DzikuVx commented on #1839
Nope, let's leasve it open. Probably during winter I will have enough time to finally move mixer rules to Configurator

[2017-09-09 14:00] DzikuVx commented on #1939
When I checked 2 weeks ago, LED strip on Omnibus F7 was still not working. I did not checked after F7 LED fixes from @sambas . This board is currently assembled so I might be able to test next week

[2017-09-09 14:39] EnglishTurbines commented on #2078
Arming the board sets the new home position and starts the "Fly Time" clock running.
After the flight is over, it would be good if it showed the total "Fly Time" in the Stats (because right now it doesnt it would seem)

Thats exactly whats required, **_speaking only as an end user_**....Not interested whatsoever in the "On Time"...it serves no purpose at all and just complicates matters.

[2017-09-09 15:09] fiam commented on #1468
I guess we can close this one now that F1 targets are out

[2017-09-10 00:06] digitalentity commented on #1468
Targets based on F1 chip are no longer supported. Closing.

[2017-09-10 00:06] #1468 closed, assigned to nobody

[2017-09-10 09:40] Dalew74 opened #2102 "SPRacing F3 600% CPU, i2c errors"
This not a new issue, the work around is to change the i2c the clock speed from 400kHz to 200kHz. No one mentions HOW to do this... It seems possible in 1.7.2 as per [this thread](https://github.com/iNavFlight/inav/issues/1969) Does anyone have some tips for a noob that really needs to fix this or its no flying until 1.7.3 is out :(

Thanks

[2017-09-10 10:08] stronnag commented on #2102
A bit of superficial research finds a answer, e.g. via https://www.rcgroups.com/forums/showpost.php?p=38069405&postcount=15130

[2017-09-10 10:40] Dalew74 commented on #2102
Heya, thanks for the reply.

[2017-09-10 10:53] digitalentity commented on #2090
Done

[2017-09-10 10:53] #2090 closed, assigned to nobody

[2017-09-10 16:43] fiam commented on #2054
Unfortunately, #2104 didn't fix this one. Problem still persists.

[2017-09-10 17:49] stronnag commented on #2054
OTOH, this problem does not exist, at least when the host is Linux.
[code]
Seems to show that rand() is quite random rather than a firmware issue? Or am I missing something?

[2017-09-10 19:16] Target0815 opened #2107 "SP Racing F4 Evo - flash iNav 1.73 ok, but no COM-port (unkown device)"
Hi,

flash of iNav 1.73 in DFU mode on this board is ok, but after reboot there is no COM port (unknown device).

If I flash Cleanflight instead, everything's okay. COM port is assigned and the CF configurator can be used.

Is there perhaps a device ID missing?

[2017-09-11 05:08] sambas commented on #1975
fixed in https://github.com/iNavFlight/inav/pull/2057

[2017-09-11 05:08] #1975 closed, assigned to nobody

[2017-09-11 05:23] DaPeace opened #2109 "CC3D Change Mixer to something else then Quad-X is not working"
Ive tried to change the mixer to Hex-X on my CC3D but after saving and reboot its back on Quad X.
Ive tried to reflash but still the same. On Betaflight it works as expected..

Regards, Jan

[2017-09-11 05:31] oleost commented on #2109
Hi.
Known bug that Hex-X is not working, should be fixed in latest INAV 1.7.3 beta.

Or you could use custom motor mixer.

[2017-09-11 06:12] DaPeace commented on #2109
Tried out.. I used the hex from here https://github.com/iNavFlight/inav/releases/tag/1.7.3
Its the same like on the other releases..

[2017-09-11 06:24] yellowpanther commented on #1877
@saswatahira you saved my day (and money ;))

Worked with this GPS unit (with HMC5883 mag) and my Omnibus F4 Pro (v3) :
![image](https://user-images.githubusercontent.com/930384/30260783-b15049fc-96c9-11e7-90a9-795528622641.png)

[2017-09-11 06:39] digitalentity commented on #2047
Fixed

[2017-09-11 06:39] #2047 closed, assigned to nobody

[2017-09-11 06:56] digitalentity commented on #2109
HEX-X issue is fixed in 1.7.3

[2017-09-11 07:15] digitalentity commented on #2107
Hi! Just tested on my board - flashed with Cleanflight, then flashed with INAV 1.7.3 (SPRACINGF4EVO firmware). No issues - COM-port is detected correctly. Are you sure you are flashing the correct firmware?

[2017-09-11 07:37] Target0815 commented on #2107
Yes, I have flashed the correct firmware. I tested with two PCs (Win10). I also use both PCs to flash iNav to Omnibus F4 or Revolution F4. I noticed on the SP-Board that after flashing with Cleanflight this is displayed as Omnibus on one PC and as a Revolution on the other, so my question is, if there is a device ID or -identification missing.

I am still at work testing on another PC where there

[2017-09-11 07:39] DaPeace commented on #2109
Not really.. ive tried out. Deleted the Flash, Flashed the hex-File from https://github.com/iNavFlight/inav/releases/tag/1.7.3

For me its the same. I cant even change to ANY other motor-scheme then quad-x on the CC3D.

[2017-09-11 07:40] digitalentity commented on #2107
It uses standard ST's virtual COM-port drivers - same as Cleanflight and Betaflight - uses same Vendor ID and Device ID. I did test on Win7 and Linux thourh - not on Win10.

[2017-09-11 07:42] digitalentity commented on #2109
Being an F1 target CC3D only supports TRI, QUADP, QUADX, HEX6X multirotor motor layouts. Any other multirotor mixer has to be implemented as CUSTOM mix.

[2017-09-11 07:48] Target0815 commented on #2107
Yeah, I'm aware of that. Here at work it works immediately, so it must have to do with the drivers for the other boards. I think we can close the issue here and see if I can still find the problem.

Thank you!

[2017-09-11 07:50] digitalentity commented on #2107
No worries. Please let us know if you figure it out on Win10 PCs - might be something specific about the drivers.

[2017-09-11 07:54] digitalentity commented on #102
I think this issue can be closed now. We have date/time in blackbox logs now - TZ-related stuff is out of scope for this issue.

[2017-09-11 07:54] #102 closed, assigned to fiam

[2017-09-11 08:04] DaPeace commented on #2109
Oh ok.. thank you.. why is betaflight working with hex-X?

[2017-09-11 08:06] digitalentity commented on #2109
Because Betaflight is not INAV :smile:
In INAV we removed support for "exotic" mixes on F1 targets for quite a while, otherwise CC3D and NAZE would be EOL'ed much earlier - see https://github.com/iNavFlight/inav/wiki/Custom-mixes-for-exotic-setups

[2017-09-11 10:17] DaPeace commented on #2109
Thank you very much for your help. ive ordered  2 F3-Boards to play around.

[2017-09-11 15:53] tonyintn opened #2115 "Naze32 1.7.3 beta DYI build"
Having an issue building the latest release 1.7.3 beta  receiving the following errors

---------- error begin ------
settings.yaml -> settings_generated.h, settings_generated.c
/bin/sh: ruby: command not found
make: *** [Makefile:933: src/main/fc/settings_generated.h] Error 127
------------- error end -------

Looks like the reference c and header files are missing from fc directory for setting_g

[2017-09-11 15:56] stronnag commented on #2115
You need to install ruby. See the updated developer documentation.

[2017-09-11 15:59] tonyintn commented on #2115
Thanks, for the quick response, suppose I should had look there to begin with my stupid mistake.

Thanks again

[2017-09-11 16:01] stronnag commented on #2115
It should perhaps have been mentioned in the release note. OTOH, it's not unreasonable to assume folks building their own firmware will look in the PRs / git log for changes.

[2017-09-11 16:04] stronnag commented on #2115
Added to release note. Closing.

[2017-09-11 16:04] #2115 closed, assigned to nobody

[2017-09-11 16:23] Irish126 opened #2116 "SP Racing F3 Deluxe - conflict when 2 softserials used simultaneously"
Hi Guys,

I have my SP Racing F3 setup with iNav as follows with everything working fine.

Bluetooth on UART 1 (must disconnect to use USB) - OK
GPS at 38,400 on UART 2 - OK
SBUS on UART 3 - OK
Smart Port Telemetry on Softserial 2 (Tx and Rx shorted) - OK

Questions:
1. Is it possible to add OSD on Softserial 1 with the above setup? My tests show that whenever anything is connected to Softserial 2

[2017-09-11 16:29] jstremmler opened #2117 "Use PB6 for LED_STRIP on Omnibus F4 V2 and above"
If I try to configure iNav 1.7.3 for a X-hexacopter on my Omnibus F4 Pro V3 and want to use an additional LED strip, then this is impossible because, when activating the LED_strip in the config menu resource A1 is now reserved for the LED strip and no longer for motor 5. If I disable the feature for the LEDstrip in the config menu again then A1 is  correctly reserved for motor no. 5 of the hexacop

[2017-09-11 19:12] JonasCz commented on #1962
I had the same problem - eventually I found that I have to use the iNav BB explorer from [here](https://github.com/iNavFlight/blackbox-log-viewer) - the Betaflight one does not work correctly, even though it loads the file just fine and even changes to an iNav logo.

[2017-09-11 20:22] Nihilistic opened #2118 "Blinking Current and Fly Mode fields on OSD in 1.7.3"
Getting some blinking on my OSD with 1.7.3 on my Omnibus F3 in three fields. Amps, mAh used, and Fly Mode. Only the "mAh" label and the first digit blinks of that field.

[2017-09-11 21:39] FlyingGustel opened #2119 "Default values for 600 sized multicopter"
https://github.com/iNavFlight/inav/wiki/Default-values-for-different-type-of-aircrafts

The inav wiki got already a textbox for 600 sized quadcopter but it doesn't contain any information yet.
I'm currently testing my tarrot 690 with an omnibus pro v3 flashed with inav 1.2 .
Did someone achieve experience with such a setup yet?

[2017-09-11 23:59] KenImhof commented on #1879
One very simple fix that is working for me and allows the center point to be adjusted is to change
rxConfig()->midrc to flight3DConfig()->neutral3d on the void mixTable(void) procedure.

[2017-09-12 01:11] digitalentity commented on #2117
Good point. Omnibus V2 and above have a dedicated output for LEDs.

[2017-09-12 02:38] KenImhof opened #2120 "Version 1.7.3 3D mode Arming Not Working Properly"
In version 1.7.3 the FC will not arm unless the throttle stick is at mid-throttle when arming occurs .  In all previous versions if the FC is armed at low throttle the motors will start to spin when center stick is reached.  In 1.7.3 if the FC is armed at low throttle they will not start to spin when mid-throttle is reached.

[2017-09-12 03:15] digitalentity commented on #2120
Config dump?

[2017-09-12 04:49] oleost commented on #2119
Why are you using old outdated firmware?

[2017-09-12 04:50] oleost commented on #2119
Also I'm closing this issue. Use rcgroups thread for support. But update your firmware first.

[2017-09-12 04:50] #2119 closed, assigned to nobody

[2017-09-12 09:11] fiam opened #2122 "Implement OSD_RTC_TIME"
Displays the local time as hours:minutes in the OSD.

[2017-09-12 09:14] WaspFPV commented on #2116
Smart port runs at 57.600 baud. Have you tried that baudrate for the OSD? On my Naze32, I had GPS working at that baudrate, on softserial, combined with smart port on the other softserial. They just have to run the same baud rate, and it can be over 19.200 (just watch your cpu load, I had to run slower looptimes)

[2017-09-12 10:49] Irish126 commented on #2116
Many thanks. Will give that a try and report back.

[2017-09-12 11:28] DzikuVx commented on #2116
Unfortunately, 2 SS ports will fail if using bi-directional protocols. So, LTM + MSP will work, S.Port + MSP will fail. And it has nothing to do with speed.

One of the problems with SoftwareSerial I'm affraid

[2017-09-12 11:29] #2102 closed, assigned to nobody

[2017-09-12 15:05] giacomo892 commented on #2008
I've found something similar is already in BF (only MODE not stick combination)
https://github.com/blckmn/betaflight/commit/ecaccebc021825050c4e8f7cd1e44d630c41d627

[2017-09-12 17:08] KtotheG opened #2126 "board support"
I purchased a HGLRC f4 v5PRO board by mistake. this probably isnt the right place for this but hopefully someone can at least point me in the right direction. can this board use inav and if so which firmware would i use? thanks

[2017-09-12 17:12] cocolimon commented on #1346
Where is the ch5 and ch6?

[2017-09-12 17:59] FlyingGustel commented on #2119
Oh sorry, that was by mistake.
I meant 1.7

[2017-09-12 18:03] FlyingGustel commented on #2119
Why rcgroups? The inav wiki is simply not complete?

[2017-09-12 18:15] stronnag commented on #2119
Anyone can edit the wiki, you are welcome to contribute.

[2017-09-12 18:27] DzikuVx commented on #2126
Just like the manual says: OMNIBUSF4

[2017-09-12 18:27] #2126 closed, assigned to nobody

[2017-09-12 18:31] DzikuVx opened #2127 "Attitude computation broken on latest development"
Latest `development` d46272dcd42a51e83eb0664b39b4010287a6c99a

Attitude computation is broken when async gyro (gyro or all) is used. Computed attitude jump in all directions.

It is fine when gyro async is disabled
Board: Omnibus F7

[2017-09-12 19:31] oleost commented on #2119
Then read the first line in that wiki page, in BOLD actually.

"This is outdated, INAV 1.6 is out and is using PRESET. Values here are old."

[2017-09-12 19:49] KenImhof commented on #2120
# dump

# version
# INAV/OMNIBUSF4V3 1.7.3 Sep  9 2017 / 10:37:25 (974440df)

# resources

# mixer
mixer QUADX

mmix reset

# servo
servo 0 1000 2000 1500 100 -1
servo 1 1000 2000 1500 100 -1
servo 2 1000 2000 1500 100 -1
servo 3 1000 2000 1500 100 -1
servo 4 1000 2000 1500 100 -1
servo 5 1000 2000 1500 100 -1
servo 6 1000 2000 1500 100 -1
servo 7 1000 2000 1500 100 -1

# servo mix
smix reset

# f

[2017-09-12 20:36] stronnag commented on #2127
I don't appear able to confirm this on multiple boards. Attitude is stable with `set async_mode = all`

Anything else I need to do?

[2017-09-12 20:50] DzikuVx commented on #2127
Ok, maybe it is only F7. I will try to test different boards tomorrow

On wt., 12 wrz 2017, 22:36 stronnag <notifications@github.com> wrote:

--
Pozdrawiam,
Paweł Spychalski

[2017-09-12 20:53] stronnag commented on #2127
OK, seems stable on F3 and F4.

[2017-09-13 04:51] digitalentity commented on #2127
@DzikuVx unable to confirm on neither REVO not SPRF3. Possibly an F7-related issue.

[2017-09-13 05:57] DzikuVx commented on #2127
Tested on AnyFC F7 Pro and looks like there are more conditions for this bug to appear:
@stronnag @digitalentity

Set:
1. Async gyro
1. Gyro LPF 256Hz
1. Flight controller looptime 500Hz

And then:
1. On Gyro frequency 500Hz and 1kHz -> works fine
1. On Gyro frequency 2kHz, 4kHz and 8kHz -> attitude is broken

[2017-09-13 06:06] stronnag commented on #2127
For completeness, my test was with 1k gyro, matching your ok case.

[2017-09-13 06:31] DzikuVx commented on #2127
Still, I had time to test only another F7, it mnight be fine on other CPUs

[2017-09-13 06:44] DzikuVx commented on #2127
I somehow suspect this to be connected with

[code]

[2017-09-13 07:05] digitalentity commented on #2127
@DzikuVx tested on REVO (F4) - no issues with any gyro sampling frequency in both `async = gyro` and `async = all`

My Omnibus F7 should arrive within a week (hopefully) - then I'll be able to debug

[2017-09-13 07:08] DzikuVx commented on #2127
Then we have another mystery... I will try to bisect and find a commit that broke it

[2017-09-13 08:36] FPVZaphod opened #2130 "Consumed mAh in Telemetry not working on Omnibus F4 Pro v3 + CRSF"
Hello all,

In my Setup ( Omnibus F4 v3 Pro, Crossfire Micro v2 RX, Crossfire TX, Taranis, iNav 1.7.3 ) it shows the consumed mAh's in iNav GUI, but not in the Telemetry on the Taranis. The Sensor is recognized, but it remains 0. All others work fine.
Receiver is connected by UART1, CRSF Mode.

Thanks a lot - great work!

[2017-09-13 09:21] FPVZaphod opened #2131 "RSSI Scaling for digital / PPM source"
Hello all,

different Receivers show their RSSI value in different ways in a PPM channel. Some use 1000-2000ms for 0-100%, others use 1300-1700. Would be nice to have the possibility to adjust this. Easiest would be saving the value for "TX off (RSSI = 0%)" and "TX 50cm away from RX (100%)".
Or just similar to the analog RSSI Scaling, could use the same values!

Thanks!

[2017-09-13 09:22] digitalentity commented on #2131
There is a PR https://github.com/iNavFlight/inav/pull/2076 which needs to be tested.

[2017-09-13 09:25] digitalentity commented on #2130
Thanks for reporting. Will check. We might have a bug in CRSF telemetry code.

[2017-09-13 09:25] FPVZaphod commented on #2131
Thanks - sorry, did not see this!

[2017-09-13 15:57] DzikuVx commented on #2127
@digitalentity no, it's not because of STATIC)FASTRAM in IMU. Staring to bisect

[2017-09-13 17:07] DzikuVx commented on #2127
OK, looks like it hot broken at 3da0ab1862027bd177b132b385411b7413a28230

![fail](https://user-images.githubusercontent.com/966811/30390559-c97dcff6-98b6-11e7-8695-851eca7a7aae.PNG)

[2017-09-13 17:44] martinbudden commented on #2127
One good reason to do migrations in small steps - it makes pinpointing the failure much easier.

[2017-09-13 23:55] cmanley commented on #1145
If this will allow one to use boards with only 4 output channels (such as nano omnibus boards) for 4ch planes then this will be a great improvement. The current limitation of reserving the first 2 outputs for motors when only 1 motor output is used means that those boards fall short of 1 output channel.

[2017-09-14 01:07] shellixyz commented on #2036
I am closing it. The weather is awful I can't test this for now. Will open a new one if needed. Thank you for your support.

[2017-09-14 01:07] #2036 closed, assigned to nobody

[2017-09-14 05:34] digitalentity commented on #1145
There is a reason why we reserve two pins for motors and don't allow them for servos. Hardware timers on STM CPUs generally can't be shared between ESC and servo outputs (unless they run same PWM frequency). Same is true for softserial, ppm/pwm input, ledstrip etc. Because most boards are designed without airplanes in mind - we have to figure out timer configuration that works for as many setups a

[2017-09-14 05:38] digitalentity opened #2134 "Investigate possibility of moving usTick to FASTRAM"
Apparently this breaks attitude computation on F7 targets: #2127, #2133

[2017-09-14 06:03] #2127 closed, assigned to nobody

[2017-09-14 06:54] DzikuVx commented on #2134
Probably it was screwing all tasks happening more often than every 1ms that was using dT

[2017-09-14 12:00] ampere-dieter opened #2135 "inav 1.7.3 failed with ScitE Editor"
Hi all,
since inav 1.7.3 make with SciTE (V.4.0.0) failed with this message:
...
%% timer.c
c:/users/wuertenberger/gnu_tools/build_tools/bin/sh: git: not found
settings.yaml -> settings_generated.h, settings_generated.c
c:/users/wuertenberger/gnu_tools/build_tools/bin/sh: ruby: not found
Makefile:932: recipe for target 'src/main/fc/settings_generated.h' failed
make: *** [src/main/fc/settings_gener

[2017-09-14 12:02] digitalentity commented on #2135
Duplicate of #2115

[2017-09-14 12:02] #2135 closed, assigned to nobody

[2017-09-14 12:04] stronnag commented on #2135
You need to install ruby. See release note and developer documents.

[2017-09-14 12:20] ampere-dieter commented on #2135
thanks stronnag for Your fast help.
With ruby installed all things are as usual...
Dieter

[2017-09-14 14:52] digitalentity opened #2140 "Exiting CMS leaves residual characters on the screen"
When exiting CMS menu the screen is not cleared and OSD is drawn on top of (now inactive) CMS menu. CMS should clear the screen when exiting.

[2017-09-14 15:02] pdwdw opened #2141 "Omnibus F4 osd电压不准"
Omnibus F4 osd显示电压不准,显示0.5v,调节也是这个范围变化,确定不是硬件问题,刷了几块都这样,刷bf
固件可以正常显示

[2017-09-14 15:08] digitalentity commented on #2141
English please

[2017-09-14 15:29] fiam commented on #2141
Just an automated translation, trying to make some sense of it:

[code]

So it seems to me that he can't get the decimal part of the voltage to show up somewhere (OSD? telemetry?) while in ßF it seems to work (`"brush bf
Firmware can be displayed normally"`).

[2017-09-14 15:30] fiam commented on #2140
I guess we uncovered that one rather than adding it in, didn't we?

[2017-09-14 22:07] fiam opened #2144 "OMNIBUS boards don't enable OSD by default"
Make the OMNIBUS targets enable the OSD feature by default.

[2017-09-14 22:08] Schalonsus commented on #1712
Any news regarding this topic?

[2017-09-15 11:47] fiam commented on #2078
FC side merged, missing support on the configurator side.

[2017-09-15 11:48] fiam opened #2146 "Show total fly time on OSD stats"

[2017-09-15 11:48] fiam commented on #2078
@EnglishTurbines Adding the fly time to the stats at the seems like a good idea. Just opened #2146 to track your request.

[2017-09-15 19:09] Feldsalat opened #2150 "Bad build Omnibus 1.7.3 building in windows light"
The generated "inav_1.7.3_OMNIBUS.hex" seems to be ok until gps AND airplane is activated. When gps AND airplane is selected the communication with the board is no longer possible.  ->"Waiting for data"
Airplane without gps seems to works normal Quad X with gps also.
I haven't made any changes to the firmware yet!
Downloaded firmware works fine but I need custom airplane with only one motor and th

[2017-09-15 19:27] fiam commented on #2150
@Feldsalat I've been investigating a weird hang on OMNIBUS F3 for a few days, but I haven't been able to reproduce it consistently. Could you post a dump of your configuration so we might try to reproduce the problem and fix it?

[2017-09-15 19:28] fiam commented on #2150
Might be the same problem as in #2054

[2017-09-15 19:31] #2122 closed, assigned to fiam

[2017-09-15 19:34] Feldsalat commented on #2150
`# diff

# version
# INAV/OMNIBUS 1.7.3 Sep 12 2017 / 08:53:35 (974440d)

# resources

# mixer
mixer CUSTOMAIRPLANE
mmix 0  1.000  0.000  0.000  0.000

# servo

# servo mix
smix 0 3 0 100 0
smix 1 5 0 100 0
smix 2 2 1 100 0
smix 3 4 2 100 0

# feature
feature -RX_PPM
feature -CURRENT_METER
feature RX_SERIAL
feature MOTOR_STOP
feature GPS
feature TELEMETRY
feature AIRMODE
feature PWM_OUTPUT_ENABLE

[2017-09-15 19:55] FlyingGustel commented on #2119
Is it planned to start a new wiki?

[2017-09-15 20:02] stronnag commented on #2119
Why would we do that? The existing wiki is a mass of useful information.

[2017-09-15 20:14] fiam commented on #2150
Thanks! I don't have an OMNIBUS here right now to test it (it's on a wing already loaded in the car for tomorrow morning), but I'll try to load your settings and see what happens over the weekend. I think @digitalentity might have an OMNIBUS handy, so he might be able to try it before me.

[2017-09-15 20:18] fiam commented on #1262
Isn't this one fixed by #2084?

[2017-09-15 20:20] fiam commented on #1767
@moggiex Not sure how to implement this one. Should we add a new OSD element for the HDOP or a setting for the `OSD_GPS_SATS` to make it display HDOP next to the satellite number?

[2017-09-15 23:01] digitalentity commented on #2146
Closed

[2017-09-15 23:01] #2146 closed, assigned to fiam

[2017-09-15 23:07] digitalentity commented on #2150
@Feldsalat at what point it's getting stuck? Board is obviously detected, and you can click "Connect" button on Configurator. What tab are you accessing when Configurator hangs with "waiting for data" message?

[2017-09-15 23:07] digitalentity commented on #2140
Fixed

[2017-09-15 23:07] #2140 closed, assigned to nobody

[2017-09-15 23:08] digitalentity commented on #1262
Yes, looks like it. Closing

[2017-09-15 23:08] #1262 closed, assigned to nobody

[2017-09-16 03:13] Feldsalat commented on #2150
Direct after save and reboot.

[2017-09-16 06:51] digitalentity commented on #2118
In post-1.7.3 OSD is going some serious overhaul. Let's see if this issue will remain in 1.8.

[2017-09-16 07:41] FlyingGustel commented on #2119
No, just refering to the comment from oleost above mine. Not the whole wiki the default value page.😄

[2017-09-16 08:44] Schalonsus commented on #2150
I can compile the hex without problems and it works correct for @Feldsalat
We think this might be an issue with ruby (wrong installation or something)

I build with the normal windows guide https://github.com/iNavFlight/inav/blob/master/docs/development/Building%20in%20Windows.md with cygwin.

@Feldsalat, latest gcc installed?

[2017-09-16 10:26] tgreer commented on #2130
I have this exact config, so happy to do some test/debugging if required.

[2017-09-16 10:26] kingdraki commented on #1761
BLHeli32 ESC featuring onboard telemetry and can report VBAT and Current via UART to the FC. This would be a great benefit to use these Sensors in Inav.

[2017-09-16 11:31] #2144 closed, assigned to fiam

[2017-09-16 11:35] moggiex commented on #1767
Good question @fiam

In an ideal world it would be a separate value to be shown on the OSD. Personally I would always have it showing under the sat count on my screens, Matt

[2017-09-16 13:42] Feldsalat commented on #2150
I just followed this guide: [https://github.com/iNavFlight/inav/blob/master/docs/development/Building%20in%20Windows%20light.md](url)

[inav_1.7.3_OMNIBUS.zip](https://github.com/iNavFlight/inav/files/1308364/inav_1.7.3_OMNIBUS.zip)

[2017-09-16 15:25] Schalonsus commented on #2150
What GCC version are you running?

[2017-09-16 15:29] stronnag commented on #2150
I fly an OMNIBUS regularly (like twice a week). No problems with 1.7.3 / 1.7.4 on either gcc 6.31, 7.1 or 7.2 (Arch Linux). So I'm surprised.

[2017-09-16 16:00] stronnag opened #2154 "1.7.4. MSP_STATUS bitfield implementation reverses boxflags field"
I've been flying `de_rx_and_failsafe_cleanup` for the last few days, and noticed the following regression today (via development merge):

With 53114bf101a8ada57650afec3287b41f47639cd6 arming in HORIZON mode, I get logged by mwp
[code]
The pertinent  bits (excuse the pun) being the first `horz 4` and the matching switch value.

Today, with f571000017da8df45d31c1e4b7b0bc78b87f4098, "Merge branch 'de

[2017-09-16 16:21] marbalon opened #2155 "Failsafe not detected on 1.7.3"
Today I tried version 1.7.3 and catch this problem. Situation looks like below:

- sometimes when model lost RC link - RTH failsafe is detected correctly and model come back to home, clibm if needed
- when I turn off radio few times model turn back without any problem
- but when I tried to fly away to lost communication and force FS OSD shows RSSI 0%, no control and no FS :(, I increase transmit p

[2017-09-16 16:33] EnglishTurbines commented on #2078
Great....please try and get the "On time" removed from iNAV.....It serves no purpose.......Less is more....:)

[2017-09-16 17:39] Feldsalat commented on #2150
I now downloaded this version: [https://launchpad.net/gcc-arm-embedded/5.0/5-2016-q3-update/+download/gcc-arm-none-eabi-5_4-2016q3-20160926-win32.exe](url)
It now seems to work :-)

[2017-09-16 17:53] Schalonsus commented on #2150
You can find the latest versions here: https://developer.arm.com/open-source/gnu-toolchain/gnu-rm/downloads

[2017-09-16 17:59] stronnag commented on #2150
Those are by no means the latest version of  arm-none-eabi-gcc

[2017-09-16 18:53] Schalonsus commented on #2150
my fault
https://gcc.gnu.org/mirrors.html

[2017-09-16 19:42] marbalon commented on #2155
I've just caught  the problem on my desk, RSSI = 0, no control and not failsafe :(
![image](https://user-images.githubusercontent.com/16336451/30515435-e27ac1bc-9b27-11e7-9339-0a0c03ec9ec1.png)

[2017-09-16 19:55] stronnag commented on #2155
As iNav monitors `rx_min_usec` for failsafe, would it not be more useful to show what that is when RSSI disappears ? Does it even check RSSI?

[2017-09-16 20:42] KenImhof commented on #1793
Making some progress by adding a few lines of code.  If inverted reverse motors than reset home position at the top of the flip.  Sort video example that would cut-off during the RTH:
https://youtu.be/5oiWQhGGE78

[2017-09-16 20:49] fiam commented on #2154
@stronnag This was definitely caused by #2142. I reversed the bit array implementation to be able to use the ASM instruction `clz` to iterate it. It seems the code for MSP_STATUS just dumps the bit array on the wire, so it now ends up in reverse. I'll submit a PR in a few minutes.

[2017-09-16 21:12] omegat opened #2157 "Failsafe as range not detected correctly"
Hi,
i use an Omnibus F4 Pro with INAV 1.7.3 (on a 250 generic quad) using an FrSky XSR receiver connected via PPM and S.Port telemetry on UART1; further GPS on UART6 and a MSP-based 433MHz long-range telemetry setup on Softerial1 (by the way I don't understand why you cant activate more softserials oder engage more of the other UARTs, even when compiling the source yourself (#define USE_SOFTSERIAL

[2017-09-16 22:23] marbalon commented on #2155
Ok, problem resolved (I hope).

[2017-09-16 22:23] #2155 closed, assigned to nobody

[2017-09-17 04:46] Jozx900 commented on #2141
English:
Omnibus F4 osd voltage could not correct display. Always show 0.5v. It's not Hardware problem, we try put Inav firmware to other F4, still the same. But F4 can show correct voltage when use BF firmware.

[2017-09-17 04:48] digitalentity commented on #2141
My Omnibus F4 shows voltage correctly. For further troubleshooting a photo of the board and a CLI dump is required.

[2017-09-17 04:52] digitalentity commented on #2154
Fixed

[2017-09-17 04:52] #2154 closed, assigned to fiam

[2017-09-17 05:50] Pairan opened #2160 "Documentation update required - Matek F405-OSD servo mapping different from commonly used"
just wired up the Matek F405-OSD in combination with the Matek 6s HUB ...

I am used to the following connections:
**SERVO 1** = ESC
**SERVO 3** = LEFT elevon
**SERVO 4** = RIGHT elevon

Now, SERVO 4 (alias S4) seems to be dead! Then I got some curious and tried S2 instead ... which turned out to be SERVO 3 !?

This then makes it as follows:
**SERVO 1** = ESC
**SERVO 2** = LEFT elevon
**SERVO 3**

[2017-09-17 06:52] oleost commented on #1793
Looks very promising.

[2017-09-17 06:53] oleost commented on #1793
Maybe do an pull request and take discussion from there?

[2017-09-17 07:14] digitalentity commented on #2160
IIRC this is not wrong, this is what hardware allows. We need, however, to document this feature.

[2017-09-17 07:16] Pairan commented on #2160
Ah ... i see . then we really need to document that on the MATEK Board MD so people can figure this!

[2017-09-17 07:53] digitalentity commented on #2160
@Pairan I've took the liberty of renaming the issue to reflect the actual problem, I hope you don't mind :smile:

[2017-09-17 08:16] Pairan commented on #2160
@digitalentity no worries - we figured "It's like that- and its not a bug!" then we surely can rename it to something more fitting :)

[2017-09-17 08:20] Pairan opened #2161 "Feature Request: Backing up configured mode settings"
I came across that currently we have no option to backup the modes in iNav. Is that something to place within the DUMP/DIFF of the CLI or simply per backup as in BF/CF?

As my setups are getting complex, its a pain in the behind to configure every fc to do, what its predecessors my have done before :)

[2017-09-17 08:24] digitalentity commented on #2161
CLI dump/diff has a number of `aux` commands - which is precisely what you are looking for.

[2017-09-17 08:25] Pairan commented on #2161
then I'll have to look more sharp and return to RTFM-Mode! ...

[2017-09-17 08:26] #2161 closed, assigned to nobody

[2017-09-17 11:41] digitalentity commented on #1916
I'm not sure this is necessary. UARTs seem to not introduce considerable overhead when working in non-DMA mode.

[2017-09-17 14:05] fiam commented on #1878
Since we already have `rcCommand[THROTTLE]` on the telemetry, it seems this would be completely fixed by fixing #2031.

[2017-09-17 14:22] KenImhof commented on #2120
Appears that this issue is being ignored.  Seems to me that the person that removed the fc_core code and broke this feature in the last release should fix this problem.  I can certainly add the code back, but I am not sure why it was removed to being with.

[2017-09-17 14:32] fiam commented on #2120
We really need a big cleanup of 3D related stuff (like making all NAV modes work with 3D mode). I plan to eventually address it, but got my plate full ATM with OSD related stuff.

[2017-09-17 14:33] matoy opened #2165 "bluetooth module @19200 not working since 1.7.3 beta"
Hi,

I have a HM10 bluetooth module connected to TX/RX UART1 on my omnibus f4 v2 pro.

same config with 1.7.2 and bluetooth is working.
on 1.7.3, no way to connect.

i don't know if that might be related to this on cf/bf:
https://github.com/betaflight/betaflight/issues/3967

but disabling OSD feature doesn't make work (it does on cf or bf).

here is a diff of the config:
https://pastebin.com/R48Dc

[2017-09-17 14:46] fiam commented on #2165
@matoy I do have a few HM10 on the way, but they won't be here for a month or so. I do plan to install one of them in an OMNIBUSF4PRO, so if no one has fixed this one until then, I guess I'll take care of it :-).

[2017-09-17 15:27] fiam commented on #1767
@moggiex How does this one look? It's just displaying the integer part of the HDOP to save some space. Do you think adding decimals is worth it?
<img width="499" alt="screen shot 2017-09-17 at 16 23 43" src="https://user-images.githubusercontent.com/41529/30522250-05c95eba-9bc5-11e7-87b7-37fe8e786809.png">

[2017-09-17 15:45] fiam commented on #2118
@Nihilistic Can you post a screenshot? I think you might have aligned those fields in the artificial horizon area, because that would cause them to blink.

[2017-09-17 15:55] fiam commented on #2078
@EnglishTurbines Both the combined time indicator and the fly time on the stats have been implemented. I've just merged support for the combined time indicator in the configurator, so I'm closing this one.

[2017-09-17 15:55] #2078 closed, assigned to fiam

[2017-09-17 15:59] chtay commented on #2160
Hi all
I encountered the same thing. But I have another problem. On my F3 board (SPRacing F3 Clone), I can configured customairplane which I use S3 to S6 for servo, but doing the same on this Matek F405-AIO, the S5 and S6 is not responding. If I set it to hexcopter, set motor signal as PWM, on motor test, the servos that connected to S5 and S6 is working.

[2017-09-17 16:14] Nihilistic commented on #2118
@fiam You're right. I had the current fields one line directly below where the sidebars end, and the fly mode  field directly above them. I moved the fly mode field to the left of the sidebar, and the current and mah fields down one line, and that resolved the issue. No more annoying blinking. Thanks man!

[2017-09-17 16:14] #2118 closed, assigned to nobody

[2017-09-17 16:18] fiam commented on #2118
@Nihilistic You're welcome :-). Just happened to me while I was implementing the new HDOP indicator. I hardcoded it to appear in the middle in the screen and it started blinking, that's when it hit me what you were probably having the same problem.

[2017-09-17 16:29] Nihilistic commented on #2118
We're getting an HDOP indicator on the OSD? Sweeeet :)

[2017-09-17 16:44] Target0815 commented on #2107
I took another look at the problem ...

In my opinion is the problem with the iNav configurator, because the problem occurs ONLY after iNav has flashed. If I flash once with iNav, I can't access the board via com-port anymore.

If I use Cleanflight, the Com-Port is always available after plugging in the board.

I noticed during the tests that Cleanflight 368 KB erases flash memory, while iNav only

[2017-09-17 16:52] Target0815 commented on #2107
Addendum: I take the Betaflight Configurator it works like Cleanflight (delete 368 kB flash memory), with the difference that the board is NOT automatically detected in DFU mode like CF. The Com-Port is always available even after unplugging or plugging in.

[2017-09-17 18:31] fiam commented on #1272
@digitalentity I'I leaning towards setting small angle to 180 in the FW presets. Thoughts?

[2017-09-17 19:11] kingdraki opened #2169 "Allow negative value for 'current_meter_offset'"
Hi,

I'd kindly ask you to modify current_meter_offset to let user set up positive and negative values.

Here is the reason.
I'm using Omnibus F3 controller with Matek PDB. When the plane is idle, the current meter displays 0,10A but the measured value is 0,42A. This error continously presents (ie. when the measured current is 7,00A, the displayed current is around 6,70A, so I'm sure the scale is

[2017-09-17 20:09] Atorhe commented on #1533
Hi! I am having the exact same issue on my omnibus! Did you ever solve this problem?

[2017-09-17 20:17] KenImhof commented on #1793
Submitted Pull Request #2170.

[2017-09-17 21:11] KenImhof commented on #2120
Hi Fiam,

That would be awesome.  Just let me know if I can help.  I can certainly do testing and I am in the process of coming up to speed with the iNav code base.

[2017-09-18 01:45] digitalentity commented on #2165
You are using S.Bus receiver on UART6 right? I might be able to test on my Omnibus F4 V3 PRO board and see if it exhibits the same behavior.

[2017-09-18 01:47] digitalentity commented on #2107
Configurator erases as much memory as required to flash the firmware - no more.

[2017-09-18 01:47] digitalentity commented on #1272
Agreed

[2017-09-18 01:48] digitalentity commented on #1533
Toilet-bowling is always a compass issue. Please make sure you compass is giving valid readings and is not affected by magnetic fields.

[2017-09-18 01:50] digitalentity commented on #2120
@KenImhof the fact that issue is not being addressed immediately does not mean that it is ignored. Not many of us fly 3D mode. If you have found what's causing the bug - please share your findings.

[2017-09-18 01:52] digitalentity commented on #2120
@fiam I'm planning a complete overhaul of `rcCommand`-related stuff to be independent of actual pwm values (for 1.9).
All of the code dealing with `rcCommand` will simply be requesting '75% normal thrust` or `20% reverse thrust`. We'll solve a lot of 3D-mode related issues in process.

[2017-09-18 06:35] giacomo892 commented on #1533
I had a toilet bowling issue some time ago and it was due a failure in compass calibration value restore after upgrade.
Somehow on of the last digit of the three parameters went missing while sending to the FC.
I think that's because CLI doesn't have any CRC.

[2017-09-18 06:37] matoy commented on #2165
Hi,

I have a ppm receiver (on ppm port obviously).
Same problem if I disable receiver in config and unplug it.

I have a v2 FC.

The very same config works on 1.7.2 and doesn't on 1.7.3

Thank you.

[2017-09-18 06:38] Target0815 commented on #2107
I guess you're right.... When I flash the inav_1.7.3_SPRACINGF4EVO. hex with Cleanflight, only 256 kB of deleted memory is displayed. Still not running.

Is it because of the. hex file or is it the configurator or is my notebook a total waste? I mean, with CF or BF the board runs flawlessly, also with other boards (Omnibus, Matek, SP Racing F3) I have no problem...

[2017-09-18 08:07] giacomo892 commented on #2031
I think for the moment is better to display user applied thottle as:

1)since pilot sticks input are not recorded on BB at least if you record DVR you have the applied thottle on the video
2)I use for instance the thottle indication to center my ch3 stick when using altitude hold so I can set the copter to 0 climb/descend rate when around 1500.  I know I can simply use a bigger deadband. What abou

[2017-09-18 08:40] fiam commented on #2008
@giacomo892 I'm not a fan of the stick combination. They're hard to remember and a bit "overloaded" (i.e. there are already too many to remember all of them). What about trigger by mode and by CMS? (the latter would require an OSD)

[2017-09-18 08:48] fiam commented on #2031
@giacomo892 When I say applied I mean the effective value applied by the FC. I've just realised that I didn't chose the best name, it's definitely confusing.

I hadn't realised there were some important uses of having always the RC THR displayed. I fly mostly FW with INAV and having the effective THR displayed when I'm not in direct control of the throttle definitely helps. I understand that it mi

[2017-09-18 09:22] fiam commented on #1272
@digitalentity We don't have any MSP commands for setting `small_angle` nor `imuConfig_t`, do we? Should we introduce a command for the whole imuConfig_t or just for `small_angle`?

[2017-09-18 09:39] giacomo892 commented on #2008
Yes it is ok. also would be nice to have like "BB full" overlay text :)

[2017-09-18 09:42] giacomo892 commented on #2031
Don't worry. I'm not against the ability to show "FC computed" throttle on OSD. As you say it helps on FW on saving the plane to potential dangers and also to check how FC automatic modes behaves visually.
Maybe can't just add another element "computed throttle" and one can add both if needed.

I know OSD is becoming bigger and bigger :) But it is a very nice to have it really customizable.

[2017-09-18 09:53] fiam commented on #2031
Thanks for the clarification. We definitely don't want to take away useful features while implementing new ones.

I need to think about this one a bit more. We would need 3 indicators to cover all use cases:

- **a:** always show pilot input THR
- **b:** always show effective FC THR
- **c:** show (b) in NAV modes, (a) in all other cases

Not sure if we need to cover all these use cases thought. On

[2017-09-18 10:11] wolflonezx11 opened #2172 "INAV 1.73 (BETA) Build error 127"
Build error occurred.
I am looking for a solution.
Please

[/cygdrive/c/dev/inav]$ make TARGET=NAZE
settings.yaml -> settings_generated.h, settings_generated.c
/bin/sh: ruby: command not found
make: *** [Makefile:933: src/main/fc/settings_generated.h] Error 127
[/cygdrive/c/dev/inav]$

[2017-09-18 10:20] stronnag commented on #2172
Install ruby
Read release notes an Dev docs
Search prior issues on this topic

[2017-09-18 11:43] DzikuVx commented on #2172
@wolflonezx11 just like @stronnag wrote: you need ruby

[2017-09-18 11:43] #2172 closed, assigned to nobody

[2017-09-18 13:54] teckel12 commented on #2165
I have a bluetooth module I can test tonight.

[2017-09-18 14:00] skaman82 commented on #2155
I actually had the same problem on my desk. I have bound the crossfire micro v2 RX to my transmitter. Then during building I switched my radio off, but no failsafe was detected. I turned my radio on and off again and it worked like it should. Couldn't reproduce this glitch again but have not very much confidence right now because failsafe was definitely glitching one time.

[2017-09-18 19:15] Target0815 commented on #2107
Can you reopen the issue? Maybe another user has an idea?

Thanks!

[2017-09-18 22:19] padcom opened #2175 "Issue using UART1 and PWM/SBUS"
Hi, I know this probably is the worst place to ask this kind of question but I am pretty much out of ideas what might be going on.

I have 2 of the Omnibus F4 V2 boards with SD Card slots and OSD. Up until recently one of those boards used to work just fine allowing me to use my PPM receiver and a BT converter.

I was soldering new set of wires to this board (it has an on-board current sensor) and

[2017-09-18 22:23] padcom commented on #2175
https://www.banggood.com/BF3_1_5-Omnibus-F4-V2-Flight-Controller-STM32-F405-MCU-Integrated-OSD-Built-in-5V-BEC-Current-Meter-p-1143258.html

That's the exact board in question

[2017-09-19 03:20] ahfynjj commented on #2165
我的蓝牙模块（hc-05 hc-06 hw-10）在ANYFC F7上使用正常，使用的波特率的57600

[2017-09-19 07:25] DzikuVx commented on #2175
It all depends on soldering iron, temperature and skills. It's not that easy to kill an uart, but if soldering iron in not ESD safe then it happens.
Are you sure it's not configuration? UART3 is shared with I2C so if you enable any I2C devide, UART3 will not work. And PPM is shared by default with UART1 so if you have something configured on UART1, PPM and UART1 would interfere/not work

[2017-09-19 07:25] #2175 closed, assigned to nobody

[2017-09-19 08:17] DzikuVx commented on #2169
@kingdraki take a look at https://github.com/iNavFlight/inav/pull/2176
But we will need someone to test it. Are you able to compile that branch by yourself?
I can compile for you, but I have to know the target

[2017-09-19 17:03] kingdraki commented on #2169
Thanks for taking my suggestion into the code.
I have never compiled development branches before. Would appreciate if you
can compile for target OMNIBUS for testing.
Thanks.

2017-09-19 10:17 GMT+02:00 Paweł Spychalski <notifications@github.com>:

[2017-09-19 17:23] DzikuVx commented on #2169
@kingdraki please report if there are no problems
[inav_1.7.4_OMNIBUS.hex.zip](https://github.com/iNavFlight/inav/files/1315200/inav_1.7.4_OMNIBUS.hex.zip)

[2017-09-19 18:22] fiam commented on #2088
Fixed by #2162

[2017-09-19 18:22] #2088 closed, assigned to fiam

[2017-09-19 21:01] fiam commented on #2054
Just isolated the problem. It is definitely macOS specific. Using exactly the same board I can reproduce always reproduce it on macOS, while sending 64 byte MSP messages works fine on Windows.

[2017-09-19 21:54] krzysztofmatula commented on #2054
The issue is not necessarily related to MSPv2. I'm having issues with blackbox log downloading on mac since 1.7.3 (SPRACINGF3). I tried to force MSPv1 and it didn't help for that case. If we want to have workaround for mac we'd need to have a way to also disable the jumbo frames on log transfer (I bet it is the thing that makes problems here), as well, as the MSPv2...

[2017-09-20 01:29] Hiddenbeach commented on #2165
I am using Matek F405 FC. HM-10 Bluetooth module on com1. It works fine on Betaflight 3.2 RC5 but the same hardware setup doesn't work on iNav 1.7.3 and 1.7.4 (with software I2C). There is no Matek target prior 1.7.3.

[2017-09-20 02:57] digitalentity commented on #2165
@Hiddenbeach please upload betaflight's working dump and INAV's non-working dump. Please do a "dump", not "diff"

[2017-09-20 03:48] digitalentity commented on #2165
@Hiddenbeach can't reproduce on MATEK F405 OSD (INAV 1.7.3). Bluetooth is connected to UART1. MSP and telemetry works fine without issues.

[2017-09-20 03:49] digitalentity commented on #2165
@matoy verified on Omnibus F4 V3. No issues.

[2017-09-20 03:57] Hiddenbeach commented on #2165
dump files:
[bf_3.2_dump.txt](https://github.com/iNavFlight/inav/files/1316531/bf_3.2_dump.txt)
[inav_1.7.3_dump.txt](https://github.com/iNavFlight/inav/files/1316533/inav_1.7.3_dump.txt)

HM-10 on UART1 MSP, baud rate 9600. I just download bf 3.2 RC5 and iNav 1.7.3. everything on default setting except UART1. Anything else need to set?

edit: Matek F405 OSD version. I am using Mobile Flight on iO

[2017-09-20 05:55] digitalentity commented on #2165
Still can't reproduce. All baud rates from 9600 to 115200 work with your dump and INAV 1.7.3

[2017-09-20 06:38] digitalentity opened #2179 "Show disarm reason in OSD"
For boards with built-in OSD it would be good to see a reason of disarming on statistics screen. This will make "disarm in air" so much easier to troubleshoot.

[2017-09-20 06:41] stronnag commented on #2165
Matek f405 osd and AIO fine here with telemetry at 9600 baud. Don't think this is an FC or firmware issue.

[2017-09-20 06:42] digitalentity commented on #2165
Changing from bug to support as this is most likely not related to board or firmware.

[2017-09-20 08:31] locutus40 opened #2180 "omnibus f3 and gps issue"
i have a omnibus f3 with https://www.banggood.com/UBLOX-NEO-M8N-BN-880-Flight-Control-GPS-Module-Dual-Module-Compass-p-971082.html?rmmds=myorder

this gps...

anyway im using inav..  new version with the latest firmware.. gps has a lock red light blinks i get 15 sats

its on a 250 frame.. but when i move the switch i set up to engage alt position hold and alt alttltude ... i mixed them on the inav

[2017-09-20 09:12] fiam commented on #2031
@digitalentity @DzikuVx Can we get your opinions on this one? I'm leaning to one of these two:

- **A)**: Leave the current indicator as is, add a new indicator which cycles between user input while user is controlling THR and effective THR while the machine is in control of THR.
- **B)**: Add a boolean setting which controls wether the THR indicator either always shows user input or whether it sw

[2017-09-20 09:56] konraddi opened #2181 "Drunken iNav RTH behaviour"
Some unexplainable RTH issues happen here. Instead of flying straight back, my wing flies left and right, almost 90 degrees in the wrong direction. What could be the cause/solution?

Thanks,
Konrad

https://www.youtube.com/watch?v=DLJa5uz-axQ

# diff

# version
# INAV/SPRACINGF3 1.7.2 Jul 20 2017 / 11:45:09 (81b85de)

# resources

# mixer
mixer FLYING_WING

# servo
servo 3 1000 2000 1515 70 -1
ser

[2017-09-20 11:17] fiam commented on #2181
@konraddi are you able to record a blackbox log of the wing while it's performing an RTH? That would really help diagnose the problem.

[2017-09-20 12:17] etracer65 commented on #2054
Based on previous troubleshooting with Betaflight configurator and blackbox downloads I don't think this is a VCP or Silabs driver issue, but rather a Chrome serial handling bug.  I was able to replicate the serial corruption with both VCP devices and CP210x.  To further test this I wrote a standalone blackbox download application completely outside of Chrome and could not replicate the serial cor

[2017-09-20 12:22] digitalentity commented on #2054
We were able to reproduce the issue on MacOS using a test program in Go. Connection stalls when sending exactly 64 bytes

[2017-09-20 13:51] teckel12 commented on #2180
Your description is a little confusing.  But, it sounds like maybe you need to set this to get the desired effect:
`set nav_use_midthr_for_althold = OFF`

Also, when you turn on your position and altitude hold (I like to call this 3D position hold), if it jumps a little you need to lower `nav_mc_hover_thr`.  If it drops a little you need to increase `nav_mc_hover_thr`.  My value for `nav_mc_hover_

[2017-09-20 14:02] krzysztofmatula commented on #2054
Do you think that 64-byte long packets also happen while downloading the log?
It stalls for me at different moments. Usually somewhere between 100kB and 1MB. So, not at very beginning, nor at very end. In fact it never reaches the end for me now.

During the download process I see the packet error counter increased (to >100 sometimes), so it's not that first crc error breaks the process. I briefly

[2017-09-20 14:21] krzysztofmatula commented on #2180
Shouldn't we aim at removing the "nav_mc_hover_thr" usage completely for baro-equipped machines?
It is perfectly doable to stay still without any predefined initial hover point. Inav is so stable on its hold positions and this small jump on engaging baro mode is only making bad impression...

[2017-09-20 14:24] digitalentity commented on #2180
@krzysztofmatula you are misunderstanding the meaning of `nav_mc_hover_thr` - it's not the stick position. It's a hint for altitude hold code what throttle should be sent to ESCs for stable hover. If we won't have this parameter - we'll have to figure out something smart enough to figure it on the fly - and fast - because we may be arming and taking of in altitude hold mode.

[2017-09-20 14:28] krzysztofmatula commented on #2180
What about using current throttle (not the stick position, but the actual value) ?

[2017-09-20 14:29] digitalentity commented on #2180
What throttle do we have at takeoff? Zero? Probably the worst possible estimate for hover throttle.

[2017-09-20 14:33] krzysztofmatula commented on #2180
Hmm, this needs to be checked...
Actually, when you arm with baro mode enabled you don't expect the throttle to jump instantly to the hover value, do you? Maybe zero is not that bad?

[2017-09-20 14:36] digitalentity commented on #2180
Yes, but the longer it will take for a quad to wind up the AltHold integrator - the worse will be overall takeoff experience. Same is true for i.e. doing a full throttle climb and hitting failsafe RTH. It will take quite a while for quad to figure out the true hover throttle - while it's doing so it will keep climbing at full throttle.

[2017-09-20 14:44] krzysztofmatula commented on #2180
How long is "quite a while" ? If it is matter of single seconds I'd say it is acceptable.
If the error is big the correction should also be big (so: quick).

The proper manual setting of hover throttle is always problematic. People change batteries, attach/detach gimbals, and so on. In result the value is rarely good...

[2017-09-20 14:54] digitalentity commented on #2180
@krzysztofmatula we have a small "jump" at the beginning of altitude hold because our initial guess (`nav_mc_hover_thr`) is close enough. Having less accurate guess merely makes the period of instability longer. And I don't think period of seconds is acceptable - imagine a "jump" lasting a whole second.

[2017-09-20 15:49] krzysztofmatula commented on #2180
OK, I agree 1 second could be too long (imagined free fall with zero throttle and engaging alt-hold few meters above ground...)

But..., could we make using current throttle conditional, taken only when in hover position?
We can fine tune determining whether in hover position, but initially it could be zero-acceleration and zero-vertical speed. What do you think?

[2017-09-20 16:30] teckel12 commented on #2180
I honestly like the way it is now.  Once `nav_mc_hover_thr` is tweaked (which is easy to do), I can launch and hit 3D position hold and it locks in place with no jump.  I typically do this on every flight to be sure the craft is steady with a 3D position lock.  If it toilet bowls, it means the compass needs to be re-calibrated.  I do this as part of my pre-flight check because if RTH or failsafe h

[2017-09-20 16:44] davidbio110 commented on #2047
How to connect GPS and barometer to matek f405 aio fly controller,  I don't no about i2c and What is SDL and SCL, how to use 1.7.3 INAV Version. Please upload your video to YouTube
Please consider my question, this is my first drone
Please help me .

[2017-09-20 16:54] stronnag commented on #2047
This is not a support channel, it is for bug reporting and collaborative development. Please use RC Groups for support.

* You need the development branch for I2C on Matek F405 OSD
* See https://github.com/iNavFlight/inav/pull/2097 for details, including a working 1.7.4 hex file
* See https://github.com/iNavFlight/inav/blob/development/docs/Board%20-%20MatekF405.md for development branch board doc

[2017-09-20 17:58] jaahaavi opened #2184 "Servo gimbal feature not working in SP Racing F4 board (quad x)"
I have SP Racing F4 board on quad X. I tried to enable servo gimbal in options and map aux channel so that I can tilt camera with my TX. I can see the servo 0 output bar from motors page and it's moving correctly from TX, but there's no correct output pwm signal from motor 5 - 8 output pins.

also I don't see any servos from resource mapping from CLI:
# resource
IO:
----------------------
A00: LED

[2017-09-20 18:40] teckel12 opened #2185 "Propose alternative to LuaPilot lua script"
I know iNav currently has https://github.com/iNavFlight/LuaPilot_Taranis_Telemetry.  But, it doesn't work on the Taranis Q X7 and is limited in some ways (at least for me).  I've created an alternative which also works on the Taranis Q X7 and provides many additional features that showcase the uniqueness of iNav and includes tools to help find a lost model and model orientation feedback.  The goal

[2017-09-20 18:54] locutus40 commented on #2180
ill restate the issue.. the gps does not hold position and does not hold alititude.. it does nothing in fact when you flip the switch i set up.. and in inav you can see that the bars move to where i set up ie aux 2.... what i did was combine nav althold with nav alt poshold..

flip the switch and poof nothing in fact it goes crazy alittle and dives.....

when im flipping the swtich im doing so 5 f

[2017-09-20 19:18] stronnag commented on #2180
This is not a support channel, ranting here will not help. For the record, iNav works perfectly on my Omnibus / 250mm machine. PH, RTH, WP you name it --- perfect.

There is plenty of advice on the wiki about getting GPS and Mag to work. May I suggest you start there.

If you really want to be helped, go over to the RC Groups board, post a CLI diff and a blackbox log.

[2017-09-20 19:19] markandkymward commented on #2107
I've experienced the exact same issues as Target0815.  Both in WIN10 and Linux.  Nothing to add, just piling on.  Was hoping to clean up my 650 GPS build with this FC.

[2017-09-20 19:33] asteman opened #2186 "Home arrow disappear beyond 1000m from home - Omnibus F4 - iNav 1.7.3 beta"
Hi,

I've noticed that the home pointer arrow disappear when beyond 1000m from home. Only to blink briefly every now and then. When getting back within 1000m from home the arrow stays on permanently.

True for both the standard font and the improved one downloaded from issue 1443.

Bug or feature?

[2017-09-20 19:34] locutus40 commented on #2180
strong i dont appreciate being belittled like that.... whos ranting about anything im in need of help im explaining as best i can in detail what it does.. and if anyone knows how to fix it....

when i say dji stuff works out of the box etc what i mean is its probably the firmware or a issue with inav software..... i was using a referance i wasnt insulting the devs or anything..

look im to old and

[2017-09-20 20:43] fiam commented on #2186
@asteman It's either a bug or either user error :-). Definitely not working as intended.

Can you post a capture from the DVR with your OSD arrangement? (obscure or delete any potentially identifying information!) I suspect some other element might be overwriting the home arrow. If you can't provide an image, please post a dump and I'll try to replicate the problem on the bench.

[2017-09-20 20:51] fiam commented on #2185
@teckel12 This looks very promising. Great work! I'm going to give it a bench test on my Q X7 during the week and hopefully several flight test during weekend!

[2017-09-20 21:14] asteman commented on #2186
@fiam Here are 2 screen captures:
Beyond 1000m
![image](https://user-images.githubusercontent.com/25367091/30667723-c67892f8-9e58-11e7-85e6-84dfdbd2c541.png)

Within 1000m
![image](https://user-images.githubusercontent.com/25367091/30667794-034db01e-9e59-11e7-903c-9bca356cdb9a.png)

My guess is that the 4th digit overwrites the arrow even though it looks like there are space for it in the second s

[2017-09-20 21:17] teckel12 commented on #2185
The dial can be used to alternate between compass-based directional indicator and launch-based orientation and model location (two different display modes).  The launch-based orientation view shows the models's orientation based on launch orientation.  Also, if further than 25 feet away, it also shows the model's location in reference to launch location (the dotted line with an X at the end indica

[2017-09-20 23:32] wolflonezx11 commented on #2172
Install ruby

Become a problem solver Thank you so much

2017-09-18 20:43 GMT+09:00 Paweł Spychalski <notifications@github.com>:

[2017-09-21 04:08] Hiddenbeach commented on #2165
I tried MultiWii GUI and HM10 bluetooth serial lite. Both apps are able to communicate with Matek F405 OSD by bluetooth with the setup on iNav 1.7.3.

I think it's Mobile Flight related issue. It fails in the handshake process. Probably buffer overflow of HM-10 as described in this thread: https://www.rcgroups.com/forums/showthread.php?2601895-Mobile-Flight-Configuration-and-ground-control-app-for

[2017-09-21 04:16] digitalentity commented on #2180
@locutus40 please share a `diff` of your settings and output of `bootlog` command in CLI

[2017-09-21 04:17] digitalentity commented on #2165
@Hiddenbeach good, so it's a Mobileflight issue?

[2017-09-21 04:19] digitalentity commented on #2185
@teckel12 good stuff! I don't have a distinct preference for LuaPilot, but you should probably team up with @DzikuVx.

[2017-09-21 04:21] digitalentity commented on #2186
Yes, our `osdFormatDistanceStr` adds an extra space at the end of distance which overwrites the home arrow with this layout.

@asteman is this the default layout of cuzstomized one?

[2017-09-21 04:22] Hiddenbeach commented on #2165
That's my assumption so far. Maybe we can make a local version of iNav with some features removed by commenting out some feature lines.

I've sent an email to the owner of Mobile Flight. He would be able to answer the question.

[2017-09-21 04:43] locutus40 commented on #2180
ok im going to sound noobish... what is a diff? and bootlog and how do i get those from the interface?

[2017-09-21 06:06] asteman commented on #2186
@digitalentity It's the bold font. But I'm pretty sure this was an issue with the default font as well.

[2017-09-21 06:11] stronnag commented on #2180
In the CLI, `diff` and  `bootlog`. Paste the output in code blocks here. At the risk of being a condescending 60 year old, some knowledge of the CLI is pretty much essential for trouble shooting. This is not hand-holding DJI.

[2017-09-21 06:19] DzikuVx commented on #2185
@teckel12 my work on LuaPilot for INAV is very scattery and all I was able to do is to display modes correctly. And I have no problem with scrapping that and overriding that with work from you.

@teckel12 Can you we found on our slack so we can talk about it more civilized way that comments?

[2017-09-21 07:14] fiam commented on #2165
1.7.3 has new boxes for modes related to the runcam split which take more space. If MobileFlight requests those on startup, it would explain why it worked on 1.7.2 but not on 1.7.3. Can you try a custom build without RC Split support?

[2017-09-21 07:32] DzikuVx commented on #1272
No, we do not have MSP for that. Probably it's time to add a new one with settings that we can not set via MSP

[2017-09-21 07:33] kingdraki commented on #2169
Bench test was fine. I am able to finetune my current sensor now spot on.
Configurator did not let me enter values below zero at the moment.
CLI reports back allowed values -3300 to 3300 which is good.
Do you want me to do an in flight test too?

2017-09-19 19:23 GMT+02:00 Paweł Spychalski <notifications@github.com>:

[2017-09-21 07:35] digitalentity commented on #1272
I think it's time to start migrating from MSPv1 to MSPv2 - introducing new MSPv2 commands to read sets of parameters (maybe even whole PGs)

[2017-09-21 11:35] davidbio110 commented on #2047
Matek f405 AIO FLY CONTROLLER  HAVE
SDA AND SCL
On 20-Sep-2017 10:24 PM, "stronnag" <notifications@github.com> wrote:

This is not a support channel, it is for bug reporting and collaborative
development. Please use RC Groups for support.

   - You need the development branch for I2C on Matek F405 OSD
   - See #2097 <https://github.com/iNavFlight/inav/pull/2097> for details,
   including a working

[2017-09-21 12:08] aster94 commented on #2047
David this is for the F405-OSD not AIO and as they already said you it is better to write on the rcgroup forum please help to keep github clean

[2017-09-21 16:12] teckel12 commented on #2185
@DzikuVx do I need an invite to join the iNav Slack workspace?

[2017-09-21 17:22] fiam commented on #2186
How about something like this? I've just done the changes to ALT, but DIST would get more or less the same. Different symbols are used as a prefix to indicate the unit: meters and kilometres for metric and feet and thousands of feet for imperial. Not sure which units we would use for DIST in imperial yet. Nice thing is the indicator always uses the same space, adjusting decimals and whitespace as

[2017-09-21 19:10] Schalonsus commented on #2181
Your nav_fw_pos_xy_p is way too small. Try 75

[2017-09-21 19:43] giacomo892 opened #2189 "Tweak artificial horizon indicator in OSD"
We should add the possibility to optionally transform the artificial horizon indicator into attitude indicator instead by basically reversing the actual displayed artificial horizon.

It will be nice as you immediately visually see how much your wing or multi is rolled.

[2017-09-21 20:21] Blackcombify opened #2190 "Omnibus F7 Pro I2c mag remap possible ?"
Hello Guys! This is my first Thread about Copters.

Ill tryed to build a 330 Copter with GSP Mag and Bluetooth. So i ordered the Omni F7 pro  and a Ublox GPS+Mag.

After i spent hours to get Inav flashed ill stuck on the MAG.
It seems as the Omni F7 pro has no I2C pads....

Is it possible to remap the pins ? to get a SDA/SCL?

I soldered my Spektrum Sat to uart1 i think, the GPS to uart3 and the M

[2017-09-22 03:02] locutus40 commented on #2180
heres the diff

PÉ
Entering CLI Mode, type 'exit' to return, or 'help'

# diff

# version
# INAV/OMNIBUS 1.7.3 Sep  9 2017 / 10:09:29 (974440df)

# resources

# mixer

# servo

# servo mix

# feature
feature -RX_PPM
feature RX_SERIAL
feature GPS
feature PWM_OUTPUT_ENABLE

# beeper

# map
map TAER1234

# name

# serial
serial 0 0 115200 115200 0 115200
serial 1 2 115200 38400 0 115200
serial 2 6

[2017-09-22 05:47] DzikuVx commented on #2190
I2C is shared with UART3 on non-Pro Omnibus F7, so we can assume that it is the same in Pro version.
So Mag should go to I2C/UART3, GPS to UART1 and Sektrum to UART6.

[2017-09-22 05:47] #2190 closed, assigned to nobody

[2017-09-22 05:49] DzikuVx commented on #2185
@teckel12 https://inavflight.signup.team/ you can invite yourself

[2017-09-22 05:58] DzikuVx commented on #2169
I suppose this is enought now, thanks

[2017-09-22 06:01] DzikuVx commented on #2169
With pull request in place, closing this one

[2017-09-22 06:01] #2169 closed, assigned to nobody

[2017-09-22 06:09] Blackcombify commented on #2190
Hi, thank u, ill try it . 5 minutes i give
a feedback

greets

Am 22. September 2017 um 07:47:42 +02:00, hat Paweł Spychalski <notifications@github.com> geschrieben:

[2017-09-22 06:24] Blackcombify commented on #2190
you are the best man in universe

WORKS
i love you

Am 22. September 2017 um 07:47:53 +02:00, hat Paweł Spychalski <notifications@github.com> geschrieben:

[2017-09-22 06:27] DzikuVx commented on #2190
Yea, I know...  :)

[2017-09-22 09:48] sniperxnl opened #2191 "Crossfire micro rx setup"
Guys i have a Omnibus F4 v2
I connect the Crossfire Micro RX like this
CH1 - RX3
CH2 - TX3

In the taranis i set ch1 CRSFTX and ch2 CRSF RX
In Inav i activate Serial rx on UART3
And selecht under config tab TBS Crossfire.

What happend now is when i move the throttle all bars under reciever tab moves.

[2017-09-22 09:58] DzikuVx commented on #2031
@fiam I'd add a new indicator switching from user throttle to auto-throttle when auto-throttle is applied

[2017-09-22 11:05] sniperxnl commented on #2191
Guys sorry problem solved, under reciever tab you can select tear our something. There was only the number 4, after selecting the right on, it works

[2017-09-22 11:05] #2191 closed, assigned to nobody

[2017-09-22 13:37] Blackcombify commented on #2190
Ja Tiere an Option to get the hc06 Bluetooth in ?

Need 1 more uart ...right,?  Shit

⁣Gesendet mit BlueMail ​

Am 22. Sep. 2017, 08:27, um 08:27, "Paweł Spychalski" <notifications@github.com> schrieb:

[2017-09-22 13:59] DzikuVx commented on #2190
You can try spektrum on PPM pin, this is also UART2 RX

[2017-09-22 14:16] Blackcombify commented on #2190
Ok Ill try. Big thx

⁣Gesendet mit BlueMail ​

Am 22. Sep. 2017, 15:59, um 15:59, "Paweł Spychalski" <notifications@github.com> schrieb:

[2017-09-22 14:30] Blackcombify commented on #2190
Think dont Work

⁣Gesendet mit BlueMail ​

Am 22. Sep. 2017, 15:59, um 15:59, "Paweł Spychalski" <notifications@github.com> schrieb:

[2017-09-22 15:13] Blackcombify commented on #2190
Hc06 in ppm ?

⁣Gesendet mit BlueMail ​

Am 22. Sep. 2017, 15:59, um 15:59, "Paweł Spychalski" <notifications@github.com> schrieb:

[2017-09-22 15:24] Blackcombify commented on #2190
Only way is. Use RX TX for Bluetooth from USB
Like Plug an play.

What do you think

⁣Gesendet mit BlueMail ​

Am 22. Sep. 2017, 15:59, um 15:59, "Paweł Spychalski" <notifications@github.com> schrieb:

[2017-09-22 15:41] teckel12 commented on #2185
@DzikuVx All good, on Slack now.

[2017-09-22 16:55] advancetom opened #2192 "Crossfire protocol"
Hey today im connect my crossfire micro V2 receiver and selected crsf doesnt work.
If i change to SBUS it worked!!!!!
is there a protocol change to V2 in crossfire and not implemented in Inav?
or Not Tested ?
I am using Inav 1.7.3

[2017-09-22 16:57] koetjeboe91 opened #2193 "No lumenier lux v2 firmware? (stuck on I2C all else works) (dropped)"
Is it correct that there is currently no lux v2 support? had a naze 32 before the lux but that one died causing a crash.

[2017-09-22 18:18] Target0815 commented on #2107
I have now found a solution for myself.... If a normal USB 2.0 hub is connected between the notebook's USB 3.0 port and the FC, the Com port is activated each time the FC is plugged in. The configurator will then also work.

But I had to try several USB hubs, it only worked with one of the tested ones. The real problem is the USB driver in iNav, which seems to be time critical.

I tried to find di

[2017-09-22 19:40] advancetom commented on #2192
Dont use SBUS connector changed to UART and worked now 😀

[2017-09-22 19:40] #2192 closed, assigned to nobody

[2017-09-22 22:52] fiveangle commented on #2181
Try lower ABV batteries ? ;)

[2017-09-23 00:30] teckel12 commented on #2180
Are
[code]
default settings? On my phone so I can't check. But maybe you don't have a GPS lock when you launch? It can take a few minutes at times.

[2017-09-23 01:52] teckel12 commented on #2185
I believe this issue can be closed

https://github.com/iNavFlight/LuaTelemetry

[2017-09-23 02:34] locutus40 commented on #2180
yea there default settings .. i tried a few things removing the mid throttle for the gps just turning  it off.. when i flip my switch still does nothing i tried moving the copter farther out and flipping the switch nothing just hovers now.. ive tried just useing nav altposition hold and then just nav alt altitude still nothing.

its like non exsistant...

theres my new settings...Entering CLI Mode

[2017-09-23 15:18] tinou1 opened #2194 "Flight mode and tx rx"
Hello.
When angle and horizon are selecte the color change from grey to blue but not with other mode like rth or gps hold. Normal??
I have revolution board and i use the flexi io port for ppm input. Can i use the pin 7and 8 (tx rx) for my minimosd?
Tks

[2017-09-23 18:23] matoy commented on #2165
Hi,

you're right, i tried with 1.7.3 and an android device: no problem to connect. And yes, i have been connecting from an iphone and mobile flight in the first place.
sorry for disturbing.

thanks.

[2017-09-23 18:23] #2165 closed, assigned to nobody

[2017-09-23 18:30] matoy commented on #2165
@Hiddenbeach : sorry but i don't understand your solution. i only have 3 features selected on inav (ledstrip, osd and blackbox) and i get the handshake failed.

[2017-09-23 18:37] 0higgins0 opened #2195 "Board Req"
any plans to include the CL Racing F4 board

[2017-09-23 18:58] oleost commented on #2195
Have you tried contacting the company of that board with an request getting it supported in INAV?

If they have made themselves incompatible with one of current targets they should aim to get supported on different firmwares.

[2017-09-23 19:00] 0higgins0 commented on #2195
I will do that. Thanks

On Sep 23, 2017 2:59 PM, "Ole-Petter" <notifications@github.com> wrote:

[2017-09-24 05:13] digitalentity commented on #2193
We don't have the hardware. If Lumenier will step in and donate something we can test - we can certainly add support for the board.

[2017-09-24 05:43] digitalentity commented on #2179
Fixed

[2017-09-24 05:43] #2179 closed, assigned to digitalentity

[2017-09-24 05:45] digitalentity commented on #1295
F1's are no longer "officially" supported. Closing

[2017-09-24 05:45] #1295 closed, assigned to nobody

[2017-09-24 09:41] mastersurferde opened #2198 "Softserials are instable in 1.7.3 on SPRACINGF3"
Hi,
I have two boards SPRACINGF3 and I use Softserial 1 for Bluetooth and Softserial 2 for OSD.

Setup 1:
Receiver is connectes via PPM + SPORT on Serial 3 (X4RSB)
GPS on Serial 2

Setup 2:
Receiver is connected via TBS-Crossfire on Serial 3
GPS on Serial 2
Additional serial Connection via TBS-Crossfire on Serial 1

On both setups the Softserial Ports are unstable within some seconds. With Version

[2017-09-24 10:09] fiam opened #2199 "Add OSD alarm based on home distance"
Make the OSD indicator for the home distance blink when it's greater than a user defined value.

[2017-09-24 11:43] locutus40 commented on #1844
mine dont work in the air at all.. flies fine but once i hit my switch i set up for alt hold and pos hold it drops alittle and does nothing same thing as this guys.. any ideas?c

my dump
received - 0x2200344334570a20383633
2017-09-24 @ 04:34:05 -- CLI mode detected
Setup
Presets
Ports
Configuration
Failsafe
PID tuning
Advanced tuning
Receiver
Modes
Adjustments
Servos
GPS
Motors
OSD
LED Strip
Senso

[2017-09-24 16:28] tinou1 commented on #2194
For mode now it,s ok but not for the telemetry.
I have connect tx rx into the minimosd but change nothing in the video, just the video without traitment. I can unplug tx rx and +5v change nothing.
How i need to configure inav for have tx and rx in the flexiio port?
Tks

[2017-09-24 19:05] kabturek commented on #2040
This is something i'm missing from other flight controllers (notably vector).

[2017-09-24 20:50] fiam commented on #1959
Part (1) done in https://github.com/iNavFlight/inav/pull/2201. Part (2) will come in a later PR once #2201 is merged.

[2017-09-25 04:32] Hiddenbeach opened #2202 "Auto-detection of external BMP280 fails on iNav 1.7.4"
Hi, I am using iNav 1.7.4 for my Matek F405 OSD build. There is an issue of external barometer BMP280. I know people have verified BMP280 works on iNav 1.7.4. Somehow my external BMP280 is auto-detected as MS5611. If I manually configure it as BMP280, iNav won't recognize it. Since iNav detects it as MS5611, it doesn't function properly thus runtime calibration fails.

Both external BMP280 and mag

[2017-09-25 09:22] locutus40 commented on #2180
does anyone have any ideas at all? does clean flight have gps stuff like position hold and altitude hold? thats all i really want

[2017-09-25 09:24] locutus40 commented on #2074
get a new cable possibly its also your usb port is worn try a diffrent one..... also reload the drivers

[2017-09-25 09:28] DzikuVx commented on #2180
I'm affraid Cleanflight does not do any GPS modes on OmnibusF3 any more. Or any other F3 board. And even when it was doing it, it was at least problematic.

You problem is happening only on your machine, I can confirm all GPS modes working 1.7.3 even with POSHOLD and ALTHOLD on the same switch. Maybe if you can record a blackbox log we would be able to help more

[2017-09-25 09:31] locutus40 commented on #2180
ok  clean flight is outta the ? i wanted to see if its the firmware.. see i bought this board a while back ill see if i can get another one sent to me.......
 ok ill do a black log box thing and send the file somehow on here? so you can read it.. ill do a hover flight then a few feet away ill engage the pos and alt hold.. maybe make a video of my setup etc i dumped 80 bucks into this thing so far

[2017-09-25 09:43] locutus40 commented on #2180
Dziku vx can you do a video of it working? also i contacted banggood to see if they can send me a new f3 board

[2017-09-25 11:21] DzikuVx commented on #2180
Video will not give an answer. Only blackbox log can

[2017-09-25 11:44] stronnag commented on #2180
In addition to hover it would be useful to have some straight line flight so we can assess sensor behaviour against GPS and throttle.

[2017-09-25 12:56] Christianmix opened #2204 "CC3D anda sky surfer x8 problem."
Please help me, I am trying to put a cc3d into an X8 Sky Surfer X8, the receiver's connection to the cc3d is PPM, the servo of the elevator I turn on channel 3 of the cc3d, servo rudder on channel 6 of cc3d, right aileron no 5 and left aileron no 4, only the left aileron works, the right aileron connected to port 5 of cc3d does not work, if it puts it in port 4 it works, then I conclude that the s

[2017-09-25 15:24] retif opened #2205 "SP Pro Racing F3 (Deluxe), baro and magnitometer is not working"
FC page - https://flymod.net/item/flight_controller_sp_pro_racing_f3_deluxe
baro: MS5611
mag: HMC5883

versions tried: 1.7.3 1.7.2 1.7.1.

when i open configuration tab, select magnitometer HMC5883 and click save and reboot - mag icon becomes red and hardware health is red cross.

when i select baro MS5611 and save - baro icon is red, I2C errors start to grow and CPU Load is 666%, Serial Link icon

[2017-09-25 16:23] teckel12 commented on #2205
I have an SP Racing Pro F3 Deluxe and the barometer and magnetometer work just fine.  I'm running 1.7.3 now, but it also worked fine with earlier versions too.  It sounds like your looptime is set too high or your gyro sync is set to use too many CPU resources.  Try lowering your looptime and set gyro sync on and default aligned to gyro.  Or, post your CLI diff.

[2017-09-25 16:44] teckel12 commented on #2198
I'm only using one SS on the SP Racing Pro F3, but it's working just fine with 1.7.3 and it didn't work well with 1.7.2.  But, I'm using my SS port for S.Port telemetry.

Try selecting a baud rate instead of automatic.  Also, maybe a slower baud rate?  I'm running one SS port and selecting the baud rate specifically (57600) and it works without a hitch.

[2017-09-25 16:56] tonyintn commented on #2205
Its because you are more then likely running a clone lots of them floating around now.  In CLI

Set i2c_speed = 200KHZ

I have two of the clones, last two FC I purchased had different marking if you look very closely at the fine print on the chip changing the clock speed should fix the issue.

reference:
https://github.com/iNavFlight/inav/issues/1969
https://github.com/iNavFlight/inav/issues/724#i

[2017-09-25 17:13] stronnag commented on #2202
BMP280 is working just fine for me on MATEKF405OSD here (flown for several hours this weekend). There should be nothing to configure. Perhaps your baro is defective; can you try it on another FC?

[2017-09-25 17:50] mastersurferde commented on #2198
Hi teckel12,
thank you for your reply. I am using both ports in MSP mode with fixed 19200baud. This is exactly within the specification.
As I worte 1.7.2 is working fine - At the moment I have flashed 1.7.2 with no issues.
Regards,
Stefan

[2017-09-25 18:12] retif commented on #2205
Yes, guys, i am using a clone. and Set i2c_speed = 200KHZ is does its job! now baro and mag are working. Thank you!

[2017-09-25 18:12] #2205 closed, assigned to nobody

[2017-09-25 19:29] giacomo892 opened #2206 "Add RTH settings to OSD menu"
Could be VERY nice to have:

1)Ability to edit RTH altitude on the OSD menu

2)Choose whether land or not the craft on RTH (FW only maybe?)

[2017-09-25 20:11] fiam opened #2207 "Home direction arrow flashes due to overlapping with AHI"
By default, the home direction arrow is positioned in an area which the AHI uses too. This causes flashing since we never redraw the whole screen while the aircraft is armed. While we could move the default position one row down, it seems a better solution would be to not clear the centre bottom area of the AHI, since the line is never drawn there. See the attached images for reference.

<img widt

[2017-09-25 20:33] fiam commented on #2185
@teckel12 I agree. I'll just add 1.8 as the milestone to make sure we don't forget to mention it in the release notes and I'll close it.

[2017-09-25 20:33] #2185 closed, assigned to nobody

[2017-09-25 20:41] fiam commented on #1393
I'm moving this issue to 2.0, since there seems no interest in implementing DSHOT soon. PRs for it are welcome at any time though.

[2017-09-25 20:42] fiam commented on #1697
This seems to have been superseded by several other OSD enhancements and the new tools we have for maintaining the character set.

[2017-09-25 20:42] #1697 closed, assigned to nobody

[2017-09-26 01:04] digitalentity commented on #1844
@locutus40 please clarify what is "does nothing"? Try setting "set nav_use_midthr_for_althold = ON" and moving throttle stick to the middle after you activate AltHold.

[2017-09-26 06:45] locutus40 commented on #2180
i truly hate this copter... i go to get ready to record a few runs and nothing recorded to the memory stick so ill do it again tomorrow.. tried gps and what it does is wont let me move aliron or rudder or anything then dives to the left and loses altitude..... i think i have a faulty omnibus  bangood told me no on a resend.. im trying to convince them since i spent 20 bucks on this thing..... ill

[2017-09-26 06:57] digitalentity commented on #2180
@locutus40 make sure you have SD-Card selected as your logging device in Configuration. Also make sure Blackbox feature is enabled in Configuration screen.

[2017-09-26 06:59] locutus40 commented on #2180
it is... i flew it last time it logged last time about 10 events..... im going to reflash the firmware and start over... i still think its going to do the same thing im begning to think its the board its self

[2017-09-26 07:47] Schalonsus opened #2209 "cpu_underclock affecting roll/pitch rate?"
I did a test flight with my race wing and "set cpu_underclock = on"
It seemed that the rates were fairly low, maybe got divided by underclock?

[2017-09-26 08:13] Hoog2000 opened #2210 "external compass"
I have some problemes with i2c port and external compass. can someone give me a complete description of how i setup external compass in inaw with i2c port? :)

[2017-09-26 08:57] michaelvanderhoek commented on #1110
would love to see support for boats. I'm thinking of a simple setup for my baitboat!
making some waypoints and fish on the same spot every time.

Maybe an possibility to save the waypoints even when the power is off?

[2017-09-26 09:06] michaelvanderhoek commented on #2117
Could this also be working for omnibus F4 Pro? (this is also called V2) Cant find port B6?

[2017-09-26 09:34] fiam opened #2211 "Implement a proper message bus"
With the implementation of the new OSD_MESSAGES element, it has become evident that a system wide message bus would be very useful to do even more than displaying different messages in the OSD. Buzzer and LED systems would become message listeners too.

API should allow for both messages with specific duration (e.g. "Autotrim updated" or "Settings Saved" might last 2 seconds) as well as permanent

[2017-09-26 09:36] #2207 closed, assigned to fiam

[2017-09-26 09:39] digitalentity commented on #2211
Cool! A "message" should be defined as:

- Message ID - mandatory
- Message Text - optional
- Beeper pattern - optional
- LED pattern - optional

All calls for beeper should invoke message bus instead.

[2017-09-26 09:40] digitalentity commented on #2211
Other possibilities include sending messages via telemetry to allow LTM listener or Lua script to log them.

[2017-09-26 09:45] fiam commented on #1959
Moving to 1.9. Second part will be addressed by the upcoming message bus, which will allow us to shown messages in response to stick commands.

[2017-09-26 09:53] moggiex commented on #1767
Just seen your message, yes adding one decimal place is the "norm", Matt

[2017-09-26 10:09] jstremmler commented on #2117
Sure you can!

On the Omnibus F4 PRO board layout have a look at the bottom side. You will find there connector J1 with the 3 pinouts GND, 5V and LED_Strip. The pin for LED_Strip is connected to B6 of the processor and this is why iNAV should reserve LED_strip 1 as resource B6 instead of A1.The actual resource allocation prevents you from using LED's and a hexacopter configuration same time.
Btw f

[2017-09-26 10:27] fiam commented on #1767
@moggiex We'll add a decimal place once we merge fixed width number formatting. I'll reopen this issue to avoid forgetting it.

[2017-09-26 11:08] DzikuVx commented on #2210
1. SDA to SDA pad
2. SCL to SCL pad
3. 3.3V to Vcc
4. GND to GND
5. Enable MAG in Configurator and choose proper hardware. Tab "Configuration"
6. If not working:
    1. Check wiring
    1. Check if I2C on FC is not shared with any UART (UART3 for example on majority of STM32F4 boards)
    1. Lower CLI `i2c_speed` to 200 or even 100 kHz

[2017-09-26 11:08] michaelvanderhoek commented on #2117
Hi jstremmler,

Someone told me earlier that the dedicated led_strip on Omnibus F4 wasnt working at all.
So what you are saying is that it IS possible.

I'm happy to hear that! Already was going to sell my hexa because the ideas with LEDs weren't possible

[2017-09-26 11:08] #2210 closed, assigned to nobody

[2017-09-26 11:10] DzikuVx commented on #1942
Flashed AnyFCF7 with 1.7.3 and 1.7.4 without any problems few days ago. Closing

[2017-09-26 11:10] #1942 closed, assigned to nobody

[2017-09-26 11:12] DzikuVx commented on #2072
Since no new data appeared, closing this one. In case of new data please reopen

[2017-09-26 11:12] #2072 closed, assigned to nobody

[2017-09-26 11:12] DzikuVx commented on #2077
Since no new data appeared, closing this one. In case of new data please reopen

[2017-09-26 11:12] #2077 closed, assigned to nobody

[2017-09-26 11:15] DzikuVx commented on #2080
Since no new data appeared, closing this one. In case of new data please reopen

[2017-09-26 11:15] #2080 closed, assigned to nobody

[2017-09-26 11:32] jstremmler commented on #2117
Hi Michael,

pls note that with iNav version 1.7.3 it is actually not possible to use a LED_Strip on a hexacopter with an Omnibus F4 Pro FC, but with version 1.8.0 it will be possible. If you wanted to use a LED_Strip on a hexacopter with iNav version 1.7.3 you would have to use a different FC. I think, e.g., a SPRACINGF3 would work.....

[2017-09-26 11:36] fiam commented on #1878
Closing this as a duplicate of #2031, since that one has some conversation regarding how to implement the feature.

[2017-09-26 11:36] #1878 closed, assigned to fiam

[2017-09-26 12:15] Hoog2000 commented on #2210
thanks

[2017-09-26 12:40] a6j opened #2215 "Omnibus F4 V2 glitches OSD and gyro on firmware 1.7.2-1.7.3"
The board is bought on BG.
On this board, the OSD indicators are displayed with a delay and with a low response. Appear artifacts when moving text across the screen.
All indications are displayed with a delay.
![img_20170926_134623](https://user-images.githubusercontent.com/15672165/30860696-b3fe410a-a2d0-11e7-93f2-30c82f897ae3.jpg)
![img_20170926_134632](https://user-images.githubusercontent.com/

[2017-09-26 13:59] cristy6100 opened #2216 "Omnibus F4/F7 Servo Tilt/CamStab"
As there is no info on the Wiki regarding Servo Tilt and CamStab mode on newer board (F4-F7), I am asking here in hope of some light shedding on the issue:
I want to use a single servo to control camera tilt on my quad using the Omnibus F7, this would be possible if reassigning LED pin output as servo control for tilt then enable CamStab mode, is this possible yet?
For those of us who only need 1

[2017-09-26 14:20] fiam commented on #2215
@a6j All the OSD issues you mentioned have been fixed in the development branch, not sure about the gyro drift. Are you able to compile from git?

[2017-09-26 14:47] fiam commented on #2215
@a6j If you're flashing INAV on new board which previously had something else (either nothing or another firmware like ßF or CF) you should enable the "Full Chip Erase" checkbox.

When upgrading INAV versions, it depends on how much has changed between them. Sometimes you can upgrade without erasing. Sometimes you will need to dump your configuration, erase the whole chip and restore your configur

[2017-09-26 17:06] fiam commented on #2215
@a6j I'm glad to know the OSD is working properly on 1.7.4.

Regarding the "Full Chip Erase", you'll need to use the configurator from git or wait for the next release. It hangs because of a bug in the DFU driver, which was [recently updated](https://github.com/iNavFlight/inav-configurator/commit/df9abf057b4d562d740b55d90729238af26c1da5).

Please, let us know when you're able to test the gyro.

[2017-09-26 17:32] sniperxnl opened #2218 "Gps not detected"
This is what i am using
GPS:https://hobbyking.com/en_us/mini-ublox-neo-m8n-gps-for-apm-and-pixhawk.html
Omnibus f4:https://www.banggood.com/BF3_1_5-Omnibus-F4-V2-Flight-Controller-STM32-F405-MCU-Integrated-OSD-Built-in-5V-BEC-Current-Meter-p-1143258.html?rmmds=myorder

Connect TX /RX/5v/gnd to Uart1, activate GPS 115200 (tryed alle rates)
Activate Ublox, Autodected, also Europe
Gps stay red, and g

[2017-09-26 19:03] michaelvanderhoek commented on #2117
Will wait for 1.8 then! Looking forward to it!

[2017-09-27 01:16] jamming opened #2220 "fc/settings_generated.h and fc/settings_generated.c are not found"
When I write thr driver of ICM20689  and build the TARGET, these two files can't be found.

[2017-09-27 02:55] OpticalNZ opened #2221 "FSK modem in software"
For sending LTM telemetry down the FPV audio channel without special modem hardware. Potentially using either a PWM output (with two base frequencies) or DAC output?

Implemented by the Aeroquad project developed code to generate the FSK output in software. Code here: https://github.com/AeroQuad/AeroQuad/blob/master/Libraries/AQ_SoftModem/AQ_SoftModem.h

_"The STM32 CPU is good enough to emulate a

[2017-09-27 06:11] stronnag commented on #2220
Please see the release notes and prior issues on this topic.
Then install ruby.

[2017-09-27 06:11] #2220 closed, assigned to nobody

[2017-09-27 06:18] jaahaavi commented on #2184
I have now tried to re-flashing and erasing all settings, but I still I can't make any servo work on this FC.
I have tried servos on PWM 5-8 headers and even I can seen on configurator (motor tab) that servo bar is moving but servos aren't moving. It's like there's no PWM signal coming out from FC.
Is this a bug with inav firmware or is there something that I don't understand?

[2017-09-27 07:22] jaahaavi commented on #2184
Just checked the code in the inav/src/main/target/SPRACINGF4EVO/target.c
lines 42 & 43:
    { TIM3,  IO_TAG(PB1),  TIM_Channel_4, 1, IOCFG_AF_PP_PD, GPIO_AF_TIM3,  TIM_USE_MC_MOTOR | TIM_USE_FW_MOTOR },
    { TIM3,  IO_TAG(PB0),  TIM_Channel_3, 1, IOCFG_AF_PP_PD, GPIO_AF_TIM3,  TIM_USE_MC_MOTOR | TIM_USE_FW_MOTOR },

Those PWM 7 and PWM 8 doesn't have TIM_USE_MC_SERVO and TIM_USE_MC_CHNFW defined

[2017-09-27 07:30] digitalentity commented on #2215
@a6j boards from banggood are known for their issues with accelerometer. Most likely they use ultrasonic cleaning to wash off the residual flux from the board - ultrasonic process damages accelerometer internal mechanics. If accelerometer calibration drifts over time - this board is simply unsafe to use.

[2017-09-27 08:14] cristy6100 commented on #2216
It should also be possible to use a timer for the servo by using the UART 3/6 RX pin on the Omnibus F7 V1 and even UART 7 on the V2, how would one acomplish this? Or do we need to wait until Inav 1.8?

[2017-09-27 08:34] DzikuVx commented on #548
With f1 no longer supported, I think we can close it

[2017-09-27 08:34] #548 closed, assigned to nobody

[2017-09-27 08:39] DzikuVx commented on #2218
https://quadmeup.com/hardware-revisions-of-omnibus-f4-flight-controllers/

Also it is described here: https://github.com/iNavFlight/inav/blob/master/docs/Board%20-%20Omnibus%20F4.md

[2017-09-27 08:39] #2218 closed, assigned to nobody

[2017-09-27 15:18] twistedwings opened #2222 "support for FrSky XSRF3O"
I would like to see support for FrSky XSRF3O.

[2017-09-27 15:55] AntonVoltchok commented on #2216
This is my exact issue as well, I need to trigger a servo for a dropper mechanism, if I just plug the servo wire directly into my receiver, would that work? Are there any solutions to this? (I'm on v2 version)

[2017-09-27 16:02] cristy6100 commented on #2216
It depends on the receiver, some FlySky receivers can send IBUS/SBUS and PWM at the same time, the catch is that it sends them both for the same channels, so if you use IBUS you need to wire your servo on a PWM channel that is not used by IBUS on the flight controller or it will trigger them both at the same time, I tested this with a FlySky i10 Tx and IA6B Rx. Now I'm using a FrSky and an SBUS on

[2017-09-27 17:54] fiam commented on #1801
Added to both INAV and the configurator

[2017-09-27 17:54] #1801 closed, assigned to fiam

[2017-09-27 21:26] Atorhe commented on #1533
How do i check if i have valide compass readings in inav?
I tried to elevate the gps unit another 5cm to see if that made any difference, but it stays the same... now the compass is about 12 cm avay from any other electronics.

[2017-09-27 21:26] Atorhe commented on #1533
How do i check if i have valide compass readings in inav?
I tried to elevate the gps unit another 5cm to see if that made any difference, but it stays the same... now the compass is about 12 cm avay from any other electronics.

[2017-09-27 21:30] romanas opened #2223 "If GPS worked and stops working - show last assigned GPS coordinates"
Had a water dive in to river, and BEC was damaged, GPS was connected via external BEC with servos, camera after water splash disconnected (but VTX still was working and telemetry ok), so GPS just stop working (no more data) and OSD did not show any coordinates (doh).
Question: is there a way to make it remember last GPS coordinates (If they were assigned before)?

I know it's better to always use

[2017-09-28 05:59] sthrist commented on #2172
For some reason I still get Ruby Problem:

/cygdrive/d/github/inav
$ make TARGET=NAZE
settings.yaml -> settings_generated.h, settings_generated.c
C:/Ruby24-x64/lib/ruby/2.4.0/open3.rb:199:in `spawn': No such file or directory - C:\Program Files (x86)\GNU Tools ARM Embedded\4.8 2014q2\bin/arm-none-eabi-g++.exe -mthumb -mcpu=cortex-m3 -flto -fuse-linker-plugin -Os -I./src/main -I./src/main/target -I

[2017-09-28 06:19] stronnag commented on #1533
See the wiki. A blackbox log of flight in straight lines at reasonable speed so the mag and gps readings can be correlated.

[2017-09-28 11:58] martinbudden opened #2228 "Migrate to betaflight build system"
Migration to the betaflight build system offers (at least) the following advantages:

1) Faster travis build time
2) Having the same (or nearly the same) system as betaflight reduces maintenance
3) Makes it easier to pick up betaflight build optimisations (eg STM32 low-level libraries, F7 build options etc)

[2017-09-28 12:07] fiam commented on #2228
While the ßF system with multiple Makefiles is faster and cleaner in some aspects, I think it still has some problems.

For example, headers are pulled from `./lib/main/STM32Fx/Drivers/CMSIS/DSP_Lib` but the code in `.c` files is compiled from `lib/main/DSP_Lib/`. I guess I don't need to elaborate why this is such a bad idea.

There are also a lot of duplicated files to simplify the build rules a

[2017-09-28 12:10] fiam commented on #2221
@OpticalNZ I've been looking at exactly this feature recently. The problem is that the DAC pins are not arbitrary. You need to use either PA4 or PA5 (or both for stereo applications). In most boards those pins are either already used for something else or not broken out. This means few users would benefit from this feature.

Note that you can already connect a simple FSK modem to a serial port and

[2017-09-28 12:16] fiam commented on #2228
Regarding the toolchain integration with the build system I think it's nice that the build system automatically downloads the compiler for you, but I also think it should be easy to override.

I would go as far as introducing a tristate variable:

**a)** Use system compiler if found, fallback to bundled toolchain (the default)
**b)** Use the system compiler, fail it not found
**c)** Ignore compile

[2017-09-28 12:19] fiam commented on #2221
@OpticalNZ You can find how to build such a modem here https://www.rcgroups.com/forums/showthread.php?2963807-FSK-Modem-in-RC-Obsolete-or-a-hidden-gem

[2017-09-28 14:16] AntonVoltchok commented on #2216
Thanks cristi, that's good news since I'm using flysky at the moment for this, so say I have first 5 channels in use on quadcopter, in inav I just don't assign the 6th channel and that's what I plug the servo into right?

[2017-09-28 14:27] teckel12 commented on #2223
I know FrSky telemetry always shows last GPS coordinates.  OSD should also show last coordinates, maybe flashing or something to indicate that they're not current values but last known location?  Would also be useful if GPS lock is lost even while flying due to buildings/trees.

[2017-09-28 14:31] teckel12 commented on #1475
I can't imagine a battery voltage failsafe working as intended.  It would either trigger too early due to voltage sag or trigger too late where RTH takes far longer than battery will allow.  My opinion is that only mAh remaining would be an effective way of triggering a failsafe.  I do this via a LuaScript currently.

[2017-09-28 17:40] cristy6100 commented on #2216
Yes if I remember right that should work, but you need to test and see if it does on your configuration

[2017-09-28 19:46] sammichael25 opened #2229 "Matek F405 AIO inaccurate current sensor readings"
Suggested scale of 165 by manufacture gives extremely high current reading even when motors are disarmed.

[2017-09-28 19:51] stronnag commented on #2229
Dumping out the raw and processed values for the MSP_ANALOG intPowerMeterSum and amperage values (sitting unarmed on the bench). Current seems somewhat random.
[code]

[2017-09-28 22:30] ghost opened #2230 "Mag HMC5883 of REVO board not working with INAV 1.7.3"
After flashing 1.7.3 the HMC5883 mag. of the Revo Board isn't recognized anymore  ( painted red in the top ribon of the inav configurator)  witch makes  1.7.3 completely unusable.
Everything is back to normal flashing back INAV 1.7.2
Here is the diff all of the faulty setup

Entering CLI Mode, type 'exit' to return, or 'help'
diff all
version
INAV/REVO 1.7.3 Sep  9 2017 / 10:40:06 (974440df)
reset

[2017-09-28 23:34] fiam commented on #2189
@giacomo892 I've been thinking about this one and it seems the problem to me is that we're lacking an aircraft reference in the indicator, which makes it more difficult to visually see your angle to the ground. I've just made this quick and dirty hack which shows a schematic airplane rather than a crosshair in the middle of the OSD. What do you think about it?

<img width="492" alt="screen shot 20

[2017-09-28 23:43] digitalentity commented on #2230
Onboard compass is unsafe to use. Use external compass which works in 1.7.3 on REVO.

[2017-09-29 01:23] ghost commented on #2230
Here we go again mister   SHARLAIMOV

First--onboard compass for fixed wings are in no way unsafe (no magnetic surrounding nuisances) .

Beyond that the Revo (the minI  version) is used for a thermal glider AND there is  no place to mount an external mag.

Further more others have also complained about this bug  https://github.com/iNavFlight/inav-configurator/issues/245

Finally why maim  in    1.

[2017-09-29 01:49] digitalentity commented on #2230
Internal compass is unsafe - this fact has been proven multiple times on both planes and quads. Some people (a small fraction of users) are able to use built-in compass with success, the rest (vast majority) see the onboard compass as a potential cause of a fly-away and prefer to stay on the safe side.

Regarding lack of space to add external compass - I assume you are going to use the GPS in whic

[2017-09-29 04:47] locutus40 commented on #2180
ok finally got it to where it records.. dont know why it didnt.. but i reflashed everthing set up my quad.. dump is the same as last one... your gunna love this though..
set up my failsafe toggle and nave alt hold and altpos
tested the hold/position same thing rises 2 feet then slowly drifts left and dives down i cant control it or revocover no matter what i do...
then youll laugh at this... i hit

[2017-09-29 08:16] giacomo892 commented on #2189
@fiam Thanks for your precious work! It looks very neat, but do we really need the aircraft reference? Aren't the lateral arrows enough? I think this should provide enough reference for the purpose :) Like... "hey. i'm around 80 degrees now"

[2017-09-29 10:46] ValCx opened #2231 "Oplink Modem Revolution"
I would like to be able to use the oplink modem on the revolution board.
Anyone try to implement this module?

Thanks

Val

[2017-09-29 10:59] Schalonsus opened #2232 "MSP not working on Softserial if other Softserial Baudrate is different"
Have a HC-05 connected to Softserial 1 and MSP 9600 baud.
When i select Softserial 2 to be LTM and 9600 baud everything is fine.
But if i change LTM to 1200 baud, Softserial 1 MSP is not working anymore.

[2017-09-29 11:04] DzikuVx commented on #2232
I suppose this is one of SS limitations we are facing. This was never working very reliably when more than 1 SS was used

[2017-09-29 11:04] DzikuVx commented on #2231
I'm not aware of any attempts to port Oplink modem into CF or INAV

[2017-09-29 11:06] DzikuVx commented on #2232
And this is not only F1 issue, so I'm changing topic

[2017-09-29 11:07] DzikuVx commented on #2222
If FrSky would be willing to contribute by donating boards to dev team it might happen

[2017-09-29 11:13] fiam commented on #2231
I have one of those boards available, but I don't have much interest in adding support for it since I don't have anything to interact with it from the ground.

[2017-09-29 11:14] stronnag commented on #2232
Not sure how you expect it to work. You would also need to change the rate of every other device; BT, radios, ground station. Not an fc issue as LTM at 1200 works with correctly configured hardware.

[2017-09-29 11:16] stronnag commented on #2232
Ignore me, misread the question. OTOH, isn't it a SS limitation that the rates are the same for each ?

[2017-09-29 11:34] giacomo892 commented on #2232
That's stated also in the documentation. SS ports must all run at the same baud rate. Limiting but a reality.

[2017-09-29 11:36] DzikuVx commented on #2232
So, close? I suppose...

[2017-09-29 11:36] #2232 closed, assigned to nobody

[2017-09-29 11:51] giacomo892 commented on #2232
If someone wants to ammend this is very welcome. SS needs a total rework

[2017-09-29 11:52] cristy6100 commented on #2216
Oh well, it seems the developers of INAV don't care about answering its users questions, time to go to Betaflight at least its developers are more user friendy.

EDIT: It was a bad call, so my apologies for this, I will leave that here so others can take note and be patient

[2017-09-29 12:16] digitalentity commented on #2216
@cristy6100 do you expect to have the issue be resolved instantly? Unlikely to happen. this is not a paid support channel, developers have the lives to live and their number is smaller than in i.e. Betaflight.

Your suggestion about reusing LED as a servo output is a good idea and it will be considered (and will likely be implemented). Bear with us.

[2017-09-29 12:20] twistedwings commented on #2222
is it possible to steal the code from betaflight ?

[2017-09-29 12:24] cristy6100 commented on #2216
Of course not, and I fully understand that, I just asked the active developers for a confirmation that its not just me who can't get it to work. I expect nothing more than it is offered, and fully understand the Open-Source nature

[2017-09-29 12:26] digitalentity commented on #2216
@cristy6100 yes, this is current firmware limitation. Omnibus F7 is very limited at the moment, and for Omnibus F4 we only have M6 to work as a servo.

https://github.com/iNavFlight/inav/issues/2117 is also a relevant issue.

[2017-09-29 12:31] cristy6100 commented on #2216
I understand, yes indeed its limited, reading on the BF threads (I know they are not really related) one of the developers said the Omnibus F7 target does support LED pin and RX3/RX6 reassign as servo, maybe that could work on the F4 also, just an ideea, but its good to know sometime it will be possible, until then, time to program a separate mpu6050 with an arduino for the servo :))

[2017-09-29 12:34] digitalentity commented on #2216
@cristy6100 so you are particulary interested in Omnibus F7? Just recently I've received Omnibus F7 from Airbot, intend to spend some time improving support for this board in INAV next week.

[2017-09-29 12:37] cristy6100 commented on #2216
Yes, I almost finished my quad and ordered two pieces of the Omnibus f7, they will arrive sometime next month if any testing will be needed I will gladly assist then.
I was checking my firmware options in advanced and I would use INAV because it seems more refined, I dont need dshot and all the latest, mostly interested in the auto and gps assisted modes
Thats why I asked about the future plans re

[2017-09-29 12:38] digitalentity commented on #2216
Your help in testing and refining support for Omni F7 will be much appreciated.

[2017-09-29 12:41] cristy6100 commented on #2216
When they arrive I will post here and I can test builds if available to check for possible problems, thank you for your time and help :)

[2017-09-29 12:43] giacomo892 commented on #2222
@janbolt of course it is. but it is not stealing. Betaflight is opensource and you can port code to iNAV with "ease"

[2017-09-29 13:25] DzikuVx commented on #2222
Only you can not just "copy-paste" since it will not work. Additional work and testing is required

[2017-09-29 13:33] ghost commented on #2230
Replica in italics

Internal compass is unsafe - this fact has been proven multiple times on both planes and quads. Some people (a small fraction of users) are able to use built-in compass with success, the rest (vast majority) see the onboard compass as a potential cause of a fly-away and prefer to stay on the safe side.

These are at best only  postulates for justification and certainly with ver

[2017-09-29 13:48] digitalentity commented on #2230
@kahira REVO (both Revolution and Revo Mini) is less than 2% of used boards. Airplane & Custom airplane mixers are just ~11% of all setups. There are only a handful of users who use both REVO and airplane - much less on a motorless glider. If there are other users who are affected by disabling onboard compass on REVOs - they are welcome to chime in and have this issue reopened.

[2017-09-29 13:48] #2230 closed, assigned to nobody

[2017-09-29 17:41] stronnag commented on #2180
You might have a look at a video replay of the second log.

https://vimeo.com/236121048

Wild movement in the artificial horizon, this is not a well set up machine; the firmware is defenceless in the face of this.

For comparison, https://vimeo.com/236125800 Cecil the Deadcat having a (largely automated) cruise around the park. 260mm deadcat frame, Omnibus F3. White is WP (mission, FC is flying th

[2017-09-29 17:46] Schalonsus commented on #2232
ok thanks for the information, then i have to live with it

[2017-09-29 17:50] Schalonsus commented on #2209
Never mind, i think it has to do with new servo mixer output scaling.
Migrated from 1.7.1 to 1.7.3 and control was very slow and rubbish. Checked the servo travel at the flying field at this is way too little. But now i know where to tune.

[2017-09-29 17:50] #2209 closed, assigned to nobody

[2017-09-29 17:54] fiam commented on #2232
@DzikuVx , @digitalentity How feasible would be to allow different speeds on multiple SS?

[2017-09-29 18:22] locutus40 commented on #2180
yea im noticing that too.. i think its the gyro so a main board replacement..
when i fly i have to hold right stick input and down its erratic because it wants to drift far to the left  and down so i have to input throttle up and down..... these  boards are clones from banggood... so im going to get a new one on repair status... i sent them that video to show them...

anyway how can i set it up ba

[2017-09-29 18:38] stronnag commented on #2180
Well, it's quite obvious from the replay what when hovering (or attempting PH in the prior log), then the flying idea of level is not your bench idea of level. My Omnibus is an early Banggood offering and very stable; I think they went downhill on quality recently.

Software is mwp from mwptools https://github.com/stronnag/mwptools, https://www.rcgroups.com/forums/showthread.php?2633708-mwp, and a

[2017-09-29 18:44] locutus40 commented on #2180
i remember those cc3d flight controllers or the other ones being copied.. these are no diffrent clones upon clones etc.. i just sent them that video as proof... that its faulty hopefully they honor sending another one..

yea my idea of level flight is far from what its doing.. even taking off from a leveled surface it wants to fall left and down.. i have to fight the controls.. no matter how many

[2017-09-29 18:53] locutus40 commented on #2180
im looking for a exe file to run that little program cant find it in the github you sent me.. i know i know im such a noob this stuff is all new to me never heard of it seen it... i used to fly old school none of this fancy gps stuff and controllers etc.. so forgive me.. but how the heck do i take my log  and make it run like you did.. i downloaded the link... looked though all the files no exe to

[2017-09-29 19:00] stronnag commented on #2180
* It it linux / freebsd only
* You need to compile it yourself
(we are seriously off topic)

[2017-09-29 19:03] locutus40 commented on #2180
i guess i have to research how to do that.. your speaking chinese to me lol

[2017-09-29 19:10] stronnag commented on #2180
And without being (deliberately) rude or condescending, this is a technical software issue  channel; we have RC Groups and slack for banner. This issue should really be closed; it is not a firmware problem. Signing out.

[2017-09-29 19:12] locutus40 commented on #2180
stronnag and timhickle i think his name is have been nothing but rude and condecending to me.. what kinda commuinty is this anyway.. i came here for help.... it still might be software related.. geez i saw something cool aka software someone was using how else am i gunna sk where it came from.. on here of course...  you know ive been on forums before never before have i been treated liek this....

[2017-09-29 19:12] #2180 closed, assigned to nobody

[2017-09-29 22:48] digitalentity commented on #2209
@Schalonsus thanks for letting us know. Indeed, mixer weights for flying wing changed in 1.7.3

[2017-09-30 12:35] stefan73 opened #2236 "Failsafe RTH does not work on 1.7.3 - shuts down motors"
INAV 1.7.3 on SP Racing F3 in a FPV Racer quadcopter; PWM RX; UBlox GPS
RTH works fine when activated over remote.
Failsave set to RTH.

--> Switch off remote. Motors immerdiately off and copter drops.

[2017-09-30 13:14] DzikuVx commented on #2209
And just to mention: right now it is a proper mixer for flying wing. Previous one was wrong

[2017-09-30 13:17] lavaed opened #2237 "OSD elements are not erased at their old position after moving them"
![default](https://user-images.githubusercontent.com/12794053/31046062-c053f2d8-a5fa-11e7-9b42-ad48ed464433.png)

When configuring icons in the configurator on the osd screen, the icons in the fpv image are cloned. The dragged icon remains in the old place and on the new one.

[2017-09-30 13:27] fiam commented on #2236
@stefan73 It might be a configuration error. Please, post your config dump from the CLI so we can make sure everything is configured correctly.

[2017-09-30 13:29] fiam commented on #2237
@lavaed This has been already fixed and will be part of 1.8

[2017-09-30 13:29] #2237 closed, assigned to nobody

[2017-09-30 13:31] fiam commented on #2237
Just added the 1.8 milestone because I I discovered this one myself and I think I  fixed it without opening an issue. This way we won’t forget to mention it in the release notes.

[2017-09-30 13:43] stefan73 commented on #2236
@Here is the config. Looks fine at least in the configurator. As said before: Flies perfectly. RTH & Postion Hold ok. Remote off --> Drop instead of RTH.

[code]

[2017-09-30 15:56] stronnag commented on #2236
If you get rid of the (insane) MOTOR_STOP feature does it work?

Certainly works for me (cyan in manual, yellow is RTH, big red text show why it's in RTH).
![image](https://user-images.githubusercontent.com/158229/31047310-1967ada6-a600-11e7-829f-a2d48f1d0570.png)

[2017-09-30 17:42] skaman82 commented on #2237
@fiam does your fix also includes the stats screen still being there (partly) after the throttle stick is moved up to hide the stats? The screen is only being fully refreshed after rearm.
![img_20170930_194814](https://user-images.githubusercontent.com/11768024/31048181-6eb47e8e-a618-11e7-88ea-da9573e9f623.jpg)

[2017-09-30 19:23] fiam commented on #2237
@skaman82 AFAIK I fixed that one too, but on a different commit.

[2017-09-30 21:04] AgentOra opened #2238 "Using GPS Altitude"
Hello,

i´ve got a Quadcopter with a DYS F4 Pro FC without Barometer. It is possible to use only the GPS
Altitude for the RTH Altitude Modes?
Thanks all

[2017-09-30 21:44] fiam commented on #2237
@skaman82 Fixed in https://github.com/iNavFlight/inav/commit/c5cfe4ac845351016d6fd233b48403bdc2c1b4a0 and then reworked in a better way in https://github.com/iNavFlight/inav/pull/2163

[2017-10-01 01:25] teckel12 commented on #1990
@digitalentity This issue can be closed as a result of 1.7.3

[2017-10-01 05:37] #1990 closed, assigned to nobody

[2017-10-01 11:35] stefan73 commented on #2236
Thanks a lot. Confirmed. Failsafe RTH works ONLY if MOTOR_STOP is disabled. i.e. Motors must spin when armed and throttle min. Otherwise copter just drops.
I consider this as a major BUG. It is shocking to see that this bug seems to be around for more than a year now. I somewhen enabled MOTOR_STOP because I use an older RC without arm-switch on that model. It nearly costed me the copter that fails

[2017-10-01 11:41] robschii opened #2240 "omnibusf4 pro v3 voltage reading fault 1.7.3"
hello

a full battery is showing only 0,9V in gui and osd

in betaflight it is 16,5V   and it is okay

is it the wrong target i flash?      omnibusf4 pro   oder omnibusf4v3???

vbat_max_cell_voltage = 43
Allowed range: 10 - 50

vbat_min_cell_voltage = 33
Allowed range: 10 - 50

vbat_warning_cell_voltage = 35
Allowed range: 10 - 50

[2017-10-01 12:28] digitalentity commented on #2236
@stefan73 interesting. We have code to disable motor stop automatically when failsafe activates.
Can you show us screenshots of **Receiver** tab in Configurator when your TX is ON and when your remote TX is OFF?

[2017-10-01 12:31] digitalentity commented on #2240
Try doing a configuration reset to make sure settings are consistent. If issue persists - please upload a configuration dump

[2017-10-01 12:36] robschii commented on #2240
nothing help  here is the dump

# version
# INAV/OMNIBUSF4PRO 1.7.3 Sep  9 2017 / 10:35:55 (974440df)

# resources

# mixer
mixer FLYING_WING

mmix reset

# servo
servo 0 1000 2000 1500 100 -1
servo 1 1000 2000 1500 100 -1
servo 2 1000 2000 1500 100 -1
servo 3 960 2160 1604 -100 -1
servo 4 830 1920 1273 100 -1
servo 5 1000 2000 1500 100 -1
servo 6 1000 2000 1500 100 -1
servo 7 1000 2000 1500 100 -

[2017-10-01 12:41] stefan73 commented on #2236
Sure. I can also describe this. Failsafe on the "cheap" RC that I used for the tests puts everything on center and throttle to low, when you switch off. Bad thing is that this is unchangable on a lot of cheaper RCs.
Let me know if you still need the screenshot.

[2017-10-01 12:43] digitalentity commented on #2180
@locutus40 I concur with @stronnag - this is clearly not a software problem, but a hardware issue. Well known and (in)famous accelerometer resonance problem. Please soft-mount your FC.

[2017-10-01 12:44] giacomo892 opened #2241 "Allow Fixed Wing RTL to gain altitude by circling instead of maintaining current heading"
Gaining altitude before RTL is always a good thing and it is enabled by default in iNAV. That's great.

It is also nice that altitude is gained on the current heading since it is supposed that the pilot was flying toward a safe spot.

This could not be case if you fly in moutains where you can easily go below the launch altitude so then the plane could impact ground when climbing if you loose sign

[2017-10-01 12:47] giacomo892 opened #2242 "Display alarm on the OSD if altitude is below a threshold (negative one is the most useful case)"
It would be very helpful to display an alarm if the altitude drops under a certain threshold.

[2017-10-01 12:49] digitalentity commented on #2236
@stefan73 yes, I still need the screenshots. I think I know where the bug lurks, but I'm not sure if it's fixable at all. Screenshots will confirm.

[2017-10-01 12:51] digitalentity commented on #2240
This is clearly not firmware defaults. In your dump channels for VBAT and current sensor are mixed up:
[code]

Try setting this:
[code]

[2017-10-01 13:15] stefan73 commented on #2236
Made two screenshots:
RC-on - copter on, RC on & connected
RC-off - after switching RC off
![rc-off-2017-10-01 15_11_20-inav - configurator](https://user-images.githubusercontent.com/11725734/31054825-36c5c796-a6bb-11e7-992e-93c8b973e424.png)
![rc-on-2017-10-01 15_10_42-inav - configurator](https://user-images.githubusercontent.com/11725734/31054828-3ee544a6-a6bb-11e7-8b9a-121d728a7b73.png)

[2017-10-01 13:19] digitalentity commented on #2236
Does your copter correctly recognize that RC is off?

![image](https://user-images.githubusercontent.com/11059099/31054858-d5b9555a-a6fe-11e7-907a-4ffdc2a9d363.png)

Also, I see that when your RC is turned off AUX2 goes to 2000. Is this how failsafe is configured on the receiver?

[2017-10-01 13:21] robschii commented on #2240
okay thanks it works now
tank you so much

[2017-10-01 13:22] digitalentity commented on #2240
Great. Closing.

[2017-10-01 13:22] #2240 closed, assigned to nobody

[2017-10-01 13:51] stefan73 commented on #2236
The upper images are mixed up. Aux1 is at 1100 when RC is off. As said not configurable on this RC.
When I hook the copter up to the laptop, attach battery, bind RC and disarm, the props spin now. When I turn the RC off, the red parachute does not come. Maybe I do something wrong here.
When I fly with MOTOR_STOP off and turn off the RC, it comes back home. So I guess it recognizes the the RC is of

[2017-10-01 13:59] digitalentity commented on #2236
Ok, so when your RC is off, throttle channel goes down to approx. 889.
This is on the edge of detecting invalid signal (which may explain why sometimes it works).

Try setting `set rx_min_usec = 900` in CLI and don't forget to do `save`. This will ensire that when your RC is off, throttle channel goes to a invalid value that will trigger failsafe.

In general - you need to make sure that red parac

[2017-10-01 14:42] stefan73 commented on #2236
I see the point. Thanks. I do agree that the cheap remote might be too cheap because you cannot set failsafe.
Still I am wondering, why it reproducibly flies homes with MOTOR_STOP disabled and falls from the sky with MOTOR_STOP enabled.

[2017-10-01 16:56] locutus40 commented on #2180
ive closed this case..because 2 people were rude to me... to come to the conclusion it wasnt a software issue how would i know that unless i ask you people questions and see if anyone else has any idea... you all seem to think how dare i open a ticket because its a hardware issue but to get to know what it was i had to go this route.. infamouse? the only people that knew that is you people....  an

[2017-10-01 19:04] sammichael25 commented on #2229
@digitalentity  Any chance you can help me plzz  :)

[2017-10-01 20:25] JDU1 opened #2243 "Board orentation didnt work in any stabilized"
hi,

INAV 1.7.3 on Omnibus F3 V2 board, fixed wing.
board is build in 90° CW turned. board alignment is 90° in configurator.
Set everything that the "brick" in configurator moves in the right way.

If I turn any stabilized mode on, the FC thinks it dosn´t build in 90° CW and act like that.

Now  I went back to INAV 1.6.1 there is everythinh fine.

[2017-10-01 23:38] digitalentity commented on #2180
No one here ment to be rude to you. If it looked like that to you, please don't take it too close. GitHub is mainly the place of more technical discussion - first line of community support usually happens in Slack channel or RCG thread. User community usually is able to figure out most of setup issues.

Regarding the issue - vibration issue is well known to the user community on RCG, someone would

[2017-10-01 23:50] locutus40 commented on #2180
these 2 were condescending to me.. stronnag wait just the one guy i re read all the posts.. just that dude.....

more techinical discussion lol the tag says issues... click on it open a new issue this is a issue..... so this is where i posted to find people to help.. since people on youtube dont help and theres no 800 number with a tech behind it to talk too... lol  vibrations arent my issue.. the

[2017-10-01 23:56] digitalentity commented on #2180
Good luck to you putting APM or PixHawk on a 250 sized or smaller quad. All boards out there use same gyros and accelerometers, all boards are affected by vibration. Unless you solve your vibration issue I'm sure you'll end up in APM's issue tracker complaining about a fly away or inconsistent behavior.

[2017-10-02 03:27] Tdogb commented on #1627
This should really considered. If the airplane is traveling at cruising throttle while traveling with the wind, the airspeed could be very low, and easily allow for a stall. Especially in super windy areas. The groundspeed would be high in this situation but the actual air going over the wings would be low and therefore not generate much lift.

[2017-10-02 03:29] digitalentity commented on #2229
Unfortunately I don't have an AIO board, but I'll check on Matek F405 OSD board I have.

[2017-10-02 03:33] digitalentity commented on #1627
Stall prevention is not possible without an airspeed sensor. Regarding cruise throttle - in a stable flight at cruise throttle it doesn't matter if airplane is traveling into the wind or with the wind - airspeed would be the same in both cases (groundspeed will be very different though). A gust of wind in the tail may cause a stall, but even with an airpseed sensor we won't be able to compensate f

[2017-10-02 03:36] digitalentity commented on #2243
If you have set alignment correctly different servo behavior in passthrough mode vs stabilized modes is caused by a combination of incorrect servo reversals or connections. You need to make sure your sticks are not reversed and then connect and configure servo reversals in such way that ailerons/elevator respond correctly to stick motion in all modes and airplane motion in stabilized modes.

[2017-10-02 03:39] digitalentity commented on #2215
@a6j check if accelerometer in sensor tab shows (0;0;1g) when the board is flat. Issues with OSD are already fixed in development code - will be part of next release.

---
Акселерометр должен показывать X=0, Y=0, Z=1g на вкладке Sensors, если плата лежит ровно. Если это не так и значения меняются с течением времени - акселерометр поврежден. Проблемы с OSD уже починили - войдут в следующий релиз.

[2017-10-02 07:28] krzysztofmatula opened #2246 "The "small_angle" setting is not clear."
The doc says:
`small_angle` `If the aircraft tilt angle exceed this value the copter will refuse to arm`

I don't find this limitation very useful, so I'd rather disable it by setting "small_angle=180" (e.g. to be able to arm in extreme cases like hanging on a tree).

But... this flag is also used in a logic controlling HEADING_HOLD in `pid.c`

If HEADING_HOLD computation is impossible/dangerous a

[2017-10-02 08:20] giacomo892 commented on #2238
No. It will not work on multicopters. Only airplanes.

[2017-10-02 12:05] digitalentity commented on #2184
Fixed

[2017-10-02 12:05] #2184 closed, assigned to nobody

[2017-10-02 15:41] sammichael25 commented on #2229
Much appreciated....its hard to predict flight time with only voltage

[2017-10-02 15:44] Tdogb commented on #1627
Yea, I didn't make that clear, I was thinking of using the airspeed sensor. Also, it does matter if there is a lot of wind traveling in the same direction as the airplane, because when the wind is traveling with an airfoil the speed of the plane and the speed of the wind can cancel each other out, causing there to be extremely slow air moving over and under the airfoil, which will cause the lift o

[2017-10-02 15:55] teckel12 commented on #1263
Actually, as part of my SmartPort (S.Port) telemetry refactor/enhancements #2050 iNav 1.7.3 already supports MSP.  Matter of fact, the default BetaFlight PID Lua script is totally functional with iNav 1.7.3.  There's some tweaks to be made with the Lua script for iNav, but it's totally functional (tried it yesterday with a Omnibus F4 Pro with telemetry over soft serial).

I'm working on a iNav for

[2017-10-02 15:56] teckel12 commented on #1263
@digitalentity @oleost see my comment above.

[2017-10-02 17:15] oleost commented on #1263
Great, will test as soon as I get time.

I’m closing this issue, if it doesn’t work I will reopen.

[2017-10-02 17:15] #1263 closed, assigned to nobody

[2017-10-02 20:14] fiam commented on #2236
I think we should investigate this one further. It doesn't make sense that RTH via FS worked without MOTOR_STOP and dropped with MOTOR_STOP.

Also, if the problem was that THR = 889us wasn't triggering FS, the copter should have gone to the ground rather than RTH when MOTOR_STOP was disabled.

[2017-10-02 20:38] JDU1 commented on #2243
sticks aren`t reversed and on inav 1.6.1 it worked fine with the exact same settings e.g. mixer. are there any differences?

[2017-10-03 04:08] randyoo commented on #431
I know this bug is marked closed, but I'm pretty sure I'm experiencing it (or something closely related), because engaging PH seems to always result in the aircraft flying away, but after a soft reboot is performed, PH works fine. (still gathering data, but haven't observed any occasions where PH works on hard reset, or doesn't work on soft reboot)

This is on an Omnibus clone (f4 v5pro) on 1.7.2

[2017-10-03 05:30] locutus40 commented on #2180
lol who said it was a apm or pixhawk.. its a pixfalcon its 20mm x 20mm its as small as the setup with gps i have now...theres no vibration issue why do you keep saying that.. look at the gimble its going left and left and up and down aka crazy its a acceleromiter... you can hard mount any flight controller as long as your props are ballanced your frame is ridgid and motors ballanced... which mine

[2017-10-03 15:36] fiam commented on #1767
HDOP now uses one decimal, so this is now fixed.

[2017-10-03 15:37] fiam commented on #2189
Fixed in #2234

[2017-10-03 15:37] #2189 closed, assigned to fiam

[2017-10-03 15:37] #1767 closed, assigned to fiam

[2017-10-03 15:37] fiam commented on #2186
Fixed in #2200

[2017-10-03 15:37] #2186 closed, assigned to fiam

[2017-10-03 15:56] twistedwings commented on #2222
what about cleanflight ? Can the code be "copied & pasted" from there ?

[2017-10-03 21:19] brat002 opened #2251 "Simplify launch mode"
Some time ago I've asked about an implementation of "simple launch assistant". After hard troubles with my planes and my friend's planes I am asking to do that again.

How this should work:
1. Enable launch mode
2. Arm the plane
3. Motor starts to rotate with desired thrust. Elevons is up to maintain predefined angle 5-30.
4. Throw the plane.
5. After reach predefined altitude plane should switch

[2017-10-04 08:01] digitalentity commented on #2222
Cleanflight = Betaflight in many aspects, including code portability. No, code can't be directly copy-pasted from there. Required changes are usually minor, but require some understanding of STM32 hardware.

[2017-10-04 08:01] SPlissken opened #2252 "Beeper not sounding on NAZE 1.7.3"
The Beeper is not sounding on a NAZE Full Rev.5 with 1.7.3.
After a test flight with 1.7.3 I noticed that the beeper was no longer beeping at all.
To test:
1. Flash and erase NAZE 1.7.2 -> beeps after flashing
2. Flash and erase NAZE 1.7.3 -> does not beep after flashing
I've had a poke around in the code and previous issues but I can't see anything related.

Details below are defaults after flash

[2017-10-04 08:13] Mmarsian opened #2253 "Request for new Hardware Support SP Racing F3 OSD/PDB"
Sorry if I'm requesting at the wrong place. Since the SP Racing F4-EVO is now supported, I'm requesting to port the code of the SP Racing F3 OSD/PDB from Cleanflight into INav, so that the OSD provided by this board is usable in iNav. The OSD PDB has a separate version of Cleanflight 2.1.0 and is currently not recognized by the OSD in iNav.
SP Racing F3, F3-EVO and F4-EVO are designed to be stacke

[2017-10-04 08:46] digitalentity commented on #2236
I agree, this needs to be investigated. Changing the lablel to "Bug"

[2017-10-04 08:47] digitalentity commented on #2243
@JDU1 please try doing a configuration erase and re-configure from the start. There were some changes to servo mixer, old settings might be incompatible.

[2017-10-04 09:39] michaelvanderhoek commented on #2251
i'm in for for this. I quit using launchmode because my wing hits the dirt more then it flies.
No i just use a mixer on my transmitter so it gives a bit of up elevator and i throw the wing on full throttle.

[2017-10-04 09:48] fiam commented on #2251
What we need is better documentation. Current launch mode can be configured to act like you describe minus the target altitude (which I’d find dangerous). Also, the default values for the auto launch setting need to be safe for all types of planes, which makes them not optimal for flying wings thrown by the side. What I do in my wings is set the idle THR while launch mode is enabled to 1200-1300,

[2017-10-04 10:00] brat002 commented on #2251
Not default certain, but as option - for flying wings this will be much more convenient than current implementation.