[2017-10-04 10:07] fiam commented on #2251
This the configuration I have in my S800 with some comments (default settings omitted). Give it a try and let us know.

[code]

[2017-10-04 10:26] brat002 commented on #2251
set nav_fw_launch_timeout = 10000 <- most of my concern is about that option. You don't know if iNav still handles the plane in launch mode or not. If you throw the plane on 11th second - it will fly to the ground. With default 5s timeout - plane will throw in the ground almost every time.

Please return us normal way to launch plane without all of this excess magic. Current implementation is for

[2017-10-04 10:39] giacomo892 commented on #2251
nav_fw_launch_timeout is for telling iNAV after how much time stopping climbing. Not how much after the launch option is disabled on the ground.

[2017-10-04 10:40] digitalentity commented on #2229
Can't reproduce on MATEKF405 OSD. Current readings are correst. @stronnag @sammichael25 can you verify that ADC channel mapping is correct? It should be:
[code]

[2017-10-04 10:48] brat002 commented on #2251
I don't know why, but after short climb the plane strongly dives to the earth.

[2017-10-04 10:48] digitalentity commented on #2251
The sole purpose of launch mode is to prevent PID controller from winding up when plane is not flying.

When you pull the pitch stick on the ground with motor running PID controller won't be able to satisfy climb angle bevause FC has no control. However, since FC is unaware that the plane is not flying it will try as hard as possible by saturating the servos. Then, when you finally throw the plane

[2017-10-04 10:49] digitalentity commented on #2251
@brat002 do you have strong dive down when using launch mode or when using manual launch?

[2017-10-04 10:51] digitalentity commented on #2251
In addition to my comment above:

I do, however, think that we should make launch detection user-selectable option to allow user chose from `THROW`, `SWING` or `GPS` speed.

[2017-10-04 11:55] Pairan commented on #2251
@digitalentity ... that would help a lot while thinking of greater planes! I can't swing a full loaded heavy Skywalker X6 :) ... thats more a THROWing there and hope the prop wont shredd the hand !

[2017-10-04 12:00] brat002 commented on #2251
Both. My previous plane was completely destroyed due that, but my friend's plane almost does same every launch. Just luck to restore control above half meter above earth.

Or NONE. In this case plane should be ready to stabilise and climb just after enabling launch mode. Value of throttle should be an user select for each launch.

I will cry of happiness if this would appear.

[2017-10-04 12:02] digitalentity commented on #2251
Ok, let's make it happen in 1.8 then :smile:
I would appreciate if you guys would help testing this

[2017-10-04 12:04] brat002 commented on #2251
Sure!

[2017-10-04 12:08] Pairan commented on #2251
The S800 Sky Shadow will surely try all methods ;)

[2017-10-04 13:11] oleost commented on #2251
Why would you want to choose between different launch detections?
What if you want to to trigger on which ever scenario is met first?

Maybe a simpler GUI for selecting the different parameters with explanations is all we need?

Current implementation is very powerful and allows the user to set it up exactly as he wants.

[2017-10-04 15:59] Xe54 commented on #1940
I can not agree with you @oleost . It is a very impressive maneuver to stop the motors during the flight and let the multicopter fall for few seconds. But it have to work reliable.

[2017-10-04 16:07] stronnag commented on #2229
As here:
[code]
βF does the same, bizarre amps reading.

[2017-10-04 16:13] digitalentity commented on #2229
Ok, thanks. There must be some difference between AIO and OSD boards. Time
to get Matek involved.

On Oct 5, 2017 02:07, "stronnag" <notifications@github.com> wrote:

[2017-10-04 17:42] SPlissken opened #2255 "1.7.3 osd.c compile failure for OMNIBUSF4PRO"
Compiling is failing on osd.c, please see the error below.
Two other non-OSD targets (NAZE and SPRACINGF3) have compiled with no errors.
No changes were made to osd.c only frsky.c which compiles fine.
Thanks.

make TARGET=OMNIBUSF4PRO
%% osd.c
./src/main/io/osd.c: In function 'osdConvertDistanceToUnit':
./src/main/io/osd.c:128:37: error: expected ')' before ';' token
         FALLTHROUGH;

[2017-10-04 17:48] stronnag commented on #2255
Known bug, fixed in the development branch.
Other options:
* Downgrade the compiler to 6.3*
* Add the missing bracket ./src/main/common/utils.h
[code]

[2017-10-04 17:56] SPlissken opened #2256 "FrSky telemetry sending number of sats in Celsius"
In function sendSatalliteSignalQualityAsTemperature2() in frsky.c, line 218, the data is sent back as if it were Fahrenheit converted to Celsius. This happens if 'frsky_unit = IMPERIAL'.

As the data is either signal quality or the number of satellites and never temperature then converting it makes no sense, in fact if 'frsky_unit = METRIC' then it is left untouched and correct.

Would it be possi

[2017-10-04 18:01] sammichael25 commented on #2229
My ADC channel mapping is correct
 `set vbat_adc_channel = 1

set rssi_adc_channel = 3

set current_adc_channel = 2

set airspeed_adc_channel = 0`

[2017-10-04 18:13] sammichael25 commented on #2202
You should also note that your aircraft should be powered **before** you plug in your usb, else the baro wont be powered.

[2017-10-04 18:23] SPlissken commented on #2255
Thanks a lot stronnag!

[2017-10-04 18:23] #2255 closed, assigned to nobody

[2017-10-05 07:22] robschii opened #2257 "1.7.3 crsf LQ/Rssi dropped"
https://github.com/betaflight/betaflight/issues/4272

I have the same problem with inav.

[2017-10-05 08:13] Dronek commented on #1776
I can confirm this drift on my wing as well. It's enough to do a constant roll turn for a few seconds to get a slanted AHI in the OSD in leveled flight. Turning the other direction for a few seconds gets AHI back to level. Meanwhile I calibrated the ACC several times with quite similar results in terms of values.

Also, I don't remember having this issue with 1.6.x versions on identical hardware.

[2017-10-05 08:25] Pairan commented on #2251
That might be true, but people need to get "educated/guided" here, as many seem to toss their craft and hope for the best! ( _"iNav will do this for me" ... NOT! :D_ ...)

I got it working on mine but of course ended up in fails sometimes ...

Perhaps something like presets for the parameters (like in the type of craft presets) could help here and leave it open to the users while still being able

[2017-10-05 09:01] Schalonsus commented on #2251
IMHO the people should just read the documentation before using iNav, but that seems to be the hardest part for most of them. If we make more options to choose, most people will be more confused than now.
How could Launch Mode be more simple than now?

[2017-10-05 09:12] brat002 commented on #2251
Just try to keep this mode as simple as possible. Current implementation is
really not simple to use.
Many options - many mistakes, hard to test and use it.

2017-10-05 12:01 GMT+03:00 Schalonsus <notifications@github.com>:

[2017-10-05 09:21] digitalentity commented on #2251
Current implementation launch mode is as simple as it could possibly be. Defaults are safe and reliable for small planes (up to 80-100cm wingspan). Generally you need to set up only a few parameters:

1. Launch throttle value that is used to climb (`nav_fw_launch_thr`)
1. For bigger planes you might want to lower the acceleration threshold (`nav_fw_launch_accel`).
1. For classic planes you may wan

[2017-10-05 09:33] brat002 commented on #2251
Mix won't disable I term of PID.

[2017-10-05 09:33] Pairan commented on #2251
Looks like, we'll need more education on HOW IT'S DONE. Okay ... maybe I could put some video up on that by time if we get a weather slot.

[2017-10-05 09:37] digitalentity commented on #2251
Nothing will allow us to zero I-term on the ground except proper throw detection - which requires some configuration and also some understanding how it's done. We definitely need some tutorials about how to configure launch mode :smile:

[2017-10-05 09:37] oleost commented on #2251
Mhm, only thing is that CLI is not user friendly for the average user.

If we get the values shown in GUI in the configurator with tooltip explanation it would probably be better.

nav_fw_launch_velocity - Used to detect launch in when you `SWING` launch your Fixed-wing. Lower this value if you intend to use Swing launch. Example 200

nav_fw_launch_accel - Used to detect launch when you throw your

[2017-10-05 09:40] digitalentity commented on #2251
GUI page for airplane-related configs?

[2017-10-05 09:40] brat002 commented on #2251
How to trust all of this magic? I haven't ten of spare planes to test which
values are better.

2017-10-05 12:37 GMT+03:00 Ole-Petter <notifications@github.com>:

[2017-10-05 09:44] digitalentity commented on #2251
It's simple - if you don't trust launch mode - don't use it. People are flying perfectly fine without it.

There is a very simple way to test that launch detection works. Remove the prop. Give your plane a jerk as you would do when launching it but don't let it go. Motor should start. If it doesn't - you are either doing something wrong (forgot to raise throttle stick etc) or have too strict thres

[2017-10-05 09:46] digitalentity commented on #2251
GUI page for setting up launch mode would be good. Maybe with some nice pictures illustrating parameters relevant to different ways of throwing the plane.

[2017-10-05 10:38] digitalentity commented on #2117
@jstremmler can you test #2233 on your board? Please note that on cloned boards from banggood ledstrip connector is not usable)

[2017-10-05 11:05] fiam commented on #2031
Fixed by #2217

[2017-10-05 11:05] #2031 closed, assigned to fiam

[2017-10-05 11:08] fiam commented on #2027
Marking failsafe phases as documented, since we now show a self explanatory message rather than a short string for each phase.

[2017-10-05 11:09] fiam commented on #2032
This is now fixed by #2201

[2017-10-05 11:09] #2032 closed, assigned to fiam

[2017-10-05 11:32] DAquad commented on #1583
I had the same problem with my mag. Added 1k pull-ups and seems that I now error free. Thank you @skyrim101

[2017-10-05 11:53] DzikuVx commented on #2238
And even so it is not encouraged to use only GPS Altitude. It is not reliable enough

[2017-10-05 11:53] #2238 closed, assigned to nobody

[2017-10-05 12:02] brat002 commented on #2251
Somebody - maybe. If PIds are tuned with autotune - you should have a lot of luck to throw your plane as usually. It always flies into the ground almost without reaction to pitch.

Here is my friend's config of launch parameters:
[code]
Why does the plane make strongly dive into the ground exactly after short climb in launch mode?

[2017-10-05 12:20] digitalentity commented on #2251
For troubleshooting issues you need to provide dump, logs & detailed description of the setup. Might be setup, might be tuning, might be a bug, no way to tell

[2017-10-05 15:30] DzikuVx commented on #1940
I have a crazy idea: let's get rid of MOTOR_STOP feature and assume it is always disable for MR and enabled for FW? Less is better and will solve a problem of users enabling it when they should not. Not only in NAV modes, but as a general rule

[2017-10-05 15:41] fiam commented on #1940
@DzikuVx I'd totally support the idea of getting rid of the setting on FW and assuming it's always on.

However, there are use cases for enabling MOTOR_STOP on MC. For example, in small models for indoor use. Not that I think we shouldn't remove it on MC (you're probably better off with ßF than INAV on an small indoor model), it's just that I'm not as sure as in the FW case.

[2017-10-05 15:45] fiam commented on #1940
I also wrote this in the PR, but it seems the bulk of the discussion is going on on this issue, so I'll replicate it here.

Mostly agree with ignoring MOTOR_STOP in RTH and WP modes. I know that it complicates the documentation a bit more, but I think we should always respect MOTOR_STOP when using stick arming or auto arming. Otherwise there's no fast way to turn off the motor[s] when shit hits th

[2017-10-05 15:47] fiam commented on #2075
@oleost Did you manage to run the tests again at a bigger distance?

[2017-10-05 16:09] oleost commented on #2075
@fiam No I believe I haven't gotten the chance to test yet.

[2017-10-05 19:02] stronnag opened #2260 "armedFlags is uint32_t in FC, but sends uint16_t in MSP_STATUS_EX"
It looks like armedFlags has experienced some mission creep since MSP_STATUS_EX was introduced:
[code]
and `src/main/fc/runtime_config.h`
[code]
If the outside world only needs 16bits, all fine and dandy (a comment to that might help, or explicit cast). Otherwise perhaps a new MSPV2 STATUS_EX_EX message?

[2017-10-05 19:56] JDU1 commented on #2243
I will give it a try.

[2017-10-05 20:04] 0higgins0 opened #2261 "RTFQ Omnibus F4 V3 Mag"
Can't get the magnetometer to be recognized on omnibus f4 v3.  Frsky sbus on uart 6 (sbus, 5v,gnd) and gps on uart 1 are working. Mag to scl and sda will not for me.  Any ideas

[2017-10-05 20:07] DzikuVx commented on #2261
try lower `i2c_speed` and recheck if UART3 is not configured. Also you might trying adding 4.7kOhm pullup resistors for SCL and SDA to 3.3V line.
And confirm that hardware is functioning with different FC or Arduino for example

[2017-10-05 20:08] DzikuVx commented on #2251
I'm also against changing Launch. It works just fine and is well documented. I'm not using it ATM, but works just fine

[2017-10-05 20:26] Dronek commented on #2251
I have been launching my aircraft almost exclusively in launch mode since it was released. It failed very few times, mostly in the beginning. But after some adjustment of parameters accordingly to match my personal throwing style and my aircraft it has been a rock solid mode for many successful launches.

The possibility to adjust launch mode as it is now is actually very powerful and once you und

[2017-10-05 20:35] Dronek commented on #2241
Related to...
https://github.com/iNavFlight/inav/issues/1283

[2017-10-06 05:55] ghost commented on #2074
Hi,
Have solved the problem yet ?
I got the same behavior.

[2017-10-06 06:00] LucaBertuolo commented on #2074
Not solved yet...
I'm still having 3 Omnibus F3 AIO with the same problem...

I've switched to an old Flip32 for my plane...until i find a solution...

[2017-10-06 06:12] locutus40 commented on #2074
my suggestion toss the omnibus line.. infact toss everything that is a clone seems china cloned all these fc... the naza32 has a original made by one dude yes its old but it had standareds like dji etc.. china has no standards they ship out trash and hope it works and hope you dont return it...
 trouble is everything now is made in china not one company you really need or use is american everythin

[2017-10-06 06:22] LucaBertuolo commented on #2074
I agree...
but with two of my Omnibus F3 where i've try to install iNav without success, has got more than 300 hour of flight in a 4copter with betaflight...
So my opinion is that in this case there is not a hardware failure on this FC...

[2017-10-06 06:28] locutus40 commented on #2074
its a software issue too and firmware.. see the firmware was copied from clean flight and reworked to add this stuff in.. the drivers were created for these boards.. by a unknown person...

with dji you know where its coming from with 3dr its open source but 1 guy takes suggestions and implements them then tests them... and the flight controllers are made in house.. with these omnibus things and e

[2017-10-06 06:43] digitalentity commented on #2074
@LucaBertuolo my Omnibus F3 board that came directly from Airbot works without any issue - flashing, configuring and using on a quad.
Chinese cloned boards are of random quality and ofter have random differenced from original ones at hardware level. Do you have anything connected to the board? If you have anything connected to UART1 (GPS, receiver etc) - they may confuse the STM32's built-in bootl

[2017-10-06 06:45] ghost commented on #2074
I might have found the solution, lots of people from from one FPV FB group had the same issue, they say the solution is to power LED's from PDB, not from the FC.
Will report tomorrow.

[2017-10-06 06:46] digitalentity commented on #2074
@locutus40 your comments are irrelevant to the topic. If you want to brag about DJI, INAV, 3DR, quality etc - please go to RCG. GitHub is for tracking and discussing **issues**, not musing about good old days where there was only NAZA.

[2017-10-06 06:47] digitalentity commented on #2260
I'm in favor of introducing the new MSP2_INAV_STATUS message

[2017-10-06 06:48] LucaBertuolo commented on #2074
@locutus40 I think that now this discussion is too "off-issue"...
If you are going back to dji/3dr, good for you...
I believe in a project that can born and grow with a community...and supported by donation and help from users...
I'm one of that people that not only buy a FC in an official store, but then also give a donation to that team that work on the software/firmware...

by the way...
@digit

[2017-10-06 06:50] digitalentity commented on #1940
Automatic modes (RTH, WP) do not accept user input. Why should throttle stick being at zero matter more than it being at 50% or 100%?

When user is controlling the machine (all non-auto modes) - I agree, MOTOR_STOP must be respected.

[2017-10-06 06:54] digitalentity commented on #2074
@LucaBertuolo then it's really odd. So, to summarize - when you power the board from lipo battery - the board is cycling through reboots, right? Do the LEDs blink when it reboots? Can you record LEDs blinking?

[2017-10-06 06:56] giacomo892 commented on #2074
It could easily that GYRO/ACC is not detected by iNAV. We should see it immediately from the blinking pattern.

[2017-10-06 07:00] digitalentity commented on #2074
That's my idea as well. On Omnibus F3 board OSD chip shares the same bus as gyro, might be initialization order issue. We've changed the OSD/Gyro init order in 1.7.3, @LucaBertuolo can you try flashing the 1.7.3 and see if the issue is still present.

[2017-10-06 07:02] digitalentity commented on #2074
@locutus40 I've deleted your comment to keep discussion clean and on topic. Please don't post irrelevant and offending comments, otherwise I'll be forced to ban you off this issue tracker.

[2017-10-06 07:05] locutus40 commented on #2074
love it how a moderator deletes free speech and clean speech learn what clean and dirty speech is.. cursing is dirty talking is not.... this is a nazi forum im done with it.. be glad i dont report you to github for all your condecending tones on both forums.... i came here with a issue and you guys treated me poorly... good day dont talk to me again..

[2017-10-06 07:07] giacomo892 commented on #2074
@digitalentity I had 3 aliexpress OMNIBUS F3 clones. Not a single issue with 1.7.2 and I have one in my hands freshly flashed with 1.7.3 . All good.
SPI should be pretty robust compared to I2C

[2017-10-06 07:21] digitalentity commented on #2074
@locutus40 for the record: I consider comparing to nazi's and monkeys quite offending. Also, this is not a forum where you can brag, this is an issue tracker where particualr issues are discussed. Off-topic comments are tolerated here, but there is a limit to everything.

[2017-10-06 07:23] digitalentity commented on #2074
@giacomo892 it's about chip-select lines. Both MAX7456 and MPU6000 gyro share the same bus on Omnibus F3. If they both try to drive the bus - result is bad. If one of devices' chip-select line is floating they might both end up driving the bus at the same time.

[2017-10-06 09:18] DzikuVx commented on #2150
Looks like problem solved, I'm closing this one. Thanks

[2017-10-06 09:18] #2150 closed, assigned to nobody

[2017-10-06 09:19] DzikuVx commented on #2141
Since ticket seems to be stuck and seems like it is hardware connected, I'm closing it. Thanks

[2017-10-06 09:19] #2141 closed, assigned to nobody

[2017-10-06 09:21] DzikuVx commented on #2116
Also, it is not possible to run SoftwareSerials on different speeds. Closing, thanks

[2017-10-06 09:21] #2116 closed, assigned to nobody

[2017-10-06 09:22] DzikuVx commented on #2043
Since issue is stuck, I'm closing it. Thanks

[2017-10-06 09:22] #2043 closed, assigned to nobody

[2017-10-06 09:24] #1856 closed, assigned to nobody

[2017-10-06 09:36] ghost opened #2265 "Inav issue full throttle after dive quad"
Hello,
With a friend we both have the same problem, with a 6 " quad, after a dive, with full trottle the drone abruptly go on the side and back.
After long tests, we can say that it is not coposant of the drone, not its structure (we have 2 differents frames).
This morning we flashed Betaflight just to see and as by micracle the problem had disappeared on the 2 quads.
Do you know what this can be

[2017-10-06 09:37] DzikuVx commented on #1557
Better late than never... I took a look at the log and I'd say that from software point of view everything looks good. It seems to be connected with vibrations or frame flex. Closing. If anything new appears, please reopen

[2017-10-06 09:37] #1557 closed, assigned to nobody

[2017-10-06 09:39] #1549 closed, assigned to nobody

[2017-10-06 10:22] fiam commented on #2265
@teamnanopirate Video requires registration to watch. Can you post it somewhere else?

[2017-10-06 10:31] fiam commented on #1940
@digitalentity It's not about user input, it is about having a fast "oh shit" mechanism when something goes wrong. Without an arm switch nor kill switch, there's no way to quickly stop an aircraft flying itself which is headed for some trees or a building other than enabling MOTOR_STOP and lowering THR. I think we should keep that functionality.

We could just add a function `bool hasQuickStopSwit

[2017-10-06 10:34] fiam commented on #1940
Just for completeness, if it was up to me I'd remove stick arming and auto arming completely. They feel very unsafe to me. However, if we're keeping them we need to keep at least some safety measures for those use cases too.

[2017-10-06 11:22] DzikuVx commented on #2035
Due to lack of progress and no signs of actual bug, I'm closing it. Thanks

[2017-10-06 11:22] #2035 closed, assigned to nobody

[2017-10-06 11:26] DzikuVx commented on #2252
Since staring from next release INAV is dropping support for F1 boards (including NAZE) I do not think this will be ever solved or even investigated. @SPlissken please use 1.7.2 then

[2017-10-06 11:26] #2252 closed, assigned to nobody

[2017-10-06 11:29] DzikuVx commented on #2265
I also can not see the video. @teamnanopirate please post a video on a public resource and provide a blackbox log of that happeing. Without it is really hard to tell what is happening. Until then I'm tagging this as "Support"

[2017-10-06 12:11] Redshifft commented on #2265
@teamnanopirate  Looks to me like the Quad runs out of controlling headroom - Antigrav in Betaflight might help otherwise just use less throttle in Inav. My money is you will also get those "kicks" with rapid full throttle punches also ;)

[2017-10-06 13:20] MATEKSYS commented on #2229
Tested it just now, current sensor & Vbat work normal with fw_1.7.3.
Pls send some clear wiring & board photos and GUI screenshot to service@mateksys.com

[2017-10-06 13:40] ghost commented on #2265
Hi,
sorry for the link, here is Youtube and log (drone issue in the log's file at 0:57)
[LOG00001.TXT](https://github.com/iNavFlight/inav/files/1362848/LOG00001.TXT)
https://www.youtube.com/watch?v=vzoMMmpjJhg

[2017-10-06 13:56] LucaBertuolo commented on #2074
@digitalentity @giacomo892
I've made a video for you...this time the FC will be visible from iNav configurator until i reboot it...
This FC come from a UK store, so it's different from the previous Omnibus that i've use when i've start this issue...but the problem still the same...

https://youtu.be/BYihCgOx7PE

Edit:
I'm removing the MAX7456 from the board, then i will tell you the result

Edit2:

[2017-10-06 13:58] DzikuVx commented on #2265
@teamnanopirate
<img width="1227" alt="zrzut ekranu 2017-10-06 o 15 56 26" src="https://user-images.githubusercontent.com/966811/31281161-f5bc1a78-aaae-11e7-8a34-b3b8d1b91037.png">

Check motor#1. Probably ESC requires calibration since FC start to request 100% from it while requesting only around 70% from front motors. Check props, calibrate all ESC and shuould be fine

[2017-10-06 13:58] DzikuVx commented on #2265
And whole quad seems to be little tail heavy

[2017-10-06 14:24] fiam commented on #2206
I have this ready to be submitted. Just waiting for #2262 to get merged, since it builds on top of it.

[2017-10-06 14:38] ghost commented on #2265
@DzikuVx  thanks for your interest but nop, my esc are correctly calibrated and props are ok.
100% rear motors and 70% front look normal compared to my actions.
finaly my quad is well balanced.

[2017-10-06 15:02] fiam commented on #2242
How should we implement this one? A new configurable alarm for negative altitude or just hardcode it to blink below, let's say, -10m?

[2017-10-06 15:41] padcom commented on #2175
Ok, so it's not the ironing skills (although I too wouldn't rule it out in your place) but it is in fact a software issue. I have removed one of the 0 Ohm resistors leading to PPM/SBUS receiver and it all works now.

Does that help in any way? Is there anything that would require mechanical intervention to get the PPM and UART3 working after reflashing the board?

[2017-10-06 16:02] madoboy commented on #2181
I had same issue yesterday in very windy conditions with my Mini Talon. I raised my bank angel to 30° before flying now i lowered back to 20°. I gonna test it again.

[2017-10-06 16:20] brat002 commented on #2251
Please re-read this thread before any comments. It is not replace of
current launch mode.

[2017-10-06 16:36] stronnag commented on #1940
Please do not even consider removing stick arm / disarm; my muscle memory will never forgive you.

And I have this recurring nightmare about accidentally knocking the arm switch.

[2017-10-06 16:54] teckel12 commented on #2261
@0higgins0 And don't flip scl and sda as you do with a UART.  I can confirm that the Omnibus F4 V3 works with iNav 1.7.3 and a magnetometer.  Also, is the magnetometer working in the configurator?  That's where you want to make sure it works first before over SBUS.  Finally, make sure you detect new sensors on your transmitter.

[2017-10-06 17:05] 0higgins0 commented on #2261
Thanks for the response. I don't have the scl and sda flipped, but that's a good point to mention.  Without frsky sbus wired or turned on through uart 6, my mag still isn't recognized on inav. Just get the red icon.  Tried lower and higher i2c speeds with no luck.  However, this is an m8n and mag combo from readytoflyquads that has a 3.3v reg/filter built in.  Not sure how that may differ from oth

[2017-10-06 17:13] jstremmler commented on #2261
With my RTFQ Omnibus F4 V3 it works. Hope, we are talking about the same FC: https://www.banggood.com/Eachine-Wizard-X220S-FPV-Racer-Customized-Version-Omnibus-F4-V3-Betaflight-3_0_1-Flight-Controller-p-1177121.html?rmmds=myorder
Pls note that this FC has a connector J16 at the same place where the Omnibus Pro F4 V2 had connector J10  for SDA,SCL,5V,GND,TX6,RX6. If you connect your magnetometer to

[2017-10-06 17:22] 0higgins0 commented on #2261
Auto doesn't work either. Tried that many times.  Also, my board's scl/sca are on j1 thru-hole locations, labeled as you are describing (scl/tx3, ect.).  Again though, that's a good point to bring up for others reading this.  Note this board is from readytoflyquads.  I ordered it as a flip32 f4 v3 omnibus.  Im not affraid to be wrong with my wiring or config. I just want to get it to work and mayb

[2017-10-06 17:48] DzikuVx commented on #2265
@teamnanopirate with all due respect, blackbox log you provided states something completely different. Motor 1 is at max even before jerk/roll starts and this is clearly the reason of what you are expecting

[2017-10-06 17:51] MrAlfabet opened #2266 "Problem with barometer when OSD enabled on Omnibus F3"
Steps to reproduce:
Buy the omnibus F3 V1.1
Flash iNav 1.7.3 (Also tried 1.7.1, no difference). I notice that even though full chip erase is enabled, I don't really see it erase anything.
Check barometer (BMP280 onboard) in the sensors tab. This is working fine.
Enable OSD, the barometer now gives weird readings, values jumping up and down. https://i.imgur.com/T4xcH4e.png
With OSD disabled, the ba

[2017-10-06 18:14] MrAlfabet commented on #2266
Just tried the new 1.7.4, problem solved.

[2017-10-06 18:14] #2266 closed, assigned to nobody

[2017-10-06 18:15] stronnag commented on #2266
966e97c6a0d6f6fafc14eb85164576e544615a35 to be precise

[2017-10-06 20:01] stronnag commented on #2260
Me too, on the other hand, if we just had the 3rd party interesting values in the lower 16bits (there seem to be some undefined bits in `src/main/fc/runtime_config.h`), then the old STATUS_EX would be useful again.

[2017-10-06 21:11] Schalonsus opened #2267 "Bug - NAV LAUNCH + FS Mode = out of control"
Today i wanted to start my wing but gone terrible wrong.

Start procedure after GPS lock:
go to start position
set switch to activate Alt Hold + Angle
set switch to activate Nav Launch
stick arming
set switch to activate FS
apply throttle (motor starts spinning)
throw the plane

so whats now: plane takes off, but kind of different when normal launching with Nav Launch. Hurry to reach the FPV scree

[2017-10-06 21:52] CradyArt opened #2268 "Odd Servo Throws After Reversing"

[2017-10-06 22:52] #2268 closed, assigned to nobody

[2017-10-07 00:27] digitalentity commented on #1940
All this is making configuring very tricky and somewhat inconsistent. Personally, I'm ok with how it works now - motor stop always respects user input (given there is valid user input = ! failsafe). However people are reporting issues with RTH falling out of the sky if throttle stick position is at zero (which by the way is a valid behavior IMO).

Let's discuss futher if we want nav modes to be ab

[2017-10-07 02:00] digitalentity commented on #2229
@MATEKSYS thanks for stepping in.

[2017-10-07 02:10] digitalentity commented on #2267
Ok, the issue is that launch mode takes priority over failsafe RTH. Failsafe code attempts to initiate RTH but fails, so plane falls back to normal failsafe procedure - and disarmed as a result of it. Re-arming is disabled for 30 seconds after failsafe procedure finishes.

If you could record a log - it would help figure out what's going on under the hood.

We also need to discuss what the desired

[2017-10-07 07:25] madoboy opened #2270 "RTH improvements: lower the altitude when approaching home"
Hi. Can we have option in RTH to when plane comes near to launch point to lower the flying altitude? Like if if is in 200m range to change from 500m to 100m. And also analog airspeed sensor when it's gonna be implemented to maintain planes speed? Now on RTH throttle is fluctuating.

[2017-10-07 07:26] Schalonsus commented on #2267
Unfortunately its a F1 board without flash memory and all UARTs are occupied.
But maybe i can test with another plane, just need to enable BB.

I think the right procedure would be let nav launch finish and then initiate FS without disarming

[2017-10-07 07:53] oleost commented on #2267
My initial thoughts is if Failsafe is active, either by switch or by system it should immidiality go to failsafe behavior.

In this cause, instant disarm due to close to home position.

We should never mix Failsafe with usage. ( I assume you wanted it to circle after launch ? )

In this cause combining launch mode with pos hold and alt hold or RTH mode would be much more appropiate.

[2017-10-07 08:10] Pairan opened #2271 "Matek F405OSD: Leaving OSD menu via sticks destroys old screen afterwards"
There is a bug within the OSD menu.

1) _**Save and Reboot wont reboot!**_
Buzzer beeps once, but FC doesn't reboot
Demonstrated in the video

2) _**Entering and Leaving OSD menu via sticks messes up the OSD Screen afterwards**_
Enter the menu, leave the menu, OSD screen is messed up with fragments.

see the video: [Video on YouTube](https://www.youtube.com/watch?v=HFEvBdCgVIQ)

[2017-10-07 08:18] digitalentity commented on #2074
@LucaBertuolo thanks. Looks like it's the MAX7456 messing up with gyro initialization. Fix pending.

[2017-10-07 08:29] digitalentity commented on #2271
@Pairan it's already fixed in upcoming release, thanks for reporting.

[2017-10-07 08:31] Pairan commented on #2271
Thanks for your feedback - this needs to be closed then. Do I simply hit the CLOSE button here?

[2017-10-07 08:34] Pairan commented on #2160
I did a change to the documentation ... this could help, but maybe @stronnag will take a look at it

[2017-10-07 08:35] #2271 closed, assigned to nobody

[2017-10-07 08:35] Schalonsus commented on #2267
Your assumption is 100% correct. I changed RTH from this switch to FS. If FS switch is active ebfore arming it doesnt allow to arm, but because i forgot to switch it on before arming, i did it afterwards and this leads to this problem.

[2017-10-07 08:35] digitalentity commented on #2271
Closed :smile:

[2017-10-07 08:36] Dronek commented on #1940
How about working with existing parameters, one of which is **min_throttle**.

Please correct me if I'm wrong but if we set min_throttle to 1000 motor(s) will stop when throttle stick = min in all modes where throttle is actively controlled by the pilot even without MOTOR_STOP enabled. However, nav_modes would still rely on **nav_fw_min_thr**.

So with min_throttle = 1000 and MOTOR_STOP = OFF it s

[2017-10-07 08:38] madoboy commented on #1856
Hi Mr.Pawel. I saw your video on YouTube about pitot tube. Can you share
how to connect it. And also this gonna help with RTH and AH modes throttle
management? Are you maybe member of INav Autopilot group on Facebook it has
about 1000 member.

2017. okt. 6. 10:24 ezt írta ("Paweł Spychalski" <notifications@github.com

Closed #1856 <https://github.com/iNavFlight/inav/issues/1856>.

—
You are receiv

[2017-10-07 08:46] DzikuVx commented on #1856
@madoboy https://quadmeup.com/how-to-connect-apm-airspeed-sensor-pitot-tube-to-inav/

Facebook group with 1000 members about INAV? Let me look for it :)

[2017-10-07 08:46] Feldsalat commented on #2150
The instructions (Building in Windows light.md) still have to be updated! I do not know how...

[2017-10-07 08:47] madoboy commented on #1856
https://www.facebook.com/groups/1309125302467027/

2017. okt. 7. 9:46 ezt írta ("Paweł Spychalski" <notifications@github.com>):

@madoboy <https://github.com/madoboy> https://quadmeup.com/how-to-
connect-apm-airspeed-sensor-pitot-tube-to-inav/

Facebook group with 1000 members about INAV? Let me look for it :)

—
You are receiving this because you were mentioned.
Reply to this email directly, view

[2017-10-07 08:53] madoboy commented on #1856
Thanks for the link. I'm using INav on Mini Talon. Now with pitot tube it
gonna help with RTH throttle management?

2017. okt. 7. 9:47 ezt írta ("Stifler Fpv" <mado1326@gmail.com>):

[2017-10-07 08:55] DzikuVx commented on #1856
Not yet, ATM it is use informative

[2017-10-07 08:57] madoboy commented on #1856
Thanks for informations. Please join in our group you can have lot's of
inputs and experiences from pilots to help your development.

2017. okt. 7. 9:55 ezt írta ("Paweł Spychalski" <notifications@github.com>):

[2017-10-07 09:24] fiam commented on #1993
Fixed by #2263

[2017-10-07 09:24] #1993 closed, assigned to fiam

[2017-10-07 09:33] digitalentity opened #2273 "Omnibus F4 I2C not working"

[2017-10-07 09:57] atomiclama commented on #2231
Hi, well I'm currently working on getting the RFM22 working within BF. Mainly for my own interest as I didn't think there was any interest out there.
I have a proof of concept setup running. 2-way serial data transmission that has been tested with Mavlink MSP and RX_Serial protocols.

It is not 100% reliable, contains no frequency hopping or configuration. But it is a start. Once I'm have it a bit

[2017-10-07 10:24] fiam commented on #2231
@atomiclama I have no objections to a PR adding support for it. Could you let me know which hardware would I need to test it? Thanks!

[2017-10-07 10:25] DzikuVx commented on #2231
@atomiclama Yes!

[2017-10-07 10:35] fiam commented on #1219
I think there's no point in implementing this as a failsafe trigger. Is better to have it as an alarm and let the pilot decide what to do.

While I do agree with @teckel12 that a "smart alarm" based on remaining capacity would be really nice, I think that is almost impossible to implement correctly on our case. We don't have a fixed power train, so consumption would need to be estimated and would

[2017-10-07 10:50] LucaBertuolo commented on #2074
@digitalentity
I've check and it's not a power issue, with an external power supply for 3.3 it do the same problem...

If you need some other info, i can send you a check of the two CS pin (MAX7456 and Gyro) captured wit the DSO...
I will do all you tell to me;)

[2017-10-07 11:52] fiam commented on #1985
@oleost I think it would be better to put that on a POT, to avoid accidental triggers. Also, I think is better to leave the THR stick alone while in NAV modes, so it will be on a position that will make the aircraft fly when you switch to manual control again.

[2017-10-07 12:03] digitalentity commented on #2074
@LucaBertuolo can you flash the attached firmware with full erase and see if it boots consistently for you.

[inav_1.7.4_OMNIBUS.zip](https://github.com/iNavFlight/inav/files/1364570/inav_1.7.4_OMNIBUS.zip)

[2017-10-07 12:04] digitalentity commented on #2074
Note, that you won't be able to configure it using current Configurator - we're making changes here and there.

[2017-10-07 12:06] digitalentity commented on #2270
Good idea. We'll make that happen

[2017-10-07 12:10] LucaBertuolo commented on #2074
@digitalentity
Flashed, seems it boot correctly :)
I've also try to connect/disconnect the usb power ten times, and always boot correctly...
Also in the Configurator it show the OSD enabled.
The Omnibus stop rebooting, and i'm able to connect it with the Configurator:
![schermata da 2017-10-07 14-08-18](https://user-images.githubusercontent.com/10431439/31307667-466cb5bc-ab69-11e7-9367-a05ce64b384

[2017-10-07 12:15] digitalentity commented on #2074
Cool! I'm closing the issue then. Fix will be included in next release - I'm planning to publish a RC1 of version 1.8 some time next week.

To keep track of the fix - https://github.com/iNavFlight/inav/pull/2275 has fixed the issue.

[2017-10-07 12:15] #2074 closed, assigned to nobody

[2017-10-07 13:22] brat002 commented on #2251
This is what happens when auto launch is enabled https://www.youtube.com/watch?v=A-46gI5Q-2I&feature=youtu.be. Strong dive exactly after short climb. The plane shouldn't allow dive in any case, but you see shat happens.

[2017-10-07 13:23] fiam opened #2278 "Make the OSD use METRIC by default"
OSD defaults to IMPERIAL units. I think we should change the default to METRIC. I'm not sure how many INAV users are from countries where they don't use the metric system, but my suspicion is we metric users represent a bigger proportion.

So, thoughts on this one? Feel free to use thumbs up or down.

[2017-10-07 13:25] digitalentity commented on #2251
Not possible to troubleshoot by video alone. Please record a log

[2017-10-07 13:30] digitalentity commented on #1916
Closing. DMA is not giving much benefit for UARTs anyhow.

[2017-10-07 13:30] #1916 closed, assigned to nobody

[2017-10-07 13:56] oleost commented on #2251
Cli Dump and an log please

[2017-10-07 14:46] atomiclama commented on #2231
Blimey that was a quick response, nice to know there is some interest.

OK when I'm back home I'll put together the information / HW etc. I don't get much time for my hobby so please don't expect fast progress.
I'll also have a look to see how much iNav is different from BF in the RX_SPI area.

Are there any recommendations for GC SW that can handle just Mavlink telemetry? Currently using Mission

[2017-10-07 16:29] jstremmler commented on #2273
What is wrong with the I2C at the Omnibus F4?

I own several Omnibus F4 Pro V2 and the Eachine modified Omnibus F4 V3. On all of them I2C is working and the magnetometes which I have connected at least seem to work correctly. (iNAV version1.7.3)

[2017-10-07 16:34] jstremmler commented on #2117
I tested it and the LED's work, but due to a thunderstorm and bad weather I did not test version 1.7.4 in flight. Best wishes to Komsomolsk! (Have visited it!)

[2017-10-07 16:41] ghost commented on #2265
@DzikuVx thank you for your help maybe it's that but all my set up is correct.
my friend has exatly the same issue and when we flash betaflight all is ok :(

[2017-10-07 16:51] jstremmler commented on #2261
So my Omnibus F4 Pro V3 (the one from Banggood-see above) works perfectly.

I connected the GPS to UART6 with 115200 baud and SDA and SCL to UART3.
Have a look at the screenshot of my iNAV Configurator:  https://www.dropbox.com/s/6ok9fuj4twda2nn/Eachine_OmnibusF4.jpg?dl=0 to see that it works!

[2017-10-07 17:00] DzikuVx commented on #2265
There are at least few reasone why it works better in BF. For example, DSHOT in BF? Or different max_throttle and so on and so on.

[2017-10-07 17:06] 0higgins0 commented on #2261
Thanks. But now my gps won't even work.  Tried all 3 uarts at different baud rates. I had trouble getting the gps to work when I got it, then it suddenly started communicating . Maybe the unit was bad from the start.  Going to get another unit to try.

[2017-10-07 17:25] jstremmler commented on #2261
Shit happens! I crashed a quad some time ago but nothing seemed to be broken (I thought).

But then I recognized that the GPS did not find satellites anymore. Opened the case of the GPS and checked voltages. Everything was ok, then connected another GPS and that one worked! So the GPS was broken in the crash! Btw. the magnetometer worked with the broken GPS....

[2017-10-07 17:28] 0higgins0 commented on #2261
I suppose if people like us didn't try, nothing would ever advance.

On Oct 7, 2017 1:25 PM, "Dr. Juergen Stremmler" <notifications@github.com>
wrote:

[2017-10-07 17:31] ghost commented on #2265
I don't say that beta is better or worse, it's not the problem.
I'm just saying that with identical settings we don't have this problem with beta.
which excludes material problems.
min throttle set to 1100 and max 2000, esc are correctly calibrates., Tx end points are off course set.

[2017-10-07 18:35] fiam commented on #2265
@teamnanopirate Thing is, betaflight devotes way more resources (both on chip and human) to racing mini quads, while INAV is focused on navigation.

Due to the needs of racing quads, betaflight has way more complicated filtering and can cope better with some mechanical/electrical problems on small quads. In exchange for this, they aren't able to support GPS navigation at all on F3 targets and thei

[2017-10-07 19:04] voodou59 commented on #2035
![vlcsnap-2017-10-07-21h03m15s621](https://user-images.githubusercontent.com/17965637/31311044-495eb078-aba4-11e7-8e26-95f733cb7178.png)
Sorry I was working. First image you can see the setup of aux2 with rth.
2nd you can see ACCRO when arming rth. Need to test RTH since new update but it still write ACCRO.
Best regards.

![rth](https://user-images.githubusercontent.com/17965637/31310985-126a58de-

[2017-10-07 19:06] fiam commented on #2035
@voodou59 RTH will never engage on the bench. Note that the boxes only turn blue when the mode is active, not when you request it to be active. In order to enable RTH, model needs to be armed and flying.

Note also that the channel is outside the selected range, so it would never enable RTH with that channel in the current position and that configuration.

[2017-10-07 19:09] voodou59 commented on #2035
Hi, ok thanks, I will try to record while flying to see it. The channel was only to show the good configuration as aux 2. When I switch it with radio it goes to RTH mode. Radio was off when I took the printscreen.

Thanks.

[2017-10-07 20:00] fiam commented on #2035
If moving the switch on the radio puts the small marker at the bottom between the ends of the slider, it will ask the FC to engage RTH mode. Note that it doesn't mean that the mode will actually active, since there are preconditions that must be satisfied. For example, you can't enable ACRO mode until the gyro has been calibrated (you can see this in the OSD when FC is booting up, mode will show a

[2017-10-07 21:41] michaelvanderhoek commented on #2117
Hi jstremmler, what kind of board do you own? An original or clone?

[2017-10-08 03:09] scottyob opened #2285 "Beitian BN-880 GPS doesn't work with iNav >= 1.6.0"
Anyone else had issues with the Beitian BN 880 not working with iNav > 1.4?

I see the I2C error count climb, and when it's in a climbing state, if I disconnect the BN-880 entirely, it still climbs making me think the I2C has got itself in a bad state.

I've tried putting a 1K resistor between the +5V, SCL and Ground as well as one between +5V, SDA and ground.  I've tried swapping those for a 4.7K

[2017-10-08 03:10] KenImhof commented on #1793
Incorporated Rescue and Hard Deck modes in iNav3d.
Sort Demo Flight:
https://youtu.be/uNKoen8VKb4

Details and download:
https://github.com/KenImhof/iNav3d/releases

It would be great if we could get these features incorporated in the iNav base.

[2017-10-08 03:46] scottyob commented on #2285
Sorry, title should read >= 1.6.0

[2017-10-08 04:07] jstremmler commented on #2117
I own both, but as digitalentity pointed out the clone cannot work because Chinese cloners connected the Led_Strip_Out pin of connector J1  on the board to a wrong pin of the processor.

[2017-10-08 05:54] digitalentity commented on #1793
Nice. Let's target this towards 1.9 along with `rcCommand` refactoring (https://github.com/iNavFlight/inav/pull/2171)

[2017-10-08 05:56] digitalentity commented on #2117
@jstremmler great! Then we can merge #2233. You should visit here again :wink:

[2017-10-08 05:57] #2273 closed, assigned to nobody

[2017-10-08 05:58] digitalentity commented on #2273
@jstremmler sorry, I looket at my local testing branch where I've removed I2C support for some reason :grimacing:

[2017-10-08 06:00] digitalentity commented on #2261
Happened to me a few times. GPS modules are fragile thingies - once in a while after a crash I have to throw GPS outside a window because it stops working.

[2017-10-08 06:01] digitalentity commented on #2285
Try lowering I2C speed to 200khz and see if it solves the issue for you.

[2017-10-08 06:01] digitalentity commented on #2285
How did you connect the pull-up resistors? They should go from SCL to +3.3V and from SDA to +3.3V

[2017-10-08 06:08] digitalentity commented on #2265
I agree with @DzikuVx and @Redshifft - INAV runs out of headroom for executing the required correction.

Betaflight copes better because has more resources to do sophisticated filtering and some smart things like antigravity, while in INAV we have to sacrifice those things in favor of navigation and other smart things that are not available in Betaflight :smile:

[2017-10-08 06:08] scottyob commented on #2285
Yep. Tried both 1k and 4.7K in the fashion you mentioned.  I tried also changing the speed to no avail.

Should the errors continue rising if I disconnect scl and sda mid operation? (Seeing them on the inav chrome plugin)

[2017-10-08 06:12] digitalentity commented on #2285
Can you post a `bootlog` output of your board with connected compass?

[2017-10-08 06:25] scottyob commented on #2285
Sure.  I've also noticed the "cycle time" is around 2,000.  Not sure what that should read either.

[code]

[2017-10-08 07:45] sammichael25 commented on #2229
Matek helped me solve the problem.Turns out my board came without a specific resistor. After soldering on one and performing scale calibration it solved the issue.
Thanks again for the help guys :) 👍

![catch154](https://user-images.githubusercontent.com/25930393/31314954-3b4364ae-abe3-11e7-9c0b-c8eb4891d4cf.jpg)

[2017-10-08 07:49] x3m84 opened #2286 "No motor output on Matek f405 AIO"
Ive connected servos on s2 and s3, and esc on s1. servos work fine.
i can connect to the esc in blheli, but the esc is unresponsive to throttle inputs from the motors tab.
i have tested to put the esc on s1-s5, but only connects to blheli on s1.

to me it seems like inav doesent send a throttle signal on s1.

[2017-10-08 08:04] digitalentity commented on #2229
Well done @MATEKSYS! This is how a good board manufacturer should act! Closing.

[2017-10-08 08:04] #2229 closed, assigned to nobody

[2017-10-08 08:15] ShawnzAZ commented on #2286
I'm having a similar problem in 1.7.3.

I have the ESC on S1 and the servos on S3 / S4.   The motor works on S1 but only the servo on S3 works.  On my previous FC this is how it worked, this one doesn't seem to put motors on output 1 & 2.

In the motors tab do you see 1000 on just output 1 or 1 and 2?  On mine I just see it on 1.   I suspect this is why my S4 isn't working (the other servo is on S

[2017-10-08 08:38] x3m84 commented on #2286
I only see one motor output in motors tab, on my old omnibus i had two.

Ive tested alla protocols, different blheli softwares and two different escs.

On mine servos dont work on S4, only on S2 and S3.

[2017-10-08 08:39] ShawnzAZ opened #2287 "Motor / Servo outputs not correct for Flying wing in 1.7.3 beta on Matek F405 AIO"
It appears that the flying wing config only setup on one motor when it should setup 2 on outputs 1&2.  Only output 1 shows the 'min throttle' setting.  The rest show 0.

Output 3&4 should be the servo outputs.   I wired it this way and only output 3 moves a servo.   The associated 'servo' is Servo 4 in the GUI,

I'll move the servo signal wire from output 4 to 2 to see if it works.  If so it'll co

[2017-10-08 09:09] ShawnzAZ commented on #2287
I moved the wire from the S4 pad to S2 and now I have two servos and the motor working.

It appears that this 1.7.3 beta for the Matek F405-AIO does the following:

S1 = Motor 1
S2 = Output 3 in the mixer diagram.  It is also 'Servo 3' in the Servos tab GUI.
S3 = Output 4 in the mixer diagram.  It is 'Servo 4' in the Servos tab GUI.

As-per the diagram, and how it was on the FC before the Matek F4

[2017-10-08 09:21] ShawnzAZ commented on #2286
I confirmed the same for the servos.  S2/S3 = Outputs 3/4 in the mixer.

I'm using the flying wing mix and a Hobbywing Skywalker 50A ESC with inav set to 'Standard' output for the ESC protocol.  It is working on the S1 output of the Matek F405-AIO for me.

[2017-10-08 09:29] michaelvanderhoek commented on #2117
Jstremmler, oke tnx. I was just checking :D

[2017-10-08 11:03] KenImhof commented on #1793
Either 1.9 or 2.0 is a good target as I agree that the rcCommand refactoring needs to be done first.  Some of the 3d Hard Deck/Rescue modifications were to address 3d prop reversal compatibility issues with navigation modes.  The rcCommand refactoring should address these issues and should be solid before Hard Deck/Recuse modes are incorporated.

[2017-10-08 11:06] #2117 closed, assigned to nobody

[2017-10-08 11:07] digitalentity commented on #1793
Great! Once we get 1.8 out of the door I'll start the refactoring. Your assistance regarding 3D mode will be greatly appreciated :heart:

[2017-10-08 11:44] Dronek commented on #1940
Works perfectly on the bench (with min_throttle = 1005, however).
Motor stops at zero throttle in ACRO, ANGLE, PASSTHROUGH.
Motor keeps running at zero throttle in ALTHOLD.
I'm going to test this with RTH etc. in the air today.

EDIT: works perfectly in the air as well. Stopping motor at zero throttle is prevented in all nav-modes including RTH but possible in ACRO, ANGLE, PASSTHROUGH.

[2017-10-08 14:13] Omio22 opened #2292 "Sp racing auxiliares"

[2017-10-08 14:22] DzikuVx commented on #2292
@Omio22 please provide description, we are not wizards :)

[2017-10-08 14:26] digitalentity commented on #2160
#2269 is merged. Closing

[2017-10-08 14:26] #2160 closed, assigned to nobody

[2017-10-08 14:28] digitalentity commented on #1219
Relevant issue #2199

[2017-10-08 14:28] digitalentity commented on #1219
We're probably won't be implementing this. All currently supported targets have 64-bit time.

[2017-10-08 14:28] #1219 closed, assigned to nobody

[2017-10-08 14:59] digitalentity commented on #1579
@sambas any news regarding this?

[2017-10-08 15:14] digitalentity commented on #2107
Interesting finding. We don't seem to have the issue with other F4 boards - only with SPRacingF4 EVO. Maybe @hydra will chime in and shed some light if there's something specific about the F4 EVO's USB hardware?

[2017-10-08 15:16] digitalentity commented on #2130
@FPVZaphod @tgreer PR #2293 should fix the issue.

[2017-10-08 15:55] #2286 closed, assigned to nobody

[2017-10-08 16:33] Target0815 commented on #2107
As I said, I don't know the internals of iNav, but are there any differences between Cleanflight (it's always running) and iNav in the USB area?

[2017-10-08 18:06] teckel12 commented on #2278
Those using the metric system are smarter and therefore more capable of switching from imperial to metric. If we make metric the default, all the dumb Americans will be confused as to why the numbers are all wrong, resulting in a ton of problem tickets. (Spoken tongue-in-cheek from an American who wants to keep the default imperial).

[2017-10-08 18:20] teckel12 commented on #2285
I'm running Omnibus F4 Pro with Beitian BN-880 running INAV 1.7.3 on 2 models and both work perfectly with no errors (at 400kHz).  My Omnibus FCs both have a barometer, so I believe the pull-up resistors are already installed on SCL and SDA (I didn't install pull-up resistors). If your FC doesn't have a barometer, maybe then the pull-up resistors are needed.

I believe the DYS F4 doesn't have a ba

[2017-10-08 19:13] teckel12 commented on #2261
I once had a bad GPS module, but it decided to return to China (with my poor 1 day old quad attached). I was glad to see the problematic GPS sensor go, but not so glad it took my newborn quad with it.

[2017-10-08 19:20] grancarajo commented on #1950
Similar case for my fixedwing, everything it's working fine horizon,angle,navlaunch, have at least 15 sat fix but can't activate any of gps mode. I be able to arm it but i can't activate rth or poshold.....hope you can help me......omnibus f3 with m8n gps from bangood

[2017-10-08 19:26] 0higgins0 commented on #2261
That does hurt.  Fortunately, my gps was purchased as a single item, so I
won't have that problem.  I just ordered another unit on Amazon,  so we'll
see how that one goes.

Tried testing my "bad" unit on another board.  Didn't work with it either.
Again, tx/rx GPS stopped working aside from the mag never working for me.

I'll update when I receive the new gps/mag

On Oct 8, 2017 3:13 PM, "Tim Ecke

[2017-10-08 19:59] junwoo091400 opened #2295 "UART1_RX on NAZE32"
Hello, I was trying to manually send serial signals w/ FTDI adapter.
I checked that '# get gps' was being sent through RX line when done via inav-configurator.
So I tried w/ Arduino Serial Monitor with 'same(115200) baud rate' => No Response.

It seems like there is an 'invisible' difference between Two...

My question is "Is communicating with NAZE32 UART1_RX pin even possible??"

[2017-10-08 20:02] junwoo091400 commented on #2295
This actually started with troubleshooting Why Bluetooth Signal to UART1_RX pin w/ EZ-GUI app was not working....

The App was sending bunch of MSP commands(checked manually w/ FTDI adapter), but FC was not responding!
-> And when I 'manually' turned the 'inav-configurator' ON w/ Laptop, EZ-GUI finally Received Battery voltage and such information...

: So my guess is that There are some **'invisi

[2017-10-08 20:19] giacomo892 commented on #2242
I think we can made it configurable with a default of -10m.

Warning the user going under the landing altitude is important to prevent radio / video loss and the possibility of hitting objects along the route.

[2017-10-08 20:20] fiam commented on #2242
Configurable with a default of -10m it is 👍

[2017-10-08 20:27] stronnag commented on #2295
UART1 works just fine for MSP on NAZE. This is not an iNav issue.

[2017-10-08 22:49] fiam opened #2297 "Change alarm to always use SI units internally. Make zero disable an alarm."
Currently the altitude alarm has different meanings, depending on the OSD units. When using SI units, the altitude alarm is interpreted as meters, while setting the units to IMPERIAL interprets the alarm as specified in feet.

This design requires the code in osd.c to perform unnecessary arithmetic for converting the altitude alarm on demand (since it could be changed at any time) to the necessary

[2017-10-08 23:09] fiam commented on #2278
We the MPFROW (Metric People From the Rest Of the World) have been oppressed for too long, having to spend a couple of seconds changing the OSD units on every flight controller we have set up. The ruling IMPERIAL class has taken this too far and have pushed us to the limit, so now that we don't have anything else to lose, the uprising has begun: ¡Viva la revolución!

Just to be clear, I have no st

[2017-10-09 02:09] renatobfa commented on #2270
Also, while in RTL, the THROTLE POSITION is showing my manual inputs instead of the real throtle position sent to the ESC by the FC... I think THROTLE POSITION should always show the REAL throtle output to ESC, so we can know how much is being commanded by the FC in ANGLE, HORIZON and RTL modes.

[2017-10-09 04:50] junwoo091400 commented on #2295
@stronnag OK I will maybe try flashing another NAZE board!

[2017-10-09 04:50] #2295 closed, assigned to nobody

[2017-10-09 06:25] digitalentity commented on #1950
@grancarajo RTH or poshold won't activate unless you are flying.

[2017-10-09 06:28] digitalentity commented on #2278
I placed a :+1: under the first post because I'm using metric system. However from backwards compatibility perspective and user friendliness it might be wiser to keep default units imperial.

I also think GitHub is not the best place to make this poll. Maybe we should implement tracking in Configurator and postpone the decision until we have some real-world statistics?

[2017-10-09 06:31] digitalentity commented on #2242
Good thing. @giacomo892 you know first hand why this warning is required :laughing:

[2017-10-09 06:35] Pairan commented on #2285
Running the Beitian BN-880 on Matek F405 OSD (has no Baro) and it works perfectly!

[2017-10-09 07:06] bhuism commented on #2229
What value should the SMD resistor be? So I can fix mine as well

[2017-10-09 07:48] giacomo892 commented on #2285
are there in the wild some different BN-880 revisions? Maybe some works ok, others not.

[2017-10-09 07:53] giacomo892 commented on #2278
All iNav internal computations are done in metric. Seems weird to me to end up displaying by default converted data.

I know it's just a settings in the CLI/Configurator but it is rather funny.

Having real word stats will for sure give us an answer, but it will surprise me if there will be more IMPERIAL users than METRIC ones 🥇

[2017-10-09 08:10] giacomo892 commented on #2270
@renatobfa the Throttle display will be solved in the new release. It is already in the development branch.

[2017-10-09 09:08] jstremmler commented on #2261
Connections:
![eachine omnibusf4_2](https://user-images.githubusercontent.com/15327312/31331353-38998d5a-ace2-11e7-893f-b45291f2dbf1.jpg)

[2017-10-09 09:14] grancarajo commented on #1950
Thanks for your reply.......!    so the only way to verify if it s working is flying...there is no other way to verify in gui if it's working?

[2017-10-09 09:29] DzikuVx commented on #2285
I also have no problems with BN-880 on different boards and firmware versions

[2017-10-09 09:42] digitalentity commented on #2297
I'm all in for this. Consistency is good.

[2017-10-09 11:01] FPVZaphod commented on #2130
Cool, thanks a lot!
How do I test this, any hex file available?

[2017-10-09 13:54] chan2328 opened #2299 "magnetometer are detected but no oscillation found when tuning. (beerotor F4 & radiolink se100) problem of QMC5883?"
FC: beerotor F4,  identifier: INAV, version: 1.7.3
Running firmware released on: Sep 9 2017 10:49:35
Board: BRF4, version: 0
GPS: Radiolink SE100 (ublox M8030 with DA 5883 compass)

I can make sure that the wiring between FC and GPS is correct, and the GPS automatically detected and works fine, but the magnetometer 5883 are recognized by inav only it does not work. please see below pic. i have tri

[2017-10-09 14:19] scottyob commented on #2285
It might just be a bad board then perhaps?

[2017-10-09 14:22] chan2328 commented on #2299
# bootlog
Time Evt            Description  Parameters
   2:  0          CONFIG_LOADED
   2:  1       SYSTEM_INIT_DONE
 502: 19   TIMER_CHANNEL_MAPPED  (1, 1, 0, 2)
 502: 19   TIMER_CHANNEL_MAPPED  (2, 2, 0, 2)
 502: 19   TIMER_CHANNEL_MAPPED  (3, 3, 0, 2)
 502: 19   TIMER_CHANNEL_MAPPED  (4, 4, 0, 2)
 502: 19   TIMER_CHANNEL_MAPPED  (5, 5, 0, 2)
 502: 19   TIMER_CHANNEL_MAPPED  (6, 6, 0, 2)
 502:

[2017-10-09 15:37] giacomo892 commented on #2242
@digitalentity Yes. After the second rescue mission the wing still missing. RIP :)

[2017-10-09 15:43] fiam commented on #2242
Let us take a moment of silence for that Wing Wing. It will always be remembered as the wing who brought us low altitude alarms!

[2017-10-09 15:55] Target0815 commented on #2253
+1

[2017-10-09 16:13] giacomo892 commented on #2242
I'll place a marble commemorative stone where I lost it. You are all invited to the ceremony.

[2017-10-09 18:44] #2109 closed, assigned to nobody

[2017-10-09 20:00] Feldsalat opened #2301 "Wrong throttle value in NAV LAUNCH mode. Inav 1.7.3"
Starting the plane with NAV LAUNCH mode and flight mode set to HORIZON + ALTHOLD makes the motor spin only with "nav_fw_cruise_thr " value.
NAV LAUNCH without ALT HOLD mode lets the motor spin with "nav_fw_launch_thr" as it should.

Video:
[https://youtu.be/nFNhnC0H_4s](https://youtu.be/nFNhnC0H_4s)

Diff and log:
[launch fail.zip](https://github.com/iNavFlight/inav/files/1369677/launch.fail.zip)

[2017-10-09 20:04] fiam commented on #2256
Not sure if this is a bug per se. Maybe OpenTX is performing the inverse celsius/farenheit conversion since we're using a sensor intended for sending a temperature. Have you tested how the sensor data is displayed when the the radio is configured with Units = Imperial? (1st page in the OpenTX radio configuration)

[2017-10-09 20:06] fiam commented on #2301
Just edited your comment to fix the link.

[2017-10-09 20:37] domhan opened #2302 "Target Confusion Omnibus"
Hello,
sorry for the Question. I'm really confused about the Omnibus Targets. The Wiki, the Doc and the realese are different. In my Situation.

Omnibus F4 Pro AIO v3... what is the right target? Omnibusf4v3 or Omnibusf4pro?

Please help me - and if possible - please update the doc.

Thank you and best regards
Gregor

[2017-10-10 00:31] junwoo091400 opened #2304 "BlackBox data downloading takes too much time : 10+ minutes ..."
Hello, I have NAZE32 for quadcopter. And I use '2MB Memory On Board' to record my data.
The Problem is, even with only about 630kB of logged Data, it takes more than 4 minutes to download it via inav-configurator ...

When I have FULL 2MB data, it takes more than 10 minutes,,,
I think that with '115200(bits/s) = 14.0625[KiloBytes/s] or Slower' , it should only take
2*1024/14.0625 = 146 Seconds...

[2017-10-10 00:38] digitalentity commented on #2304
Which version of the firmware and Configurator are you using?

[2017-10-10 01:29] junwoo091400 commented on #2304
@digitalentity
on QUAD : 1.7.2 // using this because 1.7.3 didn't show onboard 2MB memory, but 1.7.2 did.
on Configurator : 1.7.3

Just looking back at it now,,, because 1.7.3 on configurator side didn't match my quad's, it might have had communication problems. And this also explains Wild Behavior of my Blackbox Replay video
https://www.youtube.com/watch?v=ao-gsP8AkRs
(Quad Graphic on the Top Lef

[2017-10-10 02:20] junwoo091400 opened #2305 "Can quad DISARM if throttle command goes low for some time during ALT_HOLD???"
Hello, I was performing AltHold + PosHold.
1) AltHold is Perfect. When I put middle throttle, it holds altitude really well. (I have set 'use_midthr_for_althold')
2) PosHold, on the other hand, especially in this case, I was using 'On-board magnetometer', Yes I know it is bad, but it worked when it was facing North, probably because magnetic field strength was strong enough to not mess-up it's Hea

[2017-10-10 03:06] digitalentity commented on #2305
From your log.
Flight #1: ACRO mode. Copder disarmed by stick combo (throttle low + yaw left). Perfectly valid.
Flight #2: 3D poshold mode (Alt + Pos). No disarm reason, log is truncated - the disarm event is not recorded in the log.

Also, in your video blackbox log probably doesn't match the video:
![image](https://user-images.githubusercontent.com/11059099/31367616-d442e3e4-adbb-11e7-9a51-4370e

[2017-10-10 03:43] junwoo091400 commented on #2305
Oops ;;
You are correct ... I didn't know I could select Log(2/2) in BlackBox Explorer .... Damn :(

But just a question, is it possible for quad to DISARM in midair, in ANY circumstances, if Throttle Command stays low for some time? (I found out that 2nd Log was cut in during hover.. so no crash log)

=> If so, wouldn't it be more safe to disable that? (Don't allow disarm while ALTHOLD)

[2017-10-10 03:48] digitalentity commented on #2305
If you are using stick arming & when throttle is staying low disarm is possible in one of two situations:

1. You use MOTOR_STOP and throttle stays low longer than `auto_disarm_delay` seconds
2. You move YAW sitck to the left thus executing disarm stick combo

[2017-10-10 03:50] digitalentity commented on #2305
Disabling possibility to disarm is a BAD idea. Imagine something going wrong - you'll have to firstly disable AltHold and only then attempt disarm. This is not a good situation from safety perspective.

[2017-10-10 04:04] junwoo091400 commented on #2305
@digitalentity
So does that mean : if MOTOR_STOP is disabled, which is my case, I can't disarm the quad just because I left throttle-command LOW for a long time? <Clears out One Possibility of my Crash>

[2017-10-10 04:36] chan2328 commented on #2299
i guess, that DA 5883 is QMC5883 compass. in INAV configurator UI there is no option for QMC5883. but found in CLI command.
when i set FAKE magnetometer in UI, CLI show as below.
mag_hardware = QMC5883
Allowed values: NONE, AUTO, HMC5883, AK8975, GPSMAG, MAG3110, AK8963, IST8310, QMC5883, FAKE

when i set FAKE in CLI. UI show "blank" in magnetometer.

unfortunately, it does not work also.

[2017-10-10 08:01] digitalentity commented on #2301
@Feldsalat from the log I can see that your plane was not in launch mode at the moment of arming. Did you activate launch mode switch before arming?

[2017-10-10 08:54] Feldsalat commented on #2301
Yes! First activated Launch mode and then I armed and then applied about 80% throttle. As you can see in the video launch was detected correctly only with wrong throttle value.
I tested the settings with the INAV-Configurator and launch mode was activated!
5 minutes later with "airmode" only:
[Mini Solius](https://www.youtube.com/watch?v=b5wWR0iwiEY)
Please forget the landing ;-)
[LOG00033.zip](ht

[2017-10-10 09:20] digitalentity commented on #2301
In your log from first post I see no traces of enabled launch mode. According to `flightModeFlags` field you only had `ARM`, `HORIZON` and `ALTHOLD` box modes enabled on your transmitter.

[2017-10-10 09:35] digitalentity commented on #1940
Another option is to remove MOTOR_STOP as a feature and make it a BOX mode assignable to a switch. This way user will be able to chose his own flexible behavior.

Similar to AIRMODE. We have a feature to enable it permanently + we have a mode that allows user to chose when it should be enabled.

[2017-10-10 09:38] oleost commented on #1940
Great idea, not necessarily new user friendly but gives a lot of flexibility.

[2017-10-10 09:42] digitalentity commented on #1940
It won't change current behavor if you use it as a feature, but using it as a mode will allow user to disable it for althold/RTH. I agree it's not 100% user friendly, but it will give users an option to configure it to their liking.

[2017-10-10 09:43] digitalentity commented on #1940
Ok, I've moved https://github.com/iNavFlight/inav/pull/2259 to 1.9, we'll have a MOTOR_STOP mode in 1.8

[2017-10-10 09:58] Feldsalat commented on #2301
?? the motor starts after throwing as expected in launch mode...
Without launch mode the motor would have spinned up directly after applying throttle!?
Now tested a second time and it worked as expected. I don't understand what happened yesterday... ?

[2017-10-10 10:09] Feldsalat commented on #2301
and... STAB was shown in OSD!

[2017-10-10 10:32] digitalentity commented on #2301
@Feldsalat so - most likely a user error. Can we close this?

[2017-10-10 10:41] Feldsalat commented on #2301
INAV behaved like in launch mode ... if there is no explanation I would not just ignore it.

[2017-10-10 10:42] digitalentity commented on #2301
Log says otherwise - it was AltHold from the moment of arming.

[2017-10-10 10:44] digitalentity commented on #2301
#1938 might have helped debugging tho - it would show what actual stick positions were.

[2017-10-10 11:09] digitalentity commented on #2305
No, if MOTOR_STOP is disabled, low throttle alone won't disarm. You have to attempt left yaw. Probably this is what happened - you need to hold yaw left only a for a few moments (~400ms) to disarm.

[2017-10-10 11:10] Dronek commented on #1940
Sounds good and most flexible.

Do you think I'm running into any issues with my approach above? If not, I'll just stick with it because it seems to do exactly what I need.

[2017-10-10 11:19] digitalentity commented on #1940
@Dronek if you keep `nav_fw_min_throttle` high enough - I don't expect issues.

[2017-10-10 11:28] Feldsalat commented on #2301
"Log says otherwise..."
Yes I understand but INAV behaved like in launch mode!  If i made a fault it should not show "STAB" on OSD and behave like in Launch mode. This time it only was a 120g plane...

"it would show what actual stick positions were"
Throttle stick is shown in OSD and the not spinning propellor at 78% throttle can be seen in video too.
When i touch the sticks while in launch mode

[2017-10-10 11:40] junwoo091400 commented on #2305
Thanks! Helped me alot!

[2017-10-10 11:40] #2305 closed, assigned to nobody

[2017-10-10 11:57] digitalentity commented on #2301
It showed `STAB` because AltHold mode on a plane forcibly enables stabilization (ANGLE mode).

[2017-10-10 12:06] digitalentity commented on #2301
You know what's interesting - there's no sign of throw in the logs. It looks like you armed when already flying - after the throw. Also, first half a second after arming throttle command is 1550 (commanded by AltHold) while motor is stopped - this means that throttle stick was at zero.

![image](https://user-images.githubusercontent.com/11059099/31385570-1e5c5f82-ae07-11e7-8a0a-548e98bd06f4.png)

[2017-10-10 12:34] digitalentity commented on #1940
After some discussion on Slack - closed via #2259

[2017-10-10 12:34] #1940 closed, assigned to nobody

[2017-10-10 12:44] CradyArt opened #2310 "Servo Throws Restricted In Non-Stabilized Modes"
Does anyone know why servo throws are restricted even in Passthru/Acro mode?  Starting with the Z-84 Wing template, I built a Sky Shadow around an Omnibus F3 AIO and a pair of Hitec digital servos and after getting everything calibrated (_gyros, Rx et al_) I notice the control surfaces weren't deflecting nearly as far as I'd assumed they should when not in a stabilized mode (_ie Passthru/Acro_).

[2017-10-10 12:50] Feldsalat commented on #2301
"It showed STAB because AltHold mode on a plane"
What I see in OSD:
no flightmode -> AIR
Horizon -> HOR
Horizon+Althold -> AH
Launch -> STAB (before throw and then furthermore five seconds)
RTH -> RTL
Poshold -> PH
...

"What transmitter/recevier are you using?"
Frsky Taranis X9D Plus with  XSR via SBUS

[2017-10-10 13:02] swemonstro opened #2312 "Omnibus F7 (Banggood) onboard barometer (BMP280) not detected"
I recently got a F7 omnibus from banggood, where there should be (and physically are mounted on the board) an BMP280 barometer, but I cant get any values from it.

Im very new to iNav, but I think I managed to flash the board to version 1.7.3

Any suggestions where to start? and what kind of information could I include here (and how) to make it easier to find the problem.

Sincerely yours

Carl fr

[2017-10-10 13:02] giacomo892 commented on #2310
Higher the D part of ROLL/PITCH and look at the elevons

[2017-10-10 13:04] DzikuVx commented on #2312
I falshed INAV to my Omnibus F7 (original, not BG clone) and it worked fine. Baro detected and functional.

[2017-10-10 13:05] CradyArt commented on #2310
Thanks.  I didn't realize the PIDs had any effect when in Passthru.  Is that documented because I never saw any mention of that

[2017-10-10 13:07] digitalentity commented on #2310
PIDs don't have any effect in PASSTHROUGH. However mixer does. Since 1.7.3 default flying wing mixer reduced pitch/roll weights to 50% to prevent servo saturation in some maneuvers. If you want old behavior - please install custom smix for a flying wing.

[2017-10-10 13:07] DzikuVx commented on #2310
@CradyLab in mixer each axis has only 50% authority on a servo in flying wing mixer.
Than means, full roll stick input will result only in 50% or servos movement.
Full servo deflections are possible only on max roll and max pitch. This is intended.
What I wrote applies to all  all modes, including Passthrough

[2017-10-10 13:08] digitalentity commented on #2312
@swemonstro please provide a link to the board you purchased.

[2017-10-10 13:08] DzikuVx commented on #2310
Or increase Servo rate to 125%, but standard mixer works just fine

[2017-10-10 13:08] swemonstro commented on #2312
Should have bought a real one (wasnt aware it was a clone when I bought it)

No other changes, norhing under ports or such?

[2017-10-10 13:08] digitalentity commented on #2301
This is odd. Log clearly indicates altitude hold being active. Is it possible that I'm looking ar wrong log?

[2017-10-10 13:12] CradyArt commented on #2310
**@DzikuVx** Out of curiousity I tried increasing the servo rate to 125% but that only add about 100 to each end - still well short of the full range.  That said, I won't mess with anything if the limits are there by design.  I haven't flown it yet and just wanted to be sure what I was seeing was normal ; )

Thanks!

[2017-10-10 13:13] digitalentity commented on #2310
Closing then

[2017-10-10 13:13] #2310 closed, assigned to nobody

[2017-10-10 13:22] DzikuVx commented on #2312
https://quadmeup.com/hands-on-omnibus-f7-flight-controller/

No changes were required, this baro is SPI connected. Either we again have a clone that changed something or board is damaged

[2017-10-10 13:28] michaelvanderhoek commented on #2312
try setting baro type to AUTO, my banggood board would not let me see baro also at first. Setting it to AUTO and pressing save,  then reboot the board did it for me.

[2017-10-10 13:40] swemonstro commented on #2312
The link to the board:
https://www.banggood.com/BF3_2-Omnibus-F7-Flight-Controller-STM32-F745-Integrated-OSD-Built-in-5V-2A-BEC-Dual-Sensors-p-1177839.html

I tried both set i manual and auto, but no luck

[2017-10-10 13:54] michaelvanderhoek commented on #2312
thats weird. maybe try flashing an older version of Inav, did you flash it in DFU mode?

[2017-10-10 14:01] DzikuVx commented on #2304
@junwoo091400 I'm affraid this will be a no-fix. Naze target reached end-of-life and will not be available in next release on INAV. Users of Naze will have to stick to 1.7.3 or older versions.

This is why I'm closing this issue

PS. 1.7.3 should be fully functional on Naze.

[2017-10-10 14:01] #2304 closed, assigned to nobody

[2017-10-10 14:05] DzikuVx commented on #2302
@domhan please understand that we are not in possesion of any new version of any flight controller. And versions of Omnibus F4 and created very frequently. V3 should use V3 target. OmnibusF4Pro is reserved for v2 hardware.

https://github.com/iNavFlight/inav/blob/master/docs/Board%20-%20Omnibus%20F4.md explains everything

Plus, there is no "official" v3 Pro. V3 Pro is only an another clone-with-c

[2017-10-10 14:05] #2302 closed, assigned to nobody

[2017-10-10 14:05] #2292 closed, assigned to nobody

[2017-10-10 15:23] swemonstro commented on #2312
I did flash it in DFU, trying right now to do that, but now it get stuck at 'erase'

trying to reinstall driver thru zadiq

[2017-10-10 16:36] swemonstro commented on #2312
and after that I cant reconnect at all. the computer dont even recognize the board as stm32, just Unknown USB Device (Device Descriptor Request Failed)

think my board is toast...  :(

[2017-10-10 17:39] Feldsalat commented on #2301
Excuse the waste of your time. It was the wrong log :-(   Sorry!

No signal is recorded for the motor in the correct log. I'm surprised a bit ...
I could hear the engine running clearly. Motor turned up (not full speed only about half throttle) and then slowly decreased  speed. In the video you can also see the motor was running.
Video with correct log:
[Video](https://youtu.be/yKWID1lk9nM)

I thi

[2017-10-10 17:42] DzikuVx commented on #2312
@swemonstro it's not that easy to fly a STM32. Probably it's only a driver problem

[2017-10-10 18:39] giacomo892 commented on #2312
Try to put it into bootloader and flash again with a different firmware and using "no reboot sequence"

[2017-10-10 18:57] swemonstro commented on #2312
In back again after some problems getting back into DFU.

there are only one firmware for omnibus F7. so not much to choose from unfortunately. or do you suggest trying another board?

[2017-10-10 23:58] teckel12 commented on #2278
I actually wouldn't mind if it defaulted to metric because everything else on the FC is metric by default and everything on my transmitter is metric by default as well.  It would seem more consistent if everything in INAV was metric.

[2017-10-11 00:08] teckel12 commented on #2256
I have my FC set to `frsky_unit = IMPERIAL` and there's nothing funny going on.  Everything is displayed correctly on my transmitter.

The reason it's set to degrees Celsius is because that's what the `Tmp2` telemetry sensor defaults to.  Maybe you changed the telemetry sensor on your transmitter from degrees Celsius to degrees Fahrenheit?

Also, are you running an older transmitter with frsky tel

[2017-10-11 00:29] digitalentity commented on #2301
@Feldsalat is there a correct log file? I'd like to see complete INAV's internal state.

Let's not close the issue just yet. Since we were looking at wrong log - all of the above conclusions are irrelevant.

[2017-10-11 00:34] digitalentity commented on #1938
Fixed by #2311

[2017-10-11 00:34] #1938 closed, assigned to nobody

[2017-10-11 00:35] teckel12 commented on #2117
At least I read this and will know why my LEDs will stop working when I upgrade to 1.7.4.  I'd suggest we make a release notes (if this wasn't already thought of).

[2017-10-11 00:43] digitalentity commented on #2117
@teckel12 good idea to mention that in release notes. There is a wiki work-in-progress page for that https://github.com/iNavFlight/inav/wiki/1.8.0-Release-notes

[2017-10-11 00:49] digitalentity opened #2316 "Automatically generate CLI documentation"
Since we now have cool `settings.yaml` why not put descriptions there as well and have a script that will generate `CLI.md` in the docs. One less file to maintain.

[2017-10-11 01:25] teckel12 commented on #1346
@cocolimon You'll probably find this image useful:

![CH5/CH6 Pads](https://static.rcgroups.net/forums/attachments/7/1/8/0/4/7/a10263427-106-OF4PROV3_001.JPG)

Note that with INAV v1.7.4 the LED pin will be on the J1 connector.  With 1.7.3 it's on PWM5 as illustrated in the above image.

[2017-10-11 07:09] michaelvanderhoek commented on #2312
try to flash it again in DFU mode. make sure you ticked the box: no reboot sequence.
Maybe it will work. if not then i think its a broken board

[2017-10-11 07:24] Feldsalat commented on #2301
I'd forgotten about that...
[LOG00031.TXT](https://github.com/iNavFlight/inav/files/1374541/LOG00031.TXT)

[2017-10-11 08:45] OlivierC-FR opened #2318 "Suggesting a new RTH mode : SHORTEST / DIRECT / STRAIGHT"
What about a RTH mode that would make the aircraft come back using the shortest possible path.

My practical case is as follow : With my flying wing, I'm 5000m away, 1000m higher.
In case of failsafe, if nav_rth_alt_mode is set to AT_LEAST or MAX or CURRENT or EXTRA, the plane will come back very high above me, and I may not be able to see it / hear it / visually take control back.
Auto-landing wo

[2017-10-11 09:22] swemonstro commented on #2312
I got the card back in DFU mode last night, and flashed it again. (but not sure if I ticked the 'no boot sequence' - what does that do?)

So now the flight controller works as Before, with acc. and so, but still no barometer.

[2017-10-11 09:29] swemonstro opened #2319 "Omnibus F7 (Banggood) problem with I2C"
I have as mentioned in Another thread some problem with my Omnibus clone from Banggod (wasnt aware it was a clone when procured unfortunate)

I have connected a gps to the card with success, but when I connect my compass (an external xxx) to the SCL/TX3 and SDA/RX3 (and 5V and GND) the card don't connect to my PC (normally USB4 appears when I plug in the USB)

do I need to start I2C somehow? or do

[2017-10-11 09:29] junwoo091400 commented on #2318
That would be a good Enhancement for Sure!
Your Idea can be combined with #2270 Issue.

[2017-10-11 09:42] Dronek commented on #2318
I ran into a similar situation lately, so I totally support this idea.
However, with a constant dive angle the slope is heavily influenced by wind:
a) With headwind the plane will lose altitude too quickly as a function of distance.
b) With tailwind the plane will lose altitude too slowly relaitve to home distance.

In a) it might descent to a defined "home altitude" way before it reaches home whi

[2017-10-11 09:46] SPlissken commented on #2256
I first noticed this after an upgrade from 1.6.1 to 1.7.3 left me with -13 satellites, I know this is now a post-fact world but I still found negative satellites hard to swallow, what next, imaginary satellites?

No matter the units that my transmitter was set in I still received negative satellites.
With 'frsky_unit = METRIC' entered on the CLI everything looked normal again so I had a poke aroun

[2017-10-11 09:56] jstremmler commented on #2117
Well, one couldn't  use LED strips with a hexacopter in iNav 1.7.3 before because A1 for motor 5 was resourced for the LED_Strips.

To avoid confusion in iNAV version 1.7.4 I would like to suggest that reserving B6 for the LED _Strip is only happening with a hexacopter frame!
With any quadcopter resource A1 should be reserved. Then people with quadcopters (and Omnibus clones) and people with hexac

[2017-10-11 10:09] OlivierC-FR commented on #2318
About the wind,  if the plane is constantly aiming for the point above the pilot, I guess the navigation PIDs would deal with it, no ? The "I" correction should fight the wind I think.

[2017-10-11 10:25] sniperxnl opened #2320 "in horizon mode servo wrong direction"
guys,

new build, passtrugh wing flys perfect, ground test horizon and the servos are the wrong direction. I have my taranis stock so nothing is mixed

[2017-10-11 10:27] digitalentity commented on #2320
Most likely wrong board alignment or wrong servo setup.

[2017-10-11 10:29] digitalentity commented on #2117
@jstremmler I'd rather support LEDSTRIP as it is on original Airbot boards. Trying to support all of Chinese clones is impossible.

[2017-10-11 10:30] digitalentity commented on #2319
This may happen if you connected something wrong and I2C bus got stuck.

[2017-10-11 10:31] digitalentity commented on #2312
My best bet is that it's a faulty board. Original Omnibus F7 works fine

[2017-10-11 10:44] Dronek commented on #2318
Sure, that's the intended behavior. But it is not achieved by a constant flight attitude (dive angle). In order to reach the mentioned point the flight attitude of the plane can be very different with different wind situations.

The method, I tried to discribe would be like RTH with CURRENT height while recalculating the value of CURRENT height as a function of home distance.

[2017-10-11 10:51] sniperxnl commented on #2320
board aligment is good. servo are both on -100 to fly in passtrough

[2017-10-11 11:23] junwoo091400 commented on #2318
And of course, Target home altitude should be higher with user specified rth altitude :)

[2017-10-11 11:56] digitalentity commented on #2301
Yes, this looks like a correct log.
We see the propeller spinning in the video without throttle signal probably because of the airflow - it's air spinning the propeller.

The throw was perfect, however the pitch angle of the plane was 48 deg - you pointed plane's nose too high in the air. There is a built-in safeguard that prevents launch from detecting a throw when the plane is tilted more than 4

[2017-10-11 12:01] digitalentity commented on #2320
The fact that the board is moving servos differently in HORIZON and PASSTHRU modes is in 100% cases configuration issue. Lilely causes:
1. Board alignment is incorrect
2. Stick input is reversed
3. Servo direction is incorrect.

Please upload your Configuration dump. Also, please connect your plane to Configurator and record some videos for us:

1. Configurator - Setup page (where we can see a 3D

[2017-10-11 12:08] Redshifft commented on #2318
There can never be a perfect single failsafe/RTH procedure for every situation :(

Best I can think off is  Failsafe > climb 10mtrs > if above set RTH height, desend at some ratio relative per km from home as Olivier said.

My thoughts for always having that initial climb is hopefully it will unblank say an RC link signal loss :)

[2017-10-11 12:56] Dronek commented on #2318
... so let's quickly and permanently dismiss the term "perfect" in conjunction with RTH/FS ;)

The way I see it, this here could be rather a mode which can be also an option for RTH (same as ALTHOLD being an option for RTH right now, aka CURRENT). It would be really useful to have a mode for general flying where the ratio of home distance and altitude is kept constant. Not only for RTH.

[2017-10-11 13:30] OlivierC-FR commented on #2318
I sooo agree with the initial climb, always necessary, even if the aircraft is well above the set RTH altitude, some extra 20-40 meters is often enough to get the video feed or RC link back, most of the failsafes at medium-long range are because you went slightly behind the top of a hill.

Now, to be honest my actual setting of RTH = FIXED at altitude 50m, plus the max dive angle set to 5° is work

[2017-10-11 13:46] sniperxnl opened #2321 "Omnibus F4 v2 usb came off"
Guys,

In the field today after some testing inflight the usb came off, and also the pads.
Someone knows away to get it back online?

[2017-10-11 13:51] DzikuVx commented on #2321
@sniperxnl I do not think this is the correct place to ask that specific hardware questions. But if pads are gone, it might be undoable and getting a new board might be the cheapest solution

[2017-10-11 13:51] #2321 closed, assigned to nobody

[2017-10-11 13:52] sniperxnl commented on #2321
That is not true, when it happen in betaflight then there is a special betaflight firmware that activate on a other uart the msp, you need to load that with a st-link v2 tool. So there is a inav firmware needed that use a diffrent msp port

[2017-10-11 13:57] digitalentity commented on #2321
MSP is enabled by default on UART1 on all boards with VCP

[2017-10-11 14:42] Feldsalat commented on #2301
If I had not heard the motor run... but I have.
This all seems to be impossible ... :-(  I would also not believe it.
The speed of the propeller is much too high. This was not only by airflow.
It is impossible to let the motor turn only by throwing the plane. I tested it several times today...

Some minutes bevor with a spinning propeller by airflow:
[airflow](https://youtu.be/4xRf-S3p4ho)

and at

[2017-10-11 15:33] swemonstro commented on #2319
And there is nothing I should do on the board to enable i2c since its on the same pins as UART3?  or change anything at 'ports'?

[2017-10-11 16:38] Redshifft commented on #2318
Yes, max dive angle set to 5° + fixed 50mRTH altitude will get the job done at your 5k distance very well (about 1m down every 11.43m covered) I suppose straight to a home point 50m high should not get many in trouble as we are all going to be basically LOS

[2017-10-11 16:50] Pairan commented on #2320
had the same ... but then found, I've swapped Servo 3 with Servo 4 and was able to fly it in passthr! Going to horizon was almost fatal :)

So ... nothing wrong with iNav ... the setup is mixed!

[2017-10-11 18:23] acazorso7 opened #2322 "Setting max altitude in ALTHOLD mode?"
Hello,
It's possible to set a maximum altitude when the quadcopter is flying in ALTHOLD mode? I'm searching because I think that it's very useful when we fly indoors. Right now I can't find something similar in iNAV.

For example, when quadcopter arrives to 3 meters it maintains the 3 meters and only obey the remot control when it indicates to lose altitude.

Could someone let me know if it exists

[2017-10-11 18:29] DzikuVx commented on #1579
I just tested AnyFCF7 with 8/8kHz, acc at 1kHz and attitude and 500Hz. Load at 37%, I suppose we can assume problem solved. Thank everyone

[2017-10-11 18:29] #1579 closed, assigned to nobody

[2017-10-11 18:37] DzikuVx commented on #2181
Since ticket seems to to stuck and at least one good advice was added, I'm closing it. Thank you

[2017-10-11 18:37] #2181 closed, assigned to nobody

[2017-10-11 18:38] fiam commented on #2322
@acazorso7 Not possible at the moment. See #1510

[2017-10-11 21:50] Bushedo opened #2323 "Magnetometer issues with Omnibus F3"
I have issues with external mag under iNAV Config 1.7.3. I have an Omnibus F3 AIO (no magnetometer) FC from RTF Quads. I cannot get it to work with the external compass on my GPS in iNAV. The compass module uses a 5883 mag that I have verified works using an Arduino mega board and Adafruit libraries and code. GPS works fine in iNAV. When I select this chip under the mag drop down menu and save the

[2017-10-11 22:22] digitalentity commented on #2323
Is you GPS module powered? When connected only by USB Omnibus doesn't provide power to external devices.

[2017-10-12 03:11] Bushedo commented on #2323
I also had the problem with battery power connected.  Not sure if that was the case when I tried the pull-up resistors.  Do you think I should retry them using battery power?

________________________________
From: Konstantin Sharlaimov <notifications@github.com>
Sent: Wednesday, October 11, 2017 5:22 PM
To: iNavFlight/inav
Cc: Bushedo; Author
Subject: Re: [iNavFlight/inav] Magnetometer issues wit

[2017-10-12 07:41] Dronek commented on #2318
@Redshifft @OlivierC-FR
Just take into account that the "dive angle" in iNav is actually the pitch angle of the aircraft.
This will guarantee a constant negative vertical speed at most. The fixed angle can however result in very different slopes depending on wind and even depending on aircraft since ground speed will be different.
For example: with headwind the actual slope will be steeper than wi

[2017-10-12 07:45] OlivierC-FR commented on #2318
I agree, limiting the dive and climb angles to low values is not ideal.

[2017-10-12 08:50] fiam commented on #2316
This definitely makes a lot of sense. I think we should also move the default setting values to the `yaml` file when possible.

[2017-10-12 08:53] digitalentity commented on #2206
PR merged

[2017-10-12 08:53] #2206 closed, assigned to fiam

[2017-10-12 08:53] digitalentity commented on #2242
Fixed via 2296

[2017-10-12 08:53] digitalentity commented on #2199
Fixed via 2296

[2017-10-12 08:53] #2199 closed, assigned to fiam

[2017-10-12 08:53] #2242 closed, assigned to fiam

[2017-10-12 08:59] fiam commented on #2297
Fixed by #2296

[2017-10-12 08:59] #2297 closed, assigned to fiam

[2017-10-12 09:01] digitalentity commented on #2316
Good idea. We can auto-generate `#define`s for default setting values and we could use those defines in PG reset structures.

[2017-10-12 09:08] fiam commented on #1272
Fixed by #2274 and https://github.com/iNavFlight/inav-configurator/pull/279

[2017-10-12 09:08] #1272 closed, assigned to fiam

[2017-10-12 10:01] acazorso7 commented on #2322
@fiam Many thanks for your quick answer. Do you know if this development is in progress or planned for the near future?

[2017-10-12 10:40] alanfj opened #2325 "Betaflight OmniBus F4 Pro V2 Flight Control Built-in OSD/BEC For FPV Drone Quad"
This FC came pre-flashed w/ Betaflght 3.10 OMNIBUSF4SD. It will not flash w/ any of the INAV Omnibus targets. It just hangs in erase mode. Any idea what could be my problem?

[2017-10-12 10:45] fiam commented on #2322
@acazorso7 Not that I'm aware of.

We do have an altitude alarm in the OSD and most people seem to be happy with that. Artificially blocking climbing could prevent you from avoiding and obstacle and cause a crash, that's why we're a bit hesitant to add such a feature.

Discussion and PRs are always welcome, so feel free to tell us about your use case.

[2017-10-12 10:47] fiam commented on #2325
@alanfj The bug has already been fixed in the configurator and will be available in the next release.

As a temporary workaround, disable full chip erase while flashing. Flash INAV and then go to the CLI and enter the `defaults` command. It should have the same effect as a full chip erase.

[2017-10-12 10:47] #2325 closed, assigned to nobody

[2017-10-12 14:30] DzikuVx commented on #2253
After some discussions in the team, I'm forced to close it. The INAV team will not actively add this target without external support. If for example @hydra will decide to add it to INAV then great. If not, chance of that happening are rather not existent

[2017-10-12 14:30] #2253 closed, assigned to nobody

[2017-10-12 17:08] stronnag opened #2327 "MSP_RTC can return incorrect or invalid (0) time (affects BBlog ctime and date stamp as well)."
This is really a record of an unexpected occurrence rather than a bug (maybe). Apologies that this is a bit of a saga.

Today, in 1 of 7 BB logs, RTC was not set; note: During this whole episode there was sub 1.2 HDOP, between 19-27 visible satellites and solid 3D fix.

Since we introduced `MSP2_COMMON_SET_TZ` and `MSP_RTC` mwp has been logging RTC in mwp's stderr log as (for example) ---- here I'

[2017-10-12 17:18] stronnag commented on #2327
Here's the number of satellites / HDOP immediately into the mission. Good quality coverage.
Beitian BN880 (with Galilleo), UBLOX7 iNav defaults.

![image](https://user-images.githubusercontent.com/158229/31509479-8b12d30e-af79-11e7-8d8c-659bc171da2c.png)

[2017-10-12 19:21] swemonstro commented on #2312
Banggood asked be to document the behavior on video, so I did. Perhaps anybody can see if I do anything wrong.

https://youtu.be/UiZz_-FuWUs

[2017-10-12 19:24] swemonstro commented on #2323
Sounds like the same problem I have with my Omnibus F7 board. #2319

[2017-10-12 19:24] swemonstro commented on #2319
Banggood asked be to document the behavior on video, so I did. Perhaps anybody can see if I do anything wrong.

https://youtu.be/UiZz_-FuWUs

[2017-10-12 19:49] giacomo892 commented on #2319
Have you checked that UART3 is all disabled from Ports tab?

[2017-10-12 19:50] Bushedo commented on #2323
On my F3 board the baro works so the I2C bus is working.  Whenever I set the mag parameters in config and have SDA and SCL connected, the config program tells me I have to update the flight controller software.

________________________________
From: swemonstro <notifications@github.com>
Sent: Thursday, October 12, 2017 2:24:19 PM
To: iNavFlight/inav
Cc: Bushedo; Author
Subject: Re: [iNavFlight/in

[2017-10-12 19:52] swemonstro commented on #2319
This is how the ports are configured:
![image](https://user-images.githubusercontent.com/32247969/31516069-8cf3f86a-af97-11e7-9e03-40461a2560bd.png)

[2017-10-12 19:53] swemonstro commented on #2323
Ah, not quite the same problem then...

[2017-10-12 19:58] giacomo892 commented on #2323
Bare in mind that on OMNIBUS F3 BARO is connected to SPI bus. Not I2C.

[2017-10-12 20:25] giacomo892 commented on #2319
Do you mind adding 4.7k resistors from SDA,SCL to 3.3v? and see if baro is detected?
Btw the fact that the board is not powering up via USB is not a good sign.

[2017-10-12 22:11] Bushedo commented on #2323
Oh, I didn't know that.  Since the BME280 can be either I2C or SPI is it for sure the case that all baros are using SPI on the F3 boards?

[2017-10-12 23:39] jaisor commented on #1583
Adding pullups solved it for me too, both iNav and BetaFlight 3.2. Thanks for the tip. FC was Omnibus F4 SD. Remapped UART3 to I2C.
![2017-10-10 22 58 03](https://user-images.githubusercontent.com/1857800/31524030-dfbd354c-af6b-11e7-865f-2d7ddd656a9d.jpg)

[2017-10-13 06:22] stronnag commented on #2327
As this is not a flight safety issue and is currently of indeterminate cause, I'm closing it. It can always be resurrected if more information emerges.

[2017-10-13 07:21] DzikuVx commented on #2319
Yesterday I flashed my Omnibus F7 (original from Airbot) with INAV and everything worked fine: HMC588L mag and onboard baro were detected and working.
So, either FC is damaged or external MAG is damaged and not working correctly.
@swemonstro check different I2C hardware.a
Closing.

[2017-10-13 07:21] #2319 closed, assigned to nobody

[2017-10-13 07:37] DzikuVx commented on #2312
Like I wrote in the other ticket, I flashed Omnibus F7 yesterday, everything seemed to be working fine, including barometer. So sorry, but looks like INAV has nothing to do with your problems and it seems to be hardware issue.

BTW, I watched the video, and I do not see anything wrong with your setup

[2017-10-13 07:37] #2312 closed, assigned to nobody

[2017-10-13 07:40] swemonstro commented on #2312
Thank you. no I also believe that it's the board that's the problem.

Thank you for the support!

[2017-10-13 07:42] swemonstro commented on #2319
I tried an added the resistors as suggested, tried two versions of magentometers and totaly three different sensors but the same result every time.

I'm now convinced its the F7 board that's faulty

[2017-10-13 08:43] konraddi commented on #2181
Hi @Schalonsus @DzikuVx,

many thanks for your advice. I raised nav_fw_pos_xy_p to 40 and then it worked fine.

My other wing, a Popwing 1300, when flying in RTH or Althold, does overshoot the horizon line and banks up and down several times before flying level.
What values are the ones that apply for that? My Teksumo had those following values and he flew fine, in my Popwing diff there is none (b

[2017-10-13 08:56] SPlissken commented on #2256
I've checked the code in telemetry/smartport.c which does a similar thing by sending HDOP and number of satellites as temperature in FSSP_DATAID_T2, line 696.
There is no conversion going on there at all and there is no switch based upon METRIC/IMPERIAL which lends further weight to the argument that the conversion in sendSatalliteSignalQualityAsTemperature2() in telemetry/frsky.c is wrong.

[2017-10-13 10:13] StariyHopeer opened #2330 "Naze32 inav 1.7.3 buzzer and baro"
after flashing no beeping boozer on naze32 now. After the L2c port connected 3dof Compass HMC5983 BMP180 barometer. on of them is automatically started only a compass, a barometer is not defined. When trying to put the barometer in the manual, nothing happens and on the Board the led blinks.

[2017-10-13 10:18] stronnag commented on #2330
The BMP180 (BMP085) is not compiled by default on NAZE target. As F1 will not be supported after 1.8, your will have to compile your own firmware. See https://github.com/iNavFlight/inav/wiki/Building-custom-firmware if you need some assistance.

[2017-10-13 10:45] StariyHopeer commented on #2330
Thanks for the help, but for me it's too difficult, have no barometer.

[2017-10-13 11:04] giacomo892 commented on #2330
Here you are 1.7.3 with BMP180 enabled.
@StariyHopeer

[inav_1.7.3_NAZE_BMP180.hex.zip](https://github.com/iNavFlight/inav/files/1382368/inav_1.7.3_NAZE_BMP180.hex.zip)

[2017-10-13 11:09] DzikuVx commented on #2330
And since Naze will not be supported in next version of INAV, I'm closing this one. Thanks everyone

[2017-10-13 11:09] #2330 closed, assigned to nobody

[2017-10-13 11:12] #2320 closed, assigned to nobody

[2017-10-13 11:20] StariyHopeer commented on #2330
thank you very much for the help!

[2017-10-13 11:21] DzikuVx commented on #2181
@konraddi yes, those values affects all flight modes besides Acro and Passthrough

[2017-10-13 12:47] jflyper commented on #2323
For Omnibus (F3), onboard BMP280 (not BME280) is on SPI.

[2017-10-13 14:09] Bushedo commented on #2323
Well, it seems the issue is likely a faulty I2C bus on this FC.  Anyone know how common this is?

[2017-10-13 17:42] jflyper commented on #2323
Never heard of the case.

You have to find out what's going on by scoping. Logic analyzer, then DSO.

[2017-10-13 18:38] markandkymward commented on #2107
Has there been any movement on this?  I am still stuck

[2017-10-13 21:20] asteman commented on #1820
@oleost I'm on 1.7.3. You mentioned that arming isn't possible with WP set "too far off". I can set a waypoint 50m off. But not a few 100m or 10km. What is the definition of "too far off"?

[2017-10-13 21:31] stronnag commented on #1820
The value set in the CLI by the key `nav_wp_safe_distance`. The default is 10000( cm) i.e. 100m.

[2017-10-13 23:24] digitalentity commented on #2107
Unfortunately I'm not able to reproduce the issue on board and all my PCs (linux, windows 7, windows 10). I can't tackle a bug which I can't reproduce.

[2017-10-13 23:28] digitalentity commented on #1786
This needs to be discussed further. @teckel12 you may want to check if this is relevant to LuaTelemetry

[2017-10-13 23:29] digitalentity commented on #1989
Since I'm going to plan an overhaul of driver code for 1.9 it would be logical to deal with this issue then

[2017-10-13 23:29] digitalentity commented on #2278
Ok, metric it is. Done in #2294

[2017-10-13 23:30] #2278 closed, assigned to fiam

[2017-10-13 23:33] digitalentity opened #2331 "Flying/not flying detection"
Add some heuristics to figure out if we are flying or not to allow different behavior of i.e. failsafe mode.

[2017-10-13 23:39] digitalentity commented on #2131
Fixed by #2076

[2017-10-13 23:39] #2131 closed, assigned to nobody

[2017-10-13 23:42] digitalentity commented on #1559
Closed via 2076. Please test and report if it doesn't work for you

[2017-10-13 23:42] #1559 closed, assigned to nobody

[2017-10-14 03:32] randyoo commented on #1791
This issue is reproducible for me on an Omnibus clone (f4 v5pro) on 1.7.2 with a Beitian BN-880 GPS/compass. There's no blackbox capability on this FC due to lack of SD card slot, or I'd capture and share a log.

Engaging Pos Hold after a cold boot seems to always result in the aircraft flying away, but after a soft reboot is performed, PH works fine. I haven't yet observed an occasion where PH di

[2017-10-14 05:30] markandkymward commented on #2107
Discovered a work-around. If The usb is plugged into an unpowered FC the computer will not recognize it. If I apply 5v, then plug in the FC it connects straight away.  Auto connect in INav will not work in this case.  Works for both WIN10 and Linux.

[2017-10-14 09:45] Jozx900 opened #2332 "How we test RTH on the ground"
We put F4 v2 in the FT mini arrow. GPS gets 9 and disarmed moto.  When turn to RTH model and  set throttle to the center, The moto was start. We taken the FT with bicycle and rode 10 meter. the moto suddenly stop when RTH is on. We think is too dangerous the moto stop in the sky. Is that possible when the RTH turns on in the sky then all moto will stop?
We are afraid to fly with Inav now,
How to s

[2017-10-14 11:36] oleost commented on #2332
https://github.com/iNavFlight/inav/wiki/Failsafe

[2017-10-14 12:48] voodou59 commented on #2035
I tried it today, everything work good after a new update. Thanks for help. You can close it ;-)

[2017-10-14 15:23] stefan73 commented on #2236
Bad news in terms of reproducability. I killed the remote that was involved into this. This made me switch to an rc with arm switch and ibus communication. So I cannot reproduce it any more. Sorry for that.

[2017-10-14 19:15] teckel12 commented on #2256
@SPlissken I can confirm that it works correctly with SmartPort as I just totally re-worked `smartport.c`. It's correct that it sends as Celsius, but there shouldn't be any conversion from metric to imperial as it's not sending a temperature, just using a telemetry sensor that defaults to Celsius.

So I would agree `frsky.c` is wrong. No imperial/metric conversion should happen with that telemetry

[2017-10-14 19:20] teckel12 commented on #2256
@SPlissken As part of this change, we could also get the FrSky and SmartPort telemetry in sync. This would help avoid confusion with sensor data differences and allow my INAV Lua script to work with FrSky D-series receivers as a bonus. I could look at doing the code changes if someone could test the results for me.

[2017-10-14 19:46] SPlissken commented on #2256
@teckel12 I have had a think about that, and the first thing that occurred to me was that I have renamed a lot of my sensors so that they appear with decent names on my own telemetry screens, I would have thought that other people might have done this too, so using ID's rather than names would be a worthwhile extension to the code I feel.

Also there is no distance sensor in frsky.c so that might

[2017-10-14 20:37] SPlissken commented on #2256
@teckel12 I'll definitely help with the testing but if you are talking about a rewrite of frsky.c then there is a lot of redundant and buggy code for the various voltage sensors. I use my own version of frsky.c which fixes these problems which I update myself and recompile at every release. I haven't submitted anything here because I felt that messing with people's voltage sensors might annoy thos

[2017-10-15 02:20] teckel12 commented on #2256
@SPlissken I did a lot of work with the SmartPort telemetry to also support 2-way communication. I don't think a total rewrite for FrSky telemetry would be required to be more consistent with SmartPort, increase functionality and still not mess up people that have long-standing scripts or settings. I'll look at the FrSky code tomorrow and see what the potential issues are. Also, it sounds like may

[2017-10-15 04:57] awcherry2 opened #2339 "SP Racing F4 Evo Flashing problem"
Unable to flash inav to SP Racing F4.  Board connects in DFU mode with boot button pressed.  Firmware is loaded online successfully.  Upon hitting "flash firmware", board hangs at "Erasing".

Log information displayed at top of screen, upon hitting "flash firmware" is "USB device successfully opened with ID: 1" then "Detected device with total flash size 1024 kiB" then after about 4 seconds, "USB

[2017-10-15 05:47] digitalentity commented on #2236
@stefan73 same here. Unable to reproduce neither on Taranis (with variety of receivers) nor on FlySky (IBUS, SBUS & PPM tested)

[2017-10-15 05:51] digitalentity commented on #2339
Unckeck "Full erase" switch. Issue is already fixed in new configurator (which is not released yet)

[2017-10-15 06:06] awcherry2 commented on #2339
Thank you for the prompt reply.  I had actually tried this already, but with similar results to other times I flashed; board did not connect, device unrecognized by Windows.

I now realize that I did in fact flash successfully, but I am having the problem mentioned in a prior Issue regarding COM ports / USB 3.0 ports and this board.

We can consider this closed, and I will switch over to that thre

[2017-10-15 06:06] #2339 closed, assigned to nobody

[2017-10-15 09:04] sin5678 commented on #2040
i think now concept of flight modes is the best, just add a extra check of the combination is enough

[2017-10-15 09:19] digitalentity commented on #2040
@sincoder "the most flexible" - yes, "the best" - I'm not so sure. There are too many combinations of incompatible modes to check - and checks happen in a lot of different places in the code. It's very easy to miss something when adding a new mode - and then have a report about something bad happening because used enabled the two together.

[2017-10-15 09:45] sin5678 opened #2340 "Suggesting add a param to disable failsafe when flying waypoints"
waypoint behind builds or fly very far away will surly cause failsafe active and then waypoints task exit，so I suggest add a param to disable failsafe when flying WP and auto enable it when WP task done

[2017-10-15 10:45] fiam opened #2341 "Allow in-flight adjustment of settings via channels"
A 1500us value should be interpreted as no changes to the configured permanent setting. Values in the [1000, 1500) and (1500, 2000] range should increase or decrease the setting proportionally up to a minimum and a maximum value.

We should require any channels linked to a setting to be centered before arming. When this happens, we should show a message in the OSD informing the user.

Things that

[2017-10-15 10:54] fiam commented on #2027
I'd say that we can consider the AIRMODE part of this issue fixed. We now enable it by default on FW presets via the feature bits, so users don't need to set up modes for it.

[2017-10-15 10:54] #2027 closed, assigned to fiam

[2017-10-15 10:55] klomfar commented on #2172
Me too,how solve the problem?

[2017-10-15 10:57] digitalentity commented on #2172
The problem is spaces in your PATH: `C:\Program Files (x86)\GNU Tools ARM Embedded\4.8 2014q2....`. Ruby on CYGWIN doesn't like spaces in PATH variable.

[2017-10-15 11:04] klomfar commented on #2172
Thanks a lot but i have error with next line :/ Can you help me?
`$ make TARGET=NAZE
settings.yaml -> settings_generated.h, settings_generated.c
%% cli.c
./src/main/fc/cli.c:302:37: error: unknown type name 'clivalue_t'
 static void printValuePointer(const clivalue_t *var, const void *valuePointer, uint32_t full)
                                     ^
./src/main/fc/cli.c: In function 'printValuePo

[2017-10-15 11:07] stronnag commented on #2172
a contemporary compiler might help, 4.8 is ancient.

[2017-10-15 11:09] fiam commented on #2172
@klomfar You seem to have your local copy in an inconsistent state. Remove:

- obj directory
- src/main/fc/settings_generated.h
- src/main/fc/settings_generated.c

Make sure your checkout is clean (check `git status` output). Also, as @stronnag has said an updated compiler might be required too. The settings generator wasn't tested with GCC 4.8.

[2017-10-15 11:50] klomfar commented on #2172
thanks a lot, firmware compiled....

[2017-10-15 12:36] krzysztofmatula commented on #1581
It happened again on inav 1.7.3.
Too bad I don't have a log...
My quad turned towards home and stayed at altitude ~19m according to telemetry. I have the return altitude set to 20m.

[2017-10-15 12:59] krzysztofmatula commented on #2331
Two cases happened to me recently where such information could be useful:

1. I crashed at some distance and the RX signal was lost (probably because RX antenna was digging the ground). The quad engaged RTH (I saw this on FPV) and the motors were spinning almost full throttle trying to do something. But it didn't actually change much. It took me couple of minutes to get closer and disarm. During t

[2017-10-15 13:48] sin5678 commented on #2040
maybe we can learn how DJI  does, flight mode P , A ,  F , S , function button : RTH , STOP ,Intelligent flight mode: head less ....etc, just as you think

[2017-10-15 15:27] brat002 commented on #1269
How about return to this feature? We don't really need airspeed to use TPA. Gps speed will give more accurate coefficient for tpa than throttle level. Say more - throttle based pid attenuation is a bit pain for hand launch and high speed planes.

[2017-10-15 17:23] michaelvanderhoek opened #2342 "Omnibus F4 V2 not in pwm mode"
Hi all!

Im setting up an omnibus F4 V2 for my Radjet and want to use my old FrSky V8frII receiver which is only pwm out.
When i check the box for PWM in (single wire) and click save it reboots and then it is still on PPM in.
Doesnt matter which firmware I choose.

Im on 1.7.3 now, downgraded to 1.7.2 and 1.7.1 but no luck so far.

Any ideas?

[2017-10-15 17:51] DzikuVx commented on #2342
This board does not support PWM input (1 channel per wire). There are not enough hardware inputs, sorry

[2017-10-15 17:51] #2342 closed, assigned to nobody

[2017-10-15 18:01] jaymal66 opened #2343 "Problem with the implementation of the smartport telemetry improvements"
In the  new  smartport telemetry documentation the following    for the digit D of Tmp1 is stated
1 =angle mode ,2=horizon mode ,4 = auto tune mode ,4= passthru mode
Is that a tipo ?.... since  otherwise  the autotune and passthru mode  would be undisdingshable even when applying the additive rule.
Indeed   switching the the auto tune mode on top of  the underlying 3 possible  modes angle,horizon

[2017-10-15 18:12] Dronek commented on #1269
I don't think so. Really, TPA on fixed wing should be based solely on airflow aka airspeed or throttle as an alternative when airspeed is not available. GPS speed seems to be the worst option in my opinion.
If you dive vertically with zero throttle GPS speed will be more or less zero too. Airspeed will be quite high, however, and thus PI should be attenuated properly.

If you disagree, feel free t

[2017-10-15 18:23] michaelvanderhoek commented on #2342
Thats weird right? It does have pwm 1-4 and gnd + 5V on a connector. Or is that PWM out at J11?

Ill order some ppm decoders then! Thanks fir the quick reply

[2017-10-15 18:45] brat002 commented on #1269
But we can calculate 3d speed instead of 2d, right? If plane dives, altitude also will go down. Flight controller always knows vertical and horizontal offset from previous point to current point.

Really almost none flies with pitot. We need working TPA, which has been based on fact "how fast plane flies", but not on "how fast plane can fly".

[2017-10-15 19:03] teckel12 commented on #2343
The autotune and passthru modes were already in place before I made the changes to the SmartPort code (along with the flawed logic).  I left it because I didn't want to mess up anyone who was using it.  Basically, this is **NOT** part of my changes, but legacy stuff that is obviously incorrect.

I didn't change the legacy autotune/passthru mode stuff as I don't have any fixed wing models and I hav

[2017-10-15 19:14] teckel12 commented on #2343
@jaymal66 After looking at the code, I guess I did remove auto tune mode from `Tmp1` field `D`. I really though I left it for legacy reasons, but maybe not.  I'll change the documentation.

[2017-10-15 19:24] Dronek commented on #2341
I'm already running out of my 12 channels. It would be nice if steering sticks (existing channels) could be used for this purpose. Maybe together with a momentary switch.

Maybe like this:
if momentary switch engaged -> steering commands freeze + sticks change different parameters
if momentary switch released -> parameters are saved + steering via sticks allowed again

With momentary switch engage

[2017-10-15 19:49] jaymal66 commented on #2343
Thanks for the feedback .I do understand that dealing with legacy stuff is ungrateful.

No need to do anything beyond   identifying  the files which  you touched to  add or modify what ever you did as part of this telemetry update.

I’ll fork the stuff out  ,  try sort things out myself  and make a custom firmware for my flight controller .

If anything meaningful comes out I’ll notify

greetings

[2017-10-15 20:07] fiam opened #2344 "Allow landing after RTH just during failsafe"
I know we're pushing it a bit for the 1.8 release, but I'd like to get one more small thing done which could avoid some crashes. Since planes can't (still) land vertically on INAV and we don't have any way to avoid obstacles that might be present around the home position (e.g. trees), I prefer to disable landing during RTH, take control when the plane is close to me and land it manually.

This beh

[2017-10-15 20:09] KiwiDavid commented on #2323
As DE indicated the GPS needs to be powered off a battery (not USB) but the GPS module usually has a 5V to 3.3V regulator which provides power to both the GPS and the on-board mag sensor.  If the GPS is unpowered then you also have an unpowered mag chip sitting on the I2C lines and substrate diodes may start to conduct causing problems with the bus.
I can't access my SP F3 board with external mag

[2017-10-15 20:22] SPlissken commented on #2256
@teckel12 I have attached my frsky.c version with comments next to the code that I've changed in lines 378-431.
All the changes have been tested and working for me for about 9 months.

[frsky_markup.txt](https://github.com/iNavFlight/inav/files/1385787/frsky_markup.txt)

[2017-10-15 20:38] giacomo892 commented on #2344
Nice idea. I think solution A is the best IMHO. Maybe the third state can be called FS_ONLY

[2017-10-15 20:43] Bushedo commented on #2323
Well,  I had battery power applied during some of the tests where the mag failed.  I also checked voltage at the 5v pins of J11-13 and measured 4.6-4.7 volts with just USB power applied.  With battery connected these pins showed 5v.  I will confirm the results of mag tests with battery power tonight.

________________________________
From: KiwiDavid <notifications@github.com>
Sent: Sunday, October

[2017-10-15 21:17] KiwiDavid commented on #2323
Failing on battery power does sound like an issue.  I and a few others a while back had temperature related problems with mag detection.  Mine worked fine in the house but always failed at the field - basically any temperature below about 20C it failed to detect the mag chip and the I2C logs show it was never addressed by the micro - i.e. not a sensor fault.
Your problem may be totally different b

[2017-10-15 21:55] Bushedo commented on #2323
How can I see the I2C logs?

Sent from my Verizon, Samsung Galaxy smartphone

-------- Original message --------
From: KiwiDavid <notifications@github.com>
Date: 10/15/17 4:17 PM (GMT-06:00)
To: iNavFlight/inav <inav@noreply.github.com>
Cc: Bushedo <bushedohm@hotmail.com>, Author <author@noreply.github.com>
Subject: Re: [iNavFlight/inav] Magnetometer issues with Omnibus F3 (#2323)

Failing on batt

[2017-10-15 22:54] Hoog2000 opened #2345 "Compas calibration"
Can i calibrat the magnometer from my radio controler before every fligt. or nead i to USE my PC? :)

[2017-10-15 23:16] KiwiDavid commented on #2323
Sure - they're a little lengthy but I've cut them to the minimum.

Bad start up.
Time [s],Packet ID,Address,Data,Read/Write,ACK/NAK
2.6875e-005,0,h (0x68),u (0x75),Write,ACK
7.8375e-005,1,h (0x68),h (0x68),Read,NAK
0.000134625,2,h (0x68),'0' (0x00),Write,ACK
0.000186125,3,h (0x68),'255' (0xFF),Read,NAK
0.0002425,4,h (0x68),'6' (0x06),Write,ACK
0.000294125,5,h (0x68),'19' (0x13),Read,ACK
0.000317,5

[2017-10-16 01:03] KiwiDavid commented on #2323
Sorry - if you want to record I2C traffic yourself it requires a logic analyzer - probably not worth the effort unless you have other needs for it.

[2017-10-16 01:29] Bushedo commented on #2323
Oh, thought maybe the black box did it somehow.

Sent from my Verizon, Samsung Galaxy smartphone

-------- Original message --------
From: KiwiDavid <notifications@github.com>
Date: 10/15/17 8:03 PM (GMT-06:00)
To: iNavFlight/inav <inav@noreply.github.com>
Cc: Bushedo <bushedohm@hotmail.com>, Author <author@noreply.github.com>
Subject: Re: [iNavFlight/inav] Magnetometer issues with Omnibus F3 (#23

[2017-10-16 06:57] digitalentity commented on #1581
@krzysztofmatula try increasing `inav_w_z_baro_p` to 0.5 or even to 0.75.

[2017-10-16 06:57] digitalentity commented on #1269
GPS has nothing to do with TPA for airplanes. Imagine flying a glider. With some headwind you can hover in one place. GPS will be reading zero, but you'll have sufficient airspeed to maintain lift. There's no way of knowing that airspeed without a specialized sensor.

However there is a very close relation between airspeed and throttle in near-horizontal flight. Climbing or diving is another story

[2017-10-16 07:03] digitalentity commented on #2344
@fiam I think that solution A is the best at the moment. Let's change names to `NEVER` `ALWAYS` `FS_ONLY`

[2017-10-16 07:36] fiam commented on #2344
@digitalentity While `NEVER`, `ALWAYS` and `FS_ONLY` are certainly better names, that introduces the problem that dumps won't restore cleanly. However, that seems like a acceptable tradeoff to me. I'll submit a PR for it later today.

[2017-10-16 07:47] DzikuVx commented on #2345
There is no need to calibrate MAG before every flight

[2017-10-16 07:47] #2345 closed, assigned to nobody

[2017-10-16 08:30] krzysztofmatula commented on #1581
I will check it, however it may take another several months to confirm if it helps.
I'm using RTH quite often and normally it always works.

[2017-10-16 08:34] krzysztofmatula commented on #1581
Reopening the issue, as it's related to RTH and Failsafe which should be bullet-proof.

[2017-10-16 08:36] digitalentity commented on #1581
Ok, moving to 1.9 then - since we won't be able to confirm it for 1.8

[2017-10-16 12:29] Dronek commented on #1581
@krzysztofmatula @digitalentity
Can any correlation with **set nav_extra_arming_safety = OFF** be excluded here?

I recall at least one flight where I forgot to set this feature to ON and RTH behaved weird.

[2017-10-16 12:46] brat002 commented on #1269
The problem affects plane especially on launch when gps speed is 0, but throttle is full or almost full and TPA pull's PID's down instead of maximise rates and stabilisation forces.
On Saturday one more Multiplex Funjet had crashed because of that.

[2017-10-16 12:50] oleost commented on #1269
That could be fixed with two different solution.

1. Don't enable TPA scaling before an minimum speed of 3m/s after armed. ( Stays enabled once above it )

2. Timer, wait 15s before enabling TPA after armed and throttle above min_check.

[2017-10-16 12:57] brat002 commented on #1269
Looks like a great solution.
Would be nice to have <3m/s > configurable value.

[2017-10-16 13:20] digitalentity commented on #1269
Or even better - consider inertia/drag. Don't use raw throttle value for TPA. Instead filter it with a delay time-constant.

This way when throttle jumps from 0 to 100% TPA reduction will be delayed while plane accelerates.

Similarly for the opposite. When you fly fast and drop throttle to zero plane won't get all shaky due to TPA kicking gains up instantly.

[2017-10-16 13:29] sin5678 commented on #2340
no one understand what i mean ?

[2017-10-16 13:37] digitalentity commented on #2340
Duplicate of #770. See also #977. Might happen in 1.9

[2017-10-16 13:37] #2340 closed, assigned to nobody

[2017-10-16 14:04] Dronek commented on #1269
@brat002, did you actually try using no tpa at all? It seems to do more harm than good at this stage. I've been flying my wing perfectly fine without tpa in spite of quite high PI values.

[2017-10-16 14:36] brat002 commented on #1269
I've personally tried 20-80% values. The lost FunJet had 35% TPA.
Recommended TPA 50-80% for planes does almost impossible to hand launch after autotuned PID's because P/I values too small and TPA does them yet less.

[2017-10-16 15:36] fiam commented on #2344
Fixed by #2351

[2017-10-16 15:36] #2344 closed, assigned to nobody

[2017-10-16 15:50] Jozx900 opened #2353 "ACRO or STB mode, throttle will mix with servos."
https://www.youtube.com/watch?v=v0Zdn3U-BGg&feature=youtu.be
In ACRO and STB mode, just like video shows, when I change the throttle, the servos will change also. they seems mixed together. I didn't set any mix in the transmitter, so it must be some mix in the INAV, is that normal?

[2017-10-16 16:01] teckel12 commented on #2343
@jaymal66 I've addressed the above changes (and a potential feature addition) in my local branch.  I'll test this evening and submit the changes.

[2017-10-16 16:19] teckel12 commented on #2256
@SPlissken First off, making the FrSky telemetry return results like S.Port would break all legacy stuff so I think that's out of the question.

But, the satellite count logic is WAY off for sure.  The `cellVoltage` was also incorrect for sure.  However, the `currentCell` appears to be designed to show the voltage of each cell changing every second.  As `currentCell` is static, each time `sendVolt

[2017-10-16 16:51] fiam commented on #2353
Did you enable AIRMODE? In any case, post a dump of your configuration so we can see if there’s something misconfigured.

[2017-10-16 17:04] SPlissken commented on #2256
@teckel12 Nice work!  It's been a while since I made those changes and I'd forgotten about how `currentCell++` worked. It is a hangover from the real sensor which did measure each cell individually.

In my view it is redundant as the cell voltages are identical in this case as they are just vbat divided by the number of cells. I have those two lines commented out and it just shows me a single cell

[2017-10-16 17:06] krzysztofmatula commented on #1581
@Dronek, what kind of "weirdness" you mention? Looking at the code this flag should only affect arming. But... in software you can never be sure :)
I always fly with this setting OFF.

[2017-10-16 17:11] stronnag commented on #1581
I would imagine that `set nav_extra_arming_safety = OFF` negates any expectation that RTH might work.

[2017-10-16 17:22] krzysztofmatula commented on #1581
I have it off, because it happened once that I wanted to fly in such place and such time that GPS was unable to get fix. I was perfectly OK to fly manually, but I couldn't start at all... At that time I could clearly see no sats on telemetry (thing that I always check). It was definitely not the case last weekend.

Anyway, for the sake of verification I'll set in temporarily ON.

[2017-10-16 17:28] teckel12 commented on #2256
@SPlissken Good point.  There's no possible way it's getting multiple cell voltages through INAV so it's impossible to transmit multiple values as well.  What target are you using?  Or do you want to compile it yourself?  The branch can be found here:

https://github.com/teckel12/inav/tree/te_frsky_telemetry

Note, it's a branch from `development` not `master` so it's a 1.7.4 build.  If you want t

[2017-10-16 18:36] SPlissken commented on #2256
@teckel12 compiled, flashed and successfully tested: I compiled it with master (1.7.3) and tested it on a SPRACINGF3 target: Cell voltage is accurate and displayed properly and satellites are correctly reported irrespective of units. Thanks a lot for fixing that.

[2017-10-16 20:08] teckel12 commented on #2256
Resolved in #2354

[2017-10-16 23:05] jaymal66 commented on #2343
Quick inspection of  smartport.c  makes it plain.

The entry : FLIGHT_MODE(AUTO_TUNE) was removed Aug 28 by  <https://github.com/DzikuVx> DzikuVx

So no wonder that tmp1 doesn’t change  when the auto_tune mode is switch on and off.

Anyway the set of  flight modes added with the present  improvement  is not helpful   since relevant only  to multi rotors users .

For fixed wings users  and  other f

[2017-10-16 23:21] teckel12 commented on #2343
@jaymal66 Actually, `home reset` was one of the features I just added.  `autotune` was removed as a flight mode, which is why it was removed in `smartport.c`.

There's really no reason to create your own build.  If there's certain flight modes that are important to fixed wing pilots, I'm sure they can be worked into INAV without the need for a custom build.  I didn't remove anything from `smartpor

[2017-10-16 23:24] teckel12 commented on #2343
Resolved in #2356

[2017-10-17 02:59] teckel12 commented on #2343
@jaymal66 I'm also the author of LuaTelemetry https://github.com/iNavFlight/LuaTelemetry and I'm interested in making the S.Port telemetry and Lua script flight screen useful to both fixed wing and multi-prop crafts. Not having fixed wing experience leaves me at a disadvantage. But, the goal is for both to be as supported as possible.

Feedback is appreciated.

[2017-10-17 07:14] krzysztofmatula commented on #1581
So, I did a flight with the mentioned settings:
`nav_extra_arming_safety = ON`
`inav_w_z_baro_p = 0.75`

My first impression is that alt-hold is even more smooth (or maybe it was because of no wind...)

I did some flying, tried RTH and... problem occurred! The quad got stuck at ~19m not going to fly towards home.

Then I did another test - lowered altitude and engaged RTH again. The quad went up g

[2017-10-17 08:58] Pairan opened #2357 "Matek F405 OSD Home direction seems inverted"
We've been out yesterday and the Home arrow was pointing into the wrong direction (felt inverted).

While flying directly to home (direction) the arrow pointed downwards allthough I would have assumed it to show "upwards".

can somebody confirm? I'll re-check this later and report in

[2017-10-17 09:01] digitalentity commented on #2357
Did you upload the OSD fonts in Configurator? Default fonts seem to come from Betaflight and are incompatible with INAV OSD.

[2017-10-17 09:03] Pairan commented on #2357
nope ... just flashed 1.7.3 on, copied the setting via CLI and saved it! this time I didnt change the font.

[2017-10-17 09:13] DzikuVx commented on #2357
@Pairan you have to update the font.

[2017-10-17 09:16] Pairan commented on #2357
Thanks, Pawel, when digitalentity wrote "font" I was tempted to check on that. So, okay ... will do so later and report in.

[2017-10-17 10:00] #2256 closed, assigned to nobody

[2017-10-17 11:13] jaymal66 commented on #2343
What do you mean exactly by

“autotune was removed as a flight mode”  ???

It’s still very much  figures as a valid  flight mode    in the configurator and the doc and nothing to the contrary has been said elsewhere

From: Tim Eckel [mailto:notifications@github.com]
Sent: Tuesday, October 17, 2017 1:21 AM
To: iNavFlight/inav <inav@noreply.github.com>
Cc: jaymal66 <f18v19@freenet.de>; Mention <ment

[2017-10-17 14:10] VoicOfReason opened #2358 "iNav 1.7.3 Fishbowl on SPRacingF3EVO"
I'm having fishbowl effect on this setup (see title). It happened first a year ago on iNav with different frame, etc. Now, I took same FC and put on brand new frame and it's happening again. 6" props in both cases. Rest of specs:

Emax 2205-2400 redbottom
Littlebee 30a ESC's
Different GPS unit in both cases
Different Vtx
Different frames
Soft mounted motors and FC

I get the fishbowling when I swi

[2017-10-17 14:17] teckel12 commented on #2343
@jaymal66 When I look at flight modes for OSD and telemetry autotune isn't listed.  I wasn't saying that autotune mode was totally removed, just removed from S,Port telemetry.  But anyway...  I'm just trying to help, and willing to enhance the code to accommodate FW needs.

Autotune was removed from S.Port telemetry because it conflicted with passthru mode.  This conflict has existed since Mar 20,

[2017-10-17 19:22] jaymal66 commented on #2343
Tim, you can reached me directly at f18v19@freenet.de <mailto:f18v19@freenet.de>  . This would avoid   the dreary  1 day turnaround  between question and response through  github

From: Tim Eckel [mailto:notifications@github.com]
Sent: Tuesday, October 17, 2017 4:19 PM
To: iNavFlight/inav <inav@noreply.github.com>
Cc: jaymal66 <f18v19@freenet.de>; Mention <mention@noreply.github.com>
Subject: Re:

[2017-10-17 21:13] fiam commented on #2343
@jaymal66 The point of GitHub issues is that others can follow the conversation and add their opinions and feedback.

[2017-10-17 21:59] krzysztofmatula commented on #1581
Attaching log:
[blackbox_log_2017-10-17_224028.TXT](https://github.com/iNavFlight/inav/files/1392731/blackbox_log_2017-10-17_224028.TXT)

See log 2/3 at 7:25 - RTH made a climb from 12.4m to ~19.6m, not reaching the target altitude and got stuck there.
Again at 8:18 - starting from 13.9m the altitude went up to 19.9m - again, without cruising home.
Finally, at 8:35 - starting from 29.6m the quad f

[2017-10-17 22:24] teckel12 commented on #2343
@jaymal66 I show at least 3 back and forths in the last day.  I check email about once a week, instead of several times a day here.  Maybe the problem is that you're using email?  Your replies via email add a lot of garbage and I'm sure slow things down.

I would suggest you visit https://github.com/iNavFlight/inav/issues/2343 directly instead so it's not email-based and there can be a back and fo

[2017-10-17 22:41] jaymal66 commented on #2343
Well then add one which relates to the subject matter

From: Alberto García Hierro [mailto:notifications@github.com]
Sent: Tuesday, October 17, 2017 11:14 PM
To: iNavFlight/inav <inav@noreply.github.com>
Cc: jaymal66 <f18v19@freenet.de>; Mention <mention@noreply.github.com>
Subject: Re: [iNavFlight/inav] Problem with the implementation of the smartport telemetry improvements (#2343)

 <https://git

[2017-10-17 23:14] teckel12 commented on #2343
@jaymal66 Add one what?  Your issue with the manual has been corrected.  I've also added Home Reset to S.Port telemetry.  Auto tune was removed, but that's because it was added incorrectly a few months ago and could cause problems.  If you'd like something FW specific added or there's a bug, **YOU** should open an issue as I don't have a FW to know what a FW folk would need.

I would consider **TH

[2017-10-17 23:18] jaymal66 commented on #2343
teckel12  fact is that github is organized as a forum and that email is optmized for direct and the combination of two would  the best of the 2 worlds.
The garbage you refer to this is a "feature* of github  , indeed   the way github handles the  actual email thread is abysmal ( not to impute to email)  the same holds for the propagation delays incured by github and so on ..
However, enough of tha

[2017-10-17 23:28] fiam commented on #2343
@jaymal66 Please, behave yourself and stop asking other for features like they were your employees.

As @teckel12 has pointed out, this issue is now fixed so I’m closing it.

[2017-10-17 23:28] #2343 closed, assigned to nobody

[2017-10-17 23:28] jaymal66 commented on #2343
Well everything for me is very much  still open ..since the real stuff  the auto-tune and servo autotrim is still missing
On the other hand if you  fell that everything has been said and done close it.
it is up to you

[2017-10-17 23:30] jaymal66 commented on #2343
The behaviour of fiam is outrageous

[2017-10-17 23:49] jaymal66 commented on #2343
@teckel12 I urge you to reopen the issue closed arbitrarily by fiam   hurling  out of the void preposterous ad hominem offenses  !

[2017-10-18 00:44] digitalentity commented on #1776
I'm moving this issue to 1.9. The problem related to OSD updates is fixed, the problem with making longish banked turns remains, but it will have to wait a bit.

[2017-10-18 00:45] digitalentity commented on #1786
I believe we can close this issue. S.Port was massively reworked in 1.8.

[2017-10-18 00:45] #1786 closed, assigned to nobody

[2017-10-18 00:46] digitalentity commented on #2236
We are disabling MOTOR_STOP for RTH & WP - might mitigate issues with throttle stick being at zero when failsafe happens or RTH is activated. Closing.

[2017-10-18 00:46] #2236 closed, assigned to nobody

[2017-10-18 00:46] digitalentity commented on #2130
@FPVZaphod can you please test if the issue is still present in recently released 1.8-RC1?

[2017-10-18 00:49] digitalentity commented on #1581
@krzysztofmatula thanks, will have a look!

[2017-10-18 01:09] teckel12 commented on #2358
@VoicOfReason I had this issue as well with a similar model and the same FC.  For me the issue was two-fold.

First, I did a proper magnetometer calibration in the field before launch (left stick up/right and right stick down/center, then rotate all 3 axis 2 times).  Secondly, I changed the PIDs for GPS Navigation Position XY to: P=25, I=180, D=10.  This can also be done with the following via CLI

[2017-10-18 01:30] VoicOfReason commented on #2358
Wow! I’m going to try tonight.

--
Peter Freund
Sent with Airmail

On October 17, 2017 at 8:09:32 PM, Tim Eckel (notifications@github.com)
wrote:

[2017-10-18 01:32] digitalentity opened #2359 "Allow Spektrum Sat binding on any UART"
Allow the code to automatically detect a pin to initiate the bind process of a Spektrum Satellite receiver

[2017-10-18 01:35] VoicOfReason commented on #2358
We’re you running 6” props? Curious how well pid settings will translate
for me.

--
Peter Freund
Sent with Airmail

On October 17, 2017 at 8:09:32 PM, Tim Eckel (notifications@github.com)
wrote:

[2017-10-18 02:30] teckel12 commented on #2358
@VoicOfReason I was using 5" 3 blade props and a 220mm frame.   But the specs are similar (same motor, same ESC, etc.).  These PIDs would probably be very similar to yours.  Oh, and it also helped on a 450mm with 10" props too!  I forgot that was also running the SP Racing F3 with a nasty toilet bowl.

[2017-10-18 02:35] teckel12 opened #2360 "v1.8-RC1 stuck in failsafe and won't launch"
I tried to test v1.8 tonight and it was stuck in Failsafe mode and wouldn't launch (Omnibus F4 Pro target).  I was getting strange flight status information too (headfree, headhold & horizon) none of which were set (I launch in angle mode and headfree/headhold were off).  I went back to my previous compile and it worked correctly.  At first I thought it was a telemetry issue (reporting 54122 for T

[2017-10-18 02:43] teckel12 opened #2361 "v1.8 - When in bootloader mode, buzzer is constantly on"
I hope it's unintentional as it prevents me from doing anything with the wife in the house.  It also drives me slightly mad.  Okay, more than slightly.  Please save my marriage!

But seriously, when I go into bootloader mode it goes to a constant buzzer.  Never happened before I tried the v1.8 build.  Omnibus F4 Pro FC

[2017-10-18 02:51] markandkymward opened #2362 "INAV 1.8 IRC Tramp Lua script not working SPRACINGF4 EVO"
Properly configured, checked with cleanflight firmware.  Dashes are reported on Taranis 9D.

[2017-10-18 02:53] teckel12 commented on #2361
Confirmed on two Omnibus F4 Pro FCs.  Constant buzzer when in bootloader mode.  I now have the desire to club a baby seal.  Save me from myself!

[2017-10-18 03:20] digitalentity commented on #2360
Please make a reset of settings and reconfigure from scratch. My OBF4 PRO target works fine (SBUS/IBUS receiver). Probably not resetting a configuration created a buggy settings.

[2017-10-18 03:20] digitalentity commented on #2361
As far as I can recall buzzer was always beeping when in bootloader mode on those targets. I'll check.

[2017-10-18 03:24] VoicOfReason commented on #2358
Well..... no luck. I changed the settings to what you said and it wouldn't even take off. The props sputtered and then I had to increase to full throttle to just get it off the ground. So, I changed the "p" setting to default and left "i" where it was and this caused so little power to control the craft that I crashed. Any other suggestions?

[2017-10-18 05:34] Pairan commented on #2357
just a short heads up - i did pic the standard font from configurator and saved it. But the weather was unflyable. I will try again today

[2017-10-18 05:36] Pairan commented on #2361
pretty normal ... had the same on Matek F405 OSD while in Bootloader mode (after that it had v1.7.3)

[2017-10-18 08:28] DzikuVx commented on #2362
@markandkymward this was never really confirmed working. @teckel12 I remember you had some luck with it

[2017-10-18 08:31] DzikuVx commented on #2361
@digitalentity it is "hardware" thingy. All targets with `#define BEEPER_INVERTED` behave like that, buzzer driver is also an inverter after all.
I'm closing it since I see no way how to fix it besides putting buzzer port HIGH in bootloader mode. Is that even doable?

[2017-10-18 08:31] #2361 closed, assigned to nobody

[2017-10-18 08:33] DzikuVx commented on #2358
@VoicOfReason in 99% of cases, this is caused by faulty magnetometer, magnetometer calibration, magnetometer orientation or magnetometer too close to power cables.

[2017-10-18 08:59] kabturek opened #2367 "1.8-RC1 - default OSD config doesnt show "vario" when you enable it"
It's hidden behind "horizon sidebars" that are enabled by default and cant be moved until one disabled "horizon sliders". Maybe move them right ? (and move "vario num" too)
It does work when changed the positions to:
[code]
before: http://prntscr.com/gyugl1
after: http://prntscr.com/gyug9c

[2017-10-18 09:05] jaymal66 commented on #1786
Just for the record
"the  multiple smartport telemetry improvements"  heralded with 1.7.3 include in fact  only 2 of the  7 suggested unreported  flying modes  ,..... Failsafe and later hurriedly added  Home Reset
Reason good enough to close the issue ?......I beg to disagree !

[2017-10-18 09:07] brat002 commented on #1269
@digitalentity Could you reopen this issue to fix the problem in future?

[2017-10-18 09:16] digitalentity commented on #2361
According to ST's docs GPIO configuration registers are in reset state when in DFU mode. Reference manual states that after reset the alternate functions are not active and the I/O ports are
configured in input floating mode.

On Omnibus F4 boards beeper happens to be connected to PB4 pin. **After reset (and in DPU mode)** PB4 (NJTRST) is configured internal with pull-up activated (at high logical

[2017-10-18 09:18] digitalentity commented on #1269
I'm going to open it and move to 1.9. A better TPA for planes w/o airspeed sensor would be a good addition.

[2017-10-18 09:30] fiam commented on #1786
@jaymal66 You don't need telemetry to tell you if modes without preconditions have engaged because you already know that in the ground with a properly configured radio. Telemetry is useful for modes that might not activate when they're requested because some preconditions failed (e.g. STAB needs accelerometer, RTH needs a home position, etc...)

[2017-10-18 09:32] fiam commented on #2361
Yeah, can't be fixed unfortunately. I just keep a bit of tape around my workbench and put it over the buzzer when flashing at intempestive hours.

[2017-10-18 09:35] fiam commented on #2367
@kabturek Thanks for the report. I had noticed this some time ago but then forgot about it, thanks for reminding me. Working on a fix.

[2017-10-18 10:02] krzysztofmatula commented on #1581
Update: in the case at 8:18 the baro is 19.9m, but navPos[2] is actually19.55m, thus the 50cm margin is not reached (navTgtPos[2] = 20.06m) and cruise home is not initiated.
Still, navVel[2] is ~25cm/s, while the altitude actually doesn't increase.

[2017-10-18 10:05] digitalentity commented on #1581
@krzysztofmatula accelerometer is picking up "fake" acceleration. Possibly mechanical stress on the board. Increasing `inav_w_acc_bias` to 0.1-0.2 might help

[2017-10-18 10:20] jaymal66 commented on #1786
@fiam What is your Information Theory  background ?
All modes with or without precondition need to be confirmed because receiving no information  on the status of the mode  cannot be  interpreted as a confirmation that a status is indeed activated ....  even less so by  a "properly configured radio ".. as you candidly assert.
Why ?  because the lack of information could be very much due to other c

[2017-10-18 10:25] krzysztofmatula commented on #1581
Also it could be accelerometer calibration issue. I'll re-do the calibration. Maybe the characteristics changed over time. If I read the log correctly there is always 1.02..1.05g reported when in hover and also on the ground.

[2017-10-18 10:47] fiam commented on #1786
@jaymal66 If you have a switch configured to trigger AUTOTRIM and you flip it, AUTOTRIM is enabled. If it doesn't, your RC link is not working and you're in FS mode so you're not getting telemetry back anyway. There are no other causes. Same thing applies to all other non-conditional modes.

Calling that information theory feels like glorification to me. I'd say it's common sense.

[2017-10-18 11:05] jaymal66 commented on #1786
@fiam Thank you ...w're entering  Wonderland
'When I use a word,' Humpty Dumpty said, in rather a scornful tone, 'it means just what I choose it to mean — neither more nor less.'

[2017-10-18 11:20] digitalentity commented on #1786
@jaymal66 It's more important to have modes with pre-conditions to be confirmed. There are modes that don't have pre-conditions - you know they should be active when you flip the switch on the radio.

If they don't activate - you have a problem with your link and you have `FAILSAFE_MODE` reporting to inform you about that.

The pre-conditioned modes may not activate when you flip the switch on the

[2017-10-18 11:31] digitalentity commented on #2343
@jaymal66 Please mind your attitude. You were answered in another issue that Smartport is favoring modes that require confirmation to make pilot aware if they are enabled.

Regarding your issue with flight mode reporting. This is open source software. You are free to fork it and change it in any way you like. Nobody here is in any way obliged to implement stuff that only you out of whole 30k users

[2017-10-18 12:23] jaymal66 commented on #1786
@digitalentity With you're  "you know they should be active when you flip the switch on the radio" the problem is what you suggest as  a fallback namely   "If they don't activate"
How do know that " they don't activate"   if the the status is not reported ?

Beyond that it's worthy to note that SmartPort presently reports mainly modes with no precondition and neglect  those like TURN ASSIST  and N

[2017-10-18 12:30] digitalentity commented on #1786
You don't seem to understand that the only case when non preconditioned flight mode doesn't activate is when you don't have the link. In this case telemetry won't help you.

Re LAUNCH mode - it's not pre-conditioned by anything. If you flip the switch when machine is disarmed and then arm - it will activate. You'll notice a distinct beeping when it does. Same for TURN ASSIST - no preconditioning.

[2017-10-18 12:32] digitalentity commented on #1786
I believe this is the end of discussion regarding this issue. If anybody have a suggestion how flight more reporting can be improved (a practical one, not the "omg, it doesn't report this and that") - feel free to open a new issue.

I'm locking the issue so this last comment stays last.

[2017-10-18 15:27] teckel12 commented on #2358
@VoicOfReason Are you sure you were changing the GPS Navigation Position XY PIDs?  It sounds like you were changing the flight PIDs.  At launch, it's not in GPS navigation mode, so it should have zero effect till you engage position hold.

Really sounds like you changed the wrong PIDs to me.  To be clear, the PIDs to change are under GPS Navigation Position XY.

[2017-10-18 15:31] teckel12 commented on #2360
@digitalentity I'll try it all again tonight (with a betaflight full chip erase step) and report back.  Unless full chip erase works now in configurator 1.8.0?

[2017-10-18 15:31] fiam commented on #2353
@Jozx900 Please, next time paste your configuration as it is, not as a single line. It's a pain to read it like this.

You don't have AIRMODE enabled. Upgrade to 1.7.3 and type the following in the CLI:

[code]

That should make the servos behave as you expect them.

[2017-10-18 15:32] digitalentity commented on #2360
Full erase works now in 1.8.0.

[2017-10-18 15:38] teckel12 commented on #2362
@markandkymward The betaflight Lua script for adjusting PIDs works, I've been using this for about a month now without an issue.  I really need to finish my INAV fork of the script to tweak a few things for INAV.  You can get the script here:

https://github.com/betaflight/betaflight-tx-lua-scripts

The script has a VTX panel, but I don't have the hardware to test it.  Not sure what script you're

[2017-10-18 15:49] teckel12 commented on #2361
@digitalentity @fiam But...  I don't think this never happened until I tried the latest development branch and v1.8.  I'll try flashing an old build to verify.

[2017-10-18 16:14] VoicOfReason commented on #2358
I copied and pasted your values into the cli.

On Wed, Oct 18, 2017 at 10:27 AM Tim Eckel <notifications@github.com> wrote:

[2017-10-18 16:38] teckel12 commented on #2358
Very strange. Well, the proper field magnetometer calibration should do the trick.

[2017-10-18 17:24] VoicOfReason commented on #2358
I tried that also and sometimes it seems like the quad hovers fine and
then I will change direction and it will start doing why the toilet bowls
So even if infield calibration works, it only works sporadically.

--
Peter Freund
Sent with Airmail

On October 18, 2017 at 11:39:00 AM, Tim Eckel (notifications@github.com)
wrote:

[2017-10-18 17:43] teckel12 commented on #2358
@VoicOfReason That's exactly what I experienced. Try to position hold 4 times with 90 degree turns between. I bet one will be really good, while the others not so good or even really bad. After field calibration of the gyros and magnatometer it's rock solid (well, not quite DJI rock solid). Also, adjusting the PIDs really worked well for me, it made it more stable for sure.

[2017-10-18 17:51] VoicOfReason commented on #2358
So, you do the stick command, then rotate the craft all around and then it will beep again after 30 seconds to say it's done, or do you do the stick command again to end calibration?

[2017-10-18 17:58] krzysztofmatula commented on #1581
See this fix for initial climb margin calculation: #2371
This will fix (or rather hide) the issue for me.

I'd go one step further and make the climb->cruise transition more robust. Currently a target altitude is set and the climb is to finish exactly there (minus the margin). This results in climbing speed to decrease as the target altitude approaches, eventually stopping there (or not reaching,

[2017-10-18 18:08] VoicOfReason commented on #2358
.... so I tried in field calib. again and it didn't change anything. Maybe it's time for a new and different FC, like the Omnibus F4.

[2017-10-18 18:17] artusmuc opened #2372 "MATEK F405-OSD with 1.8RC version matekf405OSD LEDstrip"
I have tested this firmware with on a new standalone Matek F405OSD connected to a FSHUB-6S via Ribbon cable.

I have made my test first step by step ony connect one of the parts listed:
GY-63 Baro (MS6511) I2C - connect to UART3 -- works fins
GPS-NAZA-Clone - connect to UART1 --- GPS is marked as aktiv - Magno is marked as activ - first test with mago seems to work but "slow reaction"
FrSky XRSB c

[2017-10-18 18:20] Pairan commented on #2357
Did Check it today! The OSD works as it was supposed to- Home arrow shows the right direction after having flashed the standard font on, which came with the release!

Thanks @DzikuVx and @digitalentity

[2017-10-18 18:20] #2357 closed, assigned to nobody

[2017-10-18 18:24] Pairan commented on #2372
Greetings to you in Munich!

1) What setup do you fly ? FW or MC ?
2) Where did you connect the ws2812?

[2017-10-18 18:53] artusmuc commented on #2372
I flashed the version INAV/MATEKF405OSD 1.8.0 Oct 16 2017 12:40:38  Stronnag posted a link to rcgroups.
As I described there is nothing else connected - you can test this effect without and new flashed board without changing anything and nothing connected.

My setup ist only (as discribed) a MATEK F405-OSD with a MATEK FSHUB-6S connected with the ribbon cable. But i have devided this both to see t

[2017-10-18 19:26] markandkymward commented on #2362
The PID and Servo rate changes worked a treat. The VTX channel page was not reporting data.

[2017-10-18 19:30] teckel12 commented on #2358
You'll also likely need a new GPS module as well as most FCs don't include a magnatometer.

Did you do a **correct** INAV 6-point accelerometer calibration? Are you doing the magnatometer calibration away from any interference (I don't even have my TX or phone with me)?

Did you try to hover it in each direction (90 degrees apart)? If one direction is much better than the others, it's your calibra

[2017-10-18 19:34] stronnag commented on #2358
Are you using the onboard mag or an external one. Can you post a CLI `diff` please.

[2017-10-18 20:04] VoicOfReason commented on #2358
Teckel12, it's not simply a matter of hovering level, but fishbowl which results in a crash. Yes, I did the 6 point calibration as well as the other calibrations. It does seem to hover level in some directions but shifting directions 90 degrees, e.g. to the south, I get fishbowl. Not sure what other calibrations I can do since I've done them all several times.

[2017-10-18 20:25] teckel12 commented on #2358
There's another potential issue, magnatometer orientation. I've seen Chinese knockoff SP Racing F3 boards using a knockoff magnatometer where the orientation is different than an actual SP Racing F3 board.

From the bench, can you point your quad N S E W and each stay there and are correct? You could have a knockoff with a flipped or rotated magnatometer. VERY bad things can happen if you try to e

[2017-10-18 20:31] VoicOfReason commented on #2358
I checked and the degrees are correct. Pointing East is 90 degrees, etc. Also, RTH actually works pretty well since the fish bowl effect is at its worst while hovering.

[2017-10-18 20:31] jaymal66 commented on #2343
@digitalentity please don't rely on  second hand   fabrications (as abusively propagated by @fiam) and rather  stick to the facts   by checking  yourself what actually has been said

Fact1 :  I never asked that anyone in INAV to implement what I need but on the contrary stated repeatedly that i would make myself the modification in smartport.c  my make my own custom firmware
here is one of the e v

[2017-10-18 20:32] VoicOfReason commented on #2358
If I got a different Flight controller, what's a good one that has a built in Mag?

[2017-10-18 20:34] stronnag commented on #2358
There is none. Built in mags are the main source of 'toilet bowling'

[2017-10-18 20:35] VoicOfReason commented on #2358
Ahhhh, ok. So, what GPS modules have a mag built in and how would I wire that to my SPRacingF3Evo, via SCL/SDA? In other words, what tried and true FC/GPS combos out there are verified to work well with iNav?

[2017-10-18 20:37] artusmuc commented on #2372
Hello again Parian :) sorry i only explain - and dont answer your question correct

1:) no setup using - but i plan to setup a quadcopter (4 motors)
2:) WS2812 is connected nowhere - cause i dont exactly know where

But - this is independent of causing this error of the board.

Thank you a lot for your support

[2017-10-18 20:42] stronnag commented on #2358
yes. The SPF3 EVO is a good board for this, as it has a rare on-board mag, so you can override it  software. It's one of my favourite boards for iNav:
[code]
With a Beitian BN880 GPS/mag. Typically 20-25 satellites

[2017-10-18 20:46] VoicOfReason commented on #2358
Ok, that's the exact board I'm having trouble with... so you set your mag to HMC5883 and it works with that setting?

[2017-10-18 20:47] stronnag commented on #2358
With the external mag in the GPS, yes. Perfect navigation functionality.

[2017-10-18 20:48] VoicOfReason commented on #2358
OK, so which GPS do you use. I'm using the MN-880 right now. Do you know if that has a mag built in? If not, what do you use for GPS with built-in Mag?

[2017-10-18 20:49] teckel12 commented on #2358
None really. The industry has moved away from on-board magnatometers (for good reason).

Don't just check one direction, because if the sensor is flipped one way will work perfect.

What you're describing sounds exactly like what I experienced, and I finally worked it out. Posting your CLI `diff` may be helpful.

[2017-10-18 20:50] stronnag commented on #2358
The one I mentioned two posts up :)

https://www.banggood.com/UBLOX-NEO-M8N-BN-880-Flight-Control-GPS-Module-Dual-Module-Compass-p-971082.html

[2017-10-18 20:53] VoicOfReason commented on #2358
2017-10-18 @ 15:07:39 -- Running - OS: Windows, Chrome: 61.0.3163.100, Configurator: 1.7.3
2017-10-18 @ 15:07:45 -- Serial port successfully opened with ID: 86
2017-10-18 @ 15:07:46 -- MultiWii API version received - 2.0.0
2017-10-18 @ 15:07:47 -- Flight controller info, identifier: INAV, version: 1.7.3
2017-10-18 @ 15:07:47 -- Running firmware released on: Sep 9 2017 10:21:40
2017-10-18 @ 15:07:4

[2017-10-18 20:57] VoicOfReason commented on #2358
So on the BN-880, do I connect the SDA/SCL wires on the GPS to the I2C port?

[2017-10-18 20:57] teckel12 commented on #2358
BN-880 maybe? That model has a magnatometer. If it has both Tx/Rx and SCL/SDL pins it has a magnatometer.

[2017-10-18 20:58] VoicOfReason commented on #2358
That's what I have, the BN-880. So, I have to connect the SCL/SDL pins to somewhere on the F3evo board. Where do I connect them?

[2017-10-18 21:00] stronnag commented on #2358
To the I2C port on the EVO boad.

[2017-10-18 21:01] VoicOfReason commented on #2358
Ahhhhhhh... ok. I'm going to do that. Currently I'm using onboard MAG on SPEvo board.

[2017-10-18 21:09] stronnag commented on #2358
So here's a (low res) picture of my evo board. As you look at it, IIRC, the left hand populated socket is the I2C. Don't forget to recalibrate the new mag.

![evo](https://user-images.githubusercontent.com/158229/31742806-c538c756-b450-11e7-85de-a45639311c5a.jpg)

[2017-10-18 21:11] VoicOfReason commented on #2358
Amazingly helpful. Thank you. Maybe this will solve a year old problem.

--
Peter Freund
Sent with Airmail

On October 18, 2017 at 4:09:18 PM, stronnag (notifications@github.com)
wrote:

[2017-10-18 21:14] VoicOfReason commented on #2358
So, related to this, I should be able to plug in a mn-880 into a OMNIBUS F7
V2 board and configure for external mag also?

[2017-10-18 21:42] krzysztofmatula opened #2373 "1.8-RC1 - full throttle after some flying in ACRO+ALTHOLD"
[blackbox_log_2017-10-18_225150.TXT](https://github.com/iNavFlight/inav/files/1396430/blackbox_log_2017-10-18_225150.TXT)

See the attached log (2/4) at 2:35.
I was flying ACRO+ALTHOLD at ~35m and everything was fine. Suddenly the motors started to be commanded full-throttle, likely by altitude controller. Few seconds later the quad was at ~100m and I commanded RTH. Later I tried to reproduce the

[2017-10-18 22:21] teckel12 commented on #2358
A couple things bother me.

set mag_hardware = AK8963

2017-10-18 @ 15:25:14 -- Magnetometer calibration started
2017-10-18 @ 15:25:31 -- Unrecoverable failure of serial connection, disconnecting...

Looks like the wrong magnatometer for the SP Racing F3 board? Also, looks like you powered off in the middle of calibration?

[2017-10-18 22:26] teckel12 commented on #2358
Just a heads up, you may not be able to use an external magnatometer with your SP Racing board if the on-board and external magnatometers use the same I2C ID (which is common).

[2017-10-18 22:28] VoicOfReason commented on #2358
Yeah, I just tried to fly with the I2C plugged in and it crashed and may have broken the FC. OK, so I just want an iNav setup that works. Been trying for a year. What has been verified that actually works? Has an SP Racing F3 Evo with BN-880 been verified to work? Above, it sounded like using the BN-880's MAG is the way to go, but I just tried it, and it tried to fly off into the sunset.

[2017-10-18 22:40] teckel12 commented on #2358
The SP Racing F3 boards are discontinued and I believe that all are now clones so I would avoid. Also, an on-board mag is a bad idea, and you can't have 2 mags connected. So for several reasons I wouldn't do a SP Racing F3.

I'd suggest either an Omnibus F4 Pro or Omnibus F4 with baro option. But, only from a reputable seller (like https://www.readytoflyquads.com)  because there's lots of problems

[2017-10-18 22:41] VoicOfReason commented on #2358
How about an Omnibus F7 V2?

[2017-10-18 23:14] teckel12 commented on #2360
@digitalentity  I did a full erase, flashed with v1.8-RC1 (downloaded not a private build) and again I get a failsafe and it refuses to launch.  Rolled back to 1.7.3 as well as a dev 1.7.4 build and it all works correctly.

I'm getting the same `54122` for Tmp1 on S.Port, so it's reporting failsave, headfree, headhold & horizon (none of which are correct).  Before you ask, here's my diff

# diff

[2017-10-18 23:42] teckel12 commented on #2360
![20171018_192744](https://user-images.githubusercontent.com/2592128/31747598-b95dc5f4-b43b-11e7-92e1-183a2fbc37e6.jpg)

![20171018_192816](https://user-images.githubusercontent.com/2592128/31747605-c105edae-b43b-11e7-95be-588e2fcdcf9b.jpg)

@digitalentity Pics show the constant `54122` for Tmp1 which makes no sense and Tmp2 which shows 3D GPS fix with 11 satellites.  Would not arm.  Rolled back t

[2017-10-19 00:29] teckel12 commented on #2358
Just have no experience with the F7. I opted for the F4 because of some reason that escapes me. The F4 is more mature, and I questioned F7 compatibility, so that could be it. But I'm no expert on F7 support with INAV.

[2017-10-19 00:33] teckel12 commented on #2362
I don't even see the VTX page, so you got further than me. When I reworked S.Port telemetry in INAV I never did anything with VTX as I always use the same channel.

[2017-10-19 01:17] teckel12 commented on #2362
My guess is that VTX control from Taranis via INAV doesn't work yet. And to clarify, it never has nor has it claimed to. So this is not a bug, but a feature request. I'd love to help as I have with the PID controls, but I lack the hardware and the need to ever switch VTX channels to help. I know there's a desire for this, and the framework is set. But adding this is in someone else's court.

[2017-10-19 03:44] digitalentity commented on #2360
@teckel12 Are you using a PPM receiver? 'cause this is what you have configured for.
Firmware doesn't "see" the receiver - therefore all channels are in middle causing activation of HORIZON, HEADING HOLD and HEADFREE exactly as configured. FAILSAFE mode is indicated per no receiver connection.

[2017-10-19 03:51] digitalentity commented on #2360
Also, mind the release notes section: https://github.com/iNavFlight/inav/wiki/1.8.0-Release-notes#receiver-type-changes

[2017-10-19 03:54] digitalentity commented on #2373
Have a look at your accelerometer graphs - specifically Log entry 2, time 02:34 to 02:38.
![image](https://user-images.githubusercontent.com/11059099/31753592-d976d9e0-b4d4-11e7-889d-fbdd5a576222.png)

What you see is a well known case of accelerometer resonating when vibration from motors exceed certain level. Can't be fixed in software. It was a mere coincidence that 1.7.3 worked. Fix that is kn

[2017-10-19 03:54] #2373 closed, assigned to nobody

[2017-10-19 03:55] digitalentity commented on #1581
How about setting initial climb target altitude higher than actual RTH altitude and still use actual RTH altitude to detect that climb has finished?

[2017-10-19 04:04] digitalentity commented on #2372
So, to summarize. Once I activate LEDSTRIP on Matek F405 OSD - the board hangs on boot. Right?

[2017-10-19 04:23] teckel12 commented on #2360
@digitalentity I read the release notes before upgrading but didn't restore a dump, I just upgraded to 1.8.  So, the release notes didn't set off any red flags for me as I was just flashing a new version and didnt restore a dump from  previous version like the warning states.

I'd suggest that the warning be a bit more clear (as I didn't catch it as I was upgrading not restoring a dump). Something

[2017-10-19 04:28] artusmuc commented on #2372
Yes - exactly

[2017-10-19 04:44] digitalentity commented on #2360
Good idea. I'll amend the release notes.

[2017-10-19 06:43] krzysztofmatula commented on #1581
There are several possibilities of implementing this feature. Another one could be increasing the margin. For example having set the RTH altitude at 20m I'd be fine to start the cruise at, say, 16m (while still climbing up to 20m).

In all cases it seems there would be a need to have an altitude window where cruise back home can happen. Allowing this to be configured (another option) could be fine

[2017-10-19 06:48] oleost commented on #1581
Is not there already and implemention of this for fixed wing? Just use the same?

I think it was when within 10% of target height start heading home.

[2017-10-19 06:52] krzysztofmatula commented on #2373
OK, thanks for pointing this out!
Now I realized I probably was flying on 1.7.3 with different props. That could make the difference.
Sorry for false bug report...

[2017-10-19 07:02] krzysztofmatula commented on #1581
For FW the implementation was also incorrect.
It was: 10%, at most 1m.
Should be: 10%, at least 1m.

[2017-10-19 07:32] stronnag commented on #2327
I'm now of the theory that this might be caused by RF interference, on the basis that the only instance I've seen this I was using HC-12 rather than 3DR for telemetry, and perhaps the HC-12 are noisier, and this affects time reception/

[2017-10-19 07:53] digitalentity commented on #1581
@oleost yes, we got that logic wrong when adding

[2017-10-19 08:24] Jozx900 commented on #2353
Sorry about that. I copy from my mobile phone.
# dump

# version
# INAV/OMNIBUSF4PRO 1.7.2 Jul 20 2017 / 11:59:41 (81b85de)

# resources

# mixer
mixer FLYING_WING

mmix reset

# servo
servo 0 1000 2000 1500 100 -1
servo 1 1000 2000 1500 100 -1
servo 2 1000 2000 1500 100 -1
servo 3 1000 2150 1480 110 -1
servo 4 1000 2150 1555 -110 -1
servo 5 1000 2000 1500 100 -1
servo 6 1000 2000 1500 100 -1
serv

[2017-10-19 09:18] Jozx900 commented on #2353
Actually we don’t want this mix exist anymore.

[2017-10-19 09:31] stronnag commented on #2327
Reopening, as there seem to be other examples: https://www.rcgroups.com/forums/showpost.php?p=38478984&postcount=16202

[2017-10-19 09:31] digitalentity commented on #2353
There is no mix between throttle and servos, however there IS a "mix" between motor vibration and servos throught the gyro and PID. Go fly. This is normal.

[2017-10-19 10:49] fiam commented on #1581
I think we should make the climbing procedure a bit more robust. If we haven't reached the target altitude and we're neither climbing nor descending significantly after, let's say, 15 seconds we should probably head home anyway and try to climb on the way. Once we reach the home point, start either landing or holding position at the altitude we're at (depending on the configuration).

This would p

[2017-10-19 10:54] fiam commented on #2327
@stronnag That seems like a different issue, since it seems he gets some time displayed but it's not the correct one. Note that `tz_offset` is in minutes, so setting it incorrectly could cause the hours and minutes to be way off.

In any case, we'd need him to provide more details like a config dump and the `status` command output after a GPS fix has been acquired.

[2017-10-19 12:52] VoicOfReason commented on #2358
Is calibrating an external compass/mag the same process as an internal one within iNav?

[2017-10-19 13:18] teckel12 commented on #2358
Yes, but you can't attach an external magnatometer if you have one on your FC. Also, you probably should select `Auto` for magnatometer so it can find the correct model.

[2017-10-19 13:24] VoicOfReason commented on #2358
Does the Omnibus f7 v2 board have an onboard mag? So you know?
--
Peter Freund
Sent with Airmail

On October 19, 2017 at 8:18:55 AM, Tim Eckel (notifications@github.com)
wrote:

[2017-10-19 13:35] teckel12 commented on #2360
@digitalentity Haven't flown v1.8-RC1 but it arms now that I reset my transmitter settings. I'll fly with v1.8-RC1 later today. Is there a bug with RTH height correction in v1.8-RC1 that I should be aware of?

Anyway, closing this issue as an updated note about losing transmitter settings when upgrading should be enough. Now I need to rewire the LEDs on my Omnibus F4 Pro quads :/

[2017-10-19 13:35] #2360 closed, assigned to nobody

[2017-10-19 15:20] EnglishTurbines opened #2374 "Servos Tab....Confusing terminology.?"
Can someone explain what Servo # 0 is please?

It's actually Servo, or more accurately, PWM Output 1......So why not call it PWM 1????

Servo # 0 or Servo # 2 is meaningless terminology anyway because it's actually referring to PWM (servo) outputs as labelled on the PCB schematic diagram as far as I can see. It's the Schematic pcb diagram that people look at to determine which pwm output number is

[2017-10-19 15:43] EnglishTurbines commented on #2318
I always set my RTH Altitude to 100 mtrs which means the plane arrives Home at a suitable height you can see LOS. My dive angle is limited to just 5 degrees, this is ideal as it turns altitude into speed while returning Home in a long and gradual descent (usually downwind if you are watching what you are doing).  People who fly at heights above 400ft are not being very responsible IMO. If you are

[2017-10-19 16:07] teckel12 commented on #2358
No it doesn't. All the latest FC don't have magnatometers as it was never a good idea.

[2017-10-19 16:24] stronnag commented on #1581
flight tested 7d01b53adc99525426e9087c4d60ca5af301c199. No regressions compared to prior implementation and the stronnag placebo may even think that RTH was a bit snappier than usual.

[2017-10-19 18:42] giacomo892 opened #2375 "Not defining USE_UNDERCLOCK cause skipping of systemClockSetup"
I was trying to save some space on F1 and I found an issue that will impact also F3.

If you don't define USE_UNDERCLOCK in common.h the systemClockSetup function called in fc_init.c is not executed causing the CPU clock not correctly set.

First noticeable fact is looptime of 5ms instead of the configured 2ms.

I think a quick rework of #defines will solve easily the issue.

[2017-10-19 19:57] Arvycka commented on #2312
I've just received F3 Pro from AliExpress - Barometer on it doesn't work either. Probably doesn't work on any of the clones.

[2017-10-19 20:04] giacomo892 commented on #2312
@Arvycka Try 1.8RC

[2017-10-19 20:22] Arvycka commented on #2312
Thanks, tried that - still no go for baro

[2017-10-20 08:48] digitalentity commented on #1581
I think we can close this issue and open a new one to discuss @fiam's suggestion.

[2017-10-20 09:00] argileh opened #2377 "Problem: getting channels AETR5678 instead of AETR1234 on Omnibus F3 with inav 1.7.3"
I got the Omnibus F3 AIO board and flashed it with INAV 1.7.3.  In the GUI, I set the receiver type to to PPM. However, in the Receiver tab, the default setting shows AETR5678 (not 1234). I am using a FlySky FS-i6s radio and AETR are fixed to channels 1234.

I flashed the same board with Cleanflight and it showed AETR1234. I also had used INav with a SP Racinh F3 board and there two it showed AETR

[2017-10-20 09:18] giacomo892 commented on #2377
Upgrade to 1.8-RC1

[2017-10-20 09:22] argileh commented on #2377
Thank you giacomo. Could please provide some details on what RC1 is (pls excuse my ignorance) and how to upgrade. Thanks

[2017-10-20 09:38] giacomo892 commented on #2377
You can upgrade as you installed 1.7.3 :) with the option "full chip erase" to reset settings.

Read release notes https://github.com/iNavFlight/inav/releases/tag/1.8-RC1

And please close this issue since github is not a real support channel. Join slack channel for that.

[2017-10-20 09:38] digitalentity commented on #2377
@fiam @DzikuVx we might have a bug in Configurator. Are we supporting pre-1.8 channel maps?

[2017-10-20 09:39] argileh commented on #2377
I did the “full chip erase” but did not solve the issue.

[2017-10-20 09:47] ahfynjj opened #2378 "ANYFC F7 PMW1 channel physical damage"
My ANYFC F7 PMW1 channel physical damage, no output, may I be able to adjust the output of this channel to other channels, or can set the output of each channel settings?

My English is not good, I hope you can understand

[2017-10-20 12:37] #2374 closed, assigned to nobody

[2017-10-20 14:07] Pairan commented on #2372
Just flashed 1.8RC1 to a fresh Matek F405 OSD, activated Multi-Color RGB LED strip in configuration and saved/rebooted ..

But my board works ... anything else ?

[2017-10-20 14:10] krzysztofmatula commented on #1581
I wouldn't close this case as the initial problem hasn't been actually solved.
With default RTH altitude (10m) the margin is 50cm, regardless of the MIN/MAX issue being fixed or not. With such margin my quad gets stuck at the climb phase.

My setup probably has accelerometer issues, however as they are normally not noticeable, I'd assume more setups may have them as well. Thus I think making the c

[2017-10-20 15:01] argileh commented on #2377
I flashed version 1.8 as suggested by giacomo (with "full chip erase") and I am still getting AETR5678 when selecting Default channel map.

[2017-10-20 15:28] fiam commented on #2377
@argileh It's just cosmetic. Configurator 1.8 will show e.g. `AETR5678` because it refers to actual channel numbers. Earlier versions of the configurator will show `AETR1234` because they refer to AUX channel numbers (channel 5 is AUX1 and so on). The channel mapping will be correctly written to the flight controller regardless of the INAV version installed in it.

I'm keeping this open because th

[2017-10-20 15:31] VoicOfReason opened #2379 "Omnibus F7 V2 configurator not recognizing board on 1.8-RC1"
I have betaflight 3.2.1 successfully installed on Omnibus F7 V2. I can also configure it via USB on PC. But after installing any version of iNav, including 1.8 of iNav on the F7, the configurator for iNav will NOT recognize the board. I have tried using the bootloader, using DFU with Zadig, etc. I CAN flash the board with iNav and it says successful, but it the COM port (in this case COM13) will n

[2017-10-20 15:33] argileh commented on #2377
@fiam, It is still not working. There is no response when I move the transmitter sticks. Weird thing is that I do not have this issue with iNAV+ SP Racing F3, neither with the Omnibus F3 board+Cleanflight. The issue appears only with the combination of Omnibus F3+iNAV. It looks more than just cosmetic, although I am hoping I am wrong and there is a simple fix.

[2017-10-20 15:34] artusmuc commented on #2372
I dont have an "official" release of f405OSD iNav firmware - i have only the F405-AIO. Stronnag has postet an version for OSD in regroups. And he confirms that he has the same problem.  Can i have this version you have flashed ? Thanks for your help.

[2017-10-20 15:40] Pairan commented on #2372
sure ... simply flash the Rc1 from the Configurator onto you board! (hit the switch "show unstable releases")

[2017-10-20 15:51] fiam commented on #1581
I don't have a strong opinion on this one. We can either open a new issue or continue the work and conversation on this same issue. In any case, I've just committed a proof of concept of how this could look like: https://github.com/iNavFlight/inav/commit/4b2bb275f8651aaed587c76b76567badd03b6d8f. I hardcoded the values to a 10 second timeout while not having more than 10cm/s of vertical speed. Feed

[2017-10-20 15:54] stronnag commented on #2372
So you're using the MATEKF405 target, not the MATEKF405OSD target firmware. That's not the subject of the PR.

[2017-10-20 15:55] artusmuc commented on #2372
Yepp - this one works .... but this is for AIO - i am not able to select the version for the OSD - my information is there is a special one for the OSD board - as discribed "slightly different firmware for the OSD Board. Stronnag posted a link for a special firmware in regroups - with is able to use I2C over UART3. I have asked if there is a special one for the OSD board.

[2017-10-20 15:55] artusmuc commented on #2372
Thanks a lot for your help stronnag :))

[2017-10-20 15:57] oleost commented on #1581
@fiam what will happen if it reaches home before finished climbing?

[2017-10-20 15:58] Pairan commented on #2372
confusing!

[2017-10-20 15:59] stronnag commented on #2372
Unfortunately so, but not much we can do about it.

[2017-10-20 16:00] Pairan commented on #2372
no. thats just how it is- as long as we can get v1.8 on the Matek Im fine :D

[2017-10-20 16:30] artusmuc commented on #2372
Maybe it helps a litte to solve  - i have seen a picture in another forum - someone has soldered direct to one the I2C pins of the CPU - and the other one he use was the pin marked of LED on the port to use the I2C port. Maybe if you activate LEDs strips an the board is booting there will be a collision between the soft-I2C and the WS2812.

[2017-10-20 16:54] krzysztofmatula commented on #1581
So, I did 3 tests and, collected blackbox log, video and fpv video.
See them here:
https://www.dropbox.com/sh/kwz9av43amklh42/AABe_vcmVtm0lebwXan_5Gtfa?dl=0

1. RTH as for today (altitude: 20m, margin calculated: 1m)

Video1 shows that the gap between completing the climb (visually) and starting cruise is ~5s. Also this is the point that it sometimes was getting stuck.

2. RTH with margin hardcode

[2017-10-20 17:46] giacomo892 commented on #1581
Beside Video 1 everything looks very nice! Quad arrives at right altitude and immediatelly returns home!
Seems like having a "big" margin really help a lot in the smoothness of the maneuver!

OT. What machine is that?

[2017-10-20 21:23] krzysztofmatula commented on #1581
@giacomo892, it's a cheap chinese frame (which appeared to be quite durable), ~280mm, customized, ~700g, SPF3.

[2017-10-21 03:31] teckel12 commented on #2379
The Omnibus F7 v2 is not fully supported on INAV (just added in 1.8-RC1). The FC is brand new. http://www.readytoflyquads.com is a good source for FCs as they show which FCs are compatible with INAV and the Omnibus F7 v2 is list as compatible with cleanflight and betaflight but not INAV. The Omnibus F4 Pro is probably a better option, more mature (so fewer problems), and works with INAV. I believe

[2017-10-21 08:23] krzysztofmatula commented on #1581
This works quite well for me: #2380

See also the "video4" and "fpv4":
https://www.dropbox.com/sh/kwz9av43amklh42/AABe_vcmVtm0lebwXan_5Gtfa?dl=0

[2017-10-21 08:49] FPVZaphod commented on #2130
Just tested it, works perfect on the Taranis now! Could not test it on the OSD yet, but this is independent from my Crossfire setup I guess.
Thanks a lot!

[2017-10-21 08:49] #2130 closed, assigned to nobody

[2017-10-21 12:27] VoicOfReason commented on #2379
F7v2 is listed as a newly supported board under unavoidable 1.8RC1. Do you
have direct link to the f4 pro board you’re referring t9? Online I see V2
pro boards, pro boards with gel mounted components, a corner board, and a
v3 board. So I’d like to order the f4 pro but not sure which one you’re
recommending,

On Fri, Oct 20, 2017 at 10:31 PM Tim Eckel <notifications@github.com> wrote:

[2017-10-21 12:35] stefan73 opened #2381 "Help with rate mode -> it just drops"
I need some help to get acro + airmode running. Quad flys nicely in angle + horizon mode. It flips in horizon as desired. It does PosHold + RTH nicely. So i set up a new switch configuration, that just turns on Airmode. My expectaion: This will make it fly in rate/acro mode and have airmode enabled.

I set up:
Angle Mode: CH8 = 1000
Acro (no mode) + Airmode: CH8 = 1600

Experiment 1: Switch from a

[2017-10-21 12:44] VoicOfReason commented on #2379
...ok, I went ahead and ordered the Omnibus F4 V3 Pro from Ready to Fly. Looks like a good choice. I was originally planning on using an Omnibus F4 as I had one sitting around but it was faulty so I just decided on something more powerful (F7). Not a good choice apparently.

[2017-10-21 12:47] VoicOfReason commented on #2379
Quick question on the Omnibus F4 boards. I ordered a V3 board, but
wondering if soft serial is supported on iNav on that board?

On Sat, Oct 21, 2017 at 7:27 AM, Peter Freund <freund7@sbcglobal.net> wrote:

[2017-10-21 13:16] 3sr3v3r commented on #2193
Hi Koetjeboe91,

I have a micro lux v2 and have a fork of INAV where I included the LUXF4OSD target here:
https://github.com/3sr3v3r/inav
If you feel adventurous please test! I'm currently on holiday and haven't tested yet.
Will create a PR when I'm done testing.

uart3 can be used for I2C and the Led and S6 pads can be used as softserial.
Included the updated 'betaflight' soft serial implementati

[2017-10-21 13:32] teckel12 commented on #2379
I believe the F7 v2 support was just added, so there's bound to be problems (I updated my comment to avoid confusion for others). It will probably work fine after a few revisions.  So your purchase isn't a waste, just a little too early.

Yes, you can run soft serial on the Omnibus F4 Pro. You use two small surface pads CH5/CH6 that are between the F4 microcontroller and the motor out pad. I use i

[2017-10-21 13:43] teckel12 commented on #2379
Thoughs on the F7...  While the F7 is slightly more powerful (as in clock speed) it's not much. Also, CPU speed isn't much of an issue anymore (I run at like 4% CPU load on my F4). The F7 does have more UARTS and built in serial inverters which is really nice. But, I've yet to find an F7 FC that's designed well and exposes all the UARTS. The larger size of the chip also results in compromises bein

[2017-10-21 13:45] VoicOfReason commented on #2379
Good info. Thanks

--
Peter Freund
Sent with Airmail

On October 21, 2017 at 8:43:52 AM, Tim Eckel (notifications@github.com)
wrote:

[2017-10-21 13:59] koetjeboe91 commented on #2193
Wil try and test it out wil try to leave some feedback later this week

2017-10-21 15:16 GMT+02:00 3sr3v3r <notifications@github.com>:

[2017-10-21 14:13] stefan73 commented on #2381
Went home. Fixed the quad to the ground.
Disarmed -> Acro on -> OSD says ACRO -> Arm -> props beginn spinning --> NO Reaction to Throttle! Just keeps on minimum throttle.

Switch to Angle. All great.

[2017-10-21 14:23] stefan73 commented on #2381
And another addition: It is the RC. Seems to be a bug in the FS-i6 14 Channel FW. Remote freezes all channels.

[2017-10-21 17:06] giacomo892 commented on #2381
Can you take a look into receiver tab from configurator and see what is going on while on the bench?

[2017-10-21 17:09] VoicOfReason commented on #2379
Do all the omnibus F4 boards still require the inverter hack for using XSR
receivers?

On Sat, Oct 21, 2017 at 8:45 AM Peter Freund <wpfreund@gmail.com> wrote:

W. Peter Freund
Adjunct Instructor - Philosophy
Northwest Arkansas Community College
----
“Hold no knowledge in contempt, blush to learn from no man, once you have
attained knowledge, look down on no-one.” (St. Victor)

[2017-10-21 17:28] stefan73 commented on #2381
Solved. My fault. It was the transmitter config. I had one of the switches defined as Trainer mode toggle on my FS-i6. I forgot about that and defined this switch as Acro switch.
So Acro is switched on and due to trainer mode, throttle goes to zero, other channels to middle and channels are locked.
Removed trainer setting and went out for a flight. Acro mode with Airmode perfectly working.

[2017-10-21 18:28] 3sr3v3r commented on #2193
Cool. Put a compiled image here:
https://github.com/3sr3v3r/LUXF4OSD

[2017-10-21 18:39] michaelvanderhoek opened #2382 "Sp F3 deluxe OSD and PPM+Softserial"
So, after a big disappointment on the banggood omnibus F4 v2 with the leds not working i bought an sp F3 deluxe with integrated osd.

It has anything on it, baro, compass, multiple uart's so it looked like the best choice for my hexa.

Well..... i guess not...

With inav 1.7.3 and 1.7.2 i can not get ppm receiver ans softserials to work together. When i switch the one, the other goes off. When i s

[2017-10-21 19:07] giacomo892 commented on #2381
@stefan73 close then issue then. Thanks!

[2017-10-21 21:06] teckel12 commented on #2379
@VoicOfReason No hack required. The SBUS port includes an inverter by default and soft serial can be inverted via software.

[2017-10-21 21:14] VoicOfReason commented on #2379
Same for telemetry? That's my concern.

[2017-10-21 22:43] teckel12 commented on #2379
@VoicOfReason For telemetry you use the soft serial port. As the name implies, it's not really a serial port, but just two pins and the microcontroller software emulates a UART. Since it's software, it can invert the signal without hardware.

So yes, you can run SmartPort telemetry on the soft serial port on a Omnibus F4 Pro. I run GPS (UART6), magnatometer (I2C on UART3), SBUS (UART1), and SmartP

[2017-10-21 22:47] VoicOfReason commented on #2379
Excellent. I've used soft serial before but not for telemetry like that.
That's a great idea.

[2017-10-22 01:49] digitalentity commented on #2312
@Arvycka please provide a link to a board. I'll try to get one and tackle the baro issue.

[2017-10-22 01:51] digitalentity commented on #2379
@VoicOfReason I've tested the 1.8-RC1 firmware on original Omnibus F7 V2 from Airbot and it works fine. Where did you get yours?

[2017-10-22 01:52] digitalentity commented on #2375
I'm adding this to 1.9 milestone since only custom-built targets seem to be affected

[2017-10-22 01:53] VoicOfReason commented on #2379
Drone Squad

[2017-10-22 02:10] digitalentity commented on #2377
Tested Omnibus F3 + INAV 1.8-RC1 + PPM receiver. No issues. Please make sure you have S.Bus jumper open and PPM jumper closed.

[2017-10-22 02:10] #2377 closed, assigned to nobody

[2017-10-22 02:35] digitalentity commented on #2215
Closing the issue then.

[2017-10-22 02:35] #2215 closed, assigned to nobody

[2017-10-22 02:35] digitalentity commented on #2193
@3sr3v3r please submit a PR into INAV, we'll target it towards 1.9

[2017-10-22 02:41] digitalentity commented on #1581
@fiam timeout is a good idea, but we need to make it smart enough to actually help.

[2017-10-22 02:46] digitalentity commented on #2379
Actually, you probably flashed the V1 firmware. I just realized that I didn't upload the V2 firmware to the release, sorry.

I've just uploaded the 1.8-RC1 for OMNIBUSF7V2 target, can you please test?

[2017-10-22 02:47] VoicOfReason commented on #2379
Yes! :)

On Sat, Oct 21, 2017 at 9:46 PM Konstantin Sharlaimov <
notifications@github.com> wrote:

[2017-10-22 02:48] VoicOfReason commented on #2379
Also, is soft serial enabled on the f7 v2?

[2017-10-22 03:19] digitalentity commented on #2379
No softserials on F7 yet

[2017-10-22 03:30] VoicOfReason commented on #2379
But eventually?

[2017-10-22 03:48] digitalentity commented on #2379
Eventually we'll probably do something about this (hence the "yet" word in the previous comment :smile: )

[2017-10-22 03:57] VoicOfReason commented on #2379
Ok. I’ve run out of ports. I need uarts for my runcam split and tbs smart
audio I don’t have.

[2017-10-22 04:54] VoicOfReason commented on #2379
UPDATE: I flashed with the new F7 V2 1.8RC1 firmware. It flashes just fine, same as before, but it STILL won't let me connect to the board in iNav configurator on my PC after I've flashed it. So, it's still not working. Going to have to go back to Betaflight.

[2017-10-22 05:21] digitalentity commented on #2379
Now this is odd. My F7 V2 works fine - just flashed it with firmware I uploaded to GitHub. Can you post a link to the board you purchased?

[2017-10-22 05:24] VoicOfReason commented on #2379
OMNIBUS F7 V2
https://www.amazon.com/dp/B07534KR56/ref=cm_sw_r_cp_api_PSc7zb40DB388

[2017-10-22 05:28] digitalentity commented on #2379
Try this build:
[inav_1.8.0_OMNIBUSF7V2.zip](https://github.com/iNavFlight/inav/files/1404628/inav_1.8.0_OMNIBUSF7V2.zip)

[2017-10-22 05:39] VoicOfReason commented on #2379
Nope. That didn't work either. Failed to open serial port. Same as before.

[2017-10-22 05:44] digitalentity commented on #2379
Ok, how do the LEDs on the board behave after you flash it?

[2017-10-22 05:48] VoicOfReason commented on #2379
They all seem to be fine. In fact, after I upgrade to iNav 1.8, when I plug in USB cable, I get 3 blue light flashes just as I do in betaflight. After that, I don't have any more blue light flashes, I don't think. But, I get a solid green and blinking blue light (3 times).

[2017-10-22 05:49] VoicOfReason commented on #2379
...I'm flashing using DFU. It's the only way it will flash.

[2017-10-22 06:00] digitalentity commented on #2379
Are you doing a full erase? Remainder of Betaflight's configuration is known to cause boot issues in INAV.

[2017-10-22 06:08] Pairan opened #2384 "Fixed wing: Getting rid of "Board aligment pitch"-tuning for flying levelled => adding a numeric display for pitch angle in OSD"
I've made my mind about why we need to do this in the way we do this and came to no clue.

To define it to be "levelled" is ok and already detected (runtime calibration). But if I think back to lets say Cyclops "StormOSD" or other systems, they can detect the FW flying level. This is, what takes the most of my time by now! (Ok, lets say, it's just me who struggles with this in the beginning)

Is t

[2017-10-22 06:15] Arvycka commented on #2312
@giacomo892  I have since received an identical board from another supplier and baro worked right away on it - so it's a hardware issue. That's what I get for being a cheapskate. Thanks for your help and sorry for posting to a closed thread.

[2017-10-22 08:00] #2381 closed, assigned to nobody

[2017-10-22 09:15] ghost opened #2385 "Fixed wing auto arm desn´t work properly on 1.7.3 CC3D/NAZE"
Setting fixed_wing_auto_arm by CLI manual description doesn't work on my CC3D and NAZE board (other arm options are working as expected - by stick and by switch). By my opinion the auto arm triggers on throttle min_check value instead of min_throttle. At this moment is the throttle value to high and the arm is rejected (the error LED blinks slow). Is it possible to correct this bug ? I don't try i

[2017-10-22 10:06] oleost commented on #2385
It's mincheck it will arm on. If it says min_throttle in documentation that is wrong.

[2017-10-22 10:18] Redshifft commented on #2384
An Aeroplane is not like a multirotor, it will fly perfectly well without a flight controller and without exception should be fully set up manually before you even think of using Inav's functions. If it is not done this way the plane will never fly well in ALL situations.

Adding more "auto this and that" just gets inexperienced people in more trouble.
It could not be much simpler, mount the level

[2017-10-22 11:05] digitalentity commented on #2384
I totally agree with @Redshifft. Properly set up plane has an inherent ability to fly level without any control or stabilization at all. This flying incidence should be figured out by trimming the plane when flying manually (or guessed). Firmware should be configured to consider this very incidence as "level".

If you are not able to make your plane fly level in manual mode - something is wrong wi

[2017-10-22 11:06] digitalentity commented on #2384
I'll keep this open for a while to allow people to exchange thoughts on the topic, but my personal view is that another "auto" for this is not a good idea.

[2017-10-22 11:07] digitalentity commented on #2385
Then we need to fix the docs.

[2017-10-22 11:08] digitalentity commented on #2372
I can't reproduce the issue.
Board is fully erased and flashed with MATEKF405OSD firmware (1.8-RC1). Once I activate LED_STRIP, board correctly boots and I see valid ledstrip data on S5. Closing.

[2017-10-22 11:14] artusmuc commented on #2372
Nice - can i have your version please ? I have not found an MATEKF405OSD firmware on the download page of 1.8 RC1

[2017-10-22 11:24] koetjeboe91 commented on #2193
Have tryed to instal the hex file into the flash of the flight controller. It does flash but wil not boot (solid blue led). tryed to open a serial com to see what the processor is doing but it wont even show a com port. reflashing cleanflight or other software no problem.

[2017-10-22 11:27] digitalentity commented on #2372
https://github.com/iNavFlight/inav/releases/download/1.8-RC1/inav_1.8.0_MATEKF405OSD.hex

[2017-10-22 11:53] Dronek commented on #2384
I support the statement by @Redshifft but at the same time I guess @Pairan is not talking about a badly setup plane to fly manually. A plane can be adjusted to fly perfectly in pass-through mode by trimming and setting COG right. However, this is more related to servo autotrim and will result in a straight flying plane more or less regardless of pitch angle etc. It has nothing to do with leveling.

[2017-10-22 12:19] stronnag commented on #2372
Looks like a compiler version issue. gcc 7 firmware locks up at boot with LED_STRIP enabled,

[2017-10-22 12:26] artusmuc commented on #2372
Thanks a lot for your fast reaction - yes the board is booting correctly with this version after activated LEDstrip in Configuration tab. It's is now reachable with Configurator. But to fly we have connect to mainpower. Did you try what happens when the board is connected to mainpower. Yes LEDs are working as i want. Then i want to activate my other components  and after connected with USB the boa

[2017-10-22 12:43] michaelvdhoek commented on #2382
I checked everything again today, it works on betaflight and on cleanflight.
But, INAV keeps disappointing me.

Here's a dump from Cleanflight.

2017-10-22 @ 14:10:47 -- Running - OS: Windows, Chrome: 61.0.3163.100, Configurator: 2.1.0
2017-10-22 @ 14:10:56 -- Loaded release information from GitHub.
2017-10-22 @ 14:13:06 -- Serial port successfully opened with ID: 5
2017-10-22 @ 14:13:14 -- Serial

[2017-10-22 12:46] Pairan commented on #2384
Now ... let me get clearer in what I wanted. Im flying a complete refurbished wing these days and it does indeed fly straight in passthrough which is a desired state and mandatory.

As @Dronek assumed right, its about keeping it in that way!

My "problem" starts with hitting Horizon mode and blends over to posHold!

1) If I hit Horizon mode now, it looses altitude which needs to be fixed by adjust

[2017-10-22 13:17] digitalentity commented on #2384
Ok, now after you explained your suggestion it makes more sense than before.

[2017-10-22 13:21] Pairan commented on #2384
I tend to be confusing by time ... sorry!

[2017-10-22 13:21] Dronek commented on #2384
I guess, this is the crucial point. If you want your aircraft to hold altitude reliably you should really enable ALTHOLD in the first place. Expecting POSHOLD to hold altitude during turns is a different story and IMHO much harder to achieve than in combination with ALTHOLD.

[2017-10-22 13:27] Pairan commented on #2384
So far Horizon mode did a good job for me

[2017-10-22 13:31] VoicOfReason commented on #2379
Yes I’m doing a full erase each time

[2017-10-22 13:44] 3sr3v3r commented on #2193
@koetjeboe91 thanks for the test!
Didn't bring my board on holiday so I will look into it when I'm back and when running create a PR.

Can't see an 'obvious' thing wrong at the moment.

[2017-10-22 13:59] michaelvdhoek commented on #2382
I think i found it,

When using the sliders in the GUI i cannot get it on ppm and softserial.
I tried via CLI and that is working!

maybe its a GUI thing?

[2017-10-22 14:00] niko919 opened #2386 "omnibus F4PRO INAV1.8RC1 broken LED"
upgraded fw from 1.7.3 to 1.8.rc1  and found that LED stripe on ws2811 is not working anymore on pin PA1. get back to 1.7.3 and led stripe is working

[2017-10-22 14:03] artusmuc commented on #2372
So - i have tested a little bit - and HEUREKA :)
UART1 is setting to MSP by default after a full-erase flash ( i have there the NAZA Cone GPS connected). Maybee it will be helpful after first flashing UART1 not setting to MSP as default.

But i was first focused by testing I2C and LEDs. But i dont give up. I deactived MSP rebooting - and with connected mainpower - the board is running and configur

[2017-10-22 14:06] digitalentity commented on #2372
@artusmuc MSP on UART1 is intentional - in case you break USB you will be able to continue using the board through UART1 and FTDI converter.

You can always disconnect GPS, reconfigure to use GPS on UART1 and then connect GPS - this configuration should persist across upgrades (unless you do a full erase or configuration reset).

@stronnag can you confirm that GCC7 generates faulty binaries?

[2017-10-22 14:11] stronnag commented on #2372
I can.  I've just reverted to 6.3 and the firmware survives LED_STRIP without any problem. So this issue is an artefact of the compiler (7.2 used previous to create the bad image).

[2017-10-22 14:13] digitalentity commented on #2372
Ok, I guess we can close this. We might want to open a new issue to track this gcc7 fluke

[2017-10-22 14:13] #2372 closed, assigned to nobody

[2017-10-22 14:23] artusmuc commented on #2372
Yes - its only a problem when MSP on UART1 is activated and there is connected a GPS for a fresh-flashed board, in this case the board is not reachable after rebooting for Configurator. If there is nothing connected all is ok :) Sorry for the trouble  and many thanks for your support :)

[2017-10-22 14:52] VoicOfReason commented on #2379
Maybe you could walk me thru exactly the steps you are doing to flash your f7?

[2017-10-22 15:14] VoicOfReason commented on #2379
.... also, is it possible that migrating from bf3.2.1 causes issues as opposed to migrating from 3.2?

[2017-10-22 15:31] mattyra commented on #2382
@michaelvanderhoek  can you share what command you used in the CLI pls i have the same problem on another board

[2017-10-22 15:44] michaelvanderhoek commented on #2382
Hey mattyra,

I only set the features rx_ppm and softserial in CLI.

Thats all. Then i configured my ports like i would like them. Uart 2 for GPS and softserial 1 for bluetooth at 9600 baud.

What problem do you have?

[2017-10-22 19:05] teckel12 commented on #2379
If you do a full erase while flashing it doesn't matter what version you're coming from. The steps are just to select full erase and instead of selecting to download firmware, select local and select the local file that digitalentity linked to.

[2017-10-22 19:07] VoicOfReason commented on #2379
Yeah, I did All that and it flashes but iMac configuration can’t connect to
the board after flashing. It can’t open that same serial port anymore.

[2017-10-22 19:08] teckel12 commented on #2386
@niko919 Correct, you need to use the J1 port for LED strip with INAV 1.8+ (instead of PWM5). Basically, the pin moved to where it should have been all along (J1).

[2017-10-22 19:32] niko919 commented on #2386
@teckel12 then need to mention it somewhere. hope this information will be in doc when release will be ready. i`ve  just checked J1,  it didn't lit my led too. :-(. need someone else f4 pro user to check it.

[2017-10-22 19:32] artusmuc commented on #2379
I have a similar problem with my F4 board (solved) - is there anything connected to your board - try to start without mainpower only USB and no additional devices after flashing.

[2017-10-22 19:58] VoicOfReason commented on #2379
How did you solve your problem exactly?

On Sun, Oct 22, 2017 at 2:32 PM, artusmuc <notifications@github.com> wrote: