[2017-10-22 20:23] VoicOfReason commented on #2379
Problem solved! I got the F7 V2 to flash with iNav finally and it connects. Here's why it wasn't working: I had a faulty GPS (BN-880) connected through UART6 and UART3 (I2C). It burned out from a prior crash but I just left it hooked up and it seems to have prevented the FC from connecting. I just replaced it with a new BN-880 and re-flashed and now it all works. Developers, take note. A faulty GP

[2017-10-22 21:51] wallbanger123 opened #2387 "Omnibus f4 Pro Corner"
What is the correct target to flash to this board? I see it is now supported with 1.8.

Also, does anyone have correct instructions to connect a M8N GPS module including the mag?

[2017-10-22 22:24] VoicOfReason commented on #2379
New issue: motors twitch in iNav and it just drops from sky after flying a few feet, motors turning off. Tried all the ESC types (multi-shot, oneshot, etc), but same problem. So, even worse, I reverted back to Betaflight and now it's doing that under Betaflight 3.2.1. I fly a few feet up, all motors turn off and it drops from the sky. All motors spin up just fine with the props off but with props

[2017-10-23 00:40] #2367 closed, assigned to fiam

[2017-10-23 00:51] teckel12 commented on #2387
@wallbanger123 The only difference between the v3 and pro target is that the Pro has an SD card (like the Pro Corners). It's also called the Pro Corners, so the target is the OmnibusF4Pro.

[2017-10-23 01:11] teckel12 commented on #2379
@VoicOfReason I really doubt INAV software broke your quad.

I've found that Multishot is more reliable than Oneshot (I've had a few crazy cases where Oneshot stuck a motor at 100% for no reason).  Also make sure you've upgraded your ESCs to the latest version.

To me, this sounds like an ESCs configuration issue. Calibrating the ESCs min/max, calibrating the transmitter range, etc. Also, what ESC

[2017-10-23 01:17] wallbanger123 commented on #2387
Thanks that is what I thought would be the case. The betaflight target is appended with SD so I wasnt entirely sure.

Any thoughts on GPS and I2C compass? I haven't had any luck on UART6 for the GPS. I can't seem to find solid info on I2C connections to this board.

[2017-10-23 01:23] teckel12 commented on #2387
@wallbanger123 That's why I opted for the Omnibus F4 Pro. It's more mature and has known configuration. Going with the latest FC is always a pain. Many times it's not fully supported, buggy, or come to find out something is totally missing, like soft serial or I2C.

Sorry, can't help. This post is to help others considering the Pro Corners or any new FC.

[2017-10-23 01:38] teckel12 commented on #2386
I have two quads with the F4 Pro and my LED strips are connected to J1 and they works great with 1.8-RC1.  Just to be sure you have the right connection, J1 is labeled as the LED strip connection in the Omnibus F4 manual, it's a 3 pin micro mini JST connection.

I'm in the process of making changes to the Omnibus F4 docs which will note this change.

[2017-10-23 01:41] VoicOfReason commented on #2379
II’ve already done everything you’ve said. I even Reflashed esc’s. Perfect
signal strength.

[2017-10-23 01:44] VoicOfReason commented on #2379
... Does it now under iNav and Betaflight when it didn't under Betaflight just beforehand. Everything works perfect if the props are off. I can spin motors up to full speed. As soon as I put on the props, it can barely takes off, then motors twitch, and then all turn off at once and then quad falls to the ground. Batteries are fine (checked 2 batteries, brand new).

[2017-10-23 02:48] VoicOfReason commented on #2379
I really appreciate your help on this...

So, here's a summary of my issue. I'm still posting here because I'm not entirely certain it isn't an iNav bug since the problem began immediately after flashing iNav with absolutely no hardware changes or damage.

1. Flashed iNav 1.8
2. Configured for flight using Oneshot
3. Tried to fly but was twitching, crashing, cutting power, etc. (see video below)
4

[2017-10-23 03:10] teckel12 commented on #2379
What do you have connected to your FC's 5v power supply? It could also be the lack of a capacitor on your battery input (although that typically happens at full throttle).

I'd remove VTX, GPS, etc. Also, only the latest ESC firmware should be used. And using wrong settings for your ESC model could cause all kinds of problems.

[2017-10-23 03:19] VoicOfReason commented on #2379
I already Have a capacitor attached. But like I said, the exact same
hardware setup produced perfect flying just before I flashed to iNav so I
don’t see how it could be my hardware setup. I also Use latest esc firmware

--
Peter Freund
Sent with Airmail

On October 22, 2017 at 10:10:37 PM, Tim Eckel (notifications@github.com)
wrote:

[2017-10-23 03:23] VoicOfReason commented on #2379
Hooked up via 5v from FC is GPS, buzzer, and LED. Camera and vtx get power
from esc directly.

[2017-10-23 03:24] MW2Stambo opened #2388 "INAV/OMNIBUSF4PRO 1.7.3 presets don't change smix"
As the title said, when I select and save any preset in the configuration or presets tab, then check the smix in the cli nothing has changed.
I assume this is due to the different smix format that v1.7 seems to use.
Old
smix 0 2 0 -100 0 0 0
New
smix 0 2 0 -100 0
Been messing with this all weekend trying to get a custom mix to save and it kept saying parse error.
Found the answer in a reply to a P

[2017-10-23 03:36] MW2Stambo commented on #2332
I think there is a minimum distance for RTH to work, about 50 meters.
Perhaps you can change this in CLI, or ride bicycle further before switching on RTH. :-)

[2017-10-23 03:43] MW2Stambo commented on #2287
I was having issues trying to set up a Nano Talon on 1.7.3
It may be a problem where the servo mix is not being accepted from the preset.
Your dump has no smix at all.
The smix format seems to have changed.
Old
smix 0 2 0 -100 0 0 0
New
smix 0 2 0 -100 0
You may have to use a custom mix, or wait until they fix the presets to use the new format.

[2017-10-23 04:00] teckel12 commented on #2379
Explain "Camera and vtx get power from esc directly". You have ESCs with BECs? How old are they? I haven't seen an ESC with a BEC since I built my first multiwii 450mm drone "back in the day".

[2017-10-23 04:08] VoicOfReason commented on #2379
Lumenier 35a 4-in-1 Blheli_S DShot600 ESC with 12v output (using this for VTX and camera) and 5v output (using this for LED light).

https://www.getfpv.com/lumenier-blheli-s-35a-4-in-1-12v-5v-bec-dshot-esc-current-sensor.html

But, again, all this hardware worked perfectly just prior to flashing iNav.

[2017-10-23 06:08] DzikuVx commented on #2388
Presets are not change `smix`. If you want to reverse any servo, you have to do it manually

[2017-10-23 06:08] #2388 closed, assigned to nobody

[2017-10-23 08:52] MW2Stambo commented on #2388
I don't think you understand what I meant.
I am not asking about reversing servos.
That can be done in the GUI.

Presets MUST change smix otherwise change from flying wing to airplane could not work.
The format for smix has changed however the presets may have not changed to match the new format, therefore if you change from default quad to airplane or flying wing there is presently no smix.
I had

[2017-10-23 11:15] teckel12 commented on #2379
Ah a 4 in 1 ESC. With your quad size I assumed individual ESCs.

I'd really like to see what firmware you flash your ESCs and what ESC settings you use. It looks like the ESCs are shutting down (like a overload protection which should be set to off). Or the wrong ESC firmware.

For sure I would start over. Flash,  calibrate, program ESCs, full erase FC and manually enter settings instead uploading

[2017-10-23 11:33] ins2d commented on #2216
Hey guys! Really looking forward to use camstab/servotilt in my Airbot Omnibus F4v3 project. At least pitch axis.

Now testing 1.8-RC where finally dedicated LED pin seems to be used, possibly opening ch5/ch6 for servos so we don't even have to sacrifice LEDs for tilting?

I'd love to help testing on my board once a solution is ready for that :)

[2017-10-23 15:36] teckel12 commented on #2386
@niko919 I believe I read that some OBF4Pro Chinese clones wired the LED strip pin incorrectly. If your board is from Banggood or the like that could be the issue. Mine are from http://www.readytoflyquads.com and the LEDs work fine.

[2017-10-23 16:42] VoicOfReason commented on #2379
![esc](https://user-images.githubusercontent.com/702777/31901516-40e390ea-b7e7-11e7-87e4-36520e3eb7a8.jpg)

[2017-10-23 16:52] VoicOfReason commented on #2379
I reflashed the ESC's to exact latest software I had before and I erased and reflashed Betaflight. Then, I manually put in all the correct values from last time (no dump) and no change. It still flies a few inches up and then all motors cut and it falls. Same as video. :(

[2017-10-23 17:47] teckel12 commented on #2379
@VoicOfReason It looks like you haven't done a throttle calibration on your ESCs (see ESC 2).

Remove battery, enable motors, move sliders to max for all motors, connect battery, reduce throttle sliders from max to minimum for each motor.  Your ESCs should be singing to you. The motors should never spin, but still a good idea to remove props first.

Also, I would turn temp protection and low rpm p

[2017-10-23 17:56] danarrib opened #2391 "Open Battery Data Link (help!)"
Hello. I'm trying to create a new type of battery sensor that can provide more detailed information about the batteries on an UAV. It's called  [Open Battery Data Link](https://github.com/danarrib/OpenBatteryDataLink/wiki). I already have a working prototype and now I want to integrate it to INAV, but I'm having hard time doing it.

On the [RCGroups Thread](https://www.rcgroups.com/forums/showthre

[2017-10-23 18:26] VoicOfReason commented on #2379
OK. I went ahead and did the throttle calibration and changed all of those settings. No change. It still won't fly more than an inch of the ground before all motors cut.

[2017-10-23 18:49] teckel12 commented on #2379
@VoicOfReason is it now showing the same values (except direction) for each ESC? And what's the min/max throttle now? Finally, a `diff` would probably be useful.

[2017-10-23 18:59] teckel12 commented on #2391
I would actually suggest using the I2C protocol instead. Since you're using an Arduino-based microcontroller, you can easily communicate over an I2C bus with existing mature libraries. As long as the I2C ID is different, you could attach many modules without conflict. Also, you could share the port with (for example) an existing magnatometer and/or barometer without a problem (as long as the IDs a

[2017-10-23 19:15] VoicOfReason commented on #2379
Here are my new values after calibrating all 4 motors.

![screenshot_2](https://user-images.githubusercontent.com/702777/31908481-a30a0c9e-b7fc-11e7-8338-270021af3558.jpg)

[2017-10-23 19:27] danarrib commented on #2391
Thanks for replying @teckel12 , I guess I2C will be easier to do, but as little I could read about it, there's some reliability issues... If somehow I disconnect one device from I2C bus, the entire bus will stop working until reboot. Is that right?
Since battery information is not crucial to keep UAV flying, I'll feel more confident if I can just disconnect my battery sensor and FC still works...

[2017-10-23 19:33] teckel12 commented on #2379
@VoicOfReason See the min/max throttle values? They should be the same for all ESCs. Do the calibration on each ESC individually and make sure it's working. You should read up on setting up your ESCs. With this configuration,  it's no wonder it's not working.

[2017-10-23 19:42] VoicOfReason commented on #2379
Well, this is a bit of a disaster. I just calibrated motor 1 fine. Then, I went to motor 2 and it literally went up in smoke. Wish I had left the temperature protection turned on.... I ordered a new motor and will test again once I get it and do calibration again....

[2017-10-23 19:48] teckel12 commented on #2391
I don't know about the disconnect, I would think the connection would be made before booting anyway, and it wouldn't disconnect mid-flight would it?

Also, the problem with using a UART is that no one has any UARTs available. Most people want to add more things (telemetry, GPS, VTX channel control, ESC out, etc. but can't). I don't think the interconnect bus allows you to share an already used UAR

[2017-10-23 20:25] teckel12 commented on #2379
@VoicOfReason The motors don't even spin during calibration. And even if at max throttle, the motor or ESC shouldn't smoke unless you run it for a long time. Something is seriously wrong with your configuration.

[2017-10-23 20:27] VoicOfReason commented on #2379
Exactly.

On Mon, Oct 23, 2017 at 3:25 PM Tim Eckel <notifications@github.com> wrote:

[2017-10-23 20:27] VoicOfReason commented on #2379
Except that I flew A perfect flight for 28 minute straight and motors
weren’t even warm. When I seitched To iNav that’s when problems all started.

On Mon, Oct 23, 2017 at 3:26 PM Peter Freund <freund7@sbcglobal.net> wrote:

[2017-10-23 20:55] teckel12 commented on #2379
Can't be INAV. Just because it happened about the same time doesn't mean it caused it, that's conspiracy theory logic.

Something seems seriously wrong with your ESC. Was it involved in the crash that took out your GPS? The min/max throttle set that way would cause the same problem in both INAV and betaflight.

[2017-10-23 20:59] VoicOfReason commented on #2379
I agree. Correlation doesn't entail causation.

But, iNav is the only variable that changed. No there was no crash. You may be thinking about some other posts about GPS problems, but that was on a different quad. The GPS stopped working on that other quad and I put it on this new one, but I replacement the GPS a few days ago. I'm wondering  if motor 2 has been bad already since it spun up before w

[2017-10-23 21:21] krzysztofmatula commented on #1411
As SBus is 100kbps, sharing UART with any uni-directional telemetry would requite that telemetry to run on such non-standard rate... Not good...

But..., what about remapping the TX pin from UART to regular GPIO and setting a softserial there? Is it possible with the current chips?

[2017-10-23 22:06] teckel12 commented on #2379
The throttle min/max on your ESCs have nothing to do with your motors. It's the min/max range of the inputs from the FC so they know the range to work with.  This is why all ESCs should show the same min/max. I believe you can calibrate your ESCs min/max without motors even attached.

[2017-10-23 22:09] VoicOfReason commented on #2379
Appreciate the help. Well, I've got a smelly burned out motor now (ordered a new one) and I ordered a new ESC and just to rule this out. I'll see how the new ESC works. If the problem still persists, I guess the FC is next. I did have problems flashing the F7 board from the very beginning.

[2017-10-23 22:55] teckel12 opened #2393 "OSD Head Free and Altitude Hold are not flight modes"
### Discussion

Currently with the OSD, Head Free and Altitude Hold are displayed in the flight mode field.  However, you can be in Acro, Angle, or Horizon mode and in Head Free and/or Altitude Hold at the same time.  Position Hold makes sense to be a flight mode, as it forces Angle mode.  But Head Free and Altitude Hold are not the primary flight mode but instead a secondary flight mode.

To me,

[2017-10-24 00:55] digitalentity commented on #2391
I do not recommend using I2C at all. It's very unreliable if not designed correctly on the FCs (a vary rare case lately).

[2017-10-24 01:43] teckel12 commented on #2391
@danarrib Heed digitalentity's warning. If I were you I would make it work via standardrd serial for testing (super easy with Arduino). Then convert to the interconnect protocol once you got everything working.

[2017-10-24 03:30] fiveangle commented on #2391
Given the popularity of iSDT chargers, there is speculation if BattGo will take off.  Regardless, their "development board" looks like it's a very small device.  Couldn't hurt to reach out to them for a dev kit to poke at it and see if the heavy lifting parts had already been done:  http://www.battgo.org

[2017-10-24 05:48] digitalentity commented on #2391
I've reached out to BattGo - if they will cooperate we'll be able to use smart batteries with INAV.

[2017-10-24 08:48] fiam commented on #2393
@teckel12 Altitude Hold is already displayed in the OSD_MESSAGES indicator when it can be combined with other modes. In FW, AH implies ANGLE so it's displayed in the OSD_FLYMODE indicator. See `osd.c` around lines 972 and 1326.

Now, for HF... I totally forgot about that one. I'll submit a PR for it before 1.8 final is released.

As for the other suggestions, I think keeping `STAB` is better than

[2017-10-24 09:45] fiam commented on #2393
@teckel12 I got permission from the BDFL to change `RTL` to `RTH`, so I'll submit another PR for that and it should fix this issue. Can we agree to keep `STAB` as it is?

[2017-10-24 10:33] niko919 commented on #2386
@teckel12 yep. my f4v2pro is from ali, and i`m sure it is not original ^-^.
i found the solution (http://forum.rcdesign.ru/f123/thread495417-18.html#post7154262)
but it`s a bit hard to do without magnifying glass and strong hands

is it possible to remap pins as on BF via CLI? or will it ever be added to inav?

thx for help.

[2017-10-24 11:36] danarrib commented on #2391
Ok, thanks for all replies. I'll try to do it using serial for testing purposes, then I'll ask for help again about UAV Interconnect Bus.

BattGo can address almost everything I'm trying to do. But it lacks some important things:
- It's not Open, it's Proprietary. I couldn't access it's SDK to see how it works.
- Only few battery brands are using it. There's no way to convert "dumb" batteries in s

[2017-10-24 11:40] digitalentity commented on #2379
I'm going to close this issue since the original problem is resolved.

[2017-10-24 11:40] #2379 closed, assigned to nobody

[2017-10-24 11:42] digitalentity commented on #2301
@Feldsalat I believe the original issue is resolved - we confirmed by logs that launch mode behaved exactly as configured.

[2017-10-24 11:43] digitalentity commented on #2391
@danarrib please don't close this issue - let's keep track of it. I think your solution will be very useful for dumb batteries and eventually should make it to INAV.

[2017-10-24 12:25] putimir commented on #1263
@teckel12 can you give a newb like me some pointers on how make a setup like you described (quadcopter, I'm planning to use 1.8RC, Omnibus F4 Pro v2, with TBS micro v2 RX, GPS&Compass, Unify Pro HV). As a newb, I got lost when I used up my HW UARTs, and I'm trying to setup softserials; am also not sure if I need resource re-maping / or even know if that is possible in current version of iNav. Than

[2017-10-24 14:04] teckel12 commented on #1263
@putimir you have too many things you want to connect. Not enough ports. I have just GPS, compass & telemetry and I've used all UARTS and the soft serial port on the Omnibus F4. You have 3 ports to work with. Either 2 UARTS+SS or 1 UARTS+SS and one I2C. If you want GPS/compass, that uses a UART and I2C. So, after just the GPS, you only have the soft serial port left. You need to decide which ONE a

[2017-10-24 14:25] Feldsalat commented on #2301
I can not contribute anything new. So, from my point of view, we can close the issue.
@digitalentity
Since the wrong pitch angel contributed to my problem ... and before I open unnecessary a new issue:
Am I wrong with the setting of the board alignment? See end of last post...

[2017-10-24 14:28] digitalentity commented on #2301
As long as firmware is correctly calculating attitude - your board alignment is set correctly. There's always more than one solution, especially if your board is mounted upside down.

[2017-10-24 14:28] #2301 closed, assigned to nobody

[2017-10-24 15:02] Feldsalat commented on #2301
In the Horizon mode, the aircraft flew not straight but clearly downward. In this case, the alignment can not be changed is really a bad thing.
I know this problem now, but others might also get problems with it.

[2017-10-24 15:38] teckel12 commented on #2331
Disable NAV_LAUNCH when flying to avoid issue where NAV_LAUNCH is always activated and the model is disarmed mid-flight.

[2017-10-24 16:00] compuatic opened #2400 "Waypoints doesn't work on Omnibus F4 Pro"
My experience trying to get waypoints to work with iNAV 1.7.2, 1.7.3, 1.8RC1

*excerpt below from my RC groups post*

1. iNAV configurator doesn't support any waypoint entry, even rudimentary via command line or other.
2. I went to mobile flight in hopes of making it work and discovered that you need a BLE module to make it work on iOS which I got. The App itself works great and uploads the waypoi

[2017-10-24 16:09] teckel12 commented on #2393
@fiam I got a thumbs up from @digitalentity to change `STAB` to `ANGL`, so I've submitted a PR.

[2017-10-24 16:54] teckel12 commented on #2393
I'm closing this as it seems the changes address the issue.  I'll test the next build and see if there's anything missing or still an issue.

[2017-10-24 16:54] #2393 closed, assigned to fiam

[2017-10-24 17:05] teckel12 commented on #2400
It would seem to me that waypoints should be added via a transmitter switch.  But maybe I'm over-
simplifying it.

[2017-10-24 17:12] fiam commented on #2400
I’m working on a desktop and eventually mobile app for waypoints. Once I have it working I plan to to make sure WP mode works fine and implement the missing WO types (there are like 5-6 types defined,  but only 2 are actually working).

[2017-10-24 17:14] stronnag commented on #2400
WP works just fine; I fly them multiple times per week and have done since 2015-12-12 on a number of FCs.

[2017-10-24 17:21] stronnag commented on #2400
Looks to me much more like an ezgui and / or MobileFlight issue to me.

[2017-10-24 17:48] fiam commented on #2400
Just to be clear, I’m not saying that WP doesn’t work right now, just that I don’t have the right setup to test it at the moment. @stronnag uses WP regularly with his own software and it works fine for him,  so it’s very likely that the issue is not in inav but in the software used for setting the waypoints.

[2017-10-24 18:10] stronnag commented on #2400
@fiam, looking forward to you implementing the missing WP types; mwp is ready.

Any for the records, ezgui works just fine too. If I upload a set of waypoints from ezgui, then disconnect ezgui and connect mwp (both BT/3DR), then in mwp (which has no mission loaded), I get:

![mission-ok](https://user-images.githubusercontent.com/158229/31959935-0fae5160-b8ee-11e7-9d6d-d8525d8dc5a4.jpg)

i.e the re

[2017-10-24 18:30] compuatic commented on #2400
@stronnag, EZgui upload and reads back just fine for me as well. The problem is switching into waypoints navigation during flight does absolutely nothing.

What mode are you in prior to arming? what controller are you using? could this be an omnibus F4PRO issue only?

[2017-10-24 18:36] compuatic commented on #2400
And by the way mobile flight connected to inav just fine, it now won't connect to 1.8 only. This is separate from the waypoints issue.

[2017-10-24 18:37] stronnag commented on #2400
You cannot prove that you have waypoints the the FC, in my case the result of MSP_WP_GETINFO demonstrates there are WP in the FC; your log showed there are 0 waypoints in the FC.

Mode prior to arm would be either acro or horizon. As WP demonstrably works for me on NAZE, SPRacingF3, SPRacingF3EVO, RMRC Dodo, OmnibusF3, Matek F405 AIO and Matek F405 OSD, I would be extremely suprised is it didn't w

[2017-10-24 18:38] stronnag commented on #2400
Apropros Mobile Flight, see https://www.rcgroups.com/forums/showpost.php?p=38492811&postcount=326

[2017-10-24 18:57] compuatic commented on #2400
I will take a video showing uzgui downloading the mission file from the controller upon powerup with. O prior mission on ezgui. Hopefully that qualifies as proof of what I'm doing.

[2017-10-24 18:59] stronnag commented on #2400
Do what you like, until your blackbox shows a valid mission you're wasting our time.

[2017-10-24 19:35] putimir commented on #1263
Hm, I know this is not the right place to talk about this, but, if you allow me one more question; i can't get my head around this: what is then the purpose of "realocating / releasing unused resources": https://github.com/betaflight/betaflight/wiki/Single-Wire-Software-Serial (I know it's a BF, but the principles are the same right?) - you're supposedto be able to use PWM resources for either Tra

[2017-10-24 20:09] teckel12 commented on #1263
You can't reassign pins in INAV. UART1 is my SBUS port, so that was assumed to be you Rx port. I'm not aware of a single wire serial protocol in INAV. I know there's a multi-device serial protocol, but I don't think anything uses it at the current time.

[2017-10-25 01:29] digitalentity commented on #2400
Waypoint flight works for me. Please provide a blackbox log of a flight done in 1.8-RC2 where waypoint mission doesn't activate.

[2017-10-25 02:36] compuatic commented on #2400
Here is a log from 1.8RC1
https://www.rcgroups.com/forums/showatt.php?attachmentid=10452190&d=1508733124

Stronnag says datalog confirms that iNAV sees no mission file even though ezgui confirms a valid mission is present via download off the controller. This is a plane not multirotor.

[2017-10-25 02:48] digitalentity commented on #2400
Please note that disconnecting the power will erase mission from RAM. Flash may retain the previously saved mission, but it is not loaded back to RAM automatically.

You should upload the mission in the field and should not disconnect the flight battery after that.

[2017-10-25 02:59] compuatic commented on #2400
Thank you for that info. I have noticed that the board will not arm if I upload a new mission at the field unless the power is cycled, this probably confirms what you are saying regarding the memory. The safety distance is set to the max of 6500 meters and the first waypoint is only a 100 meters or so away from home.

[2017-10-25 04:37] compuatic commented on #2400
Konstantin,
   I got it working with ezgui. Your hints above was the ticket. The trick was to first load and save into non volatile memory, then load into ram without power cycling. Waypoints now work. Powercycling disables it again. Non intuitive but I am relieved.

Any reason why iNAV can not auto load from flash? Ability to do manually or via a mode would be much more convenient.

[2017-10-25 04:44] digitalentity commented on #2400
You may have an old mission in non-volatile storage. Auto-loading mission may prevent you from flying.
Actually you don't have to save mission to non-volatile memory at all. EzGUI will upload it to RAM and you can execute mission normally.

Alternatively, you can plan mission at home, upload, save to non-volatile memory, power off. Then you go to the field, power up the machine, load the mission u

[2017-10-25 08:39] fiam commented on #2386
@niko919 next release (might be another RC or the final 1:8) will have a target with the ledstrip at the motor5 pin. We’ll eventually support resource remapping, but it’s not available at the moment.

[2017-10-25 08:56] ghost commented on #2385
By my opinion it is software bug, not a documentation issue, thanks for Your reply. I'll try it with SPRF3 board and iNav 1.8.x.

[2017-10-25 08:56] #2385 closed, assigned to nobody

[2017-10-25 11:13] niko919 commented on #2386
@fiam that`s great. thx for help.

[2017-10-25 11:13] #2386 closed, assigned to nobody

[2017-10-25 12:12] fiam commented on #1345
Just tested a couple of M8N receivers, one from HGRLC and another one from... who knows. Both of them support Galileo, but neither had it enabled by default.

I was able to permanently change the setting by opening U-Center, enabling Galileo and saving to flash. I will flight test this in the weekend and see if it makes any measurable difference.

In the meantime, I think if this turns out to be b

[2017-10-25 14:56] sammichael25 opened #2404 "Multirotor Auto Launch Feature"
Would it be feasible to add an auto launch feature for multirotors that once activated will launch aircraft to a pre-defined height (eg. 2m above ground) with the aircraft in position and altitude hold mode?

[2017-10-25 15:53] putimir commented on #2117
Hi, I have a cloned (BG) Omnibus F4 v2 (pro? - [prod. link](https://www.banggood.com/BF3_1_5-Omnibus-F4-V2-Flight-Controller-STM32-F405-MCU-Integrated-OSD-Built-in-5V-BEC-Current-Meter-p-1143258.html)), I connected the led strip to the J1 connector and I'm running iNav 1.8RC2, but the leds still aren't working...

My resource output says:

`B05: LED1 OUT`
`B06: LED STRIP OUT`

So should it work or

[2017-10-25 16:02] teckel12 commented on #2117
With a clone it probably won't work on J1. You need to o use the new OMNIBUSF4PRO_LEDSTRIPM5 target and connect the LED strip to M5 (PWM5).

[2017-10-25 16:19] ShikOfTheRa commented on #2378
Yes...

https://github.com/iNavFlight/inav/wiki/Custom-mixes-for-exotic-setups

[2017-10-25 19:54] Arvycka opened #2406 "fixed_wing_auto_arm broken since version 1.7.3"
fixed_wing_auto_arm no longer works since version 1.7.3 (neither does in 1.8-RC1, RC2)

Omnibus F3 pro
- Fixed wing
- fixed_wing_auto_arm=on
- Feature Motor_stop

Flash Version 1.7.2: Push throttle stick up - motor auto-arms and starts spinning
Flash Version: 1.7.3: Push throttle stick up - motor does not arm. (stick arming still working with fixed_wing_auto_arm=off)
Flash Version 1.8 RC1/RC2: Pus

[2017-10-25 20:00] seeul8er opened #2407 "Which MSP command to trim values roll, pitch and yaw"
Hi,
what MSP command should be used to trim roll, pitch, yaw?
iNAV configurator seems to use `MSP_SET_BF_CONFIG: 67`. If I look into `https://github.com/iNavFlight/inav/blob/master/src/main/msp/msp_protocol.h` it says the command is deprecated and you should use a different one. But which one? :smile:
I found `MSP_SET_SENSOR_ALIGNMENT: 220`. Is that the one?
I am talking about these settings:
I do

[2017-10-25 20:45] putimir commented on #2117
I suppose this target isn't going to be pre-built, can I ask someone with a running dev environment to build it? Thank you!

[2017-10-25 21:06] teckel12 commented on #2117
It seems the new LEDSTEIPM5 target is not in the latest RC. It will be included in 1.8.

[2017-10-25 22:51] teckel12 opened #2409 "1.8-RC2 - tz_offset yields odd results"
I set the `tz_offset` value to -240 (4 hours).  The OSD was off by 16 minutes?  So, I set `tz_offest` to -256 and now the time is correct.  Something isn't right here.

Also, the file timestamp on my blackbox logs were still UTC time.

[2017-10-25 22:57] teckel12 opened #2410 "1.8-RC2 - Home reset sets OSD distance to 0 but not altitude"
With distance and altitude shown in OSD I launch and fly 40 feet and land.  Distance shows 40 feet and altitude shows -5 feet.  I do a home reset from a transmitter switch and the distance correctly changes to 0 feet.  But, the altitude still shows -5 feet.

[2017-10-26 01:23] IcemanDZ opened #2412 "OSD: adding azimuth to the UAV from the home position"
I think position angle is more important than heading angle, with position angle, I know exactly where my drone is,  and if I have high gain antenna, I can turn the antenna towards to the drone, so I hope next update someone can add ths feature.

[2017-10-26 01:24] digitalentity commented on #2410
@teckel12 this is intended behavior. HOME RESET doesn't reset altitude.
I assume you don't want your expected landing altitude to be 5 feet above the ground.

[2017-10-26 01:25] digitalentity commented on #2412
Whta's position angle and what's heading angle? What OSD element are you referring to?

[2017-10-26 01:39] digitalentity commented on #2409
Minutes offset here is unsigned which causes issues. @teckel12 in your case time is probably off by 1088 hours and 16 minutes. @fiam can you look into this?
[code]

[2017-10-26 03:02] teckel12 commented on #2410
If the home position is reset, shouldn't it be x, y & z = 0 to the new home position? I get that it would be -5 feet below the old home position, but the new home position should be 0 distance, 0 altitude because that's where the model would return.

Doesn't the altitude reset when the home position is reset? In other words x, y, z should reset when home is reset. Are you just saying x & y is rese

[2017-10-26 03:10] teckel12 commented on #2409
Sorry that I live "left" of UTC. On this side of the planet, we refer to our time zone as -4 or -5 hours from UTC (depending on DST), at least on the east coast. I can understand how "negative time" would seem unlogical. But that's how we refer to our time zone vs. UTC.

[2017-10-26 03:13] digitalentity commented on #2410
Altitude is not calculated relative to home. It's controlled by `reset_altitude` parameter. It had absolutely nothing to do with HOME position. Local coordinate reference is acquired once per battery (altiude may be adjusted if `reset_altitude` is set accordingly).

In case when you move the disarmed machine by hand after reference is acquired, 3D home position is moved, but altitude is still calc

[2017-10-26 03:15] IcemanDZ commented on #2412
![untitled-1](https://user-images.githubusercontent.com/33108085/32033169-9309c814-ba3d-11e7-9edf-1155bb5f7af5.png)
Pls check the photo, position angle is the angle that  the take off position as the original point, the north of the take off point is  0 degree, everytime you fly the drone, you just need know the north, then you can know exactly of the direction of the drone, and the heading angle

[2017-10-26 03:16] digitalentity commented on #2410
Imagine resetting home position and altitude 100m above the ground. RTH will return to home position and descend fast to 100m above the ground. After that RTH will enter slow descend phase (since it assumes that 3D HOME is at ground level). You don't want the machine to descend from 100m at 25cm/s rate as it will take 7 minutes.

[2017-10-26 03:19] digitalentity commented on #2410
Regarding OSD - it's a matter of representation. We can work in global coordinates all the time with altitude counted from MSL (which would make the code much much simpler by the way).

IMO current behavior is most logical and most safe. Ground level doesn't change much in most cases and I don't want to make configuration more complex than necessary. It's already too complex.

[2017-10-26 03:27] digitalentity commented on #2412
I wonder how many users would want this feature. We already have 36 indicators in OSD which is quite a lot. I hope more flyers will drop by and share their oppinions.

[2017-10-26 03:36] IcemanDZ commented on #2412
I think this feature is one of the most important feature in the OSD, especially for fixwing user, when the drone in a unfamiliar place, I can know where is my drone and I can puts me antenna toward to drone to get more stable video.

[2017-10-26 03:50] teckel12 commented on #2410
@digitalentity Makes total sense.  I would never purposely set home position while flying. But if I did, I can understand why it would only reset X&Y and not Z.

With that said, once we know if the craft is in the air, if the craft is not flying (on the ground) home reset should zero 3D. If in the air, just an X & Y reset.

[2017-10-26 03:53] teckel12 commented on #2410
I'll defer this till when know the craft is in the air or not.

[2017-10-26 03:58] teckel12 commented on #2412
I do this with transmitter telemetry. @IcemanDZ Are you running SmartPort telemetry? If so, my telemetry script does exactly what you want https://github.com/iNavFlight/LuaTelemetry

I can't imagine a video that's breaking apart is the best way to show a direction that you should adjust your directional antenna. If I lose video feed, I take my goggles off and look at my transmitter and the sky to

[2017-10-26 04:07] digitalentity commented on #2410
Let's keep it open and notify that it's blocked by #2331

[2017-10-26 04:14] teckel12 commented on #2387
@digitalentity I believe this can be closed.

[2017-10-26 04:22] teckel12 commented on #2331
#2410 If in the air, home reset just reset X & Y as it works previously.  If not in the air, home reset should do a 3D reset (reset altitude as well).

[2017-10-26 04:31] #2387 closed, assigned to nobody

[2017-10-26 04:36] VoicOfReason commented on #2379
Teckel12, I'm pretty close to getting telemetry (voltage) over softserial on Omnibus F4 V3 Pro, but not quite.  Here's what I did:

resource motor 5 none
resource motor 6 none
resource led_strip none
resource serial_tx 11 a1
resource serial_rx 11 a8
save

Then, I configured the softserial port for SmartPort at 9600 baud.

I'm still not getting voltage.

Do I hook up the S.PORT cable from the Frsky

[2017-10-26 06:08] stronnag commented on #2327
Latter case looks like #2409

[2017-10-26 06:08] #2327 closed, assigned to nobody

[2017-10-26 06:58] Dronek commented on #2412
@IcemanDZ, have a look at "map mode" in MWOSD. I use it many times during each flight. It can be configured to show aircraft position relative to home as well as aircraft orientation relative to home. This way you can estimate where to point your directional antenna and whether the aircraft is flying out or towards home point.

[2017-10-26 08:32] Pairan commented on #2412
commonly I use the home-direction-arrow to figure, where the Wing is and relativly where I am ... personally that helps me more than a indicator showing degrees (and I'm flying without telemetry). If the receiption (VTX) goes noisy I change the direction of my head to get it better.

But maybe that's just me

[2017-10-26 09:30] fiam commented on #2412
@Dronek could you upload some captures from "map mode" in MWOSD? My searches have turned up nothing of interest.

[2017-10-26 10:18] ShikOfTheRa commented on #2412
@fiam – great job on inav OSD…. Look forward to using it myself at some point. Send me pm for email if you need any Q about MWOSD functionality.
I don’t have a video of it in operation, but just did a quick one with simulator so can get idea. Vid is crap really.
Those transitioning from LOS particularly seem to like it… feel the need to know where aircraft is. Never use myself though!

There are a

[2017-10-26 10:23] straferr opened #2414 "1.8RCx - Mag unstability when SBUS activity begins after Tx power up"
If my radio transmitter is OFF and the quad is powered up, the compass works fine (as reported by the 3D model in iNav configurator and OSD heading graph).  The moment I turn on my radio ON, the compass goes berzerk.  The 3D model in the configurator spins/jerks around randomly, and the OSD heading graph shows similarly erratic changes.  When I turn OFF my radio, erratic compass behaviour persists

[2017-10-26 10:39] markandkymward commented on #2377
This problem also exists with ANYFCF7_EXTERNAL_BARO, stable, RC1 and RC2.

[2017-10-26 10:42] markandkymward opened #2415 "Analog RSSI not reporting ANYFCF7 INAV 1.8.1"
Firmware ANYFCF7_EXTERNAL_BARO, stable, RC1 and RC2.  Confirmed setup with BetaFlight

[2017-10-26 10:44] markandkymward opened #2416 "VBAT not reporting correctly ANYFCF7, iNav 1.8.1"
Firmware ANYFCF7_EXTERNAL_BARO, stable, RC1 and RC2.  Confirmed setup with betaflight.

[2017-10-26 10:50] digitalentity commented on #2377
@markandkymward For version 1.8 this is normal behavior. Version > 1.8.0 changed the notation of the map. It now shows actual channel numbers, not AUX channel numbers. Therefore AETR5678 should be interpreted as "Aileron, Elevator, Throttle, Rudder, CH5, CH6, CH7, CH8".

[2017-10-26 10:50] digitalentity commented on #2416
Do a full erase and re-configure.

[2017-10-26 10:51] digitalentity commented on #2415
Do a full erase and re-configure.

[2017-10-26 11:07] digitalentity commented on #2409
Fixed by #2413

[2017-10-26 11:07] #2409 closed, assigned to fiam

[2017-10-26 11:45] markandkymward commented on #2416
Attempted, no joy.

[2017-10-26 11:45] markandkymward commented on #2415
Attempted, no joy.

[2017-10-26 11:49] markandkymward commented on #2362
Tried with ANYFCF7_EXTERNAL_BARO, RC1 and RC2 - works great!

[2017-10-26 11:54] Dronek commented on #2412
The description of @ShikOfTheRa pretty much sums it up @fiam . Could not demonstrate it better than the creator of the OSD :)

It is actually one of the most useful features of MWOSD for me. The way I use it:
- decide in which direction you want to fly mainly (in most cases against wind, that is)
- point aircraft in this direction and arm (in map mode 4 this direction is set as "UP" on the map)
-

[2017-10-26 11:56] digitalentity commented on #2416
@markandkymward can you show output of CLI `status` and `set adc` ?

[2017-10-26 12:27] teckel12 commented on #2362
@markandkymward Was that the Tramp Lua script or the PID Lua script?

[2017-10-26 12:46] ShikOfTheRa commented on #2412
@fiam

take a look here for code:
https://github.com/ShikOfTheRa/scarab-osd/blob/master/MW_OSD/Screen.ino#L2155

mapmode case = 3 as described above.

[2017-10-26 12:50] markandkymward commented on #2416
@digitalentity thank you sir.  I am on the road until Friday night.  I'll do so as soon as I get back to the bench.  I did check status during testing and ADC0(1) was VBAT, ADC1(2) was current and ADC2(3) was RSSI.  I checked the wiring using a Betaflight flash and it appeared to be operating correctly after adjusting the scaling factors available in BF - although the voltage did appear to fluctua

[2017-10-26 12:58] teckel12 commented on #2409
Those of us this side of the world thank you.

[2017-10-26 13:07] teckel12 commented on #2379
@VoicOfReason There's a few problems. First, your using the wrong pins. You also need to use a resistor between TX and RX. Also, SmartPort is 56000 baud.

Instead of detailing everything here, you should read the Omnibus F4 docs: https://github.com/iNavFlight/inav/blob/development/docs/Board%20-%20Omnibus%20F4.md  and the SmartPort telemetry docs: https://github.com/iNavFlight/inav/blob/developmen

[2017-10-26 13:32] VoicOfReason commented on #2379
Teckel12, I see how to do it now. One last question: do I follow the same procedure if using Betaflight rather than iNav?

[2017-10-26 13:38] VoicOfReason commented on #2379
Oh, and also what commands do I use to assign the pads to softserial? Thanks again!

[2017-10-26 14:11] teckel12 commented on #2379
In the INAV configurator, turn on telemetry, soft serial and set the SS port to SmartPort telemetry at 56000 baud. There's a few CLI commands you can set that are in the docs as well. All telemetry sensors are automatically sent, you don't select which you want, you get them all.

When using soft serial you can invert the signal via software. So you don't need a hardware inverter or wire to an uni

[2017-10-26 16:30] markandkymward commented on #2362
The script I run is for both. BF.lua. Can’t recall source

[2017-10-26 17:36] teckel12 commented on #2362
@markandkymward That's what I figured. This issue is about the Tramp Lua script, not BF. Lua.

Did the VTX panel work or just the PIDs? Because that could isolate the problem to INAV or the Tramp script.

[2017-10-26 19:07] jelle737 commented on #2270
I like this 2 stage RTH and like to see it implemented. Some extra altitude for longer distances would be welcome. Or even a mix of 'highest' on distance and 'fixed' once close.

[2017-10-26 19:09] teckel12 commented on #2416
@markandkymward Is this in the configurator?

[2017-10-26 19:15] teckel12 commented on #2415
I needed to manually reset my RSSI channel after upgrading to 1.8-RC1. All is good now.

[2017-10-26 19:17] jelle737 commented on #2331
I had the scenario of crash/signal lost/failsave triggered twice, It spins the motor very powerfull until the battery is dead. Second time I was prepared and took the radio to disarm though. But I am in favour of automated disarming in such scenario.

[2017-10-26 19:18] teckel12 commented on #2414
Is this the model with the current sensor? If so, you should use the Pro target

[2017-10-26 19:31] VoicOfReason commented on #2379
Thanks again. Actually, I'm on Betaflight currently and got it to work on PWM5 without having to use a resistor. All I did was wire the un-inverted signal from the XSR (backside) to PWM5 and then type in the CLI command to turn on inversion. That did it. I'm getting full telemetry now.

[2017-10-26 20:15] teckel12 commented on #2331
@jelle737  If in FAILSAFE mode and no longer flying, disarm would be ideal as well.

[2017-10-26 20:17] teckel12 commented on #2379
@VoicOfReason On PWM5? Or do you mean CH5?

[2017-10-26 20:19] VoicOfReason commented on #2379
On PWM5 actually. Works great.

[2017-10-26 20:19] teckel12 commented on #2379
You don't need to mess with finding the uninverted signal on your RX if your using soft serial, just invert it via a CLI command.

[2017-10-26 22:43] markandkymward commented on #2362
AFAIK both. Tramp could change channels but I did attempt to set PIDs. I’ll give it a look when I get back to the bench.  BTW, it is the same script I was having problems with earlier using 1.7.3 firmware for SPRACINGF4 evo.

[2017-10-26 22:49] markandkymward commented on #2377
That makes sense when put that way. Problem is I’m not getting any signal from a known good receiver. Ports mapped and sbus (frisky x8R) inverted. ANYFCF7_EXTERNAL_BARO, stable, RC1 or RC2 firmware, iNav 1.8 configurator.

[2017-10-26 22:56] VoicOfReason commented on #2379
I know. But, when I tried it normally I didn't get any telemetry at all. Just a simple wire and it's fixed.

[2017-10-27 00:55] markandkymward commented on #2416
@teckel12 configurator 1.8.  The status I mean is CLI

[2017-10-27 02:59] chan2328 opened #2418 "release 2 servo pin for servo_gimbal"
could you please help to release/remap pins for servo_gimbal.

# version
# INAV/BEEROTORF4 1.7.3 Sep  9 2017 / 10:49:35 (974440df)
# resource
IO:
----------------------
A00: MOTOR4 OUT
A01: MOTOR3 OUT
A02: FREE
A03: SERIAL2 UART RX
A04: MPU CS
A05: SPI1 SCK
A06: SPI1 MISO
A07: SPI1 MOSI
A08: MPU EXTI
A09: SERIAL1 UART TX
A10: SERIAL1 UART RX
A11: USB IN
A12: USB OUT
A13: FREE
A14: FREE
A15: OSD CS

[2017-10-27 03:01] straferr commented on #2414
Nope, its not the Pro.  This is the Airbot Omnibus F4 V2.  Its got the SD card reader and onboard OSD, but the onboard BEC is linear, not the SBEC of the Pro, and its got no current shunt resistor ie. current sensor.  There is no hex target for the V2, only the V3.

<img width="572" alt="airbotomnibusaio-f4_v2_view_01" src="https://user-images.githubusercontent.com/11936089/32086189-fec8c9ba-bb05-

[2017-10-27 03:05] digitalentity commented on #2414
Can't reproduce on any of my Omnibus boards

[2017-10-27 03:07] digitalentity commented on #2377
Please provide more details about your configuration. Full "dump" is recommended.

[2017-10-27 03:08] snowblind64 opened #2419 "Distance to home disappears from OSD when distance exceeds 1000m (.62mi) 1.8 RC2"
After updating to iNav 1.8 RC2 when I fly more than 1000m, the distance to home in the OSD disappears. It reappears when I return to less than 1000m from launch. I have updated the fonts and did not have this issue with RC1.

I am running an Omnibus F4 Pro. Flying wing configuration.

Is anyone else having this issue?

[2017-10-27 03:08] digitalentity commented on #2415
@teckel12 what did you have to adjust?
@markandkymward please provide a "status" and "dump" of your config.

[2017-10-27 03:08] digitalentity commented on #2419
@fiam can you have a look?

[2017-10-27 03:25] straferr commented on #2414
Lemme see if I can get a video up showing this issue.  I can repeatably and reliably get this to happen, just switching between 1.7.x and 1.8.x.  Will upload video here, or link to Youtube.

[2017-10-27 03:32] teckel12 commented on #2415
@digitalentity I don't use the RSSI input port on my FC (could never get it working). Instead, I just sent RSSI from my transmitter back to my RX on (I believe) channel 13. I know, that's a lot of back and forth, but it works without a hitch.

When I upgraded to RC1 I wasn't seeing RSSI. I had to set it back to channel 13. At this point I don't remember if it was when I did a full erase and import

[2017-10-27 03:34] digitalentity commented on #2414
Please also provide a dump of your configuration of 1.8.x

[2017-10-27 03:46] teckel12 commented on #2414
While it may have been called the v2, I believe if it has a linear regulator it's really the v1 and you should use the appropriate target. The v2 is what they called the Pro model originally, but that's Uber-confusing because there now v3-v5 versions of pro.

[2017-10-27 06:04] chan2328 commented on #2418
i can use variable switch (CH9 to control servos in gui as below, but there is no reaction on servo which connect to FC) .  what is the problem?

![default](https://user-images.githubusercontent.com/32637631/32089863-1389c5f2-bb1f-11e7-8c0c-299cc8696b03.jpg)

[2017-10-27 06:31] straferr commented on #2414
@digitalentity:  Here is the dump of 1.8RC2 (if you scroll to the bottom, I've also attached a DIFF to help make reading easier):

`# dump

# version
# INAV/OMNIBUSF4V3 1.8.0 Oct 24 2017 / 07:06:11 (0f1975ce)

# resources

# mixer
mixer QUADX

mmix reset

# servo
servo 0 1000 2000 1500 100 -1
servo 1 1000 2000 1500 100 -1
servo 2 1000 2000 1500 100 -1
servo 3 1000 2000 1500 100 -1
servo 4 1000 200

[2017-10-27 06:34] straferr commented on #2414
@teckel12 :  Which target should I use then?   I tried flashing the plain "Omnibus" hex, which resulted in a hung flash and I needed to use the FC's physical boot button to recover from.  The Omnibus F4 Pro hex results in the same mag instability.  There is no specific hex for the Omnibus F4 V2, so I had settled on the Omnibus F4 V3, whose namesake and physical lineage most closely matches the boa

[2017-10-27 06:34] straferr commented on #2414
Here is the video of the bug, as promised:
[https://www.youtube.com/watch?v=32yMbrTKEjA](url)

[2017-10-27 06:58] Pairan commented on #2412
**May I do a suggestion here:**
How about creating 3 screens for OSD (switchable through the OSD switch defined in the MODES)?

Lets say, Page 1 + 2 can be user defined while page 3 remains BLANK? Or we could have all three screens user defined as an alternative.

By hitting the OSD switch the screens could cycle through.

Maybe this could reduce the amount of indicators on the osd screens and cre

[2017-10-27 07:06] digitalentity commented on #2414
@straferr ok, this indeed looks odd. Will have a look

[2017-10-27 07:09] digitalentity commented on #2414
@straferr can you check if it will also appear on slower looptimes?
Would be also good if you disable the mag entirely and check if the issue is still present.

[2017-10-27 07:59] digitalentity commented on #2414
@straferr I was able to reproduce the issue, will now investigate

[2017-10-27 08:39] chan2328 commented on #2418
I just tried BF, turn on servo_tilt, and use CLI command "resource" to remap the pin from motor output to servo ouput. like as;

resource motor 7 none
resource servo 0 b05
save

then the servo works very well.

so why dont inav just add that command "resource" to solve a lot of problem from motor and servo pin.
or add a selection of output pin for servo output only if servo_gimbal is turned on. ot

[2017-10-27 10:35] Dronek commented on #2412
I suggest, you really check out MWOSD's features and code. Multiple OSD screens, map mode, etc. have been around for quite a long time and are working really reliably. It makes more sense to collaborate based on this instead of inventing all existing features all over again. Maybe MWOSD can benefit from this as well for those who keep using separate OSD boards (e.g. minimosd) instead of AIO FCs.

[2017-10-27 10:37] digitalentity commented on #2414
Fixed by #2420. Connection to S.Bus activity is coincidental, issue is always present, but sometimes doesn't manifest itself

[2017-10-27 10:38] digitalentity commented on #2412
@Dronek I agree. Porting some feature from scarab-osd is definitely a good idea. Not sure if code would be directly reusable though.

[2017-10-27 10:47] straferr commented on #2414
@digitalentity : Awesome work!

[2017-10-27 11:09] markandkymward commented on #2415
@teckel12 Probably what I’ll do too if I can’t get it working.

 @digitalentity, will do

[2017-10-27 11:17] digitalentity commented on #2414
Fix merged. Closing

[2017-10-27 11:17] #2414 closed, assigned to nobody

[2017-10-27 11:21] markandkymward commented on #2416
Betaflight configurator had entries for voltage multiplier and divider values. When I adjusted those in BF I was able to able to approximate the actual voltage.  The resultant voltage values would vary widely (2 or three volts). Makes me wonder about the ANYFC F7 ADC

[2017-10-27 11:44] digitalentity commented on #2406
Fix ready. Closing

[2017-10-27 11:44] #2406 closed, assigned to nobody

[2017-10-27 11:55] digitalentity commented on #2406
@Arvycka found a bug, thanks for reporting. Will be fixed in next build.

[2017-10-27 11:57] Arvycka commented on #2406
Thanks. Sent you a beer :)

2017 spal. 27 02:55 pop. "Konstantin Sharlaimov" <notifications@github.com>
rašė:

[2017-10-27 12:06] VoicOfReason commented on #1761
I agree

[2017-10-27 13:06] teckel12 commented on #2414
@straferr It would seem that you should use the OMNIBUSF4 target.

[2017-10-27 13:24] straferr commented on #2414
@teckel12
Thanks, I'll give it a try when RC3 rolls out.  For now, 1.7.2 OMNIBUSF4V3 hex works beautifully for me.  Will make a note here if the OMNIBUSF4 hex does the job well on RC3 :)

[2017-10-27 13:30] digitalentity commented on #2414
Most likely there won't be any RC3. If no critical bugs will arise we'll unroll final 1.8 release next week.

[2017-10-27 15:09] ShikOfTheRa commented on #2412
Happy to help out with any questions or how things work. Love to see some of this implemented. Its an exciting time for iNav development. Hope you have plenty of free resources!
Unfortunately due to illness in family I have for some time now been unable to do much in way of coding. Maybe another couple of months to go

Some features. Not all may be applicable to iNAV as it supports many other FC t

[2017-10-27 15:36] fiam commented on #2419
@snowblind64 It seems to work fine both in metric and imperial units for me. Does it disappear completely or does it just blink? If it's blinking, note that 1000m is the default value for the distance alarm, so you might be triggering it. Note that it can be configured or completely disabled from the configurator if it bother you.

Also, if you can post the video from the OSD output it might be he

[2017-10-27 18:25] Rx-R opened #2423 "Skyhunter Custom Mix not working with Matek F405OSD"
Is there an updated custom mix for the F405osd that supports the skyhunter layout?

[2017-10-27 18:29] snowblind64 commented on #2419
@fiam The distance value disappears completely and does not return until I come back to <1000m from home. I have my distance alarm set to 2 miles and am using imperial units. I'm going to do some flying this afternoon and will do a bit more troubleshooting. If the problem persists I will post the DVR footage.

[2017-10-27 20:06] fiam commented on #2419
@snowblind64 Thanks for the clarification. I ran several bench tests, mocking the distance and making it go from zero to 3km and back and it worked fine. Hopefully the DVR footage will help us figure this one out.

[2017-10-28 00:08] #2423 closed, assigned to nobody

[2017-10-28 01:01] markandkymward commented on #2415
# status
System Uptime: 58 seconds
Current Time: 0000-01-01T00:00:00.000+00:00
Voltage: 15 * 0.1V (1S battery - CRITICAL)
CPU Clock=216MHz, GYRO=MPU6000, ACC=MPU6000, BARO=BMP280, MAG=HMC5883
STM32 system clocks:
  SYSCLK = 216 MHz
  HCLK   = 216 MHz
  PCLK1  = 54 MHz
  PCLK2  = 108 MHz
Sensor status: GYRO=OK, ACC=OK, MAG=OK, BARO=OK, RANGEFINDER=NONE, OPFLOW=NONE, GPS=OK
SD card: Manufacturer 0x3

[2017-10-28 01:02] markandkymward commented on #2415
I've noticed that when I turn off the transmitter, the VBAT reading goes to zero.

[2017-10-28 01:05] markandkymward commented on #2415
dump

# version
# INAV/ANYFCF7_EXTERNAL_BARO 1.8.0 Oct 24 2017 / 07:18:06 (0f1975ce)

# resources

# mixer
mixer QUADX

mmix reset

# servo
servo 0 1000 2000 1500 100 -1
servo 1 1000 2000 1500 100 -1
servo 2 1000 2000 1500 100 -1
servo 3 1000 2000 1500 100 -1
servo 4 1000 2000 1500 100 -1
servo 5 1000 2000 1500 100 -1
servo 6 1000 2000 1500 100 -1
servo 7 1000 2000 1500 100 -1

# servo mix
smix re

[2017-10-28 01:21] markandkymward commented on #2416
# status
System Uptime: 249 seconds
Current Time: 0000-01-01T00:00:00.000+00:00
Voltage: 16 * 0.1V (1S battery - CRITICAL)
CPU Clock=216MHz, GYRO=MPU6000, ACC=MPU6000, BARO=BMP280, MAG=HMC5883
STM32 system clocks:
  SYSCLK = 216 MHz
  HCLK   = 216 MHz
  PCLK1  = 54 MHz
  PCLK2  = 108 MHz
Sensor status: GYRO=OK, ACC=OK, MAG=OK, BARO=OK, RANGEFINDER=NONE, OPFLOW=NONE, GPS=OK
SD card: Manufacturer 0x

[2017-10-28 01:22] markandkymward commented on #2416
# set adc
vbat_adc_channel = 1
Allowed range: 0 - 4

rssi_adc_channel = 3
Allowed range: 0 - 4

current_adc_channel = 2
Allowed range: 0 - 4

airspeed_adc_channel = 0
Allowed range: 0 - 4

#

[2017-10-28 01:22] markandkymward commented on #2416
I notice that when I turn the receiver off, VBAT goes to zero.

[2017-10-28 02:00] markandkymward commented on #2416
Closing.  Misread the hand-drawn pinout.  Had ADC order backwards..

[2017-10-28 02:00] #2416 closed, assigned to nobody

[2017-10-28 02:02] markandkymward commented on #2415
closing, misread hand-drawn pinout.  had adc order backwards.  thanks for the help.

[2017-10-28 02:02] #2415 closed, assigned to nobody

[2017-10-28 03:03] digitalentity commented on #2419
@snowblind64 I believe we need your full `dump` to see if this is a configuration error.
@fiam FIY I also did a synthetic test on my bench and distance is shown correctly.

[2017-10-28 03:03] Jozx900 commented on #2353
Thanks

[2017-10-28 03:59] teckel12 commented on #2419
I'll do a field test of flying further than 1000m tomorrow and see what happens. I always have the DVR running so I'll be able to review it.

[2017-10-28 06:20] snowblind64 commented on #2419
Seems the issue is related to the alarm blinking functionality. Sadly it seems to be intermittent. I am not seeing the distance or altitude blink when I exceed their alarm value. Most of the time it just remains solid.

On the last flight of the day I exceeded the 400ft alarm altitude I had set and altitude disappeared from the OSD, then returned when I dropped down again. I didn't have any issues

[2017-10-28 06:22] snowblind64 commented on #2419
Here's a full dump of my config:
`# dump

# version
# INAV/OMNIBUSF4PRO 1.8.0 Oct 24 2017 / 07:05:30 (0f1975ce)

# resources

# mixer
mixer FLYING_WING

mmix reset

# servo
servo 0 1000 2000 1500 100 -1
servo 1 1000 2000 1500 100 -1
servo 2 1000 2000 1500 100 -1
servo 3 1100 2000 1500 -100 -1
servo 4 1000 2000 1620 100 -1
servo 5 1000 2000 1500 100 -1
servo 6 1000 2000 1500 100 -1
servo 7 1000 200

[2017-10-28 13:43] seeul8er commented on #2407
Update: MSP_SET_SENSOR_ALIGNMENT means the spinners on the right ... kind of logical now :smile:
MSP_SET_BOARD_ALIGNMENT should be it!

`boardAlignmentMutable()->rollDeciDegrees = sbufReadU16(src);
  boardAlignmentMutable()->pitchDeciDegrees = sbufReadU16(src);
  boardAlignmentMutable()->yawDeciDegrees = sbufReadU16(src);`

Not tested but closing it anyway.

[2017-10-28 13:43] #2407 closed, assigned to nobody

[2017-10-28 14:15] teckel12 commented on #2419
If the Omnibus is a clone, it could be the clone OSD chip?  I've heard people with clone Omnibus FC having OSD issues.  If so, either turn off the max values or when they disappear you know you're over the limit.

[2017-10-28 17:48] snowblind64 commented on #2419
I bought this FC from RTFQ. Do they sell clones? I'll do a bit more testing today and try and get some DVR recording. It could be a hardware issue.

[2017-10-28 18:05] teckel12 commented on #2419
@snowblind64 That's not a clone then. Just a thought.

[2017-10-29 03:14] snowblind64 commented on #2419
Here is a link to DVR video of the issue: https://youtu.be/02xXpehBeQ4

See the video description for relevant times when issue occurs. Seems to affect anything that is meant to blink. I'm running the same board in a quad with Betaflight. Blinking of time and mAh consumed seem to work fine on the quad. Both are Omnibus F4 Pros from RTFQ. The one in the wing is an earlier version without the curren

[2017-10-29 03:18] digitalentity commented on #2419
@fiam FIY I've noticed that OSD is semi-transparent with latest code as if 7456 is only drawing in even or odd fields. In Eachine EV100 goggles this results in blinky OSD while in Headplay goggles it's perfectly fine.

[2017-10-29 04:12] teckel12 commented on #2419
Could it be the number of sensors on the same line? I remember some strange display issues when I had too many sensors turned on while testing. snowblind64 is displaying a lot in my opinion.

[2017-10-29 07:52] Cattlebaron opened #2425 "Flying Wing, motor will not arm in iNav 1.8.0"
The motor will not arm in version 1.8.0. (The Configurator is version 1.8.1) All pre-arming checks are shown with a tick. In the modes tab Angle, Horizon and Passthru go active when selected but Arm and Navlaunch do not. I have set to  nav_extra_arming_safety = OFF
The fixed wing is a TekSumo and the flight controller is an Omnibus F3 AIO. This plane in not fitted with a GPS module as it is intend

[2017-10-29 09:06] digitalentity commented on #2425
Sorry, can't reproduce. Configurator doesn't report all arming blockers. OSD will give you a better hint what's not allowing you to arm

[2017-10-29 09:22] #788 closed, assigned to nobody

[2017-10-29 09:22] digitalentity opened #2426 "Add SOFTSERIAL support for MATEKF405 targets"
Possibly on S5/S6 pins

[2017-10-29 09:23] digitalentity commented on #1309
No activity. Closing

[2017-10-29 09:23] #1309 closed, assigned to nobody

[2017-10-29 09:24] digitalentity commented on #1558
Failsafe was reworked since this issue. I believe it's no longer relevant

[2017-10-29 09:24] #1558 closed, assigned to nobody

[2017-10-29 15:47] danarrib commented on #2391
I have defined a simple message that my module sensor outputs using the TX pin (I'll wire it to some RX uart on FC).

It's a 20-byte data packet. Starts with character "S", then 18 bytes of data, then character "E" for end.

[code]

Now I'm trying to figure out how to do the Inav part of communication. Hope you guys can help.

[2017-10-29 18:51] sergeysi779 opened #2427 "RunCam Split control not working in 1.8-RC2"
Camera is not responding to corresponding channel inputs. It works with the same hardware on BetaFlight 3.2.1 - it starts/stops recording, changes modes, and activates WiFi.

Board is Matek F405-AIO.
Camera is RunCam Split (v1), firmware version 1.1.0.

Could someone check if something is broken or I've just misconfigured something in iNav configurator?

One thing I notice is in BF configurator UA

[2017-10-29 19:55] ShawnzAZ opened #2428 "All flight modes enabled, regardless of RX values with 1.8 RC2 on Matek F405-AIO"
I should have grabbed a screen shot, and I will if it comes up again.    I went to launch today in passthrough and I noticed that the control surfaces were reacting the the model pitching and rolling like it was in angle mode while I still had it in hand.

I aborted the launch and plugged into the configurator.  Upon opening the Modes tab, I could see the pointers moving as I commanded arm / disar

[2017-10-29 21:02] snowblind64 commented on #2419
I tried with a single item on screen. Same result. Looks like it could be something to do with the timing of the blinking and video frame rate, as it is not consistent. Sometimes the value being displayed stays solid, other times it disappears. I'm running NTSC video.

[2017-10-29 21:12] elepete commented on #1583
With an SP F3 EVO I am using this GPS module
https://hobbyking.com/de_de/ublox-neo-m8n-gps-with-compass.html
The HMC5883 only works with termination without any issue at 400 kHz (std I2C setting)
Without termination even at 100 kHz after max 2 min. the I2C communication breaks and the compass goes red - I2C error count goes fast up
I have used 2 x 1 kohm as above. If you can I would recommend to i

[2017-10-29 22:05] fiam commented on #2427
I’ve just finished installing an RC Split in my dev FC. Will test it tomorrow.

[2017-10-29 22:25] Dronek opened #2429 "Current sensor value jumping around (on SP F3)"
Not sure if this is a hardware or code issue but it goes as follows:
Me and two other guys have been experiencing heavily fluctuating current reading in iNav when motor is running. This has been going on for some iNav versions (I started with 1.4) up to 1.7.3 (had no chance to try 1.8 RC yet). The fluctuation shows up in the minimosd as well as in the configurator on the bench. However, the mAh co

[2017-10-30 01:15] Cattlebaron commented on #2425
I for one only ask for help when I have exhausted all other avenues thus your terse reply is of no help. I don't know if the screen shot will show but it tells me nothing helpful.

![screen shot 2017-10-30 at 11 03 35 am](https://user-images.githubusercontent.com/33048669/32150817-fdf0eb08-bd62-11e7-86f1-439c972c7e8e.png)

I would be quite happy to post the flight controller to you (at my expense)

[2017-10-30 01:21] digitalentity commented on #2425
This is really odd issue and it surely needs to be investigated. I should have an original Omnibus in my box, will gid it out and test your settings there.

However, since you don't have GPS and don't use any navigation modes (they are useless w/o GPS anyhow), it's safe to set `nav_extra_arming_safety` to `OFF`.

Can you describe actions you do when it doesn arm?
Which flight mode do you activate

[2017-10-30 01:23] teckel12 commented on #2391
@danarrib I would add a checksum bit or better yet a CRC to insure the packet is good.

[2017-10-30 01:54] teckel12 commented on #2429
What are you using for your current sensor? When I flew the SP Racing F3 I used a PDB with current sensor. Once calibrated, it was very accurate. This was thru about 1.7.2 when I got rid of my last F3 FC.

[2017-10-30 02:19] iforce2d commented on #1309
Sorry, for some reason I thought I had replied already. I only saw this problem twice, at least I think it was the same problem both times but can't be sure. At this point I'm thinking it was due to a glitch in I2C communication between the FC and the external barometer, which briefly gave a reading of 14km altitude. It's possible that it was fixed by https://github.com/iNavFlight/inav/pull/1654
f

[2017-10-30 02:48] Cattlebaron commented on #2425
I hope you can sort the problem. I am using the Omnibus F3 flight controller for my Quad also using iNav and have no problems. I want to use the FC for stability control for my plane to replace a gyro which does the job. I use a Taranis TX X9D and a X4R-SB RX connecting the two via Sbus. I switch my TX on and once it is booted I power the FC. No matter what flight mode I choose the FC will not arm

[2017-10-30 05:17] digitalentity commented on #2425
Ok, thanks for detailed description. So you are trying to use `NAV LAUNCH` and it doesn't arm then. Oh, by the way, launch mode will block the motor until throw is detected, so the machine may in fact arm. Do you have a beeper connected?

[2017-10-30 05:31] digitalentity commented on #2391
@danarrib a few thoughts on your data struct:
`uint32_t PackVoltage` - is probably an overkill. `uint16_t` will still allow millivolt accuracy for packs up to 15S
`uint16_t AverageCellVoltage` - this is redundant. PackVoltage / CellCount will give precisely this value
`uint32_t TotalmAhUsed` and `uint16_t CurrentmAhUsed` - what's the difference?

To be able to use UIB in future we'll need to squez

[2017-10-30 05:33] digitalentity commented on #2428
Thanks for reporting. Let's keep this issue open and see if we'll be able to reproduce it.

[2017-10-30 06:15] Dronek commented on #2429
It is a CJMCU 758 with an ACS758LCB hall effect sensor. I already tried both outputs of the sensor-board with similar results.
Again, the output signal of the sensor **does not** fluctuate when I measure it directly. And the mAh consumption calculated by inav seems to be accurate, too. I don't see a reason to troubleshoot the actual sensor futher.
I will do a blackbox log of this behavior.

[2017-10-30 06:58] Cattlebaron commented on #2425
Thank you for the reply. I am not using nav_launch at present. I hope to fly the wing first and then start the adventure of nav_launch as I have to have the wing launched (thrown) by a club member, hence the appeal of nav_launch. I checked my Receivers tab in the configurator  and I had set the low throttle to 1000, mid point to 1500 and full throttle to 2000 are these the values needed?
I have be

[2017-10-30 08:07] fiam commented on #2427
Just tested it in a split 2 and it works fine. Are you sure you have selected the right port? Baud rate doesn’t matter for the RC device, since it will always use the correct one no matter what you choose in the configurator.

[2017-10-30 08:14] fiam commented on #2419
@snowblind We can do some changes to the blink duty cycle and see what happens. I’ll prepare a custom build for you.

[2017-10-30 08:18] digitalentity commented on #2427
Most likely this is due to RunCam protocol change for Split2. @sergeysi779 can you update Split firmware?
@azolyoung may have a better suggestion.

[2017-10-30 08:32] sergeysi779 commented on #2427
@fiam Yes, it is UART3 both in iNav and BF. It works fine with the same settings in BF 3.2.1.

@digitalentity 1.1.0 seems to be the latest. At least it doesn't find any updates in RunCam Android app.

[2017-10-30 08:32] azolyoung commented on #2427
hi, just talking this issue with @fiam, we found the problem is the #2369 has not merged in to 1.8 rc2, so cause the old firmware can't work with iNav, just merge the PR in to it will work fine.

[2017-10-30 08:37] azolyoung commented on #2427
[inav_1.8.0_MATEKF405_build_for_rcsplit_test.hex.zip](https://github.com/iNavFlight/inav/files/1426469/inav_1.8.0_MATEKF405_build_for_rcsplit_test.hex.zip)
@sergeysi779 , i build the newest code from development that including the rcsplit1.0 firmware  and rcsplit1.1 firmware   support

[2017-10-30 08:40] fiam commented on #2427
@azolyoung Nice catch, I didn't realise it was merged after RC2.

[2017-10-30 08:43] sergeysi779 commented on #2427
@azolyoung thank you very much! It is working now.

[2017-10-30 09:09] azolyoung commented on #2427
My pleasure :)

[2017-10-30 09:53] DzikuVx commented on #2222
With work in progress in #2430 I'm closing this one. Expect this target in release after 1.8

[2017-10-30 09:53] #2222 closed, assigned to nobody

[2017-10-30 09:55] DzikuVx commented on #2429
@Dronek this is likely due to ground loop effect. Try different ground. I had similar situation once and it was due to wrong ground used

[2017-10-30 10:36] fiam commented on #2419
@snowblind64 can you give this a try? Set some alarm to a very small value so you can easily bench test it and let me know what happens with the indicator.

[inav_1.8.0_OMNIBUSF4PRO.hex.zip](https://github.com/iNavFlight/inav/files/1426837/inav_1.8.0_OMNIBUSF4PRO.hex.zip)

[2017-10-30 10:40] fiam commented on #2427
Closing this, since it's fixed in the development branch.

[2017-10-30 10:40] #2427 closed, assigned to fiam

[2017-10-30 10:47] Dronek commented on #2429
Thanks for the hint @DzikuVx . I already paid attention to avoid groundloops when setting everything up but it's a good idea to check and try different grounds for this sensor.

[2017-10-30 11:04] danarrib commented on #2391
@teckel12 I'll add a checksum bit. Thanks for the tip.

@digitalentity , I did choose to use uint16_t because it's max value is 65535 while uint8_t is 255. If I have only one decimal digit, max voltage will be 25.5V, or 6S pack. It probably will do for most cases, but if someone needs to monitor a 8S or 12S pack, it wont work.

But due to the UIB requirements, I'll accept your tip.

The TotalmAhUs

[2017-10-30 11:08] stronnag commented on #2391
Why bother with a checksum, the transport layer (UIB, MSP,  LTM etc.) provide that.

[2017-10-30 11:15] teckel12 commented on #2391
@stronnag As long as the communication protocol has a checksum, no need to waste another byte.

[2017-10-30 11:23] teckel12 commented on #2391
@danarrib PackVoltage is uint8_t but noted as 2 bytes? I think you have package room for uint16_t with 2 digits accuracy for consistency.

[2017-10-30 12:40] danarrib commented on #2391
Ok I was distracted. Sorry.

[code]

Now packet is 14-byte long including Starting and Ending bytes.

I have modified the TotalmAhUsed from uint32 for uint16 to save 2 bytes as hardly someone will fly a battery pack greater than 65A.

I did some research and I figured out how to combine PackNumber and CellCount together into a uint8_t value. In fact, I can make a much smaller packet by combining s

[2017-10-30 17:19] snowblind64 commented on #2419
@fiam I'll give it a try tonight when I get home and report back.

[2017-10-30 17:25] Dronek commented on #2429
So I checked everything for ground loops and disconnected most of the components.
For this test I also set iNav to defaults and enabled only the more or less needed things in order to get this bench test running (I could probably skip some more).

- FC is powered by a UBEC
- current sensor is powered by 3.3V pad on FC and ground is connected to the minus pad of uart3 (it doesn't seem to matter whi

[2017-10-31 00:52] KenImhof commented on #2120
Submitted pull request #2433 as this problem also exists in 1.8 RC2.

[2017-10-31 04:03] snowblind64 commented on #2419
I flashed the hex. The entire OSD overlay turns grey obscuring nearly the entire view. Text is still visible over the greyed out screen but alarms are not blinking (I set the RSSI alarm to a high value so it would be triggered).

[2017-10-31 07:54] digitalentity commented on #2391
Data structure looks ok to me now

[2017-10-31 08:54] chan2328 opened #2434 "Allow servo outputs on multicopter mixer and a BeeRotorF4 board"
whatever mixer type (quadx, custom, customairplane) i used in beerotor F4.  mmix and smix can not change   any output pin ordering, for my case, i connected 4 motors to output 1 to 4, and 1 servo to output 7 showed as picture. i have tried a lot of times to change the value of mmix and smix. base on https://github.com/iNavFlight/inav/blob/master/docs/Mixer.md .  it does not change anything in the

[2017-10-31 09:04] krzysztofmatula commented on #2429
Is the RX transmitting telemetry?
Do you have RX antenna connected? Does it change something if you move the antenna?
Can you try without the RX?

[2017-10-31 10:09] teckel12 commented on #2391
@danarrib I'd keep it simple and not share bytes, there's not much savings and everything fits already.

I would make the starting byte indicate packet version. For example, the starting byte could be `1` initially. Then, in the future you could make changes to the packet, make the starting byte `2` and then each packet could be decoded as version 2. Because I've learned that no matter how well yo

[2017-10-31 10:56] Dronek commented on #2429
Do you have RX antenna connected?
Does it change something if you move the antenna?
Can you try without the RX?

- yes
- yes
- unable to test in actual state (receiver is built into one wing and antenna glued in at its base)
- yes. I just tried without RX connected by spinning the motor through iNav configurator. Without logging I can see on the "setup" page that current is fluctuating as before.

[2017-10-31 12:11] krzysztofmatula commented on #2429
Checking with oscilloscope on the actual sensor output could say something.
ACS758 datasheet recommends using RC filter on the output.
I guess CJMCU758 may have it, but it could be worth double checking.

[2017-10-31 12:38] Dronek commented on #2429
Thanks for your reply. I'm narrowing it down actually. With the scope I noticed an oscillation on the signal. My previous fault was measuring the signal with a multimeter which showed me a clean voltage. Now I built an RC low pass for the signal and the oscillation is gone, hurray !! :)

However, when hooking all up to the FC, I now have a drift in the current reading. May probably have to tune th

[2017-10-31 12:38] #2429 closed, assigned to nobody

[2017-10-31 13:38] VoicOfReason opened #2436 "Functioning setup for Omnibus F7V2 requested"
To make a long story short, I have a TBS G2 frame with TBS Endurance motors and a 4-in-1 ESC (Lumenier BLHeli_S 35A 4-in-1 12v / 5v BEC DSHOT ESC +Current Sensor). In Betaflight 3.2.1 it flew perfectly. Switching to iNav, I tried several ESC protocols, none of which would work. The motors would twitch or else quad would lift off violently and flip over. I tried to revert back to Betaflight, but fr

[2017-10-31 13:54] krzysztofmatula commented on #2429
Once figured out please report here what RC filter worked best for you.

For reference: here are useful FAQs regarding the sensor:
http://www.allegromicro.com/en/Products/Current-Sensor-ICs/Fifty-To-Two-Hundred-Amp-Integrated-Conductor-Sensor-ICs/ACS758/ACS758-Frequently-Asked-Questions.aspx

[2017-10-31 14:54] DzikuVx commented on #2436
Try one of Presets that is close to your setup. ESC protocol is the least important thing

[2017-10-31 15:00] Dronek commented on #2429
Of course. I just finished putting everything together again and recorded a log for the sake of completeness:
[blackbox_log_2017-10-31_154051.TXT](https://github.com/iNavFlight/inav/files/1431102/blackbox_log_2017-10-31_154051.TXT)

This is how it looks now:
![c](https://user-images.githubusercontent.com/25428558/32230385-569e7176-be53-11e7-8d53-6adf4c2a1e87.png)

Finally I went with a 10 uF capac

[2017-10-31 15:00] DzikuVx commented on #2195
I can see this target for 1.8. Closing

[2017-10-31 15:00] #2195 closed, assigned to nobody

[2017-10-31 15:16] DzikuVx commented on #2358
I belive this issue can be closed now. Thanks everyone

[2017-10-31 15:16] #2358 closed, assigned to nobody

[2017-10-31 15:55] VoicOfReason commented on #2436
I tried that once already but it didn’t help any. What I’m looking for is workable, verified settings on this flight controller.

[2017-10-31 16:54] davidflypei opened #2437 "Can't change baud"
I cant seem to change the baud rate before I connect. I can click on it. It looks like its been set to hidden or something as it is grayed out.

[2017-10-31 18:00] danarrib commented on #2251
@brat002 I'm pretty sure you have a problem with your settings. Normal behavior is more like this: https://www.instagram.com/p/BZJqA3Khhcy/

I'll stick with current launch settings. But a thing that can really improve the auto launch safety is have a different audible alarm to warn pilot that throttle is not raised. I made countless attempts to launch my wing after forgetting to raise the throttle

[2017-10-31 18:05] brat002 commented on #2251
Your plane just has big wing surface. Try something like FunJet 1.5KG AUW with APC 4.5x4.5 prop and 6s and you will feel my pain.
There are another thing, that make safe launch almost impossible. It is current TPA implementation on launch. These problems are related.

[2017-10-31 18:17] TimMW1 commented on #2323
I have had a similar issue with the SPRacingF3 Deluxe.  No magnetometer on power on.  I have found that the magnetometer  is sensitive to the Vdd rail ramp rate.  My DC/DC has a very clean ramp from 0 to 5v in 1mS.  It appears this is too slow.  To fix this I put a power cut momentary push button in line to cycle the main 5V once the DC/DC comes on.  With the button, the rail comes up in about 1uS

[2017-10-31 18:24] danarrib commented on #2251
@brat002 , the video you linked above (https://www.youtube.com/watch?v=A-46gI5Q-2I&feature=youtu.be) seams to be a Small Flying wing, not a Funjet.

My flying wing have 120cm wingspan and weights about 1.5kg.

I guess the funjet you described is difficult to launch even in manual way. I know a Friend who have a funjet that spins when launched due to the torque of the motor (and slow airspeed of co

[2017-10-31 18:40] TimMW1 opened #2438 "TRAMP with soft Serial not working"
Using a SPRacingF3 Deluxe and TRAMP enabled on softserial 1, it appears that the TX line is driven high after the MCU sends the command.  On the scope I see the command come out with full p-p V.  But when the Tramp drives the response back, it can only drive to about 4.5v.   In general this means that the MCU is still attempting to drive a 1 on the wire.  Tramp worked fine with current clean fligh

[2017-10-31 18:41] teckel12 commented on #2437
@davidflypei Turn off auto-connect maybe?

[2017-10-31 18:45] DzikuVx commented on #2438
There is a chnce it will work in 1.9 since port of CF/BF SoftSerial is scheduled for that release. But stil, SS are not considered as best choice for anything

[2017-10-31 18:47] DzikuVx commented on #2437
1. This is Configurator issue, not INAV firmware
2. Can not reproduce

[2017-10-31 18:49] DzikuVx commented on #2436
Flight controller has nothing to do. Really. And hoping you will find anyone alse with the same setup are rather slim. I strongly suspect 5" GPS Racer preset will be suitable

[2017-10-31 18:52] VoicOfReason commented on #2436
Ok ill try that setup.

--
Peter Freund
Sent with Airmail

On October 31, 2017 at 1:49:26 PM, Paweł Spychalski (
notifications@github.com) wrote:

[2017-10-31 18:59] TimMW1 commented on #2438
I do see the correct command written on the TX wire.  Just not switched to RX for the receive from the TRAMP.   Maybe it is time for a new board.  the SPRacingF3 only has 3 UARTs.  Im already doubling up the telemetry with USB.

[2017-10-31 19:19] twistedwings opened #2439 "dump: wrong position of smix reverse"
"smix reverse" is followed by "smix reset" in dump which resets "smix reverse".

...
servo 7 1000 2000 1500 100 -1
smix reverse 2 0 r

smix reset

smix 0 2 0 100 0
...

iNav 1.7.2

[2017-10-31 23:07] digitalentity commented on #2434
`mmix` and `smix` can't change output ordering, they are designed to map mixer input (roll, pitch, yaw, throttle) to outputs. Order and functionality of outputs is board-specific.

[2017-10-31 23:10] digitalentity commented on #2436
`set gyro_hardware_lpf = 42HZ` this is where your violent shakes come from.

Please understand that Betaflight has an advantage of being pre-tuned for racing setups, because it's not being used on anything else. INAV doesn't have this advantage - this is why we have presets.

[2017-11-01 00:15] VoicOfReason commented on #2436
Ok. I still don’t get why my other quad with an f4 works fine with iNav
whereas this one with f7 won’t even fly.

On Tue, Oct 31, 2017 at 6:10 PM Konstantin Sharlaimov <
notifications@github.com> wrote:

[2017-11-01 02:28] chan2328 commented on #2434
@digitalentity thanks for reply, so, at this moment, the connection showed in above picture is not able to work at current inav firmware.

[2017-11-01 03:44] VoicOfReason commented on #2436
What should I set gyro_hardware_lpf to?

[2017-11-01 04:51] digitalentity commented on #2120
Let's define how arming in 3D mode should work.

[2017-11-01 04:54] KiwiDavid commented on #2323
A most interesting find - many chips are Vdd rate sensitive.  I would go back and confirm if my problem was caused by the same effect but I had to change to external mag anyway and have since replaced the "dodgy" unit.
If someone can confirm this finding it may solve a variety of issues relating to the mag sensor.  Mine (and a few others) was temperature sensitive but this could be in the BEC.  Ca

[2017-11-01 04:55] digitalentity commented on #2419
Moving to 1.9. Will be a "known bug" in 1.8

[2017-11-01 05:17] digitalentity commented on #2434
@chan2328 what do you want servos for? I believe we can allow 8th output to be a servo on multicopters.

[2017-11-01 05:18] digitalentity commented on #2436
@VoicOfReason if you will post a dump of your F4 quad settings, I could get a hint what's different.

For miniquads a value of choice is `256HZ`. Preset will handle that for you.

[2017-11-01 07:26] chan2328 commented on #2434
@digitalentity the attached picture shows what i designed, which is a camera mounted on a servo.  i want to see the view by changing my camera's angle with the servo when using GPSHOLD, or for landing purpose.
![3](https://user-images.githubusercontent.com/32637631/32264048-aece1c56-bf17-11e7-91be-b7a10d5dd936.jpg)

[2017-11-01 07:28] digitalentity commented on #2434
Ok, I see. I'll change the name of the issue to reflect the the problem better.

[2017-11-01 08:06] a6j opened #2441 "Incorrect operation of the "Blink always" and "Larson scanner" options for LED STRIP"
The OMNIBUS F4 V2 board is on BG.
The firmware is compiled with iNav 1.8.0 target OMNIBUSF4PRO_LEDSTRIPM5
If the parameter "Blink always" or "Larson scanner" is set in the configurator for diodes, for example, with ARM, the LEDs hang in any one position. Stop blink and larson scanner. On cleanflight and betaflight there is no such problem.
![img_20171026_132931](https://user-images.githubuserconte

[2017-11-01 08:43] KenImhof commented on #2120
My opinion is that the switch arming operations should be:

#1. The FC should immediately arm when the arm switch is enabled and no disarm flags are set.

#2. If the arm switch is enabled and the throttle disarm flag is set the FC should arm when the throttle disarm flag is cleared provided that no other disarm flags are set.

#3. If the arm switch is enabled and all disarm flags are subsequently

[2017-11-01 08:50] digitalentity commented on #2120
IMO case 2 is unsafe. Imagine this:
1. You flip the switch, machine doesn't arm.
2. You forget to disable arming switch and go to pick up the quad.
3. After you pick up the quad you accidentally move the throttle stich **through** the center position.
4. Quad arms and motors start spinning.

I understand that there's too much "ifs" here, but I would prefer to be safe than sorry.

[2017-11-01 08:54] digitalentity commented on #2120
I would keep current behavior (only allow arming if throttle is at zero). I guess the real issue here is finding "zero" throttle on a TX without self-centering throttle stick.

Maybe we should consider adding a feedback about zero throttle? Beeper, OSD, LED or something else?

[2017-11-01 09:32] ghost opened #2443 "Brushed motor quad unfunctional in 1.7.3"
Setting motor_pwm_rate at value greater 8000 : surprisingly the min_throttle and min_command must be zero - please remove propeller before setup ! In the BF/CF is 1000. Works with slow fly and smoother control. With aggressive flying the PID regulation breaks and the copter falls uncontrolled to ground. After flying I observed, that in the CLI is motor_pwm_rate  fixed at 490 after save and reset o

[2017-11-01 09:44] digitalentity commented on #2443
Please format the issue according to the template. Also provide CLI dump and blackbox log.

[2017-11-01 09:59] chan2328 commented on #2434
@digitalentity thanks for help.

[2017-11-01 10:20] rb1205 opened #2444 "Still some issue with zero throttle before RTH failsafe in 1.8"
Condition: SP3 EVO board, fully functional quadcopter with RTH failsafe procedure

**Test**
Take props away, power on the quad and the TX, arm the quad, raise thrust to about 50%, then engage Failsafe either by aux command or by switching off the radio. Observe how motors behave. Disengage failsafe (make sure it is in fact disengaged), zero the thrust, engage Failsafe again. Observe how motors beh

[2017-11-01 10:23] digitalentity commented on #2444
Please provide your settings. We can't guess how your machine is configured.

[2017-11-01 10:26] rb1205 commented on #2444
# version
# INAV/SPRACINGF3EVO 1.8.0 Oct 24 2017 / 06:58:38 (0f1975ce)

# resources

# mixer
mixer QUADX

mmix reset

# servo
servo 0 1000 2000 1500 100 -1
servo 1 1000 2000 1500 100 -1
servo 2 1000 2000 1500 100 -1
servo 3 1000 2000 1500 100 -1
servo 4 1000 2000 1500 100 -1
servo 5 1000 2000 1500 100 -1
servo 6 1000 2000 1500 100 -1
servo 7 1000 2000 1500 100 -1

# servo mix
smix reset

# feature

[2017-11-01 10:28] digitalentity commented on #2444
@rb1205 thanks! I assume you test at home without GPS fix, right?
Blackbox logs of your described scenarious would also be very helpful.

[2017-11-01 10:38] rb1205 commented on #2444
Tested both with and without GPS fix*, same results.

Sure, I will make a blackbox log in the afternoon.

EDIT: I didn't move the quad when I tested it with the GPS fix, so it went straight to landing mode.

[2017-11-01 12:13] TimMW1 commented on #2323
This could be SW related in that the MCU could be accessing the mag before it gets done "booting".  This could put it's I2C state machine into a wacked state.  I have seen this many times before with I2C devices with no reset line.  To truly root cause this would require some I2C decode of bus traffic.  Just time.  For now the added 5 gr of weight from the push button switch is nothing.

[2017-11-01 12:31] straferr commented on #2414
@digitalentity

I just tried 1.8.0 RELEASE on the same hardware that showed up this issue, and its all OK now!  Thanks DE!

@teckel12

I tried the OMNIBUSF4 hex you suggested for this board, and I can now confirm its probably not the right hex (the onboard baro is not detected).   It seems the correct hex for this FC is indeed the OMNIBUSF4V3.  This is what I have just flashed on 1.8 and earlier v

[2017-11-01 13:14] fiam commented on #2419
@snowblind64 I've just added support for software based blinking at the display level, so it can be used to perform blinking when the hardware support for it is not present or it's not working correctly. I've pushed the code to the `agh_sw_blink` branch, but I'm also attaching an hex to test to this post.

After flashing with it, you need to go into the CLI and type:

[code]

I've made the SW base

[2017-11-01 13:26] KenImhof commented on #2120
Case #2 is how it works in version 1.7.2 and all earlier versions.  This is also how it is works in betaflight, cleanflight, madcow, etc…

Since FC only arms when the throttle output is LOW, it should be save.  This is critical for 3d arming as LOW throttle is in the center so the typical 3d arming sequence is as follows:

1.        Throttle stick at the bottom (full reverse throttle).

2.

[2017-11-01 13:30] digitalentity commented on #2120
1.7.2 didn't have the sophisticated pre-arming checks. We can simply remove the "sticky non-low throttle" flag for 3D mode.

EDIT: Or simply disable the "Arming switch check" for 3D mode. 1.7.2 didn't have it at all.

[2017-11-01 14:09] jstremmler opened #2446 "Strange problem with iNav 1.8.0 buzzer and Matek LED-Stip (with buzzer)"
I have strange hardware/software??  problem with iNav 1.8.0, my OmnibusF4 V3 FC, and a buzzer on the Matek LED-Stip (RGB LED BOARD WS2812B & buzzer)

Here is the fault matrix:

- LED strip and buzzer both conneced correctly to the board: buzzer beeps permanently  (beeper -all, CLI command has no effect!)
- LED strip disconnected + buzzer (the one on the LED strip) connected: buzzer works correctly

[2017-11-01 16:10] rb1205 commented on #2444
Here you go, blackbox with [50% throttle](https://vps1.belloli.net/public/50p_throttle.txt) and [with no throttle](https://vps1.belloli.net/public/no_throttle.txt) . Notice how the roll PID I term is building up in the 50% throttle log, and is forced to 0 in the no throttle one. It's like the I term cutoff is retained in the failsafe.

I also set nav_use_midthr_for_althold to OFF, got same results

[2017-11-01 16:18] rb1205 commented on #2404
A basic waypoint mission would do what you're asking, no need for a dedicated mode

[2017-11-01 16:44] #2441 closed, assigned to nobody

[2017-11-01 17:18] HJOGermany commented on #2438
In the new Matek F405OSD is the same Problem.
Softserial doesn't work so you can use the LUA Script for VTX.
I think it would be fixed in 1.9.

[2017-11-01 17:21] stronnag commented on #2438
Not quite, soft serial is not yet implemented on Matek F405, see #2426

[2017-11-01 21:08] VoicOfReason commented on #2436
Nope nope nope nope. It will NOT fly. I did all of what you said. I did 5" GPS racer preset, and I even changed lpf to 256. With the smallest throttle it violently flips over onto its back. There is something seriously wrong here. I need help. I'm not going to ruin my quad again with this. Is there anyone how has ACTUALLY flown on the F7 with iNav who can give me their settings???

[2017-11-01 21:34] KenImhof commented on #2120
Submitted pull-request 2449.  I was able to simplify the code as I now under that the existing code to clear the ARMING_DISABLED_ARM_SWITCH flag so we can ARM even when the switch is in the disarmed position is okay as the switch arming is also checked at a higher level. The problem with just removing the  "sticky non-low throttle" flag for 3D mode is that the FC will arm with throttle high or as

[2017-11-02 00:26] Cattlebaron commented on #2425
Very short piece of information. A friend has his OBF3 installed in a wing and the motor arms. The only difference I can see that his is also fitted with a GPS module.

[2017-11-02 04:25] KiwiDavid commented on #2323
As you can see a few posts back - the mag never gets called in a bad start so it's not like it never responds.

[2017-11-02 04:27] snowblind64 commented on #2419
Looks like that did it. Software blink works correctly. Thank you!

[2017-11-02 04:51] digitalentity commented on #2436
Flies fine for me. Flipping over usually means that either motor order or board alignment is incorrect. Since the board doesn't have an alignment arrow, our default board orientation might be different from Betaflight's. Please verify that model in the Configurator follows actual copter movements.

For the record. Just did a hover test on Omnibus F7 V2. Default settings.

[2017-11-02 05:13] snowblind64 commented on #2425
One thing that prevented arming for me before I figured out what was happening is not allowing the accelerometer/gyro enough time to calibrate after plugging in the battery. I thought there was a problem with the FC but it turned out I just needed to give it a couple seconds sitting still after powering up.

nav_extra_arming_safety = OFF should allow arming regardless of GPS (fix,no fix, not used)

[2017-11-02 07:00] Cattlebaron commented on #2425
Thank you for the hints, I will follow up on them. I have already set nav_extra_arming_safety = OFF

[2017-11-02 08:13] fiam commented on #2419
Reopening since we haven’t pushed a fix to development yet

[2017-11-02 14:02] teckel12 commented on #2419
@fiam Is there a performance reason we can't make the software blink the default?  I'm sure it's *slightly* less performant, but it sounds like we could have problems with different hardware using the hardware blink.  It seems like this could avoid a lot of frustration and issues, unless the software blink is a large performance hit.

[2017-11-02 15:11] VoicOfReason commented on #2436
Yes! That did it. Betaflight's alignment was very different than iNav. So, a few quick questions:
1. LED is not working yet despite me trying to configure in GUI. Any workaround for this?
2. I know this is a tuning issue, but it's twitch a bit when hovering. Which PID should be adjusted?
3. Throttle seems a bit mushy. In betaflight, the throttle felt more crisp and responsive.

Should I be adjusti

[2017-11-02 17:07] fiam commented on #2419
@teckel12 Performance is a bit worse, specially because we can't use DMA to write to the MAX7456 in most boards and SW blink increases the number of writes significantly when an indicator is blinking. HW is definitely more desirable as long as the HW supports it. Depending on the feedback we get from users with 1.8, which uses HW blink with no SW blink option, we'll decide which one we'll use by d

[2017-11-02 18:18] teckel12 commented on #2419
@fiam Sounds like a plan.

[2017-11-02 20:00] VoicOfReason commented on #1939
LED strips are not working on my Omnibus F7V2 board.

[2017-11-02 20:01] #2436 closed, assigned to nobody

[2017-11-02 20:02] VoicOfReason opened #2454 "LED strip not working on Omnibus F7V2"
I have an Omnibus F7 V2. LED isn't working. When I go to wiring mode, it won't save the strip of lights I check. Doesn't light up either after quad starts up.

[2017-11-03 17:02] assael07 opened #2455 "(help) Servo tilt, channel forwarding OMNIBUS F4"
I try to enable servo tilting and channel forwarding to control servo on my omnibus f4 PWM6 but servo is still not working.
I use INAV 1.7.2.
Any help would be very useful.
Thanks

[2017-11-03 20:10] lumiror opened #2456 "Please consider supporting soft serial on f4 Omnibus pro V3"
Wanted to ask, does the softserial work on the F4 omnibus for V3? I tried to turn it on but it does not work. It does not appear in ports.

[2017-11-03 20:13] stronnag commented on #2456
As pointed out on RGC, not (obviously) supported on V3 firmware:

[code]

[2017-11-03 20:26] lumiror commented on #2456
That is why I would like to ask for support.

[2017-11-03 20:29] stronnag commented on #2456
I know, so a more appropriate title would be "Please consider supporting soft serial on Omnibus F4V3"; then we don't repeat all the discussion on RCG about whether it's a bug, a configuration issue or a feature request.

[2017-11-03 20:33] lumiror commented on #2456
O.K.

[2017-11-03 21:11] VoicOfReason opened #2457 "FEATURE REQUEST: quick switch while flying between RTH normal and RTH tail first"
Sometimes when I'm flying line of sight (with LED's mounted in the rear) I like to be able to RTH tail first. Also, when my kids are flying, it's disorienting for them if the quad turns around. In addition, without LED's visible, makes it hard to see it returning. However, when flying FPV, I definitely want RTH head-first (for obvious reasons). It would be nice if there were a way to map this chan

[2017-11-04 02:41] linuxras commented on #2251
I have also been depending on launch mode with my smaller planes 1.3m or less, it has failed me exactly one and it was my fault for not bumping nav_fw_launch_max_angle as I wanted to launch a wing at high alpha.
Please leave the main settings as they are and make `SWING`/`THROW` just adjust those values to some basic defaults.

[2017-11-04 09:27] HJOGermany commented on #2446
Please tell us what for a buzzer/LED you use.
I've got nearly the same Problem with an Omnibus F3 Clone an a Matek Buzzer/LED Board.

[2017-11-04 17:41] Ginganinja82 opened #2458 "PPM / S-BUS on F1 (Naze32) not working"
### Board and Version
_Afroflight Naze32 Rev6.
_1.7.3 - NAZE - 2017-9-10 10:53 _

# version
# INAV/NAZE 1.6.1 Mar  9 2017 / 00:36:58 (6c878ae)

### Behavior
* PPM signal not responding on FlySky receivers. (Tested with FS-IA6B and FlySky X6B)
* BetaFlight and Cleanflight works fine (not a hardware problem)
* Tested with Two rev6 boards.

Vanilla Firmware load no additional config.

[2017-11-04 17:52] stronnag commented on #2458
1. F1 boards are no longer supported
2. PPM and Serial RX work for me on F1
3. 1.6.1 is obsolete and no one is going to support it

[2017-11-05 06:33] sergeysi779 commented on #2458
I think there was a bug either in iNav or iNavConfigurator. PPM and PWM were mistakenly swapped. Try changing the setting to PWM or upgrade configurator and iNav.

[2017-11-05 06:50] ArxangelRC opened #2459 "iNav 1.7.3 FW maintains a turn even after sticks are released in Angle mode"
Hey guys, I may have a possible problem on an iNav build, and would appreciate some info on the matter, as I did not get any answers in RCGroups, so decided to post here as well.

I recently flew a 3.5kg V-tail plane with an Omnibus F3 Pro on it, running latest iNav at the time I setup the board, it was 1.7.3. Did the V-tail mix from Painless360 and only had to reverse one aileron to make everythi

[2017-11-05 07:52] brat002 commented on #2459
I also have such issue on all my planes. Would be great to know how to fix it.

[2017-11-05 09:04] digitalentity commented on #2459
This is a known issue and currently there's no way to fix it (I am working on it though).

[2017-11-05 09:31] ArxangelRC commented on #2459
Thanks for the quick reply! Will be waiting for 1.9 then! :)

[2017-11-05 09:55] fiam commented on #2459
@digitalentity is this caused by the horizon drift?

[2017-11-05 11:17] digitalentity commented on #2459
@fiam yes. During a balanced turn acceleration vector is ~ equal to Gravity but is not pointing downwards which confuses the firmware into thinking that "banked is actually "level".

[2017-11-05 12:00] OlivierC-FR commented on #2459
I don't get this, is that only on planes with a rudder ?
I never noticed such behaviour but I only have flying wings with iNav.
If it's also affecting planes with only elevons, I'm worried about the pilot (me) if I never noticed this, because I fly in angle mode a lot.

[2017-11-05 12:47] Dronek commented on #2459
No, I have been experiencing this on my first and second flying wing with inav.
I fly ACRO most of the time so I don't really care about ANGLE mode but it is annoying to have the plane drifting in ALTHOLD after doing a constant turn.

[2017-11-05 21:38] OloTka commented on #2456
Hello,  I've got f4 pro v3 from airbot and soft serial on ch5 & ch6 works perfectly,  so it must be regular f4 I'd suggest.
Olo

[2017-11-06 07:55] digitalentity commented on #2459
It depends on the setup and flying style actually. It's most evident if the turn is slow and long and the plane sinks a bit during the turn. I notice it on some setups and don't notice on others. If you accelerometer calibration is off it may also make things worse (or better). It's really complicated that's the main reason it's tricky to fix.

[2017-11-06 07:57] digitalentity commented on #2459
You can make the effect less severe by lowering `imu_dcm_kp` quite a bit. But bear in mind that it will also make the firmware take longer to recover from the effect.

[2017-11-06 08:02] ArxangelRC commented on #2459
I'd rather wait for a proper fix than mess with params I don't understand! :)

[2017-11-06 08:05] rb1205 commented on #2444
[Here's](https://vps1.belloli.net/public/moving_throttle.txt) an even clearer log of the bug: I arm, trigger failsafe mode with some throttle, let the I-terms slowly build up then, at t=37.88 seconds **still in failsafe mode** I zero the throttle on the radio. The PIDs I-terms are immediately zeroed. I also tried this with airmode enabled, got same results.

Am I wrong in assuming that failsafe sh

[2017-11-06 10:03] sniperxnl commented on #2425
I am having the same problem, i can spin the motor in motor tab. But when i arm nothing happen. I have a switch for arming, and when i arm that switch stay grey.
I use a Orginal Omnibus F4 pro v3 from airbot, using a gps and mag meter. I have set nav_extra_arming_safety = OFF for testing, but then i can;t arm also

[2017-11-06 10:04] ArxangelRC commented on #2459
Is it know if this behaviour also occurs in RTH or the other auto modes?

[2017-11-06 10:19] OlivierC-FR commented on #2459
I find this one puzzling, I've never noticed this horizon drift issue, I fly iNav on a large flying wing in angle mode, most of the time, maybe like 90%. I only switch to acro mode for few stunts and landings.
I also have iNav on a small wing, mostly flown in acro mode, so it's unlikely I would notice an angle issue on this aircraft, but for sure she comes back in RTH mode really well.
Next time I

[2017-11-06 10:49] lumiror commented on #2456
Hello,if you allow softserial you got them in ports? I have the original
board.

http://www.readytoflyquads.com/flip-32-f4-omnibus-v2-pro

2017-11-05 22:38 GMT+01:00 OloTka <notifications@github.com>:

[2017-11-06 12:04] Dronek commented on #2459
In such a condition the resulting absolute g-force can quite possibly be equal to standard gravity for the sensor itself while not pointing towards ground but towards the bottom of the banked plane.

This most likely results in a similar ACC sensor reading as in leveled flight. But there should be a difference in GYRO reading. In leveled flight, all gyro axes should read more or less zero deg/s wh

[2017-11-06 13:09] digitalentity commented on #2459
@Dronek actually this might work if we have a pitot sensor. Knowing airspeed and angular rates it would be fairly easy to calculate and cancel out the centrifugal acceleration. I need to give it a thought.

[2017-11-06 13:30] ArxangelRC commented on #2459
The ArduPlane firmware for certain does not suffer from this issue, and I have quite a few planes equipped with that, and none have a pitot tube! Since you calibrate the ACC once so it knows what is level, isn't it easier just to have that calibration stored as a constant, and to have it revert to that the moment you let go of the sticks?

[2017-11-06 14:14] Dronek commented on #2459
This could work in angle mode but autonomous modes would be still affected unless you substitute "let go of the sticks" by something else. In acro mode letting go of the sticks doesn't necessarily mean leveled flight, so there would be no mechanism to revert a slanted AHI back to normal unless doing a constant turn in the opposite direction (as it works now).

It's a good idea to compare with ardu

[2017-11-06 14:50] ShikOfTheRa commented on #2459
I was looking at this with original multiwii which had similar issues. I'm guessing the code is significantly different now but I had some degree of success. I was using change in MAG heading  over time to create a value that varied the trust of gyro data vs acc data and length of validity of acc data. It didn't stop the drift when in turn as I had no compensation, but recovery was improved.
I did

[2017-11-06 15:01] ArxangelRC commented on #2459
Just to add... I've noticed this behaviour in pitch also. At some point I would let go of the stick and the plane would nose dive a bit, then I would compensate with the stick to keep it level, and all of a sudden it would start pitching up, and when I let go of the stick, it would be flying level again! Certainly need to leave enough battery for a few approaches on landings, as this is quite diff

[2017-11-06 15:07] OloTka commented on #2456
Looks like the same board, although I bought it from Airbot. This weekend, I added bluetooth to softserial and it worked perfectly. The pads I used ( V3 picture from your link) are above Moto_VCC ("Silk Prints") - bottom pad is CH5, upper CH6.
Hope that helps.

[2017-11-06 15:36] lumiror commented on #2456
I know where are ch5,6 items, i have the problem that i can not see softserial in ports

[2017-11-06 16:57] ins2d commented on #2216
So I've been playing around with some tiny hardware (1.7g servo) lately and came up with a simple and compact cog-wheeled tilt mount like this:

https://www.youtube.com/watch?v=ZHJeG3ivDO0

So eager to try this out on my (successful so far) INAV build with Omni F4v3 board.

Just making sure this topic is still alive ))

[2017-11-06 18:20] Bobrcnut commented on #2446
For what it's worth: I also use the Matek Buzzer/LED combo on my quads, which are all  equipped with SPR F3 clones running either 1.7.2 or 1.8.0, and this problem does NOT occur on any of them.  The Matek board, in my case, is this one:
https://hyperion-world.com/en/p2662991-hp-fpled2812alm

[2017-11-06 19:12] OloTka commented on #2456
Which firmware did you load omnibusF4V3 or omnibusf4pro? I've got pro. Maybe that's the case.

[2017-11-06 21:19] lumiror commented on #2456
So it helped I already have serialsoft in ports. thank you. Do you have ch5 bridged 1k resistor with ch6 as it is recommended? One more question I have attached to UART 6 and UART 3 GPS with magnetometer UART 1 is serialRX ch5 and ch6 will telemetry but i want to connect bluetooth ,you can advise where to connect it.Thank you

[2017-11-07 00:18] 3sr3v3r commented on #2193
Right... returned home and no problems on on my Lux v2 micro. Created a pull request #2462.
Don't have a Lux V2 but after some research it turns out this board is completely different from Lux V2 micro.

Based on F3 a 64pin F3 MCU instead of F4.
Could be a nice board for INAV since it has 5 UARTs.

This explains why the LUX V2 micro image wouldn't run on your board!

Can take a look what I can do

[2017-11-07 00:40] digitalentity commented on #2458
@fiam @DzikuVx can you look into it? I'll try to confirm with latest configurator as well.

[2017-11-07 00:52] digitalentity commented on #2425
@sniperxnl please give us your config dump so we ca review possible configuration issue here.

[2017-11-07 05:05] digitalentity commented on #2459
@ArxangelRC you are getting it a bit wrong. Accelerometer measures *acceleration* not *levelness*. Acceleration is composed of gravity (which is constant and indicates level) and motion acceleration (speeding up, turning etc). Acceleration from motion can't be easily calculated.

APM is using GPS to attempt to compensate for this acceleration from motion. #1481 is an attempt to do something simila

[2017-11-07 05:28] digitalentity commented on #2446
Ok, this seems this is hardware/quality issue, not the firmware issue. I believe we can close this.

[2017-11-07 05:28] #2446 closed, assigned to nobody

[2017-11-07 08:12] RMFPV opened #2463 "Support for OMNIBUS F4 Pro Corner"
### Board and Version
_Omnibus F4 Pro Corner from Airbot
_Version of INAV used goes here_1.8

_Use CLI command `version` and put its output here_
INAV/OMNIBUSF4PRO 1.8.0 Nov  1 2017 / 06:34:32 (912d1315)

### Behavior
* _Describe the problem_

SBUS FRSKY X4R all channels are 1500 and not moving
Same config and settings with Cleanflight FW works very well
SBUS connected to UART3

#### Blackbox logs

[2017-11-07 08:27] digitalentity commented on #2463
On OMNIBUSF4PRO board inverted S.Bus is only supported on UART1

[2017-11-07 08:32] sniperxnl commented on #2425
Found it, my compass did it, it lichts up red and blue everytime, then i can't arm

[2017-11-07 08:33] RMFPV commented on #2463
This is strange. There is no inverter on UART1. But there are invertors at both UART3 and 6. Please check documentation for Pro Corner.

Anyway as I mentioned it works with Cleanflight FW at Uart3. Why can't you make it also work with Inav?

[2017-11-07 08:36] digitalentity commented on #2463
Then we need a separate target definition for Pro Corner which is apparently a different design than other Omnibus Boards.

[2017-11-07 08:43] RMFPV commented on #2463
Will be this issue fixed in a new FW, or you can share a patched FW now?

If you will support this board can you please also add I2C support? It's not mentioned in original manual at all.
Thank you.

[2017-11-07 08:47] digitalentity commented on #2463
It's hard to tell. We've just discovered the issue with S.Bus on UART3 thanks to you.
Regarding I2C support - I need to check the available pins. If UART3 has an inverter - shared I2C/UART3 is not possible. Most likely there won't be any I2C support due to incompatible hardware design.

[2017-11-07 08:52] RMFPV commented on #2463
It says that inverter at UART3 can be switched off by pulling PC9 as low. Can this help with I2C support?

[2017-11-07 09:08] digitalentity commented on #2463
No, since for I2C pin has to be bi-directional. Inverter is an uni-directional device regardless of being turned on or off

[2017-11-07 09:21] OloTka commented on #2456
Glad it worked :) I'm using softserial for bluetooth, so no need for single wire. I don't have separate telemetry as don't need it. Try RCgorup to find solution.

[2017-11-07 09:25] DzikuVx commented on #2458
Check what? INAV/NAZE 1.6.1 or 1.7.3? but ok, i will try to verify on 1.7.3

[2017-11-07 09:29] RMFPV commented on #2463
I see. Thank you for the explanation. They also suggest to desolder inverter from the board if it's not needed. Will that help?

[2017-11-07 11:53] ShikOfTheRa commented on #2463
Just checked diag. can confirm UART3 and 6 have inverter. UART1 does not. PC9 is inversion control for UART3. PC8 for 6
No inverter for UART1
I2C breakout is I2C2 hence is is shared with UART3
Also note PPM1 input is connected to UART6 RX prior to inversion.

[2017-11-07 12:04] digitalentity commented on #2463
OMG this Pro Corner board is so messed up!

[2017-11-07 12:15] DzikuVx commented on #2463
BTW, I've changed title of this issue since apparently it was refering to F3, not F4

[2017-11-07 12:24] digitalentity commented on #2463
@DzikuVx thanks, I probably did a typo without noticing

[2017-11-07 16:59] giacomo892 opened #2464 "BN-880 auto configuration issues"
**Goals**
Enabling UBLOX7 protocol to obtain 10Hz update rate.

**Results**
UBLOX7 is configured only "randomically", most of the time the unit is configured using the standard UBLOX configuration with POSLLH instead of PVT sentence.

**Used Hardware:**
I'm testing a BN-880 GPS+GLONASS+GALILEO (3.01) on an OMNIBUS F3 board.

**First setup**
UART @115200bps UBLOX7 chosen in the configurator.

Plug

[2017-11-07 17:03] stronnag commented on #2464
I have seemingly 100% success at 38400 baud on my BN-880; at least I've never noticed it not being at 10Hz.

I don't see know this is a "serious threat to GPS modes". Even my old Neo6M can do save navigation.

[2017-11-07 17:10] giacomo892 commented on #2464
I still get 2 timeouts errors at 38400 but the success rate seemed increased.
Tried 3 times in a row and at boot I got 10Hz.

Tried to enter CLI two times. First time FC rebooted and still was 10Hz. Second time it went back to 5Hz.

Would you mind done some trivial test in changing baud rate and entering/leaving CLI and check GPS tab?

Thanks

[2017-11-07 17:12] stronnag commented on #2464
Sure, I'll do some tests later this evening.

[2017-11-07 18:14] ins2d commented on #2455
Jump here mate: https://github.com/iNavFlight/inav/issues/2216
A number of people patiently waiting for a miracle to happen one day ;)

[2017-11-07 18:41] stronnag commented on #2464
100% success for 10Hz at 38400, 56700, 115200 (5 power cycle tests at each speed). Excursions to the CLI have no effect (nor would I expect them to, setting UBLOX7 is a one-off boot process).

Maybe you have marginal hardware somewhere in the loop, or some other setting on the GPS that makes it less reliable. I cannot fail it here.

[2017-11-07 19:18] 3sr3v3r commented on #2193
@koetjeboe91 could you test this one?
Created a hex for the LUX V2.
You should be able to use UART2 for I2C (compass / baro)

[https://drive.google.com/drive/folders/1OeatggtOOroBXezK4SOQtUzLdyKvAw_r](url)

[2017-11-07 19:32] koetjeboe91 commented on #2193
wil try to flash it into the flight controller later this week need to wait
for some parts to fix my drone(tricopter).
wil also make a drone(quad) for the lux v2 where we can test software and
other stuff.

2017-11-07 20:18 GMT+01:00 3sr3v3r <notifications@github.com>:

[2017-11-07 19:38] giacomo892 commented on #2464
I have reset to default the module settings beside enabling GALILEO and disabling NMEA sentences which are anyway disabled by INAV.
Maybe something changed in newer BN-880? This one arrived 2 days ago from BG

For sure we can implement something to check if the configuration is really applied or not after the configuration process.

CLI has effect. Since init is done after FC boots as you said.

[2017-11-07 20:35] stronnag commented on #2464
But so what? Navigation still works with UBLOX and 5Hz.

[2017-11-07 21:15] giacomo892 commented on #2464
Yes, at least it is working. But it is not the expected behaviour . INAV should check if the selected config (UBLOX7) is really applied. I will take a better look at the code and let's see what I can do.

[2017-11-07 23:36] Cattlebaron commented on #2425
I am pleased for you, sniperxn, I hope that your can't was a typo and should read can. This unfortunately does not solve my problem as I have not installed a GPS/Compass.

[2017-11-08 14:38] OloTka commented on #2456
Hello, I think that one could be closed as SS worked on your board finally.

[2017-11-08 14:49] lumiror commented on #2456
Yes and once again thank you

[2017-11-08 17:16] Ginganinja82 commented on #2458
Thanks guys.

DzikuVx - I have installed the latest on both. Configurator(1.8.1) and firmware on 1.7.3. I was not aware that the Naze boards or F1 chips are not supported anymore. quite sad as it it still very cheap on ebay for budget builds.

Attachments for reference though... (this on Vanilla. No additional changes made)

![screen shot 2017-11-08 at 7 14 57 pm](https://user-images.githubusercon

[2017-11-08 20:05] #2456 closed, assigned to nobody

[2017-11-09 11:14] Schalonsus commented on #2458
I think i saw some configuration issues with 1.8 configurator and 1.7.3 too. Use the 1.7 configurator

[2017-11-09 15:29] teckel12 commented on #2419
@fiam I can confirm that with development build 1.8.0 values would go invisible instead of flashing. With release 1.8.0, the values disappear instead of flashing.

Was `display_force_sw_blink` added to 1.8.0 or is it only in the 1.8.1 build you posted here? It seems like a software option should at least be an option as the problem still exists.

[2017-11-09 15:43] teckel12 commented on #2457
When flying FPV, if I do a RTH I always take off my goggles. If not, it may land on my head if the home position is slightly off.

I like the tail first RTH for the reasons you identified, but in my opinion you shouldn't be flying FPV if you're doing a RTH anyway. I did a RTH and left my goggles on one time and I landed on the roof of my house about 20 feet from the actual launch position.

[2017-11-09 16:20] VoicOfReason commented on #2457
I'm not saying we should leave our goggles on all the way to the ground. Even with a Phantom or Mavik, that's risky. But, if I'm out beyond LOS and I'm doing a RTH, of course I want to leave my goggles on in case there is something in the RTH path like a high tree or something (or a hill). Anyway, I just think that a mode switch would be helpful the reasons listed above regardless of how long a pe

[2017-11-09 17:01] teckel12 commented on #2457
That makes sense, where I live it's totally flat, so I can set the RTH height to 75' and it will never hit anything from any direction. It seems like a flight mode modifier could be incorporated.

[2017-11-09 17:56] Ginganinja82 commented on #2458
Thanks! I'll try 1.7.2. Cannot find 1.7 on iNavFlight/inav-configurator release page..

[2017-11-09 18:02] fiam commented on #2419
@teckel12 it was merged after 1.8, so it will be in the next release. Not sure about its default value yet.

[2017-11-09 18:03] VoicOfReason commented on #2457
Yeah! It would be great to be able to assign a RTH altitude to an RC (e.g.
Taranis) control knob. Just spin the knob to adjust based on location.
Maybe I should start a new thread.

On Thu, Nov 9, 2017 at 11:23 AM Tim Eckel <notifications@github.com> wrote:

[2017-11-09 19:25] ArxangelRC commented on #2459
I really hope you fix it guys! ArduPlane has it solved and the planes are a dream to fly in FBWA mode! :)

[2017-11-09 20:11] danarrib commented on #1279
I don't know much about FBL Helicopters, but I guess the FBL is a kind of Flight Controller, since it's intended to stabilize helicopter attitude. So INAV should NOT use any PID corrections, right?

To navigate, it should NOT mess with throttle (throttle is always the same value during flight, right?)
To gain altitude, just increase blades pitch and to lose altitude, just decrease blades pitch.

T

[2017-11-09 20:47] Martijn666 opened #2466 "DFU command"
I use CLI command DFU a lot to flash firmware. It seems to have been removed. Can you bring it back, or is DFU mode no longer supported? Using configurator 1.8.1

[2017-11-09 21:14] DzikuVx commented on #2466
I can not confirm. Just testes on Airbot F4 , INAV 1.8, Configurator 1.8.1 and DFU command works just fine

[2017-11-09 21:20] teckel12 commented on #2466
I used it on Omnibus F4 Pro just yesterday and it worked as well.

[2017-11-09 21:28] Martijn666 commented on #2466
I just turned in. Will check again tomorrow. Thanks for your quick response

[2017-11-10 02:06] teckel12 commented on #2419
I'll merge it into my local build. I have a fairly common setup, so I have to imagine many others have this problem. Glad you've already created a fix for it! Thanks.

[2017-11-10 02:09] teckel12 commented on #2419
Oh, I'll report back after I try your branch so we can close this.

[2017-11-10 02:16] teckel12 commented on #2410
Was fly/no fly implemented? I got a notification on this issue.

[2017-11-10 03:19] Cattlebaron commented on #2425
Seems I am getting no more information. Can I assume that following sniperxnl comment above the only way forward is to fit the flight controller with a GPS/Mag combo? I have read a number of times that on a fixed wing aircraft a magnetometer is not needed is this still so or will it too have to defined for the flight controller to arm?

[2017-11-10 11:46] JonjoeMWalton opened #2467 "Edit: Please scroll down How to remap PWM 6 on omnibus f4 board from LED out to Servo output"
I have iNav all set up in a new project plane.
 All wired up ect no problems. Plugged the lipo in, no magic pixy dust brilliant!
Board,VTX,Camera & ESCs all fire up.

Armed the model increase the throttle, both motors spin up! Yes.... but then I noticed something NONE of the servos plugged into the board are moving at all, only the flap servos that are plugged directly into the rx on ch7+8 bypassi

[2017-11-10 12:31] JonjoeMWalton commented on #2467
UPDATE:

If I power all the servos from the ESC BEC they all work, the board isn't putting 5v out to the PWM pins, any idea why? It is giving the rx 5v why not the pins. Have I missed something in Inav?

[2017-11-10 14:30] skaman82 commented on #2467
It is not safe to use the FC to power you servos anyway - power them through a separate 5v (3A) BEC.
Otherwise you risking a FC reboot in the air due to a brownout.

[2017-11-10 14:34] JonjoeMWalton commented on #2467
Thabks for that :) Yes I have now. I didn't know the FC bec wasnt the best. It does show a noticable dip in voltage if used. But now all servos are on a 6A BEC.

Just having the problem with PWM 6 output theres voltage and ground but the servo just moves slowly in one direction no matter what input is given. (Its not the servo as if I swap the servo to the pwm3 it works fine)

[2017-11-10 14:39] skaman82 commented on #2384
@Dronek I think its not about holding altitude. Its about flying level (not climbing/sinking when the stick is centered) in Horozon/Angle modes. And yes, it is a pain to adjust this with board angle because it takes several flights to get this perfectly right)

[2017-11-10 14:51] skaman82 commented on #2467
What is your mixer type in the config tab? Can you post a screenshot?

[2017-11-10 14:55] skaman82 commented on #2467
If it is not clearly a bug with INAV, you should use support forums instead and ask there for help.

[2017-11-10 15:18] Feldsalat commented on #2384
What about current roll and pitch degrees as OSD elements? I would find it useful to optimize settings more easily.

[2017-11-10 19:05] JonjoeMWalton commented on #2467
Good evening,

As the power is sorted with BECs.
I think it is something to do with INAV as PWM 6 just will not work, its just very slowly pulses in one direction no matter the input, Inav is telling me to connect it to the rudder to PWM6 however I have been told that PWM6 is programed for LED strip use?

Any idea how I can get around this. Its driving me crazy!
Is there a way I can prehaps create

[2017-11-10 21:05] JonjoeMWalton commented on #2467
So, I need to figure out how to remap PWM6 form LED strip to servo output.
I am unsure how to do this any ideas?

[2017-11-11 00:46] danarrib commented on #2458
I can confirm: On Naze32, INAV 1.7.3 (last version available for this board), the Configurator 1.8.1 do not work. Using the Standalone 1.7.3 version of Configurator everything works fine.

[2017-11-11 13:41] david-ng-hk opened #2470 "[Solved] Omnibus F4 v2 Pro + X8R, can not get telemtry on SoftSerial in iNav v1.8"
My Omnibus F4 v2 Pro is clone.
But I use the "OMNIBUSF4PRO" target not the led one as I want PWM5 as a servo output, not LED.

I am using  GPS + Mag + SBUS in Omnibus F4 v2 Pro
so if I need to get telemetry, I need to use the CH5 and CH6 SoftwareSerial.
I am flying fixed-wing, only one motor, no idea why can not use PWM2 as softserial (as it is easy to access)

I follow this guide https://github.c

[2017-11-11 14:22] david-ng-hk commented on #2470
sorry, it seems work now, as I forgot to type "save" after the "set telemetry_inversion = ON" in CLI.
I now get 14 sensors in x9d

[2017-11-11 14:23] #2470 closed, assigned to nobody

[2017-11-12 04:41] MW2Stambo commented on #2425
Don't know whether this helps but I have an omnibus F4 with Inav.
It will not arm if you have RTH selected for failsafe unless it has enough sats.
Normal behavior I expect but just a thought.

[2017-11-12 05:03] MW2Stambo commented on #2384
Would it be possible to enable board alignment with inflight adjustments.
Especially on the pitch axis.
Then you could use a 3 pos switch to adjust up or down in one single flight.
Once it's flying level, land and save with stick commands, job done.
I know you can already do this with stick commands but you have to land each time.

Just a random thought I had while reading this thread.

[2017-11-12 06:49] Cattlebaron commented on #2425
Thanks for the note

[2017-11-12 07:50] digitalentity commented on #2425
@Cattlebaron "extra arming safety" will prevent you from ARMing if you don't have a GPS lock and any of the following is true:
1) You have failsafe mode set to RTH
2) You have WP, PosHold or RTH mode on a switch
3) You attempt to arm with RTH, WP or PosHold modes activated

So far I am unable to reproduce your issue on any of my setups (with or without GPS). Since you don't need (and don't have) G

[2017-11-12 08:03] swemonstro commented on #2312
Just an update, I recieved another board from bangood (same omnibus F7) and the Barometer worked instantly, so it was a faulty board.

thanks for the support!!

[2017-11-12 08:14] digitalentity commented on #2312
@swemonstro thanks for the update!

[2017-11-12 12:51] jstremmler commented on #2446
Yes it (was) a hardware quality issue.

I finally solved it!

The Matek guys had connected (GND) and (Buz -) on the WS2812 board with a buzzer. And that explaines to 100% the above failure matrix.
- so I desoldered the buzzer.
- then soldered the (Buz -) cable directly to the buzzer
- and then soldered the buzzer back to the board with only (Buz +) connected.

And then of course everything worked.

[2017-11-12 15:41] jstremmler opened #2472 "3DR-Radio and Omnibus F4 Pro"
I have configured a 433MHz 3DR-radio with 57600 baud, configured MSP of UART1 on a SPRACINGF3 to 57600 baud, connected a 3DR-Radio ground station to my tablet with 57600 baud, established the connection with EZGui and the FC and everything works perfectly.

**If I do exactly the same with the same !!! 3DR-radios and an Omnibus F4 Pro then both radios don't connect with EZGui. What the hell is the

[2017-11-12 15:43] DzikuVx commented on #2472
This board  by default shares PPM input with UART1 RX pin. You have to remove one jumper to separate them. https://quadmeup.com/uart1-and-ppm-on-airbot-f4-flip32-f4-flight-controllers/

[2017-11-12 15:43] #2472 closed, assigned to nobody

[2017-11-12 15:44] DzikuVx commented on #2466
I suppose we can close this one. If new data appears please reopen

[2017-11-12 15:44] #2466 closed, assigned to nobody

[2017-11-12 17:09] jstremmler commented on #2472
I tried that, remove the jumper and it did not work. Then I disconnected the GPS and tried it on UART 6... Did not work either....

[2017-11-12 17:10] DzikuVx commented on #2472
The only thing I belive can be happeing in stat you have 3dr radio with inverted UART logic

Od: Dr. Juergen Stremmler
Wysłano: niedziela, 12 listopada 2017 18:09
Do: iNavFlight/inav
DW: Paweł Spychalski; State change
Temat: Re: [iNavFlight/inav] 3DR-Radio and Omnibus F4 Pro (#2472)

I tried that, remove the jumper and it did not work. Then I disconnected the GPS and tried it on UART 6... Did not

[2017-11-12 17:22] jstremmler commented on #2458
If I look on the screenshot of your configurator above you did not configure a PPM RX but a serial RX with IBUS.

Did you then connect the IBUS signal of your RX correctly to pin 3 of the NAZE instead of pin 1?

- signal of ppm RX is connected to pin 1 of the NAZE32
- signal of a serial RX is connected to pin 3 of the NAZE32

[2017-11-12 17:36] jstremmler commented on #2467
Flash the correct firmware where the resource for LED_strip is on B6 and resource for PWM6 is on A8.

[2017-11-12 20:46] georgekucher commented on #606
Hi!
Should I configure the GPS PIDs if I have old BT_GPS [module](http://www.mondoplast.ro/eng/Bluetooth-GPS-receiver-West-Studio-BT-77-pg_ft-2655) which runs at 1Hz and 16 channels on NMEA protocol? The problem I'm facing with is, not even bowling but fast running from side to side. When I'm enabling PH mode, after couple of seconds the quadcopter rapidly runs aside for near 5 meters, then to the

[2017-11-12 22:53] Hydrologisst opened #2475 "Sonar module I2C"
Hello evrybody,
Many new FC boards does not have 8 motor output pins.
So I'm searching sonar with I2C output.
And I'm found this one: [http://bit.ly/2ACnhzw]
But this module designed for PIXHAWK or APM controllers.
One question it will work with INAV F4 FC (Matek F405-AIO) ?
Thanks for help.

[2017-11-12 23:28] georgekucher commented on #606
[Here](https://youtu.be/R_-d7vSzAW4) it is.
Sorry for quality ;)

[2017-11-13 00:30] Cattlebaron commented on #2425
Thank you digitalentity, I have not resolved the problem I am now of the opinion that there must be a problem with the Omnibus F3 AIO. I will try another brand of flight controller as I like iNav.

[2017-11-13 06:37] digitalentity commented on #2425
@Cattlebaron please report your findings with another board - I'm curious if this issue is hardware-related or there is some obscure bug in software.

[2017-11-13 06:38] digitalentity commented on #606
1Hz GPS is not enough for INAV to function properly. Technically the code may be able to cope with such slow update rate, but it's really on the edge.

[2017-11-13 06:41] digitalentity commented on #2475
I'm not sure if we support this module. @DzikuVx I wonder if it's compatible with what you designed.

[2017-11-13 06:52] georgekucher commented on #606
Should I try to switch GPS velocity? May it help?

[2017-11-13 06:58] digitalentity commented on #606
You can try configuring your GPS for 5Hz update rate - it may help. Changing settings likely won't help.

[2017-11-13 07:04] georgekucher commented on #606
Specs says that 1Hz is max ((

[2017-11-13 07:10] georgekucher commented on #606
Please look if everything else settings is ok

# INAV/NAZE 1.8.0 Nov 10 2017 / 20:15:28 (912d1315)
feature -RX_PPM
feature -VBAT
feature -RX_UIB
feature -RX_SERIAL
feature -MOTOR_STOP
feature -SERVO_TILT
feature -SOFTSERIAL
feature -GPS
feature -TELEMETRY
feature -CURRENT_METER
feature -3D
feature -RX_PARALLEL_PWM
feature -RX_MSP
feature -RSSI_ADC
feature -LED_STRIP
feature -DASHBOARD
feature -BLA

[2017-11-13 07:23] digitalentity commented on #606
Config looks ok to me. With proper GPS you should be good to go.

[2017-11-13 07:31] georgekucher commented on #606
What do you think about [this one](https://m.banggood.com/7M8M-Ublox-M8N-GPS-Module-for-APM-Pixhawk-CC3D-Naze32-F3-Flight-Control-p-1078657.html)

[2017-11-13 08:00] Cattlebaron commented on #2425
I will report but it will take some time as I have to order the board, which I will do tonight, but it takes a week or two to arrive at my place. Please be patient I will report back as soon as I have the new board. I intend purchasing a AIR3 PARIS Sirius™AirHERO32 F3 SPI - BetaFlight - Sbus - damped Drone autopilot - flight Controller board. I have saved a full dump of the Omnibus F3 board saved

[2017-11-13 08:18] digitalentity commented on #606
Nah, that's a quite crappy module.
I'd go for a trusted BN-880 https://www.banggood.com/UBLOX-NEO-M8N-BN-880-Flight-Control-GPS-Module-Dual-Module-Compass-p-971082.html
Alternatively there's also this module which I prefer to any other so far https://www.banggood.com/Ublox-NEO-M8N-Flight-Controller-GPS-with-Protective-Shell-for-PIX-PX4-Pixhawk-p-1005394.html

[2017-11-13 09:05] georgekucher commented on #606
Thank you!
But the sad thing is that I've already ordered it on Saturday(((
Should I cancel the order or might it work properly?
The specs are the same. Or do you have some negative feedback on it?

[2017-11-13 13:09] McGiverGim commented on #2299
Hi! I think that I've the same problem with the same product (Radiolink SE100) and Omnibus F4 pro (V3). I have two units of this product, the first worked without problem, but after two hours of use, something went wrong and the unit was dead.
I bought another, and the board is slightly different, now is like yours, and the MAG does not work too.
Did you find a solution for your problem?

[2017-11-13 13:49] blakowl commented on #606
I was having major trouble, never could get the GPS hold to work.  It
turned out it was my GPS receiver. I ordered this one and it worked
perfectly.

Usmile Beitian NEO-M8N GPS Module with Built-in HMC5883L Compass Protective
Case for Ublox PX4 PIX APM2.5/2.6 Pixhawk
https://www.amazon.com/dp/B01EH3819W?ref=yo_pop_ma_swf

On Nov 12, 2017 2:46 PM, "georgekucher" <notifications@github.com> wrote:

[2017-11-13 14:03] georgekucher commented on #606
Which GPS did you use when you had a trouble?
Was that the one I ordered?
https://m.banggood.com/7M8M-Ublox-M8N-GPS-Module-for-APM-Pixhawk-CC3D-Naze32-F3-Flight-Control-p-1078657.html

[2017-11-13 14:54] blakowl commented on #606
No it was a neo6m

On Nov 13, 2017 8:03 AM, "georgekucher" <notifications@github.com> wrote:

[2017-11-13 15:04] georgekucher commented on #606
Oh! Ok, so fingers crossed))

[2017-11-13 15:13] DzikuVx commented on #2475
No it is not compatible . You might use this https://github.com/iNavFlight/INAV-Rangefinder-I2C-interface but you will need to program Attiny85 or Arduino to n between Inav and us100

[2017-11-13 15:22] Hydrologisst commented on #2475
I'm not very good at programing, maybe it's possible to get prepared program code in notepad file?

[2017-11-13 15:45] DzikuVx commented on #2475
Code is the link I gave you

pon., 13 lis 2017, 16:22 użytkownik Hydrologisst <notifications@github.com>
napisał:

--
Pozdrawiam,
Paweł Spychalski

[2017-11-13 19:00] sammichael25 commented on #2475
Would that code work on an arduino nano or pro micro? @DzikuVx

The module @Hydrologisst mentioned basically attaches an ultrasonic module (HC-SR04) to an arduino to allow communication via I2C. According to @DzikuVx specs, its basically the same thing, should his code work on an arduino micro or nano then one should be able to use the module mentioned by @Hydrologisst since it has the isp header

[2017-11-13 19:28] Ginganinja82 commented on #2458
@danarrib - THANK YOU ! Confirmed, 1.7.3 standalone works on PPM... happy days !

@jstremmler - Thank I tried both.. the screenshots are for the "missing" sliders when selecting i-bus as the serial input..

[2017-11-13 20:03] DzikuVx commented on #2475
Pins would have to be modified, but besides that should be working

pon., 13 lis 2017, 20:00 użytkownik sammichael25 <notifications@github.com>
napisał:

--
Pozdrawiam,
Paweł Spychalski

[2017-11-14 00:55] VoicOfReason opened #2476 "Pendulum swing with GPS alt/pos hold on"
I apologize if this issue would be better addressed in a different forum, but I trust the expertise of those here. I've tried many different options but I'm getting a pendulum type swing the slowly comes to a stop when moving around and then stopping with GPS pos/alt hold both turned on. I first noticed this last summer on an iNav quad I built and never fixed, giving up on solving the issue for aw

[2017-11-14 04:21] KenImhof commented on #2476
I had a similar problems with the F4 FC affecting the Magnetometer in the GPS module.  I would test the Mag operation on a bench by checking proper Mag readings at 0,90, 180, and 270 degrees.  Also make sure when rotating the quad, that the mag reads and properly tracks the quad yaw rotation and immediately stops when the rotation stops.   I was able to fix this in both of my quads by isolating th

[2017-11-14 07:31] McGiverGim commented on #2299
@chan2328 if it helps, I finally make it working (using Betaflight, but I'm pretty sure that in iNav the solution will be the same). The chip is detected like HMC5883 and the only thing I needed to change in the code is the use of the gain. In the:
https://github.com/iNavFlight/inav/blob/912d131556302cf6ea67d59308e43dfe65ca8026/src/main/drivers/compass/compass_hmc5883l.c#L185-L187
Remove the magGa

[2017-11-14 07:38] MW2Stambo opened #2477 "OSD switch not working Omnibus F4 pro (V2)"
# INAV/OMNIBUSF4PRO 1.7.3 Sep 9 2017 / 10:35:55 (974440df)

I have OSD enabled on the configuration tab and I have set up the OSD SW in the modes tab and see it change blue when i flick the switch on my tx but it makes no difference, the OSD stays on in either switch position.
Am I doing something wrong?

I will update to latest build if that is what is needed but I am a bit new to INav and worry

[2017-11-14 11:00] VoicOfReason commented on #2476
Could you show me where to find a brass shield? Picture? My flight controller is far away from the mag, about 6 inches.

[2017-11-14 11:06] RMFPV commented on #2463
Hi, any news on fixing SBUS?
I've tested Naza GPS on UART1 - works fine.
The only concern that there are a lot (22715) errors at GPS statistic window and 3 timeouts. What does it mean?

[2017-11-14 15:04] digitalentity opened #2478 "Migration to busDevice infrastructure"
Migrate devices to `busDevice` infractructure:

-  [x] ACC/GYRO code (https://github.com/iNavFlight/inav/pull/2290)
-  [x] Compass (https://github.com/iNavFlight/inav/pull/2290)
-  [x] MAX7456 OSD (https://github.com/iNavFlight/inav/pull/2290)
-  [ ] OLED display
-  [ ] PCA9685
-  [ ] Airspeed sensors (MS4525)
-  [ ] Rangefinder code (hcsr04_i2c, srf10, vl53l0x)
-  [ ] RX_SPI
- [ ] VTX
-  [ ] SD C

[2017-11-14 17:52] sammichael25 commented on #2475
Any chance you can add an edited version that could work with atmega 328p and 128p arduinos. :)

[2017-11-14 19:46] Dom33l opened #2479 "LED Strip not working with Matek F405 AIO"
Hi
LED strip is not working with Matek F405 AIO FC and 1.8 - MATEKF405 - 2017-11-1 1 10:13 (stable).  I have tested the same board in the exact setup with Betaflight for MATEK F405  and it works fine.

[2017-11-14 20:37] DzikuVx commented on #2475
Rather slim in the next few months, busy on few other projects

Od: sammichael25
Wysłano: wtorek, 14 listopada 2017 18:52
Do: iNavFlight/inav
DW: Paweł Spychalski; Mention
Temat: Re: [iNavFlight/inav] Sonar module I2C (#2475)

Any chance you can add an edited version that could work with atmega 328p and 128p arduinos. :)
—
You are receiving this because you were mentioned.
Reply to this email dire

[2017-11-14 20:37] stronnag commented on #2479
Have the read the board documentation https://github.com/iNavFlight/inav/blob/master/docs/Board%20-%20MatekF405.md and in particular the wiring for LED strip in iNav?

[2017-11-14 20:59] Dom33l commented on #2479
Thank you ! sorted :)

[2017-11-14 21:06] #2479 closed, assigned to nobody

[2017-11-15 00:18] VoicOfReason commented on #2476
Let's postulate that it isn't a mag issue since my mag is pretty far from the FC. What specific inav PID settings would I look at to get my quad to lock in its position quicker during hover (RTH is working fine)?

[2017-11-15 00:44] digitalentity commented on #2476
Toilet-bowling effect is in 99% cases a compass issue. Please verify that when you point your quad North heading shows 0 deg, East - 90 deg, South 180 deg, West 270 deg and values don't change more than 5 deg when you pitch/roll the machine up to 45 deg.

[2017-11-15 00:58] digitalentity commented on #2477
I believe we don't handle `BOXOSD` at all. @fiam I think we should look at using `BOXOSD` for turning OSD on/off. What do you think?

[2017-11-15 03:40] VoicOfReason commented on #2476
Yes, that is all correct in terms of degrees based on direction. It's actually NOT a toilet bowl. It is just sluggish in terms of stopping itself when moving around with alt/mag hold both turned on. At worst, it is a pendulum (left and right swinging until coming to rest). I had the toilet bowl last summer and I never solved that problem until switching FC's. However, in this case, I'm getting a s

[2017-11-15 03:44] digitalentity commented on #2476
@VoicOfReason Ah, I see. How big is your machine? Swinging might be an indication that the code is expecting the machine to do very rapid corrections which it is unable to satisfy. In that case you may try reducing PosXY P and VelXY P

[2017-11-15 05:53] VoicOfReason commented on #2476
Excellent. Will try.

[2017-11-15 08:08] fiam commented on #2477
I’d prefer adding alternative OSD modes. That would let us implement OFF as an OSD mode. Other candidates would be map and radar modes.

[2017-11-15 17:02] ValCx opened #2481 "Revolution : how to configure Servo output"
Hi!
I'm trying to enable pwm servo output 5 or 6 to control pitch of my gimbal. Is it possible to enable it on the revolution board or it still not working?

Thank you

Valentin

[2017-11-16 01:57] shellixyz commented on #1939
I had the same problem when making modifications on the PIKOBLX target (see #2101). I never used the LED_STRIP feature with iNav so I didn't know if it was working or not on other targets and assumed it could be related to the PIKOBLX target specifically. The symptoms were the same: VCP stops working as soon as LED_STRIP is activated and the board rebooted. Does somebody know if the LED_STRIP feat

[2017-11-16 21:34] VoicOfReason opened #2484 "Does AnyF7 have barometer? Supported in iNav?"
I can't seem to find a straight answer as to whether the AnyF7 FC has a barometer. I know iNav lists it as a target, but even readytoflyquads seems to show a picture of their AnyF7 without a barometer (comparing pictures to others online).

Anyone using the AnyF7 board successfully with iNav?

[2017-11-17 08:56] DzikuVx commented on #2484
This should answer all your questions: https://quadmeup.com/anyfc-f7-and-a-missing-baro-problem/

[2017-11-17 08:56] #2484 closed, assigned to nobody

[2017-11-17 08:59] DzikuVx commented on #2285
Since ticket got into stuck phase, I'm closing it. If any new data appears, fee free to reopen

[2017-11-17 08:59] #2285 closed, assigned to nobody

[2017-11-17 09:04] joeclone opened #2485 "Disabling stick command profile selection"
I'm running 1.7.3 on a flying wing. Crashed the other day coz accidentally changed profiles while on ground fiddling with the tx sticks. Don't see any mention in the wiki about possibility of disabling profile selection by stick command. Would like to have the option to do that like how blheli does, disabling tx programming.

[2017-11-17 09:09] digitalentity commented on #2485
Seems like a nice feature to me. I also only use one profile and accidentally switching to another one may cause bad stuff to happen.

We can dedicate a feature bit to enabling profile selection (enabled by default).

[2017-11-17 09:15] DzikuVx commented on #2400
Since ticket got into stuck phase, I'm closing it. If any new data appears, fee free to reopen

[2017-11-17 09:15] #2400 closed, assigned to fiam

[2017-11-17 09:44] joeclone commented on #2485
Thats good to hear. Yea enabled at default and maybe a tick box on pid page option to disable by the user.  Thanks.

[2017-11-17 13:29] Alasdairx commented on #2318
EnglishTurbines, I fly under 400' agl, but in order to do this I must regularly climb to 2000' from launch altitude, following sub 400' above terrain in a mountainous area often requires more than straight vectors in altitude and course, despite having LOS video.  Many people fly in similar environments so it's not about breaking the 400' rule but I agree, more options without too much complicatio

[2017-11-17 19:36] happyuser007 opened #2487 "Mixed up Rx options"
### Board and Version
NAZE32 full
INAV 1.7.3

# version
# INAV/NAZE 1.7.3 Sep  9 2017 / 09:59:03 (974440df)

### Behavior
It seems that there is a mix up of options for Rx mode in the "Configuration" tab Zone "Receiver mode". I have wired my receiver to have a ppm output but I cannot get the channels in the "Receiver" tab if I choose "PPM Rx input". I get all channels with my single input if I cho

[2017-11-17 19:36] 10ishq commented on #216
@digitalentity , a separate board with open source hardware with 3080 optical flow sensor which could calculate horizontal movements as well as compensates for tilt using a gyroscope+magnetometer+accelerometer, with a separate processor, cortex M0 seems a good idea, just like ardupilot folks did with PX4Flow but cheaper. your thoughts?

[2017-11-18 17:46] ShawnzAZ commented on #2477
Could we have the OSD switch just switch to another profile like how MWOSD does it?  Then you could choose to either disable all the screen elements or switch to a minimal interface.   Other options could be those map / radar modes.

[2017-11-18 17:54] ShawnzAZ commented on #2384
I've been fighting this too.   No problem in angle / horizon but pos hold loses altitude unless I make the loiter circle HUGE.  Still dialing board alignment to make it work.

Part of me wonders if the PIFF tuning isn't a factor too because the plane is VERY numb in any stabilized mode.

[2017-11-18 23:48] fiam commented on #2487
This is a bug in the configurator, it's fixed in this PR (not yet merged) https://github.com/iNavFlight/inav-configurator/pull/303

[2017-11-18 23:48] fiam commented on #2458
Just submitted a PR for the configurator that fixes this problem: https://github.com/iNavFlight/inav-configurator/pull/303

[2017-11-19 03:07] Alasdairx commented on #2459
I would have thought that the straight and level values would be a fixed reference, from pre flight calibration, as with non gps based stabilisers. No update of it in flight means no type of flight situation can alter that base value and therefore straight and level would always be that. Not professing anything here, just wondering why the S&L would be floating over any time period.
Arxangel, one

[2017-11-19 03:24] Alasdairx commented on #2425
Have you looked at the actual throttle value when at zero? is it actually below 1000? My first Taranis sent me mad trying to solve a similar issue, the intermittent beginning to the problem was the same, I ended up just subtrimming throttle value down to solve it.

[2017-11-19 03:43] Alasdairx commented on #2384
I have wondered about another potential cause of alt hold issues, being internal fuselage venting. Having a neutral atmospheric pressure reference in a fast moving plane is nearly impossible, and any variations with respect to air speed/attitude will adversely affect a baro. Having too much rear venting will create a vacuum in the aircraft, and with barometric alt hold that will cause a descending

[2017-11-19 11:45] koetjeboe91 commented on #2193
oke update tryed to flash the lux v2 with the firmware and IT WORKS (yea).
Have not yet tryed to fly because i build a quad frame for it and has not
been nice weather outside so I cant tune the drone.
But motor spin and sensors looks correct. ps did not used the uarts yet
just got the baro in and orderd a new GPS  (
https://www.ebay.com/itm/Radiolink-M8N-GPS-Module-Ublox-M8030-for-Naze32-APM-CC3D-

[2017-11-19 13:38] meep2 opened #2489 "F3Neo VTX not working"
### Board and Version
F3Neo FPV Stack
inav 1.8

INAV/SPRACINGF3NEO 1.8.0 Nov  1 2017 / 06:26:33 (912d1315)

### Behavior
I don't get a VTX signal from a F3Neo VTX.
With Cleanflight, it works as intended but I can't get it to work in inav.

If this VTX is not supported yet, this might be a  new feature request.

Thank you

[2017-11-20 02:27] KiwiDavid opened #2490 "Failsafe procedure SET-THR not taking on Failsafe Throttle value if ALT HOLD enabled."
Firmware version 1.8.  Hardware SPRacing F3 clone. Test platform quad 250.  Failsafe procedure is SET-THR (formerly LAND)
Test condition 1- POS HOLD and ALT HOLD then force failsafe with tx OFF.
Test condition 2- POS HOLD then force failsafe with tx OFF.
(position hold only used to keep craft near)

Test condition 1 appears to hold the current throttle setting with no change in altitude after turn

[2017-11-20 15:42] Allerhopp opened #2493 "Wrong mode after return from failsafe/RTH procedure"
iNav 1.8

After exiting the failsafe/RTH with stick movement the prior modes are cancelled. Only "armed" is applied. No blackbox log, but smartport telemetry Temp1 shows the modes:

Before failsafe: 12215, in failsafe 52215, after failsafe 10005

1 = flaperon mode, 2 = auto tune mode, 4 = failsafe mode
1 = return to home, 2 = waypoint mode, 4 = headfree mode
1 = heading hold, 2 = altitude hold, 4

[2017-11-20 17:31] DoctorFPV commented on #2456
Not the case for me. I have omnibus nano V2 and can't get the soft serial to show up in ports

[2017-11-20 19:27] darmach commented on #1872
Should this issue still exist in 1.7.3? (I am aware that 1.8 is already out)

[2017-11-20 19:40] stronnag commented on #1872
Am I losing my sanity ....
[code]

[2017-11-20 22:11] teckel12 commented on #2493
@Allerhopp Are you saying that Tmp1 = 52215 during FAILSAFE but when you exit FAILSAFE Tmp1 = 10005?  You seem to report conflicting information in: https://github.com/iNavFlight/LuaTelemetry/issues/54

[2017-11-20 23:12] teckel12 commented on #2493
@Allerhopp Are you sure you're running INAV 1.8.0?  Tmp1 of 10005 would mean that FLAPERON mode was still enabled.  Seems strange that that would be the only mode activated after FAILSAFE was disabled.

As there were changes in INAV 1.2.0 and LuaTelemetry 1.8.0, I want to be sure that you're running the latest of each as older versions may show different results.  Also, did you have FLAPERON enabl

[2017-11-21 03:46] teckel12 commented on #2475
I have a US 100 on order from China. When I get it I'll interface it via i2c with an ATmega 328. While the chip is larger, it's easier to program (from an Arduino board) and more available than the ATtiny 85.

I've done quite a bit of Arduino programming specifically with audio and ultrasonic sensors.  So this dovetails well with my experience and INAV.

As the sensor is coming from China, I proba

[2017-11-21 05:26] Allerhopp commented on #2493
Btw. the mode text messages are copied from the iNav code, they are for wings, but i fly a copter.

Yes, running INAV 1.2.0 and LuaTelemetry 1.8.0.
Hmmm, i do not see conflicting information in iNavFlight/LuaTelemetry#54. These are two differnet issues.

Nearly lost my copter, when this happened the fist time, because i did not excpect to end in Acro after exiting the failsafe procedure. I saved t

[2017-11-21 07:29] Allerhopp commented on #2493
It seems, that iNav activates itself altitude hold and angle mode when the user activates waypoint mode. After a failsafe-exit iNav cancels not only waypoint (this is, what i expected) but also altitude hold and angle mode. In my OpenTX config altitude hold and angle mode are not activated automatically together with waypoint. This explains eventually, why iNav falls back to acro mode.

I presume,

[2017-11-21 09:21] Pokornz commented on #2323
Hi, is it true that the I2C on this board uses 3.3V logic? I need to connect a sonar via Arduino to get I2C into the fc, and Arduino uses 5V logic I think..

[2017-11-21 09:29] DzikuVx commented on #2323
@Pokornz all STM32 are 3.3V logic. So either 3.3V Arduino or Logic Level Converter in between

[2017-11-21 09:29] jflyper commented on #2323
It works with 5V logic, if the Arduino is the only slave connected.

However, I recommend using bidirectional level shifters for safety of the boards.

[2017-11-21 09:34] DzikuVx commented on #2323
@jflyper It might or might not. I had to replace STM at least twice because of 5V logic attempts

[2017-11-21 09:38] jflyper commented on #2323
@DzikuVx
That's weird. Connecting 5V logic to I2C pins should do no harm even if it doesn't work, as they are FT. I've never broken one.

[2017-11-21 09:40] Pokornz commented on #2323
Thanks guys, I already got the level shifter, I just wanted to confirm. But I guess I have to supply the 3.3V (for the shifter) from the Arduino, since the Omnibus F3 has only 5V.

[2017-11-21 09:41] DzikuVx commented on #2323
There is a theory and there is a practice, like always ;)
The problem is probably the fact that on Arduino you can not disable builtin pullups when acting as I2C slave in an easy way. I gave up after few tries and just switched to 3.3V everywhere

[2017-11-21 10:04] #2437 closed, assigned to nobody

[2017-11-21 10:06] DzikuVx commented on #2378
Like mentioned by @ShikOfTheRa  it can be done with custom mixer

[2017-11-21 10:06] #2378 closed, assigned to nobody

[2017-11-21 10:11] DzikuVx commented on #2261
Ticket seems be be stuck. I'm closing it. If any new data appears feel free to reopen

[2017-11-21 10:11] #2261 closed, assigned to nobody

[2017-11-21 10:35] digitalentity commented on #1872
@stronnag I must be insane as well. How come #1873 was not merged?

[2017-11-21 10:36] #2204 closed, assigned to nobody

[2017-11-21 10:39] digitalentity commented on #2490
Duplicate of https://github.com/iNavFlight/inav/issues/1872
We somehow didn't merge the fix for the bug https://github.com/iNavFlight/inav/pull/1873

[2017-11-21 10:41] digitalentity commented on #2493
This is intended behavior. WP mode is self-contained, it will activate ANGLE + ALTHOLD automatically. However, if WP will fail to activate machine may end up in unexpected state.

I believe we should amend the documentation and advise users to activate ANGLE mode manually for safety.

[2017-11-21 10:53] DzikuVx commented on #2194
Port tab has to used to configure correct UART and protocol on that port

[2017-11-21 10:53] #2194 closed, assigned to nobody

[2017-11-21 11:45] teckel12 commented on #2493
This makes sense. But what still doesn't is that Tmp1 of 10005 would mean FLAPERON was enabled if running 1.8.0. With 1.8.0, I would expect just a value of 5 instead. Either a mistype or you're running 1.7.3 or earlier

[2017-11-21 12:38] Allerhopp commented on #2493
# version
# INAV/SPRACINGF3 1.8.0 Oct 24 2017 / 06:57:49 (0f1975ce)

I started WAYPOINT from FLAPERON/ACRO mode. If i understand it correctly, the fallback after failsafe will be FLAPERON/ACRO again, 10005 seems to make sense.
This happens now, when failsafe is finished by stick movement: ANGLE is activated, because my waypoint selection selects now ANGLE also. Then i activated WAYPOINT manually a

[2017-11-21 14:11] teckel12 commented on #2493
I guess I was confused because I thought you said you were flying a quad but you have flaps? This led me to believe you may have been running a different version as this just changed in 1.8.0.

[2017-11-21 17:37] compuatic commented on #2459
Agree, I also encounter this issue almost every flight now. Now I know why the plane has always had this "slightly drunk" behavior. Never quite flying level after letting go of the sticks. Sometimes it's quite violent and needs full counter stick for a few seconds. When it's bad you can clearly see the artificial horizon crossing the real horizon by 20-45 degrees.

[2017-11-21 17:38] compuatic commented on #2459
Could this happen during a long rth command?

[2017-11-21 19:40] teckel12 commented on #2490
@digitalentity This issue did spark an idea.  If the failsafe mode is LAND/SET-THR, wouldn't it be a good idea to turn on POS HOLD (assuming GPS and a lock obviously)?  At 400' on a windy day, my quad could easily end up in the river where I typically fly from.  I would much rather it come directly down than drift who knows how far.

I think this would also be helpful as telemetry would show the l

[2017-11-21 20:43] 3sr3v3r commented on #2193
@koetjeboe91

From your nickname I suspect we don't live that far apart. Lots of koeien here and regen!
passhtrough bricked the esc? wow that doesn't sound good! Or were you able to 'revive' the esc by using cleanflight?

will compare the sources between INAV and Cleanflight. Have never touched that part of the code.

[2017-11-21 21:11] koetjeboe91 commented on #2193
de regen zou morgen minder worden maar ja nederland je weet maar nooit.
oke back on topic.
Yes I did revived the esc after I flashed cleanflight to the fc and then
use the pas trough of blhelisuite.
So there might be something wrong with that part of the firmware.
Sadly I did not yet reproduced the problem (dont realy want to).
So I can't say for 100% sure that it is the firmware.

2017-11-21 21:4

[2017-11-22 04:30] KiwiDavid commented on #2490
That would seem like a good idea and from the perspective of public safety a predictable, vertically descending craft is probably preferable to one drifting in the breeze.
I could also use RTH but wonder what happens if you don't have the battery capacity to make it back and hence I prefer to be on the ground quickly.
Similarly I would like to see the option of a low battery trigger for Failsafe S

[2017-11-22 05:06] Alasdairx commented on #2459
Wow, I might just stick with Vectors and Pitlab. Thanks for the update.

Sent on the go with Vodafone
-------- Original message --------From: compuatic <notifications@github.com> Date: 22/11/17  4:37 am  (GMT+10:00) To: iNavFlight/inav <inav@noreply.github.com> Cc: Alasdairx <alasdair454@gmail.com>, Comment <comment@noreply.github.com> Subject: Re: [iNavFlight/inav] iNav 1.7.3 FW maintains a turn

[2017-11-22 05:59] rennster12 commented on #2476
I'm having the same symptoms. iNAV on a 250 sized quad with NEO8N GPS  18-19 locked sats. In fast forward flight it flares, goes back to approximate where I let off on the pitch and swings around to the point. It isn't as solid and rock steady as a Phantom 3 pro when letting the sticks go. I read the doc on PosPIDs and Vel PIDs but I don't understand the relationship and what effects they have. I'

[2017-11-22 08:21] pipersw opened #2494 "Mag HMC5883 on Revo not detected"
### If your issue looks like a hardware fault or a configuration problem please don't raise an issue here.

### Please consider using other user support options such as asking the manufacturer of the hardware you are using, [RCGroups](https://www.rcgroups.com/forums/showthread.php?t=2495732), [Slack](https://inavflight.signup.team) or other user support forums & groups (e.g. facebook).

### Board

[2017-11-22 08:40] digitalentity commented on #2494
Are you referring to built-in mag or external mag?

[2017-11-22 08:42] pipersw commented on #2494
it's a built-in mag, and I don't have an external mag connected to the board.

[2017-11-22 08:43] digitalentity commented on #2494
This is a known issue and intentional change to allow using external compass.
We'll allow chosing between internal and external compass in 1.9

[2017-11-22 10:42] VoicOfReason commented on #2476
I’m still struggling to fix this but I’ve made a little progress adjusting Various P values. Let me know what progress your making...

[2017-11-22 10:59] giacomo892 commented on #2476
What looptime are you running? @VoicOfReason @rennster12

[2017-11-22 11:48] Alasdairx commented on #2459
It would be interesting to see what RTH would do with the corrupted S&L value.. which bad data does it adhere to?

[2017-11-22 13:09] darmach commented on #2490
@teckel12 @digitalentity It would be great if the failsafe landing would POSHOLD when possible (when GPS lock is established). How about making the failsafe landing more "intelligent"? The old behaviour - sticking to predefined throttle for predefined time - is a little bit dull, isn't it? Could it be made to utilize altitude information for an intelligent landing?

[2017-11-22 15:39] teckel12 commented on #2490
@darmach Exactly. This is INAV afterall, not BF.

[2017-11-22 15:54] teckel12 commented on #2490
I would think LAND would work basically like the final part of RTH, where it would descend at a set speed with POSHOLD. Obviously, the landing altitude wouldn't be known so it couldn't change descent speed as RTH does. Once we work in the code that knows if the craft is in the air or not, it could also disable the motors on landing like RTH.

Leaving SET-THR as-is seems like good backwards compati

[2017-11-22 17:30] SpamsterFly opened #2496 "Omnibus F4 V3 clone Tricopter Motor 3 output not linear"
### If your issue looks like a hardware fault or a configuration problem please don't raise an issue here.
I have verified with multiple FC, ESC is verified with other firmware.  Triflight and betaflight do not exhibit this problem with the same configuration.

Update: I was able to reproduce this with Betaflight by using protocol other than dshot.

### Please consider using other user support opt

[2017-11-22 18:33] 3sr3v3r commented on #2193
Good to hear you were able to revive the ESC's.
Put a new build on google drive.
- ESC timer to to the config that might (or might not) change the BLHeli passthrough.
- Added drivers for Baro and Compass

If you can test when you have your compass/GPS receiver and it works I can create a pull request with the remark (if still not working) that all has been tested with the exception of BLHeli passt

[2017-11-22 21:54] librol opened #2497 "Шрифты для OSD в прошивке 1.8.0 для OMNIBUS не загружаются"
### If your issue looks like a hardware fault or a configuration problem please don't raise an issue here.

### Please consider using other user support options such as asking the manufacturer of the hardware you are using, [RCGroups](https://www.rcgroups.com/forums/showthread.php?t=2495732), [Slack](https://inavflight.signup.team) or other user support forums & groups (e.g. facebook).

### Board

[2017-11-23 06:09] shabbirun opened #2498 "Trying to get softserial to work on OmnibusF4 PRO"
I've got an Omnibus F4 PRO clone which I've set up iNav 1.8(latest) on.

I am trying to get SoftSerial to work, but there are no CH5 and CH6 pads on the board so I tried to remap the pins for PWM5 and PWM6 in the source code to Softserial RX and TX.

target.c shows Motor 5 and Motor 6 as PA1 and PA8.

`#if (defined(OMNIBUSF4PRO) || defined(OMNIBUSF4V3)) && !defined(OMNIBUSF4PRO_LEDSTRIPM5)
    {
T

[2017-11-23 09:20] DzikuVx commented on #2497
I'm sorry, but there is no content here. I'm forced to close it

[2017-11-23 09:20] #2497 closed, assigned to nobody

[2017-11-23 12:22] jcaamnes opened #2499 "Motor and servo resources not available on Fixed Wing mixer (using motolab FC) inav 1.8"
Hi
is it possible to get the latest version of inav on a motolab board? I only able to flash version 1.3.
<img width="553" alt="skjermbilde 2017-11-23 kl 13 21 31" src="https://user-images.githubusercontent.com/11751612/33172645-450326e0-d051-11e7-8b40-5315447b3a14.png">

might be related to [Issue 1757](https://github.com/iNavFlight/inav/issues/1757)

[2017-11-23 12:40] Arvycka commented on #2172
/usr/bin/sh: ruby: command not found

Installed everything as described in https://github.com/iNavFlight/inav/blob/master/docs/development/Building%20in%20Windows%20light.md

Tried on 2 different Windows 7 64 bit machines - same result :(

What Ruby version and where do I need to install?

[2017-11-23 12:51] satesinz opened #2500 "Throtle control during crash in RTH"
Hi! I would like to know in INAV what happens with the throttle if the plane crashes during its way back to launch point in rth.
Does it stop the motor? Does it detects zero speed or some safetey measures like the expensive OSDs?
My eagletree doesnt engage the motor if its detects a crash (no gps speed) or low altitude.
I would like to know some of that because im thinking about mounting INAV on m

[2017-11-23 13:58] astragalizont commented on #1422
Hi, would it be possible to add camera trigger by WP/mission?

[2017-11-23 14:04] krzysztofmatula commented on #2500
Some related discussion is here: #2331

[2017-11-23 14:38] Feldsalat commented on #2172
https://github.com/iNavFlight/inav/pull/2280

[2017-11-23 16:34] Arvycka commented on #2172
Thanks for the pointer. It helped.

[2017-11-23 18:14] jcaamnes commented on #2499
i was able to build motolab target using this [guide](https://github.com/iNavFlight/inav/blob/master/docs/development/Building%20in%20Mac%20OS%20X.md)

My motor output seems to work when i configure it as a quadcopter, but when i change to fixed wing. Motor 1 does not work. In cleanflight fixed wing motor 1 works

[2017-11-23 20:48] rennster12 commented on #2476
looptime at 2000
My hardware is a 250 sized quad with a FLIP32 AIO. I believe it is an F1 chip. I understand it is dated.
Here is the complete dump:
# INAV/NAZE 1.6.1 Mar  9 2017
mixer QUADX

mmix reset

servo 0 1000 2000 1500 90 90 100 -1
servo 1 1000 2000 1500 90 90 100 -1
servo 2 1000 2000 1500 90 90 100 -1
servo 3 1000 2000 1500 90 90 100 -1
servo 4 1000 2000 1500 90 90 100 -1
servo 5 1000 200

[2017-11-23 22:06] jcaamnes commented on #2499
When i change mixer to fixed wing. the resources is lost.

How can i assign different pins to resources?
I want
motor 1 to be A04
servo 1 to be A01
servo 2 to be A02

Fixed wing:
A00: BEEPER OUT
A01: FREE
A02: FREE
A03: FREE
A04: FREE
A05: FREE
A06: FREE
A07: FREE
A08: FREE
A09: I2C2 SCL
A10: I2C2 SDA
A11: FREE
A12: FREE
A13: FREE
A14: FREE
A15: MPU EXTI
B00: FREE
B01: FREE
B02: FREE
B03: FREE
B04

[2017-11-24 03:57] beachbreak commented on #2425
I too am having same issue:  using DYS f4 board (which is an omnibus I presume) I cant get the motor to respond.  I’ve tried extra_arming_safety off, shitting off GPS completely, etc...only thing left for me is to swap out the esc.  Servos are moving fine.

[2017-11-24 04:39] shellixyz commented on #2499
Fixed wing support has not been enabled for this FC yet.

You can try this patch if you feel confident enough: https://github.com/shellixyz/inav/tree/MOTOLAB_FW_support

The only difference between this and stock 1.8 is that I enabled motors on PWM 1-2 and servos on PWM 3-6 for fixed wing mixers.

[2017-11-24 04:46] shellixyz commented on #2498
It's been some time since I worked on this board but I think CH5 and CH6 have pads on the board. The difference is that these pads are not drilled through. They are just plain pads like that https://static.rcgroups.net/forums/attachments/5/9/3/2/6/3/a9583299-16-55BFCE96-B634-4F0F-AB7C-3059B4E33B53.jpg

[2017-11-24 04:55] shellixyz commented on #2489
I believe this is being worked on. See  #2471

[2017-11-24 05:24] Cattlebaron commented on #2425
I have tested 3 ESCs without success. My new controller is due to arrive on Monday, it is flashed with iNav by the supplier (CarbonBird). I hope to be able to report back by next Wednesday

[2017-11-24 06:18] beachbreak commented on #2425
Never mind...I knew better than to whine before going through EVERYTHING...figured it out....6 Point acc calibration is very important!

[2017-11-24 07:46] Cattlebaron commented on #2425
Thank you, I calibrated the accelerometer and iNav reported it as OK, I  recalibrate later tonight and observe the result. I carried out the calibration as the very first step, maybe I should do it last thing after first set up.

[2017-11-24 08:43] jcaamnes commented on #2499
Thank you for your help. i build and flashed target for motolab using your code. Now motor 1 works with fixed wing mixer, but servos dont. I dont think servos are mapped

resources looks like this now:
A00: BEEPER OUT
A01: MOTOR5 OUT
A02: MOTOR6 OUT
A03: FREE
A04: MOTOR1 OUT
A05: FREE
A06: MOTOR2 OUT
A07: PPM IN
A08: FREE
A09: I2C2 SCL
A10: I2C2 SDA
A11: FREE
A12: FREE
A13: FREE
A14: FREE
A15: MPU

[2017-11-24 08:51] digitalentity commented on #2499
@jcaamnes please try on a live board. Both motors and servos are mapped as "MOTOR" in resources.
@shellixyz can you submit a PR for FW support in INAV?

[2017-11-24 09:22] Skillertheking opened #2501 "Matek F405OSD i2C bootloop problem"
hey

sorry my english ist not very good, i come from germany

but i have the problem with the matek board an a GY-91 (10Dof)
MPU9250 (acc,gyro) with integrated AK8963 mag
and a BMP280

i have a fresh flashed inav 1.8 and no function activated at usart3
then i solder SCL on tx and SDA on rx of USART 3 + 3,3V and GND

put the usb cable in the fc an i have a nice bootloop

can anyone help me ?

[2017-11-24 09:29] digitalentity commented on #2501
Internally MPU9250 has the same gyro sensor as Matek board (MPU6500). Having the same gyro sensor on internal and external bus probably messes something up. If you want to use baro + compass you'll beter chose a board without gyro/acc sensor.

[2017-11-24 09:43] Skillertheking commented on #2501
ok i understand you.

hmm but i have gps module with compass (Ublox neo-m8n)
but the compass was not found from the fc :(
but the gps compass makes no bootloop

do you have a recommendation of a BARO/Compass board like a GY-?? that really works too

is the soft-i2c really on usart3 ?? I already read that it is on the motor pin S5-S6, but on other post is ledpin on S5. I´m confused :(
the documenta

[2017-11-24 10:11] jcaamnes commented on #2499
In servo tab I enabled live mode. Then tried to connect servos to motorpin 2-8.
On motorpin 3 and 4 i se movement on servo 3 and 4. No of the other pins worked.

Next step will be to remap servo 3 and 4 to 1 and 2 i guess?. that should be possible with smix?

[2017-11-24 10:25] meep2 commented on #2489
Great, thanks the link.

[2017-11-24 12:10] Alasdairx commented on #2425
Look at esc refresh rate for a match to gui settings too.

[2017-11-24 12:24] straferr commented on #2501
hi Skiller,

I have the same F405OSD and it is working fine on iNav 1.8.0, using soft i2c (UART3) with external BMP280 baro board (GY-BMP280) and HMC5883 mag board (GY-273).  RX3=SDA, TX3=SCL.  You can easily buy these boards cheaply on eBay.  If you use a BMP280 board, please be careful:  the modules usually cannot accept 5V input and you must power it using only 3.3V (refer to my diagram below o

[2017-11-24 13:21] Skillertheking commented on #2501
your picture is very great  👍

okey with my gy-91 it will not work with the two basically identical MPU -> bootloop
can i deactivate the internal i2c/mpu6500 ????

my gps has 6 wires and a AKM8975 compass
(3,3/5, gnd, rx, tx,)gps /// (scl, sda) compass..... all wires are connected and NOTHING

at the top the mag symbol is red and at sensor tab show nothing an i can´t click this mag checkbox

[2017-11-24 13:40] straferr commented on #2501
Unfortunately, I don't believe you can deactivate the i2c on your GY-91 module unless you cut the PCB traces, or desolder the MPU6500.  i2c is a bus, so if you "switch it off", your baro won't work either.  I strongly recommend you use some other board, such as those I recommended above.

How exactly have you connected your GPS module?  Any pictures?  For the GPS, the GPS RX must go to TX1, and GP

[2017-11-24 13:57] shellixyz commented on #2499
@digitalentity Sure it is now PR #2502
@jcaamnes I don't understand exactly what you tested. On what type of model are you using this FC ? No signal on outputs 7-8 is normal. For flying wings the elevons should be connected to output 3 and 4. For airplanes elevator on 3, ailerons on 4-5 and rudder on 6. On the configuration tab/page next to the mixer selection you should see a connection diagram w

[2017-11-24 13:58] Pokornz commented on #2475
Hello, I just wired up an Arduino Nano and a bidirectional logic level shifter between the FC and US-100. I replaced the TinyWireS library with Wire library. I also took the watchdog and sleepmode stuff out of the code and put there delay(96) in the beginning of the loop. The Arduino seems to work (the LED lights up when distance < 10cm), but I am not able to get the iNav end to work. No matter wh

[2017-11-24 16:22] teckel12 commented on #2475
@Pokornz In general, this code and your conversion is not the best way to approach this. I've created the NewPing sonar library which would work better and be more suited to this task.

I'll be reworking this code to work better and on the ATmega 328/Arduino. Waiting for my US100 sensor.

My guess is that your problem is the voltage. The sensors you're using are 5v but the FC is 3.3v. You really s

[2017-11-24 16:58] Pokornz commented on #2475
As I wrote, I am using logic level shifters and I am using US-100. There are no pull-up resistors on the I2C lines in the original scheme.
The code is taken from here: https://github.com/iNavFlight/INAV-Rangefinder-I2C-interface
What is not good about the conversion? What can I improve? (except for deleting the comments that are not relevant)
And is iNav supposed to automatically recognize that th

[2017-11-24 17:03] ghost commented on #2299
Would be great if this problem is fixed. It's a great GPS and if we can make use of the compass it would be superb.

[2017-11-24 17:08] McGiverGim commented on #2299
The easiest way is, if magGain is zero in some of the axis, then magGain = 1 for all axis. With this I think it will work.

[2017-11-24 17:39] ghost commented on #2299
Thanks for your reply mate. How can I compile your code into a build for my Omnibus F4 v2? Thanks a bunch!

[2017-11-24 17:58] McGiverGim commented on #2299
If it's only for you, simply remove the magGain from the above lines, ending like this:
[code]
And build it.

[2017-11-24 19:15] stronnag opened #2503 "busdev confused by inverted power on for SPRF3"
SPRacing F3 Acro (genuine) and Dodo (SPRF3 firmware)

`# INAV/SPRACINGF3 1.8.1 Nov 23 2017 / 17:15:33 (39e89fc4)`

Following on from https://github.com/iNavFlight/inav/pull/2290#issuecomment-346190323 I confidently expected by Dodo vtail to arm today. Again, it didn't; CLI reason "ANGLE" (yet it's sitting level on the park bench).

On investigation, this happens if I power the machine inverted (so

[2017-11-24 19:20] Arvycka commented on #2299
Hi all. I recently received Radiolink SE100 unit from Banggood and I have the same problem as above - mag is detected as HMC5883 in Inav but outputs are 0 and calibration not possible. (However model still moves in Inav configurator if I rotate SE100 or put a magnet near it, only not accurately)
I have contacted Radiolink and they told me that black boards - like mine or in the picture from the fi

[2017-11-24 19:23] ghost commented on #2299
@Arvycka would you be willing to help me create a build that fixes this issue? I don't have the knowledge to create a build. Thank you

[2017-11-24 19:25] Arvycka commented on #2299
Which target?

[2017-11-24 19:25] DAquad opened #2504 "ALthold PID Tunning"
### Board and Version
Omnibus F3 v1.1

_Use CLI command `version` and put its output here_INAV/OMNIBUS 1.7.3 Sep  9 2017 / 10:09:29 (974440df)

### Behavior
* When applying ALThold on my Tricopter (I use the 600mm Tricopter presents) I get unexcepted drop, I tried to follow the ALT+VEL PID Tuning steps from the GitHub navigation modes but can't find the set "nav_alt_p" command in CLI. Is it change

[2017-11-24 19:26] ghost commented on #2299
OmnibusF4PRO

[2017-11-24 19:34] Arvycka commented on #2299
Building. Can I upload it here?

[2017-11-24 19:39] shellixyz commented on #2504
Config variable names have changed I think what you are looking for are these (from your dump):
set nav_mc_pos_z_p = 50
set nav_mc_pos_z_i = 0
set nav_mc_pos_z_d = 0
set nav_mc_vel_z_p = 100
set nav_mc_vel_z_i = 50
set nav_mc_vel_z_d = 10

[2017-11-24 19:39] Arvycka commented on #2299
https://drive.google.com/file/d/1mtcN4J8CPb8gDNTWP2XShEhXYqcABBjE/view?usp=drivesdk

[2017-11-24 19:44] ghost commented on #2299
@Arvycka thank you so much!!

[2017-11-24 19:48] Arvycka commented on #2299
I also ordered Radiolink TS100 mini (before I found this thread). It's much smaller and lighter. I will report the results once I receive and test it.

[2017-11-24 19:51] DAquad commented on #1217
Are the CLI commands for ALT+VEL PID Tuning steps still present in INav 1.7.3 I cant follow the guide due to missing "nav_alt_p"\i\d

[2017-11-24 19:57] McGiverGim commented on #2299
Very interested in your results with the mini. The SE100 works perfect, if the mini is similar, will be great for our minis.

[2017-11-24 19:57] ghost commented on #2299
That would be great. It is €13 euro's right? I've tested your build but I seem to have problems with my barometer now.

[2017-11-24 20:02] Arvycka commented on #2299
Yes, thes Radiolink units have very attractive prices.
Hm...I have not changed anything else. My onboard BMP 280 baro works fine on Omnibus F3.
This was my second build to be honest :-)

[2017-11-24 20:06] ghost commented on #2299
Strange... my board has a BMP280 as well

[2017-11-24 20:21] Skillertheking commented on #2501
i´m really confused

the sda/scl is on usart3 on cpu port C10 and C11 right?

when i look in cli under resource, print the fc at C10/C11 **# FREE**              is that right?
![free](https://user-images.githubusercontent.com/33953306/33222869-d91cb094-d15a-11e7-9762-5a8bbb3765ac.jpg)

![port](https://user-images.githubusercontent.com/33953306/33222912-320e8baa-d15b-11e7-8caf-c58d690e83b1.jpg)
(gp

[2017-11-24 20:24] Arvycka commented on #2299
Here are the instructions for building in windows if anyone needs:

https://github.com/Arvycka/inav/blob/40efa4200e3f3cd28764a59b1b4835d89e5df189/docs/development/Building%20in%20Windows%20light.md

[2017-11-24 21:08] #2489 closed, assigned to nobody

[2017-11-24 21:16] stronnag commented on #2503
diffs in case it matters (same used for both pre/post busdev firmware)
[code]
and

[code]

[2017-11-24 21:22] digitalentity commented on #2503
Can you try recalibrating accelerometer and making a test (and a diff)
again?

On Nov 25, 2017 07:16, "stronnag" <notifications@github.com> wrote:

diffs in case it matters (same used for both pre/post busdev firmware)

# mwptools / cf-cli dump 2017-11-23T19:06:12+0000
# dumping condensed 'diff all' settings
# cf-cli is a tool to manage Cleanflight CLI dump backup and restore
# <https://github.com

[2017-11-24 21:26] stronnag commented on #2503
Sure it will be easier to dismantle the dodo machine I think (I have a special 6 point 'jig').

[2017-11-24 21:43] stronnag commented on #2503
Very different accgains (all other settings are the same).
[code]
Drift of c. 1 deg/sec in when just sitting 'stationary' has gone, power on inverted shows inverted with instant display of level once the board is returned to normal attitude.

[2017-11-24 22:49] DAquad commented on #2504
@shellixyz , Ohhhh I see....those are exist in the PID tuning tab in the configurator GUI as well.
Cheers mate ☻

[2017-11-24 22:49] #2504 closed, assigned to nobody

[2017-11-24 23:27] teckel12 commented on #2475
@Pokornz Sorry, your message was hard to follow as half the code was shown as text.

The code in general (not what you added) could be greatly improved, some just doesn't make much sense. But I've been the author of the sonar NewPing library for Arduino for many years, so it's evolved quite a bit over this fairly simplistic and prone to errors methods.

In any case, I need to do a refresh of this

[2017-11-25 00:16] digitalentity commented on #2503
Ok, this is definitely related to MPU6050 revision detection. Apparently the driver sets the acc_1G incorrectly.

[2017-11-25 03:24] wolfcry0 opened #2505 "Omnibus F3 Servo Outputs not correct on flying wing profile."
### Board and Version
Omnibus F3
1.8
INAV/OMNIBUS 1.8.0 Nov  1 2017 / 06:14:28 (912d1315)

### Behavior
On the flying wing mixer type it seems to be using Servos 4/5 instead of Servos 1/2 like the documentation and helper image shows. I used the "600mm flying wing" preset.

* _Expected Results_
Wing servos operate on PWM 3/4, with motors on 1/2.

* _Actual Results_
Wing servos are not on PWM 3/4.

[2017-11-25 03:33] digitalentity commented on #2505
Tested on actual hardware. Wing servos are PWM3/4 as expected.

[2017-11-25 03:36] wolfcry0 commented on #2505
Very odd, this is a screenshot of the configurator with me pulling down on the elevator on my radio.

![11-24-2017_17 01 42](https://user-images.githubusercontent.com/9290121/33226990-05db855a-d157-11e7-8c4f-51850a49d1d9.png)

[2017-11-25 04:04] digitalentity commented on #2505
Please note that both motor and servo graphs shown in Configurator reflect *logical* motor/servo number. Actual mapping to board PWM pins is board-dependent. @Painless360 did a great video explainging this feature: https://youtu.be/qL2LMFF5bJ4?t=2m31s

[2017-11-25 04:32] wolfcry0 commented on #2505
Well after doing some more testing it appears my board may be damaged and not providing any power to the PWM output headers +5V pins, so I'll close this issue.

[2017-11-25 04:32] #2505 closed, assigned to nobody

[2017-11-25 05:31] chan2328 commented on #2299
@McGiverGim I also asked RadioLink. they replied the built-in mag changed from HMC5883 to QMC5883, it works with their flight controller which is called PIXHAWK. I don't know the logic of programming, it is out of my knowledge. Finally, I just bought a new HMC5883 instead of QMC5883(SE100 built in mag), and the mag works.

Thanks for your help, you found out the solution of it, is it work prefect?

[2017-11-25 05:34] digitalentity commented on #2505
You board is probably fine. OMNIBUS boards doesn't provide power to PWM 5V rail. You need to use adedicated BEC.

[2017-11-25 05:35] wolfcry0 commented on #2505
Ah, well that does make sense. Weird that the docs I found for the F3 label them as +5V when they really just mean V+ or something.

[2017-11-25 05:38] chan2328 commented on #2299
actually my quad does not work with GPSHOLD, when i turn GPSHOLD on, the quad will drift, after few seconds become worse, even it has 15 satellites signal. i disappointed and boring now  :(

[2017-11-25 07:17] McGiverGim commented on #2299
@chan2328 no, betaflight needs more changes to make it work, so we decided by the moment not include this changes in the code. I've it working on my quad, with a custom firmware, and the changes needed have been explained in the betaflight issue.
When you say that yours is drifting, are you talking about the original firmware or with a custom firmware with the changes needed (without gain)?

[2017-11-25 07:46] chan2328 commented on #2299
@McGiverGim i am using original firmware which is INAV version: 1.8.0 firmware for beerotor F4 board. when I hold the quad by manually 5 meters above the ground, it become solid. then I turn GPSHOLD on, it will start to drift and few seconds later become worse. I have to turn GPSHOLD off, otherwise it will crash.  . At the moment, I don't know why. :(   altitude hold & heading hold are work very w

[2017-11-25 08:41] McGiverGim commented on #2299
@chan2328 I've tried to build the firmware for you, but I've an error. I've build other targets without problem, but your target gives me an error. I usually work with betaflight, so I don't know too much about iNav builds, maybe other user can help you, sorry.

[2017-11-25 08:51] Arvycka commented on #2299
Try this.

https://drive.google.com/file/d/1D2tpXcL6u8jmZveBksB2gTzaEjmVpngM/view?usp=drivesdk

I have not changed anything except hmc5883 driver (removed gains), so if something doesn't work for you, I have no idea why :-)

[2017-11-25 09:09] Pokornz commented on #2475
Ok, good. But I am sort of time pressed (my bachelors thesis is based on the quadcopter) :D. Do you know, if some settings in iNav need to be changed in order for the FC to know that there is an I2C sonar instead of a regular one? I can't find that information and it is missing in the documentation.
In the inav/src/main/drivers, there are files rangefinder_hcsr04 and rangefinder_hcsr04_i2c.

BTW,

[2017-11-25 10:17] koetjeboe91 commented on #2193
oke today I flown the drone for a hour or 2 without gps and baro (not yet
recieved) It flown great no strange things. hope to get the gps and baro
next week so I can test that out.
when this also works let me know what to test more.

2017-11-22 19:33 GMT+01:00 3sr3v3r <notifications@github.com>:

[2017-11-25 14:42] Pokornz commented on #1877
@saswatahira So even though the voltage on the line is 3.3V (you say that in the first post), you had to add 1k pullup resistors?

[2017-11-25 14:52] jflyper commented on #1877
It is not only the voltage, but how fast the bus can recover the voltage from low state (driven by devices) to hi state (idle state). Larger (weaker) pull-up resistors make it slower, smaller (stronger) ones make it faster.

On the contrary, stronger pull-ups makes devices harder to drive the bus low, while weaker ones make it easier. Think of the case that the bus is tied to 3V3 supply (strongest

[2017-11-25 15:41] DzikuVx commented on #2475
@Pokornz @teckel12 US100 is 5V hardware, our FCs are 3.3V.
When I was designing https://github.com/iNavFlight/INAV-Rangefinder-I2C-interface I decided that keeping the logic on 3.3V and protecting uC inputs with inline resistors is the best option. It can be either ATtiny running 3.3V or Arduino with 3.3V  logic. That is just cheaper and smaller than logic level shifters since you can not use resi

[2017-11-25 16:16] hugoget commented on #2299
Hi, I'm having the same problem with a Spracing F4evo card and a GPS RadioLink SE100. Do you have a solution for the F4 evo card to make the magnetometer work ?

[2017-11-25 16:44] Arvycka commented on #2299
@hugoget
"The chip is detected like HMC5883 and the only thing I needed to change in the code is the use of the gain. In the:
inav/src/main/drivers/compass/compass_hmc5883l.c
Lines 185 to 187 in 912d131
 magDev->magADCRaw[X] = (int16_t)(buf[0] << 8 | buf[1]) * magGain[X];
 magDev->magADCRaw[Z] = (int16_t)(buf[2] << 8 | buf[3]) * magGain[Z];
 magDev->magADCRaw[Y] = (int16_t)(buf[4] << 8 | buf[5]) *

[2017-11-25 18:11] Pairan opened #2506 "FW v1.8.0 / MatekF405OSD - PosHold+AltHold, RTH waving (with video)"
### Board and Version
* INAV/MATEKF405OSD 1.8.0 Nov  1 2017 / 06:51:22 (912d1315)

### Behavior
* While getting into PosHold + AltHold or RTH the FW will start to go in waves up and down!
* This is a permanent effect at the moment in these flight modes

[I've a video ready that show the effect on (YouTube)](https://youtu.be/JFk8dY3a8lA)

### How to get it adjusted?
* I assume an configuration erro

[2017-11-25 18:30] Pokornz commented on #2475
Thank you @DzikuVx . The command should be mentioned in the notes of README.md I think ;)

I understand that getting a 3.3V microcontroller is the best, but I have bunch of Arduino Nanos laying around and I don't have a month to spare for waiting for China shipments.

I changed the rangefinder_hardware, but it still doesn't recognize the sonar.
Here is the scheme:
![i2c](https://user-images.github

[2017-11-25 19:49] jcaamnes commented on #2499
I thought motor pin 3 and 4 shared the same timer as 1 and 2 therefore my understanding was that i had to use motor pin 5-8. Sorry for the missunderstanding. when i arm now, everything seems to work (just bench testing now). thank you so much for your help, I really appreciate it 👍

[2017-11-25 20:25] DzikuVx commented on #2475
Ammm... Looks good, hard to tell. Maybe 5here is something with i2c slave implementation. Never tested it with atmega32u4

[2017-11-25 23:50] digitalentity commented on #2499
@jcaamnes @shellixyz indeed. pins 1-4 use the same timer. As long as you configure motor to conventional PWM and 50Hz update rate - you're fine, but we need to add a safety check for this condition in #2502

[2017-11-26 02:21] Pokornz commented on #2475
Strange thing is that the LED on the Arduino also turns on when the distance is > ~70cm..
I tried putting `Wire.setClock(400000);` in the code since iNav uses 400kHz, but nothing has changed.
 (I also tried lowering the i2c_speed to 100kHz first).
When I ask for status, there is `RANGEFINDER=UNAVAILABLE` and `I2C Errors: 0, config size: 3421, max available config: 4096`

[2017-11-26 15:13] hugoget commented on #2299
Thanks for the information. By cons when I type the command "C:\devtools\shF4.cmd"
, I get this message :
"some tools were not found in PATH or expected location : git.exe
You may want to install them and/or update pa"

[2017-11-26 16:33] chan2328 commented on #2299
@Arvycka Thank you for helping me. I will try the firmware later.

[2017-11-26 18:23] Arvycka commented on #2299
@hugoget
I'm sorry it didn't work for you. I'm not a developer. I followed the tutorial here:
https://github.com/iNavFlight/inav/blob/master/docs/development/Building%20in%20Windows%20light.md

But it's outdated (obsolete arm toolchain version and  doesn't mention where to install Ruby.) I don't know how to update it.

If you've done everything correctly your devtools directory should look like th

[2017-11-26 18:33] shellixyz commented on #2506
You should try to lower nav_fw_pos_z_p. I think a good value to try would be 30.

Maybe the default is a bit high ? I also had to lower it on my fixed wing builds.

[2017-11-26 18:35] Schalonsus commented on #2506
This seems to be normal behaviour since iNav 1.7
With versions before this was not happening.
I played with every parameter possible and could not really solve this issue....played with nav_fw_pos_z_p and _i ..... then with level_p, level_i, level_d, with manual_climb_speed... auto_climb_speed..... no improvement at all. pitch2thr also did nothing positive
maybe some baro/gps conflict, dont know,

[2017-11-26 18:43] DzikuVx commented on #2443
Since there is no progress with this ticket, I'm closing it. If any new data appears, feel free to reopen. Thanks

[2017-11-26 18:43] #2443 closed, assigned to nobody

[2017-11-26 19:27] shellixyz commented on #2506
ALTHOLD PID loop parameters are nav_fw_pos_z_*. In theory if you reduce nav_fw_pos_z_p you should get rid of the oscillations. But a bad CG or thrust angle could also be a problem and it is possible you would need to lower nav_fw_pos_z_p too much for ALTHOLD to be effective. Depending on what device you are using for altitude estimation (GPS and/or baro) inav_gps_delay, inav_w_z_gps_p and  inav_w_

[2017-11-26 19:31] Feldsalat commented on #2299
Windows light... :
https://github.com/iNavFlight/inav/pull/2280

[2017-11-26 20:34] shellixyz commented on #2496
Can you reproduce with standard PWM at 50Hz update ?

[2017-11-26 21:43] MW2Stambo commented on #2425
Another thought, you said in an earlier post the motor will not run from the motors tab.
Do you have the right ESC protocol selected?
Also, in the modes tab, remove nav launch completely, I believe this will not work without GPS and the FC will probably not arm if it is present. (even if it is not activated)
Perhaps for now remove everything but arm, you can always put it back later.

[2017-11-26 23:55] jnb81 opened #2509 "adc reading of rssi not stable 1.8.0"
Hi, I've just flashed new FW 1.8.0 into my omnibus f4 pro and got rssi value changing from 100-39%
pretty default settings except of set rssi_scale = 39 (the same setting was working pretty well in previous release 1.7.3, and I was happy with it)
I'm using low pass filter from RX to convert RSSI PWM into analogue value (0-3.3V) the same set up was working fine with previous (stable) release.
Radio

[2017-11-27 00:22] JingGeocacher commented on #2509
my BeeRotor F4 with iNav 1.8.0 have same problem
https://www.rcgroups.com/forums/showpost.php?p=38663253&postcount=16720

[2017-11-27 00:26] Cattlebaron commented on #2425
Thanks MW2Stambo, I will check out all of your suggestions but first I need to repair a plane that landed vertically at speed on the weekend.

[2017-11-27 01:29] digitalentity commented on #2509
@jnb81 can't reproduce the issue. RSSI is received correctly, no random jumps.

[2017-11-27 02:26] teckel12 commented on #2475
@DzikuVx The US-100 and the ATmega 328 will run at 3.3 or 5v, so no logic level conversion is needed.

After I get my US-100 I'm going a different route with the ultrasonic control and wiring to keep it simple, faster, and more reliable. At least that's the plan.

[2017-11-27 03:22] SpamsterFly commented on #2496
I just reflashed and set to tricopter, set motor to PWM @ 50 Hz and the behavior is the same.

[2017-11-27 04:08] chan2328 commented on #2299
@McGiverGim I tried the firmware by @Arvycka , there is no I2C error, the reading of sensor tab is quite solid and sensible, it did very well. but the reading of heading is little bit difference from sensor tab.  When I turned the quad 90 degree horizontally, sometimes the reading of heading is reaching 90 degree within 1 second. but sometimes the reading become solid within 4 second. what should

[2017-11-27 04:08] chan2328 commented on #2299
![heading](https://user-images.githubusercontent.com/32637631/33250472-ad6b686a-d36b-11e7-9e27-0d15b577a19f.jpg)
![sensor](https://user-images.githubusercontent.com/32637631/33250473-ad937030-d36b-11e7-8855-ad2b6a608d60.jpg)

[2017-11-27 05:48] Arvycka commented on #2299
@chan2328 I have noticed such behaviour myself while testing on the bench yesterday - operation of mag is strange, it takes a long time for the heading to settle after a 90 deg rotation. I have a standalone HMC5883 and it works just fine and smooth in the same environment. I suspect that removing gains only solves part of the problem.

Regarding editing source - go to "inav/src/main/drivers/compas

[2017-11-27 06:04] digitalentity commented on #2299
If heading drifts a lot after a 90 deg rotation it could be caused by several reasons:
1) Compass sensor misaligned
2) Compass sensor mis-calibrated or uncalibrated
3) Compass sensor malfunctioning

@chan2328 in your case it's likely uncalibrated compass. Please calibrate and verify.

[2017-11-27 06:15] jnb81 commented on #2509
@JingGeocacher
I had no jumps when default set rssi_scale = 100
the value is constant 100 regardless of radio tx position (guess it was jumping from 100-100)
When I change the set rssi_scale to any number it will jump from 100 to that particular number and nothing else.

@digitalentity
Interesting....  did you also change default value of set rssi_scale (to something else than 100)?
I did the test

[2017-11-27 06:16] digitalentity commented on #2509
@jnb81 no, I did test with rssi_scale=100. Ok, this narrows it down, will investigate.

[2017-11-27 06:20] Pokornz commented on #2475
@teckel12  Are you telling me that the Arduino Nano (5V) can be directly connected to the FC (Omnibus F3) without any danger for the STM32F3? You should look at the diagram, the conversion is NOT between ATmega 328 and US-100.
@DzikuVx Did you have to adjust the i2c_speed on your FC?

[2017-11-27 06:48] Pairan commented on #2506
Altitude is provided by GPS, I will try to reduce the mentioned values.
currently:
`nav_fw_pos_z_p = 30`

The funny thing about this:
I fly the exact same components on a S800 and there ist no trouble there in V.1.8.0 - lets see, if we can figure whats goind on. I will try to play with that on the rare flyable days and report back

[2017-11-27 06:51] digitalentity commented on #2496
Can't reproduce. Motor 3 responds to sliders on "Motors" tab correctly. Tested PWM, OneShot125 and Multishot. Re-calibrate your ESC.

[2017-11-27 07:20] Pairan commented on #2506
actually, there is another odd thing here - the buzzer is constantly on in some situations! You can hear it in the video. Thought I might had misconfigured something here but the modes are fine and turn the buzzer on if chan 8 is set to max. However it starts and stops by itself.

Maybe I reflash the Matek and do a full chip erase as these issues are not "normal" :)

[2017-11-27 07:50] chan2328 commented on #2299
@digitalentity after some tried, one finding is that when i turned the quad from 0 degree to 90 degree,  the reading of heading would be like this,  0 > 270 >180> 90 degree or sometimes 0 > 270 > 0 > 90 degree. even calibrated. although it takes 5 seconds to point the reading, the final reading is correct and solid if i don't turn any more.
![heading 2](https://user-images.githubusercontent.com/32

[2017-11-27 07:52] digitalentity commented on #2299
What's the value of your "mag_align" parameter and where your compass
sensor is located?

On Nov 27, 2017 17:50, "chan2328" <notifications@github.com> wrote:

[2017-11-27 08:13] chan2328 commented on #2299
@digitalentity here is CLI, the align_mag is default.
Entering CLI Mode, type 'exit' to return, or 'help'
# set mag
align_mag = DEFAULT
Allowed values: DEFAULT, CW0, CW90, CW180, CW270, CW0FLIP, CW90FLIP, CW180FLIP, CW270FLIP

mag_hardware = HMC5883
Allowed values: NONE, AUTO, HMC5883, AK8975, GPSMAG, MAG3110, AK8963, IST8310, QMC5883, FAKE

mag_declination = 0
Allowed range: -18000 - 18000

magze

[2017-11-27 10:22] pipersw commented on #2494
So, You mean that you could choice between I2C1 bus for internal HMC5883 or I2C2 bus for external HMC5883 without to have to remove the internal HMC5883 ?

[2017-11-27 10:33] digitalentity commented on #2494
@pipersw yes, exactly. Not tomorrow, but in 1.9 we'll have this option on some boards

[2017-11-27 12:36] digitalentity commented on #2299
Most likely you need a different `align_mag` value. In GPS units compass is usually upside down meaning that you'll need `*_FLIP` value.

[2017-11-27 12:40] digitalentity commented on #2509
Fixed in #2510

[2017-11-27 12:40] #2509 closed, assigned to nobody

[2017-11-27 12:45] tonysmartantzoulatos opened #2511 "BetaFlight F3 Controller and Inav Firmware"
I have a brand new BetaFlight F3 controller from Banggood and i tried flashing it with Ivan Omnibus but also other firmware version.
Ivan locates my controller but does not flash and says it cannot start bootloader. It i connect my controller on DFU mode, it flashes omnibus (i tested this version because i read from a couple of people that it worked for them) but then my PC (win7) does not recogni

[2017-11-27 13:01] Arvycka commented on #2299
Looking at the picture above the mag X axis is now pointing forward, Z axis is pointing down, So one would need to use "0 deg and flip" for the mag alignment value.
![33256646-e9f6b3da-d38d-11e7-953e-0f370e4d6bef](https://user-images.githubusercontent.com/25912739/33267734-48d21f76-d383-11e7-8356-d2149d07da55.jpg)

I have used 270 and flipped, it is pointing to North correctly, and heading value i

[2017-11-27 13:28] shellixyz commented on #2511
Omnibus should be the right target for your flight controller. Remember that should not flash an incompatible version because there is a chance you can damage the CPU or/and other devices on the board.

iNav is probably working fine. You should check the device manager to see if you can see the device and if drivers are properly installed.

Please remember the issue tracker on github is not for us

[2017-11-27 13:47] tonysmartantzoulatos commented on #2511
Hello shellixyz and thank you for your reply.
now that the board is with betaflight it can find it as com24. if i open inav configurator and try to flash with Omnibus from 1.3 up to 1.8 it simply does not flash (this is what i actually wanted to say on my original ticket). If i disconnect the board and press the button to connect as DFU , then it flashes the board and stops recognizing it. Any ide

[2017-11-27 14:08] shellixyz commented on #2511
After flashing even if you don't see the COM port in the configurator you should be able to see it listed in the Windows device manager. [How to open Windows 7 device manager](https://www.drivereasy.com/knowledge/a-common-and-easy-way-to-access-device-manager-in-windows/).

Are the LED indicators on your board flashing rapidly for some time when powering on after programming iNav ?